


<h1 class="wn5-setup-main-title">Rechercher</h1>

<div class="wn5-setup-section">
    <p>La carte thermique montre la fr&eacute;quence de mouvement en couleur sur l&apos;&eacute;cran. Vous pouvez rechercher des donn&eacute;es de la carte thermique et confirmer les r&eacute;sultats de la «&nbsp;recherche de la carte thermique&nbsp;».</p>
    <div class="wn5-online-help-info">
        <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
        <ul><li>Pour utiliser la fonction de recherche de la carte thermique, vous devez l&apos;activer en s&eacute;lectionnant <strong class="UI">[Activer la carte thermique]</strong> dans <strong class="UI">[Statistiques]</strong>&gt;<strong class="UI">[Carte thermique]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="hmSetup.html" ng-href="#/help/heatmap_setup">[Configuration]</a></strong>.</li>
     
        </ul>
    </div>
</div>
<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Carte thermique</h2>
    </div>
        <div class="wn5-setup-section-article">

        <div class="wn5-setup-section-article-content">
        <p>Les informations de la carte thermique bas&eacute;es sur la fr&eacute;quence des mouvements dans l&apos;image actuelle appara&icirc;tront sur l&apos;&eacute;cran. Pour que la fr&eacute;quence des mouvements par couleur soit affich&eacute;e sur l&apos;&eacute;cran, reportez-vous aux couleurs dans [Index].</p>
        </div>
    </div>
</div>

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Index</h2>
    </div>
        <div class="wn5-setup-section-article">

        <div class="wn5-setup-section-article-content">
            <p>La barre de couleur de l&rsquo;index indique la fr&eacute;quence des mouvements. Si la fr&eacute;quence des mouvements est faible, elle est affich&eacute;e en bleu&nbsp;; elle est affich&eacute;e en rouge si la fr&eacute;quence des mouvements est &eacute;lev&eacute;e.</p>
        </div>
</div>
</div>
<div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
        <h2>Rechercher</h2>
    </div>
        <div class="wn5-setup-section-article">

        <div class="wn5-setup-section-article-content">
                <p>Lorsque vous s&eacute;lectionnez <strong class="UI">[R&eacute;cent]</strong>, vous pouvez effectuer une recherche par jour, semaine ou mois r&eacute;cents. Lorsque vous s&eacute;lectionnez <strong class="UI">[P&eacute;riode]</strong>, vous pouvez sp&eacute;cifier une p&eacute;riode quotidienne, mensuelle ou annuelle pour la recherche.</p>
                <p>Les r&eacute;sultats de la recherche de la carte thermique s&apos;afficheront imm&eacute;diatement sur l&apos;&eacute;cran.</p>
        </div>

                <div class="wn5-online-help-action">
                    <h4><a name="search"></a>Recherche de la carte thermique et affichage des r&eacute;sultats</h4>
                    <ol>
                        <li>S&eacute;lectionnez la date que vous souhaitez rechercher dans <strong class="UI">[Date]</strong>, <strong class="UI">[Rechercher]</strong>.</li>
                        <li>Cliquez sur le bouton <strong class="UI">[Rechercher]</strong>.</li>
                        <li>Les r&eacute;sultats de la recherche seront affich&eacute;s dans <strong class="UI">[R&eacute;sultats]</strong>.</li>
                    </ol>

                </div>
        </div>
</div>
<hr class="wn5-setup-hr">            
			<div class="wn5-setup-section">
                <div class="wn5-setup-section-heading">
                    <h2>R&eacute;sultats</h2>
				</div>
            <div class="wn5-setup-section-article">    
			<div class="wn5-setup-section-article-content">
                    <p>Si vous avez recherch&eacute; des donn&eacute;es de la carte thermique, les r&eacute;sultats seront affich&eacute;s. Les informations de la carte thermique pour la p&eacute;riode que vous avez recherch&eacute;e, avec l&apos;image au moment recherch&eacute; faisant office d&rsquo;arri&egrave;re-plan, seront affich&eacute;es.</p>
            </div>
            <div class="wn5-online-help-info">
                    <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
                        <ul>
                            <li>Les donn&eacute;es recherch&eacute;es sont actualis&eacute;es toutes les 15 minutes. Les r&eacute;sultats de la recherche diff&egrave;rent souvent des r&eacute;sultats en temps r&eacute;el affich&eacute;s sur page<strong class="UI"><a class="wn5-online-help-link" href="hmSetup.html" ng-href="#/help/heatmap_setup">[Param&egrave;tres].</a></strong></li>
                        </ul>
                </div>
			<div class="wn5-setup-section-article-content">
                        <h3>T&eacute;l&eacute;charger</h3>
                        <p>Lorsque vous cliquez sur le bouton <strong class="UI">[T&eacute;l&eacute;charger]</strong> apr&egrave;s avoir fait la recherche, vous pouvez t&eacute;l&eacute;charger les r&eacute;sultats de la recherche sous la forme d&apos;un fichier image. Les r&eacute;sultats de la recherche peuvent &ecirc;tre t&eacute;l&eacute;charg&eacute;s au format .png. Le fichier t&eacute;l&eacute;charg&eacute; sera sauvegard&eacute; sur le chemin de sauvegarde par d&eacute;faut du navigateur. Vous pouvez saisir jusqu&apos;&agrave; 64&nbsp;caract&egrave;res, y compris des lettres et des chiffres, pour le nom de fichier.</p>
                    </div>
            </div>
        </div>
            <hr class="wn5-setup-hr">
