/*
    streaming_common.css

*/
* {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

html,body { 
    width: 100%;
    height:100%;
}

body { 
   background: #eee !important;
/*   background: linear-gradient(#020814,#030B16);*/
}


section {
    background: white;
}

.container{
    position: relative;
}



#profile-section-info-wrap {
    /*overflow: hidden;*/
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 0px;
}

#profileTabs {
    border: none;
    padding: 0px;
    font-family: 'Arial';
}

#profileTabs > ul {
    padding: 0px;
    border: none;
    background: none;
}

#profileTabs > ul > li {
    margin: 0px;
    border: none;
    background: none;
    text-align: center;
}

#profileTabs > ul > li a {
    background: white;
    padding: 15px 0px;
    border-bottom: 3px solid #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#profileTabs > ul > li a:hover {
    border-bottom: 3px solid #12AAED;
}

.ui-tabs-active a{
    color:#12AAED !important;
    border-bottom: 3px solid #12AAED !important;
}


#profileTabs >  div {
    padding: 0px;   
    background: #F2F6F9;
}

#profileList >  ul {
    min-height: 50px;   
}

#profileList ul[data-dep='2'] {
    padding-left: 30px;
}

#profileList ul[data-dep='3'] {
    padding-left: 45px;
}

#profileList ul li {
    margin: 5px 0px;
}


#profileList > ul > li {
    padding: 20px 10px 20px 30px;
    border-left: 5px solid #D9E1E4;
    border-bottom: 1px dashed #D5DADE;
}

#profileList >  ul > li:hover {
    border-left: 5px solid #12AAED;
}

#profileList ul li h3 {
    position: relative;
    font-size: 15px;
    word-break: break-all;
    font-weight: bold;
    color: #587A96;
    cursor: pointer;
    margin: 0px !important;
}

#profileList ul > li input{
    position: absolute;
    width: 20px;
    height: 15px;
    top: 0px;
    /*border: 1px solid #ccc;*/
    /*background:#eee;*/
    font-size: 8px;
    right: 15px;
}


.list_display { 
    display: none;
}

#profileForm > form >  div {
    display: inline-block;
    width: 100%;
    padding: 20px !important;   
    border-bottom: 1px dashed #D5DADE;
    
}


#profileTabs > form >  div:last-child {
    padding: 0 10px 10px 10px !important;
    border-bottom: none; 
}

#drag-helper {
    padding: 5px 10px;
    float: left;
    font-weight: bold;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}


@media (min-width:1200px){
    #listWrap {
        max-width: 400px;
        margin-left: 57%;
        position: fixed;
        left: 0px;
    }
       
}


.profileThumb {
    width: 80%;
}