


<h1 class="wn5-setup-main-title">データサーバー設定</h1>
<div class="wn5-setup-section">
    <p>Retail Insightサーバーを登録すると、登録されたサーバーにカメラのデータ情報(人数カウント、キュー管理、ヒートマップ情報)をサーバーに伝送します。<strong class="UI">[データサーバー設定]</strong>ページでは、Retail Insightサーバー情報を入力して登録することができます。入力を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>データサーバー設定</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>データサーバー使用</h3>
            <p>カメラのデータ情報をRetail Insightサーバーに伝送するためには、<strong class="UI">[データサーバー使用]</strong>を選択します。</p>
        </div>
    </div>
</div>        

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>ログイン</h2>
    </div>
        <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Retail Insightサーバーを登録するためにサーバー情報入力することができます。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>IP</h3>
            <p>Retail InsightサーバーのIPアドレスを入力します。</p>
        </div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li><strong class="UI">[IP]</strong>入力フィールドの横にあるサーバーとの接続状況を示すメッセージが表示されます。</li>
                <ul>
                    <li>アクセス中：Retail Insightサーバーにアクセスしている時に表示されます。ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしたり、<strong class="UI">[データサーバー使用]</strong>を選択すると、サーバーにアクセスします。</li>
                    <li>成功：Retail Insightサーバーにアクセスされた時に表示されます。</li>
                    <li>失敗：Retail Insightサーバーにアクセスできなかった時に表示されます。メッセージが表示される場合、<strong class="UI">[データサーバー設定]</strong>ページで入力したRetail Insightサーバー情報が正しいか確認してください。</li>
                </ul>
            </ul>
        </div>            
        <div class="wn5-setup-section-article-content">
            <h3>ポート</h3>
            <p>Retail Insightサーバーのポート値を入力します。</p>
            <p>ポート値は、80または1024から65535までの値を使用することができます。</p>
        </div> 
        <div class="wn5-setup-section-article-content">
            <h3>ID</h3>
            <p>Retail InsightサーバーにログインするアカウントのIDを入力します。</p>
            <p>IDは、最大8文字まで入力することができます。特殊文字#%&amp;+=\:&lt;&gt;&quot;&apos;は使用できません。</p>
        </div> 
        <div class="wn5-setup-section-article-content">
            <h3>パスワード</h3>
            <p>Retail Insightサーバーにログインするアカウントのパスワードを入力します。</p>
            <p>パスワードは、最小8文字から20文字まで入力することができます。特殊文字#%&amp;+=\:&lt;&gt;&quot;&apos;は使用できません。</p>
        </div>
     </div>
</div>
<hr class="wn5-setup-hr"> 
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>ストア名</h2>
	</div>
        <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>ストア名を入力します。</p>
            <p>ストア名は、Retail Insightサーバーでカメラを区分するために使用されます。</p>
        </div>
     </div>
</div>
 
<hr class="wn5-setup-hr">


