<div id="autotrackpage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <wn5-setup-main-title
        data-title="lang_menu_ptztrackingsetup">
    </wn5-setup-main-title>
    <div class="form-group setup-border-box-padding">
        <div align="center">
            <sketchbook sketchinfo='sketchinfo' videoinfo='videoinfo'></sketchbook>
        </div>
    </div>
    
    <div class="form-group"></div>
    <!-- PTZ Control -->
    <div class="ptz-control_box ptz-control_ptz-menu-width">
        <ptz-control ptzinfo='ptzinfo'></ptz-control>
    </div>
    <!-- //PTZ Control End -->
    
    <form name="autoTrackForm" method="get" class="form-horizontal" novalidate>
        <hr class="wn5-setup-hr">
        <div class="wn5-setup-section">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_menu_ptztrackingsetup' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_zoom' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-sm-3 field-radio-wrapper" ng-repeat="Option1 in EnableOptions">
                            {{getTranslatedOption(Option1)}}
                            <input type="radio" class="radio" name="Option1" ng-model="$parent.AutoTracking.Zoom" ng-value="Option1">
                        </div>                               
                    </div>                     
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_cameraHeight' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-xs-4 slider-fields">
                            <i class="fa fa-minus-square" style="font-size:20px;cursor: pointer;float:none" ng-click="DecreaseCamHeight()"></i>
                            <rzslider rz-slider-model="AutoTracking.SliderLevel" rz-slider-options="SensitivitySliderOptions"></rzslider>
                            <i class="fa fa-plus-square" style="font-size:20px;cursor: pointer;float:none" ng-click="IncreaseCamHeight()"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_maintainSize' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-sm-3 field-radio-wrapper" ng-repeat="Size in AutoTrackObjectSize">
                            {{getTranslatedMaintainSizeOption(Size)}}
                            <input type="radio" class="radio" name="Size" ng-model="$parent.AutoTracking.ObjectSize" ng-value="Size" ng-disabled="$parent.AutoTracking.Zoom == 'Disable'">
                        </div>                                                    
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_indicatorDisplay' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-sm-3 field-radio-wrapper" ng-repeat="Option2 in EnableOptions">
                            {{getTranslatedOption(Option2)}}
                            <input type="radio" class="radio" name="Option2" ng-model="$parent.AutoTracking.IndicatorDisplay" ng-value="Option2">
                        </div>                                                    
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_areaActivation' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-sm-3 field-radio-wrapper" ng-repeat="Option3 in EnableOptions">
                            {{getTranslatedOption(Option3)}}
                            <input type="radio" class="radio" name="Option3" ng-model="$parent.AutoTracking.AreaActivation" ng-value="Option3">
                        </div>                                                    
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_automode' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-xs-12 field-radio-wrapper" ng-repeat="Mode in AutoModes">
                            <input type="radio" class="radio" name="Mode" ng-model="$parent.AutoTracking.AutoMode" ng-value="Mode">
                            {{getTranslatedOption(Mode)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr">

        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view(0)">
        </wn5-setup-common-button>
    </form>
</div>
<script type="text/ng-template" id="autoTrackingPopup.html">
    <div class="modal-header modal-setup">
        <h3 class="applyColor">{{ 'lang_autotracking' | translate }}</h3>
    </div>
    <div class="modal-body modal-setup">
        <label class="col-lg-3 control-label">{{ 'lang_name' | translate }}</label>
        <div class="col-sm-6">
            <input class="form-control autoTracking-name-input" type="text" ng-model="AutoTrackingName" required ng-pattern-restrict="{{AlphaNumericStr}}" ng-maxlength="AutoTrackingNameMaxLen" maxlength="{{AutoTrackingNameMaxLen}}">
        </div>
    </div>
    <div class="modal-body modal-setup"></div>
    <div class="modal-footer modal-setup" style="text-align:center">
        <button type="button" class="btn btn-primary" type="button" ng-click="ok()">{{ "lang_ok" | translate }}</button>
        <button type="button" class="btn btn-white" type="button" ng-click="cancel()">{{ "lang_cancel" | translate }}</button>
    </div>
</script>