<div id="dptzsetuppage" class="wrapper wrapper-content" ng-show="pageLoaded">
    <form name="DPTZForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
                data-title="lang_digital_PTZ">
        </wn5-setup-main-title>
        <fieldset class="ptz-control_dptz-fieldset" ng-disabled="!DigitalPTZModel">
            <div class="wn5-setup-section">
                <hr class="wn5-setup-hr">
            </div>
            <!-- 3. Sequence Setup -->
            <div class="wn5-setup-tab">
                <ul class="wn5-setup-tab-list">
                    <li
                            class="wn5-setup-tab-item"
                            ng-repeat="tab in tabs">
                        <button
                                ng-class="{'active': tab === activeTab}"
                                ng-click="changeActiveTab(tab)"
                                type="button">
                            {{ tab.title | translate }}
                        </button>
                    </li>
                </ul>
                <div class="wn5-setup-tab-content wn5-setup-tab-content-use-padding">
                    <div style="width: 100%; float: left; margin-bottom: 20px;">
                        <sketchbook
                                class="wn5-setup-preview-video"
                                videoinfo='videoinfo' ng-if='(browserType !== "IE")'></sketchbook>
                        <channel_player class="channel-content wn5-setup-preview-video" display="displayInfo" ng-if='(browserType === "IE")'></channel_player>
                        <!-- PTZ Control -->
                        <div class="wn5-setup-preview-table">
                            <div class="ptz-control_box ptz-control_dptz-width" ng-show="DigitalPTZModel">
                                <ptz-control ptzinfo='ptzinfo'></ptz-control>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" ng-show="activeTab === tabs[1]">
                        <div class="form-group wn5-setup-section-article">
                            <div class="wn5-setup-section-article-heading">{{ 'lang_groupNo' | translate }}</div>
                            <div class="wn5-setup-section-article-content">
                                <select class="form-control wn5-setup-section-article-content-unit-small ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="group.selectedId" ng-options="grp.id as grp.id for grp in group">
                                </select>
                                <button type="button" class="btn btn-primary" ng-click="operator.do('Start')">{{ 'lang_start' | translate }}</button>
                                <button type="button" class="btn btn-primary btn-margin-both" ng-click="operator.do('Stop')">{{ 'lang_stop' | translate }}</button>
                                <button type="button" class="btn btn-primary" ng-click="operator.remove()">{{ 'lang_remove' | translate }}</button>
                            </div>
                        </div>

                        <!--  Defect 115817 make block preset No. and dwell time
                        <div class="form-group" style="margin-bottom:0px">
                        <label class="col-xs-3">{{ 'lang_presetNo' | translate }}</label>
                          <div class="col-sm-6">
                            <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="preset.select" ng-options="presetInfo as getPresetNameWithIndex(presetInfo) for presetInfo in savedPresetList"></select>

                          </div>
                        </div>

                        <div class="form-group" style="margin-bottom:0px">
                        <label class="col-xs-3">{{ 'lang_dwelltime' | translate }} ({{group.dwellTime.min}}~{{group.dwellTime.max}}s)</label>
                          <div class="col-sm-6">
                            <input
                                type="text"
                                class="form-control"
                                maxlength="3"
                                ng-model="sequenceDwell" ng-pattern-restrict="{{OnlyNumStr}}">
                          </div>
                        </div>
                        -->

                        <div class="form-group wn5-setup-section-article" style="margin-top:30px">
                            <div class="ng-binding wn5-setup-section-article-heading field-div control-label">
                                {{ 'lang_presetList' | translate }}
                            </div>
                            <div class="wn5-setup-section-article-content">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" ng-click="operator.add()">{{ 'lang_add' | translate }}</button>
                                    <button type="button" class="btn btn-primary" ng-click="operator.delete()">{{ 'lang_delete' | translate }}</button>
                                </div>
                                <div class="form-group">
                                    <div style="max-height:242px; overflow:auto;">
                                        <table cellspacing="0" cellpadding="1" border="1" width="100%" class="table-editor table table-bordered wn5-setup-table">
                                            <thead>
                                            <tr>
                                                <th width="10%" height="40" style="text-align:center" class="ng-binding">
                                                </th>
                                                <th width="50%" height="40" style="text-align:center" class="ng-binding">
                                                    {{ 'lang_presetNo' | translate }}
                                                </th>
                                                <th width="40%" height="40" style="text-align:center" class="ng-binding">
                                                    {{ 'lang_dwt' | translate }} ({{group.dwellTime.min}}~{{group.dwellTime.max}}s)
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr
                                                    class="ng-scope"
                                                    height="40"
                                                    ng-repeat="groupPreset in group[group.selectedId-1].presetlist"
                                                    ng-class="{'wn5-setup-table-active': group[group.selectedId-1].selectedIndex === $index }">
                                                <td align="center">
                                                    <input type="radio" ng-value="$index" name="groupPreset" ng-model="group[group.selectedId-1].selectedIndex"
                                                           class="ng-pristine ng-valid ng-not-empty ng-touched"
                                                           style="float:none; margin-right:0; vertical-align:middle; margin-top:0;">
                                                </td>
                                                <td align="center">
                                                    <select class="form-control" type="text" ng-model="group[group.selectedId-1].presetlist[$index].name" ng-change="changeGroupPreset($index)" ng-disabled="group[group.selectedId-1].selectedIndex!=$index">
                                                        <option ng-value="{{presetInfo.id}}" ng-repeat="presetInfo in savedPresetList">{{presetInfo.id}} : {{presetInfo.name}}</option>
                                                    </select>
                                                </td>
                                                <td align="center">
                                                    <input type="text" class="form-control" maxlength="3" ng-model="groupPreset.dwellTime" ng-value="groupPreset.dwellTime" ng-pattern-restrict="{{OnlyNumStr}}" ng-disabled="group[group.selectedId-1].selectedIndex!=$index"></input>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" ng-show="activeTab === tabs[0]">
                        <div class="form-group wn5-setup-section-article">
                            <div class="preset-btn-group">
                                <button type="button" class="btn btn-primary" ng-click="goPreset()">{{ 'lang_go' | translate }}</button>
                                <button type="button" class="btn btn-primary" ng-click="addPreset()">{{ 'lang_add' | translate }}</button>
                                <button type="button" class="btn btn-primary" ng-click="removePreset()">{{ 'lang_remove' | translate }}</button>
                            </div>
                        </div>
                        <div class="form-group wn5-setup-section-article">
                            <div class="wn5-setup-section-article-heading">{{ 'lang_number' | translate }}</div>
                            <div class="wn5-setup-section-article-content">
                                <select class="form-control" type="text"  ng-model="presetsetup.selectedPresetNumber" >
                                    <option value="{{presetInfo.Preset}}" ng-repeat="presetInfo in presetInfoList">
                                        {{presetInfo.Preset}} : {{presetInfo.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group wn5-setup-section-article">
                            <div class="wn5-setup-section-article-heading">{{ 'lang_name' | translate }}</div>
                            <div class="wn5-setup-section-article-content">
                                <input
                                        type="text"
                                        class="form-control"
                                        maxlength="12"
                                        ng-model="presetsetup.selectedPresetName"
                                        required ng-pattern-restrict="{{AlphaNumericStr}}"
                                        ng-maxlength="PresetNameMaxLen"
                                        maxlength="{{PresetNameMaxLen}}"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="wn5-setup-hr">

            <wn5-setup-common-button
                    ng-show="activeTab === tabs[1]"
                    data-submit-click="operator.set()"
                    data-cancel-click="operator.cancel()">
            </wn5-setup-common-button>
        </fieldset>
    </form>
</div>