<div id="ptlimitpage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <wn5-setup-main-title
        data-title="lang_menu_ptzlimit">
    </wn5-setup-main-title>
    <hr class="wn5-setup-hr">

    <fieldset class="preset-setup-fieldset">
        <div class="wn5-setup-section" style="margin-top: 10px;">
            <sketchbook 
                class="wn5-setup-preview-video" 
                sketchinfo='sketchinfo' 
                videoinfo='videoinfo'>    
            </sketchbook>
            
            <!-- PTZ Control -->
            <div class="ptz-control_box">
                <ptz-control ptzinfo='ptzinfo'></ptz-control>
            </div>
            <!-- //PTZ Control End -->
        </div>
    </fieldset>
    
    <form name="ptLimitsForm" method="get" class="form-horizontal" novalidate>

        <hr class="wn5-setup-hr">
        <div class="wn5-setup-section">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_panTiltLimit' | translate }}</h3> 
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading"></div>
                    <div class="wn5-setup-section-article-content"><input type="checkbox" ng-model="Use[PTLimitMode.SelectedIndex]" ng-change="changePTLimit()"> <label>{{ 'lang_enable' | translate }}</label></div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_mode' | translate }}</div>
                    <div class="wn5-setup-section-article-content"><select class="form-control" ng-model="PTLimitMode.SelectedIndex" ng-options="PTLimitModes.indexOf(Option) as getTranslatedOption(Option) for Option in PTLimitModes"></select></div>
                </div>
                <div class="form-group" ng-show="isTiltShow()">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_tiltAngle' | translate }}</div>
                    <div class="wn5-setup-section-article-content"><select class="form-control" ng-model="PTLimit.TiltRange" ng-change="changePTLimit()" ng-options="Option as getTranslatedOption(Option) for Option in TiltRangeOptions"></select></div>
                </div>
                <div class="form-group" style="margin-top: 5px;">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_action' | translate }}</div>
                    <div calss="wn5-setup-section-article-content">
                        <table cellspacing="0" cellpadding="0" border="0" width="300px">
                            <tr>
                                <td align="left">
                                    <div class="col-sm-4"><button type="button" class="btn btn-primary cm-btn-dark" ng-click="startPTLimit()" ng-disabled="IsPTStarted">{{ 'lang_start' | translate }}</button></div>
                                    <div class="col-sm-4"><button type="button" class="btn btn-primary cm-btn-dark" ng-click="enterPTLimit()" ng-disabled="!IsPTStarted">{{ 'lang_entering' | translate }}</button></div>
                                    <div class="col-sm-4"><button type="button" class="btn btn-primary cm-btn-dark" ng-click="exitPTLimit()" ng-disabled="!IsPTStarted">{{ 'lang_exit' | translate }}</button></div>
                                </td>                                                                
                            </tr>                                    
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr"> 
        <div class="wn5-setup-section">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_proportionalPT' | translate }}</h3> 
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-heading">{{ 'lang_mode' | translate }}</div>
                <div class="wn5-setup-section-article-content">
                    <select class="form-control" ng-model="PTZSettings.ProportionalPTSpeedMode" ng-change="changePTSpeed()" ng-options="Mode as getTranslatedOption(Mode) for Mode in ProportionalPTSpeedModes"></select>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr"> 
    </form>
</div>