
<div class="modal-header">
    <h3 class="modal-title">Select profile</h3>
</div>
<div class="modal-body ua-modal-body">
        <div ng-repeat="profile in profileList">
            <input type="radio" ng-model="selected.profile" ng-value="profile"> 
            <b> {{ profile.Name }} </b>
        </div>
    Selected Profile: <b>{{ selected.profile.Name }}</b><br>
    Resolution: <b>{{ selected.profile.Resolution }}</b><br>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>
