<div class="modal-body modal-list ua-modal-body">
 <ul>
   <li ng-repeat="item in ModalList">
     <div class="play-speed" ng-click="select(item)" ng-class= "checkSameValues(item.value)">
       <span>{{item.name}}</span>
       <i class="tui tui-check"></i>
     </div>
   </li>
 </ul>
</div>
<div class="button-groups"  ng-show="buttonCount > 0">
  <button class="button button-background-active" type="button" ng-click="ok()">
   {{ 'lang_ok' | translate }}
  </button>
</div>
<div class="modal-bottom-bar" ng-class="checkPlayback()"></div>