<div class="modal-body ua-modal-body modal-select-DPTZ">
  	<div class="title-DPTZ">Select PTZ Mode</div>

	<button class="button button-border-active dptz-tooltip" 
	ng-click="changeZoomMode('Digital Zoom')"
	ng-class="data.isDigitalZoom ? 'selected-button-style':''">
	  	<span class="sr-only">Digital Zoom</span>
	  	<span>{{"lang_digitalZoom" | translate}}</span>
	  	<i class="tui tui-ch-live-digitalzoom"></i>
	</button>

	<button class="button button-border-active dptz-tooltip"
	ng-click="changeZoomMode('PTZ')"
	ng-show="data.supportPTZ"
	ng-class="data.isPTZ ? 'selected-button-style':''">
	  	<span class="sr-only">PTZ</span>
	  	<span>{{"lang_PTZ" | translate}}</span>
	  	<i class="tui tui-ptz"></i>
	</button>

	<button class="button button-border-active dptz-tooltip" 
	ng-click="changeZoomMode('Digital PTZ')" 
	ng-show="data.supportDPTZ"
	ng-class="data.isDPTZ ? 'selected-button-style':''">
	  	<span class="sr-only">DPTZ</span>
	  	<span>{{"lang_dptz" | translate}}</span>
	  	<i class="tui tui-ch-live-dptz"></i>
	</button>
</div>

<div class="modal-bottom-bar"></div>