<div class="modal-body modal-list ua-modal-body" id="voice-rec-poup">
    <div class="top-buttons">
      <button class="button button-border-active button-menu top-menu top-menu-left"
        ng-show="voiceRecControl.visibilityNewRecord"
        ng-click="voiceRecControl.registerRec()">
        <i class="tui tui-left"></i>
      </button>
      <button class="button button-border-active button-menu top-menu top-menu-right"
        ng-class="{'hide': !voiceRecControl.visibilityCheckbox}"
        ng-hide="voiceRecControl.visibilityNewRecord"
        ng-show="voiceRecControl.visibilityCheckbox"
        ng-click="voiceRecControl.deleteRec()">
        <i class="tui tui-delete"></i>
      </button>
      <button class="button button-border-active button-menu top-menu top-menu-right"
        ng-class="{'hide': voiceRecControl.visibilityCheckbox}"
        ng-hide="voiceRecControl.visibilityNewRecord"
        ng-click="voiceRecControl.visibilityCheckbox = true">
        <i class="tui tui-check"></i>
      </button>
      <span>{{voiceRecControl.title}}</span>
    </div>
    <div class="voice-content-wrapper" ng-class="{'show-register' : voiceRecControl.visibilityNewRecord}">
      <div class="divide-line">
      </div>
      <div class="voice-content-main">
        <div id="voice-list" class="voice-container popup-list">
          <p class="info-message">
            음성을 녹음하거나 재생할수 있습니다.
          </p>
          <ul>
            <li ng-repeat="data in voiceRecControl.datas">
              <label class="wmf-checkbox" ng-show="voiceRecControl.visibilityCheckbox && !data.isEmpty">
                <input type="checkbox">
                <span class="checked-icon checked-icon-common"></span>
                <span class="title">
                  <span ng-show="$index < 10">0</span>{{$index + 1}}. {{data.title}}
                </span>
              </label>
              <a ng-hide="voiceRecControl.visibilityCheckbox"
                ng-click="voiceRecControl.visibleRegisterRec()">
                <span class="title">
                  <span ng-show="$index < 9">0</span>{{$index + 1}}. {{data.title}}
                </span>
                <i class="tui tui-right" ng-show="data.isEmpty"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="voice-register" class="voice-container">
        <input type="text" placeholder="Voice Name" />
        <div class="section"></div>
        <div class="section buttons-section">
          <button class="tui-button-circle">
            <i class="tui tui-voice-rec"></i>
          </button>
          <button>
            <class="tui-button-circle">
            <i class="tui tui-listen"></i>
          </button>
        </div>
        <div class="section">
          <span>Recording</span> <span>xx/30sec</span>
        </div>
      </div>
    </div>
</div>
<div class="button-groups"  ng-show="buttonCount > 0">
 <button class="button button-background-active" type="button" ng-click="save()" ng-show="voiceRecControl.visibilityNewRecord">save</button>
</div>
<div class="modal-bottom-bar"></div>