<div ng-switch="method" class="modal-body ua-modal-body">
  <div ng-switch-when="delete">
    Please enter Current Password </br>
    <input type="password" placeholder="Password" ng-model="pass.inputValue1" /></br>
  </div>
  <div ng-switch-when="new">
    Please enter New Password </br>
    <input type="password" placeholder="Password" ng-model="pass.inputValue1" /></br>
    <input type="password" placeholder="Confirm" ng-model="pass.inputValue2" />
  </div>
  <div ng-switch-when="change">
    Please enter old Password </br>
    <input type="password" placeholder="Password" ng-model="pass.inputOldPass" /></br>
    Please enter New Password </br>
    <input type="password" placeholder="Password" ng-show="isOldChecked()" ng-model="pass.inputValue1" /></br>
    <input type="password" placeholder="Confirm" ng-show="isOldChecked()" ng-model="pass.inputValue2" />
  </div>
</div>
<div class="button-groups">
 <button type="button" class="button button-background-active" ng-click="update()" ng-show="(method === 'delete' || isOkay())">Update</button>
 <button type="button" class="button button-background-active" ng-click="cancel()" >Cancel</button>
</div>
<div class="modal-bottom-bar"></div>