<div class="modal-body ua-modal-body">
    <button class="button button-border-active button-menu" ng-click="setAutoTracking()" ng-class="selectMenu.isAutoOn ? 'tracking-selected-button-style':''">
       <i class="tui tui-ch-live-ptz-tracking-auto"></i>
    </button>
    <button class="button button-border-active button-menu" ng-click="setManualTracking()" ng-class="selectMenu.isManualOn ? 'tracking-selected-button-style':''">
       <i class="tui tui-ch-live-ptz-tracking-manual"></i>
    </button>
</div>
<div class="modal-bottom-bar"></div>