<div class="modal-header modal-setup" ng-hide="isHtml">
    <h3>{{data.message | translate}} </h3>
</div>
<div class="modal-body modal-setup" style="text-align:center">        
    <div 
      class="form-group" 
      style="background-color: #f8f8f8">
      <sketchbook sketchinfo='sketchinfo' videoinfo='videoinfo' coordinates='coordinates' ratio='ratio'>
      </sketchbook>
    </div>

    <span style="float:left;">{{displayCoordi}}</span>

    <select class="form-control" ng-model="cropOption.selected">
      <option 
        ng-selected="cropOption.selected == options" 
        value="{{options}}"
        ng-repeat="options in cropOption.options">
        {{getTranslatedOption(options)}}
      </option>
    </select>
</div>

<div class="modal-footer modal-setup" style="text-align:center">        
    <button type="button" class="btn cm-btn-point" ng-click="ok()">{{ 'lang_ok' | translate }}</button>
    <button type="button" class="btn cm-btn-dark" ng-click="cancel()">{{ 'lang_cancel' | translate }}</button>        
</div>