<div class="modal-body ua-modal-body modal-status">
  <div>
    <div><h3>{{'lang_menu_info' | translate}}</h3></div></br>
    <table>
      <colgroup>
        <col style="width:140px;"/>
        <col style="width:120px;"/>
        <col style="width:120px;"/>
        <col style="width:120px;"/>
        <col style="width:120px;"/>
      </colgroup>
      <thead>
        <tr>
          <th style="text-align:center">{{'lang_profile' | translate}}</th>
          <th style="text-align:center">{{'lang_bitrate' | translate}}(kbps)</th>
          <th style="text-align:center">{{'lang_framerate' | translate}}(fps)</th>
          <th style="text-align:center">ATC(%)</th>
          <th style="text-align:center">{{'lang_accessNumber' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="Profiles in profileInfoList">
          <td style="text-align:center">{{Profiles.Name}}</td>
          <td style="text-align:center">{{Profiles.CurrentBitrate}}/{{Profiles.TotalBitrate}}</td>
          <td style="text-align:center">{{Profiles.CurrentFPS}}/{{Profiles.TotalFPS}}</td>
          <td style="text-align:center">{{Profiles.ATC}}</td>
          <td style="text-align:center">{{Profiles.ConcurrentUserCount}}</td>
        </tr>
      </tbody>
    </table>
    <div class="separate-line"></div>
    <div><h3>{{'lang_currentUsers' | translate}}</h3></div></br>
    <table>
      <colgroup>
        <col style="width:140px;"/>
        <col style="width:140px;"/>
        <col style="width:140px;"/>
        <col style="width:140px;"/>
      </colgroup>
      <thead>
        <tr>
          <th style="text-align:center">{{'lang_profile' | translate}}</th>
          <th style="text-align:center">{{'lang_bitrate' | translate}}(kbps)</th>
          <th style="text-align:center">{{'lang_networkConnectionStatus' | translate}}</th>
          <th style="text-align:center">{{'lang_IPAddress' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="Users in userList">
          <td style="text-align:center">{{Users.ProfileNameList[0]}}</td>
          <td style="text-align:center">{{Users.ClientBitrate}}</td>
          <td style="text-align:center">{{Users.ClientNetworkConnectionStatus}}</td>
          <td style="text-align:center">{{Users.ClientIPAddress}}</td>
        </tr>
      </tbody>
    </table>
   </div>
</div>
<!-- <div class="button-groups">
   <button class="button button-background-active" type="button" ng-click="ok()">{{'lang_ok' | translate}}</button>
</div>
-->
<div class="modal-bottom-bar"></div>