<div class="modal-body ua-modal-body">
	<div>
		<label>ID</label>
		<input name="id" type="text" class="login-input text" type="text" ng-model="input.id">
	</div>
	<div>
		<label>Password</label>
		<input name="password" class="login-input text" type="password"class="text" ng-model="input.password">
	</div>
	<div class="button-groups">
		<button class="button button-background-active" type="button" 
		ng-click="ok()" ng-disable="disableOk">
			{{ 'lang_ok' | translate }}
		</button>
	</div>
</div>