<div id="search-box" class="modal-body ua-modal-body modal-playback-search">
  <div id="search-box-container">
    <div id="search-detail">
      <uib-datepicker ng-model="playback.search.selectedDate" show-weeks="false" class="ua-datepicker" custom-class="playback.getDayClass(date, mode)" ng-change="playback.recordingDataIsExist()" min-date="minDate" max-date="maxDate">
      </uib-datepicker>
      <div class="slider-container">
        <span>{{"lang_from"|translate}}</span>
        <div ui-slider="slider.start.options" step="1"
          lower-bound="0" upper-bound="1440"
          use-decimals ng-model="slider.start.from">
          <div class="time-sections">
            <span ng-repeat="time in slider.timeSections" class="time-section-container"
              ng-style="slider.getTimeSpanStyle($index, slider.timeSections.length)">
              <span class="sr-only">{{time}}</span>
              <div class="time-section"></div>
            </span>
          </div>
        </div>
        <div class="time-text-calendar">
          <time 
            ng-repeat="time in slider.timeSections"
            ng-style="slider.getTimeSpanStyle($index, slider.timeSections.length)">
            {{time}}
          </time>
        </div>
        <div ui-slider="slider.end.options" step="1"
          lower-bound="0" upper-bound="1440"
          use-decimals ng-model="slider.end.to">
          <div class="time-sections">
            <span ng-repeat="time in slider.timeSections" class="time-section-container"
              ng-style="slider.getTimeSpanStyle($index, slider.timeSections.length)">
              <span class="sr-only">{{time}}</span>
              <div class="time-section" ></div>
            </span>
          </div>
        </div>
        <span>{{"lang_to"|translate}}</span>
        <div id="time-range-indicator">
        <div class="start-time">
            <input type="text" maxlength="2" id="slider-start-time-hours" class="input-start-end-time" ng-model="slider.start.hours"
                   ng-focus="validTime.getFocusTime($event);" ng-blur="validTime.changeSliderValue($event);">
            :
            <input type="text" maxlength="2" id="slider-start-time-minutes" class="input-start-end-time" ng-model="slider.start.minutes"
                   ng-focus="validTime.getFocusTime($event);" ng-blur="validTime.changeSliderValue($event);">
            :
            <input type="text" maxlength="2" id="slider-start-time-seconds" class="input-start-end-time" ng-model="slider.start.seconds"
                   ng-focus="validTime.getFocusTime($event);" ng-blur="validTime.changeSliderValue($event);">
        </div>
        <span>~</span>
        <div class="end-time">
            <input type="text" maxlength="2" id="slider-end-time-hours" class="input-start-end-time"  ng-model="slider.end.hours"
                   ng-focus="validTime.getFocusTime($event);" ng-blur="validTime.changeSliderValue($event);">
            :
            <input type="text" maxlength="2" id="slider-end-time-minutes" class="input-start-end-time" ng-model="slider.end.minutes"
                   ng-focus="validTime.getFocusTime($event);" ng-blur="validTime.changeSliderValue($event);">
            :      
            <input type="text" maxlength="2" id="slider-end-time-seconds" class="input-start-end-time" ng-model="slider.end.seconds"
                   ng-focus="validTime.getFocusTime($event);" ng-blur="validTime.changeSliderValue($event);">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-groups">
 <button type="button" class="button button-background-active" ng-click="ok()">{{ submitButton | translate }}</button>
</div>
<div class="modal-bottom-bar"></div>
<div class="modal-error-message">
  <span class="middle-center">
    {{errorMessage | translate}}
  </span>
</div>
<loading-bar is-loading="isLoading"></loading-bar>

<!-- <div class="block loading-bar" ng-class="{'visible':isLoading}">
 <div class="spinner middle-center">
   <div class="bounce1"></div>
   <div class="bounce2"></div>
   <div class="bounce3"></div>
 </div>
</div> -->