<div ng-switch="data.stepPassword" class="modal-body ua-modal-body">
  <div ng-switch-when="enter">
    Please enter camera Password </br>
    <input type="password" placeholder="Password" ng-model="data.inputValue"></input>
  </div>
  <div  ng-switch-when="wrong">
    잘못된 비밀번호를 입력하였습니다. 다시 입력하여 주십시오.
  </div>
  <div ng-switch-when="failed">
    카메라 비밀번호 분실 시, 카메라의 Reset 버튼을 5초간 누른 후, 비밀번호를 재설정하여 주십시오.
  </div>
  <div ng-switch-when="changed">
    초기화로 인해 카메라 비밀번호 재설정이 필요합니다. <br/><br/>
    <div><input type="password" placeholder="New Password" ng-model="data.firstNewPassword" /></div>
    <div><input type="password" placeholder="Confirm Password" ng-model="data.secondNewPassword"/></div>
    <br/>{{data.message}}
  </div>
  <div ng-switch-when="reset">
    다른 사용자에 의해 비밀번호가 변경 되었습니다.
  </div>
  <div ng-switch-when="success">
    비밀번호를 저장하지 않으려면 일반설정에서 해제하여 주십시오.
  </div>
</div>
<div class="button-groups" ng-show="data.buttonCount > 0">
  <button type="button" class="button button-background-active" ng-click="ok()" ng-class="{'buttons': data.buttonCount > 1}">
    {{ data.buttonLabel }}
  </button>
  <button type="button" class="button button-background-active" ng-click="cancel()" ng-show="data.buttonCount > 1"  
    ng-class="{'buttons': data.buttonCount > 1}" >
    Cancel
  </button>
</div>
<div class="bottom-bar"></div>