<h1 class="wn5-setup-main-title">이미지 정렬</h1>

<div class="wn5-setup-section">
    <p ng-if="FovDistanceRange">장착된 카메라의 화각을 설정하고 감지 거리를 설정할 수 있습니다. </p>
    <p ng-if="!FovDistanceRange">장착된 카메라의 화각을 설정하고, 각 센서의 영상 이미지 위치를 픽셀 단위로 조정하여 영상 이미지들의 접합 부분을 보정할 수 있습니다.</p>
    <div class="wn5-online-help-info" ng-if="FovDistanceRange">
        <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
        <ul>
            <li>화각과 감지 거리는 동시에 설정할 수 없습니다. </li>
        </ul>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>화각</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p ng-if="FovDistanceRange">장착된 카메라의 영상을 배열하여 파노라마 형식의 영상을 만들 때 장착된 개별 카메라를 배열하는 방식을 선택하여 화각(field of view)를 조정할 수 있습니다. </p>
            <p ng-if="!FovDistanceRange">장착된 카메라의 파노라마 영상 화각(field of view)를 설정할 수 있습니다. </p>
            <p ng-if="!FovDistanceRange"><strong class="UI">[209도 모드]</strong>를 선택하면 <strong class="UI">[180도 모드]</strong>를 선택한 경우보다 가로로 뷰가 더 확보된 영상을 만들 수 있습니다.</p>
            <ul ng-if="FovDistanceRange">
                <li><strong class="UI">180도 모드</strong>: 개별 카메라 영상을 세로로 배열합니다. 영상의 세로 길이에 맞춰 배열하기 때문에 209도 모드를 선택한 경우보다 세로로 뷰가 더 확보된 영상을 만들 수 있습니다. 
                </li>
                <li><strong class="UI">209도 모드</strong>: 개별 카메라 영상을 가로로 배열합니다. 영상의 가로 길이에 맞춰 배열하기 때문에 180도 모드를 선택한 경우보다 가로로 뷰가 더 확보된 영상을 만들 수 있습니다.</li>
            </ul>
        </div>
	    <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
            <ul>
                <li ng-if="FovDistanceRange">화각 옵션을 변경하면, 카메라가 재부팅되고 영상 설정이 선택한 화각에 맞추어 초기화됩니다. 프라이버시 영역, 분석, 통계 항목을 다시 설정해 주십시오. 해당 항목은 <strong class="UI">[비디오 설정]</strong>, <strong class="UI">[분석]</strong>, <strong class="UI">[통계]</strong> 메뉴에서 각각 설정할 수 있습니다.  </li>
                <li ng-if="!FovDistanceRange">화각 옵션을 변경하면, 카메라가 재부팅되고 다음 설정이 선택한 화각에 맞추어 초기화됩니다. 해당 항목은 <strong class="UI">[비디오 프로파일]</strong>, <strong class="UI">[비디오 설정]</strong>, <strong class="UI">[카메라 설정]</strong>, <strong class="UI">[디지털 PTZ]</strong>, <strong class="UI">[움직임 감지]</strong>, <strong class="UI">[IVA]</strong>, <strong class="UI">[히트맵]</strong> 메뉴에서 각각 설정할 수 있습니다.</li>
                <ul>
                    <li>비디오 프로파일</li>
                    <li>프라이버시 영역 및 비디오 설정</li>
                    <li>카메라 설정</li>
                    <li>디지털 PTZ의 프리셋 및 그룹 설정</li>
                    <li>분석의 움직임 감지, IVA</li>
                    <li>통계의 히트맵 </li>
                </ul>
            </ul>
        </div>
	</div>
</div>
<div class="wn5-setup-section" ng-if="FovDistanceRange">
    <div class="wn5-setup-section-heading">
        <h2>감지 거리</h2>
    </div>
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
                <p>카메라 화각을 선택한 후 카메라가 모니터링하고자 하는 대상체의 거리 정보를 입력할 수 있습니다. 슬라이드 바를 조정하여 값을 설정하거나 1m 단위로 입력할 수 있습니다. </p>
                <p>설정한 거리 정보에 맞추어 LUT(Look Up Table)을 생성하여 파노라마 영상에 적용됩니다. </p>
        </div>
    </div>
</div>


<div class="wn5-setup-section" ng-if="!FovDistanceRange">
    <div class="wn5-setup-section-heading">
		<h2>이미지 정렬</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>4채널의 영상 이미지를 배열하여 파노라마 형식의 영상을 만들 때 각 영상의 접합 부분이 부자연스럽게 연결될 수 있습니다. 이 때 [이미지 정렬] 기능을 이용하여 2개 영상씩 위치를 조정하여 영상 이미지가 자연스럽게 배열될 수 있도록 접합 위치를 세밀하게 조정할 수 있습니다. </p>
            <p>미리보기 영상에서 가장 왼쪽의 영상이 영역 1이며 가장 오른쪽 영상이 영역 4입니다. <strong class="UI">[1-2]</strong> 버튼을 클릭하면 1영역 영상과 2영역 영상이 자연스럽게 접합될 수 있도록 두 영상의 위치를 조정할 수 있습니다. 이와 동일하게 영역 2와 3의 영상을 정렬하려면 <strong class="UI">[2-3]</strong> 버튼을, 영역 3과 4의 영상을 정렬하려면 <strong class="UI">[3-4]</strong> 버튼을 클릭합니다. <strong class="UI">[전체 초기화]</strong>를 클릭하면 영역 1부터 4까지 전체 영역의 위치를 초기값으로 되돌립니다. </p>
            <p><strong class="UI">[알파 블렌딩]</strong>을 선택하면 영역의 경계면이 혼합되어 흐릿하게 됩니다. <strong class="UI">[알파 블렌딩]</strong>을 선택하지 않으면 경계면이 직선 형태로 표시됩니다.</p>
            <p> </p>
            <p>원하는 영역을 선택한 후, 영상 위체 마우스를 올려 놓으면 <strong class="UI">[위로]</strong>/<strong class="UI">[아래로]</strong>/<strong class="UI">[왼쪽으로]</strong>/<strong class="UI">[오른쪽으로]</strong> 방향 키가 나타나며, 각 버튼을 클릭하여 영상의 위치를 1 픽셀씩 조정할 수 있습니다. 방향 키를 계속 누르고 있으면 최대 10 픽셀까지 한 번에 조정할 수 있습니다. 현재 수정중인 영상의 위치를 초기값으로 되돌리려면 <strong class="UI">[초기화]</strong> 버튼을 클릭합니다 .</p>

        </div>
    </div>
</div>
<hr class="wn5-setup-hr">