<h1 class="wn5-setup-main-title">PTRZ 설정</h1>
<div class="wn5-setup-section">
    <p>PTRZ는 PTZ 기능을 가진 카메라가 아니더라도 카메라를 팬(Pan)과 틸트(Tilt)로 움직이거나 회전(Rotate)할 수 있으며, 또한 영상을 확대 축소(Zoom)할 수 있는 기능입니다. 특히 천장, 벽면, 모퉁이에 카메라를 설치하는 경우 카메라 위치를 상하좌우로 조절하여 최적의 뷰를 확보하는데 유용한 기능입니다. </p>
    <p>'PTRZ 설정' 페이지에서는 PTRZ 기능을 이용하여 카메라의 위치를 조정하고 줌과 포커스를 설정할 수 있습니다. </p>
</div>
<div class="wn5-online-help-info">
    <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
    <ul>
        <li>PTRZ 기능은 카메라 설치 후 초기 설정시 원하는 시야를 맞추거나 영상 화면을 수평으로 정렬하는데 사용하는 것을 권장합니다. </li>
    </ul>
</div>

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
    <div class="wn5-setup-section-heading">
        <h2><a name="Channel"></a>채널 선택</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>카메라 채널을 선택한 후 채널별로 PTRZ(카메라 팬 및 틸트 위치, 회전, 줌) 관련 세부 항목을 설정할 수 있습니다. </p>
            <p>채널 번호를 선택하면 해당 채널의 영상만 화면에 나타나며, 각 채널 영상의 PTRZ 개별 정보를 각각 설정할 수 있습니다. </p>
            <p>멀티 뷰 아이콘을 선택하면 모든 채널의 영상을 한 번에 볼 수 있으며, 전체 카메라에 모두 동일한 값을 설정할 수 있습니다. 또한 원하는 카메라만 한 대 혹은 다수 선택한 후 선택한 카메라에만 동일한 값을 설정할 수도 있습니다.  </p>
            <p>각 채널의 미리보기 화면 하단에 각 카메라의 상태를 설명하는 메시지가 표시됩니다. 메시지의 종류는 다음과 같습니다. </p>
            <ul>
                <li>초기화: <strong class="UI">[PTRZ 초기화]</strong>를 클릭하여 카메라 설정이 초기화되고 있을 때 표시되는 메시지입니다. 초기화가 종료될 때까지 다른 동작을 하지 못합니다.</li>
                <li>초기화 실패: 카메라 설정 초기화 과정 중 탈조 등의 문제로 초기화에 실패한 경우 표시되는 메시지입니다. 초기화가 완료되지 않은 경우 PTR 제어가 원활히 이뤄지지 않을 수 있으니 카메라의 위치를 변경한 뒤 다시 초기화를 진행해 주십시오.</li>
                <li>프리셋 이동: <strong class="UI">[360]</strong>이나 <strong class="UI">[사용자 지정 프리셋]</strong>을 클릭하여 이미 설정해 둔 프리셋 위치로 카메라가 이동 중인 경우 표시되는 메시지입니다. 프리셋 위치로 이동하는 동작이 종료될 때까지 다른 동작을 하지 못합니다.</li>
                <li>프리셋 이동 실패: 프리셋 위치로 이동 중 탈조 등의 이슈로 설정된 프리셋 위치로 카메라가 이동하지 못한 경우 표시되는 메시지입니다. 카메라의 PTR을 조작하여 카메라의 위치를 변경한 뒤 다시 프리셋 이동을 실행해 주십시오.</li>
                <li>이동 중: 팬, 틸트, 회전(PTR) 동작 중 하나라도 동작 중이면 표시되시는 메시지입니다.</li>
                <li>충돌: 팬 동작 중에 옆 채널의 카메라와 맞닿아 해당 채널의 카메라가 움직일 수 없을 때 표시되는 메시지입니다.</li>
                <li>준비: PTR이 멈춰 있으며 카메라간 적당한 거리를 유지하고 있는 경우에 표시되는 메시지입니다.</li>
            </ul>
            <p>모든 카메라의 PTRZ 설정을 초기화하려면 <strong class="UI">[PTRZ 초기화]</strong>를 선택합니다. <strong class="UI">[PTRZ 초기화]</strong>는 멀티 뷰 모드에서만 활성화됩니다. </p>
        </div>
	</div>
</div> 


<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
    <div class="wn5-setup-section-heading">
        <h2><a name="Lens_status"></a>렌즈 상태</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>각 채널별 렌즈 위치 정보를 보여줍니다. 카메라가 채널 번호 아이콘으로 표시돼 있으며, 채널을 선택한 후 PTR 정보를 변경하면 선택한 카메라의 위치가 변경되어 표시됩니다.</p>
            <p>설정한 PTRZ로 쉽게 이동할 수 있도록 프리셋 옵션을 제공합니다. <strong class="UI">[360]</strong>을 선택하면 아래 그림과 같이 4대의 카메라 화각이 360도가 되도록 팬이 위치하며 틸트 45도, 회전 0도, 줌은 와이드 끝단에 위치합니다. </p>
            <p><img src="./images/ptrzSetup_360.png"></p>
            <!-- <p><strong class="UI">[200]</strong>을 선택하면 아래 그림과 같이 3대의 카메라(1, 2, 4번 채널 카메라)의 화각이 200이 되도록 팬이 위치하며, 틸트 45도, 회전 0도, 줌은 와이드 끝단에 위치합니다. </p>
            <p><img src="./images/ptrzSetup_200.png"></p> -->
            <p>또한 <a href="#set_preset">사용자가 직접 PTRZ 프리셋 위치를 설정</a>할 수 있으며, 사용자가 설정한 위치로 이동하려면 <strong class="UI">[사용자 지정 프리셋]</strong>을 선택합니다. </p>
        </div>
		
        <div class="wn5-online-help-action">
            <h4><a name="set_preset"></a>PTRZ 프리셋 설정하기</h4>
            <ol>
                <li><strong class="UI"><a href="#Lens_status">[렌즈 상태]</a></strong>에서 프리셋을 설정할 채널을 선택합니다. 1개 채널 이상의 다수의 채널을 선택하려면 <strong class="UI"><a href="#Channel">[채널 선택]</a></strong>에서 멀티 뷰 아이콘을 선택합니다.    </li>
                <li>아래와 같이 카메라 PTRZ 정보를 설정합니다.    </li>
                <ul>
                    <li><span class="tui tui-wn5-ptz-handle"></span>아이콘을 이용하여 카메라 팬과 틸트를 조정하여 카메라 뷰를 조절하거나, <i class="tui tui-wn5-return"></i> 버튼이나 <i class="tui tui-wn5-return" style="transform: rotateY(180deg);"></i> 버튼을 이용하여 카메라를 회전합니다.  </li>
                    <li> <strong class="UI"><a href="#zoom_focus">[줌/포커스]</a></strong>에서 원하는 줌과 포커스 값을 설정합니다.  </li>
                </ul>
                <li><strong class="UI">[프리셋 설정]</strong>을 클릭합니다. </li>
            </ol>
            <p><strong class="UI">[사용자 지정 프리셋]</strong>을 클릭하면 가장 마지막으로 설정해 둔 PTRZ 프리셋 위치로 이동합니다. </p>
        </div>
		
	<!-- </div>
</div> 

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
    <div class="wn5-setup-section-heading">
        <h2><strike><a name="ptr_setup"></a>PTR 설정</strike></h2>
    </div>
    <div class="wn5-setup-section-article"> -->
        <div class="wn5-setup-section-article-content">
            <p>카메라 뷰를 조정하려면 <span class="tui tui-wn5-ptz-handle"></span> 버튼을 마우스로 클릭한 후 상하좌우로 드래그합니다. 카메라 위치가 팬과 틸트로 이동합니다. </p>
            <p>또한 카메라를 시계 방향으로 회전하려면 <i class="tui tui-wn5-return"></i> 버튼을 클릭합니다. <i class="tui tui-wn5-return"></i> 버튼 클릭을 해제할 때까지 카메라가 시계 방향으로 계속 회전합니다. 카메라를 시계 반대 방향으로 회전하려면 <i class="tui tui-wn5-return" style="transform: rotateY(180deg);"></i> 버튼을 클릭합니다. <i class="tui tui-wn5-return" style="transform: rotateY(180deg);"></i> 버튼 클릭을 해제할 때까지 시계 반대 방향으로 계속 회전합니다. </p>
            <p>카메라 팬과 틸트를 미세하게 조정하려면 화면 이동 패드의 상하좌우에 위치한 세모 모양 아이콘을 클릭합니다. 세모 모양 아이콘을 클릭한 채 유지하면 일정한 속도로 팬과 틸트로 이동합니다. </p>
        </div>
<div class="wn5-online-help-info">
    <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
            <ul>
                <li>                   
                    <!-- <strong class="UI">[<a href="#Lens_status">렌즈 상태</a>]</strong>에서 둘 이상의 채널을 선택한 경우, <strong class="UI"><span style="background-color:yellow;">[<strike>PTR 설정]</strike></span></strong><span style="background-color:yellow;"><strike>에서</strike> </span>팬/틸트 이동 기능이 비활성화됩니다.  -->
                    둘 이상 채널의 팬과 틸트를 동시에 조정하려면 <strong class="UI">[<a href="#pt_setup">팬/틸트</a>]</strong> 옵션을 사용하십시오.</li>
            </ul>
</div>
	</div>
</div> 


<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
    <div class="wn5-setup-section-heading">
        <h2><a name="pt_setup"></a>팬/틸트</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>카메라 팬과 틸트 위치를 지정한 각도로 이동할 수 있습니다.</p>
            <p>팬 위치 설정 값은 좌우 방향 아이콘으로 표시돼 있으며, 틸트 위치 설정 값은 상하 아이콘으로 표시돼 있습니다. 예를 들어 좌우 방향 아이콘으로 표시된 값 중 [30]을 선택하면 현재 카메라 위치에서 팬 위치를 30도만큼 이동합니다. 상하 방향 아이콘으로&nbsp;표시된 값 중 [30]을 선택하면 틸티 위치를 30도만큼 이동합니다. </p>
        </div>
		<div class="wn5-online-help-info">
    <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
            <ul>
                
                <li><strong class="UI">[<a href="#Lens_status">렌즈 상태</a>]</strong>에서 선택한 다수의 카메라 중 충돌 상태의 카메라가 있다면, 이동할 수 있는 카메라의 팬 위치만 변경됩니다. </li>
            </ul>
</div>
	</div>
</div> 

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
    <div class="wn5-setup-section-heading">
        <h2><a name="zoom_focus"></a>줌/포커스</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>카메라의 줌과 포커스를 조절하고 설정할 수 있습니다. </p>
            <p>포커스를 초기화하려면 <strong class="UI">[포커스 초기화]</strong> 버튼을 클릭합니다. 포커스가 기본 위치(x1)로 조절됩니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>포커스 </h3>
            <p>화면에 제시된 포커스 버튼을 눌러 수동으로 포커스를 조절합니다. 버튼에 표시된 값은 포커스 이동 간격을 뜻합니다. 1은 포커스를 한번에 1만큼 이동하고, 10은 포커스를 10만큼 이동하고, 100은 포커스를 100만큼 이동시킵니다. ‘-‘ 값은 포커스를 가까이(near) 이동하고, ‘+’ 값은 멀리(far) 이동합니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>줌 </h3>
            <p>줌 배율을 수동으로 조절합니다. 버튼에 표시된 값은 줌 이동 간격을 뜻합니다. 1은 줌을 한번에 1만큼, 10은 줌을 10만큼, 100은 줌을 100만큼 이동시킵니다. ‘-‘ 값은 줌아웃(Zoom out, wide)하고, ‘+’ 값은 줌인(Zoom in, tele)합니다.</p>
        </div>	

<div class="wn5-setup-section-article-content">
            <h3>심플 포커스</h3>
            <p>화면 위에 사용자가 지정한 위치를 기준으로 포커스를 자동으로 조절합니다. 화면 위에 마우스로 클릭하고 드래그 하여 포커스를 맞출 위치를 설정한 후, <strong class="UI">[심플 포커스]</strong> 버튼을 클릭하면 화면에 N(Near)<->F(Far)이 표시되고 사용자가 지정한 위치를 기준으로 포커스가 자동으로 조절됩니다.</p>
        </div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
                <ul>
                    <li>다음과 같은 경우 심플 포커스 기능이 제대로 작동하지 않을 수 있습니다.</li>
                    <ul>
                        <li>포커스 조절 중에 피사체에 급격한 변화(급격한 움직임, 사라짐)가 있을 경우</li>
                        <li>포커스 조절 중에 급격한 휘도의 변화가 있을 경우</li>
                        <li>영상의 콘트라스트가 낮은 경우</li>
                        <li>강한 광원이 주위에 있을 경우</li>
                    </ul>
                    <li>위의 경우 이 외에 심플 포커스 동작 후 초점이 잘 맞지 않는 경우 줌 버튼(-100, -10, -1, 1, 10, 100)을 이용하여 수동으로 포커스를 조정하십시오.</li>
                    <li>심플 포커스 작동이 어려운 환경에서는 수동으로 포커스를 조정하는 것을 권장합니다. </li>
                </ul>
        </div>		
			
	</div>
</div> 

<hr class="wn5-setup-hr" ng-if="MaxChannel==0">
<div class="wn5-setup-section" ng-if="MaxChannel==0">
    <div class="wn5-setup-section-heading">
        <h2>PTRZ 설정</h2>
    </div>
	    <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
            <p>카메라 뷰를 조정하려면 <span class="tui tui-wn5-ptz-handle"></span> 버튼을 마우스로 클릭한 후 상하좌우로 드래그합니다. 카메라 위치가 팬과 틸트로 이동합니다. </p>
            <p>또한 카메라를 시계 방향으로 회전하려면 <i class="tui tui-wn5-return"></i>버튼을 클릭합니다. <i class="tui tui-wn5-return"></i> 버튼 클릭을 해제할 때까지 카메라가 시계 방향으로 계속 회전합니다. 카메라를 시계 반대 방향으로 회전하려면 <i class="tui tui-wn5-return" style="transform: rotateY(180deg);"></i> 버튼을 클릭합니다. <i class="tui tui-wn5-return" style="transform: rotateY(180deg);"></i> 버튼 클릭을 해제할 때까지 시계 반대 방향으로 계속 회전합니다. </p>
        
            <p>카메라 팬과 틸트를 미세하게 조정하려면 화면 이동 패드의 상하좌우에 위치한 세모 모양 아이콘을 클릭합니다. 세모 모양 아이콘을 클릭한 채 유지하면 일정한 속도로 팬과 틸트로 이동합니다. </p>
            
            </div>
            <div class="wn5-setup-section-article-content">
                <h3>자동 회전</h3>
                <p>영상 화면을 자동으로 수평하게 맞추려면 <strong class="UI">[자동 회전]</strong> 버튼을 클릭합니다.</p>
            </div>
            <div class="wn5-setup-section-article-content">
                <h3>줌/포커스</h3>
                <p>카메라의 줌과 포커스를 조절하고 설정할 수 있습니다. </p>
                <p>포커스를 초기화하려면 <strong class="UI">[포커스 초기화]</strong> 버튼을 클릭합니다. 포커스가 기본 위치(x1)로 조절됩니다.</p>
            </div>
			
           
        <div class="wn5-setup-section-article-content">
            <h3>포커스 </h3>
            <p>화면에 제시된 포커스 버튼을 눌러 수동으로 포커스를 조절합니다. 버튼에 표시된 값은 포커스 이동 간격을 뜻합니다. 1은 포커스를 한번에 1만큼 이동하고, 10은 포커스를 10만큼 이동하고, 100은 포커스를 100만큼 이동시킵니다. ‘-‘ 값은 포커스를 가까이(near) 이동하고, ‘+’ 값은 멀리(far) 이동합니다.</p>
        </div>
<!-- Zoom -> Zoom || PTRZModel으로 수정. x시리즈 변경점 이슈. 정인혜 선임님 가이드. 2019-08-12  --> 
        <div class="wn5-setup-section-article-content" ng-if="Zoom || PTRZModel">
            <h3>줌 </h3>
            <p>줌 배율을 수동으로 조절합니다. 버튼에 표시된 값은 줌 이동 간격을 뜻합니다. 1은 줌을 한번에 1만큼, 10은 줌을 10만큼, 100은 줌을 100만큼 이동시킵니다. ‘-‘ 값은 줌아웃(Zoom out, wide)하고, ‘+’ 값은 줌인(Zoom in, tele)합니다.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>심플 포커스</h3>
            <p>화면 위에 사용자가 지정한 위치를 기준으로 포커스를 자동으로 조절합니다. 화면 위에 마우스로 클릭하고 드래그 하여 포커스를 맞출 위치를 설정한 후, <strong class="UI">[심플 포커스]</strong> 버튼을 클릭하면 화면에 N(Near)<->F(Far)이 표시되고 사용자가 지정한 위치를 기준으로 포커스가 자동으로 조절됩니다.</p>
        </div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
                <ul>
                    <li>다음과 같은 경우 심플 포커스 기능이 제대로 작동하지 않을 수 있습니다.</li>
                    <ul>
                        <li>포커스 조절 중에 피사체에 급격한 변화(급격한 움직임, 사라짐)가 있을 경우</li>
                        <li>포커스 조절 중에 급격한 휘도의 변화가 있을 경우</li>
                        <li>영상의 콘트라스트가 낮은 경우</li>
                        <li>강한 광원이 주위에 있을 경우</li>
                    </ul>
                    <li>위의 경우 이 외에 심플 포커스 동작 후 초점이 잘 맞지 않는 경우 줌 버튼(-100, -10, -1, 1, 10, 100)을 이용하여 수동으로 포커스를 조정하십시오.</li>
                    <li>심플 포커스 작동이 어려운 환경에서는 수동으로 포커스를 조정하는 것을 권장합니다. </li>
                </ul>
        </div>
		 
		
        </div>
</div>

<hr class="wn5-setup-hr">