<h1 class="wn5-setup-main-title">&Eacute;cran de lecture</h1>
<div class="wn5-setup-section">
    <p ng-if="NAS">Vous pouvez importer et lire une image enregistr&eacute;e &agrave; partir d&apos;une carte SD (ou carte Micro SD) ou d&apos;un NAS.</p>
    <p ng-if="!NAS">Vous pouvez importer et lire une image enregistr&eacute;e &agrave; partir d&apos;une carte SD (ou carte Micro SD).</p>
    <p>Lorsque vous cliquez sur le bouton <span class="tui tui-wn5-top-playback"></span> sur l&apos;&eacute;cran, l&apos;&eacute;cran enregistr&eacute; appara&icirc;tra. Une barre de temps appara&icirc;tra au bas de l&apos;&eacute;cran de lecture et une image enregistr&eacute;e selon le calendrier d&eacute;fini ou par un &eacute;v&eacute;nement s&rsquo;affichera sur la barre de temps. Vous pouvez rechercher une image enregistr&eacute;e par type d&apos;&eacute;v&eacute;nement ou par date et la capturer ou l&apos;enregistrer sur un ordinateur.</p>
</div>
<div class="wn5-setup-section">
    <div class="wn5-online-help-list">
    <p>Vous pouvez passer &agrave; l&apos;&eacute;cran de direct, &agrave; l&apos;&eacute;cran de lecture ou &agrave; l&apos;&eacute;cran de configuration en cliquant sur les boutons situ&eacute;s en haut.</p>
        <ul>
            <li><span class="tui tui-wn5-top-live"></span>(Direct)&nbsp;: V&eacute;rifiez l&apos;image en direct captur&eacute;e par la cam&eacute;ra et contr&ocirc;lez les diff&eacute;rentes fonctions de la cam&eacute;ra.</li>
            <li ng-if="NAS"><span class="tui tui-wn5-top-playback"></span>(Lecture)&nbsp;: recherchez et lisez une image enregistr&eacute;e &agrave; partir d&apos;une carte SD (ou carte Micro SD) ou d&rsquo;un NAS.</li>
            <li ng-if="!NAS"><span class="tui tui-wn5-top-playback"></span>(Lecture)&nbsp;: recherchez et lisez une image enregistr&eacute;e &agrave; partir d&apos;une carte SD (ou carte Micro SD).</li>
            <li><span class="tui tui-wn5-top-setup"></span>(Configuration)&nbsp;: changez les r&eacute;glages de la cam&eacute;ra</li>
        </ul>
    </div>

<div class="wn5-setup-section">
    <div class="wn5-online-help-info">
        <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
        <ul>
            <li>Une vid&eacute;o doit tout d&rsquo;abord &ecirc;tre enregistr&eacute;e sur la page <strong class="UI">[Direct]</strong> avant de pouvoir &ecirc;tre lue.&nbsp;</li>
            <li ng-if="NAS">S&apos;il n&apos;y a pas de connexion &agrave; une carte SD (ou carte Micro SD) ou un NAS, la fonction de lecture ne peut pas &ecirc;tre utilis&eacute;e.</li>
            <li ng-if="!NAS">S&apos;il n&apos;y a pas de connexion &agrave; une carte SD (ou carte Micro SD), la fonction de lecture ne peut pas &ecirc;tre utilis&eacute;e.</li>
			<li>En vous connectant &agrave; la visionneuse web via Chrome, la fonction d&apos;&eacute;cran de lecture d&apos;enregistrement peut &ecirc;tre utilis&eacute;e en toute s&eacute;curit&eacute;.</li><!-- <li>When you connect to a web viewer through Internet Explorer or Safari, the backup function can be used only after a plugin has been installed. To install the plugin, click the <span class="tui tui-wn5-download"></span> button at the top right. </li>  --></ul>
    </div>
	
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Ic&ocirc;nes de lecture</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Les ic&ocirc;nes se trouvant en bas de l&apos;&eacute;cran de lecture permettent les fonctions suivantes&nbsp;:</p>
            <table class="table table-bordered wn5-setup-table">
                <thead>
                    <tr>
                        <th width="235">Ic&ocirc;ne</th>
                        <th width="235">Description de la fonction</th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-if="MaxChannel > 1 && !SupportAutoImageAlignment && !objectDetectionSupport && !SupportChannelExpansionFeature">
                                <td width="235">Sélectionner un canal</td>
                                <td width="235">Après la sélection de votre canal vous pouvez rechercher ou lire les vidéos enregistrées de chaque canal.</td>
                            </tr>        
                    <tr>

                        <tr ng-if="SupportChannelExpansionFeature">
                            <td width="235">S&eacute;lection d&rsquo;un canal</td>
                            <td width="235">
                                <p>S&eacute;lectionnez un num&eacute;ro de canal pour en lire l&rsquo;enregistrement vid&eacute;o.</p>
                                <p>Le canal&nbsp;1 correspond &agrave; la vid&eacute;o originale de la cam&eacute;ra Fisheye. Tous les autres canaux sont ajout&eacute;s et configur&eacute;s par les utilisateurs de mani&egrave;re &agrave; obtenir leurs modes d&rsquo;affichage pr&eacute;f&eacute;r&eacute;s. Des canaux peuvent &ecirc;tre ajout&eacute;s pour la cam&eacute;ra dans <strong class="UI">[Configuration]</strong> &gt; <strong class="UI">[Basic]</strong> &gt; <strong class="UI">[Profil vid&eacute;o]</strong>.</p>
                                <p></p>
                            </td>
                        </tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-fullscreen"></span></p>
                            <p>Plein &eacute;cran</p>
                        </td>
                        <td width="235">
                            <p>Afficher la lecture en plein &eacute;cran. Pour revenir &agrave; la taille pr&eacute;c&eacute;dente, cliquez sur le bouton <span class="tui tui-wn5-toolbar-fullscreen"></span> en mode plein &eacute;cran ou appuyez sur la touche <strong class="UI">[Echap]</strong> du clavier.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p>Option de taille</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>La taille passe &agrave; la taille suivante chaque fois que vous cliquez dessus. </p>
                            <ul>
                                <li><span class="tui tui-ch-live-view-fit"></span>(Incorporer)&nbsp;: Affichez l&apos;image de la cam&eacute;ra dans la m&ecirc;me taille que la fen&ecirc;tre d&apos;affichage du navigateur Web.</li>
                                <li><span class="tui tui-ch-live-view-originalsize"></span>(Taille d&apos;origine)&nbsp;: Visualisez l&apos;image de la cam&eacute;ra &agrave; sa v&eacute;ritable r&eacute;solution.</li>
                                <li><span class="tui tui-ch-live-view-originalratio"></span>(Ratio d&apos;aspect)&nbsp;: Affichez l&apos;&eacute;cran de lecture dans le navigateur Web en effectuant un zoom avant ou arri&egrave;re tout en conservant le format de l&apos;image de la cam&eacute;ra.</li>
                            </ul>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-capture"></span></p>
                            <p>Saisir</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Capturez et enregistrez une image enregistr&eacute;e en tant que fichier image PNG. Un fichier d&rsquo;image captur&eacute;e est enregistr&eacute; dans le chemin d&apos;enregistrement par d&eacute;faut de chaque navigateur.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-backward"></span></p></p>
                            <p>Pr&eacute;c.</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Passer &agrave; l&apos;image pr&eacute;c&eacute;dente.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-play"></span>/<span class="tui tui-wn5-toolbar-pause"></span></p>
                            <p>Lecture / Suspende</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Lecture ou pause sur une image.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-forward"></span></p>
                            <p>Suiv</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Passez &agrave; l&apos;image suivante.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p></p>
                            <p>Vitesse de lecture</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>R&eacute;glez la vitesse de lecture de l&apos;&eacute;cran.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr ng-if="MaxAudioInput>0">
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-sound"></span></p>
                            <p>Haut-parleur</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>R&eacute;glez le volume audio de l&apos;&eacute;cran de lecture. <span class="tui tui-wn5-toolbar-sound"></span> Cliquez sur le bouton pour activer l&apos;audio et ajuster le volume.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Lecture d&apos;une image enregistr&eacute;e via la recherche d&apos;&eacute;v&eacute;nement</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Vous pouvez rechercher une image enregistr&eacute;e par type d&apos;&eacute;v&eacute;nement.</p>
            <p>De plus, si l&rsquo;heure sur le syst&egrave;me de cam&eacute;ra a &eacute;t&eacute; ajust&eacute;e et a donc entra&icirc;n&eacute; un chevauchement du temps, il est possible de rechercher la vid&eacute;o enregistr&eacute;e pendant cette heure de chevauchement.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>Pour effectuer une recherche par &eacute;v&eacute;nement et lecture</h4>
            <ol>
                <li>Cliquez sur le bouton Montrer sur l&rsquo;&eacute;cran de lecture. Si une vid&eacute;o est prise le jour de la recherche, elle sera affich&eacute;e sur la barre de temps.</li>
                <li>Pour effectuer une recherche par type d&rsquo;&eacute;v&eacute;nement, cliquez sur le bouton <strong class="UI">[Tout]</strong> en haut de la barre de temps et s&eacute;lectionnez un &eacute;v&eacute;nement souhait&eacute;.</li>
                <li>Pour rechercher des images enregistr&eacute;es pendant la p&eacute;riode de chevauchement, s&eacute;lectionnez une section qui se chevauche.</li>
                <li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong> pour afficher les &eacute;v&eacute;nements recherch&eacute;s sur la barre de temps.</li>
                <li>Cliquez sur le bouton Lecture.</li>
                <li>Pour arr&ecirc;ter la lecture, cliquez sur le bouton Pause. &nbsp;</li>
            </ol>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Lecture d&apos;une image enregistr&eacute;e via la recherche par tranche horaire</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Recherchez une image enregistr&eacute;e en s&eacute;lectionnant une date et une heure dans le calendrier. </p>
            <p>Lorsque vous cliquez sur le bouton <strong class="UI">[Auj.]</strong> dans la barre de temps, la recherche portera exclusivement sur les images enregistr&eacute;es le jour m&ecirc;me.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>Pour effectuer une recherche par heure et lecture</h4>
            <ol>
                <li>Cliquez sur le bouton Montrer sur l&rsquo;&eacute;cran de lecture. Si une vid&eacute;o est prise le jour de la recherche, elle sera affich&eacute;e sur la barre de temps.</li>
                <li>Cliquez sur une date dans la barre d&rsquo;heure, s&eacute;lectionnez la date d&eacute;sir&eacute;e dans le calendrier et r&eacute;glez l&rsquo;heure de d&eacute;but et de fin.</li>
                <ul>
                    <li>Si vous s&eacute;lectionnez <strong class="UI">[Toute la journée]</strong>, l&rsquo;heure de d&eacute;but et de fin sera r&eacute;gl&eacute;e automatiquement sur une plage comprise entre 00:00:00 &agrave; 23:59:59.</li>
                </ul>
                <li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong>.</li>
                <li>Cliquez sur le bouton Lecture. La vid&eacute;o de l&rsquo;heure s&eacute;lectionn&eacute;e sera lue.</li>
                <ul>
                    <li>Si la vid&eacute;o est d&eacute;j&agrave; en cours de lecture, l&rsquo;heure d&rsquo;enregistrement de la vid&eacute;o en cours est affich&eacute;e.</li>
                    <li>Vous pouvez rembobiner ou avancer rapidement la vid&eacute;o et modifier la vitesse de lecture si n&eacute;cessaire.</li>
                    <li>Cliquez sur la fl&egrave;che gauche pour revenir en arri&egrave;re d&rsquo;une image. Cliquez sur la fl&egrave;che vers la droite pour avancer d&rsquo;une image. &nbsp;</li>
                    <li>Cliquez sur le bouton Vitesse de lecture pour changer la vitesse &agrave; 1x, 2x, 4x, 8x, -1x, -2x, -4x ou -8x. Lorsque la vitesse change, vous pouvez r&eacute;gler la vitesse de lecture souhait&eacute;e.</li>
                    <li>D&eacute;placez le bouton le long de la barre de temps pour lire la vid&eacute;o de l&rsquo;heure d&eacute;sir&eacute;e.</li>
                </ul>
            </ol>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr" ng-if="BrowserBackup == undefined || BrowserBackup">
<div class="wn5-setup-section" ng-if="BrowserBackup == undefined || BrowserBackup">
    <div class="wn5-setup-section-heading">
        <h2>Sauvegarde d&rsquo;une vid&eacute;o enregistr&eacute;e</h2>
    </div>
    <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <p>Les vid&eacute;os enregistr&eacute;es peuvent &ecirc;tre sauvegard&eacute;es dans des fichiers.</p>
            </div>
		 <div class="wn5-online-help-action">
                <h4>Pour enregistrer une vid&eacute;o</h4>
                <ol>
                    <li>Cliquez sur le bouton <strong class="UI">[Exporter]</strong>.</li>
                    <li>Dans <strong class="UI">[Heure]</strong>, s&eacute;lectionnez l&rsquo;heure de d&eacute;but et l&rsquo;heure de fin de la vid&eacute;o &agrave; enregistrer.</li>
                    <li>Dans <strong class="UI">[Type]</strong>, s&eacute;lectionnez le type de fichier que vous voulez.</li>
                    <ul>
                        <li>AVI&nbsp;: Enregistre dans .avi.</li>
                        <li>ZIP&nbsp;: Enregistre dans .zip. Vous pouvez d&eacute;finir un mot de passe pour vos fichiers. Vous devez entrer ce mot de passe pour d&eacute;compresser ces fichiers et lire les vid&eacute;os. (La fonction de configuration du mot de passe pour les vidéos enregistrées n'est pas disponible sur certains modèles d'appareils photo.)</li>
                    </ul>
                    <li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong>.</li>
                </ol>
            </div>
    </div>
</div>




<hr class="wn5-setup-hr">