<h1 class="wn5-setup-main-title">外部PTZ</h1>
<div class="wn5-setup-section">
    <p>カメラRS-485かRS-422ポートに接続されたパン/チルトレシーバーでPTZを制御するように設定することができます。プリセットを設定したり、カメラとアクセスされたパン/チルトレシーバーとの通信モードを設定することができます。</p>
</div>


<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
            <div class="wn5-setup-section-heading">
                <h2><a name="channel"></a>チャンネル選択</h2>
            </div>
            <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>カメラチャンネルを選択した後、チャンネル別に外部PTZの詳細を設定することができます。</p>
            <p ng-if="objectDetectionSupport">チャンネル1は、ライブ映像を表示するチャンネルであり、チャンネル2はデジタルPTZ映像を表示するチャンネルです。[外部PTZ]は、チャンネル1でのみ設定できます。</p>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr" ng-if="GlobalPTZMode && MaxChannel > 1">
<div class="wn5-setup-section" ng-if="GlobalPTZMode && MaxChannel > 1">
            <div class="wn5-setup-section-heading">
                <h2>外部PTZ</h2>
            </div>
            <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
		    <h3>外部PTZ有効化</h3>
            <p>カメラRS-485かRS-422ポートに接続されたパン/チルトレシーバーでPTZを制御するように外部PTZを使用するには<strong class="UI">[外部PTZ有効化]</strong>を選択します。</p>
        </div>
		
		<div class="wn5-online-help-info">
        <h4>参考事項</h4>
            <ul>
                <li>[外部PTZ有効化]を選択すると、外部PTZ機能のみ使用できます。[外部PTZ有効化]を選択しない場合、デジタルPTZ機能のみ使用できます。</li>
                <li>[外部PTZ有効化]を選択すると、ライブページでチャンネル1を選択した後、PTZを制御できます。</li>
                <li>[外部PTZ有効化]オプションを変更すると、カメラが再起動されます。</li>
            </ul>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>PTZ調整</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>カメラのパン、チルト&amp;ズーム動作を調整することができます。</p>
        </div>
			
        <div class="wn5-online-help-action">
    	   <h4><a name="ptzcontrol"></a>PTZ調整</h4>
            <ul>
                <li><span class="tui tui-wn5-ptz-handle"></span>アイコンをマウスでドラッグすると、カメラがパンとチルトに移動します。</li>
                <li>ズーム棒で<strong class="UI">[+]</strong>ボタンをクリックして画面をズームインしたり、<strong class="UI">[-]</strong>ボタンをクリックして画面をズームアウトして映像倍率を選択します。</li>
                <li><span class="tui tui-wn5-ptz-near"></span>アイコンをクリックしてフォーカスを近く(near)移動したり、<span class="tui tui-wn5-ptz-far"></span>アイコンをクリックしてフォーカスを遠く(far)移動します。</li>
                <li>カメラのフォーカスを自動で一度合わせるには、<span class="tui tui-wn5-simple-focus"></span>ボタンをクリックします。</li>
            </ul>
    	</div>
    </div>
</div>
<hr class="wn5-setup-hr" ng-if="!ZoomOnlyModel">
<div class="wn5-setup-section" ng-if="!ZoomOnlyModel">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>プリセット</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>プリセットはカメラのビューを設定しておくことを意味します。128つのプリセットを設定することができます。</p>
        </div>
        <div class="wn5-online-help-action">
    	   <h4>プリセット設定</h4>
    		<ol>
    			<li>PTZ制御画面で<span class="tui tui-wn5-ptz-plus"></span>ボタンをクリックしてカメラの映像をズームインしたり、<span class="tui tui-wn5-ptz-handle"></span>ボタンをクリックしてからドラッグしてカメラビューを調整します。</li>
    			<li><strong class="UI">[No.]</strong>で設定したいプリセットNo.を選択します。</li>
    			<li><strong class="UI">[名前]</strong>に該当プリセット名を入力します。</li>
                <li><strong class="UI">[追加]</strong>ボタンをクリックします。</li>
    		</ol>
    	</div>
        <div class="wn5-online-help-action">
    	   <h4>プリセットに移動</h4>
    		<ol><li><strong class="UI">[No.]</strong>で設定したいプリセットNo.を選択します。</li>
    			<li><strong class="UI">[移動]</strong>ボタンをクリックすると、設定しておいた位置にカメラのビューが移動します。</li>
    			
    		</ol>
    	</div>
        <div class="wn5-online-help-action">
    	   <h4>プリセット削除</h4>
    		<ol><li><strong class="UI">[No.]</strong>で削除するプリセットNo.を選択します。</li>
                <li><strong class="UI">[削除]</strong>ボタンをクリックすると、プリセットを削除します。</li>
    		</ol>
        </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="group"></a>シリアルポート設定</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>外部のパン/チルトレシーバーとのアクセス値を設定します。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
        </div>
		
			<div class="wn5-setup-section-article-content">
			<h3>プロトコル</h3>
			<p>レシーバーとカメラが通信するプロトコルを選択します。</p>
		    </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>カメラID</h3>
                <p>カメラIDが表示されます。固定値に変更できません。</p>
            </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>ボーレート</h3>
                <p>RS-485の通信速度を設定します。</p>
            </div>
			
            <div class="wn5-setup-section-article-content">
                <h3>データビット</h3>
                <p>データビットを設定します。</p>
            </div>
			
            <div class="wn5-setup-section-article-content">
                <h3>パリティビット</h3>
                <p>データ伝送処理エラーを確認するためのパリティビットを設定します。</p>
            </div>
			
            <div class="wn5-setup-section-article-content">
                <h3>ストップビット</h3>
            <p>使用されるストップビットを設定します。</p>
				</div>
<div class="wn5-setup-section-article-content">
                <h3>ONVIFフォーカス移動</h3>
            <p>外部カメラフォーカスをONVIFプロトコルに調整するように設定するには、<strong class="UI">[On]</strong>を選択します。</p>
            </div>
        <div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>

            <ul>
                <li>本操作のためには、ネットワークカメラとパン/チルトレシーバーが正しく接続されていなければなりません。またパン/チルトレシーバーを駆動できるようにシリアルポートを設定する必要があります。</li>
                <li>レシーバーとアクセスする時、レシーバーに対応する機能を確認してください。レシーバーまたはプロトコルの仕様によって未対応の機能があります。詳細は下記の表を参照してください。</li>
            </ul>
            <table class="table table-bordered wn5-setup-table">
                <tr>
                 <thead>
                    <td>プロトコル</td>
                    <td>P制御</td>
                    <td>P移動速度</td>
                    <td>T制御</td>
                    <td>T移動速度</td>
                    <td>ズーム制御</td>
                    <td>ズーム移動速度</td>
                    <td>フォーカス制御</td>
                    <td>フォーカス制御速度</td>
                    <td>プリセット保存</td>
                    <td>プリセット移動</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SAMSUNG-T</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>SAMSUNG-E</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>PELCO-D</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>PELCO-P</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>SUNGJIN</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>PANASONIC</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>HONEYWELL</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>AD</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>VICON</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>GE</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>BOSCH</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>O</td>
                    <td>X</td>
                    <td>O</td>
                    <td>O</td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</div>
<hr class="wn5-setup-hr">