
<h1 class="wn5-setup-main-title">プリセット設定</h1>
<div class="wn5-setup-section">
    <p>カメラのプリセットを設定・削除することができます。現在の位置をカメラの最終ポジションに保存有無を選択して保存間隔を設定することができます。</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>プリセット設定</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>プリセットはカメラのビューを設定しておくことを意味します。カメラプリセットを設定した後、該当ビューに移動することができます。300つのプリセットを設定することができます。</p>
        </div>
        <div class="wn5-online-help-action">
    	   <h4>プリセット設定</h4>
            <ol>
                <li>下記のように画面を調整してカメラビューを調整します。</li>
                <ul>
                    <li><strong class="UI">ズーム</strong>で<strong class="UI">[+]</strong>ボタンをクリックして画面をズームインしたり、<strong class="UI">[-]</strong>ボタンをクリックして画面をズームアウトして映像倍率を選択します。</li>
                    <ul>
                    <li>ズームインするには、UI右側のバーを上に上げるか<strong class="UI">[+]</strong>ボタンを押すと、画面の倍率を拡大します。バーの位置が中央から遠いほど、ズームイン速度が早くなります。</li>
                    <li>ズームアウトするには、UI右側のバーを下に下げるか<strong class="UI">[-]</strong>ボタンを押すと、画面の倍率を縮小します。バーの位置が中央から遠いほど、ズームアウト速度が早くなります。 </li>
                    </ul>
                    <li><strong class="UI">[フォーカス]</strong>で<span class="tui tui-wn5-ptz-near"></span>ボタンや<span class="tui tui-wn5-ptz-far"></span>ボタンをクリックしてカメラのフォーカスを調整します。</li>
                    <ul>
                        <li>画面のフォーカスを近距離、遠距離に調整します。</li>
                    </ul>
                    <li>カメラのフォーカスを自動で一度合わせるには、<strong class="UI">[フォーカス]</strong>で<span class="tui tui-wn5-simple-focus"></span>ボタンをクリックします。</li>
                </ul>
                <li><strong class="UI">[プリセット設定]</strong>ボタンをクリックします。</li>
                <li><strong class="UI">[プリセット設定]</strong>のダイアログボックスから<strong class="UI">[No.]</strong>で設定したいプリセットNo.を選択します。</li>
                <li><strong class="UI">[名前]</strong>に該当プリセット名を入力します。</li>
                <li><strong class="UI">[OK]</strong>ボタンをクリックします。</li>
            </ol>
            <p>追加したプリセットが<strong class="UI">[プリセット設定]</strong>リストに表示されます。プリセットリストで該当プリセットの詳細を設定することができます。</p>
    	</div>
		<div class="wn5-online-help-action">
            <h4>ホームへ戻る</h4>
             <ul>
                 <li><strong class="UI">[ホームへ戻る]</strong>ボタンをクリックします。</li>
             </ul>
         </div>
         <div class="wn5-online-help-action">
             <h4>ホーム設定</h4>
             <ol>
                 <li>下記のようにホームに設定するカメラ位置を調整します。</li>
                 <ul>
                    <li><strong class="UI">ズーム</strong>で<strong class="UI">[+]</strong>ボタンをクリックして画面をズームインしたり、<strong class="UI">[-]</strong>ボタンをクリックして画面をズームアウトして映像倍率を選択します。</li>
                    <li><strong class="UI">[フォーカス]</strong>で<span class="tui tui-wn5-ptz-near"></span>ボタンや<span class="tui tui-wn5-ptz-far"></span>ボタンをクリックしてカメラのフォーカスを調整します。</li>
                     <li>カメラのフォーカスを自動で一度合わせるには、<span class="tui tui-wn5-simple-focus"></span>ボタンをクリックします。</li>
                 </ul>
                 <li><strong class="UI">[ホーム設定]</strong>ボタンをクリックします。</li>
             </ol>
         </div>			
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>プリセット設定</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>設定したプリセットリストが表示されます。</p>
            <p><strong class="UI">[プリセット設定]</strong>のダイアログボックスで入力したプリセット名が<strong class="UI">[No.]</strong>と<strong class="UI">[名前]</strong>カラムにそれぞれ表示されます。</p>
        </div>
		<div class="wn5-online-help-action">
    	   <h4>プリセットに移動</h4>
    		<ol><li><strong class="UI">[No.]</strong>カラムの横にあるチェックボックスで設定したいプリセットを選択します。</li>
    			<li><strong class="UI">[移動]</strong>ボタンをクリックすると、設定しておいた位置にカメラのビューが移動します。</li>
    		</ol>
    	</div>
        <div class="wn5-online-help-action">
    	   <h4>プリセット削除</h4>
    		<ol><li><strong class="UI">[No.]</strong>カラムの横にあるチェックボックスで削除するプリセットを選択します。</li>
                <li><strong class="UI">[削除]</strong>ボタンをクリックすると、プリセットを削除します。</li>
    		</ol>
        </div>         
	</div>
</div>

<hr class="wn5-setup-hr" ng-if="RememberLastPosition">
<div class="wn5-setup-section" ng-if="RememberLastPosition">
    <div class="wn5-setup-section-heading">
        <h2>最終ポジション</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>カメラの電源をオフにしてからオンすると、保存された最終ポジションに移動するように設定することができます。カメラ最終ポジションの保存有無を選択して保存間隔を選択します。</p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>最終ポジション</h3>
            <p>最終ポジションを保存するには、<strong class="UI">[有効]</strong>を選択します。</p>
        </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>時間</h3>
            <p>現在位置を最終ポジションに保存する保存間隔を設定します。単位は「秒」です。保存間隔をフィールドに入力した後、<strong class="UI">[設定]</strong>をクリックしてください。</p>
            </div>
             </div>		
        </div>
        
        <hr class="wn5-setup-hr" ng-if="AutoRunModes">
<div class="wn5-setup-section" ng-if="AutoRunModes">
    <div class="wn5-setup-section-heading">
        <h2>オートラン</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>オートランはユーザーが一定時間カメラを操作しない場合、事前に指定した動作を自動に実行する機能です。</p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>モード</h3>
            <ul>
                <li><strong class="UI">無効</strong>：オートラン機能を使用しません。</li>
                <li><strong class="UI">ホーム</strong>：ホームポジションにカメラが移動します。</li>
            </ul>
        </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>時間</h3>
            <p>カメラが自動に動作する時間をクリックします。</p>
            </div>
             </div>		
		</div>
<hr class="wn5-setup-hr">