<h1 class="wn5-setup-main-title">PT limit</h1>
<div class="wn5-setup-section">
    <p>カメラのパンとチルトモーションが制限された範囲でしか動けないように設定することができます。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
</div>
<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
    <ul>
        <li><strong class="UI">[パン/チルト制限]</strong>で<strong class="UI">[有効]</strong>を選択してPT limit機能を有効にすると、制限された範囲でしかプリセットを設定することができません。</li>
        <li>PT limit機能を使用する前に設定したパンとチルトモーションの範囲を超過して設定したプリセットがある場合、プリセットは初期設定どおりに動作します。</li>
    </ul>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>PTZ調整</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>カメラのパン、チルト&amp;ズーム動作を調整することができます。</p>
        </div>
			
        <div class="wn5-online-help-action">
    	   <h4><a name="ptzcontrol"></a>PTZ調整</h4>
            <ul>
                <li><span class="tui tui-wn5-ptz-handle"></span>アイコンをマウスでドラッグすると、カメラがパンとチルトに移動します。</li>
                <li ng-if="PanTiltOnlyModel || PTZModel">ズーム棒で<strong class="UI">[+]</strong>ボタンをクリックして画面をズームインしたり、<strong class="UI">[-]</strong>ボタンをクリックして画面をズームアウトして映像倍率を選択します。</li>
                <li ng-if="(PanTiltOnlyModel && ContinousFocus) || PTZModel"><span class="tui tui-wn5-ptz-near"></span>アイコンをクリックしてフォーカスを近く(near)移動したり、<span class="tui tui-wn5-ptz-far"></span>アイコンをクリックしてフォーカスを遠く(far)移動します。</li>
                <li>カメラのフォーカスを自動で一度合わせるには、<span class="tui tui-wn5-simple-focus"></span>ボタンをクリックします。</li>
            </ul>
            <p><strong class="UI">[パンのグラウンド位置設定]</strong>をクリックすると、現在撮像している映像のパン(Pan)の角度を0度に設定します。</p>
    	</div>
    </div>
</div>
<hr class="wn5-setup-hr" ng-if="PTLimitSpeedTypeOptions">
<div class="wn5-setup-section" ng-if="PTLimitSpeedTypeOptions">
    <div class="wn5-setup-section-heading">
        <h2>パン/チルトリミット</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>パンやチルト動作の範囲を制限するには、<strong class="UI">[有効]</strong>を選択します。設定された範囲内でしかパンとチルトは動作しません。</p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>モード</h3>
            <p>制限範囲を設定する動作を選択します。</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="TiltRangeOptions">
            <h3>チルト角度</h3>
            <p><strong class="UI">[モード]</strong>で<strong class="UI">[チルトリミット]</strong>を選択した場合、表示されます。チルトモーションの角度を設定します。</p>
        </div>

            <div class="wn5-setup-section-article-content">
                <h3>動作</h3>
            <p>パンとチルトが動作する最大範囲を設定します。</p>
        </div>
            <div class="wn5-online-help-action">
    	   <h4>パンとチルト動作の制限範囲設定</h4>
                <ol>
                    <li><strong class="UI">[開始]</strong>ボタンをクリックして設定を開始します。</li>
                    <li><strong class="UI">[設定]</strong>ボタンをクリックすると、カメラの映像画面に開始点の位置が表示されます。PTZを調整しながら制限範囲の開始点位置を設定します。</li>
                    <li><strong class="UI">[設定]</strong>ボタンをクリックすると、カメラの映像画面に最終点の位置が表示されます。PTZを調整しながら制限範囲の最終点位置を設定します。</li>
                    <li><strong class="UI">[設定]</strong>ボタンをもう一度クリックします。</li>
                </ol>
            <p><strong class="UI">[キャンセル]</strong>ボタンをクリックすると、現在設定中の値をすべて削除します。<strong class="UI">[開始]</strong>ボタンをクリックして動作制限範囲を再設定することができます。</p>
            </div>
            </div>
             </div>	


<hr class="wn5-setup-hr" ng-if="PTLimitSpeedTypeOptions">
    <div class="wn5-setup-section" ng-if="PTLimitSpeedTypeOptions">
        <div class="wn5-setup-section-heading">
        <h2>パン/タイル速度</h2>
       </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>ジョグ速度レベルを指数と線形パターンの中で選択することができます。</p>
            <ul>
                    <li><strong class="UI">指数</strong>：パン/チルトを曲線形の速度で制御します。</li>
                    <li><strong class="UI">線形</strong>：パン/チルトを一定な速度で制御します。</li>
            </ul>  
 </div>
	</div>
</div>
             
             


<hr class="wn5-setup-hr"  ng-if="ProportionalPTSpeedModes">
<div class="wn5-setup-section"  ng-if="ProportionalPTSpeedModes">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="group"></a>均等パン/チルト</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>ズーム倍率によってパン、チルト移動速度を調整します。ズーム倍率が増加するとパン、チルト移動速度が減少します。</p>
        </div>
        <div class="wn5-setup-section-article-content">
                <h3>モード</h3>
            <p>ズーム倍率によってパン、チルトの手動操作速度が変更されるようにオプションを選択することができます。</p>
       <!--     <ul>
                <li><strong class="UI">無効</strong>：均等パン/チルトを解除します。</li>
                <li><strong class="UI">遅い</strong>：ズーム倍率に比例してパン、チルトの手動操作速度が変更されます。中より20%遅くなります。</li>
                <li><strong class="UI">中</strong>：ズーム倍率に比例してパン、チルトの手動操作速度が変更されます。</li>
                <li><strong class="UI">早い</strong>：ズーム倍率に比例してパン、チルトの手動操作速度が変更されます。中より20%早くなります。</li>
            </ul>  --> 
        </div>
	</div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>パン/チルト初期化</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>カメラのパンとチルトモーター位置の初期化有無を設定して初期化周期や時間を設定することができます。</p>
            <p>例えば、<strong class="UI">[使用]</strong>を選択した後、<strong class="UI">[継続時間]</strong>は「2日」、<strong class="UI">[時間]</strong>は「9」に選択した場合、2日ごとに午前9時にパン/チルトの位置が初期化されます。カメラ設定時間が2000年1月1日の場合、2000年1月3日9時に初期化動作が開始され、この後2000年1月5日、7日のように2日ごとに午前9時定刻、パン/チルト位置が初期化されます。</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h3>継続時間</h3>
                <p>初期化周期を設定します。例えば、「2日」を選択した場合には2日ごとに初期化します。</p>
            </div>
            <div class="wn5-setup-section-article-content">
                <h3>時間</h3>
                <p>初期化動作時間を設定します。0時から23時まで定刻時間を選択することができます。</p>
            </div>
            <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
    <ul>
        <li>&plusmn;10分ぐらいの誤差が発生することがあります。</li>
        <li>パン/チルト初期化動作後、前のPTZ動作状況を維持します。例えば、プリセット動作中に初期化動作を行った場合、初期化を完了してからプリセット動作に戻ります。</li>
    </ul>
</div>
    </div>
</div>
<hr class="wn5-setup-hr">