<h1 class="wn5-setup-main-title">PTZ設定</h1>
<div class="wn5-setup-section">
    <p>カメラのPTZプリセット位置を設定してスウィング、グループ、ツアー、トラッキング、オートランなどの詳細機能を設定することができます。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>プリセット</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>PTZカメラのプリセット位置を設定して最終ポジションを保存するかを設定することができます。</p>
        </div>
		
        <div class="wn5-online-help-action">
            <h4>プリセット設定</h4>
            <ol>
                <li>下記のどおりにカメラの位置を調整します。</li>
                <ul>
                    <li><span class="tui tui-wn5-ptz-handle"></span>ボタンをマウスでドラッグすると、カメラがパンとチルトに移動します。</li>
                    <li>ズーム棒で<strong class="UI">[+]</strong>ボタンをクリックして画面をズームインしたり、<strong class="UI">[-]</strong>ボタンをクリックして画面をズームアウトして映像倍率を選択します。</li>
                    <li><span class="tui tui-wn5-ptz-near"></span>ボタンをクリックしてフォーカスを近く(near)移動したり、<span class="tui tui-wn5-ptz-far"></span>ボタンをクリックしてフォーカスを遠く(far)移動します。</li>
                    <li>カメラのフォーカスを自動で一度合わせるには、<span class="tui tui-wn5-simple-focus"></span>ボタンをクリックします。</li>
                </ul>
                <li><strong class="UI">[プリセット設定]</strong>ボタンをクリックします。</li>
                <li><strong class="UI">[プリセット設定]</strong>のダイアログボックスから<strong class="UI">[No.]</strong>で設定したいプリセットNo.を選択します。</li>
                <li><strong class="UI">[名前]</strong>に該当プリセット名を入力します。プリセット名は、英数字のみ入力することができます。</li>
                <li><strong class="UI">[OK]</strong>ボタンをクリックします。</li>
            </ol>
            <p>追加したプリセットが<strong class="UI">[プリセット設定]</strong>リストに表示されます。プリセットリストで該当プリセットの詳細を設定することができます。</p>
        </div>
				<div class="wn5-online-help-action">
    	   <h4>プリセット削除</h4>
            <ul>
                <li><strong class="UI">[プリセット設定]</strong>のプリセットリストで削除するプリセットのチェックボックスを選択した後、<strong class="UI">[削除]</strong>ボタンをクリックします。</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>ホームへ戻る</h4>
            <ul>
                <li><strong class="UI">[ホームへ戻る]</strong>ボタンをクリックします。</li>
            </ul>
    	</div>
        <div class="wn5-online-help-action">
            <h4>ホーム設定</h4>
            <ol>
                <li>下記のようにホームに設定するカメラ位置を調整します。</li>
                <ul>
                    <li><span class="tui tui-wn5-ptz-handle"></span>ボタンをマウスでドラッグすると、カメラがパンとチルトに移動します。</li>
                    <li>ズーム棒で<strong class="UI">[+]</strong>ボタンをクリックして画面をズームインしたり、<strong class="UI">[-]</strong>ボタンをクリックして画面をズームアウトして映像倍率を選択します。</li>
                    <li><span class="tui tui-wn5-ptz-near"></span>ボタンをクリックしてフォーカスを近く(near)移動したり、<span class="tui tui-wn5-ptz-far"></span>ボタンをクリックしてフォーカスを遠く(far)移動します。</li>
                    <li>カメラのフォーカスを自動で一度合わせるには、<span class="tui tui-wn5-simple-focus"></span>ボタンをクリックします。</li>
                </ul>
                <li><strong class="UI">[ホーム設定]</strong>ボタンをクリックします。</li>
            </ol>
        </div>
 <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>ホーム位置を設定した後、カメラが再起動されるとホームポジションに位置します。(他のシーケンス動作中の場合、該当シーケンスが動作します。)</li>
            </ul>
            </div>
        <div class="wn5-setup-section-article-content">
            <h3>プリセット設定</h3>
            <p>プリセットリストを確認して各プリセット別に詳細設定を修正したり削除することができます。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>No.</h5>
       
            <p><strong class="UI">[プリセット設定]</strong>のダイアログボックスで入力したプリセットNo.です。</p>
</div>
        <div classトラッキング="wn5-setup-section-article-content">
            <h5>名前</h5>
       
            <p><strong class="UI">[プリセット設定]</strong>のダイアログボックスで入力したプリセット名です。</p>
</div>

        <div class="wn5-setup-section-article-content">
            <h5>フォローアップアクション</h5>
       
            <p>カメラが該当プリセット位置に移動した後、実行するカメラの動作を設定します。(スウィング機能では適用されません。) </p>
        <ul>
            <li><strong class="UI">off</strong>：カメラが該当プリセット位置に移動した後、何の動作もしません。</li>
                <li><strong class="UI">オートラン</strong>：<a class="wn5-online-help-link" href="ptzInfoSetup.html#autorun" ng-href="#/help/ptzSetup_ptzInfoSetup?#autorun"><strong class="UI">[オートラン]</strong></a><strong class="UI"></strong>タブで設定した動作が自動に実行されます。オートラン<strong class="UI">[モード]</strong>で<strong class="UI">[off]</strong>を選択したり、オートラン動作がない場合にはプリセット実行状況が維持されます。(グループまたはツアー機能でプリセットが実行されると、適用されません。)
</li>
                <li><strong class="UI">オートトラッキング</strong>：<strong class="UI">[トラッキング時間]</strong>カラムで設定した時間だけオートトラッキングを実行します。</li>
                <li><strong>オートトラッキング &gt; ホームへ</strong>：オートトラッキング動作実行後、PTZホーム位置へ戻ります。ホーム位置を設定する方法は<a href="ptzInfoSetup.html#set_home">ホーム設定</a>を参照してください。</li>
                <li><strong class="UI">ビデオ映像分析</strong>：ビデオ映像分析の動作が実行されます。</li>
        </ul>
    </div>
        <div class="wn5-setup-section-article-content">
            <h5>トラッキング時間</h5>
                   <p><strong class="UI">[フォローアップアクション]</strong>で<strong class="UI">[オートトラッキング]</strong>を選択した場合、オートトラッキングを実行するトラッキング時間を設定します。</p>
        </div>
	   <div class="wn5-setup-section-article-content">
            <h5>メニューに移動</h5>
       
            <p>設定ページに移動して詳細オプションを確認したり設定することができます。</p>
            <ul>
                <li><strong class="UI">カメラ設定</strong>：<strong class="UI">[映像&amp;音声] </strong>&gt; <strong class="UI">[カメラ設定]</strong>ページに移動します。選択したプリセット周囲環境に適するようにカメラ設定を変更することができます。 &nbsp;</li>
                <li><strong class="UI">モーション検知</strong>：<strong class="UI">[分析] </strong>&gt; <strong class="UI">[モーション検知]</strong>ページに移動します。<strong class="UI">[モーション検知]</strong>ページで<strong class="UI">[タイプ]</strong>オプションの中で<strong class="UI">[プリセット]</strong>を選択すると、プリセット別にモーション検知イベントをそれぞれ設定することができます。</li>
                <li><strong class="UI">IVA</strong>：<strong class="UI">[分析] </strong>&gt; <strong class="UI">[IVA]</strong>ページに移動します。<strong class="UI">[IVA]</strong>ページで<strong class="UI">[タイプ]</strong>オプションの中で<strong class="UI">[プリセット]</strong>を選択すると、プリセット別にIVA(インテリジェントビデオ解析)イベントをそれぞれ設定することができます。</li>
            </ul>
    </div>
	
	<!--  임시삭제. 마지막 항목만 남겨야 함		           <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>プリセット設定を保存してから、必ず「シーケンス設定」またはプリセットを実行してください。 &nbsp;該当動作をしない場合、意図しないプリセット設定変更などの誤動作が発生することがあります。</li>
                <li>プリセットを設定している間には、プリセット設定&amp;ホームポジション設定、ホームポジションに移動機能は実行できません。</li>
                <li>高温もしくは低温状況でシーケンス動作を実行する時、シーケンス動作の正確度のために設定速度より遅く動作することがあります。</li>
 
            </ul>
            </div>  --> 
        <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h3>最終ポジション</h3>
            <p>カメラの電源をオフにしてからオンすると、保存された最終ポジションに移動するように設定することができます。カメラ最終ポジションの保存有無を選択して保存間隔を選択します。</p>
        </div>
            <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>最終ポジション保存</h5>
                <p>最終ポジションを保存するには、<strong class="UI">[有効]</strong>を選択します。</p>
			
        </div> 
<div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>時間</h5>
       
                <p>現在位置を最終ポジションに保存する保存間隔を設定します。単位は「秒」です。保存間隔をフィールドに入力した後、<strong class="UI">[適用]</strong>をクリックしてください。</p>
        </div>

    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>スウィング</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>スウィングは2つのプリセット区間をカメラが往復する機能です。</p>
        </div>
            <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>スウィング機能を使用するには、最小2つ以上のプリセットが追加されていなければなりません。<a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[プリセット]</strong>タブ</a>でプリセットを追加したり修正することができます。</li>
                <li>開始プリセットから終了プリセットに移動する時、画面で右側の方向に移動します。<strong class="UI">[映像&amp;音声]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="../video&audio/video.html" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset">[ビデオ設定]</a></strong>&gt;<strong class="UI">[ビデオ回転]</strong>&gt;<strong class="UI">[フリップ]</strong>で「有効」を設定すると、反対側に移動します。</li>
            </ul>
            </div>

		<div class="wn5-setup-section-article-content">
            <h3>スウィング設定</h3><!-- <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 스윙 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 스윙 기능이 멈춥니다. </p>  --></div>
            <div class="wn5-setup-section-article-content">
                <h5>起点プリセットNo.</h5>
               <p>スウィング動作を開始する起点プリセットNo.を選択します。</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>終点プリセットNo.</h5>
                <p>スウィング動作を終了する終点プリセットNo.を選択します。</p><!--  <p>&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋] 탭</strong></a>에서 추가하거나 수정할 수 있습니다.</p> --></div>
		<div class="wn5-setup-section-article-content">
                <h5>速度</h5>
                <p>開始プリセットから終了プリセットに移動する時の移動速度です。</p>
                <p>値が大きい数字に設定するほど、開始プリセット位置から終了プリセット位置に素早く移動します。</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>滞留時間</h5>
                <p>開始プリセットと終了プリセット位置でカメラがそれぞれ止まって待機する時間です。</p>
                <p>例えば「1」を入力した場合、開始プリセット位置で「1秒」を滞留してから終了プリセット位置にカメラが移動します。</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h5>スウィングモード</h5>
                <p>開始プリセットから終了プリセットに往復で移動する時、カメラのパンやチルト動作だけで移動するかパンとチルトのすべての動作で移動するか選択します。</p>
            </div>
        <div class="wn5-online-help-action">
            <h4>スウィング設定</h4>
                <ol>
                    <li><strong class="UI">[開始時間プリセットNo.]</strong>カラムでスウィングを開始するプリセットNo.を選択します。</li>
                    <li><strong class="UI">[終了時間プリセットNo.]</strong>カラムでスウィングを終了するプリセットNo.を選択します。</li>
                    <li><strong class="UI">[速度]</strong>カラムで開始プリセットから終了プリセットまで移動する移動速度を入力します。</li>
                    <li><strong class="UI">[滞留時間]</strong>カラムで開始プリセットでどれだけ滞留してから終了プリセットに移動するかプリセットの滞留時間を入力します。</li>
                    <li><strong class="UI">[スウィングモード]</strong>カラムでスウィング動作モードを設定します。例えば、パン方向だけにプリセットで移動するには[パン]を選択します。 &nbsp;</li>
                </ol>
        </div>
		        <div class="wn5-online-help-action">
            <h4>スウィング開始</h4>
                <ul>
                    <li>スウィング動作を開始するには、<strong class="UI">[開始]</strong>ボタンをクリックします。</li>
                </ul>
        </div>
		        <div class="wn5-online-help-action">
            <h4>スウィング中止</h4>
                <ul>
                    <li>スウィング動作を中止するには、<strong class="UI">[中止]</strong>ボタンをクリックします。</li>
                </ul>
        </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a name="group"></a>グループ</h2>
    </div>
    <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <p>グループ機能は、すでに指定した複数のプリセットをグループ化して連続的に読み込む機能です。</p>
                <p>6つのグループまで設定可能で、グループごとに128つのプリセットまで保存することができます。</p>
            </div>
                <div class="wn5-online-help-info">
                    <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
                    <ul>
                        <li>グループ機能を使用するには、プリセットが追加されていなければなりません。<a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[プリセット]</strong>タブ</a>でプリセットを追加することができます。</li>
                    </ul>
                </div>

		<div class="wn5-setup-section-article-content">
            <h3>グループ設定</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 그룹&nbsp;기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 그룹&nbsp;동작이 멈춥니다. </p> --></div>        
                <div class="wn5-setup-section-article-content">
                    <h5>プリセットNo.</h5>
                    <p>グループに保存するプリセットNo.を選択します。</p><!-- <p><a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋]</strong> 탭</a>에서 추가하거나 수정할 수 있습니다.</p> --></div>
      
		<div class="wn5-setup-section-article-content">
                <h5>速度</h5>
                    <p>プリセット間の移動速度、つまり次のプリセット位置に移動する時にカメラのモーション速度を入力します。</p>
                    <p>値が大きい数字に設定するほど、現在のプリセット位置から次のプリセット位置に素早く移動します。</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>滞留時間</h5>
                    <p>各プリセット位置での滞留時間を入力します。</p>
                    <p>例えば、1番プリセットで滞留時間を「1」に選択すると、1番プリセット位置で1秒間滞留してから次のプリセット位置に移動します。 &nbsp;</p>
        </div>
            
                <div class="wn5-online-help-action">
                    <h4>グループ1設定</h4>
                    <ol>
                        <li>グループ1を設定するには、グループのドロップダウンリストで「1」を選択します。</li>
                        <li><strong class="UI">[プリセットNo.]</strong>カラムで「グループ1」に追加するプリセットNo.を選択します。</li>
                        <li><strong class="UI">[速度]</strong>カラムで設定中のプリセット位置から次のプリセット位置にカメラが移動する速度を入力します。</li>
                        <li><strong class="UI">[滞留時間]</strong>カラムで設定中のプリセット位置にカメラがどれだけ滞留してから次のプリセット位置に移動するか滞留時間を設定します。</li>
                        <li><strong class="UI">[適用]</strong>ボタンをクリックします。</li>
                    </ol>
                </div>
				        <div class="wn5-online-help-action">
            <h4>グループ設定値削除</h4>
                    <ol>
                        <li>グループのドロップダウンリストで既存に設定した値を初期化するグループNo.を選択します。</li>
                        <li><strong class="UI">[削除]</strong>ボタンをクリックします。</li>
                    </ol>
                </div>
						        <div class="wn5-online-help-action">
            <h4>グループ動作開始</h4>
                    <ol>
                        <li>グループのドロップダウンリストで動作するグループNo.を選択します。</li>
                        <li><strong class="UI">[開始]</strong>ボタンをクリックします。</li>
                    </ol>
        </div>
		<div class="wn5-online-help-action">
            <h4>グループ動作中止</h4>
                    <ol>
                        <li>現在、動作中のグループを中止するには<strong class="UI">[中止]</strong>ボタンをクリックします。</li>
                    </ol>
        </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>ツアー</h2>
    </div>
    <div class="wn5-setup-section-article">

                    <div class="wn5-setup-section-article-content">
                        <p>ツアー機能はすでに指定したプリセットの集合であるグループを順番に連続読み込む機能です。</p>
                    </div>    
                        <div class="wn5-online-help-info">
                            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
                            <ul>
                                <li>ツアー機能を使用するには、グループが設定されていなければなりません。<a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[グループ]</strong>タブ</a>でグループを設定することができます。</li>
                            </ul>
                        </div>


                    <div class="wn5-setup-section-article-content">
                        <h3>ツアー設定</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 투어 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 투어 기능이 멈춥니다. </p> --></div>
                        <div class="wn5-setup-section-article-content">
                            <h5>グループNo.</h5>
                            <p>連続的に読み込まれるグループNo.を順番に選択します。</p>
                        </div>
                        <div class="wn5-setup-section-article-content">
                            <h5>滞留時間</h5>
                            <p>各グループでの滞留時間を入力します。</p>
                            <p>例えば、1番グループで滞留時間を「1」に選択すると、1番グループで1秒間滞留してから次のグループに移動します。 &nbsp;</p>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>ツアー設定</h4>
                            <p>グループ1、グループ2、グループ3を順番に読み込んでカメラを移動するには下記のように設定します。</p>
                            <ol>
                                <li>グループNo.のドロップダウンリストで「1」を選択します。</li>
                                <li><strong class="UI">[滞留時間]</strong>カラムから「グループ1」でカメラが滞留する時間を設定します。</li>
                                <li>グループNo.のドロップダウンリストで「2」を選択します。</li>
                                <li><strong class="UI">[滞留時間]</strong>カラムから「グループ2」でカメラが滞留する時間を設定します。</li>
                                <li>グループNo.のドロップダウンリストで「3」を選択します。</li>
                                <li><strong class="UI">[滞留時間]</strong>カラムから「グループ3」でカメラが滞留する時間を設定します。</li>
                                <li><strong class="UI">[適用]</strong>ボタンをクリックします。</li>
                            </ol>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>ツアー設定値の初期化</h4>
                            <ul>
                                <li><strong class="UI">[削除]</strong>ボタンをクリックすると、設定したツアー値がすべて削除され初期化されます。</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>ツアー動作開始</h4>
                            <ul>
                                <li><strong class="UI">[開始]</strong>ボタンをクリックします。設定したグループを順番に読み込んでカメラが移動します。</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>ツアー動作中止</h4>
                            <ul>
                                <li><strong class="UI">[中止]</strong>ボタンをクリックします。ツアー動作が中止します。</li>
                            </ul>
                        </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a name="trace"></a>トレース</h2>
    </div>
    <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <p>トラッキングパスを設定したりトラッキング機能を開始して終了することができます。トラッキングパスを設定する場合、すでに設定したプリセット位置をトラッキングパスに含むことができます。プリセット位置は、<strong class="UI">[<a href="#preset">プリセット</a>]</strong>タブで設定することができます。</p>
                </div>
<!-- 임시 삭제 				 <div class="wn5-online-help-info">
                            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>動作が保存されながらメモリ利用が表示され、保存時間はPTZ動作のレベルによって異なります。</li>
                <li>メモリが満ちた状況で100%に表示されたり、保存開始から2分まで録画終了を設定しない場合には自動に終了されます。</li>
            </ul>
                        </div>  -->
                    <div class="wn5-setup-section-article-content">
                    <h3>トレース設定</h3>
                        <p>トラッキングパスを設定したり、トラッキング機能を開始して終了することができます。</p>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>トラッキングパス設定</h4>
                        <ol>
                            <li>設定するトラッキングNo.を選択します。</li>
                            <li><strong class="UI">[設定]</strong>ボタンをクリックした後、次のような方法で移動パスを設定します。</li>
                            <ul>
                                <li>映像画面で<span class="tui tui-wn5-ptz-handle"></span>方向のボタンを用いてパン、チルト、ズームを調整して保存しようとする移動パスを設定します。</li>
                                <li>すでに設定した位置を移動パスに含むためには、<strong class="UI">[プリセットリスト]</strong>でプリセット位置番号を選択して<strong class="UI">[進む]</strong>をクリックします。</li>
                            </ul>
                            <li><strong class="UI">[設定]</strong>ボタンをもう一度クリックすると、該当トラッキングNo.にトラッキングパスが保存されます。</li>
                        </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>トラッキング動作開始</h4>
                        <ol>
                            <li>動作するトラッキングNo.を選択します。</li>
                            <li><strong class="UI">[開始]</strong>ボタンをクリックします。該当トラッキングNo.に設定しておいた移動パスでカメラが移動します。</li>
                        </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>トラッキング動作中止</h4>
                        <ol>
                            <li>現在、動作中のトラッキング動作を中止するには<strong class="UI">[中止]</strong>ボタンをクリックします。</li>
                        </ol>
                    </div>
                </div>
</div>
<hr class="wn5-setup-hr">     <div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
         <h2><a name="autorun"></a>オートラン</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>オートランはユーザーが一定時間カメラを操作しない場合、事前に指定した動作を自動に実行する機能です。 &nbsp;</p>
        </div>
        <div class="wn5-setup-section-article-content">
             <h3>モード</h3>
             <p>自動に実行する機能を選択した後、詳細設定を指定することができます。</p>    
                <ul>
                   <li><strong class="UI">off</strong>：オートラン機能を使用しません。</li>
                   <li><strong class="UI">Home</strong>：ホームポジションにカメラが移動します。ホームポジションは<a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[プリセット]</strong>タブ</a>で設定することができます。</li>
                   <li><strong class="UI">プリセット</strong>：該当プリセットNo.に移動します。プリセットに移動する時間と移動するプリセット位置No.を設定することができます。</li><!--   <ul>
                            <li><strong class="UI">시간</strong>: <u>프리셋 위치로 자동으로 이동하는 시간을 설정합니다.</u></li>
                            <li><strong class="UI">프리셋</strong>: 카메라가 이동할 프리셋 위치 번호를 선택합니다. </li>
                                                        </ul> --><li><strong class="UI">スウィング</strong>：スウィング動作を自動に実行します。スウィング動作が自動に実行される時間とスウィングモードを設定することができます。</li><!--  <ul>
                            <li><strong class="UI">시간</strong>: <u>스윙 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                            <li><strong class="UI">스윙 모드</strong>: 스윙 동작이 실행될&nbsp;카메라의 팬이나 틸트&nbsp;동작만으로 이동할지 팬과 틸트 모든 동작으로 이동할지 선택합니다.</li>
                    </ul> --><li><strong class="UI">グループ</strong>：グループ動作を自動に実行します。グループ動作が自動に実行される時間とグループNo.を設定することができます。グループの詳細動作は<a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[グループ]</strong>タブ</a>で設定することができます。</li><!-- <ul>
                        <li><strong class="UI">시간</strong>: <u>그룹 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                        <li><strong class="UI">그룹</strong>: 그룹 번호를 선택합니다. 그룹은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[그룹] </strong>탭</a>에서 설정할 수 있습니다. </li>
                                                        </ul> --><li><strong class="UI">ツアー</strong>：ツアー動作を自動に実行します。</li><!-- <ul>
                        <li><strong class="UI">시간</strong>: <u>투어 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                        </ul> --><li><strong class="UI">トレース</strong>：トラッキング動作を自動に実行します。トラッキング動作が自動に実行される時間とトラッキングNo.を設定することができます。トラッキングの詳細機能は<a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">[トレース]</strong>タブ</a>で設定することができます。</li><!--  <ul>
                    <li><strong class="UI">시간</strong>: <u>추적 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                    <li><strong class="UI">그룹</strong>: 추적 번호를 선택합니다. 추적 상세 기능은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">[추적] 탭</strong></a>에서 설정할 수 있습니다.</li>
                                  </ul> --><li><strong class="UI">オートパン</strong>：パン方向に360°回転する動作で自動に実行します。自動に実行される時間とカメラがパン方向に回転する速度とチルト固定角度を設定することができます。例えば、チルト角度を「30」に設定した場合、チルト角度は30°に維持されます。</li><!--  <ul>
                    <li><strong class="UI">시간</strong>: <u>오토팬 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                    <li><strong class="UI">속도</strong>: 카메라가 팬 방향으로 회전하는 속도를 설정합니다.</li>
                    <li><strong class="UI">틸트 </strong>각도: 틸트 움직임 <u>최대</u> 각도를 설정합니다. </li>
                    </ul>  --><li><strong class="UI">スケジュール</strong>：設定した曜日と時間に設定した動作が自動に動作するように設定することができます。分単位まで設定することができます。初期値はホームポジションです。 </li>
                    </ul>
				</div>
                <div class="wn5-online-help-action">
                <h4>スケジュールどおりカメラのオートラン設定</h4>
                     <ol>
                          <li><strong class="UI">[モード]</strong>で<strong class="UI">[スケジュール]</strong>を選択します。</li>
                         <li>カメラが自動に動作する時間をクリックします。</li>
                         <li><strong class="UI">[スケジュール]</strong>のダイアログボックスの<strong class="UI">[モード]</strong>で自動に実行される動作を選択します。選択したモードによって詳細オプションが異なります。各オプションを設定します。</li>
                         <li><strong class="UI">[OK]</strong>ボタンをクリックします。</li>
                      </ol>
            <p>オートラン動作が設定された時間がタイムテーブルに表示されます。<strong class="UI">[初期化]</strong>ボタンをクリックすると、設定した時間がすべて削除されます。</p>
                </div>
            </div>
                    </div>

<hr class="wn5-setup-hr">