.mixin-icon( @bg-type, @icon-type ) {
	@theme-name: "theme-@{bg-type}-button-@{icon-type}";
	
	@icon-normal: "@{theme-name}-normal";
	@icon-focus: "@{theme-name}-focus";
	@icon-press: "@{theme-name}-press";
	@icon-disabled: "@{theme-name}-disabled";

	i {
		color: @@icon-normal;

		&:focus,
		&:hover {
			color: @@icon-focus;/
		}

		&:active {
			color: @@icon-press;
		}
	}

	&[disabled],
	&[readonly],
	&.cm-disabled,
	&.disabled {
		i {
			.disabled(){
				border: 1px solid @@disabled-line !important;
				color: @@disabled-text !important;
				background-color: @@disabled-bg !important;
			}

			.disabled();

			&:focus,
			&:active,
			&:hover {
				.disabled();
			}
		}	
	}
}

.mixin-vline ( @bg-type ) {
	@vline-color: "theme-@{bg-type}-vline-dark";

	background-color: @@vline-color;
}