<h1 class="wn5-setup-main-title">IP &amp; Puerto</h1>

<div class="wn5-setup-section">
	<p>Introduzca la direcci&oacute;n IP y el puerto. Puede configurar IPv4 e IPv6 en la pesta&ntilde;a <strong class="UI">[Direcci&oacute;n IP]</strong>. Puede configurar el puerto para cada protocolo en la pesta&ntilde;a <strong class="UI">[Puerto]</strong>. Cuando haya finalizado el ajuste, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina. Al hacer clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong>, tendr&aacute; que volver a conectarse al visor web.</p>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>Config. IPv4</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>Puede comprobar o cambiar el tipo de IP, direcci&oacute;n MAC, direcci&oacute;n IP, m&aacute;scara de subred, puerta de enlace e informaci&oacute;n de DNS usada para la comunicaci&oacute;n de red utilizando el tipo IPv4.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Tipo IP</h3>
			<p>Seleccione el tipo de conexi&oacute;n IP. Si se utiliza una direcci&oacute;n IP fija, establezca <strong class="UI">[Manual]</strong> e introduzca la informaci&oacute;n. Si se utiliza una direcci&oacute;n IP din&aacute;mica, establezca <strong class="UI">[DHCP]</strong> e introduzca la direcci&oacute;n DNS solamente.</p>
			<!-- <p> Si se utiliza <strong class="UI">[PPPoE]</strong>, introduzca la direcci&oacute;n DNS, ID y contrase&ntilde;a. </p> -->
			<ul>
			<li><strong class="UI">Manual</strong>: Escriba y establezca la direcci&oacute;n IP, m&aacute;scara de subred, puerta de enlace, DNS1 y DNS2 directamente.</li>
			<li><strong class="UI">DHCP</strong>: Establezca DNS1 y DNS2.</li>
			<!-- <li><strong class="UI">PPPoE</strong>: Establezca DNS1, DNS2, ID y contrase&ntilde;a.</li> -->
			</ul>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Direcci&oacute;n MAC</h3>
			<p>Se muestra la direcci&oacute;n MAC de la c&aacute;mara.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Direcci&oacute;n IP</h3>
			<p>Se muestra la direcci&oacute;n IPv4 actual. Puede cambiar la direcci&oacute;n IP mediante el establecimiento de <strong class="UI">[Manual]</strong> para <strong class="UI">[Tipo IP]</strong>.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>M&aacute;scara de subred</h3>
			<p>Se muestra la m&aacute;scara de subred de la direcci&oacute;n IP actual. Puede cambiar la m&aacute;scara de subred mediante el establecimiento de <strong class="UI">[Manual]</strong> para <strong class="UI">[Tipo IP]</strong>.</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>Puerta de enlace</h3>
			<p>Se muestra la puerta de enlace de la direcci&oacute;n IP actual. Puede cambiar la puerta de enlace mediante el establecimiento de <strong class="UI">[Manual]</strong> para <strong class="UI">[Tipo IP]</strong>.</p>
		</div>

		<div class="wn5-setup-section-article-content">
		            <h3>Configuración de DNS por DHCP</h3>
		            <p>Esto se muestra cuando <strong class="UI">[DHCP]</strong> está configurado para <strong class="UI">[Tipo IP]</strong>. Si selecciona Habilitar, la dirección DNS se asigna automáticamente.</p>
				</div>


		<div class="wn5-setup-section-article-content">
			<h3>DNS1 / DNS2</h3>
			<p>Se muestra la direcci&oacute;n del servidor DNS (Domain Name Service).</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>Nombre de host</h3>
			<p>Es el nombre para recuperar el nombre de host que es utilizado en el comando GetHostname ONVIF. El primer car&aacute;cter debe ser alfab&eacute;tico y solo se pueden introducir caracteres alfanum&eacute;ricos. Se pueden introducir hasta 63 caracteres. El nombre de la c&aacute;mara se introduce como predeterminado; no necesita ser definido ya que no es un valor requerido. </p>
		</div>
		<div class="wn5-online-help-info" ng-if="MaxChannel==0">
			<h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
            <ul>
                <li>Si elige la opci&oacute;n <strong class="UI">[Cambiar el nombre de host]</strong> <strong class="UI">[Red]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="../network/ssl.html" ng-href="#/help/network_ssl">HTTPS</a>]</strong>&gt;<strong class="UI">[Sistema de conexi&oacute;n segura]</strong>&gt;<strong class="UI">[HTTPS (Modo de conexión segura con certificado único)]</strong>, el nombre de host se cambiar&aacute; al nombre de host com&uacute;n definido en el certificado.</li>
            </ul>
		</div>	
		<div class="wn5-setup-section-article-content" ng-if="MTUSupport">
			<h3>MTU</h3>
            <p>Configure la unidad de transmisión máxima (MTU) a la que se pueden transferir los datos desde la interfaz de red. El valor de la MTU puede ajustarse entre 1280 y 1500 octetos. Si el valor es demasiado bajo, la reproducción de vídeo puede retrasarse. Por lo tanto, el valor de la MTU debe ajustarse de acuerdo con el entorno de red del usuario.</p>
		</div>

		<!-- <div class="wn5-setup-section-article-content">
			<h3>ID</h3>
			<p>Esto se visualiza cuando <strong class="UI">[PPPoE]</strong> est&aacute; configurado para <strong class="UI">[Tipo IP]</strong>. Introduzca la ID apropiada para conectarse.</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>Contrase&ntilde;a</h3>
			<p>Esto se visualiza cuando <strong class="UI">[PPPoE]</strong> est&aacute; configurado para <strong class="UI">[Tipo IP]</strong>. Introduzca la contrase&ntilde;a correcta para conectarse.</p>
		</div>  -->
	</div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2><a class="wn5-online-help-link" name="IPv6"></a>Config. IPv6</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>IPv6 es un sistema de direcciones de Internet de pr&oacute;xima generaci&oacute;n con velocidad de procesamiento de bit de datos, capacidad de procesamiento de bit de datos concurrentes y un sistema de direcciones de Internet que est&aacute;n m&aacute;s expandidas que IPv4. Para utilizar IPv6, seleccione <strong class="UI">[Activar]</strong>. Puede establecer el tipo de IP, la direcci&oacute;n IP, el perfil y puerta de enlace. Cuando se selecciona un modelo de c&aacute;mara IP desde el instalador, puede seleccionar IPv4 o IPv6 y conectarse introduciendo la direcci&oacute;n apropiada directamente en el navegador web.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Tipo IP</h3>
			<p>Seleccione el tipo de conexi&oacute;n IP. El valor por defecto es <strong class="UI">[Predeterminado]</strong>. Si no se detecta DHCP, el valor cambiar&aacute; autom&aacute;ticamente a la configuraci&oacute;n anterior.</p>
			<ul>

				<li><strong class="UI">DHCP</strong>: Se muestra la direcci&oacute;n IPv6 asignada a trav&eacute;s de DHCP.</li>
				<li><strong class="UI">Manual</strong>: El usuario puede introducir una direcci&oacute;n IPv6 de elecci&oacute;n.</li>
				<li><strong class="UI">Predeterminado</strong>: Se muestra la direcci&oacute;n IPv6 actual. </li>
			</ul>
		</div>
		<div class="wn5-online-help-info">
				<h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
	
				<ul>
					<li>Despu&eacute;s de cambiar la configuraci&oacute;n, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> para cerrar la ventana del navegador web. Despu&eacute;s de un momento, vuelva a acceder a la direcci&oacute;n IP modificada. </li>
				</ul>
			</div>
		<div class="wn5-setup-section-article-content">
			<h3>Direcci&oacute;n IP</h3>
			<p>Introduzca la direcci&oacute;n IPv6.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Prefijo</h3>
			<p>Este valor establece el rango de IP. Si <strong class="UI">[Tipo IP]</strong> es <strong class="UI">[Predeterminado]</strong>, el valor de <strong class="UI">[Prefijo]</strong> es 64. Si es <strong class="UI">[Manual]</strong>, puede cambiar el valor del <strong class="UI">[Prefijo]</strong>. </p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Puerta de enlace</h3>
			<p>Esto se visualiza cuando <strong class="UI">[Manual]</strong> est&aacute; configurado para <strong class="UI">[Tipo IP]</strong>. El usuario introduce la direcci&oacute;n de puerta de enlace directamente.</p>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>Puerto</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>Un puerto es el lugar utilizado para enviar y recibir bit de datos Haga clic en la pesta&ntilde;a <strong class="UI">[Puerto]</strong> , configure los elementos pertinentes y, a continuaci&oacute;n, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina. Se recomienda el uso de HTTPS y RTSP para reforzar la seguridad de la imagen.</p>
		</div>
		<div class="wn5-online-help-info">
				<h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
	
				<ul>
					<li>Cuando configure el n&uacute;mero de puerto, no puede utilizar 3702, 4520, 49152 ni ning&uacute;n n&uacute;mero entre 0 y 1023. </li>
				</ul>
			</div>
		<div class="wn5-setup-section-article-content">
			<h3>HTTP</h3>
			<p>El puerto HTTP se utiliza para la conexi&oacute;n a la c&aacute;mara mediante un navegador web. El valor por defecto es 80 (TCP). <!-- 65535 no se puede configurar para el puerto HTTP cuando se conecta en los navegadores como Safari y Google Chrome, debido a la pol&iacute;tica de seguridad de los mismos. Cuando se cambia el puerto HTTP, se cerrar&aacute; la ventana del navegador web. -->Introduzca el nuevo puerto HTTP al final de la direcci&oacute;n IP para volver a conectarse. Si el puerto HTTP es 80, el n&uacute;mero de puerto se puede omitir. (p.ej: direcci&oacute;n IP de la c&aacute;mara: 192.168.1.100, puerto HTTP En el caso de 8080 -&gt; http://192.168.1.100:8080)</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>HTTPS</h3>
			<p>HTTPS tiene una seguridad superior respecto a HTTP. Esto se puede utilizar cuando el modo HTTPS se define en SSL, y el valor por defecto es 443 (TCP). El rango disponible es de entre 1024 y 65535. <!-- 65535 no se puede configurar para el puerto HTTP cuando se conecta en los navegadores como Safari y Google Chrome, debido a la pol&iacute;tica de seguridad de los mismos. --> </p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>RTSP</h3>
			<p>Este es el puerto para el env&iacute;o de una imagen en RTSP (Real Time Streaming Protocol); el valor por defecto es 554.</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>Tiempo agotado</h3>
			<p>Para utilizar la funci&oacute;n timeout, seleccione <strong class="UI">[Activar]</strong>. Si no hay respuesta por un cierto per&iacute;odo de tiempo cuando la conexi&oacute;n se hace en RTSP, restablezca la conexi&oacute;n del puerto.</p>
		</div><!-- <div class="wn5-setup-section-article-content">
			<h3>Puerto de dispositivo</h3>
			<p>Un puerto para el env&iacute;o de una imagen puede ser establecido como el protocolo Hanwha.</p> --></div>
	</div>
</div>
<hr class="wn5-setup-hr">
