<div id="audiosettingpage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="audioForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_audiosrc">
        </wn5-setup-main-title>
        <div class="wn5-setup-section form-group" ng-if="DeviceType === 'NVR'">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>Audio Channel</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-heading">Audio Channel</div>
                <div class="wn5-setup-section-article-content">
                    <select class="form-control" ng-model="$parent.SelectedChannel" ng-options="ChannelOptions.indexOf(SelectedChannel) as SelectedChannel for SelectedChannel in ChannelOptions"></select>
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr" ng-show = "!(DeviceType === 'NWC' && MaxAudioInput == 0)">
            <div class="wn5-setup-section-heading">
                <h3  ng-show = "!(DeviceType === 'NWC' && MaxAudioInput == 0)">{{'lang_audioIn' | translate}}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group" ng-if="DeviceType === 'NVR'">
                    <div class="wn5-setup-section-article-heading">{{'lang_enable' | translate}}</div>
                    <label class="col-lg-1 control-label">
                        <input type="radio" ng-model="AudioInputs[SelectedChannel].Enable" ng-value="true">{{'lang_on' | translate}}</button>
                    </label> &nbsp;&nbsp;
                    <label class="col-lg-1 control-label">
                        <input type="radio" ng-model="AudioInputs[SelectedChannel].Enable" ng-value="false">{{'lang_off' | translate}}</button>
                    </label>
                </div>
                <div ng-show = "!(DeviceType === 'NWC' && MaxAudioInput == 0)">
                    <div class="form-group" ng-show="DeviceType === 'NWC'">
                        <div class="wn5-setup-section-article-heading">{{'lang_source' | translate}}</div>
                        <div class="wn5-setup-section-article-content">
                            <div class="col-sm-6 col-xs-12">
                                <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].Source">
                                    <option ng-selected="AudioInputs[SelectedChannel].Source == Source" value={{Source}} ng-repeat="Source in AudioInSourceOptions track by Source">{{getTranslatedOption(Source)}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <span ng-show = "AudioInputs[SelectedChannel].PowerOnExternalMIC !== undefined">
                                    &nbsp;
                                    <input type="checkbox" ng-model="AudioInputs[SelectedChannel].PowerOnExternalMIC" ng-disabled="AudioInputs[SelectedChannel].Source!='ExternalMIC'"> <label>{{'lang_bias_on' | translate}}</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="DeviceType === 'NWC'">
                        <div class="wn5-setup-section-article-heading">{{'lang_codec' | translate}}</div>
                        <div class="wn5-setup-section-article-content">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].EncodingType" ng-options="Encoding as Encoding | audioCodec for Encoding in AudioInEncodingOptions track by Encoding" ng-change="onAudioEncodingChange(SelectedChannel,AudioInputs[SelectedChannel].EncodingType)"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="DeviceType === 'NWC'" ng-show="AudioInputs[SelectedChannel].SampleRate !== undefined">
                        <div class="wn5-setup-section-article-heading">{{'lang_samplingrate' | translate}}</div>
                        <div class="wn5-setup-section-article-content" ng-if="AudioInputs[SelectedChannel].EncodingType==='G711'">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].SampleRate" ng-disabled="true" ng-options="SampleRate as SampleRate/1000+'KHz' for SampleRate in G711SamplingRateOptions track by Bitrate" ng-disabled="true"></select>
                        </div>
                        <div class="wn5-setup-section-article-content" ng-if="AudioInputs[SelectedChannel].EncodingType==='G726'">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].SampleRate" ng-options="SampleRate as SampleRate/1000+'KHz' for SampleRate in G726SamplingRateOptions track by SampleRate" ng-disabled="true"></select>
                        </div>
                        <div class="wn5-setup-section-article-content" ng-if="AudioInputs[SelectedChannel].EncodingType==='AAC'">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].SampleRate" ng-options="SampleRate as SampleRate/1000+'KHz' for SampleRate in AACSamplingRateOptions track by SampleRate" ng-disabled="true"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="DeviceType === 'NWC'">
                        <div class="wn5-setup-section-article-heading">{{'lang_bitrate' | translate}}</div>
                        <div class="wn5-setup-section-article-content" ng-if="AudioInputs[SelectedChannel].EncodingType==='G711'">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].Bitrate" ng-disabled="true" ng-options="Bitrate as Bitrate+'K' for Bitrate in G711BitRateOptions track by Bitrate"></select>
                        </div>
                        <div class="wn5-setup-section-article-content" ng-if="AudioInputs[SelectedChannel].EncodingType==='G726'">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].Bitrate" ng-options="Bitrate as Bitrate+'K' for Bitrate in G726BitRateOptions track by Bitrate"></select>
                        </div>
                        <div class="wn5-setup-section-article-content" ng-if="AudioInputs[SelectedChannel].EncodingType==='AAC'">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].Bitrate" ng-options="Bitrate as Bitrate+'K' for Bitrate in AACBitRateOptions track by Bitrate"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="DeviceType === 'NWC'">
                        <div class="wn5-setup-section-article-heading">{{'lang_gain' | translate}}</div>
                        <div class="wn5-setup-section-article-content">
                            <select class="form-control" type="text" ng-model="AudioInputs[SelectedChannel].Gain" ng-options="Gain for Gain in AudioInGainOptions track by Gain"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show = "!(DeviceType === 'NWC' && MaxAudioOutput == 0)" class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3 >{{'lang_audioOut' | translate}}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading" style="text-align:left">{{'lang_audioOut' | translate}}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="checkbox" ng-model="AudioOutputs[SelectedChannel].Enable" ng-disabled="DeviceType === 'NVR'">
                        <label>{{'lang_enable' | translate}}</label>
                    </div>
                </div>
                <div class="form-group" ng-if="DeviceType === 'NWC'">
                    <div class="wn5-setup-section-article-heading" style="text-align:left">{{'lang_gain' | translate}}</div>
                    <div class="wn5-setup-section-article-content">
                        <select class="form-control" type="text" ng-model="AudioOutputs[SelectedChannel].Gain" ng-disabled="AudioOutputs[SelectedChannel].Enable ===false" ng-options="Gain for Gain in AudioOutGainOptions track by Gain"></select>
                    </div>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>
