<div
    id="dewarpsetuppage"
    class="wrapper wrapper-content ng-hide"
    ng-show="pageLoaded">
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="audioForm" method="get" class="form-horizontal" novalidate>
                        <h3>{{ 'lang_globalDewarpSetup' | translate}}</h3>
                        <hr class="wn5-setup-hr">

                        <div class="form-group">
                            <label ng-class="LabelClass">{{ langCamMntMode | translate }}</label>
                            <div ng-class="FieldClass">
                                <select
                                    class="form-control"
                                    ng-model="selectedDewarpMode"
                                    ng-change="onModeSelected(selectedDewarpMode)"
                                    ng-options="mode as (mode.name | translate) for mode in dewarpModeData">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label ng-class="LabelClass">{{ langViews | translate }}</label>
                            <div ng-class="FieldClass">
                                <select
                                    class="form-control"
                                    ng-model="selectedDewarpView"
                                    ng-options="view as (view.name | translate) for view in selectedDewarpMode.views">
                                </select>
                            </div>
                        </div>

                        <div class="confirm-button-area">
                            <button type="button" class="btn btn-orange" ng-click="submit()">{{ 'lang_apply' | translate }}</button>
                            <button type="button" class="btn btn-black" ng-click="view()">{{ 'lang_cancel' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>