<div id="simplefocuspage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="smartCodecForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_focus">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="form-group" ng-show="FocusModeOptions !== undefined && isSupportedFocusMode('Reset')">
                <button 
                    type="button"
                    class="btn btn-white" 
                    ng-click="focusMode('Reset')" >
                    {{'lang_reset' | translate}}
                </button>
            </div>
            <div class="form-group setup-border-box-padding">
                <sketchbook
                    class="wn5-setup-preview-video"
                    videoinfo='videoinfo' 
                    sketchinfo='sketchinfo' 
                    coordinates='coordinates'>
                </sketchbook>
                <div class="wn5-setup-preview">
                    <div class="form-group" ng-show="FastAutoFocusDefined">
                        <div class="wn5-setup-preview-heading">{{ 'lang_fastmode' | translate }} </div>
                        <div class="wn5-setup-preview-content">
                            <input type="checkbox" ng-model="FastAutoFocus" ng-change="setFastAutoFocus()">
                            <label>{{'lang_enable'|translate}}</label>
                        </div>
                    </div>
                    <div class="form-group btn-list">
                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-near"></span>
                        </div>
                        <input class="btn btn-white" type="button" name="FocusLevel" ng-model="FocusLevel" ng-value="option" ng-repeat="option in SimpleFocusOptions" ng-click="manualFocus(option)">
                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-far"></span>
                        </div>
                    </div>
                    <div class="form-group btn-list" ng-show="ZoomOptionsDefined">
                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-minus"></span>
                        </div>
                        <input class="btn btn-white" type="button" name="ZoomLevel" ng-model="ZoomLevel" ng-value="zoomopt" ng-repeat="zoomopt in SimpleZoomOptions" ng-click="manualZoom(zoomopt)">
                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-plus"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="FocusModeOptions !== undefined && isSupportedFocusMode('SimpleFocus')">
                        <div class="simple-focus-icon btn-simple-focus">
                            <span 
                            ng-click="focusMode('SimpleFocus')"
                            class="tui tui-wn5-simple-focus"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
