<div id="simplefocuspage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="smartCodecForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
                data-title="{{getTitle}}">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            
            <setup-channel-selector use-info="false" ng-if="MaxChannel > 1" use-confirm="true"></setup-channel-selector>

            <div class="form-group" ng-show="FocusModeOptions !== undefined && isSupportedFocusMode('Reset') && !PTRZModel">
                <button 
                    type="button"
                    class="btn btn-white cm-btn-dark" 
                    ng-click="focusMode('Reset')" >
                    {{'lang_reset' | translate}}
                </button>
            </div>
            <div class="form-group setup-border-box-padding">
                <sketchbook
                    class="wn5-setup-preview-video"
                    videoinfo='videoinfo' 
                    sketchinfo='sketchinfo' 
                    coordinates='coordinates'>
                </sketchbook>
                <!-- PTZ Control -->

                <div class="wn5-setup-preview">
                    <div class="form-group" ng-show="PTRZModel">
                        <div class="wn5-setup-preview-content">
                            <div id="ptrz-control">
                                <ptrz-control ptzinfo='ptzinfo'></ptrz-control>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wn5-setup-preview">
                    <div class="form-group" ng-show="FastAutoFocusDefined && Lens !== 'ICS'">
                        <div class="wn5-setup-preview-heading">{{ 'lang_fastmode' | translate }} </div>
                        <div class="wn5-setup-preview-content">
                            <input type="checkbox" ng-model="FastAutoFocus" ng-change="setFastAutoFocus()">
                            <label>{{'lang_enable'|translate}}</label>
                        </div>
                    </div>
                    <!-- Zoom Focus Setup -->
                    <div class="form-group" ng-show="PTRZModel">
                        <div class="wn5-setup-preview-heading">
                            {{ 'Zoom Focus Setup' | translate }}
                            <button
                                    type="button"
                                    class="btn btn-white cm-btn-dark"
                                    ng-click="focusMode('Reset')" >
                                {{'lang_reset' | translate}}
                            </button>
                        </div>
                        <div class="wn5-setup-preview-content">
                            <div class="form-group btn-list">
                                <div class="simple-focus-icon">
                                    <span class="tui tui-wn5-ptz-minus"></span>
                                </div>
                                <input class="btn btn-white cm-btn-dark" type="button" name="ZoomLevel" ng-model="ZoomLevel" ng-value="zoomopt" ng-repeat="zoomopt in SimpleZoomOptions" ng-click="manualZoom(zoomopt)">
                                <div class="simple-focus-icon">
                                    <span class="tui tui-wn5-ptz-plus"></span>
                                </div>
                            </div>
                        </div>
                        <div class="wn5-setup-preview-content">
                            <div class="form-group btn-list">
                                <div class="simple-focus-icon">
                                    <span class="tui tui-wn5-ptz-near"></span>
                                </div>
                                <input class="btn btn-white cm-btn-dark" type="button" name="FocusLevel" ng-model="FocusLevel" ng-value="option" ng-repeat="option in SimpleFocusOptions" ng-click="manualFocus(option)">
                                <div class="simple-focus-icon">
                                    <span class="tui tui-wn5-ptz-far"></span>
                                </div>
                            </div>
                        </div>
                        <div class="wn5-setup-preview-content">
                            <div class="form-group btn-list">
                                <div class="simple-focus-icon btn-simple-focus">
                                    <span
                                            ng-click="focusMode('SimpleFocus')"
                                            class="tui tui-wn5-simple-focus">
                                    </span>
                                </div>
                                <label>
                                    {{'lang_simpleFocus' | translate}}</label>

                            </div>
                        </div>
                    </div>
                    <!-- Zoom Focus Setup -->

                    <div class="form-group btn-list"  ng-show="!PTRZModel">
                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-near"></span>
                        </div>
                        <input class="btn btn-white cm-btn-dark" type="button" name="FocusLevel" ng-model="FocusLevel" ng-value="option" ng-repeat="option in SimpleFocusOptions" ng-click="manualFocus(option)">
                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-far"></span>
                        </div>
                    </div>
                    <div class="form-group btn-list" ng-show="(!ICSLensSupport && ZoomOptionsDefined && !PTRZModel) || (ZoomOptionsDefined && ICSLensSupport && Lens === 'ICS')">

                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-minus"></span>
                        </div>
                        <input class="btn btn-white cm-btn-dark" type="button" name="ZoomLevel" ng-model="ZoomLevel" ng-value="zoomopt" ng-repeat="zoomopt in SimpleZoomOptions" ng-click="manualZoom(zoomopt)">
                        <div class="simple-focus-icon">
                            <span class="tui tui-wn5-ptz-plus"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="FocusModeOptions !== undefined && isSupportedFocusMode('SimpleFocus') && !PTRZModel">
                        <div class="simple-focus-icon btn-simple-focus">
                            <span 
                            ng-click="focusMode('SimpleFocus')"
                            class="tui tui-wn5-simple-focus"></span>
                        </div>
                    </div>

                    
                    <div class="form-group" ng-if="Lens=='ICS'">
                        <div class="form-group">
                            <div class="wn5-setup-preview-heading">{{ 'IR Corrected' }}</div>
                            <div class="wn5-setup-preview-content">
                                <select 
                                    class="form-control video-pattern" 
                                    ng-model="$parent.IRShift"
                                    style="max-width:150px"
                                    ng-change="IRShiftChange()">
                                    <option 
                                        ng-selected="data === IRShift"
                                        value={{data}}
                                        ng-repeat="data in IRShiftOptions">
                                        {{ data }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="wn5-setup-preview-heading"> {{ 'Temperature Compensation' }} </div>
                            <div class="wn5-setup-preview-content">
                                <input type="checkbox" ng-model="$parent.TCEnable" ng-change="setTCEnable()">
                                <label>{{'lang_enable'|translate}}</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
