<div id="smartcodecpage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="smartCodecForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_smartcodec">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_manualROIarea' | translate }}</h3>
            </div>
            

            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="clearAll()">{{ 'lang_clear' | translate }}</button>
                    </div>
                    <div class="form-group">
                        <div class="wn5-setup-section-article-content wn5-gui-text-orange-100" style="padding-left: 0;">
                            <i class="tui tui-wn5-toolbar-status" style="margin-right: 5px; transform: scale(1.3);"></i>
                            <span>{{ 'lang_msg_take_draw_area' | translate }}</span>
                        </div>
                    </div>
                    <div class="form-group setup-border-box-padding">
                        <sketchbook videoinfo='videoinfo' sketchinfo='sketchinfo' coordinates='coordinates'></sketchbook>
                    </div>
                    <!-- PTZ Control -->
                    <div class="ptz-control_box ptz-control_ptz-menu-width" style="margin-left: 15px;">
                        <ptz-control ptzinfo='ptzinfo'></ptz-control>
                    </div>
                    <!-- //PTZ Control End -->
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{'lang_smartcodecSetup' | translate}}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_quality' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <select class="form-control" ng-model="SmartCodec[ch].QualityLevel">
                            <option ng-selected="SmartCodec[ch].QualityLevel == option" value={{option}} ng-repeat="option in QualityOptions">
                            {{getTranslation(option)}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="FaceDetectionSupport == true">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_roiArea' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div ng-class="RadioClassSm" ng-repeat="option in SmartCodecOptions">{{getTranslation(option)}}
                            <input type="radio" class="radio" name="SmartCodecMode" ng-model="SmartCodec[ch].Mode" ng-value="option" ng-disabled="option == 'FaceDetection' && FaceDetection[ch].Enable == false">
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group" ng-if="FaceDetectionSupport == true">
                    <div class="wn5-setup-section-article-content" style="color: #f37321;">
                        <i class="tui tui-wn5-toolbar-status" style="margin-right: 5px; transform: scale(1.3);"></i>
                        <span>{{ 'lang_roimsg' | translate }}</span>
                    </div>
                </div> -->
            </div>
        </div>
        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>
