<div id="wisestreampage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="audioForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_wisestreamWisestream">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">

            <setup-channel-selector ng-show="MaxChannel > 1"></setup-channel-selector>

            
            
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_wisestreamWisestream' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-heading">{{'lang_mode' | translate}}</div>
                <div class="wn5-setup-section-article-content">
                    <select class="form-control" type="text" ng-model="wisestreamMode" ng-options="option.value as getTranslatedOption(option.text) for option in WiseStreamEnableOptions">
                        <!--option ng-selected="wisestreamMode == Source" value={{Source}} ng-repeat="Source in WiseStreamEnableOptions track by Source">{{getTranslatedOption(Source)}}</option-->
                    </select>
                </div>
            </div>
        </div>
        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>