


<h1 class="wn5-setup-main-title">セットアップ</h1>
<div class="wn5-setup-section">
    <p>ヒートマップは画面でのモーション頻度を色に表示します。ヒートマップの「設定」では、背景映像の色を設定してヒートマップデータを収集する時に除外するエリアを設定することができます。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
       <div class="wn5-online-help-info">
        <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
        <ul>
            <li ng-if="!SupportAutoImageAlignment"><strong class="UI">[統計]</strong>&gt;<strong class="UI">[人数カウント]</strong>&gt;<strong class="UI">[設定]</strong> &gt; <strong class="UI"><a class="wn5-online-help-link" href="../peoplecounting/pcSetup.html#calibration" ng-href="#/help/peoplecounting_setup?#calibration">[校正]</a></strong>で設定したカメラ高や人のサイズは、ヒートマップ機能に同じく適用されます。</li>
            <li>ヒートマップ機能は、リアルタイムの正確度ではなく統計的なデータ提供を目的とし、移動する物事や動物も測定人数に含まれます。</li>
            <li>カメラを設置した直後に安定化される間には、誤動作する場合があります。安定化時間は、最大50～60分までかかることがあります。</li>
            <li>下記の場合には、測定されたデータの誤差が大きくなることがあります。</li>
            <ul>
                <li>十分に視野が確保されないスペースに設置した場合</li>
                <li>夜間&amp;低照度環境</li>
                <li>急激な照明変更が発生する環境や直射光線、日の入り、日の出、直接照明などのように強い光に影響される場合</li>
                <li>出入口周囲のように固定された位置で持続的なモーションがある場合</li>
                <li>複数の人が集まって移動する場合</li>
            </ul>
        </ul>
    



            
        </ul>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>セットアップ</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>ヒートマップを有効にする</h3>
            <p>ヒートマップ機能を有効にするためには、<strong class="UI">[ヒートマップを有効にする]</strong>を選択します。</p>
        </div>
    </div>
</div>        

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>設定</h2>
	</div>
        <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">		
            <p>ヒートマップの背景映像の色を設定します。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>背景カラー</h3>
                <p>ヒートマップのデータを表示する背景映像の色を選択します。<strong class="UI">[カラー]</strong>を選択すると、背景映像がカラー映像に表示され<strong class="UI">[B/W]</strong>を選択すると、背景映像がB/W映像に表示されます。</p>
        </div>           
     </div>
</div>   
 <div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>除外エリア</h2>
	</div>	
        <div class="wn5-setup-section-article">
    <div class="wn5-setup-section-article-content">	
            <p>ユーザーが指定したエリアでのモーションはヒートマップの情報として収集されません。</div>
			 <div class="wn5-online-help-action">
			<h4>除外エリア設定</h4>
			<p>映像の上にマウスで頂点4つを選択すると、除外エリアが設定され<strong class="UI">[エリア]</strong>の数字ボタン色が変更されます。除外エリアは最大4まで設定することができます。</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>除外エリア変更</h4>
			<p>除外エリアの頂点や線をクリックした後、動かして除外エリアのサイズを変更することができます。除外エリアを移動するには、マウスで該当エリアをクリックしてドラッグします。</p>
			</div>
            <div class="wn5-online-help-action">
            <h4>除外エリア削除</h4>
			<p>除外エリアを削除するには、該当エリアにマウス右側ボタンをクリックしてから削除確認で<strong class="UI">[OK]</strong>ボタンをクリックします。</p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            
            <h3>エリア</h3>
                <p><strong class="UI">[エリア]</strong>の数字ボタン色をクリックすると、該当エリアが映像から選択されます。選択されたエリアは、白色の太枠に表示されます。</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>レポート</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>使用</h3>
            <p>周期的にヒートマップデータをE-mailとFTPに受信するには、<strong class="UI">[有効]</strong>を選択します。</p>
            <p>FTPとE-mailに対する詳細設定は、<strong class="UI">[イベント]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="../event/ftpemail.html" ng-href="#/help/event_ftpemail">[FTP/Eメール]</a></strong>で行うことができます。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>スケジュール</h3>
            <p>毎日同じ時間にヒートマップデータを受信するには、<strong class="UI">[日次]</strong>を選択してから時間を選択します。</p>
            <p>毎週同じ曜日と時間にヒートマップデータを受信するには、<strong class="UI">[週次]</strong>を選択してから曜日と時間を選択します。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>ファイル名</h3>
                    <p>FTPサーバーやE-mailでヒートマップデータを送るファイル名を入力してファイルタイプを選択します。ファイル名はローマ字と数字を含み、最大64文字まで入力することができます。</p>
					        </div>
</div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section"> 
        <div class="wn5-setup-section-heading">
            <h2>すべてのデータを削除</h2>
    </div>
		<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>ヒートマップデータをすべて削除するには、<strong class="UI">[すべてのデータを削除]</strong>をクリックします。</p>
                        </div>
            <div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>下記の場合、変更された映像画面に合わせて再びルールを設定して<strong class="UI">[すべてのデータを削除]</strong>をクリックしてヒートマップ検索に使用される過去のデータを削除することをお勧めします。</li>
                <ul>
                    <li><strong class="UI">[映像&amp;音声]</strong> &gt; <strong class="UI">[ビデオ設定]</strong> &gt; <strong class="UI">[ビデオ回転]</strong>で設定値を変更した場合</li>
                    <li ng-if="DIS"><strong class="UI">[映像&amp;音声]</strong> &gt; <strong class="UI">[カメラ設定]</strong> &gt; <strong class="UI">[特別設定] </strong>&gt; <strong class="UI">[DIS]</strong>で設置値を変更した場合</li>
                </ul>
            </ul>
        </div>
</div>
</div>

<hr class="wn5-setup-hr">
