<div id="systemlogpage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="logForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_log">
        </wn5-setup-main-title>
        <div class="form-group" ng-show="DeviceType === 'NVR'">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-info" ng-click="today()">{{ 'lang_today' | translate }}</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="date" class="date" id="SearchDateId" ng-model="CurrentDate" max={{MaxDate}} ng-required="true" ondrop="return false;" onpaste="return false;" style="cursor: pointer;"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" type="button" class="btn btn-info" ng-click="onSearch()"><i class="fa fa-search"></i></button>
        </div>
        <uib-tabset class="wn5-setup-tab">
            <uib-tab ng-repeat="tab in tabs" heading={{getTranslatedOption(tab)}} ng-click="onTabChange()">
                <div ng-show="tab === 'AccessLog'">
                    <div class="wn5-setup-section-article form-group">
                        <div class="wn5-setup-section-article-heading">{{ 'lang_logType' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                            <select class="form-control" id="AccessTypeId" ng-model="SelectedAccessLog" ng-options="Type for Type in AccessLogTypes" ng-change="onAccLogChange(SelectedAccessLog)"></select>
                            <button type="button" class="btn btn-primary cm-btn-dark" ng-click="backup(tab)">{{ 'lang_btn_backup' | translate }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="wn5-setup-section-article-content">
                            <table class="table table-bordered logtable wn5-setup-table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" class="logtable-idx">{{ 'lang_num' | translate }}</th>
                                        <th style="text-align:center" class="logtable-datetime">{{ 'lang_datetime' | translate }}</th>
                                        <th style="text-align:center" class="logtable-desc">{{ 'lang_description' | translate }}</th>
                                        <th style="text-align:center" class="logtable-info">{{ 'lang_information' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr height="20" ng-repeat="Log in AL[currentAccessLogPage - 1]">
                                        <td class="logtable-idx text-center">{{((currentAccessLogPage - 1) * pageSize) + $index + 1}}</td>
                                        <td class="logtable-datetime text-center">{{Log.Date}}</td>
                                        <td class="logtable-desc">{{Log.Type}}</td>
                                        <td class="logtable-info">{{Log.Description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="getPageCount(tab) > 1" class="text-center form-group page-controller">
                        <a ng-click="getFirstPage(tab)">
                            <i class="tui tui-left"></i><i class="tui tui-left"></i>
                        </a>
                        <a ng-click="getPrevPage(tab)">
                            <i class="tui tui-left"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="text" id="SelectedAccessLogPage" ng-model="data.AccessLogPageIndex" style="width:40px; height:25px; font-weight:bold; margin-top:-1px; text-align:center;border: solid 1px #ddd; line-height:23px; vertical-align:middle;" ondrop="return false;" onpaste="return false;" ng-pattern-restrict="{{pagePattern}}"/>
                        <label class="control-label">/ {{getPageCount(tab)}}</label>
                        <button type="button" class="btn btn-primary cm-btn-dark" ng-click="jumpToPage(tab)" title="{{ 'lang_go' | translate }}" style="margin-left: 5px; height: 25px; padding: 0 10px; line-height: 23px;">{{ 'lang_go' | translate }}</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a ng-click="getNextPage(tab)">
                            <i class="tui tui-right"></i>
                        </a>
                        <a ng-click="getLastPage(tab)">
                            <i class="tui tui-right"></i>
                            <i class="tui tui-right"></i>
                        </a>
                    </div>
                </div>
                <div ng-show="tab === 'SystemLog'">
                    <div class="wn5-setup-section-article form-group">
                        <div class="wn5-setup-section-article-heading">{{ 'lang_logType' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                            <select class="form-control" id="SystemTypeId" ng-model="SelectedSystemLog" ng-options="Type for Type in SystemLogTypes" ng-change="onSysLogChange(SelectedSystemLog)"></select>
                            <button type="button" class="btn btn-primary cm-btn-dark" ng-click="backup(tab)">{{ 'lang_btn_backup' | translate }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="wn5-setup-section-article-content">
                            <table class="table table-bordered logtable wn5-setup-table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" class="logtable-idx">{{ 'lang_num' | translate }}</th>
                                        <th style="text-align:center" class="logtable-datetime">{{ 'lang_datetime' | translate }}</th>
                                        <th style="text-align:center" class="logtable-desc">{{ 'lang_description' | translate }}</th>
                                        <th style="text-align:center" class="logtable-info">{{ 'lang_information' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr height ="20" ng-repeat="Log in SL[currentSystemLogPage - 1]">
                                        <td class="logtable-idx text-center">{{((currentSystemLogPage - 1) * pageSize) + $index + 1}}</td>
                                        <td class="logtable-datetime text-center">{{Log.Date}}</td>
                                        <td class="logtable-desc">{{Log.Type}}</td>
                                        <td class="logtable-info">{{Log.Description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="getPageCount(tab) > 1" class="text-center form-group page-controller">
                        <a ng-click="getFirstPage(tab)">
                            <i class="tui tui-left"></i><i class="tui tui-left"></i>
                        </a>
                        <a ng-click="getPrevPage(tab)">
                            <i class="tui tui-left"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="text" id="SelectedSystemLogPage" ng-model="data.SystemLogPageIndex" style="width:40px; height:25px; font-weight:bold; margin-top:-1px; text-align:center;border: solid 1px #ddd; line-height:23px; vertical-align:middle;" ondrop="return false;" onpaste="return false;" ng-pattern-restrict="{{pagePattern}}"/>
                        <label class="control-label">/ {{getPageCount(tab)}}</label>
                        <button type="button" class="btn btn-primary cm-btn-dark" ng-click="jumpToPage(tab)" title="{{ 'lang_go' | translate }}" style="margin-left: 5px; height: 25px; padding: 0 10px; line-height: 23px;">{{ 'lang_go' | translate }}</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a ng-click="getNextPage(tab)">
                            <i class="tui tui-right"></i>
                        </a>
                        <a ng-click="getLastPage(tab)">
                            <i class="tui tui-right"></i>
                            <i class="tui tui-right"></i>
                        </a>
                    </div>
                </div>
                <div ng-show="tab === 'EventLog'">
                    <div style="margin-left:15px" ng-if="isMultiChannel === true">
                        <setup-channel-selector use-info="false"></setup-channel-selector>
                    </div>
                    <!-- <div class="form-group" ng-if="ChannelTypes.length > 2">
                        <div class="wn5-setup-section-article-heading">{{ 'lang_Channel' | translate }}</div>
                        <div class="col-xs-5">
                            <select class="form-control" id="ChannelId" ng-model="SelectedChannel" ng-change="onEvtLogChange()"><option ng-selected="SelectedChannel == Type" value={{Type}} ng-repeat="Type in ChannelTypes">{{getTranslatedOption(Type)}}</option></select>
                        </div>
                    </div> -->
                    <div class="wn5-setup-section-article form-group">
                        <div class="wn5-setup-section-article-heading">{{ 'lang_logType' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                            <select class="form-control" id="EventTypeId" ng-model="data.SelectedEventLog" ng-options="Type as getEventName(Type) for Type in EventLogTypes" ng-change="onEvtLogChange(data.SelectedEventLog)"></select>
                            <button type="button" class="btn btn-primary cm-btn-dark" ng-click="backup(tab)">{{ 'lang_btn_backup' | translate }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="wn5-setup-section-article-content">
                            <table class="table table-bordered logtable wn5-setup-table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" class="logtable-idx">{{ 'lang_num' | translate }}</th>
                                        <th style="text-align:center" class="logtable-datetime">{{ 'lang_datetime' | translate }}</th>
                                        <th style="text-align:center" class="logtable-desc">{{ 'lang_description' | translate }}</th>
                                        <th style="text-align:center" class="logtable-info">{{ 'lang_information' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr height ="20" ng-repeat="Log in EL[currentEventLogPage - 1]">
                                        <td class="logtable-idx text-center">{{((currentEventLogPage - 1) * pageSize) + $index + 1}}</td>
                                        <td class="logtable-datetime text-center">{{Log.Date}}</td>
                                        <td class="logtable-desc">{{getEventName(Log.Type)}}</td>
                                        <td class="logtable-info">{{Log.Description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="getPageCount(tab) > 1" class="text-center form-group page-controller">
                        <a ng-click="getFirstPage(tab)">
                            <i class="tui tui-left"></i><i class="tui tui-left"></i>
                        </a>
                        <a ng-click="getPrevPage(tab)">
                            <i class="tui tui-left"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="text" id="SelectedEventLogPage" ng-model="data.EventLogPageIndex" style="width:40px; height:25px; font-weight:bold; margin-top:-1px; text-align:center;border: solid 1px #ddd; line-height:23px; vertical-align:middle;" ondrop="return false;" onpaste="return false;" ng-pattern-restrict="{{pagePattern}}"/>
                        <label class="control-label">/ {{getPageCount(tab)}}</label>
                        <button type="button" class="btn btn-primary cm-btn-dark" ng-click="jumpToPage(tab)" title="{{ 'lang_go' | translate }}" style="margin-left: 5px; height: 25px; padding: 0 10px; line-height: 23px;">{{ 'lang_go' | translate }}</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a ng-click="getNextPage(tab)">
                            <i class="tui tui-right"></i>
                        </a>
                        <a ng-click="getLastPage(tab)">
                            <i class="tui tui-right"></i>
                            <i class="tui tui-right"></i>
                        </a>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </form>
</div>

<script type="text/javascript">
    function IsNumeric(evt)
    {
        evt = (evt) ? evt : window.event;

        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57))
        {
            return false;
        }

        return true;
    }
</script>