<style>
.loadingTableCover {
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=60);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.loadingTableCover img {
    position: absolute;
    left: 50%;
    top: 50%;
}
</style>
<div id="taskmanager1" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <div id="contents">
        <wn5-setup-main-title
            data-title="lang_taskmanager">
        </wn5-setup-main-title>
        <hr class="wn5-setup-hr">
        <form name="opensdkForm" method="get" class="form-horizontal">
            <table class="table table-bordered wn5-setup-table">
                <thead>
                    <tr class="form-inline">
                        <th style="text-align:center">{{ 'lang_appName' | translate}}</th>
                        <th style="text-align:center">{{ 'lang_memoryUsage' | translate}} (%)</th>
                        <th style="text-align:center">{{ 'lang_cpuUsage' | translate}} (%)</th>
                        <th style="text-align:center">{{ 'lang_threadCount' | translate}}</th>
                        <th style="text-align:center">{{ 'lang_duration' | translate}}</th>
                        <th style="text-align:center">{{ 'lang_action' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if='OpenSDKAppHealth.Apps!== undefined' ng-repeat="App in OpenSDKAppHealth.Apps track by $index">
                        <td>
                            {{App.AppID}}
                        </td>
                        <td class="text-center">
                            {{App.MemoryUsage}}
                        </td>
                        <td class="text-center">
                            {{App.CPUUsage}}
                        </td>
                        <td class="text-center">
                            {{App.ThreadsCount}}
                        </td>
                        <td>
                            {{App.Duration}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-disabled="false" ng-click="OnOpenSDKAppStop(App.AppID)">{{ 'lang_killtask' | translate }}</button>
                        </td>
                    </tr>
                    <tr ng-if='OpenSDKAppHealth.Apps === undefined'>
                        <td class="text-center" colspan="6">
                            {{ 'lang_msg_noApplication' | translate}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <strong>{{ 'lang_totalUsage' | translate}}</strong>
                        </td>
                        <td class="text-center">
                            <strong>{{ OpenSDKAppHealth.TotalMemoryUsage}}</strong>
                        </td>
                        <td class="text-center">
                            <strong>{{ OpenSDKAppHealth.TotalCPUUsage}}</strong>
                        </td>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <strong>
                            {{ 'lang_total' | translate }}: {{OpenSDKAppHealth.Apps == undefined?'0':OpenSDKAppHealth.Apps.length}}
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
