<div class="wrapper wrapper-content" ng-if='pageLoaded'>
    <form name="fwUpdateForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_upgrade">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_upgrade' | translate }}</h3>
            </div>

            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_software' | translate }}</div>
                    <div class="wn5-setup-section-article-content"><input type="text" class="form-control" ng-model="FirmwareVersion" ng-disabled="true"></div>
                </div>
                <div ng-if="DeviceType === 'NWC'" class="form-group">
                    <div class="form-group">
                        <div class="wn5-setup-section-article-heading">{{ 'lang_currenlang_isp_version' | translate }}</div>
                        <div class="wn5-setup-section-article-content"><input type="text" class="form-control" ng-model="ISPVersion" ng-disabled="true"></div>
                    </div>
                    <div class="form-group" ng-if='TrackingVersion !== undefined && !PTZModel'>
                        <div class="wn5-setup-section-article-heading">{{ 'lang_tracking' | translate }}</div>
                        <div class="wn5-setup-section-article-content"><input type="text" class="form-control" ng-model="TrackingVersion" ng-disabled="true"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">SUNAPI {{ 'lang_version_lowercase' | translate }}</div>
                    <div class="wn5-setup-section-article-content"><input type="text" class="form-control" ng-model="CGIVersion" ng-disabled="true"></div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">UWA {{ 'lang_version_lowercase' | translate }}</div>
                    <div class="wn5-setup-section-article-content"><input type="text" class="form-control" ng-model="UWAVersion" ng-disabled="true"></div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_software' | translate }} {{ 'lang_upgrade_lowercase' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="file-browser-field wn5-setup-preview-table-col-6">
                            <input type="text" class="form-control" ng-model="FirmwareFile.name" ng-disabled="true">
                            <label for="fwFile"><span class="btn btn-primary cm-btn-dark">...</span></label>
                        </div>
                        <button type="button" class="btn btn-primary cm-btn-dark btn-margin-left" ng-click="updateFirmware()" ng-disabled="!FirmwareFile.name.length || IsFWUpdating || IsRestoreRunning">{{ 'lang_upgrade' | translate }}</button>
                        <input style="display: none; position: relative;" id="fwFile" class="form-control" type="file" name="fwFile" ng-disabled="IsFWUpdating || IsRestoreRunning" ng-model-instant accept=".img"  onchange="angular.element(this).scope().setFirmwareFile(this)">
                    </div>
                </div>
                <div class="form-group" ng-if="IsFWUpdating && ProgressVisible">
                    <uib-progressbar class="progress-striped active" animate="true" max="100" value="ProgressBar" type="success" ng-if="IsFWUpdating && ProgressVisible"><i>{{ProgressBarName}} {{ProgressBar}} %</i></uib-progressbar>
                </div>
            </div>
        </div>
    </form>
    <form name="factoryDefForm" method="get" class="form-horizontal"  novalidate>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_factoryDefault' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <div ng-repeat="Setting in ExcludeSettings">
                            <input type="checkbox" ng-disabled="IsFWUpdating || IsRestoreRunning" value="Setting" ng-checked="SelectedSettings.indexOf(Setting) > -1" ng-click="toggleExclusion(Setting)"> <label>{{getTranslatedOption(Setting)}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <button type="button" class="btn btn-primary cm-btn-dark" ng-disabled="IsFWUpdating || IsRestoreRunning" ng-click="factoryReset()">{{ 'lang_reset' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <form name="BackupForm" method="get" class="form-horizontal"  novalidate>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_configurationBackupRestore' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <div>
                        <button type="button" class="btn btn-primary cm-btn-dark btn-margin-right" ng-disabled="IsFWUpdating || IsRestoreRunning" ng-click="backupConfig()">{{ 'lang_btn_backup' | translate }}</button>
                        <label for="confFile"><span class="btn btn-primary cm-btn-dark" ng-disabled="IsFWUpdating || IsRestoreRunning">{{ 'lang_restore' | translate }}</span></label>
                        <input style="display: none; position: relative;" id="confFile" class="form-control" type="file" name="confFile" base-sixty-four-input ng-disabled="IsFWUpdating || IsRestoreRunning" ng-model-instant accept=".bin,.dat"  onchange="angular.element(this).scope().setConfigFile(this)">
                    </div>
                    <div>
                        <uib-progressbar class="progress-striped active" animate="true" max="100" value="ProgressBar" type="success" ng-if="DeviceType == 'NVR' && IsRestoreRunning && ProgressVisible"><i>{{ProgressBarName}} {{ProgressBar}} %</i></uib-progressbar>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <form name="RebootForm" method="get" class="form-horizontal"  novalidate>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_restart' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article form-group">
                <div class="wn5-setup-section-article-content">
                    <button type="button" class="btn btn-primary cm-btn-dark" ng-disabled="IsFWUpdating || IsRestoreRunning" ng-click="reboot()">{{ 'lang_restart' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="confirmMessage.html">
    <form name="scheduleForm" method="get" class="form-horizontal" novalidate>
    <div class="modal-header modal-setup">
    <h3>{{ 'lang_Confirm' | translate }}</h3>
    </div>
    <div class="modal-body modal-setup" style="text-align:center">
    <h5>{{ confirmMessage | translate }}</h5>
    </div>
    <div class="modal-footer modal-setup" style="text-align:center">
    <button type="button" class="btn btn-primary" type="button" ng-click="ok()">{{ 'lang_ok' | translate }}</button>
    <button type="button" class="btn btn-white" type="button" ng-click="cancel()">{{ 'lang_cancel' | translate }}</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="errorPopup.html">
    <form name="errorForm" method="get" class="form-horizontal" novalidate>
    <div class="modal-header modal-setup">
    <h3>{{ headerMessage | translate }}</h3>
    </div>    
    <div class="modal-body modal-setup" style="text-align:center">
    <h5>{{ errorMessage | translate }}</h5>        
    </div>                 
    <div class="modal-footer modal-setup" style="text-align:center">
    <button type="button" class="btn btn-primary" type="button" ng-click="ok()">{{ 'lang_ok' | translate }}</button>           
    </div>
    </form>
</script>