<h1 class="wn5-setup-main-title">Configuration du PTZ num&eacute;rique</h1>

<div class="wn5-setup-section">
	<p>Vous pouvez r&eacute;gler les angles de la cam&eacute;ra afin qu&apos;ils bougent apr&egrave;s l&apos;ex&eacute;cution du zoom num&eacute;rique plut&ocirc;t que de modifier l&rsquo;angle de la cam&eacute;ra en d&eacute;pla&ccedil;ant physiquement la cam&eacute;ra de haut en bas (inclinaison) ou gauche et droite (panoramique). Vous pouvez &eacute;tablir un pr&eacute;r&eacute;glage ou modifier les vues cam&eacute;ra en d&eacute;finissant un groupe de pr&eacute;r&eacute;glages. Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
    <div class="wn5-online-help-info" ng-if="!objectDetectionSupport && !SupportChannelExpansionFeature && !SupportAutoImageAlignment">
    <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
    <ul>
        
        <li>L&rsquo;option <strong class="UI">[Profil PTZ num&eacute;rique]</strong> doit &ecirc;tre s&eacute;lectionn&eacute;e dans <strong class="UI">[Profil vid&eacute;o]</strong>&gt;<a class="wn5-online-help-link" href="../basic/profile.html#profiletype" ng-href="#/basic/profile.html#profiletype"><strong class="UI">[Type de profil]</strong></a> afin de r&eacute;gler le PTZ num&eacute;rique.</li>
        <!-- <li>Le champ angulaire de vision de la vue 3M Direct est plus grand que celui modifi&eacute; sur l&rsquo;&eacute;cran de pr&eacute;visualisation.</li> -->
        <!-- <li ng-if="FixedProfileCodecChange">If connected to the web viewer through Internet Explorer, digital PTZ function can only be used after installing a plugin. To install the plugin, click the plugin <span class="tui tui-wn5-download"></span> button at the top right on the <strong class="UI">[Live]</strong> screen or the <strong class="UI">[Playback]</strong> screen.</li>
		<li ng-if="FixedProfileCodecChange">After installing the plugin, you can use the digital PTZ function without restriction only when the resolution of the web browser is 1024 or higher.</li> --></ul>
</div>
</div>
<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && (objectDetectionSupport || SupportAutoImageAlignment)">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && (objectDetectionSupport || SupportAutoImageAlignment)">
            <div class="wn5-setup-section-heading">
                <h2>Sélectionner un canal</h2>
            </div>
            <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Après avoir sélectionné le canal caméra, vous pouvez définir les détails PTZ pour chaque canal.</p>
            <p ng-if="objectDetectionSupport">La transmission Live (direct) s'affiche sur le canal 1 tandis que la vidéo PTZ numérique s'affiche sur le canal 2. Vous ne pouvez configurer [PTZ numérique] que sur le canal 2.</p>
            <p ng-if="SupportAutoImageAlignment">Après avoir sélectionné le canal de la caméra, vous pouvez définir les détails PTZ pour chaque canal. </p>
            <p ng-if="SupportAutoImageAlignment">L&rsquo;ensemble de pr&eacute;s&eacute;lections dans le menu de PTZ num&eacute;rique peut &ecirc;tre vu sur l&rsquo;&eacute;cran de direct.</p>
            <p ng-if="SupportAutoImageAlignment">CAN2 &agrave; CAN5 correspondent aux vid&eacute;os des cam&eacute;ras install&eacute;es ind&eacute;pendamment. CAN1 correspond &agrave; une vue panoramique sur plusieurs &eacute;crans de cam&eacute;ra de CAN2 &agrave; CAN5 dispos&eacute;s en rang&eacute;e. CAN6 et CAN7 correspondent aux vid&eacute;os de la vid&eacute;o CAN1 &agrave; laquelle le PTZ num&eacute;rique est appliqu&eacute;.</p>
            <p ng-if="SupportAutoImageAlignment">« Configuration PTZ numérique » peut seulement être configuré sur CAN 6 à CAN 7.</p>
            <p ng-if="MultiImager">La transmission Live (direct) s'affiche sur le canal 1 tandis que la vidéo PTZ numérique s'affiche sur le canal 2 et le canal 3. Vous ne pouvez configurer [PTZ numérique] que sur les canaux 2 et 3.</p>
            <!-- <p ng-if="SupportChannelExpansionFeature">Après avoir sélectionné le canal de la caméra, vous pouvez définir les détails PTZ pour chaque canal.</p>
            <p ng-if="SupportChannelExpansionFeature">Le mode d’affichage de chaque canal est décrit ci-dessous. Seuls les canaux de 4 à 8 peuvent être configurés.</p>
            <ul ng-if="SupportChannelExpansionFeature">
                <li>Canal&nbsp;1&nbsp;: Affiche une vid&eacute;o de la cam&eacute;ra fisheye telle quelle, sans correction.</li>
                <li>Canal&nbsp;2&nbsp;: Lisse une vid&eacute;o &agrave; 360° et l&rsquo;affiche sous forme de vue panoramique murale.</li>
                <li>Canal&nbsp;3&nbsp;: Lisse une vid&eacute;o &agrave; 360° et l&rsquo;affiche sous forme de vue panoramique fractionn&eacute;e haut/bas.</li>
                <li>Canal&nbsp;4&nbsp;: Lisse 4 &eacute;crans pour les rendre similaires &agrave; la vision humaines et les affiche simultan&eacute;ment. S&eacute;lectionnez un &eacute;cran pour d&eacute;placer la vue vers le haut, le bas, la gauche, la droite ou pour un zoom avant/arri&egrave;re.</li>
                <li>Canal&nbsp;5&nbsp;: Affiche la vid&eacute;o en haut &agrave; gauche de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;6&nbsp;: Affiche la vid&eacute;o en haut &agrave; droite de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;7&nbsp;: Affiche la vid&eacute;o en bas &agrave; gauche de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;8&nbsp;: Affiche la vid&eacute;o en bas &agrave; droite de la vue Quad du canal&nbsp;4.</li>
            </ul> -->

        </div>
    </div>
</div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Ajuster le PTZ</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Vous pouvez ajuster les actions de panoramique, de mosa&iuml;que et de zoom de la cam&eacute;ra.</p>
        </div>
			
        <div class="wn5-online-help-action">
    	   <h4><a name="ptzcontrol"></a>Ajuster le PTZ</h4>
            <ul>
                <li>Lorsque vous faites glisser l&apos;ic&ocirc;ne <span class="tui tui-wn5-ptz-handle"></span>avec la souris, la cam&eacute;ra se d&eacute;place en panoramique et en inclinaison.</li>
                <li>S&eacute;lectionnez un grossissement d&apos;image en cliquant sur le bouton <span class="tui tui-wn5-ptz-plus"></span> pour zoomer dans l&apos;&eacute;cran ou en cliquant sur le bouton <span class="tui tui-wn5-ptz-minus"></span> pour zoomer dans l&apos;&eacute;cran depuis la barre de zoom.</li>
                <li ng-if="(PanTiltOnlyModel && ContinousFocus) || PTZModel">D&eacute;placez le focus en cliquant sur l&apos;ic&ocirc;ne <span class="tui tui-wn5-ptz-near"></span> ou &eacute;loignez le focus en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-far"></span>.</li>
            </ul>
        </div>
        <div class="wn5-online-help-action" ng-if="objectDetectionSupport">
            <h4>Activer le suivi automatique</h4>
            <p>La fonction de suivi automatique est utilisée pour suivre automatiquement les mouvements d'un objet détecté. Vous pouvez configurer les caméras AI pour qu’elles détectent et suivent automatiquement seuls les objets spécifiés.</p>
            <ol>
                <li>Sélectionnez le type d'objets à suivre dans la colonne <strong class="UI">[Objet]</strong>.</li>
                <li>Cliquez sur l'icône <span class="tui tui-ch-live-ptz-tracking-auto-off"></span> pour que la caméra suive automatiquement le mouvement des objets du type désigné dans <strong class="UI">[Objet]</strong> lorsqu'elle les détecte.</li>
                <li>Pour arrêter le Suivi automatique, cliquez sur l'icône de Suivi automatique <span class="tui tui-ch-live-ptz-tracking-auto-on active"></span> une seconde fois.</li>
            </ol>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>Pr&eacute;r&eacute;glage</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Le pr&eacute;r&eacute;glage correspond au r&eacute;glage des vues de la cam&eacute;ra. 128&nbsp;pr&eacute;r&eacute;glages peuvent &ecirc;tre d&eacute;finis.</p>
        </div>
        <div class="wn5-online-help-action">
    	   <h4>D&eacute;finir un pr&eacute;r&eacute;glage</h4>
    		<ol>
                <li ng-if="!SupportAutoImageAlignment">Agrandissez l&apos;image de la cam&eacute;ra en cliquant sur le bouton <span class="tui tui-wn5-ptz-plus"></span> sur l&apos;&eacute;cran de contr&ocirc;le PTZ</li>
                <li ng-if="SupportAutoImageAlignment">Sur l&apos;&eacute;cran de contr&ocirc;le PTZ,</li>
                <ul>
                        <li>Ajustez les vues de la cam&eacute;ra en cliquant et en faisant glisser le bouton <span class="tui tui-wn5-ptz-handle"></span>.</li>
                        <li>S&eacute;lectionnez un grossissement d&apos;image en cliquant sur le bouton <span class="tui tui-wn5-ptz-plus"></span> pour zoomer dans l&apos;&eacute;cran ou en cliquant sur le bouton <span class="tui tui-wn5-ptz-minus"></span> pour zoomer dans l&apos;&eacute;cran depuis la barre de zoom.</li>
                    </ul>


    			<li>S&eacute;lectionnez un nombre pr&eacute;d&eacute;fini dans <strong class="UI">[Nombre]</strong>.</li>
    			<li>Entrez le nom de pr&eacute;r&eacute;glage appropri&eacute; dans <strong class="UI">[Nom]</strong>.</li>
                <li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong>.</li>
            </ol>
            <p ng-if="DigitalAutoTracking">Lorsque vous cliquez sur le bouton <span class="tui tui-ch-live-ptz-tracking-auto-off"></span>, un objet en mouvement sur l&apos;&eacute;cran sera suivi automatiquement. Lorsque vous cliquez &agrave; nouveau sur le bouton, le suivi automatique s&apos;arr&ecirc;te.</p>
        </div>


        <div class="wn5-online-help-action">
    	   <h4>Passer &agrave; un pr&eacute;r&eacute;glage</h4>
    		<ol>
                <li>S&eacute;lectionnez un nombre pr&eacute;d&eacute;fini dans <strong class="UI">[Nombre]</strong>.</li>
    			<li>Lorsque vous cliquez sur le bouton <strong class="UI">[Aller]</strong>, les vues cam&eacute;ra vont vers l&apos;emplacement d&eacute;fini.</li>
    			
    		</ol>
    	</div>
        <div class="wn5-online-help-action">
    	   <h4>Effacer un pr&eacute;r&eacute;glage</h4>
    		<ol>
                <li>S&eacute;lectionnez le nombre pr&eacute;r&eacute;gl&eacute; que vous souhaitez supprimer de <strong class="UI">[Nombre]</strong>.</li>
                <li>Lorsque vous cliquez sur le bouton <strong class="UI">[Supprimer]</strong>, le pr&eacute;r&eacute;glage sera supprim&eacute;.</li>
    		</ol>
        </div>


        <div class="wn5-online-help-action" ng-if="FisheyeLens">
            <h4>R&eacute;glage de la position initiale</h4>
            <ol>
                <li>&Eacute;largissez l&rsquo;image de la cam&eacute;ra en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-plus"></span> sur l&rsquo;&eacute;cran de commande PTZ:</li>
                <ul>
                    <li>r&eacute;glez les vues de la cam&eacute;ra en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-handle"></span> et en la faisant glisser.</li>
                    <li>s&eacute;lectionnez un grossissement d&rsquo;image en cliquant sur l&rsquo;ic&ocirc;ne<span class="tui tui-wn5-ptz-plus"></span> pour agrandir l&rsquo;&eacute;cran ou en cliquant sur l&rsquo;ic&ocirc;ne<span class="tui tui-wn5-ptz-minus"></span> pour agrandir l&rsquo;&eacute;cran &agrave; partir de la barre de zoom.</li>
                </ul>
                <li>Cliquez sur le bouton <strong class="UI">[D&eacute;finir l&rsquo;accueil]</strong>.</li>
            </ol>
        </div>

        <div class="wn5-online-help-action" ng-if="FisheyeLens">
            <h4>Naviguez jusqu&rsquo;&agrave; la position initiale</h4>
            <ol>
                <li>Cliquez sur le bouton <strong class="UI">[Aller &agrave; l&rsquo;accueil]</strong>.</li>
            </ol>
        </div>

        <div class="wn5-online-help-action" ng-if="FisheyeLens">
            <h4>S&eacute;lection d&rsquo;un &eacute;cran divis&eacute;</h4>
            <ol>
                <li>S&eacute;lectionnez un nombre dans <strong class="UI">[Quadrant]</strong>. 1 correspond &agrave; la partie sup&eacute;rieure gauche de l&rsquo;affichage en mosa&iuml;que par 4, 2 correspond &agrave; la partie sup&eacute;rieure droite, 3 &agrave; la partie inf&eacute;rieure gauche et 4 &agrave; la partie inf&eacute;rieure droite.</li>
            </ol>
        </div>

            <!-- <div class="wn5-online-help-action" ng-if="(PTZModel || isDigitalPTZ) && !FisheyeLens && !SupportAutoImageAlignment && !objectDetectionSupport">
                    <h4>Activer le Suivi automatique</h4>
                    <p>La fonction de suivi automatique est utilisée pour suivre automatiquement les mouvements d'un objet détecté à l'écran.</p>
                    <ol>
                        <li><span class="tui tui-ch-live-ptz-tracking-auto-off"></span> Cliquez sur l'icône à nouveau pour que la caméra suive automatiquement les objets en mouvement. L'icône devient <span class="tui tui-ch-live-ptz-tracking-auto-on active"></span>. Cliquez sur l’icône à nouveau pour arrêter la fonction de Suivi automatique.</li>
                    </ol>
                </div> -->

    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="group"></a>Groupe</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Vous pouvez regrouper plusieurs pr&eacute;r&eacute;glages et acc&eacute;der aux pr&eacute;r&eacute;glages plac&eacute;s dans un groupe de mani&egrave;re s&eacute;quentielle.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>D&eacute;finir un groupe</h4>
            <ol>
                <li>S&eacute;lectionnez un num&eacute;ro de groupe dans <strong class="UI">[N°&nbsp;de groupe]</strong>.</li>
                <li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong> dans <strong class="UI">[Prérégler liste]</strong>. Lorsque la liste des pr&eacute;r&eacute;glages appara&icirc;t, s&eacute;lectionnez un num&eacute;ro dans <strong class="UI">[Préréglage n°]</strong> et entrez la dur&eacute;e (en secondes) pendant laquelle il faut rester dans le pr&eacute;r&eacute;glage appropri&eacute; dans <strong class="UI">[Temps de passage]</strong>.</li>
                <li>Entrez deux ou plus de num&eacute;ros pr&eacute;r&eacute;gl&eacute;s en r&eacute;p&eacute;tant l&apos;&eacute;tape n°&nbsp;2.</li>
				<li>Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</li>
            </ol>
        </div>
        <div class="wn5-online-help-action">
            <h4>Lancer un groupe</h4>
            <ol>
                <li>S&eacute;lectionnez un groupe que vous souhaitez lancer dans <strong class="UI">[N°&nbsp;de groupe]</strong>.</li>
                <li>Lorsque vous cliquez sur le bouton <strong class="UI">[Déb]</strong>, les pr&eacute;r&eacute;glages du groupe appropri&eacute; changent en fonction du temps de passage.</li>
				<li>Lorsque vous cliquez sur le bouton <strong class="UI">[Arr&ecirc;ter]</strong>, les pr&eacute;r&eacute;glages en cours d&apos;ex&eacute;cution en groupe s&apos;arr&ecirc;tent.</li>
            </ol>
        </div>
        <div class="wn5-online-help-action">
            <h4>Effacer un groupe</h4>
            <ol>
                <li>S&eacute;lectionnez un groupe que vous souhaitez effacer du <strong class="UI">[N°&nbsp;de groupe]</strong>.</li>
                <li>Lorsque vous cliquez sur le bouton <strong class="UI">[Supprimer]</strong>, le groupe sera supprim&eacute;.</li>
            </ol>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">