<h1 class="wn5-setup-main-title">Configuration PTZ</h1>
<div class="wn5-setup-section">
    <p>Vous pouvez d&eacute;finir la position du pr&eacute;r&eacute;glage PTZ de la cam&eacute;ra et les fonctions d&eacute;taill&eacute;es, y compris l&apos;oscillation, le groupe, le tour et le d&eacute;marrage automatique. Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>Pr&eacute;r&eacute;glage</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Vous pouvez d&eacute;finir la position pr&eacute;r&eacute;gl&eacute;e de la cam&eacute;ra PTZ et enregistrer ou non la derni&egrave;re position.</p>
        </div>
		
        <div class="wn5-online-help-action">
    	   <h4>D&eacute;finir un pr&eacute;r&eacute;glage</h4>
            <ol>
                <li>R&eacute;glez la position de la cam&eacute;ra comme suit.</li>
                <ul>
                    <li>Lorsque vous faites glisser l&apos;ic&ocirc;ne <span class="tui tui-wn5-ptz-handle"></span> avec la souris, la cam&eacute;ra se d&eacute;place en panoramique et en inclinaison.</li>
                    <li>S&eacute;lectionnez un grossissement d&apos;image en cliquant sur le bouton <strong class="UI">[+]</strong> pour zoomer dans l&apos;&eacute;cran ou en cliquant sur le bouton <strong class="UI">[-]</strong> pour zoomer dans l&apos;&eacute;cran depuis la barre de zoom.</li>
                    <li>Rapprochez le focus en cliquant sur l&apos;ic&ocirc;ne <span class="tui tui-wn5-ptz-near"></span> ou &eacute;loignez le focus en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-far"></span>.</li>
                    <li>Pour ajuster automatiquement la mise au point de la cam&eacute;ra, cliquez sur le bouton <span class="tui tui-wn5-simple-focus"></span>.</li>
                </ul>
                <li>Cliquez sur le bouton <strong class="UI">[Définir préréglage]</strong>.</li>
                <li>S&eacute;lectionnez le num&eacute;ro pr&eacute;d&eacute;fini souhait&eacute; dans <strong class="UI">[Nombre]</strong> dans la bo&icirc;te de dialogue <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong>.</li>
                <li>Entrez le nom de pr&eacute;r&eacute;glage appropri&eacute; dans <strong class="UI">[Nom]</strong>. Le nom du pr&eacute;r&eacute;glage peut uniquement &ecirc;tre saisi en utilisant des lettres et des chiffres en majuscules / minuscules.</li>
                <li>Cliquez sur le bouton <strong class="UI">[OK]</strong>.</li>
            </ol>
            <p>Le pr&eacute;r&eacute;glage ajout&eacute; appara&icirc;tra dans la liste <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong>. Vous pouvez d&eacute;finir les d&eacute;tails du pr&eacute;r&eacute;glage pertinent dans la liste des pr&eacute;r&eacute;glages.</p>
        </div>
				<div class="wn5-online-help-action">
    	   <h4>Effacer un pr&eacute;r&eacute;glage</h4>
            <ul>
                <li>S&eacute;lectionnez la case &agrave; cocher d&apos;un pr&eacute;r&eacute;glage que vous souhaitez supprimer dans la liste des pr&eacute;r&eacute;glages de <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong> et cliquez sur le bouton <strong class="UI">[Supprimer]</strong>.</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>Revenir &agrave; l&rsquo;accueil</h4>
            <ul>
                <li>Cliquez sur le bouton <strong class="UI">[Aller &agrave; l&rsquo;accueil]</strong>.</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>R&eacute;glage de l&rsquo;accueil</h4>
            <ol>
                <li>R&eacute;glez la position de la cam&eacute;ra que vous souhaitez d&eacute;finir comme position d&rsquo;accueil comme suit.</li>
                <ul>
                    <li>Lorsque vous faites glisser l&apos;ic&ocirc;ne <span class="tui tui-wn5-ptz-handle"></span> avec la souris, la cam&eacute;ra se d&eacute;place en panoramique et en inclinaison.</li>
                    <li>S&eacute;lectionnez un grossissement d&apos;image en cliquant sur le bouton <strong class="UI">[+]</strong> pour zoomer dans l&apos;&eacute;cran ou en cliquant sur le bouton <strong class="UI">[-]</strong> pour zoomer dans l&apos;&eacute;cran depuis la barre de zoom.</li>
                    <li>Rapprochez le focus en cliquant sur l&apos;ic&ocirc;ne <span class="tui tui-wn5-ptz-near"></span> ou &eacute;loignez le focus en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-far"></span>.</li>
                    <li>Pour ajuster automatiquement la mise au point de la cam&eacute;ra une fois, cliquez sur le bouton <span class="tui tui-wn5-simple-focus"></span>.</li>
                </ul>
                <li>Cliquez sur le bouton <strong class="UI">[D&eacute;finir l&rsquo;accueil]</strong>.</li>
            </ol>
    	</div>
        <div class="wn5-online-help-info" ng-if="RememberLastPosition">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
        <ul>
            <li>Lorsque la caméra est redémarrée après avoir défini la position d'origine, l'écran est positionné à la position d'origine. Si une autre séquence (Préréglage, Plage de relèvement, Groupe, Tour, Piste) est en cours d'exécution, la séquence qui était active sera exécutée sans être déplacée vers la position de base lorsque la caméra est réinitialisée.</li>
        </ul>
    </div>
        <div class="wn5-setup-section-article-content">
            <h3>Configuration pr&eacute;r&eacute;gl&eacute;e</h3>
            <p>Vous pouvez afficher la liste des pr&eacute;r&eacute;glages et modifier ou supprimer les param&egrave;tres d&eacute;taill&eacute;s de chaque pr&eacute;r&eacute;glage.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <!--           <h5>Num&eacute;ro</h5>  --> 
            <h5>No.</h5>
            <p>C&apos;est le num&eacute;ro de pr&eacute;r&eacute;glage saisi dans la bo&icirc;te de dialogue <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>Nom</h5>
            <p>C&apos;est le nom de pr&eacute;r&eacute;glage saisi dans la bo&icirc;te de dialogue <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>Action de suivi</h5>
       
            <p>D&eacute;finissez l&apos;action de la cam&eacute;ra &agrave; ex&eacute;cuter apr&egrave;s que la cam&eacute;ra se soit d&eacute;plac&eacute;e vers la position pr&eacute;d&eacute;finie correspondante.</p>
        <ul>
            <li><strong class="UI">Désactivé</strong> : Aucune action ne sera ex&eacute;cut&eacute;e apr&egrave;s que la cam&eacute;ra se soit d&eacute;plac&eacute;e vers la position pr&eacute;d&eacute;finie correspondante.</li>
                <li><strong class="UI">Démarrer automatiquement</strong>&nbsp;: Une action d&eacute;finie &agrave; partir de <a class="wn5-online-help-link" href="ptzInfoSetup.html#autorun" ng-href="#/help/ptzSetup_ptzInfoSetup?#autorun"><strong class="UI">l&apos;onglet </strong>[Démarrer automatiquement]</a> sera ex&eacute;cut&eacute;e automatiquement.&nbsp;Lorsque <strong class="UI">[D&eacute;sactiver]</strong> est s&eacute;lectionn&eacute; dans le <strong class="UI">[Mode]</strong> Ex&eacute;cuter automatiquement ou qu&apos;il n&apos;y a pas d&apos;action de d&eacute;marrage automatique, l&apos;&eacute;tat d&apos;ex&eacute;cution pr&eacute;d&eacute;fini sera conserv&eacute;.</li>
                <li><strong class="UI">Suivi automatique</strong>&nbsp;: Ex&eacute;cute le suivi automatique pour une dur&eacute;e r&eacute;gl&eacute;e depuis la colonne <strong class="UI">[Heure de suivi]</strong>.</li>
                <li><strong>Suivi automatique &gt; Aller à l’accueil</strong> : Repositionne la PTZ dans sa position initiale &agrave; la fin du suivi automatique. Pour savoir comment d&eacute;finir la position initiale, <a href="ptzInfoSetup.html#set_home">cliquez ici</a>.</li>
                <li><strong class="UI">Analytique de vidéo</strong>&nbsp;: L&apos;action d&apos;analyse vid&eacute;o sera ex&eacute;cut&eacute;e.</li>
        </ul>
    </div>
        <div class="wn5-setup-section-article-content">
            <h5>Heure de suivi</h5>
                   <p>D&eacute;finit le temps de suivi d&rsquo;ex&eacute;cution du suivi automatique lorsque <strong class="UI">[Suivi automatique]</strong> est s&eacute;lectionn&eacute; dans <strong class="UI">[Apr&egrave;s action]</strong>.</p>
        </div>
	   <div class="wn5-setup-section-article-content">
            <h5>Aller au menu</h5>
       
            <p>Vous pouvez passer &agrave; la page de configuration et v&eacute;rifier ou d&eacute;finir une option d&eacute;taill&eacute;e.</p>
            <ul>
                <li><strong class="UI">Réglage caméra</strong>&nbsp;: Allez &agrave; la page <strong class="UI">[Vid&eacute;o &amp; Audio] </strong>&gt; <strong class="UI">[R&eacute;glage cam&eacute;ra]</strong>. Vous pouvez modifier le r&eacute;glage de la cam&eacute;ra pour l&apos;adapter &agrave; l&apos;environnement du pr&eacute;r&eacute;glage s&eacute;lectionn&eacute;. &nbsp;</li>
                <li><strong class="UI">D&eacute;tection de mouvement</strong>&nbsp;: Allez &agrave; la page <strong class="UI">[Analyse] </strong>&gt; <strong class="UI">[Démarrer automatiquement]</strong>. Lorsque <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> est s&eacute;lectionn&eacute; parmi les options <strong class="UI">[Type]</strong> de la page de d&eacute;tection de mouvement de l&apos;option, vous pouvez d&eacute;finir un &eacute;v&eacute;nement de d&eacute;tection de mouvement diff&eacute;rent pour chaque pr&eacute;r&eacute;glage.</li>
                <li><strong class="UI">IVA</strong>: Allez &agrave; la page <strong class="UI">[Analyse] </strong>&gt; <strong class="UI">[IVA]</strong>. Lorsque <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> est s&eacute;lectionn&eacute; parmi les options <strong class="UI">[Type]</strong> de la page IVA, vous pouvez d&eacute;finir un &eacute;v&eacute;nement IVA (analyse vid&eacute;o intelligente) diff&eacute;rent pour chaque pr&eacute;r&eacute;glage.</li>
            </ul>
    </div>
        <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h3>Derni&egrave;re position</h3>
            <p>Vous pouvez r&eacute;gler la cam&eacute;ra pour passer &agrave; la derni&egrave;re position lorsque vous allumez et &eacute;teignez la cam&eacute;ra. S&eacute;lectionnez si vous souhaitez enregistrer la derni&egrave;re position de la cam&eacute;ra et s&eacute;lectionnez l&apos;intervalle d&apos;enregistrement.</p>
        </div>
            <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>Enregistrer la dernière position</h5>
                <p>Pour enregistrer la derni&egrave;re position, s&eacute;lectionnez <strong class="UI">[Utiliser]</strong>.</p>
        </div> 
        <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>Heure</h5>
       
            <p>D&eacute;finissez l&apos;intervalle d&apos;enregistrement pendant lequel enregistrer la position actuelle comme derni&egrave;re position. L&apos;unit&eacute; utilis&eacute;e pour mesurer l&apos;intervalle est la seconde. Saisissez l&apos;intervalle d&apos;enregistrement dans le champ et cliquez sur <strong class="UI">[AppliquerD&eacute;finir]</strong>.</p>
        </div>
        </div>
    </div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Plage de relèvement</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>La plage de rel&egrave;vement est la fonction permettant &agrave; la cam&eacute;ra de d&eacute;placer deux sections pr&eacute;d&eacute;finies d&apos;avant en arri&egrave;re.</p>
        </div>
            <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
                <ul>
                    <li>Pour utiliser la fonction plage de rel&egrave;vement, 2 pr&eacute;r&eacute;glages au moins doivent &ecirc;tre ajout&eacute;s. Vous pouvez ajouter ou modifier un pr&eacute;r&eacute;glage depuis <a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">l&apos;onglet </strong>[Pr&eacute;r&eacute;glage]</a>.</li>
                </ul>
            </div>
		<div class="wn5-setup-section-article-content">
            <h3>Configuration Swing</h3><!-- <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 스윙 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 스윙 기능이 멈춥니다. </p>  --></div>
            <div class="wn5-setup-section-article-content">
                <h5>À partir du préréglage n °</h5>
                <p>S&eacute;lectionnez le num&eacute;ro de d&eacute;part pr&eacute;d&eacute;fini pour commencer l&apos;action de plage de rel&egrave;vement.</p>
            </div>
            <div class="wn5-setup-section-article-content">
                <h5>Vers préréglage n °</h5>
                <p>S&eacute;lectionnez le num&eacute;ro de pr&eacute;r&eacute;glage de fin pour terminer l&apos;action de plage de rel&egrave;vement.</p><!--  <p>&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋] 탭</strong></a>에서 추가하거나 수정할 수 있습니다.</p> --></div>
		<div class="wn5-setup-section-article-content">
                <h5>Vitesse</h5>
                <p>C&apos;est la vitesse de d&eacute;placement du pr&eacute;r&eacute;glage de d&eacute;part et du pr&eacute;r&eacute;glage de fin.</p>
                <p>Si vous d&eacute;finissez un nombre plus &eacute;lev&eacute;, la cam&eacute;ra se d&eacute;place plus rapidement de la position de pr&eacute;r&eacute;glage de d&eacute;part &agrave; la position de pr&eacute;r&eacute;glage de fin.</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>Temps de passage</h5>
                <p>C&apos;est la dur&eacute;e pendant laquelle la cam&eacute;ra s&apos;arr&ecirc;te et se met en attente &agrave; la position de pr&eacute;r&eacute;glage de d&eacute;part et &agrave; la position de pr&eacute;r&eacute;glage de fin, respectivement.</p>
                <p>Par exemple, si «&nbsp;1&nbsp;» est saisi, la cam&eacute;ra reste dans la position de pr&eacute;r&eacute;glage de d&eacute;marrage pendant 1 seconde, puis se d&eacute;place vers la position de pr&eacute;r&eacute;glage de sortie.</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h5>Mode swing</h5>
                <p>S&eacute;lectionnez si vous souhaitez d&eacute;placer la cam&eacute;ra uniquement avec l&apos;action de panoramique ou d&apos;inclinaison de la cam&eacute;ra ou si vous souhaitez d&eacute;placer la cam&eacute;ra avec les actions de panoramique et d&apos;inclinaison lorsque la cam&eacute;ra se d&eacute;place du d&eacute;but vers la fin pr&eacute;r&eacute;gl&eacute;e.</p>
            </div>
        <div class="wn5-online-help-action">
            <h4>Configuration de plage de rel&egrave;vement</h4>
                <ol>
                    <li>S&eacute;lectionnez le num&eacute;ro de pr&eacute;r&eacute;glage pour commencer le rel&egrave;vement dans la colonne <strong class="UI">[Heure de d&eacute;but pr&eacute;r&eacute;gl&eacute;e n°]</strong>.</li>
                    <li>S&eacute;lectionnez le num&eacute;ro de pr&eacute;r&eacute;glage pour terminer le rel&egrave;vement &agrave; partir de la colonne <strong class="UI">[Heure de fin pr&eacute;r&eacute;gl&eacute;e n°]</strong>.</li>
                    <li>Saisissez la vitesse de d&eacute;placement entre le pr&eacute;r&eacute;glage de d&eacute;part et le pr&eacute;r&eacute;glage de fin dans la colonne <strong class="UI">[Vitesse]</strong>.</li>
                    <li>Saisissez le temps de maintien pr&eacute;r&eacute;gl&eacute; dans la colonne <strong class="UI">[Temporisation]</strong> pour d&eacute;cider combien de temps la cam&eacute;ra reste dans le pr&eacute;r&eacute;glage de d&eacute;part, puis se d&eacute;place vers le pr&eacute;r&eacute;glage de fin.</li>
                    <li>R&eacute;glez le mode d&apos;action de rel&egrave;vement depuis la colonne <strong class="UI">[Mode plage de rel&egrave;vement]</strong>. Par exemple, si vous souhaitez d&eacute;placer la cam&eacute;ra vers le pr&eacute;r&eacute;glage uniquement dans la direction panoramique, s&eacute;lectionnez [Panoramique]. &nbsp;</li>
                </ol>
        </div>
		        <div class="wn5-online-help-action">
            <h4>D&eacute;marrer le rel&egrave;vement</h4>
                <ul>
                    <li>Pour lancer l&apos;action de rel&egrave;vement, cliquez sur le bouton <strong class="UI">[Déb]</strong>.</li>
                </ul>
        </div>
		        <div class="wn5-online-help-action">
            <h4>Arr&ecirc;ter le rel&egrave;vement</h4>
                <ul>
                    <li>Pour arr&ecirc;ter l&apos;action de rel&egrave;vement, cliquez sur le bouton <strong class="UI">[Arr&ecirc;ter]</strong>.</li>
                </ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a name="group"></a>Groupe</h2>
    </div>
    <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <p>La fonction de groupe est une fonction utilis&eacute;e pour grouper un certain nombre de pr&eacute;r&eacute;glages pr&eacute;c&eacute;demment d&eacute;sign&eacute;s et acc&eacute;der s&eacute;quentiellement aux pr&eacute;r&eacute;glages plac&eacute;s dans un groupe.</p>
                <p>Il est possible de d&eacute;finir jusqu&apos;&agrave; 6 groupes et de sauvegarder jusqu&apos;&agrave; 128 pr&eacute;s&eacute;lections pour chaque groupe.</p>
            </div>
                <div class="wn5-online-help-info">
                    <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
                    <ul>
                        <li>Pour utiliser la fonction de groupe, un pr&eacute;r&eacute;glage doit avoir &eacute;t&eacute; ajout&eacute; pr&eacute;c&eacute;demment. Vous pouvez ajouter un pr&eacute;r&eacute;glage depuis <a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">l&apos;onglet </strong>[Pr&eacute;r&eacute;glage]</a>.</li>
                    </ul>
                </div>
		<div class="wn5-setup-section-article-content">
            <h3>Configuration groupe</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 그룹&nbsp;기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 그룹&nbsp;동작이 멈춥니다. </p> -->   
        </div>
            <div class="wn5-setup-section-article-content">
                    <h5>Préréglage n°</h5>
                    <p>S&eacute;lectionnez un num&eacute;ro pr&eacute;r&eacute;gl&eacute; &agrave; enregistrer dans un groupe.</p><!-- <p><a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋]</strong> 탭</a>에서 추가하거나 수정할 수 있습니다.</p> -->
            </div>
      
		<div class="wn5-setup-section-article-content">
                <h5>Vitesse</h5>
                    <p>Saisissez la vitesse de d&eacute;placement entre les pr&eacute;r&eacute;glages, soit la vitesse de d&eacute;placement de la cam&eacute;ra vers la position pr&eacute;r&eacute;gl&eacute;e suivante.</p>
                    <p>Si vous d&eacute;finissez un nombre plus &eacute;lev&eacute;, la cam&eacute;ra se d&eacute;place de la position pr&eacute;d&eacute;finie actuelle &agrave; la position pr&eacute;d&eacute;finie suivante plus rapidement.</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>Temps de passage</h5>
                    <p>Saisissez le temps n&eacute;cessaire &agrave; rester dans chaque position pr&eacute;r&eacute;gl&eacute;e.</p>
                    <p>Par exemple, si «&nbsp;1&nbsp;» est s&eacute;lectionn&eacute; pour le temps de pause dans le pr&eacute;r&eacute;glage n°1, il reste en position pr&eacute;r&eacute;gl&eacute;e n°1 pendant 1 seconde et passe ensuite &agrave; la position pr&eacute;r&eacute;gl&eacute;e suivante. &nbsp;</p>
        </div>
            
                <div class="wn5-online-help-action">
                    <h4>Groupe de param&egrave;tres 1</h4>
                    <ol>
                        <li>Pour d&eacute;finir le groupe 1, s&eacute;lectionnez «&nbsp;1&nbsp;» dans le menu d&eacute;roulant du groupe.</li>
                        <li>S&eacute;lectionnez le num&eacute;ro pr&eacute;d&eacute;fini &agrave; ajouter au «&nbsp;Groupe 1&nbsp;» dans la colonne <strong class="UI">[Pr&eacute;r&eacute;glage n°]</strong>.</li>
                        <li>Saisissez la vitesse de la cam&eacute;ra pour passer de la position pr&eacute;r&eacute;gl&eacute;e en cours &agrave; la position pr&eacute;r&eacute;gl&eacute;e suivante dans la colonne <strong class="UI">[Vitesse]</strong>.</li>
                        <li>D&eacute;finissez la dur&eacute;e restante pour d&eacute;cider combien de temps la cam&eacute;ra reste en position pr&eacute;r&eacute;gl&eacute;e d&eacute;finie &agrave; partir de la colonne <strong class="UI">[Temps de passage]</strong> jusqu&apos;&agrave; la position pr&eacute;d&eacute;finie suivante.</li>
                        <li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong>.</li>
                    </ol>
                </div>
				        <div class="wn5-online-help-action">
            <h4>Suppression de la valeur de r&eacute;glage de groupe</h4>
                    <ol>
                        <li>S&eacute;lectionnez un num&eacute;ro de groupe pour effacer la valeur pr&eacute;c&eacute;demment d&eacute;finie dans le menu d&eacute;roulant du groupe.</li>
                        <li>Cliquez sur le bouton <strong class="UI">[Supprimer]</strong>.</li>
                    </ol>
        </div>
						        <div class="wn5-online-help-action">
            <h4>D&eacute;marrer l&apos;action de groupe</h4>
                    <ol>
                        <li>S&eacute;lectionnez un num&eacute;ro de groupe &agrave; ex&eacute;cuter dans le menu d&eacute;roulant du groupe.</li>
                        <li>Cliquez sur le bouton <strong class="UI">[Déb]</strong>.</li>
                    </ol>
        </div>
		<div class="wn5-online-help-action">
            <h4>Arr&ecirc;ter l&apos;action de groupe</h4>
                    <ol>
                        <li>Pour arr&ecirc;ter le groupe en cours d&apos;ex&eacute;cution, cliquez sur le bouton <strong class="UI">[Arr&ecirc;ter]</strong>.</li>
                    </ol>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Tour</h2>
    </div>
    <div class="wn5-setup-section-article">
  
                    <div class="wn5-setup-section-article-content">
                        <p>La fonction tour est une fonction utilis&eacute;e pour appeler un groupe qui est un ensemble de pr&eacute;r&eacute;glages pr&eacute;alablement d&eacute;finis de mani&egrave;re s&eacute;quentielle.</p>
                    </div>
                        <div class="wn5-online-help-info">
                            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
                            <ul>
                                <li>Pour utiliser la fonction tour, un groupe doit avoir &eacute;t&eacute; d&eacute;fini pr&eacute;c&eacute;demment. Vous pouvez d&eacute;finir le groupe depuis <a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">l&rsquo;onglet </strong>[Groupe]</a>.</li>
                            </ul>
                        </div>

                    <div class="wn5-setup-section-article-content">
                        <h3>Configuration tour</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 투어 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 투어 기능이 멈춥니다. </p> --></div>
                        <div class="wn5-setup-section-article-content">
                            <h5>N° de groupe</h5>
                            <p>S&eacute;lectionnez le num&eacute;ro de groupe qui sera appel&eacute; s&eacute;quentiellement dans l&apos;ordre.</p>
                        </div>
                        <div class="wn5-setup-section-article-content">
                            <h5>Temps de passage</h5>
                            <p>Entrez la dur&eacute;e de s&eacute;jour dans chaque groupe.</p>
                            <p>Par exemple, si «&nbsp;1&nbsp;» est s&eacute;lectionn&eacute; pour le temps d&apos;arr&ecirc;t dans le groupe 1, il reste dans le groupe 1 pendant 1 seconde, puis passe au groupe suivant. &nbsp;</p>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>R&eacute;gler le tour</h4>
                            <p>Pour appeler les groupes 1, 2 et 3 de mani&egrave;re s&eacute;quentielle et d&eacute;placer la cam&eacute;ra, r&eacute;glez comme suit.</p>
                            <ol>
                                <li>S&eacute;lectionnez «&nbsp;1&nbsp;» dans le menu d&eacute;roulant du num&eacute;ro de groupe.</li>
                                <li>R&eacute;glez le temps de s&eacute;jour de la cam&eacute;ra dans «&nbsp;Groupe 1&nbsp;» depuis la colonne <strong class="UI">[Temps de passage]</strong>.</li>
                                <li>S&eacute;lectionnez «&nbsp;2&nbsp;» dans le menu d&eacute;roulant du num&eacute;ro de groupe.</li>
                                <li>R&eacute;glez le temps de s&eacute;jour de la cam&eacute;ra dans «&nbsp;Groupe 2&nbsp;» depuis la colonne <strong class="UI">[Temps de passage]</strong>.</li>
                                <li>S&eacute;lectionnez «&nbsp;3&nbsp;» dans le menu d&eacute;roulant du num&eacute;ro de groupe.</li>
                                <li>R&eacute;glez le temps de s&eacute;jour de la cam&eacute;ra dans «&nbsp;Groupe 3&nbsp;» depuis la colonne <strong class="UI">[Temps de passage]</strong>.</li>
                                <li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong>.</li>
                            </ol>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>R&eacute;initialiser les param&egrave;tres de tour</h4>
                            <ul>
                                <li>Lorsque vous cliquez sur le bouton <strong class="UI">[Supprimer]</strong>, tous les param&egrave;tres de tour sont supprim&eacute;s et r&eacute;initialis&eacute;s.</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Commencer l&apos;action tour</h4>
                            <ul>
                                <li>Cliquez sur le bouton <strong class="UI">[Déb]</strong>. La cam&eacute;ra se d&eacute;place en appelant s&eacute;quentiellement les groupes d&eacute;finis.</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Arr&ecirc;ter l&apos;action tour</h4>
            <ul>
                <li>Cliquez sur le bouton <strong class="UI">[Arr&ecirc;ter]</strong>. L&apos;action tour s&apos;arr&ecirc;tera.</li>
            </ul>
                        </div>
                    </div>
    </div>
<hr class="wn5-setup-hr" ng-if="TraceSupportbyChannel">
<div class="wn5-setup-section" ng-if="TraceSupportbyChannel">
    <div class="wn5-setup-section-heading">
        <h2><a name="trace"></a>Piste</h2>
    </div>
    <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <p>La fonction pistage est une fonction utilis&eacute;e pour enregistrer le chemin de d&eacute;placement de la cam&eacute;ra et d&eacute;placer la cam&eacute;ra en fonction du chemin.</p>
                </div>    
                    <div class="wn5-setup-section-article-content">
                    <h3>Configuration d'identification</h3>
                    <p>Vous pouvez d&eacute;finir un chemin de pistage, d&eacute;marrer ou terminer au moyen de la fonction de pistage. Lorsque vous d&eacute;finissez un chemin de pistage, vous pouvez inclure des emplacements pr&eacute;d&eacute;finis dans le chemin de tracage. Les emplacements pr&eacute;d&eacute;finis peuvent &ecirc;tre configur&eacute;s sous l&rsquo;onglet <strong class="UI">[<a href="#preset">Pr&eacute;r&eacute;glage</a>]</strong>.</p>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>D&eacute;finition du chemin de pistage</h4>
                        <ol>
                                <li>S&eacute;lectionnez un num&eacute;ro de tra&ccedil;age &agrave; configurer.</li>
                                <li>Cliquez sur le bouton <strong class="UI">[R&eacute;gler]</strong> et configurez le chemin comme expliqu&eacute; ci-dessous&nbsp;:</li>
                                <ul>
                                    <li>Utilisez les boutons de direction dans l&rsquo;&eacute;cran vid&eacute;o<span class="tui tui-wn5-ptz-handle"></span> pour faire d&eacute;filer, incliner et zoomer pour configurer le chemin que vous voulez enregistrer.</li>
                                    <li>Pour inclure un emplacement pr&eacute;configur&eacute; dans le chemin, choisissez un num&eacute;ro d&rsquo;emplacement pr&eacute;configur&eacute; souhait&eacute; depuis <strong class="UI">[Pr&eacute;r&eacute;gler liste]</strong> et cliquez sur <strong class="UI">[Aller]</strong>.</li>
                                </ul>
                                <li>Si vous cliquez &agrave; nouveau sur le bouton <strong class="UI">[R&eacute;gler]</strong>, le chemin de pistage est enregistr&eacute; sous le num&eacute;ro de tra&ccedil;age correspondant.</li>
                            </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>Commencer l&apos;action de pistage</h4>
                        <ol>
                            <li>S&eacute;lectionnez le num&eacute;ro de piste &agrave; utiliser.</li>
                            <li>Cliquez sur le bouton <strong class="UI">[Déb]</strong>. La cam&eacute;ra se d&eacute;place en fonction du chemin de d&eacute;placement d&eacute;fini sous le num&eacute;ro de piste correspondant</li>
                        </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>Arr&ecirc;t de l&apos;action de pistage</h4>
            <ol>
                <li>Pour arr&ecirc;ter l&apos;action de pistage en cours, cliquez sur le bouton <strong class="UI">[Arr&ecirc;ter]</strong>.</li>
            </ol>
                    </div>
                </div>
    </div>
<hr class="wn5-setup-hr">
     <div class="wn5-setup-section">
          <div class="wn5-setup-section-heading">
               <h2><a name="autorun"></a>Démarrer automatiquement</h2>
            </div>
          <div class="wn5-setup-section-article">
          <div class="wn5-setup-section-article-content">
             <p>L&apos;ex&eacute;cution automatique est une fonction permettant d&apos;ex&eacute;cuter automatiquement une action sp&eacute;cifi&eacute;e &agrave; l&apos;avance si l&apos;utilisateur n&apos;utilise pas la cam&eacute;ra pendant un certain temps. &nbsp;</p>
              </div>
          <div class="wn5-setup-section-article-content">
           <h3>Mode</h3>
            <p>Vous pouvez s&eacute;lectionner une fonction que vous souhaitez ex&eacute;cuter automatiquement et sp&eacute;cifier un param&egrave;tre d&eacute;taill&eacute;.</p>
             <ul>
            <li><strong class="UI">Désactivé</strong>&nbsp;: La fonction d&apos;ex&eacute;cution automatique n&apos;est pas utilis&eacute;e.</li>
            <li><strong class="UI">Acc</strong> : La cam&eacute;ra se d&eacute;place vers sa position d&apos;origine. Vous pouvez d&eacute;finir la position d&apos;origine depuis <a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">l&rsquo;onglet </strong>[Pr&eacute;r&eacute;glage]</a>.</li>
             <li><strong class="UI">Pr&eacute;r&eacute;glage</strong>&nbsp;: Se d&eacute;place vers le num&eacute;ro de pr&eacute;r&eacute;glage appropri&eacute;. Vous pouvez r&eacute;gler l&apos;heure &agrave; laquelle la cam&eacute;ra se d&eacute;place vers le pr&eacute;r&eacute;glage et le num&eacute;ro de position pr&eacute;r&eacute;gl&eacute;e o&ugrave; la cam&eacute;ra se d&eacute;place.</li><!--   <ul>
             <li><strong class="UI">시간</strong>: <u>프리셋 위치로 자동으로 이동하는 시간을 설정합니다.</u></li>
             <li><strong class="UI">프리셋</strong>: 카메라가 이동할 프리셋 위치 번호를 선택합니다. </li>
              </ul> --><li><strong class="UI">Plage de rel&egrave;vement</strong>&nbsp;: Ex&eacute;cute l&apos;action de rel&egrave;vement automatiquement. Vous pouvez d&eacute;finir le temps d&apos;ex&eacute;cution d&apos;une action de rel&egrave;vement automatique et le mode de rel&egrave;vement.</li><!--  <ul>
               <li><strong class="UI">시간</strong>: <u>스윙 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
               <li><strong class="UI">스윙 모드</strong>: 스윙 동작이 실행될&nbsp;카메라의 팬이나 틸트&nbsp;동작만으로 이동할지 팬과 틸트 모든 동작으로 이동할지 선택합니다.</li>
                </ul> --><li><strong class="UI">Groupe</strong>&nbsp;: Ex&eacute;cute l&apos;action de groupe automatiquement. Vous pouvez d&eacute;finir l&apos;heure d&apos;ex&eacute;cution automatique d&apos;une action de groupe et le num&eacute;ro de groupe. Vous pouvez d&eacute;finir l&apos;action de groupe d&eacute;taill&eacute;e depuis <a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">l&rsquo;onglet </strong>[Groupe]</a>.</li><!-- <ul>
                 <li><strong class="UI">시간</strong>: <u>그룹 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                   <li><strong class="UI">그룹</strong>: 그룹 번호를 선택합니다. 그룹은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[그룹] </strong>탭</a>에서 설정할 수 있습니다. </li>
                    </ul> --><li><strong class="UI">Tour</strong>&nbsp;: L&apos;action Tour sera ex&eacute;cut&eacute;e automatiquement.</li><!-- <ul>
                     <li><strong class="UI">시간</strong>: <u>투어 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                   </ul> --><li><strong class="UI">Piste</strong>&nbsp;: L&apos;action de pistage sera ex&eacute;cut&eacute;e automatiquement. Vous pouvez d&eacute;finir l&apos;heure d&apos;ex&eacute;cution de l&apos;action de pistage automatiquement et le num&eacute;ro de piste. Vous pouvez d&eacute;finir l&apos;action de pistage d&eacute;taill&eacute;e depuis <a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">l&rsquo;onglet </strong>[Piste]</a>.</li><!--  <ul>
                  <li><strong class="UI">시간</strong>: <u>추적 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                    <li><strong class="UI">그룹</strong>: 추적 번호를 선택합니다. 추적 상세 기능은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">[추적] 탭</strong></a>에서 설정할 수 있습니다.</li>
                   </ul> --><li><strong class="UI">Pan auto</strong>&nbsp;: Ex&eacute;cute l&apos;action de pivoter &agrave; 360 degr&eacute;s dans la direction panoramique automatiquement. Vous pouvez d&eacute;finir l&apos;heure d&apos;ex&eacute;cution automatique de l&apos;action, la vitesse de rotation de la cam&eacute;ra dans la direction de panoramique et l&apos;angle fixe de l&apos;inclinaison. Par exemple, si «&nbsp;30&nbsp;» est r&eacute;gl&eacute; pour la plage d&apos;inclinaison, la plage d&apos;inclinaison sera maintenue &agrave; 30 degr&eacute;s.</li><!--  <ul>
                    <li><strong class="UI">시간</strong>: <u>오토팬 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                     <li><strong class="UI">속도</strong>: 카메라가 팬 방향으로 회전하는 속도를 설정합니다.</li>
                        <li><strong class="UI">틸트 </strong>각도: 틸트 움직임 <u>최대</u> 각도를 설정합니다. < </ul>  --><li><strong class="UI">Calendrier</strong>&nbsp;: Vous pouvez d&eacute;finir un r&eacute;glage pour que l&apos;action fonctionne automatiquement au jour et &agrave; l&rsquo;heure d&eacute;finis.</li>
                                                    </ul>
													
                                                </div>
                      <div class="wn5-online-help-action">
                      <h4>R&eacute;glage de la cam&eacute;ra pour d&eacute;marrer automatiquement selon le calendrier</h4>
                       <ol>
                        <li>S&eacute;lectionnez <strong class="UI">[Calendrier]</strong> dans <strong class="UI">[Mode]</strong>.</li>
                        <li>Cliquez sur une heure d&rsquo;ex&eacute;cution automatique de la cam&eacute;ra.</li>
                        <li>S&eacute;lectionnez une action &agrave; ex&eacute;cuter automatiquement dans <strong class="UI">[Mode]</strong> dans la bo&icirc;te de dialogue <strong class="UI">[Calendrier]</strong>. Les options d&eacute;taill&eacute;es varient en fonction du mode s&eacute;lectionn&eacute;. R&eacute;glez chaque option.</li>
                          <li>Cliquez sur le bouton <strong class="UI">[OK]</strong>.</li>
                                                    </ol>
                         <p>Le temps d&eacute;fini pour l&apos;action d&apos;ex&eacute;cution automatique sera affich&eacute; dans le calendrier. Lorsque vous cliquez sur le bouton <strong class="UI">[Effacer]</strong>, tous les horaires d&eacute;finis seront supprim&eacute;s.</p>
                                                </div>
                                    </div>
                                </div>

<hr class="wn5-setup-hr">