<section id="channellist-containner">
    <figure>
        <div class="channellist-video-wrapper ratio-16-9">
            <canvas></canvas>
        </div>
    </figure>
    <figure>
        <div class="channellist-video-wrapper ratio-4-3">
            <canvas></canvas>
        </div>
    </figure>
    <figure>
        <div class="channellist-video-wrapper ratio-9-16">
            <canvas></canvas>
        </div>
    </figure>
    <figure>
        <div class="channellist-video-wrapper ratio-3-4">
            <canvas></canvas>
        </div>
    </figure>
</section>

<div id="cm-bottom-menu">
    <live-playback-channel-selector 
        id="channellist-channel-selector" 
        use-quad-view="false">
    </live-playback-channel-selector>
</div>