<h1 class="wn5-setup-main-title" ng-if="!HandoverCalibration">Transfert</h1>
<div class="wn5-setup-section" ng-if="!HandoverCalibration">
    <p>Le relais est une fonction permettant &agrave; la cam&eacute;ra r&eacute;cepteur de passer &agrave; la position PTZ pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement se produit. Sur cette page, vous pouvez r&eacute;gler la cam&eacute;ra et la position pr&eacute;d&eacute;finie afin qu&rsquo;elles passent &agrave; la position pr&eacute;d&eacute;finie. Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton [Appliquer] en bas de la page.</p>
</div>
<hr class="wn5-setup-hr" ng-if="!HandoverCalibration">

<div class="wn5-setup-section" ng-if="!HandoverCalibration">
    <div class="wn5-setup-section-heading">
        <h2>Cam&eacute;ra r&eacute;cepteur</h2>
	</div>
	    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
        <p>Vous pouvez ajouter ou supprimer des cam&eacute;ras PTZ pour la r&eacute;ception. Jusqu&rsquo;&agrave;&nbsp;32 cam&eacute;ras r&eacute;cepteurs peuvent &ecirc;tre enregistr&eacute;es.</p>
            <p>Les informations des cam&eacute;ras enregistr&eacute;es en tant que cam&eacute;ra r&eacute;cepteur sont affich&eacute;es.</p>
</div>
		
			        <div class="wn5-online-help-action">
            <h4>Comment ajouter une cam&eacute;ra r&eacute;cepteur</h4>
            <ol>
                <li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong>.</li>
                <li>Dans la fen&ecirc;tre <strong class="UI">[Ajouter cam&eacute;ra]</strong>, entrez les informations sur la cam&eacute;ra PTZ afin de recevoir le relais.</li>
                <ul>
                    <li><strong class="UI">No.</strong>&nbsp;: D&eacute;finissez le num&eacute;ro de la cam&eacute;ra r&eacute;cepteur. Dans le sous-menu <strong class="UI">[Analyse]</strong>, le num&eacute;ro de la cam&eacute;ra r&eacute;cepteur est utilis&eacute; lors du r&eacute;glage de la cam&eacute;ra r&eacute;cepteur de relais.</li>
                    <li><strong class="UI">Type d&rsquo;IP</strong>&nbsp;: R&eacute;glez le type d&rsquo;adresse&nbsp;IP entre IPv4 et IPv6.</li>
                    <li ng-if="ConnectionMode"><strong class="UI">HTTP/HTTPS</strong>: S&eacute;lectionnez le type de communication &agrave; utiliser entre HTTP et HTTPS.</li>
                    <li><strong class="UI">Adresse IP</strong>&nbsp;: Entrez l&rsquo;adresse IP de la cam&eacute;ra r&eacute;cepteur.</li>
                    <li><strong class="UI">Port</strong>&nbsp;: Entrez le num&eacute;ro de port de la cam&eacute;ra r&eacute;cepteur.</li>
                    <li><strong class="UI">Utilisateur</strong>&nbsp;: Entrez l&rsquo;identifiant d&rsquo;acc&egrave;s afin d&rsquo;acc&eacute;der &agrave; la cam&eacute;ra r&eacute;cepteur.</li>
                    <li><strong class="UI">Mot de passe</strong>&nbsp;: Entrez le mot de passe afin d&rsquo;acc&eacute;der &agrave; la cam&eacute;ra r&eacute;cepteur.</li>
                    <li><strong class="UI">Pr&eacute;r&eacute;glage n°</strong>&nbsp;: Entrez le num&eacute;ro pr&eacute;d&eacute;fini de la position &agrave; laquelle la cam&eacute;ra r&eacute;cepteur passera. Le num&eacute;ro pr&eacute;d&eacute;fini doit &ecirc;tre r&eacute;gl&eacute; &agrave; l&apos;avance dans la cam&eacute;ra PTZ de r&eacute;ception. Dans le menu de relais, entrez le num&eacute;ro PTZ pr&eacute;d&eacute;fini.</li>
                </ul>
                <li>Cliquez sur <strong class="UI">[OK]</strong>.</li>
            </ol>
        </div>

        <div class="wn5-online-help-action">
            <h4>Comment supprimer une cam&eacute;ra r&eacute;cepteur</h4>
            <ol>

                <li>Cliquez sur une case &agrave; cocher dans la liste des cam&eacute;ras r&eacute;cepteur et s&eacute;lectionnez la cam&eacute;ra que vous souhaitez supprimer.</li>
                <li>Cliquez sur le bouton <strong class="UI">[Effacer]</strong> et lorsque la fen&ecirc;tre de confirmation appara&icirc;t, cliquez sur <strong class="UI">[OK]</strong>.</li>
            </ol>
        </div>
    </div>
</div>


<h1 class="wn5-setup-main-title" ng-if="HandoverCalibration">Transfert</h1>
<div class="wn5-setup-section" ng-if="HandoverCalibration">
    <p>Vous pouvez d&eacute;finir un num&eacute;ro de transfert pour que la mise au point de la cam&eacute;ra PTZ puisse se d&eacute;placer vers la zone pr&eacute;r&eacute;gl&eacute;e en cas de survenance d&rsquo;un &eacute;v&eacute;nement dans la cam&eacute;ra fixe.</p>
    <p>Pr&eacute;r&eacute;glage est un ensemble de valeurs pr&eacute;d&eacute;termin&eacute;es de panoramique, inclinaison et de grossissement du zoom. Allez &agrave; la partie <strong class="UI">[PTZ] </strong>&gt; <strong class="UI">[Configuration PTZ]</strong> &gt; <strong class="UI">[Pr&eacute;r&eacute;glage] </strong>&gt; <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong> pour d&eacute;finir le pr&eacute;r&eacute;glage PTZ.</p>
    <p>Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton [Appliquer] en bas de la page.</p>
		<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
        <ul>
            <li>Le num&eacute;ro de transfert d&eacute;fini sur cette page s&rsquo;affiche dans la liste «&nbsp;Transfert n°&nbsp;». Vous pouvez afficher la liste du num&eacute;ro de transfert dans chaque page de <strong class="UI">[D&eacute;tection de mouvement]</strong>, <strong class="UI">[IVA]</strong>, et <strong class="UI">[Modification]</strong> dans le sous-menu <strong class="UI">[Analyse]</strong>.</li>

        </ul>
    
        </div>
</div>
<hr class="wn5-setup-hr" ng-if="HandoverCalibration">

<div class="wn5-setup-section" ng-if="HandoverCalibration">
    <div class="wn5-setup-section-heading">
        <h2>D&eacute;finir le n° de transfert</h2>
	</div>
	    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Le num&eacute;ro de transfert peut &ecirc;tre ajout&eacute;, et les donn&eacute;es de pr&eacute;r&eacute;glage peuvent &ecirc;tre d&eacute;finies pour chaque num&eacute;ro.</p>
        </div>
		
			        <div class="wn5-online-help-action">
            <h4>Ajouter le n° de transfert</h4>
            <ol>
                <li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong>.</li>
                <li>Dans la fen&ecirc;tre <strong class="UI">[Ajouter]</strong>, r&eacute;glez comme suit&nbsp;:</li>
                <ul>
                    <li><strong class="UI">No.</strong>&nbsp;: S&eacute;lectionnez un num&eacute;ro de transfert. Les num&eacute;ros sp&eacute;cifi&eacute;s par N° de transfert s&rsquo;affichent sous forme de liste lorsque vous acc&eacute;dez &agrave; <strong class="UI">[Transfert] </strong>&gt; <strong class="UI">[Transfert n°]</strong> dans chaque page de <strong class="UI">[D&eacute;tection de mouvement]</strong>, <strong class="UI">[IVA]</strong>, et <strong class="UI">[D&eacute;tection de sabotage]</strong> dans le sous-menu <strong class="UI">[Analyse]</strong>.</li>
                    <li><strong class="UI">Canal</strong>&nbsp;: Le num&eacute;ro de canal de la cam&eacute;ra PTZ s&rsquo;affiche automatiquement et ne peut pas &ecirc;tre modifi&eacute;.</li>
                    <li><strong class="UI">Pr&eacute;r&eacute;glage n°</strong>&nbsp;: Saisissez un num&eacute;ro de pr&eacute;r&eacute;glage. Les num&eacute;ros pr&eacute;r&eacute;gl&eacute;s doivent &ecirc;tre d&eacute;finis &agrave; l&rsquo;avance dans la partie <strong class="UI">[PTZ] </strong>&gt; <strong class="UI">[Configuration PTZ]</strong> &gt; <strong class="UI">[Pr&eacute;r&eacute;glage] </strong>&gt; <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong>.</li>
                </ul>
                <li>Cliquez sur <strong class="UI">[OK]</strong>.</li>
            </ol>
        </div>

        <div class="wn5-online-help-action">
            <h4>Supprimer le n° de transfert</h4>
            <ol>
                <li>Cliquez sur une case &agrave; cocher dans la liste des num&eacute;ros de transfert et s&eacute;lectionnez les num&eacute;ros &agrave; supprimer.</li>
                <li>Cliquez sur le bouton <strong class="UI">[Effacer]</strong> et lorsque la fen&ecirc;tre de confirmation appara&icirc;t, cliquez sur <strong class="UI">[OK]</strong>.</li>
                <li>Cliquez sur <strong class="UI">[OK]</strong>.</li>
            </ol>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">