<h1 class="wn5-setup-main-title">Bo&icirc;tier E/S</h1>
<div class="wn5-setup-section">
    <p>Pour son utilisation, un p&eacute;riph&eacute;rique E/S externe peut &ecirc;tre connect&eacute; &agrave; la cam&eacute;ra.</p>
    <p>Sur la page [Bo&icirc;tier E/S], les informations relatives au bo&icirc;tier E/S &agrave; connecter &agrave; la cam&eacute;ra peuvent &ecirc;tre entr&eacute;es et l&rsquo;&eacute;tat de la connexion du bo&icirc;tier E/S et de la cam&eacute;ra peut &ecirc;tre v&eacute;rifi&eacute;. Apr&egrave;s avoir termin&eacute; la configuration, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Bo&icirc;tier E/S</h2>
	</div>
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Il est possible de d&eacute;finir le type d&rsquo;IP, le type de protocole, l&rsquo;adresse IP, le num&eacute;ro de port, etc. d&rsquo;un bo&icirc;tier E/S externe &agrave; connecter &agrave; la cam&eacute;ra.</p>
            <p>Pour connecter un bo&icirc;tier E/S externe &agrave; la cam&eacute;ra et l&rsquo;utiliser, s&eacute;lectionnez <strong class="UI">[Activer le bo&icirc;tier E/S]</strong>.</p>
        </div>
		<div class="wn5-setup-section-article-content">
			<h3>Type d&rsquo;IP</h3>
            <p>Permet de choisir entre IPv4 et IPv6 pour le type d&rsquo;adresse IP &agrave; utiliser lors de la communication entre le bo&icirc;tier E/S et la cam&eacute;ra.</p>
		</div>
		
		<div class="wn5-setup-section-article-content">
			<h3>HTTP/HTTPS</h3>
            <p>Permet de choisir entre HTTP et HTTPS pour le mode de communication &agrave; utiliser lors de la communication entre le bo&icirc;tier E/S et la cam&eacute;ra.</p>
		</div>

        <div class="wn5-setup-section-article-content">
            <h3>Adresse IP</h3>
            <p>Entrez l&rsquo;adresse IP du bo&icirc;tier E/S.</p>
        </div>

		<div class="wn5-setup-section-article-content">
			<h3>Port</h3>
			<p>Entrez le num&eacute;ro de port du bo&icirc;tier E/S.</p>
		</div>		
		<div class="wn5-setup-section-article-content">
			<h3>RTSP</h3>
            <p>Entrez le num&eacute;ro de port RTSP du bo&icirc;tier E/S.</p>
		</div>	
		<div class="wn5-setup-section-article-content">
			<h3>ID</h3>
			<p>Entrez l&rsquo;identifiant pour acc&eacute;der au p&eacute;riph&eacute;rique E/S.</p>
		</div>	
		<div class="wn5-setup-section-article-content">
			<h3>Mot de passe</h3>
			<p>Entrez le mot de passe pour acc&eacute;der au p&eacute;riph&eacute;rique E/S.</p>
		</div>	
		<div class="wn5-setup-section-article-content">
			<h3>&Eacute;tat</h3>
            <p>Affiche l&rsquo;&eacute;tat de la connexion entre le p&eacute;riph&eacute;rique E/S et la cam&eacute;ra. Si la cam&eacute;ra et le p&eacute;riph&eacute;rique E/S sont correctement connect&eacute;s, [Connect&eacute;] s&rsquo;affiche ; s&rsquo;ils sont en cours de connexion, [En cours de connexion] s&rsquo;affiche.</p>
		</div>						        
    </div>
</div>

<hr class="wn5-setup-hr">