<h1 class="wn5-setup-main-title">Indicateur LED</h1>
<div class="wn5-setup-section">
    <p>R&egrave;gle l&apos;action de l&apos;indicateur LED sur la cam&eacute;ra.</p>
    <p>La fonction de d&eacute;tection de stationnement de la cam&eacute;ra de guidage de stationnement et la fonction de l&apos;indicateur LED peuvent &ecirc;tre utilis&eacute;es ensemble. La fonction de d&eacute;tection de stationnement peut &ecirc;tre d&eacute;finie sous <strong class="UI">[Analyse]</strong>&gt;<strong class="UI">[D&eacute;tection de stationnement]</strong>.</p>
    <p>Apr&egrave;s avoir termin&eacute; la configuration, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
</div>
<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Contr&ocirc;le de la LED</h2>
        <p>S&eacute;lectionnez un type de LED pour d&eacute;finir le mouvement pour chaque type de LED.</p>
    </div>
	    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
		    <h3>Type de LED</h3>
            <p>S&eacute;lectionnez <strong class="UI">[S&eacute;par&eacute;]</strong> lorsque le voyant LED de la cam&eacute;ra de d&eacute;tection de stationnement est divis&eacute; &agrave; gauche/droite et affiche simultan&eacute;ment l&apos;&eacute;tat plein et l&apos;&eacute;tat vide. S&eacute;lectionnez <strong class="UI">[Int&eacute;gr&eacute;]</strong> lorsque le voyant LED indique soit l&apos;&eacute;tat plein, soit l&apos;&eacute;tat vide.</p>
        </div>
        <div class="wn5-setup-section-article-content">
		    <h3>LED 1/LED 2</h3>
            <p>Lorsque vous s&eacute;lectionnez <strong class="UI">[S&eacute;par&eacute;]</strong> sous <strong class="UI">[Type de LED]</strong>, vous avez le choix entre la <strong class="UI">[LED 1]</strong> et la <strong class="UI">[LED 2]</strong>.</p>
            <p>Les champs sup&eacute;rieurs de [LED 1] et [LED 2] permettent de d&eacute;finir la couleur du texte affich&eacute; lorsqu&apos;&eacute;v&eacute;nement se produit. D&eacute;finit la couleur du texte &agrave; afficher lorsqu&apos;aucun &eacute;v&eacute;nement n&apos;est survenu dans le champ inf&eacute;rieur. Par exemple, si vous entrez « occup&eacute; »dans le champ sup&eacute;rieur de [LED 1] et d&eacute;finissez sa couleur comme &eacute;tant rouge, puis entrez « occup&eacute; »dans le champ sup&eacute;rieur de [LED 2] et d&eacute;finissez sa couleur comme &eacute;tant orange, les deux LED affichent le m&ecirc;me &eacute;tat « occup&eacute; » l&apos;une en rouge et l&apos;autre en orange, lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de stationnement se produit.</p>
        </div>
		
		        <div class="wn5-setup-section-article-content">
		    <h3>Sur l&rsquo;&eacute;v&egrave;nement/Pas sur l&rsquo;&eacute;v&eacute;nement</h3>
            <p>Si vous s&eacute;lectionnez <strong class="UI">[Int&eacute;gr&eacute;]</strong> sous <strong class="UI">[Type de LED]</strong>, les options <strong class="UI">[Sur l&rsquo;&eacute;v&egrave;nement]</strong> et <strong class="UI">[Pas sur l&rsquo;&eacute;v&eacute;nement]</strong> s&rsquo;affichent.</p>
            <p>Vous pouvez d&eacute;finir les textes et couleurs des LED &agrave; afficher lorsqu&apos;un &eacute;v&eacute;nement se produit ainsi que lorsqu&apos;aucun &eacute;v&eacute;nement ne se produit en sous [Sur l&rsquo;&eacute;v&egrave;nement] et [Pas sur l&rsquo;&eacute;v&eacute;nement]. Par exemple, si vous entrez « occup&eacute; » sous [Sur l&rsquo;&eacute;v&egrave;nement] et d&eacute;finissez la couleur comme &eacute;tant rouge, le texte « occup&eacute; »s&apos;affiche et la LED devient rouge lorsque la cam&eacute;ra d&eacute;tecte un stationnement.</p>
        </div>		
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Transfert de donn&eacute;es des indicateurs</h2>
	</div>
	    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Si vous s&eacute;lectionnez <strong class="UI">[Int&eacute;gr&eacute;]</strong> sous <strong class="UI">[Type de LED]</strong>, l&rsquo;option <strong class="UI">[Transfert de donn&eacute;es des indicateurs]</strong> s&rsquo;affiche.</p>
            <p>Vous pouvez r&eacute;gler les deux cam&eacute;ras avec indicateurs LED de fa&ccedil;on &agrave; ce qu&rsquo;elles envoyent/re&ccedil;oivent des donn&eacute;es l&apos;une de l&apos;autre. Cela signifie que l&apos;indicateur LED de la cam&eacute;ra 2 peut utiliser les donn&eacute;es analys&eacute;es par la cam&eacute;ra 1.</p>
        </div>
		
        <div class="wn5-online-help-action">
            <h4>Utilisation de la cam&eacute;ra de r&eacute;ception</h4>
            <ol>
                <li>Cliquez sous <strong class="UI">[Cam&eacute;ra de r&eacute;ception]</strong> sur <strong class="UI">[Activer]</strong>.</li>
                <li>Saisissez les informations relatives &agrave; la cam&eacute;ra de r&eacute;ception.</li>
                <ul>
                    <li><strong class="UI">Type d&rsquo;IP</strong>&nbsp;: S&eacute;lectionnez un type d&apos;adresse IP&nbsp;: IPv4 ou IPv6.</li>
                    <li><strong class="UI">HTTP/HTTPS</strong>&nbsp;: S&eacute;lectionnez un mode de communication&nbsp;: HTTP ou HTTPS.</li>
                    <li><strong class="UI">Adresse IP</strong>&nbsp;: Saisissez l&apos;adresse IP de la cam&eacute;ra de r&eacute;ception.</li>
                    <li><strong class="UI">Port</strong>&nbsp;: Saisissez le port de la cam&eacute;ra de r&eacute;ception.</li>
                    <li><strong class="UI">ID</strong>&nbsp;: Saisissez l&apos;ID d&apos;acc&egrave;s n&eacute;cessaire pour acc&eacute;der &agrave; la cam&eacute;ra de r&eacute;ception.</li>
                    <li><strong class="UI">Mot de passe</strong>&nbsp;: Saisissez le mot de passe n&eacute;cessaire pour acc&eacute;der &agrave; la cam&eacute;ra de r&eacute;ception.</li>
                </ul>
                <li>Cliquez sur <strong class="UI">[Appliquer]</strong>.</li>
            </ol>
        </div>

    </div>
</div>




<hr class="wn5-setup-hr">