<h1 class="wn5-setup-main-title">Voyant LED</h1>
<div class="wn5-setup-section">
    <p>R&egrave;gle l&apos;action de l&apos;indicateur LED sur la cam&eacute;ra.</p>
    <p>La fonction de d&eacute;tection de stationnement de la cam&eacute;ra de guidage de stationnement et la fonction de l&apos;indicateur LED peuvent &ecirc;tre utilis&eacute;es ensemble. La fonction de d&eacute;tection de stationnement peut &ecirc;tre d&eacute;finie sous <strong class="UI">[Analyse]</strong>&gt;<strong class="UI">[D&eacute;tection de stationnement]</strong>.</p>
    <p>Apr&egrave;s avoir termin&eacute; la configuration, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
</div>
<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Contrôle LED</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
        <p>S&eacute;lectionnez un type de LED pour d&eacute;finir le mouvement pour chaque type de LED.</p>
        </div>
        <div class="wn5-setup-section-article-content">
		    <h3>Type LED</h3>
            <p>S&eacute;lectionnez <strong class="UI">[S&eacute;par&eacute;]</strong> lorsque l&rsquo;indicateur LED de la cam&eacute;ra de d&eacute;tection de stationnement est divis&eacute; &agrave; gauche/droite. S&eacute;lectionnez <strong class="UI">[Int&eacute;gr&eacute;]</strong> lorsque l&rsquo;indicateur LED n&rsquo;est pas divis&eacute;.</p>
        </div>
        <div class="wn5-setup-section-article-content">
		    <h3>LED 1/LED 2</h3>
            <p>Lorsque vous s&eacute;lectionnez <strong class="UI">[S&eacute;par&eacute;]</strong> sous <strong class="UI">[Type LED]</strong>, vous avez le choix entre la <strong class="UI">[LED 1]</strong> et la <strong class="UI">[LED 2]</strong>.</p>
            <p>Les champs sup&eacute;rieurs de [LED&nbsp;1] et [LED&nbsp;2] sont utilis&eacute;s pour d&eacute;terminer la couleur &agrave; afficher lorsqu&rsquo;un &eacute;v&eacute;nement se produit, tandis que leurs champs inf&eacute;rieurs sont utilis&eacute;s pour d&eacute;terminer la couleur &agrave; afficher lorsqu&rsquo;aucun &eacute;v&eacute;nement ne s&rsquo;est produit. Par exemple, si vous d&eacute;finissez la couleur comme &eacute;tant rouge et orange dans les champs sup&eacute;rieurs de [LED&nbsp;1] et [LED&nbsp;2] respectivement, alors la LED&nbsp;1 s&rsquo;affichera en rouge et la LED&nbsp;2 en orange lorsqu&rsquo;un &eacute;v&eacute;nement de d&eacute;tection de stationnement se produira.</p>
            <p>Vous pouvez &eacute;galement saisir du texte pour indiquer quelle couleur est utilis&eacute;e dans quelle situation. Par d&eacute;faut, le champ sup&eacute;rieur affiche «&nbsp;Occupied&nbsp;» tandis que le champ inf&eacute;rieur affiche «&nbsp;Vacant&nbsp;», et vous pouvez le modifier &agrave; votre guise.</p>
        </div>
		
		<div class="wn5-setup-section-article-content">
		    <h3>Sur l&rsquo;&eacute;v&egrave;nement/Pas sur l&rsquo;&eacute;v&eacute;nement</h3>
            <p>Si vous s&eacute;lectionnez <strong class="UI">[Int&eacute;gr&eacute;]</strong> sous <strong class="UI">[Type LED]</strong>, les options <strong class="UI">[Sur l&rsquo;&eacute;v&egrave;nement]</strong> et <strong class="UI">[Pas sur l&rsquo;&eacute;v&eacute;nement]</strong> s&rsquo;affichent.</p>
            <p>Vous pouvez d&eacute;finir les couleurs des LED &agrave; afficher lorsqu&apos;un &eacute;v&eacute;nement se produit et lorsqu&apos;aucun &eacute;v&eacute;nement ne se produit sous [Sur l&rsquo;&eacute;v&egrave;nement] et [Pas sur l&rsquo;&eacute;v&eacute;nement]. Par exemple, si vous avez s&eacute;lectionn&eacute; le rouge, l&rsquo;indicateur LED deviendra rouge lorsqu&rsquo;un &eacute;v&eacute;nement de d&eacute;tection de stationnement se produira.</p>
            <p>Vous pouvez &eacute;galement saisir du texte pour indiquer quelle couleur est utilis&eacute;e dans quelle situation. Par d&eacute;faut, le champ [Sur l&rsquo;&eacute;v&egrave;nement] affiche «&nbsp;Occupied » tandis que le champ [Pas sur l&rsquo;&eacute;v&eacute;nement] affiche «&nbsp;Vacant&nbsp;», et vous pouvez le modifier &agrave; votre guise.</p>
        </div>		
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>indicateurs d’envoi de données</h2>
	</div>
	    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Si vous s&eacute;lectionnez <strong class="UI">[Int&eacute;gr&eacute;]</strong> sous <strong class="UI">[Type LED]</strong>, l&rsquo;option <strong class="UI">[indicateurs d’envoi de données]</strong> s&rsquo;affiche.</p>
            <p>Vous pouvez r&eacute;gler les deux cam&eacute;ras avec indicateurs LED de fa&ccedil;on &agrave; ce qu&rsquo;elles envoyent/re&ccedil;oivent des donn&eacute;es l&apos;une de l&apos;autre. Cela signifie que l&apos;indicateur LED de la cam&eacute;ra 2 peut utiliser les donn&eacute;es analys&eacute;es par la cam&eacute;ra 1.</p>
        </div>
		
        <div class="wn5-online-help-action">
            <h4>Utilisation de la cam&eacute;ra de r&eacute;ception</h4>
            <ol>
                <li>Cliquez sous <strong class="UI">[Cam&eacute;ra de r&eacute;ception]</strong> sur <strong class="UI">[Activer]</strong>.</li>
                <li>Saisissez les informations relatives &agrave; la cam&eacute;ra de r&eacute;ception.</li>
                <ul>
                    <li><strong class="UI">Type d&rsquo;IP</strong>&nbsp;: S&eacute;lectionnez un type d&apos;adresse IP&nbsp;: IPv4 ou IPv6.</li>
                    <li><strong class="UI">HTTP/HTTPS</strong>&nbsp;: S&eacute;lectionnez un mode de communication&nbsp;: HTTP ou HTTPS.</li>
                    <li><strong class="UI">Adresse IP</strong>&nbsp;: Saisissez l&apos;adresse IP de la cam&eacute;ra de r&eacute;ception.</li>
                    <li><strong class="UI">Port</strong>&nbsp;: Saisissez le port de la cam&eacute;ra de r&eacute;ception.</li>
                    <li><strong class="UI">ID</strong>&nbsp;: Saisissez l&apos;ID d&apos;acc&egrave;s n&eacute;cessaire pour acc&eacute;der &agrave; la cam&eacute;ra de r&eacute;ception.</li>
                    <li><strong class="UI">Mot de passe</strong>&nbsp;: Saisissez le mot de passe n&eacute;cessaire pour acc&eacute;der &agrave; la cam&eacute;ra de r&eacute;ception.</li>
                </ul>
                <li>Cliquez sur <strong class="UI">[Appliquer]</strong>.</li>
            </ol>
        </div>

    </div>
</div>




<hr class="wn5-setup-hr">