<h1 class="wn5-setup-main-title">Programmation heure</h1>

<div class="wn5-setup-section">
    <p>L&apos;&eacute;v&eacute;nement de programmation heure peut envoyer un fichier image en fonction de la configuration des actions de l&apos;&eacute;v&eacute;nement&nbsp;dans l&apos;intervalle de transfert. Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page. Le r&eacute;glage de l&apos;&eacute;v&eacute;nement de programmation heure s&apos;applique &agrave; <strong class="UI">[Programmation heure]</strong> dans les pages <strong class="UI">[Ev&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[Config. évén.]</strong></a> de mani&egrave;re &eacute;gale.</p>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Configuration d&rsquo;un &eacute;v&eacute;nement programm&eacute;</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Pour utiliser le programme de programmation d&apos;&eacute;v&eacute;nements, s&eacute;lectionnez <strong class="UI">[Activer]</strong>.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Intervalle de transfert</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>D&eacute;finit l&apos;intervalle de transfert d&apos;une image. Ceci d&eacute;finit le nombre de secondes ou de minutes pendant lesquelles chaque image est cr&eacute;&eacute;e en tant qu&apos;&eacute;v&eacute;nement. Cliquez sur le menu d&eacute;roulant et s&eacute;lectionnez un nombre et une unit&eacute;.</p>
        </div>
        <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
        <ul>
            <li>L&rsquo;image ne peut &ecirc;tre transmise que si l&rsquo;intervalle de transfert est inf&eacute;rieur &agrave; l&rsquo;intervalle de fonctionnement dans les Config. action évén..</li>
        </ul>
        </div>


    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="action"></a>Config. action évén.</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>FTP</h3>
            <p>Pour enregistrer une image sur un serveur FTP lorsqu&apos;un &eacute;v&eacute;nement de programmation heure est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour le FTP peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="ftpemail.html#ftp" ng-href="#/help/event_ftpemail?#ftp"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Temps d&apos;activation d&apos;&eacute;v&egrave;nement</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Cela d&eacute;finit la configuration des actions de l&apos;&eacute;v&eacute;nement dans <strong class="UI">[<a class="wn5-online-help-link" href="#action" ng-href="#/help/event_timeSchedule?#action">Config. action évén.</a>]</strong> pour qu&apos;elle fonctionne en permanence ou uniquement &agrave; l&apos;heure d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de programmation heure est cr&eacute;&eacute;.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Toujours</h3>
            <p>La configuration des actions de l&apos;&eacute;v&eacute;nement est toujours ex&eacute;cut&eacute;e lorsqu&apos;un &eacute;v&eacute;nement de programmation heure est cr&eacute;&eacute;.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Heure programm&eacute;e uniquement</h3>
            <p>La configuration des actions de l&apos;&eacute;v&eacute;nement est ex&eacute;cut&eacute;e uniquement lorsqu&apos;un &eacute;v&eacute;nement de programmation heure est cr&eacute;&eacute; pendant l&rsquo;heure d&eacute;finie. La date, allant du dimanche au samedi en fonction de l&apos;horaire actuel de la cam&eacute;ra, est affich&eacute;e sur le calendrier visible lorsque l&rsquo;option <strong class="UI">[Heure programm&eacute;e uniquement]</strong> est s&eacute;lectionn&eacute;e. Vous pouvez d&eacute;finir l&apos;heure de configuration des actions de l&apos;&eacute;v&eacute;nement en cliquant ou en faisant glisser la souris sur le calendrier. L&apos;heure d&apos;activation de l&apos;&eacute;v&eacute;nement d&eacute;finie est r&eacute;alis&eacute;e plusieurs fois le jour de la semaine et &agrave; l&apos;heure concern&eacute;s.</p>
			<p>Vous pouvez changer l&apos;unit&eacute; d&apos;affichage de l&apos;heure en cliquant sur les boutons <strong class="UI">[1&nbsp;min]</strong>, <strong class="UI">[30&nbsp;min]</strong> ou <strong class="UI">[1&nbsp;h]</strong>. Lorsque vous cliquez sur le bouton <strong class="UI">[R&eacute;initialiser]</strong>, toutes les heures d&apos;activation des &eacute;v&eacute;nements d&eacute;finies seront supprim&eacute;es. Pour confirmer ou modifier l&apos;heure de la cam&eacute;ra, reportez-vous &agrave; la section <strong class="UI">[Basic]</strong>&gt;<strong class="UI">[Date et heure]</strong>.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">