[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
input,
button,
select,
textarea {
  font-family: "NotoSans";
}

a,
input,
button,
select {
  outline: 0 !important;
  &:focus,
  &:active {
    outline: 0 !important;
  }
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:hover {
  color: @theme-light-normal-color;
  text-decoration: none;
  cursor: pointer;
}

input[type='text'] {
  padding-left: 10px;
}