<h1 class="wn5-setup-main-title">画像の位置合わせ</h1>

<div class="wn5-setup-section">

    <p >装着されたカメラの視野角度を設定して、各センサーの映像画像位置をピクセル単位で調整して映像画像の接合部分を補正することができます。</p>

</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>視野角度</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">

            <p >装着されたカメラのパノラマ映像視野角度(field of view)を設定することができます。</p>
            <p ><strong class="UI">[209°モード]</strong>を選択すると、<strong class="UI">[180°モード]</strong>を選択した場合より横にビューが確保された映像を作成することができます。</p>

        </div>
	    <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>

                <li >視野角度オプションを変更すると、カメラが再起動され次の設定が選択した視野角度に合わせて初期化されます。該当項目は<strong class="UI">[ビデオprofile]</strong>、<strong class="UI">[ビデオ設定]</strong>、<strong class="UI">[カメラ設定]</strong>、<strong class="UI">[デジタルPTZ]</strong>、<strong class="UI">[モーション検知]</strong>、<strong class="UI">[IVA]</strong>、<strong class="UI">[ヒートマップ]</strong>メニューでそれぞれ設定することができます。</li>
                <ul>
                    <li>ビデオprofile</li>
                    <li>プライバシー領域&amp;ビデオ設定</li>
                    <li>カメラ設定</li>
                    <li>デジタルPTZのプリセット&amp;グループ設定</li>
                    <li>アナリティクスのモーション検知、IVA</li>
                    <li>統計のヒートマップ</li>
                </ul>
                <li>チルト角度調整を完了した後、[画像の位置合わせ]機能を使用することをお勧めします。チルト角度を変更する場合、画像の配列がずれて画像を再度位置合わせする必要があります。</li>
            </ul>
        </div>
	</div>
</div>



<div class="wn5-setup-section" >
    <div class="wn5-setup-section-heading">
		<h2>画像の位置合わせ</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>4チャンネルの映像画像を配列してパノラマタイプの映像を作成する時、各映像の接合部分が不自然に接続されることがあります。この時、[画像の位置合わせ]機能を用いて2つの映像ずつ位置を調整して映像画像が自然に配列されるように接合位置を細かく調整することができます。</p>
            <p>プレビュー映像で一番左側の映像がエリア1で、一番右側の映像がエリア4です。<strong class="UI">[1-2]</strong>ボタンをクリックすると、1エリア映像と2エリア映像が自然に接合されるように二つの映像の位置を調整することができます。これと同じくエリア2と3の映像を整列するには<strong class="UI">[2-3]</strong>ボタンを、エリア3と4の映像を整列するには<strong class="UI">[3-4]</strong>ボタンをクリックします。<strong class="UI">[すべてリセット]</strong>をクリックすると、エリア1から4まで全体エリアの位置を初期値に戻します。</p>
            <p><strong class="UI">[アルファブレンディング]</strong>を選択すると、エリアの境界面が混合され薄暗くなります。<strong class="UI">[アルファブレンディング]</strong>を選択しない場合、境界面が直線の形に表示されます。</p>
            <p></p>
            <p>エリアを選択した後、映像の上にマウスオーバーすると<strong class="UI">[上へ]</strong>/<strong class="UI">[下へ]</strong>/<strong class="UI">[左へ]</strong>/<strong class="UI">[右へ]</strong>方向キーが表示され、各ボタンをクリックして映像の位置を1ピクセルずつ調整することができます。方向キーを押し続けていると、最大10ピクセルまで一括調整することができます。現在修正中の映像の位置を初期値に戻すには<strong class="UI">[初期化]</strong>ボタンをクリックします。</p>

        </div>
    </div>
</div>
<hr class="wn5-setup-hr">