<h1 class="wn5-setup-main-title">位置設定</h1>
<div class="wn5-setup-section">
    <p>カメラ映像に方向ディスプレイ情報が表示されるように設定できます。</p>
    <p>北側/北東側/東側/南東側/南側/南西側/西側/北西側の総合8方向を設定することができます。この後、PTZ操作でカメラのパン(Pan)の位置が変更されると、これに合わせて現在の映像画面で方向情報がアップデートされます。</p>
</div>
<div class="wn5-online-help-info">
    <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
    <ul>
        <li>OSDサイズや言語設定を変更すると、方向ディスプレイの設定値(アジマス、説明、位置情報)がすべて初期化されます。OSDサイズは<strong class="UI">[映像&amp;音声]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">カメラ設定</a>]</strong>&gt;<strong class="UI">[OSD]</strong>、言語設定は<strong class="UI">[システム]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="../system/productinfo.html"
ng-href="#/help/system_productinfo?">製品Info</a>]</strong>から設定できます。</li>
    </ul>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>方向インジケーター</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>方向インジケーター使用</h3>
            <p>方向ディスプレイ機能を使用するには、<strong class="UI">[方向インジケーター使用]</strong>を選択します。8つの方向から設定したすべての方向情報が表示されます。</p>
            <p><strong class="UI">[方向インジケーター使用]</strong>は、方向ディスプレイの全体機能の使用状況を確認するオプションであり、個別方向の使用状況の確認は<strong class="UI">[<a href="locationSetup_namo.html#indicator">方向ディスプレイ</a>]</strong>から設定できます。</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>方向ディスプレイ設定</h4>
            <ol>
                <li>下記のようにカメラPTZを調整してカメラ方向を設定する時、基準となる映像画面を指定します。<br> <strong class="UI">[方向インジケーター使用]</strong>オプションを選択しないと、PTZジョグパネルが有効になります。</li>
                <ul>
                    <li><span class="tui tui-wn5-ptz-handle"></span> アイコンをマウスでドラッグすると、カメラがパンとチルトに移動します。</li>
                    <li>ズームバーを調整して映像の倍率を調整します。もしくは<span class="tui tui-wn5-ptz-plus"></span>アイコンをクリックして画面をズームインしたり、<span class="tui tui-wn5-ptz-minus"></span>アイコンをクリックして画面をズームアウトして映像の倍率を選択します。</li>
                    <li><span class="tui tui-wn5-ptz-near"></span> アイコンをクリックしてフォーカスを近く(near)移動したり、<span class="tui tui-wn5-ptz-far"></span>アイコンをクリックしてフォーカスを遠く(far)移動します。</li>
                    <li>カメラフォーカスを自動に一回合わせるには、<span class="tui tui-wn5-simple-focus"></span>アイコンをクリックします。</li>
                </ul>
                <li><strong class="UI">[方向インジケーター使用]</strong>を選択します。</li>
                <li>カメラ映像画面で方向ディスプレイの矢印を選択します。</li>
                <li>3番で選択した方向ディスプレイが映像画面に表示されるようにするためには、<strong class="UI">[<a href="#indicator">方向ディスプレイ</a>]</strong>で<strong class="UI">[使用]</strong>を選択します。</li>
                <li>下記のように詳細情報を設定することができます。</li>
                <ul>
                    <li>アジマス情報を表示するには、<strong class="UI">[<a href="#azimuth">アジマス</a>]</strong>で<strong class="UI">[使用]</strong>を選択します。方向矢印の横にNE、E、SE、S、SW、W、NWのようにアジマス情報が表示されます。</li>
                    <li>方向の説明を<strong class="UI">[<a href="#text">テキスト</a>]</strong>で入力します。</li>
                    <li>方向ディスプレイ(方向ディスプレイ矢印、アジマス、テキスト)の位置を<strong class="UI">[<a href="#XY">X</a>]</strong>と<strong class="UI">[<a href="#XY">Y</a>]</strong>でそれぞれ設定します。 &nbsp;</li>
                </ul>
                <li>設定した方向ディスプレイをカメラ映像画面で確認するには、<strong class="UI">[プレビュー]</strong>をクリックします。設定画面に戻るには、<strong class="UI">[戻る]</strong>をクリックします。</li>
                <li>設定を適用するには、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックします。</li>
            </ol>
            <p>方向を設定してから、パン(Pan)調整でカメラが向いている方向が変更された場合、これに合わせて現在の映像画面で方向情報がアップデートされます。</p>
            </div>
		
		
		
		
        <div class="wn5-setup-section-article-content">
            <h3><a name="indicator"></a>方向ディスプレイ</h3>
            <p>個別方向ディスプレイ有無を設定します。</p>
            <p>映像画面で矢印を選択した後、<strong class="UI">[使用]</strong>を選択すると、該当の矢印&amp;方向情報がカメラ映像に表示されます。</p>
            <p></p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3><a name="azimuth"></a>アジマス</h3>
            <p><strong class="UI">[使用]</strong>を選択すると、該当方向についてアジマス情報を表示します。</p>
            <p>北側の方向はNに表示され、北東側、東側、南東側、南側、南西側、西側、北西側は、それぞれNE、E、SE、S、SW、W、NWに表示されます。</p>
            <p><strong class="UI">[映像&amp;音声]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">カメラ設定</a>]</strong>で<span class="tui tui-wn5-north"></span>(北側設定)ボタンをクリックすると、希望する方向を北側に設定することができます。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3><a name="text"></a>テキスト</h3>
            <p>該当方向について説明を入力することができます。</p>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>テキストは最大12文字入力できます。a～z、A～Z、0～9、特殊文字、-&nbsp;&nbsp;# * + - / ( ) _ ,とスペースのみ入力できます。</li>
                <li>テキストのサイズ、色&amp;透明性は<strong class="UI">[映像&amp;音声]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">カメラ設定</a>]</strong>&gt;<strong class="UI">[OSD]</strong>の[サイズ]、[色]、[透明性]でそれぞれ変更できます。</li>
                <li>言語設定を韓国語や中国語に設定した状況で入力したテキストは、他の言語に言語設定を変更すると、韓国語や中国語で入力されたテキストがすべて削除されます。</li>
            </ul>
        </div>
		<div class="wn5-setup-section-article-content">
            <h3><a name="XY"></a>X/Y</h3>
            <p>カメラ映像画面で方向を指示する矢印が表示される位置を設定します。</p>
            <p>X/Yの座標値は、現在のカメラ映像画面を基準とします。</p>
        </div>	    	
		<div class="wn5-setup-section-article-content">
            <h3>プレビュー</h3>
            <p>設定したカメラ方向の情報をカメラ映像で確認するには、<strong class="UI">[プレビュー]</strong>をクリックします。設定状況に戻るには、<strong class="UI">[戻る]</strong>をクリックします。 &nbsp;</p>
        </div>		

    </div>
</div>
<hr class="wn5-setup-hr">

