
<h1 class="wn5-setup-main-title">ビデオ設定</h1>

<div class="wn5-setup-section">
	<p>カメラ映像にプライバシー領域を設定したり、映像画面を上下左右に反転させることができます。<p>

	<!-- </p>また映像をアナログに出力するように設定したり、ビデオ出力タイプを変更することができます。</p> -->
	<p ng-if="SupportAutoImageAlignment && !PrivacyMaskSupport && !FlipMirrorSupport">カメラ映像をアナログ方式で出力するとき、出力方式を設定することができます。</p>
	<p>設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
</div>

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
    <div class="wn5-setup-section-heading">
        <h2><a name="channel"></a>チャンネル選択</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
			<p ng-if="objectDetectionSupport">チャンネル1は、ライブ映像を表示するチャンネルであり、チャンネル2はデジタルPTZ映像を表示するチャンネルです。[ビデオ設定]は、チャンネル1でのみ設定できます。</p> 
			<p ng-if="SupportAutoImageAlignment">カメラチャンネルを選択した後、チャンネル別にプライバシー領域を設定したりビデオ回転やアナログ出力有無などのビデオ関連の詳細を設定することができます。</p> 
			<p ng-if="!SupportAutoImageAlignment">カメラのチャンネルを選択した後、ビデオ関連の詳細項目を設定することができます。</p>
            <p ng-if="HandoverCalibration">固定カメラのチャンネルは番号で表記され、PTZチャンネルは「PTZ」に表記されます。</p>
            <p ng-if="SupportAutoImageAlignment">[ビデオ設定]は、チャンネル1でのみ設定できます。チャンネル2～5番は装着された個別カメラの映像であり、チャンネル1は2～5番チャンネルのカメラ映像を一つに接続させてパノラマタイプに表示する映像です。チャンネル6番と7番は、チャンネル1の映像に対してデジタルPTZが適用された映像です。</p>
			<p ng-if="SupportAutoImageAlignment">チャンネル別にプライバシー領域が設定されるため、チャンネル1でプライバシー領域を設定した部分がチャンネル2の映像に該当されてもチャンネル1で設定したプライバシー映像は、チャンネル1のみ適用されます。</p>
			
			<!-- <p ng-if="SupportChannelExpansionFeature">チャンネル別のビューモードは、下記のどおりです。「ビデオ設定」はチャンネル1のみ有効になります。</p>
			<ul ng-if="SupportChannelExpansionFeature">
				<li>チャンネル1：魚眼カメラの映像をそのまま補正なしで見せます。</li>
				<li>チャンネル2：360˚エリアを撮影した映像を歪み補正して壁パノラマタイプに見せます。</li>
				<li>チャンネル3：360˚エリアを撮影した映像を歪み補正してパノラマタイプの上下分割モードに見せます。</li>
				<li>チャンネル4：人の視野に適合するように歪み補正した特定画面4つを同時に見せます。4分割画面を選択して、ビューを上下左右に移動したり、ズーム機能を使用できます。</li>
				<li>チャンネル5：チャンネル4の4分割画面で左上の映像を見せます。</li>
				<li>チャンネル6：チャンネル4の4分割画面で右上の映像を見せます。</li>
				<li>チャンネル7：チャンネル4の4分割画面で左下の映像を見せます。</li>
				<li>チャンネル8：チャンネル4の4分割画面で右下の映像を見せます。</li>
			</ul> -->

            <p ng-if="!SupportAutoImageAlignment"><strong class="UI">[詳細情報]</strong>ボタンをクリックすると、チャンネルの全体状況をチャンネル別に要約して表示します。</p ng-if="!SupportAutoImageAlignment">
            <!-- <p>設定を変更した後、保存せずに他のチャンネルを選択する場合には通知メッセージが表示されます。</p> -->

        </div>
	</div>
</div> 


<hr class="wn5-setup-hr" ng-if="PTZModel">
<div class="wn5-setup-section" ng-if="PTZModel">
    <div class="wn5-setup-section-heading">
        <h2>PTZ調整</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>カメラのパン、チルト&amp;ズーム動作を調整することができます。</p>
        </div>
			
        <div class="wn5-online-help-action">
    	   <h4>PTZ調整</h4> <ul>
                <li><span class="tui tui-wn5-ptz-handle"></span>アイコンをマウスでドラッグすると、カメラがパンとチルトに移動します。</li>
                <li>ズーム棒で<strong class="UI">[+]</strong>ボタンをクリックして画面をズームインしたり、<strong class="UI">[-]</strong>ボタンをクリックして画面をズームアウトして映像倍率を選択します。</li>
                <li><span class="tui tui-wn5-ptz-near"></span>アイコンをクリックしてフォーカスを近く(near)移動したり、<span class="tui tui-wn5-ptz-far"></span>アイコンをクリックしてフォーカスを遠く(far)移動します。</li>
                <li>カメラのフォーカスを自動で一度合わせるには、<span class="tui tui-wn5-simple-focus"></span>ボタンをクリックします。</li>
            </ul>
    	</div>
    </div>
</div>

<hr class="wn5-setup-hr" ng-if="PrivacyMaskSupport">
<div class="wn5-setup-section" ng-if="PrivacyMaskSupport">
	<div class="wn5-setup-section-heading">
		<h2>プライバシー領域</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
		    <p>カメラ映像でプライバシーの侵害の恐れがある部分を表示しないようにプライバシー領域として設定することができます。<strong class="UI">[プライバシーエリアを有効にする]</strong>を選択した後。プライバシー領域を無効にするには<strong class="UI">[プライバシーエリアを有効にする]</strong>を選択解除した後。プライバシー領域によって隠される部分なくカメラ映像を確認することができます。設定しておいたエリアは、削除されることなくプライバシー領域リストで確認することができます。</p>
		</div>
		<div class="wn5-online-help-info" ng-if="LDCIncompatibleSupport">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
			<ul>				
				<li><strong class="UI">[プライバシーエリアを有効にする]</strong>を選択すると、カメラのLDC機能が無効になります。カメラLDC機能は <strong class="UI">[映像&音声]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup">カメラ設定</a>]</strong>&gt;<strong class="UI">[特別設定]</strong>で確認することができます。
				 </li>
			</ul>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="PrivacyMaskPattern">
			<h3>パターン</h3>
            <p>プライバシー領域に適用するモザイクパターンを選択します。<strong class="UI">[</strong><strong>ソリッド</strong><strong class="UI">]</strong>で設定すると、プライバシー領域のメニューで設定した色が適用されます。パターンを選択すると、すべてのエリアに同じく適用されます。</p>
		</div>
	<!-- 	<div class="wn5-online-help-action">
			<h4>プライバシー領域設定</h4>
			<ol><li><strong class="UI">[プライバシーエリアを有効にする]</strong>を選択した後、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックします。</li>
				<li>カメラの映像画面からマウスで頂点4つをクリックしたりマウスをドラッグします。プライバシー領域のポップアップが表示されます。</li>
				<li><strong class="UI">[名前]</strong>にプライバシー領域名を入力して<strong class="UI">[カラー]</strong>で映像を隠す色を選択した後、<strong class="UI">[確認]</strong>ボタンをクリックします。</li>
				<li>追加したプライバシー領域がプライバシー領域リストに追加されます。カメラの映像画面には、設定したカラーでプライバシー領域が表示されます。</li>
			</ol>
		</div>  -->



				<div class="wn5-online-help-action" ng-if="PTZModel && PrivacyMaskRectangle && !PrivacyMasGlobalColor">
					<h4>プライバシー領域設定(PTZカメラの場合)</h4>
					<ol>
						<li><strong class="UI">[プライバシーエリアを有効にする]</strong>を選択します。</li>
						<li>カメラ映像画面でマウスをドラッグしてプライバシー領域のサイズを設定します。</li>
						<li><strong class="UI">[プライバシー領域]</strong>で次の項目を設定します。</li>
						<ul>
							<li><SPAN class="tui tui-wn5-ptz-handle"></SPAN> アイコンをドラッグして好む映像画面がプライバシー領域に位置するようにカメラのパン/チルトを調整します。</li>
							<li><strong class="UI">[名前]</strong>にプライバシー領域名を入力して<strong class="UI">[色]</strong>で映像を隠す色を選択します。</li>
							<li><strong class="UI">[ズーム閾値]</strong>機能の使用状況の確認を選択します。「ズーム閾値」は[ズーム倍率制限設定]で指定したズーム倍率以上に映像をズームインした場合のみ、プライバシー領域が動作する機能です。つまり、設定したズーム倍率より映像画面をズームアウトすると、プライバシー領域が映像から除去されます。</li>
						</ul>
						<li><strong class="UI">[プライバシー領域]</strong>で<strong class="UI">[OK]</strong>ボタンをクリックします。</li>
						<li>3段階で<strong class="UI">[ズーム閾値]</strong>オプションの中、<strong class="UI">[On]</strong>を選択した場合、<strong class="UI">[ズーム倍率制限設定]</strong>が表示されます。お望みの倍率でズームを調整してから、<strong class="UI">[確認]</strong>ボタンをクリックします。</li>
						<li>追加したプライバシー領域がプライバシー領域リストに追加されます。ズーム閾値機能が適用されたプライバシー領域は、プライバシー領域リストに「[ズーム]」が表記されます。カメラの映像画面に設定したカラーでプライバシー領域が表示されます。</li>
					</ol>
				</div>
		
				<div class="wn5-online-help-action" ng-if="Zoom && PrivacyMaskRectangle && !PrivacyMasGlobalColor">
					<h4>プライバシー領域設定(ズームカメラの場合)</h4>
					<ol>
						<li><strong class="UI">[プライバシーエリアを有効にする]</strong>を選択します。</li>
						<li>カメラの映像画面でマウスをドラッグしてプライバシー領域を設定します。</li>
						<li><strong class="UI">[プライバシー領域]</strong>で次の項目を設定します。</li>
						<ul>
							<li><strong class="UI">[名前]</strong>にプライバシー領域名を入力して<strong class="UI">[カラー]</strong>で映像を隠す色を選択します。</li>
							<li><strong class="UI">[ズーム閾値]</strong>機能の使用状況の確認を選択します。「ズーム閾値」は[ズーム倍率制限設定]で指定したズーム倍率以上に映像をズームインした場合のみ、プライバシー領域が動作する機能です。つまり、設定したズーム倍率より映像画面をズームアウトすると、プライバシー領域が映像から除去されます。</li>
						</ul>
						<li><strong class="UI">[プライバシー領域]</strong>で<strong class="UI">[OK]</strong>ボタンをクリックします。</li>
						<li>3段階で<strong class="UI">[ズーム閾値]</strong>オプションの中、<strong class="UI">[On]</strong>を選択した場合、<strong class="UI">[ズーム倍率制限設定]</strong>が表示されます。お望みの倍率でズームを調整してから、<strong class="UI">[確認]</strong>ボタンをクリックします。</li>
						<li>追加したプライバシー領域がプライバシー領域リストに追加されます。ズーム閾値機能が適用されたプライバシー領域は、プライバシー領域リストに「[ズーム]」が表記されます。カメラの映像画面に設定したカラーでプライバシー領域が表示されます。</li>
					</ol>
				</div>

				<div class="wn5-online-help-action" ng-if="!PrivacyMaskRectangle && !PrivacyMasGlobalColor">
						<h4>プライバシー領域設定(ズームカメラやPTZカメラ以外の場合)</h4>
						<ol>
							<li><strong class="UI">[プライバシーエリアを有効にする]</strong>を選択します。</li>
							<li>カメラの映像画面からマウスで頂点4つをクリックします。</li>
							<li><strong class="UI">[プライバシー領域]</strong>で次の項目を設定します。</li>
							<ul>
								<li><strong class="UI">[名前]</strong>にプライバシー領域名を入力して<strong class="UI">[カラー]</strong>で映像を隠す色を選択します。</li>
							</ul>
							<li><strong class="UI">[プライバシー領域]</strong>で<strong class="UI">[OK]</strong>ボタンをクリックします。</li>
							<li>追加したプライバシー領域がプライバシー領域リストに追加されます。カメラ映像画面に設定したカラーでプライバシー領域が表示されます。</li>
						</ol>
					</div>

					<div class="wn5-online-help-action" ng-if="PrivacyMasGlobalColor">
							<h4>プライバシー領域設定</h4>
							<ol>
								
								<li><strong class="UI">[プライバシーエリアを有効にする]</strong>を選択します。</li>
								<li>カメラの映像画面でマウスをドラッグしてプライバシー領域を設定します。</li>
								<li><strong class="UI">[プライバシー領域]</strong>の<strong class="UI">[名前]</strong>にプライバシー領域の名前を入力した後、<strong class="UI">[OK]</strong>ボタンをクリックします。</li>
								<li>追加したプライバシー領域がプライバシー領域リストに追加されます。</li>
								<li>プライバシー領域にカラーを適用するには、<strong class="UI">[色]</strong>で映像を区別するカラーを選択します。ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。設定したプライバシー領域に選択したカラーがすべて同一に適用されます。</li>
							</ol>
						</div>					

		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
			<ul><li>プライバシー領域名は、英数字、ダーシ(-)、ピリオド(.)だけ入力することができます。</li>

			</ul>
		</div>


		<div class="wn5-online-help-action">
			<h4>プライバシー領域削除</h4>
			<ol><li>プライバシー領域リストで削除するプライバシー領域を選択します。カメラの映像画面に選択したエリアが表示されます。</li>
				<li><strong class="UI">[削除]</strong>ボタンをクリックします。選択したエリアが削除されます。</li>
			</ol>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr" ng-if="FlipMirrorSupport">

<div class="wn5-setup-section" ng-if="FlipMirrorSupport">
	<div class="wn5-setup-section-heading">
		<h2>ビデオ回転</h2>
	</div>
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>カメラを設定した後、画面がひっくり返って見える場合にはフリップ、ミラー機能で画面を直すことができます。また廊下や小道にカメラを設置した場合、<strong class="UI">[玄関ビュー]</strong>機能で画面を縦に長く撮影することができるため、監視エリアを効率的に運用することができます。</p>
		</div>
		<div class="wn5-online-help-info" ng-if="Statistics">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
                    <ul>
                        <li>ビデオ回転設定を変更すると、ビデオ映像画面が上下左右にひっくり返ったり変更されます。変更された映像に合わせて映像を分析したり、統計データを蓄積するように分析と統計設定を変更してください。該当設定は[分析]メニューと[統計]メニューで変更することができます。</li>
                    </ul>
        </div>
				<div class="wn5-online-help-info" ng-if="!Statistics">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
                    <ul>
                        <li>ビデオ回転設定を変更すると、ビデオ映像画面が上下左右にひっくり返ったり変更されます。変更された映像に合わせて映像を分析できるように[分析]メニューで分析設定を変更してください。</li>
                    </ul>
        </div>
		<div class="wn5-setup-section-article-content" ng-if="!PTZModel && !PTRZModel"><h3>フリップ</h3>
			<p>カメラの映像をフリップさせるには、<strong class="UI">[On]</strong>を選択します。</p>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="!PTZModel && !PTRZModel">
			<h3>ミラー</h3>
			<p>カメラの映像をミラーさせるには、<strong class="UI">[On]</strong>を選択します。</p>
		</div>

		<div class="wn5-setup-section-article-content" ng-if="PTZModel || PTRZModel">
			<h3>フリップ/ミラー</h3>
			<p>カメラの映像を上下左右に反転させるには、<strong class="UI">[On]</strong>を選択します。</p>
		</div>

		<div class="wn5-setup-section-article-content" ng-if="PTZModel && AutoFlip">
			<h3>デジタルフリップ</h3>
            <p>PTZ機能でカメラの位置を変更する時、カメラの映像画面が上下左右にひっくり返って見えることがあります。この時に映像画面が自動に反転されて正しく表示されるようにするためには、<strong class="UI">[On]</strong>を選択します。</p>
		</div>
		
		<div class="wn5-setup-section-article-content" ng-if="HallwayView">
			<h3>玄関ビュー</h3>
			<p>狭い廊下や小道のように一般カメラの映像には監視しにくい環境でカメラ映像を回転させて上下の監視エリアをズームインすることができます。90°(時計回り)、270°(時計回り)に回転することができ、0°に設定すると元の映像に戻ります。</p>
		</div>
		<div class="wn5-online-help-info" ng-if="HallwayView">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
				<ul><li>玄関ビューを設定するためには、設置されたカメラを0°、90°(時計回り)もしくは270°(時計回り)に直接回転させた後、<strong class="UI">[玄関ビュー]</strong>で同一な角度を選択する必要があります。</li>
					<li><strong class="UI">[玄関ビュー]</strong>を設定すると、ウェブブラウザが自動に閉じられるためウェブビューアーに再度アクセスする必要があります。</li>
				</ul>
		</div>
		
						<div class="wn5-setup-section-article-content" ng-if="FisheyeLens">
			<h3>カメラ据付けモード</h3>
            <p>カメラ据付けモードを選択します。カメラを壁に設置した場合には<strong class="UI">[壁]</strong>を選択し、天井に設置した場合には<strong class="UI">[天井]</strong>を選択します。</p>
		</div>
        <div class="wn5-online-help-info" ng-if="FisheyeLens">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>カメラ据付けモードを変更すると、<strong class="UI">[ビデオprofile]</strong>で設定したすべてのProfile設定が初期化され、カメラが再起動します。また、変更される画面に合わせてビデオ映像分析&amp;統計設定を変更する必要があります。該当設定は<strong class="UI">[分析]</strong>と<strong class="UI">[統計]</strong>メニューで変更することができます。</li>
                <li>カメラ据付けモードを<strong class="UI">[壁]</strong>を選択した場合のみ、<strong class="UI">[ライブ]</strong>モードでDPTZ中にパン機能を使用することができます。</li>
                <li>カメラ据付けモードを変更すると、&nbsp;<strong class="UI">[ライブ]</strong>モードで魚眼ビューモードの方向も共に変更されます。</li>
            </ul>
        </div>
	</div>
</div>


<!-- <hr class="wn5-setup-hr" ng-if="SupportAutoImageAlignment">
<div class="wn5-setup-section" ng-if="SupportAutoImageAlignment">
	<div class="wn5-setup-section-heading">
		<h2>アナログビデオ</h2>
	</div>
	<div class="wn5-setup-section-article">
	<div class="wn5-setup-section-article-content">
		<h3>ビデオ出力</h3>
			<p>アナログビデオの出力有無を設定することができます。アナログビデオ出力はカメラを設置する時、レンズ位置やフォーカスなどを確認しながら設定することができて有用です。</p>
		</div>
	
	<div class="wn5-setup-section-article-content">
		<h3>ビデオ出力タイプ</h3>
	    	<p>アナログビデオ出力タイプを選択します。ビデオ出力タイプは、<strong class="UI">[NTSC]</strong>と<strong class="UI">[PAL]</strong>の中で選択することができます。</p>
	    </div>
		<div class="wn5-setup-section-article-content">
			<ul><li><strong class="UI">NTSC</strong>：NTSC (National Television System Committee)タイプは、アメリカで制定したカラーテレビの標準です。1秒当たりのフレーム数は30フレーム、水平走査線は525です。1秒当たりのフレーム数が高くて画面が自然に表現されます。主にアメリカ、日本、カナダなどで使用するタイプです。</li>
				<li><strong class="UI">PAL</strong>：PAL (Phase Alternation Line)タイプはドイツから提案されてNTSCタイプと似ているが、カラー信号を扱う方法に差があります。主にヨーロッパで使用するタイプです。NTSCに比べて1秒当たりのフレーム数は少ないが、水平走査線が625でより多くて解像度が高く、カラー変形が少なく、放送設備に高度の規格が必要ないです。</li>
			</ul>
		</div>
		       <div class="wn5-online-help-info" ng-if="FisheyeLens">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>カメラの性能低下を防ぐためにカメラを設置した後には、「アナログビデオ」機能をオフにしてください。</li>
            </ul>
        </div>
	</div>

</div> -->



<!-- 통합 전 -->

<!-- <hr class="wn5-setup-hr" ng-if="VideoTypeOptions || (VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1) && UsbConfigEnable">
<div class="wn5-setup-section" ng-if="VideoTypeOptions || (VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1) && UsbConfigEnable">
    <div class="wn5-setup-section-heading">
        <h2>ビデオ出力</h2>
    </div>
	<div class="wn5-setup-section-article">		
		<div class="wn5-setup-section-article-content">	

			<p>カメラ映像をビデオで出力するタイプを選択します。 </p>
		</div>
	    <div class="wn5-setup-section-article-content" ng-if="UsbConfigEnable">			
			<h3>USB</h3>
			<p>USBを使ってカメラ映像を出力するためには、<strong class="UI">[有効]</strong>をクリックします。</p>
			<p>Wi-Fiドングルとハンファテックウィンで提供するスマートフォンアプリケーションでWi-Fi通信に接続してカメラにアクセスすることができます。ネットワークカメラを最初にインストールする時や視野角度、位置などを変更する場合、別途の設置用モニターがなくてもスマートフォンでカメラの映像を確認することができるため、有用です。</p>
		</div>
	    <div class="wn5-setup-section-article-content" ng-if="VideoTypeOptions && !VideooutputEnableHide">			
			<h3>CVBS</h3>  

			<p>CVBSを使ってカメラ映像を出力するためには、<strong class="UI">[有効]</strong>をクリックします。</p>
			<p>カメラを設置する時、レンズ位置やフォーカスなどを確認しながら設定することができるため、有用です。</p>
		</div>

	    <div class="wn5-setup-section-article-content" ng-if="VideoTypeOptions">
	 	<h3>CVBSタイプ</h3> 

	    	<p>CVBSを使用する場合、CVBSビデオ出力タイプを選択します。</p>
			<ul>			
				<li><strong class="UI">NTSC</strong>：NTSC (National Television System Committee)タイプは、アメリカで制定したカラーテレビの標準です。1秒当たりのフレーム数は30フレーム、水平走査線は525です。1秒当たりのフレーム数が高くて画面が自然に表現されます。主にアメリカ、日本、カナダなどで使用するタイプです。</li>
				<li><strong class="UI">PAL</strong>：PAL (Phase Alternation Line)タイプはドイツから提案されてNTSCタイプと似ているが、カラー信号を扱う方法に差があります。主にヨーロッパで使用するタイプです。NTSCに比べて1秒当たりのフレーム数は少ないが、水平走査線が625でより多くて解像度が高く、カラー変形が少なく、放送設備に高度の規格が必要ないです。</li>
			</ul>
		</div>

		<div class="wn5-setup-section-article-content" ng-if="!GlobalRotateViewSupport">
            <h3>レイアウト</h3>
            <p>カメラビデオ出力画面のレイアウトオプションを <strong class="UI">[レイアウト]</strong>で選択することができます。<strong class="UI">[4分割]</strong>を選択すると、4チャンネルのビデオを分割して一つの画面にすべて表示します。<strong class="UI"></strong>[シングル]</strong>を選択すると、4チャンネルのビデオの中で一つだけ画面に表示します。[シングル]オプションを選択時、画面に表示するチャンネルを選択することができます。</p>
		</div>
		
        <div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
			<ul>				
				<li>カメラの性能低下を防ぐためにカメラを設置した後には、「アナログビデオ」機能をオフにしてください。</li>
			</ul>
		</div>
	</div>
</div>  


<hr class="wn5-setup-hr" ng-if ="HDMISupport && !SupportAutoImageAlignment && !XCELevel">
<div class="wn5-setup-section" ng-if ="HDMISupport && !SupportAutoImageAlignment && !XCELevel">
    <div class="wn5-setup-section-heading">
        <h2>ビデオ出力</h2>
    </div>
	<div class="wn5-setup-section-article">		
		<div class="wn5-setup-section-article-content">	

		<p>カメラ映像をビデオで出力するタイプを選択します。</p>
		</div>
	    <div class="wn5-setup-section-article-content" ng-if="UsbConfigEnable">			
			<h3>USB</h3>
			<p>USBを使ってカメラ映像を出力するためには、<strong class="UI">[有効]</strong>をクリックします。</p>
			<p>Wi-Fiドングルとハンファテックウィンで提供するスマートフォンアプリケーションでWi-Fi通信に接続してカメラにアクセスすることができます。ネットワークカメラを最初にインストールする時や視野角度、位置などを変更する場合、別途の設置用モニターがなくてもスマートフォンでカメラの映像を確認することができるため、有用です。</p>
		</div>
        <div class="wn5-setup-section-article-content">
            <h3>ビデオ出力</h3>
			<p>HDMIポートにケーブルを接続して映像を出力するためには、<strong class="UI">[有効]</strong>をクリックします。カメラを設置する時、レンズの位置や焦点などを確認しながら設定できるため、有用です。</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>タイプ</h3>
            <p>映像を出力するHDMI解像度を選択します。<strong class="UI">[ビデオ出力]</strong>で[有効]を選択してから、タイプを選択できます。</p>
		</div>
		
		<div class="wn5-setup-section-article-content" ng-if="!GlobalRotateViewSupport">
            <h3>レイアウト</h3>
            <p>カメラビデオ出力画面のレイアウトオプションを <strong class="UI">[レイアウト]</strong>で選択することができます。<strong class="UI">[4分割]</strong>を選択すると、4チャンネルのビデオを分割して一つの画面にすべて表示します。<strong class="UI"></strong>[シングル]</strong>を選択すると、4チャンネルのビデオの中で一つだけ画面に表示します。[シングル]オプションを選択時、画面に表示するチャンネルを選択することができます。</p>
		</div>
		
        <div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
			<ul>				
				<li>カメラの性能低下を防ぐためにカメラを設置した後には、「アナログビデオ」機能をオフにしてください。</li>
			</ul>
		</div>
	</div>
</div>  

<hr class="wn5-setup-hr"> -->



<!-- 통합 후 -->


<hr class="wn5-setup-hr" ng-if="VideoTypeOptions">
<div class="wn5-setup-section" ng-if="VideoTypeOptions">
	<div class="wn5-setup-section-heading">
		<h2>ビデオ出力</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>カメラ映像をビデオで出力するタイプを選択します。 </p>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="UsbConfigEnable">
			<h3>USB</h3>
			<p>USBを使ってカメラ映像を出力するためには、<strong class="UI">[有効]</strong>をクリックします。</p>
			<p>Wi-Fiドングルとハンファテックウィンで提供するスマートフォンアプリケーションでWi-Fi通信に接続してカメラにアクセスすることができます。ネットワークカメラを最初にインストールする時や視野角度、位置などを変更する場合、別途の設置用モニターがなくてもスマートフォンでカメラの映像を確認することができるため、有用です。</p>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1) && !VideooutputEnableHide">
			<h3>CVBS</h3>
			<p>CVBSを使ってカメラ映像を出力するためには、<strong class="UI">[有効]</strong>をクリックします。</p>
			<p>カメラを設置する時、レンズ位置やフォーカスなどを確認しながら設定することができるため、有用です。</p>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1)">
			<h3>CVBSタイプ</h3>
			<p>CVBSを使用する場合、CVBSビデオ出力タイプを選択します。</p>
			<ul>
				<li><strong class="UI">NTSC</strong>：NTSC (National Television System Committee)タイプは、アメリカで制定したカラーテレビの標準です。1秒当たりのフレーム数は30フレーム、水平走査線は525です。1秒当たりのフレーム数が高くて画面が自然に表現されます。主にアメリカ、日本、カナダなどで使用するタイプです。</li>
				<li><strong class="UI">PAL</strong>：PAL (Phase Alternation Line)タイプはドイツから提案されてNTSCタイプと似ているが、カラー信号を扱う方法に差があります。主にヨーロッパで使用するタイプです。NTSCに比べて1秒当たりのフレーム数は少ないが、水平走査線が625でより多くて解像度が高く、カラー変形が少なく、放送設備に高度の規格が必要ないです。</li>
			</ul>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="!GlobalRotateViewSupport && !ZoomOnlyModel">
            <h3>レイアウト</h3>
            <p>カメラビデオ出力画面のレイアウトオプションを <strong class="UI">[レイアウト]</strong>で選択することができます。<strong class="UI">[4分割]</strong>を選択すると、4チャンネルのビデオを分割して一つの画面にすべて表示します。<strong class="UI"></strong>[シングル]</strong>を選択すると、4チャンネルのビデオの中で一つだけ画面に表示します。[シングル]オプションを選択時、画面に表示するチャンネルを選択することができます。</p>
		</div>
		
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('HDMI_1080p') !== -1 || VideoTypeOptions.indexOf('HDMI_720p') !== -1) && HDMISupport && !SensorCaptureSize">
			<h3>ビデオ出力</h3>
			<p>HDMIポートにケーブルを接続して映像を出力するためには、<strong class="UI">[有効]</strong>をクリックします。カメラを設置する時、レンズの位置や焦点などを確認しながら設定できるため、有用です。</p>
		</div>
		
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('HDMI_1080p') !== -1 || VideoTypeOptions.indexOf('HDMI_720p') !== -1) && HDMISupport && !SensorCaptureSize">
			<h3>タイプ</h3>
			<p>映像を出力するHDMI解像度を選択します。<strong class="UI">[ビデオ出力]</strong>で[有効]を選択してから、タイプを選択できます。</p>
		</div>

		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('HDMI_1080p') !== -1 || VideoTypeOptions.indexOf('HDMI_720p') !== -1) && HDMISupport && !SensorCaptureSize">
			<h3>HDMIタイプ</h3>
			<p>映像を出力するHDMI解像度を選択します。</p>
		</div>

		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
			<ul>
				<li>カメラの性能低下を防ぐためにカメラを設置した後には、「ビデオ出力」機能をオフにしてください。</li>
			</ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">

