<h1 class="wn5-setup-main-title">Alignement de l&rsquo;image</h1>

<div class="wn5-setup-section">
    <p >Le champ de vision angulaire peut &ecirc;tre r&eacute;gl&eacute; pour la cam&eacute;ra install&eacute;e et la position de l&rsquo;image vid&eacute;o de chaque capteur peut &ecirc;tre ajust&eacute;e en unit&eacute; de pixel pour corriger les raccords des images vid&eacute;o.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>Champ de vision angulaire</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p >Vous pouvez &eacute;galement r&eacute;gler le champ de vision angulaire panoramique de la cam&eacute;ra install&eacute;e.</p>
            <p >En s&eacute;lectionnant le <strong class="UI">[Mode 209°]</strong>, l&rsquo;affichage obtenu a une largeur sup&eacute;rieure &agrave; celle du <strong class="UI">[Mode 180°]</strong>.</p>
        </div>
	    <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
            <ul>
                <li >Si vous modifiez l&rsquo;option de champ de vision angulaire, la cam&eacute;ra d&eacute;marre et r&eacute;initialise les param&egrave;tres ci-dessous en fonction du champ de vision angulaire s&eacute;lectionn&eacute;. Ils peuvent &ecirc;tre r&eacute;gl&eacute;s dans les menus <strong class="UI">[Profil vid&eacute;o]</strong>, <strong class="UI">[Vid&eacute;o configuration]</strong>, <strong class="UI">[R&eacute;glage cam&eacute;ra]</strong>, <strong class="UI">[PTZ num&eacute;rique]</strong>, <strong class="UI">[D&eacute;tection de mouvement]</strong>, <strong class="UI">[IVA]</strong> et <strong class="UI">[Heatmap]</strong>, respectivement.</li>
                <ul>
                    <li>Profil vid&eacute;o</li>
                    <li>Zone de confidentialit&eacute; et configuration vid&eacute;o</li>
                    <li>R&eacute;glage cam&eacute;ra</li>
                    <li>Pr&eacute;r&eacute;glage et Configuration groupe dans PTZ num&eacute;rique</li>
                    <li>D&eacute;tection de mouvement et IVA dans Analyse</li>
                    <li>Heatmap dans Statistiques</li>
                </ul>
                <li>Il est recommandé d’utiliser [Alignement de l’image] pour compléter le réglage de l’angle d’inclinaison. La modification de l’angle d’inclinaison peut désaligner les images, le cas échéant vous devrez les réaligner.</li>
            </ul>
        </div>
	</div>
</div>



<div class="wn5-setup-section" >
    <div class="wn5-setup-section-heading">
		<h2>Alignement de l&rsquo;image</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Lors de la cr&eacute;ation d&rsquo;une vid&eacute;o panoramique en disposant les images vid&eacute;o de quatre canaux, les raccords entre les vid&eacute;os peuvent sembler artificiels. Lorsque c&rsquo;est le cas, vous pouvez utiliser [Alignement de l&rsquo;image] pour d&eacute;placer la position de deux vid&eacute;os &agrave; la fois et corriger le raccord pour obtenir un aspect naturel.</p>
            <p>Dans la vid&eacute;o de pr&eacute;visualisation, la vid&eacute;o la plus &agrave; gauche correspond &agrave; la Zone&nbsp;1 et la vid&eacute;o la plus &agrave; droite correspond &agrave; la Zone&nbsp;4. En cliquant sur le bouton <strong class="UI">[1-2]</strong>, vous pouvez ajuster la position des deux vid&eacute;os des Zones&nbsp;1 et 2 pour supprimer les raccords. De m&ecirc;me, cliquez sur le bouton <strong class="UI">[2-3]</strong> pour ajuster la position des vid&eacute;os des Zones&nbsp;2 et 3, puis cliquez sur le bouton <strong class="UI">[3-4]</strong> pour ajuster la position des vid&eacute;os des Zones&nbsp;3 et 4. Cliquez sur <strong class="UI">[Tout r&eacute;initialiser]</strong> pour ramener &agrave; leur param&egrave;tres par d&eacute;faut toutes les zones des Zones&nbsp;1 &agrave; 4.</p>
            <p>S&eacute;lectionnez <strong class="UI">[M&eacute;lange alpha]</strong> pour fusionner et estomper les bords des zones. Si <strong class="UI">[M&eacute;lange alpha]</strong> n&rsquo;est pas s&eacute;lectionn&eacute;, les bords des zones sont affich&eacute;s sous la forme d&rsquo;une ligne lin&eacute;aire.</p>
            <p></p>
            <p>Si vous s&eacute;lectionnez la zone souhait&eacute;e et que vous passez la souris sur une vid&eacute;o, les touches fl&eacute;ch&eacute;es <strong class="UI">[Haut]</strong>/<strong class="UI">[Bas]</strong>/<strong class="UI">[Gauche]</strong>/<strong class="UI">[Droite]</strong> s&rsquo;affichent. Chaque fois que vous cliquez sur l&rsquo;une de ces touches, l&rsquo;image vid&eacute;o se d&eacute;place d&rsquo;un pixel. Si vous cliquez sur une touche fl&eacute;ch&eacute;e et la maintenez enfonc&eacute;e, vous pouvez d&eacute;placer l&rsquo;image vid&eacute;o de 10&nbsp;pixels &agrave; la fois. Si vous voulez ramener la vid&eacute;o en cours d&rsquo;&eacute;dition &agrave; sa position par d&eacute;faut, cliquez sur le bouton <strong class="UI">[R&eacute;initialiser]</strong>.</p>

        </div>
    </div>
</div>
<hr class="wn5-setup-hr">