<h1 class="wn5-setup-main-title">Configuration de l&rsquo;emplacement</h1>
<div class="wn5-setup-section">
    <p>Vous pouvez configurer l&rsquo;affichage des informations de direction sur la vid&eacute;o de la cam&eacute;ra.</p>
    <p>Configurez jusqu&rsquo;&agrave; huit directions&nbsp;: nord, nord-est, est, sud-est, sud, sud-ouest, ouest et nord-ouest. Ensuite, chaque fois que le PTZ sera ajust&eacute; et que l&rsquo;emplacement du panoramique de la cam&eacute;ra changera, les informations de direction sur l&rsquo;&eacute;cran vid&eacute;o actuel seront mises &agrave; jour en cons&eacute;quence.</p>
</div>
<div class="wn5-online-help-info">
    <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
    <ul>
        <li>La modification du r&eacute;glage de la taille ou de la langue de l&rsquo;OSD r&eacute;initialise toutes les valeurs de configuration de la direction (informations d&rsquo;azimut, de description et d&rsquo;emplacement). Vous pouvez r&eacute;gler la taille de l&rsquo;OSD dans <strong class="UI">[Video &amp; Audio]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">R&eacute;glage cam&eacute;ra</a>]</strong>&gt;<strong class="UI">[OSD]</strong> et la langue dans <strong class="UI">[Syst&egrave;me]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link"
href="../system/productinfo.html"
ng-href="#/help/system_productinfo?">Informations produit</a>]</strong>.</li>
    </ul>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Indicateur de direction</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>Activer l&rsquo;indicateur de direction</h3>
            <p>Pour activer a fonction de l&rsquo;indicateur de direction, s&eacute;lectionnez&nbsp;<strong class="UI">[Activer indicateur de direction]</strong>. Toutes les informations de direction d&eacute;finies pour l&rsquo;une des huit directions sont affich&eacute;es.</p>
            <p><strong class="UI">[Activer indicateur de direction]</strong> est l&rsquo;option qui permet l&rsquo;utilisation de la fonction d&rsquo;affichage de l&rsquo;ensemble des directions, alors que <strong class="UI">[<a href="locationSetup_namo.html#indicator">Indicateur</a>]</strong> est l&rsquo;option qui permet de configurer l&rsquo;affichage d&rsquo;une seule direction.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>Configuration de l&rsquo;indicateur de direction</h4>
            <ol>
                <li>R&eacute;glez le PTZ de la cam&eacute;ra comme pr&eacute;sent&eacute; ci-dessous pour d&eacute;signer un &eacute;cran vid&eacute;o de r&eacute;f&eacute;rence lors de la configuration de la direction de la cam&eacute;ra. <br> Si vous souhaitez activer le panneau de secousses PTZ, <strong class="UI">[Activer indicateur de direction]</strong> ne doit pas &ecirc;tre s&eacute;lectionn&eacute;.</li>
                <ul>
                    <li><span class="tui tui-wn5-ptz-handle"></span> Lorsque vous faites glisser l&rsquo;ic&ocirc;ne avec la souris, la cam&eacute;ra se d&eacute;place en panoramique et en inclinaison.</li>
                    <li>Utilisez la barre de zoom pour r&eacute;gler l&rsquo;agrandissement de l&rsquo;image ou s&eacute;lectionnez un agrandissement de l&rsquo;image en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-plus"></span> pour agrandir l&rsquo;&eacute;cran ou sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-minus"></span> pour le r&eacute;duire.</li>
                    <li><span class="tui tui-wn5-ptz-near"></span> Rapprochez la mise au point en cliquant sur l&rsquo;ic&ocirc;ne ou &eacute;loignez-la en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-far"></span>.</li>
                    <li>Pour ajuster automatiquement la mise au point de la cam&eacute;ra une fois, cliquez sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-simple-focus"></span>.</li>
                </ul>
                <li>S&eacute;lectionnez <strong class="UI">[Activer indicateur de direction]</strong>.</li>
                <li>S&eacute;lectionnez la fl&egrave;che indiquant la direction sur l&rsquo;&eacute;cran de la cam&eacute;ra.</li>
                <li>Afin que la direction s&eacute;lectionn&eacute;e dans &Eacute;tape&nbsp;3 apparaissent &agrave; l&rsquo;&eacute;cran, allez dans <strong class="UI">[<a href="#indicator">Indicateur</a>]</strong> et s&eacute;lectionnez <strong class="UI">[Activer]</strong>.</li>
                <li>Les d&eacute;tails peuvent &ecirc;tre r&eacute;gl&eacute;s comme indiqu&eacute; ci-dessous&nbsp;:</li>
                <ul>
                    <li>Pour afficher les informations d&rsquo;azimut, allez dans <strong class="UI">[<a href="#azimuth">Azimut</a>]</strong> et s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les informations d&rsquo;azimut telles que N, NE, E, SE, S, SO, O ou NO sont affich&eacute;es &agrave; c&ocirc;t&eacute; de la fl&egrave;che directionnelle.</li>
                    <li>Entrez la description de la direction dans <strong class="UI">[<a href="#text">Texte</a>]</strong>.</li>
                    <li>R&eacute;glez l&rsquo;emplacement de l&rsquo;affichage de la direction (fl&egrave;che directionnelle, azimut et texte) pour <strong class="UI">[<a href="#XY">X</a>]</strong> et <strong class="UI">[<a href="#XY">Y</a>]</strong>, respectivement. &nbsp;</li>
                </ul>
                <li>Pour voir l&rsquo;affichage de la direction d&eacute;finie sur l&rsquo;&eacute;cran vid&eacute;o, cliquez sur <strong class="UI">[Preview]</strong>. Pour revenir &agrave; l&rsquo;&eacute;cran de configuration, cliquez sur <strong class="UI">[Retour]</strong>.</li>
                <li>Pour appliquer les r&eacute;glages, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</li>
            </ol>
            <p>Une fois que la direction est d&eacute;finie, chaque fois que la direction de la cam&eacute;ra change en raison du r&eacute;glage du panoramique, les informations de direction sur l&rsquo;&eacute;cran vid&eacute;o actuel sont mises &agrave; jour en cons&eacute;quence.</p>
            </div>
		
		
		
		
        <div class="wn5-setup-section-article-content">
            <h3><a name="indicator"></a>Indicateur</h3>
            <p>D&eacute;termine l&rsquo;affichage individuel de chaque direction.</p>
            <p>S&eacute;lectionnez une fl&egrave;che sur l&rsquo;&eacute;cran et cliquez sur <strong class="UI">[Activer]</strong> pour afficher l&rsquo;image de la fl&egrave;che accompagn&eacute;e des informations sur sa direction sur l&rsquo;&eacute;cran de la cam&eacute;ra.</p>
            <p></p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3><a name="azimuth"></a>Azimut</h3>
            <p>S&eacute;lectionnez <strong class="UI">[Activer]</strong> pour afficher les informations sur l&rsquo;azimut de la direction.</p>
            <p>Nord appara&icirc;t sous la forme N tandis que nord-est, est, sud-est, sud, sud-ouest, ouest et nord-ouest apparaissent respectivement sous la forme NE, E, SE, S, SO, O et NO.</p>
            <p>Dans <strong class="UI">[Video &amp; Audio]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">R&eacute;glage cam&eacute;ra</a>]</strong>, cliquez sur le bouton <span class="tui tui-wn5-north"></span> (D&eacute;finir Nord) pour r&eacute;gler votre direction souhait&eacute;e comme &eacute;tant le nord.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3><a name="text"></a>Texte</h3>
            <p>Vous pouvez entrer la description de la direction.</p>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
            <ul>
                <li>Vous pouvez entrer jusqu&rsquo;&agrave; 12 caract&egrave;res pouvant contenir l&rsquo;un des &eacute;l&eacute;ments suivants&nbsp;: a &agrave; z, A &agrave; Z, 0 &agrave; 9, des caract&egrave;res sp&eacute;ciaux tels que . -&nbsp;# * + - / ( ) _ et des espaces.</li>
                <li>Pour changer la taille, la couleur et la transparence du texte, allez dans <strong class="UI">[Video &amp; Audio]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">R&eacute;glage cam&eacute;ra</a>]</strong>&gt;<strong class="UI">[OSD]</strong> et changez les valeurs de [Taille], [Couleur] et [Transparence].</li>
                <li>Un texte cor&eacute;en ou chinois saisi sous la pr&eacute;f&eacute;rence de langue r&eacute;gl&eacute;e pour le cor&eacute;en ou le chinois sera perdu lorsque la pr&eacute;f&eacute;rence de langue sera modifi&eacute;e.</li>
            </ul>
        </div>
		<div class="wn5-setup-section-article-content">
            <h3><a name="XY"></a>X/Y</h3>
            <p>Permet de r&eacute;gler l&rsquo;emplacement o&ugrave; la fl&egrave;che indiquant la direction doit s&rsquo;afficher sur la vid&eacute;o de la cam&eacute;ra.</p>
            <p>Les valeurs des coordonn&eacute;es X/Y sont en fonction de l&rsquo;&eacute;cran de la cam&eacute;ra en cours.</p>
        </div>	    	
		<div class="wn5-setup-section-article-content">
            <h3>Priview</h3>
            <p>Pour voir l&rsquo;affichage des informations de direction de la cam&eacute;ra d&eacute;finie sur l&rsquo;image de la cam&eacute;ra, cliquez sur <strong class="UI">[Preview]</strong>. Pour revenir &agrave; la configuration, cliquez sur <strong class="UI">[Retour]</strong>. &nbsp;</p>
        </div>		

    </div>
</div>
<hr class="wn5-setup-hr">

