<h1 class="wn5-setup-main-title">Caja de E/S</h1>
<div class="wn5-setup-section">
    <p>Se puede conectar un dispositivo externo de E/S a la c&aacute;mara para que sea usado.</p>
    <p>En la p&aacute;gina [Caja de E/S], se puede ingresar la informaci&oacute;n de la caja de E/S que se va a conectar a la c&aacute;mara, y se puede adem&aacute;s comprobar el estado de conexi&oacute;n de la caja de E/S y de la c&aacute;mara. Una vez completada la configuraci&oacute;n, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Caja de E/S</h2>
	</div>
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Se puede definir el tipo de IP, el tipo de protocolo, la direcci&oacute;n IP, el n&uacute;mero de puerto, etc. de la caja de E/S externa que se va a conectar a la c&aacute;mara.</p>
            <p>Para conectar una caja de E/S externa a la c&aacute;mara y utilizarla, seleccione <strong class="UI">[Activar caja de E/S]</strong>.</p>
        </div>
		<div class="wn5-setup-section-article-content">
			<h3>Tipo de IP</h3>
            <p>Seleccione entre IPv4 e IPv6 para el tipo de direcci&oacute;n IP que se utilizar&aacute; cuando la caja de E/S se comunique con la c&aacute;mara.</p>
		</div>
		
		<div class="wn5-setup-section-article-content">
			<h3>HTTP/HTTPS</h3>
            <p>Seleccione entre HTTPS e HTTPS para el tipo de direcci&oacute;n IP que se utilizar&aacute; cuando la caja de E/S se comunique con la c&aacute;mara.</p>
		</div>

        <div class="wn5-setup-section-article-content">
            <h3>Direcci&oacute;n IP</h3>
            <p>Introduzca la direcci&oacute;n IP de la caja de E/S.</p>
        </div>

		<div class="wn5-setup-section-article-content">
			<h3>Puerto HTTPS</h3>
			<p>Introduzca el n&uacute;mero de puerto de la caja de E/S.</p>
		</div>		
		<div class="wn5-setup-section-article-content">
			<h3>Puerto RTSP</h3>
            <p>Introduzca el n&uacute;mero de puerto RTSP de la caja de E/S.</p>
		</div>	
		<div class="wn5-setup-section-article-content">
			<h3>ID</h3>
			<p>Introduzca el ID para acceder al dispositivo de E/S.</p>
		</div>	
		<div class="wn5-setup-section-article-content">
			<h3>Contrase&ntilde;a</h3>
			<p>Introduzca la contrase&ntilde;a para acceder al dispositivo de E/S.</p>
		</div>	
		<div class="wn5-setup-section-article-content">
			<h3>Estado</h3>
            <p>Muestra el estado de la conexi&oacute;n entre el dispositivo de E/S y la c&aacute;mara. Se mostrar&aacute; [Conectado] si la c&aacute;mara y el dispositivo de E/S est&aacute;n conectados correctamente; si est&aacute;n en proceso de conexi&oacute;n, se mostrar&aacute; [Conectando].</p>
		</div>						        
    </div>
</div>

<hr class="wn5-setup-hr">