<h1 class="wn5-setup-main-title">Indicador LED</h1>
<div class="wn5-setup-section">
    <p>Establece la acci&oacute;n del indicador LED en la c&aacute;mara.</p>
    <p>La funci&oacute;n de detecci&oacute;n de aparcamiento de la c&aacute;mara de gu&iacute;a de estacionamiento y la funci&oacute;n de indicador LED pueden funcionar simult&aacute;neamente. La funci&oacute;n de detecci&oacute;n de aparcamiento se puede configurar en el men&uacute; <strong class="UI">[Anal&iacute;tica]</strong>&gt; <strong class="UI">[Detecci&oacute;n de aparcamiento]</strong>.</p>
    <p>Una vez completada la configuraci&oacute;n, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina.</p>
</div>
<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Control LED</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
        <p>Seleccione un tipo de LED para establecer el movimiento para cada tipo de LED.</p>
        </div>

        <div class="wn5-setup-section-article-content">
		    <h3>Tipo de LED</h3>
            <p>Seleccione <strong class="UI">[Separado]</strong> cuando el indicador LED en la detecci&oacute;n de aparcamiento de la c&aacute;mara est&eacute; dividido a izquierda/derecha y muestre el estado completo y el estado vac&iacute;o simult&aacute;neamente. Seleccione <strong class="UI">[Integrado]</strong> cuando muestre el estado completo o el estado vac&iacute;o.</p>
        </div>
        <div class="wn5-setup-section-article-content">
		    <h3>LED 1/LED 2</h3>
            <p>Cuando se selecciona <strong class="UI">[Separado]</strong> en <strong class="UI">[Tipo de LED]</strong>, se pueden configurar <strong class="UI">[LED 1]</strong> y <strong class="UI">[LED 2]</strong>.</p>
            <p>Los campos superiores de [LED 1] y [LED 2] se usan para determinar el color del texto que se muestra cuando ocurre el evento. Establece el color del texto que se mostrar&aacute; en el campo inferior cuando no se produzcan eventos. Por ejemplo, si se ingresa &quot;ocupada&quot; en el campo superior del [LED 1] y se establece su color como rojo y se ingresa &quot; completo&quot; en el campo superior del [LED 2] y se establece su color como naranja, entonces ambos LED muestran el mismo estado &quot;ocupada&quot; &ndash;uno en rojo y otro en naranja&ndash; cuando se produce un evento de detecci&oacute;n de aparcamiento.</p>
        </div>
		
		        <div class="wn5-setup-section-article-content">
		    <h3>En evento/No en evento</h3>
            <p>Si se selecciona <strong class="UI">[Integrado]</strong> en <strong class="UI">[Tipo de LED]</strong>, se mostrar&aacute;n las opciones <strong class="UI">[En evento</strong>] y <strong class="UI">[No en evento</strong>].</p>
            <p>Configure los textos y los colores del LED para que se muestren cuando ocurra un evento y cuando no ocurra ning&uacute;n evento utilizando las opciones [En evento] y [No en evento], respectivamente. Por ejemplo, si ha introducido &quot;ocupada&quot; en la opci&oacute;n [En evento] y ha seleccionado rojo, cuando ocurra un evento de detecci&oacute;n de aparcamiento, se mostrar&aacute; el texto &quot;completo&quot; y el indicador LED se iluminar&aacute; en rojo.</p>
        </div>		
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Envío de datos del indicador</h2>
	</div>
	    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Cuando se selecciona <strong class="UI">[Integrado]</strong> en <strong class="UI">[Tipo de LED</strong>], se mostrar&aacute; la opci&oacute;n <strong class="UI">[Envío de datos del indicador]</strong>.</p>
            <p>Configure las dos c&aacute;maras con indicadores LED para enviar/recibir datos entre s&iacute;. En otras palabras, los datos analizados por la c&aacute;mara 1 se pueden usar para controlar el indicador LED de la c&aacute;mara 2.</p>
        </div>
		
        <div class="wn5-online-help-action">
            <h4>Uso de la c&aacute;mara receptora</h4>
            <ol>
                <li>Haga clic en <strong class="UI">[Activar]</strong> en la <strong class="UI">[C&aacute;mara receptora]</strong>.</li>
                <li>Introduzca el Informaci&oacute;n para la c&aacute;mara receptora.</li>
                <ul>
                    <li><strong class="UI">Tipo IP</strong>: Seleccione el tipo de direcci&oacute;n IP entre IPv4 e IPv6.</li>
                    <li><strong class="UI">HTTP/HTTPS</strong>: Seleccione el modo de comunicaci&oacute;n entre HTTP y HTTPS.</li>
                    <li><strong class="UI">Direcci&oacute;n IP</strong>: Introduzca la direcci&oacute;n IP de la c&aacute;mara receptora.</li>
                    <li><strong class="UI">Puerto</strong>: Introduzca el puerto para la c&aacute;mara receptora.</li>
                    <li><strong class="UI">ID</strong>: Introduzca el ID de acceso para acceder a la c&aacute;mara receptora.</li>
                    <li><strong class="UI">Contrase&ntilde;a</strong>: Introduzca la contrase&ntilde;a para acceder a la c&aacute;mara receptora.</li>
                </ul>
                <li>Haga clic en <strong class="UI">[Aplicar]</strong>.</li>
            </ol>
        </div>

    </div>
</div>




<hr class="wn5-setup-hr">