<h1 class="wn5-setup-main-title">アラーム出力</h1>
<div class="wn5-setup-section">
    <p>ユーザーがアラームを出力したり、イベントが発生してアラームに出力される時、アラームをどう制御するかを設定します。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。アラーム出力イベントに対する設定は、<strong class="UI">[イベント]</strong>&gt;<a class="wn5-online-help-link" href="eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[イベント設定]</strong></a>ページの<strong class="UI">[アラーム出力]</strong>に同じく適用されます。</p>
    <!-- <p>アラーム出力タイプの設定変更時、Monitoringページのアラーム出力ボタンとイベント設定のアラーム出力のタイプが変更されます。</p> -->
</div>
<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>アラーム出力No.</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>アラーム出力No.を選択してアラーム出力に対する詳細設定を変更することができます。</p>
            <p>カメラごとに対応するアラーム出力数が異なります。カメラが対応するアラーム出力数だけアラーム出力No.が表示されます。</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>アラーム出力</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">

            <h3>タイプ</h3>
            <p>アラーム出力タイプを選択します。</p>
            <ul>
                <li ng-if="AlarmOutputNormalOpen"><strong class="UI">ノーマルオープン</strong>：アラーム出力センサーが基本的に開いた状態で、閉じられた状態になるとアラームを出力します。</li>
                <li ng-if="AlarmOutputNormalClose"><strong class="UI">ノーマルクローズ</strong>：アラーム出力センサーが基本的に閉じられた状態で、開いた状態になるとアラームを出力します。</li>
            </ul>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>モード</h3>
            <p>アラームを出力する時、制御タイプを設定します。</p>
            <ul>
                <li><strong class="UI">パルス</strong>：<strong class="UI">[継続時間]</strong>で設定した時間の間、アラームが出力され自動にアラームがオフになります。</li>
                <li><strong class="UI">有効/無効</strong>：ライブ画面でアラーム出力ボタンを押すと、アラームが出力され再度押すとアラームがオフになります。</li>
            </ul>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>継続時間</h3>
            <p><strong class="UI">[モード]</strong>で<strong class="UI">[パルス]</strong>を選択した時、アラーム出力時間を設定します。</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">