<h1 class="wn5-setup-main-title">入・出力ボックス</h1>
<div class="wn5-setup-section">
	<p>外部入・出力デバイスをカメラに接続して使用することができます。</p>
	<p>[入・出力ボックス]ページではカメラに接続する入・出力ボックスの情報を入力することができます。入・出力ボックスとカメラの接続状況を確認することができます。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>入・出力ボックス</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>カメラに接続する外部入・出力ボックスのIPタイプ、プロトコル、IPアドレス、ポート番号などを設定することができます。</p>
			<p>外部入・出力ボックスをカメラに接続して使用するには、<strong class="UI">[入・出力ボックスを有効にする]</strong>を選択します。</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>IPタイプ</h3>
			<p>IPv4とIPv6の中で入・出力ボックスとカメラが通信する時に使用するIPアドレスタイプを設定します。</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>HTTP/HTTPS</h3>
			<p>HTTPとHTTPSの中で入・出力ボックスとカメラが通信する時に使用する通信タイプを選択します。</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>IPアドレス</h3>
			<p>入・出力ボックスのIPアドレスを入力します。</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>HTTPポート/HTTPSポート</h3>
			<p>入・出力ボックスのポート番号を入力します。</p>
			<p><strong class="UI">[HTTP/HTTPS]</strong>で選択した値に応じてオプション名[HTTPポート]や[HTTPSポート]のいずれかを表示します。</p>
		</div>
		<!-- <div class="wn5-setup-section-article-content">
			<h3>RTSPポート</h3>
            <p>入・出力ボックスのRTSPポート番号を入力します。</p>
		</div>	 -->
		<div class="wn5-setup-section-article-content">
			<h3>ID</h3>
			<p>入・出力デバイスに接続するためのIDを入力します。</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Password</h3>
			<p>入・出力デバイスに接続するためのPasswordを入力します。</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>状況</h3>
			<p>入・出力デバイスとカメラの接続状況を表示します。カメラと入・出力デバイスが正常に接続されている場合には[接続済み]が表示され、接続中の状況には[接続中]が表示されます。</p>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">