<h1 class="wn5-setup-main-title">時間スケジュール</h1>

<div class="wn5-setup-section">
    <p>時間スケジュールイベントは、伝送間隔に設定したイベント動作時間に合わせて画像ファイルを伝送することができます。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。時間スケジュールイベントに対する設定は、<strong class="UI">[イベント]</strong>&gt;<a class="wn5-online-help-link" href="eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[イベント設定]</strong></a>ページの<strong class="UI">[時間スケジュール]</strong>に同じく適用されます。</p>
</div>
<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>タイマーイベント設定</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>タイマーイベント設定を有効にするためには、<strong class="UI">[有効]</strong>を選択します。</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>伝送間隔</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>画像の伝送間隔を設定します。何秒または何分当たりに画像一枚ずつイベントで発生させるか設定します。ドロップダウンメニューをクリックして数字と単位を選択します。</p>
        </div>

        <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
                <ul>
                   
                    <li>設定した動作時間の間隔より伝送間隔を小さく設定しなければ画像は伝送されません。</li>
                </ul>
            </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="action"></a>イベントアクションの設定</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>FTP</h3>
            <p>時間スケジュールイベントが発生した時、映像の画像をFTPサーバーに保存するには<strong class="UI">[有効]</strong>を選択します。FTPに対する詳細設定は、<strong class="UI">[イベント]</strong>&gt;<a class="wn5-online-help-link" href="ftpemail.html#ftp" ng-href="#/help/event_ftpemail?#ftp"><strong class="UI">[FTP/Eメール]</strong></a>で行うことができます。</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>イベント動作時間</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>時間スケジュールイベントが発生した時、<strong class="UI">[イベントアクションの設定]</strong>で設定したイベントアクションが常時動作するように設定したり、スケジュール動作するように設定します。</p>
        </div>

        <div class="wn5-setup-section-article-content">

            <h3>常時動作</h3>
            <p>時間スケジュールイベントが発生した時、設定したイベントアクションを常に実行します。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>スケジュール動作</h3>
            <p>決まった曜日の決まった時間のみ、周期的に設定された動作を実行します。<strong class="UI">[スケジュール動作]</strong>を選択して表示されるタイムテーブルには、現在のカメラ時間を基準とした日曜日から土曜日までの日付が表示されます。タイムテーブルでマウスをクリックしたりドラッグしてイベントアクション時間を設定することができます。設定されたイベント動作時間は、該当曜日と時間に繰り返して実行されます。</p>
			<p><strong class="UI">[1分]</strong>、<strong class="UI">[30分]</strong>、<strong class="UI">[1時]</strong>ボタンをクリックして、タイムビュー単位を変更することができます。<strong class="UI">[初期化]</strong>ボタンをクリックすると、設定されたイベント動作時間がすべて削除されます。カメラ時間を確認するか変更するためには、<strong class="UI">[Basic]</strong>&gt;<strong class="UI">[日付＆時間]</strong>を参照してください。</p>
        </div>

    </div>
</div>

<hr class="wn5-setup-hr">