<h1 class="wn5-setup-main-title">Configuration IP automatique</h1>
<div class="wn5-setup-section">
	<p>Vous pouvez d&eacute;finir l&apos;IP de la cam&eacute;ra automatiquement. Vous pouvez attribuer une adresse IP pouvant &ecirc;tre connect&eacute;e &agrave; une cam&eacute;ra suppl&eacute;mentaire sur le m&ecirc;me r&eacute;seau local ou d&eacute;finir l&apos;adresse IP de la cam&eacute;ra afin de chercher une cam&eacute;ra connect&eacute;e au r&eacute;seau sur Windows ou Mac&nbsp;OS. Lorsque vous avez termin&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Lien vers l&apos;adresse locale en IPv4</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
    	   <p>Vous pouvez attribuer une adresse IP suppl&eacute;mentaire pouvant &ecirc;tre connect&eacute;e &agrave; une cam&eacute;ra du m&ecirc;me r&eacute;seau local.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Configuration automatique</h3>
            <p>Pour utiliser la configuration automatique d&apos;un lien vers l&apos;adresse locale en IPv4, s&eacute;lectionnez <strong class="UI">[Activer]</strong>.</p>
            <ul>
                <li><strong class="UI">Adresse IP</strong>&nbsp;: L&apos;adresse IP attribu&eacute;e est affich&eacute;e.</li>
                <li><strong class="UI">Masque de sous-r&eacute;seau</strong>&nbsp;: Le masque de sous-r&eacute;seau de l&apos;adresse IP attribu&eacute;e est affich&eacute;.</li>
            </ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>D&eacute;couverte UPnP</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
    	   <p>Vous pouvez chercher automatiquement une cam&eacute;ra &agrave; partir des clients et du syst&egrave;me d&apos;exploitation prenant en charge le protocole UPnP (Universal Plug and Play).</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>UPnP decouverte</h3>
            <p>Pour utiliser la d&eacute;couverte UPnP, s&eacute;lectionnez <strong class="UI">[Activer]</strong>.</p>
            <ul>
                <li>
                    <p><strong class="UI">Nom convivial</strong>&nbsp;: Le nom de la cam&eacute;ra est affich&eacute;. Le nom convivial est affich&eacute; dans l&apos;ordre suivant&nbsp;: WISENET - nom du mod&egrave;le - adresse MAC.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Bonjour</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
        	<p>Vous pouvez chercher automatiquement une cam&eacute;ra &agrave; partir des clients et du syst&egrave;me d&apos;exploitation prenant en charge le protocole Bonjour. Les cam&eacute;ras connect&eacute;es sont affich&eacute;es dans le signet Bonjour du navigateur Web Safari sous Mac&nbsp;OS, qui prend en charge Bonjour par d&eacute;faut.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Bonjour</h3>
            <p>Pour utiliser Bonjour, s&eacute;lectionnez <strong class="UI">[Activer]</strong>.</p>
			<ul>
                <li>
                    <p><strong class="UI">Nom convivial</strong>&nbsp;: Le nom de la cam&eacute;ra est affich&eacute;. Le nom convivial est affich&eacute; dans l&apos;ordre suivant&nbsp;: WISENET - nom du mod&egrave;le - adresse MAC.</p>
                </li>
            </ul>
        </div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
        	<ul>
        		<li>Si le signet ne s&apos;affiche pas, cochez la case Favoris dans le menu «&nbsp;Pr&eacute;f&eacute;rences&nbsp;».</li>
        	</ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">