<h1 class="wn5-setup-main-title">Filtre IP</h1>
<div class="wn5-setup-section">
	<p>Vous pouvez pr&eacute;parer une liste d&apos;adresses IP pour autoriser ou rejeter la connexion d&rsquo;une adresse IP sp&eacute;cifique. Les adresses IP sont g&eacute;r&eacute;es s&eacute;par&eacute;ment entre IPv4 et IPv6. Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>Type de filtrage</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
	    	<p>Les conditions de filtrage <strong class="UI">[Interdire]</strong> et <strong class="UI">[Autoriser]</strong> s&apos;appliquent &agrave; toutes les adresses IP enregistr&eacute;es.</p>
		    <ul>
		        <li><strong class="UI">Interdire</strong>&nbsp;: Interdit l&apos;acc&egrave;s &agrave; une adresse IP enregistr&eacute;e.</li>
		        <li><strong class="UI">Autoriser</strong>&nbsp;: Autorise l&apos;acc&egrave;s &agrave; une adresse IP enregistr&eacute;e</li>
		    </ul>
		</div>

		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
			<ul>
				<li>Lorsqu&apos;une adresse IP autoris&eacute;e est enregistr&eacute;e, l&apos;adresse IP actuellement connect&eacute;e &agrave; la cam&eacute;ra doit &eacute;galement &ecirc;tre enregistr&eacute;e. En particulier, lorsque <strong class="UI">[Activer]</strong> est s&eacute;lectionn&eacute; pour <strong class="UI">[G&eacute;n&eacute;ral]</strong>&gt;<strong class="UI">[IP &amp; Port]</strong>&gt;<a class="wn5-online-help-link" href="../basic/ipPort.html#IPv6" ng-href="#/help/basic_ipPort?#IPv6"><strong class="UI">[Configuration IPv6]</strong></a>, toutes les adresses IPv4 et IPv6 des adresses IP actuellement connect&eacute;es doivent &ecirc;tre ajout&eacute;es.</li>
		        <li>Une adresse IP actuellement connect&eacute;e ne peut pas &ecirc;tre enregistr&eacute;e sous <strong class="UI">[Interdire]</strong>.</li>
			</ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>IPv4</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>Il s&rsquo;agit de la liste d&apos;adresses pour les types IPv4&nbsp;; une adresse IP peut &ecirc;tre ajout&eacute;e ou supprim&eacute;e. Jusqu&apos;&agrave; 10&nbsp;adresses IP peuvent &ecirc;tre entr&eacute;es.</p>
		</div>
		<div class="wn5-online-help-action">
			<h4>Ajouter une adresse&nbsp;IPv4</h4>
			<ol>
				<li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong>. Un champ o&ugrave; une adresse IPv4 peut &ecirc;tre entr&eacute;e sera cr&eacute;&eacute;.</li>
				<li>Entrez l&rsquo;IP et le pr&eacute;fixe. La plage de filtrage pour les informations saisies va appara&icirc;tre.</li>
				<li>Le filtrage pour la plage concern&eacute;e n&apos;est possible qu&apos;apr&egrave;s avoir coch&eacute; la case <strong class="UI">[Utillsation]</strong>.</li>
				<li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page pour sauvegarder toutes les informations ajout&eacute;es &agrave; la liste.</li>
			</ol>
		</div>
		<div class="wn5-online-help-action">
			<h4>Supprimer une adresse IPv4</h4>
			<ol>
				<li>S&eacute;lectionnez une adresse IPv4 que vous souhaitez supprimer.</li>
				<li>Cliquez sur le bouton <strong class="UI">[Effacer]</strong>.</li>
				<li>Cliquez sur le bouton <strong class="UI">[OK]</strong> dans la fen&ecirc;tre confirmer la suppression. L&apos;adresse IPv4 sera supprim&eacute;e.</li>
			</ol>
		</div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
			<ul>
				<li>Les adresses de 224.0.0.0 &agrave; 239.255.255.254, qui sont utilis&eacute;es pour la multidiffusion, ne sont pas disponibles.</li>
			</ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>IPv6</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>Il s&rsquo;agit de la liste d&apos;adresses pour les types IPv6&nbsp;; une adresse IP peut &ecirc;tre ajout&eacute;e ou supprim&eacute;e. Jusqu&apos;&agrave; 10&nbsp;adresses IP peuvent &ecirc;tre entr&eacute;es.</p>
		</div>

		<div class="wn5-online-help-action">
			<h4>Ajouter une adresse&nbsp;IPv6</h4>
			<ol>
			<li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong>. Un champ o&ugrave; une adresse IPv6 peut &ecirc;tre entr&eacute;e sera cr&eacute;&eacute;.</li>
			<li>Entrez l&rsquo;IP et le pr&eacute;fixe. La plage de filtrage pour les informations saisies va appara&icirc;tre.</li>
			<li>Le filtrage pour la plage concern&eacute;e n&apos;est possible qu&apos;apr&egrave;s avoir coch&eacute; la case <strong class="UI">[Utillsation]</strong>.</li>
			<li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page pour sauvegarder toutes les informations ajout&eacute;es &agrave; la liste.</li>
			</ol>
		</div>

		<div class="wn5-online-help-action">
			<h4>Supprimer une adresse IPv6</h4>
			<ol>
			<li>S&eacute;lectionnez une adresse IPv6 que vous souhaitez supprimer.</li>
			<li>Cliquez sur le bouton <strong class="UI">[Effacer]</strong>.</li>
			<li>Cliquez sur le bouton <strong class="UI">[OK]</strong> dans la fen&ecirc;tre confirmer la suppression. L&apos;adresse IPv6 sera supprim&eacute;e.</li>
			</ol>
		</div>
	</div>
</div>



<hr class="wn5-setup-hr">