<h1 class="wn5-setup-main-title">QoS</h1>
<div class="wn5-setup-section">
	<p>QoS (qualit&eacute; de service) est la fonction qui d&eacute;finit la priorit&eacute; de la transmission de donn&eacute;es et s&eacute;curise la qualit&eacute; de la transmission de donn&eacute;es selon les priorit&eacute;s d&eacute;finies en cas de surcharge (augmentation simultan&eacute;e du trafic, panne r&eacute;seau, etc.) sur le r&eacute;seau. Une adresse IP QoS peut &ecirc;tre saisie en IPv4 ou IPv6. Lorsque vous avez termin&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>IPv4</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>Une adresse IP QoS peut &ecirc;tre ajout&eacute;e ou supprim&eacute;e dans IPv4. Les valeurs par d&eacute;faut sont 32 pour Pr&eacute;fix et 63 pour DSCP.</p>
			<ul>
				<li><strong class="UI">Pr&eacute;fix</strong>&nbsp;: Cette valeur peut d&eacute;finir la plage IP et une valeur comprise entre 1 et 32 ​​peut &ecirc;tre d&eacute;finie dans IPv4.</li>
				<li><strong class="UI">DSCP</strong>: La priorit&eacute; QoS est DSCP (service diff&eacute;renci&eacute; &agrave; point de code). Une valeur de 0 &agrave; 63 peut &ecirc;tre d&eacute;finie pour la valeur DSCP. Lorsque la valeur se rapproche de 0, la priorit&eacute; diminue.</li>
			</ul>
		</div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
			<ul>
				<li>Les adresses de 224.0.0.0 &agrave; 239.255.255.254, qui sont utilis&eacute;es pour la multidiffusion, ne sont pas disponibles.</li>
			</ul>
		</div>

		<div class="wn5-online-help-action">
			<h4>Ajouter une adresse&nbsp;IPv4</h4>
			<ol>
			<li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong>. Un champ o&ugrave; une adresse IPv4 peut &ecirc;tre entr&eacute;e sera cr&eacute;&eacute;.</li>
			<li>Entrez les informations IP, le Pr&eacute;fix et le DSCP.</li>
			<li>La qualit&eacute; de service peut &ecirc;tre appliqu&eacute;e &agrave; l&apos;adresse IPv4 pertinente uniquement apr&egrave;s avoir s&eacute;lectionn&eacute; la case <strong class="UI">[Utilisation]</strong>.</li>
			<li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page pour sauvegarder toutes les informations ajout&eacute;es &agrave; la liste.</li>
			</ol>
		</div>

		<div class="wn5-online-help-action">
			<h4>Supprimer une adresse IPv4</h4>
			<ol>
			<li>S&eacute;lectionnez une adresse IPv4 que vous souhaitez supprimer.</li>
			<li>Cliquez sur le bouton <strong class="UI">[Effacer]</strong>.</li>
			<li>Cliquez sur le bouton <strong class="UI">[OK]</strong> dans la fen&ecirc;tre confirmer la suppression. L&apos;adresse IPv4 sera supprim&eacute;e.</li>
			</ol>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>IPv6</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>Une adresse IP QoS peut &ecirc;tre ajout&eacute;e ou supprim&eacute;e dans IPv6. Les valeurs par d&eacute;faut sont 128 pour Pr&eacute;fix et 63 pour DSCP.</p>
			<ul>
				<li><strong class="UI">Pr&eacute;fix</strong>&nbsp;: Cette valeur peut d&eacute;finir la plage IP. Une valeur comprise entre 1 et 128 peut &ecirc;tre d&eacute;finie dans IPv6.</li>
				<li><strong class="UI">DSCP</strong>: La priorit&eacute; pour QoS est DSCP (service diff&eacute;renci&eacute; &agrave; point de code). Une valeur de 0 &agrave; 63 peut &ecirc;tre d&eacute;finie pour la valeur DSCP. Lorsque la valeur se rapproche de 0, la priorit&eacute; diminue.</li>
			</ul>
		</div>

		<div class="wn5-online-help-action">
			<h4>Ajouter une adresse&nbsp;IPv6</h4>
			<ol>
				<li>Cliquez sur le bouton <strong class="UI">[Ajouter]</strong>. Un champ o&ugrave; une adresse IPv6 peut &ecirc;tre entr&eacute;e sera cr&eacute;&eacute;.</li>
				<li>Entrez les informations IP, le Pr&eacute;fix et le DSCP.</li>
				<li>La qualit&eacute; de service peut &ecirc;tre appliqu&eacute;e &agrave; l&apos;adresse IPv6 pertinente uniquement apr&egrave;s avoir s&eacute;lectionn&eacute; la case <strong class="UI">[Utilisation]</strong>.</li>
				<li>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page pour sauvegarder toutes les informations ajout&eacute;es &agrave; la liste.</li>
			</ol>
		</div>

		<div class="wn5-online-help-action">
			<h4>Supprimer une adresse IPv6</h4>
			<ol>
				<li>S&eacute;lectionnez une adresse IPv6 que vous souhaitez supprimer.</li>
				<li>Cliquez sur le bouton <strong class="UI">[Effacer]</strong>.</li>
				<li>Cliquez sur le bouton <strong class="UI">[OK]</strong> dans la fen&ecirc;tre confirmer la suppression. L&apos;adresse IPv6 sera supprim&eacute;e.</li>
			</ol>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">