
<h1 class="wn5-setup-main-title">Detecci&oacute;n de temperatura corporal estimada</h1>
<div class="wn5-setup-section">
    <p>La temperatura corporal puede ser detectada en base a la temperatura del rostro. Se pueden definir criterios u opciones avanzadas para aplicar cuando se detecte la temperatura corporal.</p>
    <p>Una vez completada la configuraci&oacute;n, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina. La configuraci&oacute;n del evento de detecci&oacute;n de temperatura corporal estimada se aplica igualmente a <strong class="UI">[Detecci&oacute;n de temperatura corporal estimada]</strong> en las p&aacute;ginas <strong class="UI">[Evento]</strong>&nbsp;&gt;&nbsp;<a class="wn5-online-help-link" href="../event/eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[Configuraci&oacute;n de eventos]</strong></a>.</p>
</div><!-- XNF-9010에서 hide돼야 하므로 !SupportChannelExpansionFeature 추가. XNF-9010. TW자체. 2020-08-12.  --><hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Detecci&oacute;n de temperatura corporal estimada</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">

            <h3>Activar la detecci&oacute;n de temperatura corporal estimada</h3>
            <p>Para activar el evento de detecci&oacute;n de temperatura corporal estimada, seleccione <strong class="UI">[Activar la detecci&oacute;n de temperatura corporal estimada]</strong>.</p>
        </div>		        
    </div>
</div>
<div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
            <h2>Detecci&oacute;n de temperatura</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Se pueden definir ajustes avanzados para que la c&aacute;mara extraiga el valor m&aacute;s alto de la de temperatura, bas&aacute;ndose en el &aacute;rea del rostro detectado y accione el evento de detecci&oacute;n de temperatura corporal estimada.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Superposici&oacute;n del &aacute;rea detectada</h3>
            <p><strong class="UI">Al seleccionar [Activar]</strong> se mostrar&aacute; el &aacute;rea de detecci&oacute;n. Muestra el &aacute;rea para el funcionamiento de la detecci&oacute;n facial y los rostros fuera del &aacute;rea no son detectados.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Temperatura de detecci&oacute;n</h3>
            <p>Introduzca la temperatura que accionar&aacute; un evento de detecci&oacute;n de temperatura corporal estimada.</p>
        </div>
        
       
        <div class="wn5-setup-section-article-content">
            <h3>Duraci&oacute;n m&iacute;nima (s)</h3>
            <p>Establece la duraci&oacute;n m&iacute;nima de la condici&oacute;n de accionamiento para provocar un evento de detecci&oacute;n de temperatura corporal estimada. Cuando la temperatura m&aacute;s alta del &aacute;rea del rostro, definida en [&Aacute;rea de detecci&oacute;n de referencia], excede la temperatura definida en [Temperatura de detecci&oacute;n] durante m&aacute;s tiempo que la duraci&oacute;n definida en [Duraci&oacute;n m&iacute;nima], se produce un evento de detecci&oacute;n de temperatura corporal estimada.</p>

        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Pitido de detecci&oacute;n de temperatura</h3>
            <p>Para emitir un pitido al detectarse la temperatura corporal, seleccione <strong class="UI">[Activar]</strong>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>&Aacute;rea de detecci&oacute;n de referencia</h3>
            <p>Detecta la temperatura corporal bas&aacute;ndose en la temperatura m&aacute;s alta del rostro. En [&Aacute;rea de detecci&oacute;n de referencia], podr&aacute; definir el &aacute;rea del rostro para extraer el valor de la temperatura m&aacute;s alta.</p>
            <p>Si hace clic en <strong class="UI">[Reinicializar]</strong>, los ajustes se descartar&aacute;n y el &aacute;rea del rostro volver&aacute; al tama&ntilde;o y la ubicaci&oacute;n del &aacute;rea de detecci&oacute;n inicial.</p>
            <ul>
                <li><strong class="UI">Relaci&oacute;n horizontal</strong>: el tama&ntilde;o del &aacute;rea del rostro puede regularse ajustando la relaci&oacute;n de reducci&oacute;n horizontal del &aacute;rea del rostro.</li>
                <li><strong class="UI">Relaci&oacute;n vertical</strong>: el tama&ntilde;o del &aacute;rea del rostro puede regularse ajustando la relaci&oacute;n de reducci&oacute;n vertical del &aacute;rea del rostro.</li>
                <li><strong class="UI">Ubicaci&oacute;n</strong>: la ubicaci&oacute;n del &aacute;rea del rostro se puede ajustar con ayuda de los botones arriba/abajo/izquierda/derecha.</li>
            </ul>
        </div>
        
		       
        
    </div>
</div>
<div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
            <h2>Compensaci&oacute;n</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Se pueden definir ajustes avanzados para la compensaci&oacute;n de temperatura que se aplicar&aacute; cuando la c&aacute;mara detecte la temperatura del rostro.</p>
        </div>
       
        <div class="wn5-setup-section-article-content">
            <h3>Activar la compensaci&oacute;n personalizada</h3>
            <p>Usted puede definir el valor de temperatura que compensar&aacute; un error entre la temperatura real del objeto medido y la temperatura detectada por la c&aacute;mara. Una vez definido el valor de la temperatura, se mostrar&aacute; el valor de la temperatura de detecci&oacute;n de la c&aacute;mara, que se sumar&aacute; al valor de la temperatura definida. Para utilizar la compensaci&oacute;n personalizada, marque la casilla [Activar compensaci&oacute;n personalizada].</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Activar la temperatura del ambiente</h3>
            <p>Usted podr&aacute; definir la temperatura vigente para el ambiente donde la c&aacute;mara se encuentra instalada. Para activar la temperatura ambiente con el fin de compensar la temperatura de detecci&oacute;n de la c&aacute;mara, marque la casilla [Activar la temperatura del ambiente].</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Activar la humedad del ambiente</h3>
            <p>Usted podr&aacute; definir la humedad vigente para el ambiente donde la c&aacute;mara se encuentra instalada. Para activar la humedad ambiente con el objeto de compensar la temperatura de detecci&oacute;n de la c&aacute;mara, marque la casilla [Activar la humedad del ambiente].</p>
        </div>
		        
        <div class="wn5-setup-section-article-content">
            <h3>Distancia de detecci&oacute;n</h3>
            <p>Define la distancia entre el sujeto y la c&aacute;mara para aplicar a la compensaci&oacute;n de la temperatura de detecci&oacute;n de la c&aacute;mara utilizando la distancia de detecci&oacute;n.</p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>Activar la compensaci&oacute;n de cuerpo negro</h3>
            <p>Seleccione [Activar la compensaci&oacute;n de cuerpo negro] para compensar la temperatura usando un cuerpo negro. Cuando se activa la compensaci&oacute;n de cuerpo negro, la temperatura puede ser compensada ajustando las siguientes opciones:</p>
            <ul>
                <li><strong class="UI">Temperatura de cuerpo negro</strong>: define el valor de la temperatura de funcionamiento del cuerpo negro.</li>
                <li><strong class="UI">Modificaci&oacute;n de la temperatura de cuerpo negro</strong>: define el error entre el valor de la temperatura introducida de funcionamiento del cuerpo negro y el valor real.</li>
                <li><strong class="UI">Emisividad de cuerpo negro</strong>: define el valor de emisividad operativa para el cuerpo negro.</li>
                <li><strong class="UI">Distancia del cuerpo negro</strong>: define la distancia entre el cuerpo negro y la c&aacute;mara.</li>
                <li><strong class="UI">Altura del cuerpo negro</strong>: define la altura de instalaci&oacute;n del cuerpo negro. &nbsp;Usted puede definir la altura de instalaci&oacute;n del cuerpo negro.</li>
                <li><strong class="UI">Altura de la c&aacute;mara</strong>: define la altura de instalaci&oacute;n de la c&aacute;mara.</li>
                <li><strong class="UI">&Aacute;ngulo de inclinaci&oacute;n de la c&aacute;mara</strong>: define la diferencia angular de instalaci&oacute;n entre la c&aacute;mara y el cuerpo negro.</li>
            </ul>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Pitido de error del cuerpo negro</h3>
            <p>Si selecciona <strong class="UI">[Activar]</strong>, la c&aacute;mara emitir&aacute; un pitido cuando se diferencien los valores de la temperatura del cuerpo negro detectado por la c&aacute;mara y la temperatura del cuerpo negro que usted ha definido.</p>
        </div>
    </div>
</div>
<div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
        <h2>Calibraci&oacute;n</h2>
    </div>
        <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Sincroniza las coordenadas de v&iacute;deo para compartir la ubicaci&oacute;n del &aacute;rea del rostro como coordenadas de v&iacute;deos t&eacute;rmicos y visibles.</p>
            <p>Arrastrando el rat&oacute;n en la pantalla de v&iacute;deo de la c&aacute;mara a una ubicaci&oacute;n deseada o utilizando el bot&oacute;n <strong class="UI">[Ubicaci&oacute;n]</strong> podr&aacute; definir su ubicaci&oacute;n arriba/abajo/izquierda/derecha.</p>
        </div>
			
        <div class="wn5-setup-section-article-content">

            <h3>Ubicaci&oacute;n</h3>
            <p>Haga clic en este bot&oacute;n para definir la ubicaci&oacute;n arriba/abajo/izquierda/derecha.</p>
        </div>
       
    </div>
</div>
<div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
            <h2>Com&uacute;n</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Puede definir configuraciones comunes a aplicar para que la c&aacute;mara detecte el &aacute;rea del rostro.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Sensibilidad</h3>
            <p>Permite ajustar la sensibilidad de la detección de rostros. Disminuya la sensibilidad en entornos donde los objetos sean fácilmente distinguibles del fondo y auméntela en entornos oscuros donde estos sean difíciles de distinguir.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Tama&ntilde;o</h3>
            <p>Define el tama&ntilde;o m&iacute;nimo y m&aacute;ximo de los objetos que se someter&aacute;n a la detecci&oacute;n de la temperatura corporal. Si hace clic en <strong class="UI">[Reinicializar]</strong>, los ajustes se descartar&aacute;n y el tama&ntilde;o m&iacute;nimo y m&aacute;ximo se restablecer&aacute;n a los valores predeterminados de f&aacute;brica.</p>
        </div>
     
        <div class="wn5-setup-section-article-content">
            <h3>Temperatura</h3>
            <ul>
                <li><strong class="UI">[L&iacute;mite de temperatura m&aacute;xima]</strong>: no detecta ninguna temperatura por encima de la definida. Por ejemplo, si se introduce [40], no se detectar&aacute;n temperaturas superiores a 40 grados.</li>
                <li><strong class="UI">[L&iacute;mite de temperatura m&iacute;nima]</strong>: no detecta ninguna temperatura por debajo de la definida.&nbsp;Por ejemplo, si se introduce [35], no se detectar&aacute;n temperaturas inferiores a 35 grados.</li>
            </ul>
        </div>
       
    </div>
</div>


		


<hr class="wn5-setup-hr">