<h1 class="wn5-setup-main-title">Detecci&oacute;n de manipulaci&oacute;n</h1>

<div class="wn5-setup-section">
    <p>Un evento de detecci&oacute;n de manipulaci&oacute;n puede ser creado cuando la pantalla est&aacute; bloqueada o se cambia la posici&oacute;n de la c&aacute;mara. Cuando haya completado el ajuste, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina. El ajuste del evento de detecci&oacute;n de manipulaci&oacute;n se aplica a <strong class="UI">[Detecci&oacute;n de manipulaci&oacute;n]</strong> en la p&aacute;gina de <strong class="UI">[Evento]</strong>&gt;<a class="wn5-online-help-link" href="../event/eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[Configuraci&oacute;n de eventos]</strong></a> igualmente.</p>
</div>

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
    <div class="wn5-setup-section-heading">
        <h2><a name="channel"></a>Seleccionar canal</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Despu&eacute;s de seleccionar su canal de c&aacute;mara, puede establecer los detalles de Detecci&oacute;n de manipulaci&oacute;n para cada canal. </p>
            <p ng-if="HandoverCalibration && SupportAutoImageAlignment">El n&uacute;mero de canal seleccionado por &uacute;ltima vez en la p&aacute;gina en vivo o en la p&aacute;gina de reproducci&oacute;n se selecciona autom&aacute;ticamente.</p>
            <p ng-if="objectDetectionSupport">El canal 1 muestra imágenes en directo y el canal 2, vídeo PTZ digital. [Detección de manipulación] solo puede configurarse en el canal 1.</p>
            <p ng-if="HandoverCalibration">El canal de la c&aacute;mara fija se muestra como un n&uacute;mero y el canal PTZ se muestra como “PTZ”.</p>
            <p ng-if="SupportAutoImageAlignment">Canal2 a Canal5 son videos de c&aacute;maras que han sido instaladas individualmente. Canal1 es una vista panor&aacute;mica en varias pantallas de c&aacute;mara de Canal2 a Canal5 ordenadas en una fila. Canal6 y Canal7 son v&iacute;deos de v&iacute;deo Canal1 con PTZ digital aplicado.</p>
            <p ng-if="SupportAutoImageAlignment">La “Detecci&oacute;n de manipulaci&oacute;n” solo se puede configurar en Canal1.</p>
            <p ng-if="MultiImager">El Canal 1 es un canal de transmisión en directo, mientras que los Canales 2 y 3 son canales que muestran un vídeo PTZ digital. [Detección de manipulación] solo puede configurarse en el canal 1.</p> 
            <!-- <p ng-if="SupportChannelExpansionFeature">El modo de visualizaci&oacute;n para cada canal se describe a continuaci&oacute;n. La “Detección de alteración” se puede configurar solo en el canal 1.</p>
            <ul ng-if="SupportChannelExpansionFeature">
                <li>Canal 1: Muestra la imagen de v&iacute;deo de la c&aacute;mara de ojo de pez tal como est&aacute;, sin ninguna correcci&oacute;n.</li>
                <li>Canal 2: Corrige la distorsi&oacute;n del v&iacute;deo de 360˚ y lo muestra en una vista panor&aacute;mica.</li>
                <li>Canal 3: Corrige la distorsi&oacute;n del v&iacute;deo de 360˚ y lo muestra en una vista panor&aacute;mica dividida arriba/abajo.</li>
                <li>Canal 4: Corrige la distorsi&oacute;n de 4 pantallas similares a la percepci&oacute;n visual humana y las muestra simult&aacute;neamente. Seleccione una pantalla para mover la vista hacia arriba/abajo/izquierda/derecha o acercar/alejar el zoom.</li>
                <li>Canal 5: Muestra el v&iacute;deo superior izquierdo desde la vista de cuadrante del canal 4.</li>
                <li>Canal 6: Muestra el v&iacute;deo superior derecho desde la vista de cuadrante del canal 4.</li>
                <li>Canal 7: Muestra el v&iacute;deo inferior izquierdo desde la vista de cuadrante del canal 4.</li>
                <li>Canal 8: Muestra el v&iacute;deo superior derecho desde la vista de cuadrante del canal 4.</li>
            </ul> -->

            <!-- <p>Si selecciona otro canal sin aplicar los cambios en la configuraci&oacute;n, aparecer&aacute; un mensaje de alarma.</p> -->
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Detecci&oacute;n de manipulaci&oacute;n</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            
            <h3>Activar la detección de manipulación</h3>
            <p>Para utilizar el evento de detecci&oacute;n de manipulaci&oacute;n, seleccione <strong class="UI">[Activar la detección de manipulación]</strong>. </p>
        </div>

        <div class="wn5-online-help-action" ng-if="PTZModel">
            <h4>Ajuste del PTZ</h4>
            <p ng-if="MaxChannel > 1 && HandoverCalibration">Cuando hace clic en <strong class="UI">[PTZ]</strong> en el menú <a href="#channel" ng-href="#/help/analytics_motiondetection#channel">[Seleccionar canal]</a>, se muestra el panel de desplazamiento PTZ para el ajuste de PTZ de la cámara.</p>
            <!-- <p>Puede configurar la panor&aacute;mica, la inclinaci&oacute;n, y el zoom de la c&aacute;mara.</p> -->
            <ul>
                <li>Al arrastrar el icono <span class="tui tui-wn5-ptz-handle"></span> con el mouse, la c&aacute;mara se mueve siguiendo las acciones de panor&aacute;mica e inclinaci&oacute;n.</li>
                <li>Con la barra de zoom puede ajustar el porcentaje de zoom del v&iacute;deo. Tambi&eacute;n puede hacer clic en el icono <span class="tui tui-wn5-ptz-plus"></span>para ampliar la pantalla o en el icono <span class="tui tui-wn5-ptz-minus"></span>para reducirla.</li>
                <li>Mueva el enfoque cercano haciendo clic en el icono <span class="tui tui-wn5-ptz-near"></span>  o mueva el foco lejano haciendo clic en el icono<span class="tui tui-wn5-ptz-far"></span>.</li>
                <li>Para ajustar el enfoque de la c&aacute;mara autom&aacute;ticamente para un disparo, haga clic en el icono<span class="tui tui-wn5-simple-focus"></span>.</li>
            </ul>
        </div>        

        <div class="wn5-setup-section-article-content">
            <h3>Nivel de detecci&oacute;n </h3>
            <p>Esto establece el nivel est&aacute;ndar de detecci&oacute;n de manipulaci&oacute;n. Un evento de detecci&oacute;n de manipulaci&oacute;n se crea cuando se detecta un sabotaje del nivel establecido. </p>
            <p>Adem&aacute;s, cuando se detecta un sabotaje, un gr&aacute;fico que muestra el nivel de sabotaje aparecer&aacute;, y cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n, el color del gr&aacute;fico cambiar&aacute;. </p>
        </div>

		<div class="wn5-setup-section-article-content">
            <h3>Sensibilidad</h3>
            <p>Una mayor sensibilidad da como resultado una respuesta m&aacute;s sensible del gr&aacute;fico de nivel de detecci&oacute;n.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Duraci&oacute;n m&iacute;nima (s)    </h3>
            <p>Esto establece el tiempo m&iacute;nimo para detectar un sabotaje y crear un evento. Un evento de detecci&oacute;n de manipulaci&oacute;n se crea s&oacute;lo un sabotaje persiste durante la duraci&oacute;n m&iacute;nima.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="DarknessDetection">
            <h3>Excepto im&aacute;genes oscuras  </h3>
            <p>Para excluir una disminuci&oacute;n repentina en el brillo de la pantalla, tal como una s&uacute;bita ausencia de luz desde el evento detecci&oacute;n de manipulaci&oacute;n, seleccione <strong class="UI">[Activar]</strong>. </p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="HandoverCalibration">
            <h3>Traspaso</h3>
            <p>Traspaso es una funci&oacute;n que mueve el enfoque de la c&aacute;mara PTZ hacia el &aacute;rea predefinida cuando ocurre un evento de alteraci&oacute;n en la c&aacute;mara fija.</p>
            <ul>
                <li><strong class="UI">Desactivar</strong>: Desactiva la funci&oacute;n de traspaso.</li>
                <li><strong class="UI">Nº de traspaso</strong>: Seleccione un Nº de traspaso. Los n&uacute;meros de traspaso se deben definir de antemano en el men&uacute; <strong class="UI">[Evento]</strong> &gt; <strong class="UI">[Traspaso]</strong>.&nbsp;</li>
            </ul>
        </div>


        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
            <ul>
                <li>El rendimiento de detecci&oacute;n puede reducirse en un fondo uniforme, de noche o condiciones de poca luminosidad.</li>
                <li>Si la cámara se sacude demasiado o si se produce un cambio repentino en la luz, es posible que la detección de manipulación no funcione correctamente.</li>
                <li>Puede llevar hasta 5 segundos para un evento de detecci&oacute;n de manipulaci&oacute;n para que se cree despu&eacute;s de que ocurra un sabotaje indebido.</li>
                <li>Cuando se detecta un sabotaje de la c&aacute;mara, la funci&oacute;n se reiniciar&aacute; despu&eacute;s de la estabilizaci&oacute;n durante aproximadamente 5 segundos, y no se detectar&aacute; ning&uacute;n sabotaje durante el proceso de estabilizaci&oacute;n.</li>
                <li>Cuando se est&eacute; creando repetidamente un evento incorrecto, los errores se pueden minimizar mediante la reducci&oacute;n gradual del nivel. </li>
                <li>Si configura el nivel de detección demasiado bajo, es posible activar una alarma debido a cambios bastante pequeños en la pantalla, pero también puede conducir a la falsa detección causada por objetos en movimiento o cambios en la iluminación.</li>
              </ul>
          </div>
      </div>
  </div>

  <hr class="wn5-setup-hr" ng-if="HandoverV2 || (HandoverCalibration && !SupportAutoImageAlignment)">
              <div class="wn5-setup-section" ng-if="HandoverV2 || (HandoverCalibration && !SupportAutoImageAlignment)">
                  <div class="wn5-setup-section-heading">
                      <h2>Traspaso</h2>
                  </div>
                  <div class="wn5-setup-section-article">
                      <div class="wn5-setup-section-article-content">
                          <h3>Traspaso</h3>
                          <p>Seleccione un número de cámara del receptor de traspaso. Seleccione <strong class="UI">[Des]</strong> si no desea utilizar la función de traspaso.</p>
                          <p>Traspaso es una función en que la cámara del receptor se mueve a la posición preajustada PTZ cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n. La cámara receptora de traspaso se puede configurar en el menú <strong class="UI">[Evento]</strong> &gt; <strong class="UI">[Traspaso]</strong>. </p>
        </div>				
    </div>
</div>


  <hr class="wn5-setup-hr">

  <div class="wn5-setup-section">
      <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="action"></a>Conf. de acciones de evento</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">

            <h3>FTP</h3>
            <p>Para guardar una imagen en un servidor FTP cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n, seleccione <strong class="UI">[Activar]</strong>. Se pueden hacer ajustes detallados para FTP desde <strong class="UI">[Evento]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#ftp" ng-href="#/help/event_ftpemail?#ftp"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>E-mail</h3>
            <p>Para enviar una imagen por e-mail cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n, seleccione <strong class="UI">[Activar]</strong>. Se pueden hacer ajustes detallados para e-mail desde <strong class="UI">[Evento]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#email" ng-href="#/help/event_ftpemail?#email"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="Recording">
            <h3>Grabar</h3>
            <p ng-if="NAS">Para guardar una imagen en una tarjeta SD o NAS cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n, seleccione <strong class="UI">[Activar]</strong>. Se pueden hacer ajustes detallados para almacenamiento desde <strong class="UI">[Evento]</strong>&gt;<a class="wn5-online-help-link" href="../event/storage.html" ng-href="#/help/event_storage"><strong class="UI">[Almacenamiento]</strong></a>.</p>
            <p ng-if="!NAS">Para guardar una imagen en una tarjeta SD cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n, seleccione <strong class="UI">[Activar]</strong>. Se pueden hacer ajustes detallados para almacenamiento desde <strong class="UI">[Evento]</strong>&gt;<a class="wn5-online-help-link" href="../event/storage.html" ng-href="#/help/event_storage"><strong class="UI">[Almacenamiento]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="MaxAlarmOutput>0">
            <h3>Salida de alarma</h3>
            <p>Es posible establecer el n&uacute;mero de salida de alarma para una alarma espec&iacute;fica cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n.&nbsp;Despu&eacute;s de seleccionar un n&uacute;mero de salidas de alarma, seleccione <strong class="UI">[Des]</strong> si no desea ninguna alarma, o seleccione la hora de salida si desea emitir una alarma. Se puede establecer una alarma continua hasta que sea apagada por el usuario mediante la selecci&oacute;n de <strong class="UI">[Siempre]</strong> o estableciendo la alarma en 5, 10 o 15 segundos. </p>
            <p>Dependiendo de la configuraci&oacute;n de la salida de alarma, las opciones de <strong class="UI">[Salida de alarma]</strong> pueden variar. Si no hay una salida de alarma, las opciones de <strong class="UI">[Salida de alarma]</strong> no se visualizar&aacute;n. Si hay m&aacute;s de una salida de alarma, se visualizar&aacute;n como <strong class="UI">«Salida de alarma 1»</strong>, <strong class="UI">«Salida de alarma 2»</strong>, y as&iacute; sucesivamente. Seleccione <strong class="UI">[Evento]</strong> &gt; <strong class="UI">[Alarma E/S]</strong> para ajustar la E/S de la alarma.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="(DPTZSetupPage || ExternalPTZPage) && PresetSupport && !ZoomOnlyModel && PresetAction">
            <h3>Ir a preajuste.</h3>
                <p>Puede definir la posici&oacute;n de la vista de la c&aacute;mara para que se mueva a un n&uacute;mero predefinido cuando se cree un evento de detecci&oacute;n de manipulaci&oacute;n. El valor predefinido de c&aacute;mara puede definirse en <strong class="UI">[Predefinido]</strong> de <strong class="UI">[PTZ] </strong>&gt;<a class="wn5-online-help-link" href="../ptz/dptzSetup.html" ng-href="#/help/ptzSetup_dptzSetup"><strong class="UI">[PTZ digital]</strong></a> o <strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[PTZ externa]</a></strong>.</p>

                <p ng-if="GlobalPTZMode && MaxChannel > 1">Si la opci&oacute;n <strong class="UI">[Usar PTZ externo]</strong> no est&aacute; seleccionada en <strong class="UI">[PTZ]</strong> &gt; <strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[PTZ externo]</a></strong>, no se mostrar&aacute; la opci&oacute;n [Ir a preajuste.].</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="PresetSetupPage">
            <h3>Ir a preajuste.</h3>
                <p>Puede definir la posici&oacute;n de la vista de la c&aacute;mara para que se mueva a un n&uacute;mero predefinido cuando se cree un evento de detecci&oacute;n de manipulaci&oacute;n. El valor predefinido de c&aacute;mara puede definirse en&nbsp;<strong class="UI">[Configuración de preajustes]</strong> de <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/presetZoom.html" ng-href="#/help/ptzSetup_presetZoom"><strong class="UI">[Configuración de preajustes]</strong></a>.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="PanTiltOnlyModel">
            <h3>Ir a preajuste.</h3>
                <p>Puede definir la posici&oacute;n de la vista de la c&aacute;mara para que se mueva a un n&uacute;mero predefinido cuando se cree un evento de detecci&oacute;n de manipulaci&oacute;n. El valor predefinido de c&aacute;mara puede definirse en&nbsp;<strong class="UI">[Predefinido]</strong> de <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/ptSetup.html" ng-href="#/help/ptzSetup_ptSetup"><strong class="UI">[Configuraci&oacute;n PT]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="PTZSetupPage">
            <h3>Ir a preajuste.</h3>
                <p>Puede definir la posici&oacute;n de la vista de la c&aacute;mara para que se mueva a un n&uacute;mero predefinido cuando se cree un evento de detecci&oacute;n de manipulaci&oacute;n. El valor predefinido de c&aacute;mara puede definirse en&nbsp;<strong class="UI">[Predefinido]</strong> de <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/ptzInfoSetup.html" ng-href="#/help/ptzSetup_ptzInfoSetup"><strong class="UI">[Configuraci&oacute;n PTZ]</strong></a>.</p>
                <p ng-if="MaxChannel > 1 && HandoverCalibration">[Ir a preajuste.] aparece solo cuando selecciona <strong class="UI">[PTZ]</strong> en el menú <a href="#channel" ng-href="#/help/analytics_motiondetection#channel">[Seleccionar canal]</a>. </p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="AudioClipCountRange">
            <h3>Clip de audio</h3>
            <p>Esto habilita la reproducci&oacute;n de un clip de audio espec&iacute;fico cuando ocurre un evento de detecci&oacute;n de manipulaci&oacute;n. Una vez que selecciona un archivo de la lista de clips de audio, el clip comenzar&aacute; a reproducirse cuando ocurra el evento. Para desactivar el clip de audio cuando ocurre un evento, seleccione <strong class="UI">[Apagado]</strong>. Pulsar el bot&oacute;n Reproducir (<span class="tui tui-wn5-toolbar-play"></span>) le permite reproducir y hacer vista previa del archivo de audio.</p>
            <p>Vaya a <strong class="UI">[V&iacute;deo y Audio]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="../video&audio/audio.html" ng-href="#/help/videoAudio_audioSetup">[Configuraci&oacute;n de audio]</a></strong>&gt;<strong class="UI">[Clip de audio]</strong> para registrar un clip de audio.</p>
        </div>

    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Tiempo de activaci&oacute;n de evento</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Esto establece la acci&oacute;n del evento desde <strong class="UI">[<a class="wn5-online-help-link" href="#action" ng-href="#/help/analytics_tamperDetection?#action">Conf. de acciones de evento</a>]</strong> para funcionar siempre o s&oacute;lo a una hora determinada cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n.</p>
        </div>
        <div class="wn5-setup-section-article-content">

            <h3>Siempre</h3>
            <p>Los valores de acciones evento siempre se ejecutan cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>S&oacute;lo tiempo programado</h3>
            <p>Las configuraciones de la acci&oacute;n del evento s&oacute;lo se ejecutan cuando se crea un evento de detecci&oacute;n de manipulaci&oacute;n durante el tiempo establecido. La fecha de domingo a s&aacute;bado, a partir de la hora actual de la c&aacute;mara, se muestra en la tabla de tiempos que aparece cuando <strong class="UI">[S&oacute;lo tiempo programado]</strong> se selecciona. Puede establecer el tiempo de configuraci&oacute;n de las acciones de eventos haciendo clic o arrastrando en la tabla de tiempos con el rat&oacute;n. El tiempo de activaci&oacute;n de evento configurado se ejecuta varias veces durante el d&iacute;a de la semana y la hora correspondiente.</p>
			<p>Puede cambiar la unidad de vista de tiempo haciendo clic en el bot&oacute;n de <strong class="UI">[1 min]</strong>, <strong class="UI">[30 min]</strong> o <strong class="UI">[1 h]</strong>. Al hacer clic en el bot&oacute;n <strong class="UI">[Reinicializar]</strong>, se eliminar&aacute;n todos los tiempos de activaci&oacute;n de eventos configurados. Para confirmar o cambiar la hora de la c&aacute;mara, consulte <strong class="UI">[Basic]</strong>&gt;<strong class="UI">[Fecha y hora]</strong>.</p>
    </div>
</div>
</div>
<hr class="wn5-setup-hr">
