
<h1 class="wn5-setup-main-title">음원 분류</h1>
<div class="wn5-setup-section">
    <p>카메라 영상 촬영 중에 감지되는 소리의 종류를 분류하여 음원 분류 이벤트로 발생시킬 수 있습니다. 설정을 완료하면 페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭하십시오. 음원 분류 이벤트에 대한 설정은 <strong class="UI">[이벤트]</strong>&gt;<a class="wn5-online-help-link" href="../event/eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[이벤트 설정]</strong></a> 페이지의 <strong class="UI">[음원 분류]</strong>에 동일하게 적용됩니다.</p>
</div>


<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
    <div class="wn5-setup-section" ng-if="MaxChannel > 1">
        <div class="wn5-setup-section-heading">
            <h2><a name="channel"></a>채널 선택</h2>
        </div>
        <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <p>카메라 채널을 선택한 후 채널별로 충격 감지 설정 관련 세부 항목을 설정할 수 있습니다. </p>
                <p ng-if="objectDetectionSupport">채널 1은 라이브 영상을 보여 주는 채널이며, 채널 2는 디지털 PTZ 영상을 보여 주는 채널입니다. [음원 분류]는 채널 1에서만 설정할 수 있습니다. </p>
                <p ng-if="SupportAutoImageAlignment">채널 2~5번은 장착된 개별 카메라 영상이고, 채널 1은 2~5번 채널의 카메라 영상을 하나로 연결하여 파노라마 형식으로 보여주는 영상입니다. 채널 6번과 7번은 채널 1 영상에 대해 디지털 PTZ가 적용된 영상입니다. [음원 분류]는 채널 1에서만 설정할 수 있습니다. </p>
            </div>
        </div>
    </div> 

    
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>음원 분류</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>음원 분류 사용</h3>
            <p>음원 분류 이벤트를 사용하려면 <strong class="UI">[음원 분류 사용]</strong>을 선택합니다.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>설정</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content" ng-if="!AudioInNoiseReduction">
            <h3>노이즈 감쇄  </h3>
            <p>노이즈 제거 필터를 사용하려면 <strong class="UI">[사용]</strong>을 선택합니다. 주변 환경의 잡음이 55 dB~65 dB 이상으로 심할 경우, <strong class="UI">[노이즈 감쇄]</strong>를 사용합니다. 환경에 따라 노이즈 감쇄기능을 사용함으로써 원래 음원이 감쇄되어 음원 분류 성능이 저하되거나 오동작이 발생할 수 있습니다. 조용한 환경에서 노이즈 감쇄 필터를 사용하면 음원 분류 성능이 저하될 수 있습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="AudioInNoiseReduction">
            <h3>잡음 필터 </h3>
            <p>잡음 제거 필터를 사용하려면 <strong class="UI">[사용]</strong>을 선택합니다. 주변 환경의 잡음이 55 dB~65 dB 이상으로 심할 경우, <strong class="UI">[잡음 필터]</strong>를 사용합니다. 환경에 따라 잡음 감쇄 기능을 사용함으로써 원래 음원이 감쇄되어 음원 분류 성능이 저하되거나 오동작이 발생할 수 있습니다. 조용한 환경에서 잡음 감쇄 필터를 사용하면 음원 분류 성능이 저하될 수 있습니다.</p>
        </div>

		<div class="wn5-setup-section-article-content">
            <h3>분류 레벨  </h3>
            <p>음원 분류할 오디오 에너지의 레벨을 설정합니다. 입력 오디오에 대한 에너지의 레벨값이 오른쪽에서 왼쪽으로 주기적으로 갱신되면서 영역에 그려집니다. 설정한 레벨 이상의 오디오에 대해서만 음원 분류를 적용합니다. 즉, 입력되는 오디오의 에너지가 기준선보다 높을 경우에만 음원으로 분류합니다. 기준선이 낮아지면 음원 분류 대상의 데이터가 많아지게 되며 오탐이 많아질 확률이 높아집니다. 기준선이 높아지면 음원 분류 대상의 데이터가 적어지게 되며 미탐이 많아질 확률이 높아집니다. 주변 소음 수준에 따라 적합하게 설정하십시오.</p>
        </div>
        <!--<div class="wn5-setup-section-article-content">
            <h3>민감도  </h3>
            <p>소리에 대한 민감도를 설정합니다. 민감도가 높을수록 작은 소리도 감지할 수 있습니다.</p>
        </div> -->
        <div class="wn5-setup-section-article-content">
            <h3>카테고리  </h3>
            <p>소리 종류를 감지하여 이벤트로 발생시킵니다. 감지할 소리 종류를 선택할 수 있으며 중복해서 선택할 수 있습니다.</p>
            <ul>
                <li><strong class="UI">비명</strong>: 성인 남자/여자, 아이 비명 및 고함 소리 등 갑자기 사람이 큰 소리를 내는 소리를 감지하여 이벤트로 발생시킵니다.
                </li>
                <li><strong class="UI">총소리</strong>: 연속적으로 나지 않는 총소리를 감지하여 이벤트로 발생시킵니다.
                </li>
                <li><strong class="UI">폭발</strong>: 파괴작용으로 갑작스럽게 터지는 소리를 감지하여 이벤트로 발생시킵니다. </li>
                <li><strong class="UI">유리 깨짐</strong>: 유리 파손음을 감지하여 이벤트로 발생시킵니다.  </li>
            </ul>
        </div>
   
			<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
            <ul>
               
                <li><strong class="UI">[오디오 및 비디오]</strong>&gt;<strong class="UI">[오디오 설정]</strong>&gt;<strong class="UI">[오디오 입력]</strong>에서 <strong class="UI"><a class="wn5-online-help-link" href="../video&audio/audio.html#source" ng-href="#/help/videoAudio_audioSetup?#source">[소스]</a></strong> 옵션을 <strong class="UI">[라인]</strong>으로 설정한 경우 음원 분류 기능이 작동하지 않습니다.</li>
				<li><strong class="UI">[오디오&amp;비디오]</strong>&gt;<strong class="UI">[오디오 설정]</strong>&gt;<strong class="UI">[오디오 입력]</strong>에서 <strong class="UI">[게인]</strong>을 4~6 사이 설정을 권장합니다. </li>
                <li><strong class="UI">[오디오&amp;비디오]</strong>&gt;<strong class="UI">[오디오 설정]</strong>&gt;<strong class="UI">[오디오 입력]</strong>에서 <strong class="UI"><a class="wn5-online-help-link" href="../video&audio/audio.html#source" ng-href="#/help/videoAudio_audioSetup?#source">[소스]</a></strong> 옵션을 <strong class="UI">[외부 마이크]</strong>로 설정하였을 경우 마이크 권장 사양은 다음과 같습니다. 마이크 사양이 맞지 않는 경우 음원 분류 기능이 저하될 수 있습니다. </li>
				<ul>
					<li>주파수 범위 : 40 ~ 16,000Hz</li>
					<li>임피던스 : 1,500 Ω</li>
					<li>감도 :  -40&plusmn;3 dB (7.1~14.1 mV) </li>
				</ul>
                
				<li>다음과 같은 경우 음원 분류 성능이 저하되거나 오동작이 발생할 수 있습니다.</li>
				<ul>
					<li>총소리에는 단발성 총 소리만 범주에 포함시키므로 기관총 소리처럼 연속으로 나는 경우</li>
					<li>잡음과 목표 음원이 구분이 안될 정도로 큰 경우</li>
					<li>2개 이상 다른 음원이 동시에 입력으로 들어오는 경우 </li>
                    <li>카메라 위치 변경 등으로 인한 포커스 대상 변경</li>
                    <li>조용한 환경에서 노이즈 제거 기능을 사용하고 음원 분류를 적용하는 경우</li>
                    <li>카메라 가까이에 (1미터 이내) 박수소리, 비명소리 등이 있는 경우</li>
                    <li>비행기 소리, 싸이렌 소리 등 음원 분류 카테고리가 아닌 음원이 갑자기 크게 발생하는 경우</li>
					</ul>
            </ul>
        </div>	

   </div>
</div>

<hr class="wn5-setup-hr" ng-if="!HandoverCalibration && !SupportAutoImageAlignment">
<div class="wn5-setup-section" ng-if="!HandoverCalibration && !SupportAutoImageAlignment">
    <div class="wn5-setup-section-heading">
        <h2>핸드오버</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>핸드오버</h3>
            <p>핸드오버 수신 카메라 번호를 선택합니다. 핸드오버 기능을 사용하지 않으려면 <strong class="UI">[사용 안 함]</strong>을 선택합니다.</p>
            <p>핸드오버는 음원 분류 이벤트가 발생하면, 수신 카메라가 미리 설정해 둔 PTZ 프리셋 위치로 이동하는 기능입니다. 핸드오버 수신 카메라는 <strong class="UI">[이벤트]</strong> &gt; <strong class="UI">[핸드오버]</strong>에서 설정할 수 있습니다. </p>
        </div>
        </div>
    </div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="action"></a>이벤트 동작</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>FTP</h3>
            <p>음원 분류 이벤트가 발생했을 때 영상 이미지를 FTP 서버에 저장하려면 <strong class="UI">[사용]</strong>을 선택합니다. FTP에 대한 상세 설정은 <strong class="UI">[이벤트]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#ftp" ng-href="#/help/event_ftpemail?#ftp"><strong class="UI">[FTP/이메일]</strong></a>에서 할 수 있습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>이메일</h3>
            <p>음원 분류 이벤트가 발생했을 때 영상 이미지를 이메일로 전송하려면 <strong class="UI">[사용]</strong>을 선택합니다. 이메일에 대한 상세 설정은 <strong class="UI">[이벤트]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#email" ng-href="#/help/event_ftpemail?#email"><strong class="UI">[FTP/이메일]</strong></a>에서 할 수 있습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="Recording">
            <h3>저장</h3>
            <p>음원 분류 이벤트가 발생했을 때 (micro)SD 카드 또는 NAS에 영상을 저장하려면 <strong class="UI">[사용]</strong>을 선택합니다. 저장에 관한 상세 설정은 <strong class="UI">[이벤트]</strong>&gt;<a class="wn5-online-help-link" href="../event/storage.html" ng-href="#/help/event_storage"><strong class="UI">[저장]</strong></a>에서 할 수 있습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="MaxAlarmOutput>0">
            <h3>알람 출력</h3>
            <p>음원 분류 이벤트가 발생했을 때 특정 알람 번호로 알람이 출력되도록 설정할 수 있습니다. 알람 출력 번호를 선택한 후, 알람을 출력하지 않으려면 <strong class="UI">[사용 안 함]</strong>을 선택하고 알람을 출력하려면 출력 시간을 선택합니다. <strong class="UI">[항상 동작]</strong>을 선택하여 사용자가 알람을 멈추기 전까지 계속 출력되도록 하거나 5, 10, 15초까지 출력하도록 설정할 수 있습니다. </p>
            <p>알람 출력 설정에 따라 <strong class="UI">[알람 출력]</strong> 옵션이 다르게 표시됩니다. 알람 출력이 없는 경우 [알람 출력] 옵션이 보이지 않으며, 알람 출력이 여러 개인 경우  <strong class="UI">[알람 출력 1]</strong>, <strong class="UI">[알람 출력 2]</strong>와 같이 표시됩니다. 알람 입출력은 <strong class="UI">[이벤트]</strong>><strong class="UI">[알람 입출력]</strong>에서 설정할 수 있습니다. </p>
</div>
         <div class="wn5-setup-section-article-content" ng-if="(DPTZSetupPage || ExternalPTZPage) && PresetSupport && !ZoomOnlyModel">
            <h3>프리셋 이동</h3>
                    <p>음원 분류 이벤트가 발생했을 때 카메라 뷰 위치를 미리 설정해 둔 프리셋 번호로 이동하도록 설정할 수 있습니다. 카메라 위치 프리셋은 <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/dptzSetup.html" ng-href="#/help/ptzSetup_dptzSetup"><strong class="UI">[디지털 PTZ]</strong></a>나 <strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[외부 PTZ]</a></strong>의 <strong class="UI">[프리셋]</strong>에서 설정할 수 있습니다.</p>
                    <p ng-if="GlobalPTZMode && MaxChannel > 1"><strong class="UI">[PTZ]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[외부 PTZ]</a></strong>에서 <strong class="UI">[외부 PTZ 사용]</strong>&nbsp;옵션을 선택한 경우, [프리셋 이동] 옵션이 보이지 않습니다. </p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="PresetSetupPage">
            <h3>프리셋 이동</h3>
                    <p>음원 분류 이벤트가 발생했을 때 카메라 뷰 위치를 미리 설정해 둔 위치로 이동하도록 설정할 수 있습니다. 카메라 위치 프리셋은 <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/presetZoom.html" ng-href="#/help/ptzSetup_presetZoom"><strong class="UI">[프리셋 설정]</strong></a>의 <strong class="UI">[프리셋 설정]</strong> 영역에서 설정할 수 있습니다.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="PTZSetupPage">
            <h3>프리셋 이동</h3>
                    <p>음원 분류 이벤트가 발생했을 때 카메라 위치를 미리 설정해 둔 위치로 이동하도록 설정할 수 있습니다. 카메라 위치 프리셋은 <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/ptzInfoSetup.html" ng-href="#/help/ptzSetup_ptzInfoSetup"><strong class="UI">[PTZ 설정]</strong></a>의 <strong class="UI">[프리셋] </strong>탭에서 설정할 수 있습니다.</p>
        </div>
        
		<div class="wn5-setup-section-article-content" ng-if="PanTiltOnlyModel">
            <h3>프리셋 이동</h3>
                    <p>음원 분류 이벤트가 발생했을 때 카메라 뷰 위치를 미리 설정해 둔 위치로 이동하도록 설정할 수 있습니다. 카메라 위치 프리셋은 <strong class="UI">[PTZ]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="../ptz/ptSetup.html" ng-href="#/help/ptzSetup_ptSetup">[PT 설정</a>]</strong>의 <strong class="UI">[프리셋]</strong>에서 설정할 수 있습니다.</p>
        </div>     
    </div>
</div>

                    
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>이벤트 동작 스케줄</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>음원 분류 이벤트가 발생했을 때 <strong class="UI">[<a class="wn5-online-help-link" href="#action" ng-href="#/help/analytics_soundClassification?#action">이벤트 동작</a>]</strong>에서 설정한 이벤트 동작이 항상 동작하도록 하거나 설정한 시간에만 동작하도록 설정합니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>항상 동작</h3>
            <p>음원 분류 이벤트가 발생했을 때 설정한 이벤트 동작을 항상 실행합니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>설정한 시간에만 동작</h3>
            <p>설정한 시간에 음원 분류 이벤트가 발생했을 때 설정한 이벤트 동작을 실행합니다. <strong class="UI">[설정한 시간에만 동작]</strong>을 선택하여 나타나는 시간표에는 현재 카메라 시간을 기준으로 한 일요일부터 토요일까지의 날짜가 표시됩니다. 시간표에서 마우스를 클릭하거나 드래그하여 이벤트 동작 시간을 설정할 수 있습니다. 설정된 이벤트 동작 스케줄은 해당 요일과 시간에 반복적으로 실행됩니다.</p>
			<p><strong class="UI">[1분]</strong>, <strong class="UI">[30분]</strong>, <strong class="UI">[1시]</strong> 버튼을 클릭하여 시간 보기 단위를 변경할 수 있습니다. <strong class="UI">[초기화]</strong> 버튼을 클릭하면 설정된 이벤트 동작 스케줄이 모두 삭제됩니다. 카메라 시간을 확인하거나 변경하려면 <strong class="UI">[Basic]</strong>&gt;<strong class="UI">[날짜 및 시간]</strong>을 참고하십시오.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">