<div class="container">
    <article>
        <div class="col-lg-7">
            <h2>Streaming Viewer</h2>
            <section id="section-video-wrap" >
                <kind-stream kindplayer="playerdata[0]"></kind-stream>
                <kind-stream kindplayer="playerdata[1]"></kind-stream>
                <kind-stream kindplayer="playerdata[2]"></kind-stream>
            </section>
            
            
        </div>
        <div class="col-lg-4 ">
            <div id="listWrap">
                <h2>Streaming From</h2>
                <section id="section-info-wrap">
                    <div id="tabs">
                        <ul>
                            <li class="col-xs-12"><a href="#form" class="col-xs-12">Form</a>
                            </li>
                        </ul>
                        <div id="form">
                            <form method="post" name="inputForm">
                                <div class="form-group">
                                    <label for="streamingInfo">Streaming Url</label>
                                    <div class="col-sm-12">
                                        <input type="text" ng-model="streamingInfo" class="form-control " placeholder="Streaming Url..." ng-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="streamingInfo">Streaming Size</label>
                                    <div>
                                        <div class="col-sm-6">
                                            <input type="number" ng-model="streamingWidth" class="form-control" placeholder="width" ng-required="true">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="number" ng-model="streamingHeight" class="form-control" placeholder="height" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="col-sm-12">
                                        <input type="button" ng-click="clickDisConnectButton()" class="btn btn-default form-control" value="DisConnect">
                                    </p>
                                    <p class="col-sm-12">
                                        <input type="submit" ng-click="clickConnectButton()" class="btn btn-primary form-control" value="Connect" ng-disabled="inputForm.$invalid">
                                    </p>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </article>
</div>
