<style>
    .circle {
        margin: 10px;
        width: 300px;
        height: 300px;
        background: skyblue;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<table>
    <tr>
        <td>
            <div class="circle" ptz="ptzdata[0]"></div>
        </td>
        <td>
            <strong>usecase</strong> : attribute<br>
            <strong>ptz.on</strong> : on<br>
            <strong>ptz.ip</strong> : 192.168.123.233
        </td>
        <td>
            <div class="circle" ptz="ptzdata[1]"></div>
        </td>
        <td>
            <strong>usecase</strong> : attribute<br>
            <strong>ptz.on</strong> : off<br>
            <strong>ptz.ip</strong> : 192.168.123.233
        </td>
    </tr>
    <tr>
        <td>
            <div class="circle">
                <ptz ptz="ptzdata[2]"></ptz>
            </div>
        </td>
        <td>
            <strong>usecase</strong> : element<br>
            <strong>ptz.on</strong> : on<br>
            <strong>ptz.ip</strong> : 192.168.123.208
        </td>
        <td>
            <div class="circle">
                <ptz ptz="ptzdata[3]"></ptz>
            </div>
        </td>
        <td>
            <strong>usecase</strong> : element<br>
            <strong>ptz.on</strong> : off<br>
            <strong>ptz.ip</strong> : 192.168.123.208
        </td>
    </tr>
</table>
    
    



