<h1 class="wn5-setup-main-title">Estado de salida PoE</h1>
<div class="wn5-setup-section">
    <p>La c&aacute;mara con extensor PoE tiene puertos de entrada y salida RJ-45. Si se conecta una c&aacute;mara de red adicional al puerto de salida, la alimentaci&oacute;n de la c&aacute;mara con PoE extender utilizar&aacute; su propia energ&iacute;a para alimentar la c&aacute;mara de red y permitir la comunicaci&oacute;n de red.</p>
</div>
<div class="wn5-online-help-info">
    <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
    <ul>
        <li>Si la potencia de salida de la c&aacute;mara con extensor PoE supera los 12,95&nbsp;W, la energ&iacute;a de cualquier c&aacute;mara de red conectada se apagar&aacute; autom&aacute;ticamente. Para restaurar la alimentaci&oacute;n de energ&iacute;a la c&aacute;mara de red,</li>
        <ul>
            <li>Desmarque la casilla <strong class="UI">[Activar]</strong> y haga clic en <strong class="UI">[Aplicar]</strong>. Vuelva a seleccionar <strong class="UI">[Activar]</strong> y haga clic en <strong class="UI">[Aplicar]</strong>.</li>
            <li>Arranque la c&aacute;mara con extensor PoE para encenderla utilizando su propia fuente de energ&iacute;a.</li>
        </ul>
                
    </ul>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Estado de salida PoE</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Controla si se debe activar o no la c&aacute;mara de red conectada al puerto de salida de la c&aacute;mara con extensor PoE y muestra el valor del consumo de energ&iacute;a requerido.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Puerto</h3>
            <p>El n&uacute;mero de puerto de salida de la c&aacute;mara con extensor PoE.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Activar</h3>
            <p>Para proporcionar alimentaci&oacute;n PoE a la c&aacute;mara del <strong class="UI">[Puerto]</strong>, haga clic en <strong class="UI">[Activar]</strong>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Consumo de energ&iacute;a</h3>
            <p>Muestra el valor del consumo de energ&iacute;a PoE.</p>
            <p>En <strong class="UI">[Consumo total de energía]</strong>, se muestra el valor total de consumo de energ&iacute;a del puerto de salida utilizado por la c&aacute;mara de red conectada a la c&aacute;mara con extensor PoE.</p>
        </div>
        
    </div>
</div>



<hr class="wn5-setup-hr">
