<h1 class="wn5-setup-main-title">비디오 프로파일</h1>
<div class="wn5-setup-section">
    <p>비디오 프로파일을 추가하거나 삭제하고, 프로파일 속성을 변경할 수 있습니다. 비디오 해상도, 프레임 레이트, 코덱 등을 '비디오 프로파일'로 미리 설정한 후 환경과 상황에 따라 사용자가 원하는 프로파일로 변경하여 영상을 스트림하거나 재생할 수 있습니다. 설정을 완료하면 페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭하여 설정을 적용하십시오.</p>
</div>
<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
            <div class="wn5-setup-section-heading">
                <h2><a name="channel"></a>채널 선택</h2>
            </div>
            <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>카메라 채널을 선택한 후 채널별로 비디오 프로파일 세부 항목을 설정할 수 있습니다. </p>
            <p ng-if="objectDetectionSupport">채널 1은 라이브 영상을 보여 주는 채널이며, 채널 2는 디지털 PTZ 영상을 보여 주는 채널입니다. </p>
            <p ng-if="HandoverCalibration">고정 카메라의 채널은 번호로 표기되고, PTZ 채널은 'PTZ'로 표기됩니다.</p>
            <p ng-if="SupportAutoImageAlignment">채널 2~5번은 장착된 개별 카메라 영상이고, 채널 1은 2~5번 채널의 카메라 영상을 하나로 연결하여 파노라마 형식으로 보여주는 영상입니다. 채널 6번과 7번은 채널 1 영상에 대해 디지털 PTZ가 적용된 영상입니다. </p>

            <!-- <p ng-if="SupportChannelExpansionFeature">채널별 뷰 모드는 다음과 같습니다.</p>
            <ul ng-if="SupportChannelExpansionFeature">
                <li>채널 1: 피쉬아이 카메라의 영상을 보정 없이 그대로 보여줍니다.</li>
                <li>채널 2: 360˚ 영역을 촬영한 영상을 왜곡 보정하여 벽면형 파노라마 형식으로 보여줍니다.</li>
                <li>채널 3: 360˚ 영역을 촬영한 영상을 왜곡 보정하여 파노라마 형식의 상하 분할 화면으로 보여줍니다.</li>
                <li>채널 4: 사람의 시야에 적합하도록 왜곡 보정한 특정 화면 4개를 동시에 보여줍니다. 분할 화면을 선택하여 뷰를 상하좌우로 이동하거나 줌 기능을 사용할 수 있습니다.</li>
                <li>채널 5: 채널 4의 4분할 화면에서 왼쪽 상단의 영상을 보여줍니다.</li>
                <li>채널 6: 채널 4의 4분할 화면에서 오른쪽 상단의 영상을 보여줍니다.</li>
                <li>채널 7: 채널 4의 4분할 화면에서 왼쪽 하단의 영상을 보여줍니다.</li>
                <li>채널 8: 채널 4의 4분할 화면에서 오른쪽 하단의 영상을 보여줍니다.</li>
            </ul>
            <p ng-if="SupportChannelExpansionFeature">특정 뷰 모드만 사용하려면 채널 번호를 선택한 후 <strong class="UI">[채널 활성화]</strong>를 선택합니다. 예를 들어 채널 2번과 3번만 활성화하면 카메라 영상을 벽면형 파노라마 형식으로 보거나 상항 분할 화면으로만 볼 수 있으며, 그 외 영상 화면은 지원하지 않습니다. </p> -->

            <p>라이브 페이지나 재생 페이지에서 가장 최근에 선택한 채널 번호가 자동으로 선택되어 있습니다. <strong class="UI">[상세정보]</strong> 버튼을 클릭하면 채널 전체 상태를 채널별로 요약하여 보여줍니다. </p>
            <p>프로파일 설정을 변경한 뒤 저장하지 않고 다른 채널을 선택할 경우 알림 메시지가 나타납니다. </p>
        </div>
            </div>
</div>

<hr class="wn5-setup-hr" ng-if="SensorCaptureSize">
<div class="wn5-setup-section" ng-if="SensorCaptureSize">
            <div class="wn5-setup-section-heading">
                <h2>최대 해상도 모드</h2>
            </div>
            <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>최대 해상도를 선택합니다. 선택한 최대 해상도에 따라 각 프로파일에서 설정할 수 있는 카메라 해상도 범위와 최대 프레임 레이트가 달라집니다.</p>
            <p>최대 해상도 모드를 변경하면 비디오 설정, 카메라 설정, 코덱 설정 및 이벤트와 AI 설정이 초기화됩니다. 단 사용자 설정, 날짜 및 시간, 네트워크 설정은 그대로 유지됩니다. </p>
        </div>
            </div>
        </div>


<hr class="wn5-setup-hr" ng-if="PTZMode">
<div class="wn5-setup-section" ng-if="PTZMode">
            <div class="wn5-setup-section-heading">
                <h2>PTZ 모드 선택</h2>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <p><strong class="UI">[외부 PTZ]</strong>를 선택하면 RS-485나 RS-422 단자에 연결된 리시버를 통해 카메라 PTZ를 제어할 수 있습니다. 웹뷰어 왼쪽 메뉴 트리에 <strong class="UI">[PTZ]</strong>&gt;<strong class="UI">[외부 PTZ]</strong> 메뉴가 생성됩니다.</p>
            <p><strong class="UI">[디지털 PTZ]</strong>를 선택하면 카메라 PTZ를 디지털로 제어하게 됩니다. 웹뷰어 왼쪽 메뉴 트리에 <strong class="UI">[PTZ]</strong>&gt;<strong class="UI">[디지털 PTZ]</strong> 메뉴가 생성됩니다. '디지털 PTZ 프로파일'이 적용된 경우에만 디지털 PTZ 모드가 동작되며, 이 때 해상도와 비트 레이트가 제한됩니다.</p>
                </div>
            </div>
        </div>
<hr class="wn5-setup-hr" ng-if="ProfileSessionPolicy">
<div class="wn5-setup-section" ng-if="ProfileSessionPolicy">
        <div class="wn5-setup-section-heading">
            <h2>비디오 프로파일 연결 정책</h2>
        </div>    
    <div class="wn5-setup-section-article">
    <div class="wn5-setup-section-article-content">
        <p>프로파일 속성이 변경됐을 때 기존 프로파일로 계속 영상을 출력할지 혹은 변경된 프로파일로 영상을 출력할지를 설정할 수 있습니다. </p>
        <p><strong class="UI">[프로파일 속성 변경 시 기존에 연결된 영상 유지]</strong>를 선택하면, 프로파일 속성을 변경하더라도 기존 프로파일 속성대로 영상을 출력하고, 다시 웹뷰어에 접속했을 때 변경된 프로파일로 영상을 출력합니다. 프로파일의 속성을 변경하고 다시 웹뷰어에 접속하기 전까지는 <strong class="UI">[라이브]</strong> 화면에 테두리가 나타납니다. <strong class="UI">[프로파일 속성 변경 시 기존에 연결된 영상 유지]</strong>를 선택하지 않으면, 프로파일 속성을 변경했을 때 바로 변경된 프로파일로 영상이
출력됩니다. </p>
    </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>비디오 프로파일</h2>
    </div>
    <div class="wn5-setup-section-article">
        <!-- <div class="wn5-setup-section-article-content">
            <p>제품의 사용 환경과 상황에 따라 비디오의 프로파일을 선택할 수 있습니다. 기본으로 제공되는 프로파일 외에 새로운 프로파일을 추가하거나 삭제할 수 있습니다. 프로파일 별로 코덱, 프로파일 타입, 오디오 입력, ATC 모드, ATC 민감도, ATC 제한, 해상도, 프레임 레이트, 최대 비트 레이트, 목표 비트 레이트, 비트 레이트 제어, 멀티캐스트 등을 설정할 수 있습니다.</p> 
        </div>  --> 
        <div class="wn5-setup-section-article-content">
            <p>제품의 사용 환경과 상황에 따라 비디오의 프로파일을 선택할 수 있습니다. 기본으로 제공되는 프로파일 외에 새로운 프로파일을 추가하거나 삭제할 수 있습니다. 프로파일 별로 코덱, 프로파일 타입, 해상도, 프레임 레이트, 멀티캐스트 등 다양한 옵션을 설정할 수 있습니다.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>프로파일 목록</h3>
            <p>기본으로 제공되는 프로파일의 목록과 사용자가 추가한 프로파일의 목록이 같이 표시됩니다.</p>

       <!--      <p ng-if="!FixedProfileCodecChange">카메라를 설치하면 기본으로 제공되는 프로파일은 다음과 같습니다. 기본으로 제공하는 프로파일 이름과 코덱은 변경할 수 없으며 그 외 설정은 사용자가 원하는 대로 변경할 수 있습니다.</p>
            <p ng-if="FixedProfileCodecChange">카메라를 설치하면 기본으로 제공되는 프로파일은 다음과 같습니다. </p>
            <table class="table table-bordered wn5-setup-table" ng-if="!FisheyeLens">
                <thead>
                <tr>
                    <td>프로파일 이름</td>
                    <td>코덱 </td>
                    <td>설명</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MJPEG</td>
                    <td>MJPEG</td>
                    <td>MJPEG 코덱에 적합한 프로파일, 이벤트 프로파일과 저장 프로파일로 사용됨</td>
                </tr>
                <tr>
                    <td>H.264</td>
                    <td>H.264</td>
                    <td>H.264 코덱에 적합한 프로파일, 라이브 영상 스트림 기본 프로파일로 사용됨</td>
                </tr>
                <tr>
                    <td>H.265</td>
                    <td>H.265</td>
                    <td>H.265 코덱에 적합한 프로파일</td>
                </tr>
                <tr>
                    <td>WISENET</td>
                    <td>H.264</td>
                    <td>ONVIF 클라이언트용으로 제공되는 기본 프로파일, 설정 값은 수정할 수 있으나 프로파일을 삭제할 수 없음.</td>
                </tr>
                <tr>
                    <td>MOBILE</td>
                    <td>MJPEG/H.264 </td>
                    <td>모바일에 적합한 프로파일</td>
                </tr>
                </tbody>
            </table>  --> 
            <!-- <p ng-if="FisheyeLens">피쉬아이 카메라의 경우 기본 프로파일은 다음과 같습니다.</p> -->
			<!--             <table class="table table-bordered wn5-setup-table" ng-if="FisheyeLens">
                <thead>
                <tr>
                    <td>프로파일 이름</td>
                    <td>코덱 </td>
                    <td>설명</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MJPEG</td>
                    <td>MJPEG</td>
                    <td>
                        <p>MJPEG 코덱에 적합한 프로파일, 이벤트 프로파일과 저장 프로파일로 사용됨</p>
                    </td>
                </tr>
                <tr>
                    <td>Fisheyeview</td>
                    <td>H.264</td>
                    <td>왜곡 보정을 하지 않은 피쉬아이 카마라 영상을 그대로 보여주는 프로파일. 기본 프로파일로 사용됨</td>
                </tr>  --> 
              <!--  <tr>
                    <td>Dewarp1</td>
                    <td>H.264</td>
                    <td>피쉬아이 카메라의 왜곡을 보정하여 왜곡 보정 영상을 보여주는 프로파일</td>
                </tr> -->
           <!--      <tr>
                        <td>WISENET</td>
                        <td>H.264</td>
                        <td>ONVIF 클라이언트용으로 제공되는 기본 프로파일, 설정 값은 수정할 수 있으나 프로파일을 삭제할 수 없음.</td>
                </tr>
                <tr>
                    <td>MOBILE</td>
                    <td>H.264</td>
                    <td>모바일에 적합한 프로파일</td>
                </tr>
                </tbody>
            </table>  -->
        </div>

        <div class="wn5-online-help-action">
            <h4>비디오 프로파일 추가하기</h4>
            <div>
                <ol>
                    
                    <li><strong class="UI">[추가]</strong> 버튼을 클릭합니다. 프로파일 목록에 새로운 항목이 추가됩니다.</li>
                    <li><strong class="UI">[이름]</strong> 필드에 프로파일의 이름을 입력합니다. 프로파일 목록에 입력한 이름이 나타납니다.</li>
                    <li><strong class="UI">[코덱]</strong>, <strong class="UI">[프로파일 타입]</strong>, <strong class="UI">[해상도]</strong> 등 프로파일 세부 항목들을 설정합니다. </li>
                    <li>페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭합니다.</li>
                    <li>확인 창이 나타나면 <strong class="UI">[확인]</strong> 버튼을 클릭합니다. 새로운 프로파일이 추가됩니다.</li>
                </ol>
            </div>
        </div>

        <div class="wn5-online-help-action">
            <h4>비디오 프로파일 속성 변경하기</h4>
            <div>
                <ol>
                    
                    <li>프로파일 목록에서 세부 설정을 변경할 프로파일을 선택합니다.</li>
                    <li><strong class="UI">[코덱]</strong>, <strong class="UI">[프로파일 타입]</strong>, <strong class="UI">[해상도]</strong> 등 프로파일 세부 항목의 설정을 변경합니다.</li>
                    <li>페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭합니다.</li>
                    <li>확인 창이 나타나면 <strong class="UI">[확인]</strong> 버튼을 클릭합니다. 선택한 프로파일의 설정이 변경됩니다.</li>
                </ol>
            </div>
        </div>

        <div class="wn5-online-help-action">
            <h4>비디오 프로파일 삭제하기</h4>
            <div>
                <ol>
                    
                    <li>프로파일 목록에서 삭제할 프로파일을 선택합니다. </li>
                    <li><strong class="UI">[삭제]</strong> 버튼을 클릭합니다.</li>
                    <li>확인 창이 나타나면 <strong class="UI">[확인]</strong> 버튼을 클릭합니다. 선택한 프로파일이 삭제됩니다.</li>
                </ol>
            </div>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>이름</h3>
            <p>프로파일 목록에서 선택한 프로파일의 이름이 나타납니다. 신규로 프로파일을 생성할 시 프로파일의 이름을 입력할 수 있습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>코덱</h3>
            <p>프로파일에 적용할 코덱을 선택합니다. 선택한 코덱 타입에 따라 프로파일 속성 세부 항목이 달라집니다.</p>
            <!-- <p ng-if="SupportAutoImageAlignment">기본 프로파일의 코덱은 수정할 수 없고, 사용자가 새로 추가한 프로파일의 코덱은 수정할 수 있습니다. </p> -->
        </div>

        <div class="wn5-setup-section-article-content" ng-if="FisheyeLens">
            <h3>피쉬아이 뷰 타입</h3>
            <p>프로파일에서 보여질 피쉬아이 카메라의 영상 타입을 선택합니다.</p>
            <ul>
                <li>피쉬아이 뷰: 피쉬아이 카메라의 영상을 보정 없이 그대로 보여줍니다.</li>
                <li>왜곡 보정 뷰: 피쉬아이 카메라로 촬영한 360&deg; 영상을 보기 적합한 형태로 보정하여 보여줍니다. 보정 영상 타입은 '왜곡 보정 뷰'를 선택하면 보여지는 <strong class="UI">[뷰]</strong>옵션에서 선택할 수 있습니다.</li>
            </ul>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="FisheyeLens">
            <h3>뷰</h3>
            <p>왜곡 보정 영상 타입을 선택합니다. </p>
            <p><strong class="UI">[피쉬아이 뷰 타입]</strong>에서 <strong class="UI">[왜곡 보정 뷰]</strong>를 선택한 경우에 활성화됩니다.</p>
            <ul>
                <li>싱글 파노라마: 360˚ 영역을 촬영한 영상을 왜곡 보정하여 벽면형 파노라마 형식으로 보여줍니다.  </li>
                <li>4분할 뷰: 사람의 시야에 적합하도록 왜곡 보정한 특정 화면 4개를 동시에 보여줍니다. 분할 화면을 선택하여 뷰를 상하좌우로 이동하거나 줌 기능을 사용할 수 있습니다.  </li>
                <li>더블 파노라마: 360˚ 영역을 촬영한 영상을 왜곡 보정하여 파노라마 형식의 상하 분할 화면으로 보여줍니다. <strong class="UI">[비디오 및 오디오]</strong> &gt; <strong class="UI">[비디오 설정]</strong> &gt; <strong class="UI">[비디오 회전]</strong> &gt; <strong class="UI">[카메라 마운팅 모드]</strong>에서 <strong class="UI">[천장형]</strong>을 선택한 경우에만 더블 파노라마 옵션이 나타납니다. </li>
                <li>Q1: 4분할 뷰의 왼쪽 상단의 뷰를 보여줍니다. </li>
                <li>Q2: 4분할 뷰의 오른쪽 상단의 뷰를 보여줍니다. </li>
                <li>Q3: 4분할 뷰의 왼쪽 하단의 뷰를 보여줍니다. </li>
                <li>Q4: 4분할 뷰의 오른쪽 하단의 뷰를 보여줍니다. </li>
            </ul>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3><a class="wn5-online-help-link" name="profiletype"></a>프로파일 타입</h3>
            <p>적용할 프로파일 타입을 선택합니다. 선택한 프로파일 타입은 프로파일 목록의 <strong class="UI">[타입]</strong> 컬럼에 표시됩니다. 선택한 코덱 타입에 따라 표시되는 설정 항목이 다를 수 있습니다.</p>
            <p ng-if="SupportAutoImageAlignment">또한 <a href="#channel">채널 선택</a>에서 선택한 채널에 따라 설정할 수 있는 프로파일 타입이 다를 수 있습니다. 예를 들어 '에지 저장 프로파일'은 채널 1을 선택한 경우에만 설정할 수 있습니다.</p>
            <ul>
                <li><strong class="UI">기본 프로파일</strong>: 카메라의 영상을 라이브로 스트림할 때 적용되는 기본 프로파일입니다. 프로파일 목록의 <strong class="UI">[타입]</strong>에 ‘Default’로 표시됩니다.</li>
                <li><strong class="UI">이메일/FTP 프로파일</strong>: 이벤트가 발생하면 영상의 캡처 화면을 이메일과 FTP 서버로 전송하는데 이 때 사용하는 비디오 프로파일입니다. 프로파일 목록의 <strong class="UI">[타입]</strong> 컬럼에 ‘Event’로 표시됩니다. <strong class="UI">[코덱]</strong>을 [MJPEG]으로 설정한 경우에만 이메일/FTP 프로파일 옵션이 나타납니다. </li>
                <!-- <li style="list-style-type: none;" ng-if="SupportChannelExpansionFeature">이메일/FTP 프로파일은 채널 1을 선택한 경우에만 설정할 수 있습니다.</li> -->
                <li ng-if="Recording && NAS"><strong class="UI">에지 저장 프로파일</strong>: (micro)SD 카드나 NAS에 영상을 녹화할 때 적용하는 프로파일입니다. 프로파일 목록의 <strong class="UI">[타입]</strong> 컬럼에 ‘Record’로 표시됩니다.</li>
                <li ng-if="Recording && !NAS"><strong class="UI">에지 저장 프로파일</strong>: (micro)SD 카드에 영상을 녹화할 때 적용하는 프로파일입니다. 프로파일 목록의 <strong class="UI">[타입]</strong> 컬럼에 ‘Record’로 표시됩니다.</li>
                <!-- DPTZSetupPage && !SupportAutoImageAlignment -> (DPTZSetupPage && !SupportAutoImageAlignment) || ExternalPTZModel 으로 수정. x시리즈 변경점 이슈. 정인혜 선임님 가이드. 2019-08-12  --> 
                 <!-- (DPTZSetupPage && !SupportAutoImageAlignment) || ExternalPTZMode -> (DPTZSetupPage && !SupportAutoImageAlignment && !CameraPositionV2) || ExternalPTZModel 으로 수정. QNF-8010. 김영호 책임님. 2019-09-03  -->   
                 <!-- (DPTZSetupPage && !SupportAutoImageAlignment && !CameraPositionV2) || ExternalPTZModel ->  DPTZSetupPage && !SupportAutoImageAlignment && !CameraPositionV2 && ExternalPTZModel으로 수정. XNZ-L6320. 정인혜 책임님. 2019-10-10   -->  
                <!-- DPTZSetupPage && !SupportAutoImageAlignment && !CameraPositionV2 && ExternalPTZModel ->  DPTZSetupPage && !SupportAutoImageAlignment && !CameraPositionV2 && ExternalPTZModel && !objectDetectionSupport으로 수정. AI 카메라 |. TW자체 등록. 2019-10-10   -->      
                <li ng-if="(DPTZSetupPage && !SupportAutoImageAlignment && !CameraPositionV2) && ExternalPTZModel && !objectDetectionSupport"><strong class="UI">디지털 PTZ 프로파일</strong>: PTZ 움직임을 디지털로 제어할 때 사용하는 프로파일입니다. 프로파일 목록의 <strong class="UI">[타입]</strong> 컬럼에 ‘DPTZ’로 표시됩니다. <strong class="UI">[코덱]</strong>을 [H.264] 혹은 [H.265]로 설정한 경우에만 디지털 PTZ 프로파일 옵션이 나타납니다. </li>
                <!-- <li style="list-style-type: none;" ng-if="FisheyeLens">피쉬아이 카메라의 경우, 새 프로파일을 추가할 때 <strong class="UI">[피쉬아이 뷰 타입]</strong>에서 <strong class="UI">[왜곡 보정 뷰]</strong>를 선택하고, <strong class="UI">[뷰]</strong>에서 <strong class="UI">[4분할 뷰]</strong>를 선택하면 해당 프로파일이 자동으로 디지털 PTZ 프로파일로 등록됩니다.  </li> -->
                <li><strong class="UI">프레임 레이트 고정 프로파일</strong>: 영상의 프레임 레이트를 일정 수준으로 보장하려고 할 때 적용하는 프로파일입니다. 프로파일 목록의 <strong class="UI">[타입]</strong>에 &lsquo;FrameLock&rsquo;으로 표시됩니다.<strong class="UI">[코덱]</strong>을 [H.264] 혹은 [H.265]로 설정한 경우에만 '프레임 레이트 고정 프로파일' 옵션이 나타납니다.</li>
            </ul>
        </div>

        <div class="wn5-online-help-info" ng-if="FisheyeLens">
            <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
            <ul>
            <li>피쉬아이 카메라의 경우, 새 프로파일을 추가할 때 <strong class="UI">[피쉬아이 뷰 타입]</strong>에서 <strong class="UI">[왜곡 보정 뷰]</strong>를 선택하고, <strong class="UI">[뷰]</strong>에서 <strong class="UI">[4분할 뷰]</strong>를 선택하면 해당 프로파일이 자동으로 디지털 PTZ 프로파일로 등록됩니다. 이 때 프로파일 목록의 <strong class="UI">[타입]</strong> 컬럼에 ‘DPTZ’로 표시됩니다. </li>
            </ul>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="MaxAudioInput>0">
            <h3><a class="wn5-online-help-link" name="audioin"></a>오디오 입력 </h3>
            <p>카메라가 내장 마이크를 가지고 있거나 외부 마이크를 연결한 경우, 카메라 외부 소리가 영상에 입력되도록 설정할 수 있습니다.</p>
            <p><strong class="UI">[라이브]</strong> 화면의 마이크와 스피커 기능을 사용하려면 <strong class="UI">[오디오 입력]</strong>을 <strong class="UI">[사용]</strong>으로 선택해야 합니다.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="ATCModes">
            <h3>ATC 모드</h3>
            <p>ATC(Auto Transmit Control) 모드는 네트워크 대역폭 변화량에 따라 영상의 속성을 변경하여 전송량을 조절합니다. 전송량의 조절 방법은 ATC 모드에 따라 다릅니다.
            </p>
            <ul>
                <li><strong class="UI">사용 안 함</strong>: 네트워크 대역폭이 변화하더라도 비디오 전송량을 일정하게 유지합니다.</li>
                <li><strong class="UI">사용 - 프레임 레이트 조정</strong>: 네트워크 대역폭이 변화될 경우, 프레임 레이트를 변경하여 전송하는 데이터양을 조절합니다. </li>
                <li><strong class="UI">사용 - 압축 조정</strong>: 네트워크 대역폭이 변화될 경우, 전송하는 데이터 압축률을 변경하여 전송하는 데이터양을 조절합니다. 압축 조정을 할 경우 화질이 떨어질 수 있습니다.  </li>
                <li><strong class="UI">사용 - 이벤트(MD)</strong>: <a class="wn5-online-help-link" href="../analytics/motionDetection.html" ng-href="#/help/analytics_motionDetection/v2?">움직임 감지 이벤트</a>가 설정되어 있는 경우에 사용할 수 있는 모드입니다. 움직임 감지 이벤트가 발생하여 네트워크 대역폭이 변화될 경우에 프레임 레이트를 변경하여 데이터양을 조절합니다. 움직임이 감지되지 않으면 최소한의 프레임만을 출력하여 대역폭 사용을 절약합니다.
                    
                </li>
            </ul>
        </div>
            
        <div class="wn5-setup-section-article-content" ng-if="ATCModes">
            <h3>민감도</h3>
            <p>네트워크 대역폭 변화량의 반영 속도를 조절합니다. ATC 민감도가 매우 높음일 때 반영 속도가 가장 빠르며, 매우 낮음일 때 반영 속도가 가장 느립니다. </p>
            <p>ATC 민감도는 <strong class="UI">[ATC 모드]</strong>를 <strong class="UI">[사용 - 프레임 레이트 조정]</strong>, <strong class="UI">[사용 - 압축 조정]</strong>으로 선택할 때만 활성화됩니다.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="ATCModes">
            <h3>제한</h3>
            <p>네트워크 대역폭 변화량에 따라 비디오 전송량을 변경할 때, 어느 정도까지만 속성을 변경할 지 ATC 모드 한계값을 설정합니다. ATC 모드를 사용하지 않았을 때를 100%로 가정할 때, 10~50%으로 값을 설정할 수 있으며, 설정된 값 이하로는 비디오 전송량이 변경되지 않습니다. </p>
            <p>이때 전송량을 너무 많이 떨어뜨리면 화면이 깜박일 수 있기 때문에 본 설정값을 조절하여 한계 설정값을 조절합니다. </p>
            <p>ATC 제한은 <strong class="UI">[ATC 모드]</strong>를 <strong class="UI">[사용 - 프레임 레이트 조정]</strong>, <strong class="UI">[사용 - 압축 조정]</strong>으로 선택할 때만 활성화됩니다.</p>
        </div>
		
	<div class="wn5-online-help-info" ng-if="ATCModes">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>

    <ul>
        <li>ATC를 지원하는 카메라로 구성된 환경에서만 ATC 사용을 권장합니다.</li>
        <li>네트워크 대역폭의 변화량이 급격한 환경에서는 ATC 민감도를 <strong class="UI">[매우 낮음]</strong>으로 설정하십시오.</li>
        <li>네트워크 환경이 불안정하면, 화면이 깜박일 수 있습니다.</li>
    </ul>
		</div>
    </div>
</div>  <hr class="wn5-setup-hr" ng-if="Crop">
<div class="wn5-setup-section" ng-if="Crop">
    <div class="wn5-setup-section-heading">
        <h2>크롭 인코딩</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>크롭 인코딩은 전체 화면에서 선택한 영역만 잘라 <strong class="UI">[프로파일 속성]</strong>에서 설정된 해상도에 맞게 출력합니다. 크롭 인코딩 설정 영역보다 작은 크기의 해상도만 설정할 수 있습니다. 현재 설정 중인 프로파일에 크롭 인코딩을 적용하려면 <strong class="UI">[사용]</strong>을 선택합니다.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>크롭 영역 설정하기</h4>
            <div>
                <ol>
                    <li>크롭 인코딩을 <strong class="UI">[사용]</strong>으로 설정한 후 <strong class="UI">[영역 설정]</strong> 버튼을 클릭합니다.</li>
                    <li><strong class="UI">[크롭 영역 설정]</strong> 미리보기 화면에서 마우스를 드래그하여 영역을 설정합니다. </li>
                    <li>영역 설정을 완료하면 <strong class="UI">[확인]</strong> 버튼을 클릭합니다.</li>
                </ol>
            </div>
        </div>
<div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>

                <ul>
                    <li><strong class="UI">[크롭 영역 설정]</strong>에서 사용자가 원하는 범위를 임의로 지정한 경우, 사용자가 지정한 범위에서 출력 해상도와 가장 유사한 해상도로 출력합니다. </li>
                    <li><strong class="UI">[비디오 및 오디오]</strong>&gt;<strong class="UI">[카메라 설정]</strong>&gt;<strong class="UI">[스페셜]</strong>&gt;<strong class="UI">[DIS]</strong> 설정을 변경하면 크롭 영역 설정이 달라질 수 있습니다. DIS 설정 변경 시 크롭 인코딩 영역을 다시 설정하십시오.</li>
                </ul>
            </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>프로파일 속성</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>현재 설정 중인 비디오 프로파일의 세부 항목을 설정합니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>해상도</h3>
            <p>카메라 영상의 해상도를 설정합니다.</p>
        </div>
<!-- 	!FixedProfileCodecChange 분기 코드 삭제. 2019-05-08  --> 	
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>

            <ul>
                <li>고해상도 영상을 문제없이 스트림하려면, Chrome을 이용하여 웹뷰어에 접속하는 것을 권장합니다.</li>
               <!-- <li>고해상도는 Edge, Firefox  웹브라우저에서 지원되지 않습니다. Internet Explorer와 Safari에서는 플러그인을 설치하면 고해상도 영상도 스트림할 수 있습니다. 플러그인을 설치하려면 <strong class="UI">[라이브]</strong> 화면이나 <strong class="UI">[재생]</strong> 화면에서 오른쪽 상단의 플러그인<span class="tui tui-wn5-download"></span> 버튼을 클릭하십시오.</li> -->
            </ul>
		</div>
		
            
        <div class="wn5-setup-section-article-content">
            <h3>프레임 레이트 </h3>
            <p>1초당 프레임 수를 설정합니다. </p>
            <p ng-if="Sensor"><strong class="UI">[비디오 및 오디오]</strong>&gt;<strong class="UI">[카메라 설정]</strong>&gt;<a class="wn5-online-help-link" href="../video&audio/cameraSetup.html#sensor" ng-href="#/help/videoAudio_cameraSetup?#sensor"><strong class="UI">[센서]</strong></a>에서 선택한 프레임 레이트의 값에 따라 설정할 수 있는 프레임 레이트 범위가 다르게 나타납니다.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="CompressionLevel">
            <h3>압축</h3>
            <p>압축 정도를 설정합니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>최대 비트 레이트 </h3>
            <p><strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[VBR]</strong>일 때, 영상의 최대 비트 레이트를 설정합니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>목표 비트 레이트 </h3>
            <p><strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[CBR]</strong>일 때, 전송하는 영상 데이터의 양을 설정한 목표 비트 레이트에 고정하여 영상을 전송합니다.</p>
        </div>
    </div>  
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>고급</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>프로파일의 <strong class="UI">[코덱]</strong>을 <strong class="UI">[H.264]</strong>나 <strong class="UI">[H.265]</strong>로 설정한 경우에는 모든 고급 설정 항목이 나타납니다. 프로파일의 <strong class="UI">[코덱]</strong>을 <strong class="UI">[MJPEG]</strong>로 선택한 경우는 <strong class="UI">[인코딩 우선순위]</strong> 항목만 나타납니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3><a class="wn5-online-help-link" name="bitrate"></a>비트 레이트 제어 방식</h3>
            <p>영상 데이터의 양을 어떻게 조절할 것인지 설정할 수 있습니다. </p>
            <ul>
                <li><strong class="UI">CBR</strong>: 고정 비트 레이트(Constant Bitrate)는 전체 프레임의 데이터를 일정한 크기로 고정하여 전송하는 방식입니다. CBR을 선택하면 목표 비트 레이트를 설정하여 전송할 데이터의 크기를 설정합니다. CBR의 경우 고정적인 데이터 크기를 가지므로 전체적인 시스템의 데이터 크기를 예측하기 쉬워 안정적으로 시스템을 운영할 수 있습니다.
                                                                            </li>
                <li><strong class="UI">VBR</strong>: 가변 비트 레이트(Variable Bitrate)는 프레임의 데이터 크기를 고정하지 않고 최대 비트 레이트 내에서 영상을 전송하는 방식입니다. VBR은 화질을 유지하면서 저장 공간의 용량이나 대역폭을 효율적으로 사용할 수 있지만 영상이 갑자기 복잡해지는 경우 네트워크에 부담을 줄 수 있습니다. </li>
            </ul>
        </div>
	<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
            <ul>
                <li>비트 레이트 제어 방식을 'CBR(고정 비트 레이트)로 설정한 후 화질 우선 모드를 선택했을 경우 화면의 복잡도에 따라서 설정된 비트 레이트에서 최대한 화질을 보장하기 위해 실제 전송되는 프레임 레이트가 설정된 프레임 레이트와 다를 수 있습니다.</li>
            </ul>
        </div>
        
        <div class="wn5-setup-section-article-content" ng-if="CompressionLevel">
            <h3>영상 압축</h3>
            <p>영상 압축 정도를 설정합니다. <strong class="UI">[프로파일 속성]</strong>의 <strong class="UI">[압축]</strong> CBR인 경우 인코딩의 우선 순위를 정하는 기능이고, 해당 기능은 VBR 동작에서 영상의 압축률에 따른 화질 및 전송 데이터양에 영향을 미치는 기능입니다.</p>
            <p>[영상 압축]에 높은 값을 설정할수록 영상 압축율이 높아집니다. 영상 압축률이 높아지면 영상 전송 데이터양은 줄어들지만 영상 화질이 떨어질 수 있습니다. [영상 압축]에 낮은 값을 설정하여 영상 압축율을 낮추면, 영상 화질은 개선되지만 전송 데이터 양이 증가할 수 있습니다.</p>
            <p>프로파일의 <strong class="UI">[코덱]</strong>을 <strong class="UI">[H.264]</strong>나 <strong class="UI">[H.265]</strong>로 선택한 경우, <strong class="UI">[영상 압축]</strong>은 <strong class="UI">[비트 레이트 제어 방식]</strong>을 <strong class="UI">[VBR]</strong>로 설정한 경우에만 활성화됩니다.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>인코딩 우선순위</h3>
            <p>영상 데이터 양이 목표 비트 레이트의 값을 넘을 때, 프레임 레이트와 화질 중 어느 것을 우선순위로 두고 인코딩할 지 설정합니다. </p>
			<p>프로파일의 <strong class="UI">[코덱]</strong>을 <strong class="UI">[H.264]</strong>나 <strong class="UI">[H.265]</strong>로 선택한 경우, <strong class="UI">[프레임 레이트]</strong>와 <strong class="UI">[압축]</strong> 중 선택할 수 있습니다. <strong class="UI">[프레임 레이트]</strong>를 우선순위로 설정하면 프레임 레이트를 최대한 보장하지만 화질은 떨어질 수 있습니다. 반면 <strong class="UI">[압축]</strong>을 우선순위로 설정하면 화질은 보장하지만 누락되는 프레임이 발생해 영상이 끊기거나 부자연스러울 수 있습니다. 프로파일의 <strong class="UI">[코덱]</strong>을 <strong class="UI">[H.264]</strong>나 <strong class="UI">[H.265]</strong>로 선택한 경우, <strong class="UI">[인코딩 우선순위]</strong>는 <strong class="UI">[비트 레이트 제어 방식]</strong>을 <strong class="UI">[CBR]</strong>로 설정한 경우에만 활성화됩니다.</p>
			
			<p ng-if="!objectDetectionSupport">프로파일의 <strong class="UI">[코덱]</strong>이 <strong class="UI">[MJPEG]</strong>인 경우 <strong class="UI">[프레임 레이트]</strong>와 <strong class="UI">[비트 레이트]</strong> 중에 선택할 수 있습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">    
            <h3><a class="wn5-online-help-link" name="GOV"></a>GOV 길이  </h3>
          <!--    <p>GOV(Group of Video)는 <strong class="UI">[H.264]</strong>/<strong class="UI">[H.265]</strong> 비디오 압축을 위한 영상 프레임의 집합으로 I-프레임부터 다음 I-프레임까지의 프레임 모음을 의미합니다. GOV 내에는 I-프레임과 P-프레임이 있습니다. I-프레임은 압축의 기본이 되는 프레임으로 키프레임이라고도 하며, 완전한 한 장의 이미지 데이터를 가지고 있습니다. P-프레임은 I-프레임을 기준으로 변경된 부분의 정보만 가지고 있습니다. 따라서 GOV 길이가 길수록 I-프레임 수는 적으므로 영상의 크기가 작고, GOV 길이가
짧을수록 I-프레임이 많아지므로 영상의 크기는 큽니다. GOV 길이의 최댓값은 <strong class="UI">[프로파일 속성]</strong>의 <strong class="UI">[프레임 레이트]</strong>에 따라 달라집니다. </p> -->
            <p>GOV(Group of Video)는 H.264/H.265 비디오 압축을 위한 영상 프레임의 집합으로 I-프레임부터 다음 I-프레임 전까지의 프레임들의 모음을 의미합니다. GOV 내에는 I-프레임과 P-프레임이라는 2종류의 프레임이 있습니다. I-프레임은 압축의 기본이 되는 프레임으로 키 프레임이라고도 하며, 완전한 한 장의 이미지 데이터를 가지고 있는 독립적인 프레임입니다. P-프레임은 이전 프레임들을 기준으로 변경된 부분의 정보만 가지고 있어서 영상 데이터의 양이 적습니다. 따라서 GOV 길이가 길수록 I-프레임 수는 적으므로 영상 데이터의 양이 적고, GOV 길이가 짧을수록 I-프레임이 많아지므로 영상 데이터의 양은 많아집니다. GOV 길이의 최댓값은 <strong class="UI">[프로파일 속성]</strong>의 <strong class="UI">[프레임 레이트]</strong>에 따라 달라집니다.</p>
            <p>H.264 코덱이나 H.265 코덱으로 녹화파일을 설정한 경우 GOV 길이는 framerate/2가 됩니다.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>프로파일</h3>
            <p>프로파일의 코덱이 <strong class="UI">[H.264]</strong>인 경우에만 메뉴가 활성화됩니다. 프로파일은 압축할 때 사용하는 여러 가지 압축 기술을 조합해 놓은 묶음이라고 볼 수 있습니다. 한화테크윈 카메라에서 지원하는 프로파일은 <strong class="UI">[Baseline]</strong>, <strong class="UI">[Main]</strong>, <strong class="UI">[High]</strong>입니다. Baseline에서 High로 갈수록 압축 성능이 높아지고 화질이 좋아지지만, 압축을 할 때와 압축을 풀 때 시스템 리소스가 많이 사용되어 재생 기기에 부하가 생길 수 있습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>엔트로피 코딩</h3>
            <p>엔트로피 코딩은 신택스(Syntax)의 통계를 이용한 가변 길이 코딩으로 무손실 압축방식입니다.</p>
            <p>CAVLC(Context Adaptive Variable Length Coding)와 CABAC(Context Adaptive Binary Arithmetic Coding)의 두 가지 방식을 제공합니다. 단, Baseline 프로파일 일 때는 CAVLC 방식만 사용가능 합니다.</p>
            <!-- <p ng-if="EntropyCodingOptionCAVLC">CAVLC(Context Adaptive Variable Length Coding)와 CABAC(Context Adaptive Binary Arithmetic Coding)의 두 가지 방식을 제공합니다. 단, Baseline 프로파일 일 때는 CAVLC 방식만 사용가능 합니다.</p> -->
            <ul>
                <li><strong class="UI">CABAC</strong>: <!-- 데이터 처리과정이 복잡하여 시스템 리소스를 많이 사용하지만 압축률이 높습니다. -->압축률이 높지만 데이터 처리과정이 복잡하여 시스템 리소스를 많이 사용합니다.</li>
                <li><strong class="UI">CAVLC</strong>: <!-- 데이터 처리과정이 CABAC에 비해 단순하여 시스템 리소스를 적게 사용하지만 압축률이 상대적으로 낮습니다. -->CABAC에 비해 압축률이 낮지만, 데이터 처리과정이 단순하여 시스템 리소스를 적게 사용합니다.</li>
                <!-- <li ng-if="EntropyCodingOptionCAVLC"><strong class="UI">CAVLC</strong>: CABAC에 비해 압축률이 낮지만, 데이터 처리과정이 단순하여 시스템 리소스를 적게 사용합니다.</li> -->
            </ul>
        </div>

        <!-- MaxSmartCodecArea > 0 -> MaxSmartCodecAreaByChannel로 수정. 김주희 선임님 가이드. PNM-9030V.  2010-01-17 -->
        <div class="wn5-setup-section-article-content" ng-if="MaxSmartCodecArea > 0 || MaxSmartCodecAreaByChannel">
            <h3><a class="wn5-online-help-link" name="smartcodec"></a>스마트 코덱 </h3>
            <p>스마트 코덱 사용 여부를 설정합니다. 스마트 코덱은 영상에서 사용자가 관심 있는 영역은 압축율을 낮춰 고화질로 출력하고 그 외 부분은 압축율을 높여 일반 화질로 출력하여, 전체 영상 데이터 크기를 줄이는 한화테크윈의 고유 기술입니다. 스마트 코덱은 <strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[CBR]</strong>일 때만 활성화됩니다.</p>
          
            <p>스마트 코덱 관심 영역은 <strong class="UI">[비디오 및 오디오]</strong>&gt;<a class="wn5-online-help-link" href="../video&audio/smartCodec.html" ng-href="#/help/videoAudio_smartCodec"><strong class="UI">[스마트 코덱]</strong></a>에서 설정할 수 있습니다. </p>
        </div>
            
        <div class="wn5-setup-section-article-content" ng-if="DynamicGOVSupport">
            <h3>다이내믹 GOV</h3>
            <p>다이내믹 GOV 기능을 현재 설정 중인 프로파일에 적용하려면 <strong class="UI">[사용]</strong>을 선택합니다. </p>
            <p>다이내믹 GOV는 영상 상황에 따라 GOV 길이가 최소 GOV 길이의 설정값에서부터 최대 다이내믹 GOV 설정값까지 자동으로 변경되는 기능입니다. 움직임이 거의 없는 영상에서는 GOV가 <strong class="UI">[다이내믹 GOV]</strong>에서 사용자가 설정한 값으로 동작하여 전체 영상의 비트레이트가 줄어듭니다. 움직임을 감지하면 그 직후 I프레임이 출력되며 이 후 움직임이 사라질 때까지 GOV가 <a class="wn5-online-help-link" href="#GOV" ng-href="#/help/basic_videoProfile?#GOV"><strong class="UI">[GOV 길이]</strong></a>의 설정값으로 동작하게 됩니다.  </p>
            <ul>
                <li>영상에 움직임이 없을 때 적용할 최대 GOV 길이값을 입력합니다. 입력값의 범위는 <strong class="UI">[GOV 길이]</strong> 옆에 표시됩니다. <strong class="UI">[GOV 길이]</strong>에 입력한 값이 최솟값이 되고, 최댓값은 480으로 <strong class="UI">[프로파일 속성]</strong>의 <strong class="UI">[프레임 레이트]</strong>에 따라 달라집니다.</li>
            </ul>
        </div>

        <div class="wn5-online-help-info" ng-if="DynamicGOVSupport">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>

            <ul>
                <li>와이즈 스트림 기능을 사용하는 경우, 다이내믹 GOV와 다이내믹 FPS 기능을 사용하면 와이즈 스트림 성능이 최적화됩니다. 와이즈 스트림은 <strong class="UI">[비디오 및 오디오]</strong> &gt; <strong class="UI">[와이즈 스트림]</strong> 메뉴에서 설정할 수 있습니다.</li>
                <li ng-if="ATCModes">다이내믹 GOV는 <strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[VBR]</strong>이거나 <strong class="UI">[ATC 모드]</strong>를 <strong class="UI">[사용 안 함]</strong>으로 설정한 경우에만 활성화됩니다. <strong class="UI">[프로파일 타입]</strong>이 <strong class="UI">[에지 저장 프로파일]</strong>로 설정한 경우는 다이내믹 GOV를 사용할 수 없습니다.</li>
                <li ng-if="!ATCModes">다이내믹 GOV는 <strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[VBR]</strong>으로 설정한 경우에만 활성화됩니다. <strong class="UI">[프로파일 타입]</strong>이 <strong class="UI">[에지 저장 프로파일]</strong>로 설정한 경우는 다이내믹 GOV를 사용할 수 없습니다.</li>
            </ul>
		</div>
		    
        <div class="wn5-setup-section-article-content" ng-if="DynamicFPSSupport">
            <h3>다이내믹 FPS</h3>
            <p>다이내믹 FPS 기능을 현재 설정 중인 프로파일에 적용하려면 <strong class="UI">[사용]</strong>을 선택합니다. </p>
            <p ng-if="!SupportAutoImageAlignment">다이내믹 FPS(Dynamic FPS)는 영상 상황에 따라 최소 FPS 설정값부터 프레임 레이트 설정값까지 자동으로 변경되는 기능입니다. 움직임이 거의 없는 영상에서는 FPS가 최소 FPS의 설정값으로 동작하게 되어 전체 영상의 비트레이트가 줄어들게 됩니다. 움직임을 감지하게 되면 FPS 값을 증가시켜서 동작합니다.</p>
            <p ng-if="SupportAutoImageAlignment">다이내믹 FPS(Dynamic FPS)는 영상 상황에 따라 1 FPS부터 프레임 레이트 설정값까지 자동으로 변경되는 기능입니다. 움직임이 거의 없는 영상에서는 1 FPS로 동작하게 되어 전체 영상의 비트레이트가 줄어들게 됩니다. 움직임을 감지하게 되면 FPS 값을 증가시켜서 동작합니다.</p>
        </div>
        <!-- PNM-9030V 모델에서만 최소 FPS 항목이 웹에서 보이지 않음. 웹팀에서 분기 코드를 생성하기 어려워 9030용 분기 코드를 적용해 둠. 참고할 것 --> 
        <!-- PNM-9030V 변경점에서 최소 FPS 값은 1로 고정되나 최소 FPS 메뉴가 보임. !SupportAutoImageAlignment && DynamicFPSSupport ->DynamicFPSSupport로 수정함. TW 자체. 2020-01-17 참고할 것.
        재확인하니 minimum fps가 ui에서 제거되어 분기 코드 DynamicFPSSupport -> !SupportAutoImageAlignment && DynamicFPSSupport로 롤백함. 2020-01-29 -->    
        <div class="wn5-setup-section-article-content" ng-if="!SupportAutoImageAlignment && DynamicFPSSupport">
            <h3>최소 FPS</h3>
            <p>다이내믹 FPS가 작동할 때 적용할 최소 FPS 값을 입력합니다. </p>
            <p>최소 FPS 값이 1일 때는 <strong class="UI">[최소 FPS]</strong> 옵션이 보이지 않습니다. </p>
        </div>

        <div class="wn5-online-help-info" ng-if="DynamicGOVSupport && DynamicFPSSupport">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>

            <ul>
                <li>와이즈 스트림 기능을 사용하는 경우, 다이내믹 GOV와 다이내믹 FPS 기능을 사용하면 와이즈 스트림 성능이 최적화됩니다. 와이즈 스트림은 <strong class="UI">[비디오 및 오디오]</strong> &gt; <strong class="UI">[와이즈 스트림]</strong> 메뉴에서 설정할 수 있습니다.</li>
                <li ng-if="ATCModes">다이내믹 FPS는 <strong class="UI">[코덱]</strong>을 <strong class="UI">[H.264]</strong>나 <strong class="UI">[H.265]</strong>로 선택하고 <strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[VBR]</strong>일 때만 활성화됩니다. 또한 <strong class="UI">[ATC 모드]</strong>를 <strong class="UI">[사용 안 함]</strong>으로 설정한 경우에만 활성화됩니다. <strong class="UI">[프로파일 타입]</strong>이 <strong class="UI">[에지 저장 프로파일]</strong>로 설정한 경우는 다이내믹 GOV를 사용할 수 없습니다. </li>
                <li ng-if="!ATCModes">다이내믹 FPS는 <strong class="UI">[코덱]</strong>을 <strong class="UI">[H.264]</strong>나 <strong class="UI">[H.265]</strong>로 선택하고 <strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[VBR]</strong>일 때만 활성화됩니다. <strong class="UI">[프로파일 타입]</strong>이 <strong class="UI">[에지 저장 프로파일]</strong>로 설정한 경우는 다이내믹 GOV를 사용할 수 없습니다. </li>
            </ul>
		</div>
        <div class="wn5-online-help-info" ng-if="!DynamicGOVSupport && DynamicFPSSupport">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>

            <ul>
                <li>와이즈 스트림 기능을 사용하는 경우, 다이내믹 FPS 기능을 사용하면 와이즈 스트림 성능이 최적화됩니다. 와이즈 스트림은 <strong class="UI">[비디오 및 오디오]</strong> &gt; <strong class="UI">[와이즈 스트림]</strong> 메뉴에서 설정할 수 있습니다.</li>
                <li>다이내믹 FPS는 <strong class="UI">[코덱]</strong>을 <strong class="UI">[H.264]</strong>나 <strong class="UI">[H.265]</strong>로 선택하고 <strong class="UI">[비트 레이트 제어 방식]</strong>이 <strong class="UI">[VBR]</strong>일 때만 활성화됩니다.</li>
            </ul>
		</div>
	
	</div>
</div>
            
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>멀티캐스트</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>멀티캐스트는 한 대의 카메라에서 발생한 영상을 연결된 여러 대의 장비에 보낼 때 사용합니다. 현재 설정 중인 프로파일에서 RTSP (Real Time Streaming Protocol) 프로토콜을 사용할 지 여부를 설정하고 세부 정보를 입력합니다. </p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>멀티캐스트 (RTSP)</h3>
            <p>RTSP 프로토콜을 사용하여 영상을 전송하려면 <strong class="UI">[사용]</strong>을 선택합니다. </p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>IP 주소</h3>
        <!-- 수정.  2019-01-14. XNO-L6120R       <p>IPv4망에서 접속 가능한 IPv4 주소를 입력합니다. 멀티캐스트 주소를 224.0.0.0 ~ 224.0.0.255 로 설정하는 경우 특정 환경에서 멀티캐스트가 되지 않을 수 있습니다. 문제 발생 시 멀티캐스트 주소를 변경하여 사용하세요.</p>  -->
        <p>IPv4망에서 접속 가능한 IPv4 주소를 입력합니다. 멀티캐스트 IP 주소 범위는 224.0.0.0부터 239.255.255.254까지 설정할 수 있습니다. 단, 끝자리에 255를 사용할 수 없습니다.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>포트</h3>
            <p>영상 전송을 제어하는 포트를 설정합니다. 멀티캐스트 RTSP 포트의 범위는 1024부터 65534이며, 범위 중 짝수만 가능합니다. (단, 3702 포트는 사용할 수 없습니다.)</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>TTL</h3>
            <p>RTSP 패킷의 TTL을 설정할 수 있습니다. TTL 값은 0에서 255 사이의 수만 입력할 수 있습니다.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">