<div class="wrapper wrapper-content ng-hide" ng-show="pageLoaded">
    <wn5-setup-main-title
        data-title="lang_setup">
    </wn5-setup-main-title>
    <hr class="wn5-setup-hr">

    <section class="wn5-setup-section form-group">
        <div class="wn5-setup-section-heading">
            <label>
                {{ 'lang_peoplecounting' | translate }}
            </label>
        </div>
        <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <input type="checkbox" ng-model="countingRuleSection.peopleCountingEnable">
                <label>
                    {{ 'lang_enable' | translate }}
                </label>
            </div>
        </div>
    </section>

    <section id="pc-realtime-live">
        <figure class="pc-realtime-video">
            <!-- <div id="pc-round-rule-guide"></div> -->
            <svg 
                width="640" 
                height="480" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink"
                id="pc-realtime-live-svg"
                ng-show="currentTapStatus[0] === true"></svg>
            <canvas
                width="640" 
                height="480"
                id="pc-realtime-calibration"
                ng-show="currentTapStatus[1] === true"></canvas>
            <kind_stream class="channel-content" kindplayer="playerdata"></kind_stream>
        </figure>
    </section>

    <!-- <section class="pc-n-hm-section">
        <p class="pc-round-rule-guide">
            {{"lang_peoplecount_guideline_msg" | translate }}
        </p>
    </section> -->


    <section id="pc-setup-counting" class="pc-n-hm-section">
        <!-- <div class="pc-n-hm-grid-2">
            <h2 class="pc-n-hm-heading-lv2">{{ lang.realTime.counting.title | translate }}</h2>
        </div> -->
        <article class="pc-statistics-dialog"
            ng-if="countingSection.isDisabledAllRule || countingSection.isPeopleCountDisabled">
            <div class="pc-statistics-dialog-title">
                <p>
                    <span class="tui tui-wn5-toolbar-status"></span>
                    <span ng-if="countingSection.isDisabledAllRule">
                        {{lang.realTime.undefined.title | translate}}
                    </span>
                    <span ng-if="countingSection.isPeopleCountDisabled">
                        {{lang.realTime.peopleCountDisalbed | translate}}
                    </span>
                </p>
            </div>
        </article>
        <div class="pc-setup-counting-table">

            <table 
                class="pc-n-hm-table table-bordered text-center wn5-setup-table"
                ng-hide="countingSection.isDisabledAllRule"
                ng-if="!countingSection.isPeopleCountDisabled">
                <colgroup>
                    <col class="pc-n-hm-per-10">
                    <col class="pc-n-hm-per-50">
                    <col class="pc-n-hm-per-20">
                    <col class="pc-n-hm-per-20">
                </colgroup>
                <thead>
                    <tr class="active">
                        <th class="text-center">{{ lang.realTime.counting.no | translate }}</th>
                        <th class="text-center">{{ lang.realTime.counting.ruleName | translate }}</th>
                        <th class="text-center">{{ lang.realTime.counting.in | translate }}</th>
                        <th class="text-center">{{ lang.realTime.counting.out | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in countingSection.todayRuleData track by $index">
                        <td>{{item.index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.in}}</td>
                        <td>{{item.out}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="wn5-setup-tab">
        <ul class="wn5-setup-tab-list">
            <li class="wn5-setup-tab-item">
                <button 
                    ng-class="{'active': currentTapStatus[0] === true }"
                    ng-click="changeTabStatus(0)" 
                    type="button">
                    {{lang.ruleSetup.title | translate}}
                </button>
            </li>
            <li class="wn5-setup-tab-item">
                <button 
                    ng-class="{'active': currentTapStatus[1] === true }"
                    ng-click="changeTabStatus(1)" 
                    type="button">
                    {{lang.calibration.title | translate}}
                </button>
            </li>
        </ul>
        <div class="wn5-setup-tab-content wn5-setup-tab-content-use-padding">
            <div ng-if="currentTapStatus[0] === true">
                <section id="pc-setup-counting-rule" class="form-group wn5-setup-section">
                    <div class="wn5-setup-section-heading">
                        <label>{{ lang.ruleSetup.countingRule.title | translate }}</label>
                        <button 
                                type="button" 
                                class="pc-question-button tui tui-ch-live-info" 
                                ng-click="countingRuleSection.openRuleGuide()">
                        </button>
                    </div>
                    <div class="wn5-setup-section-article">
                        <div class="wn5-setup-section-article-content">
                            <table class="pc-n-hm-table table-bordered text-center wn5-setup-table">
                                <colgroup>
                                    <col class="pc-n-hm-per-10">
                                    <col class="pc-n-hm-per-10">
                                    <col class="pc-n-hm-per-80">
                                </colgroup>
                                <thead>
                                    <tr class="active">
                                        <th class="text-center">{{ lang.ruleSetup.common.use | translate }}</th>
                                        <th class="text-center">{{ lang.ruleSetup.countingRule.no | translate }}</th>
                                        <th class="text-center">{{ lang.ruleSetup.countingRule.ruleName | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="num in [0,1]">
                                        <td>
                                            <button 
                                                type="button" 
                                                class="pc-btn-background-none"
                                                ng-click="countingRuleSection.changeUseState(num)"
                                                ng-class="{'pc-btn-background-none-selected': countingRuleSection.data[num].use}">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </td>
                                        <td>{{num + 1}}</td>
                                        <td>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                maxlength="15" 
                                                ng-model="countingRuleSection.data[num].name"
                                                ng-pattern-restrict="{{countingRuleSection.regExp}}"
                                                ng-disabled="countingRuleSection.data[num].use !== true">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <pc-setup-report page-type="pc"></pc-setup-report>
            </div>
            <div ng-if="currentTapStatus[1] === true">
                <section 
                    id="pc-setup-collapse-calibration"
                    class="pc-n-hm-section">
                    <section class="form-group wn5-setup-section pc-setup-collapse-calibration-cameraheight">
                        <div class="wn5-setup-section-heading">
                            <h3>
                                <input 
                                    type="radio" 
                                    name="calibration_type"
                                    ng-change="calibrationSection.changeCalibrationMode()"
                                    ng-model="calibrationSection.calibrationMode"
                                    ng-value="calibrationSection.calibrationModeOptions[0]">
                                {{ 'lang_cameraHeight' | translate }}
                            </h3>
                        </div>
                        <div class="wn5-setup-section-article">
                            <div class="wn5-setup-section-article-content slider-fields">
                                <div style="width: 300px;">
                                    <live_slider
                                        live-slider-property="calibrationSection.cameraHeightOptions"
                                        live-slider-model="calibrationSection.cameraHeight">
                                    </live_slider>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="wn5-setup-section form-group">
                        <div class="wn5-setup-section-heading">
                            <h3>
                                <input 
                                    type="radio" 
                                    name="calibration_type"
                                    ng-change="calibrationSection.changeCalibrationMode()"
                                    ng-model="calibrationSection.calibrationMode"
                                    ng-value="calibrationSection.calibrationModeOptions[1]">
                                {{ 'lang_size' | translate }}
                            </h3>
                        </div>
                        <div class="wn5-setup-section-article">
                            <div class="wn5-setup-section-article-content">
                                <p ng-bind-html="lang.calibration.usage"></p>
                            </div>
                            <div class="wn5-setup-section-article-content">
                                <figure id="pc-setup-collapse-calibration-icon"></figure>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>

    <hr class="wn5-setup-hr">

    <div class="pc-n-hm-delete-data">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
        <!-- 
        pcCameraManagement Directive uses its parent scope.
        scope.pcCameraManagement of pcCameraManagement Directive is used in parent Controller.
        -->
        <pc-camera-management 
            page-type="pc"
            ng-hide="currentTapStatus[1]">
        </pc-camera-management>
    </div>
</div>