<h1 class="wn5-setup-main-title">ビデオチャンネル</h1>

<div class="wn5-setup-section">
    <p>様々な魚眼ビュータイプのうち、特定タイプに固定されたチャンネルを追加できます。</p>
    <p>設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h3>ビデオチャンネル</h3>
    </div>

    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>ビデオチャンネルを追加すると、ライブ画面で特定ビュータイプを選択して表示できます。様々な魚眼ビュータイプがあり、[ビデオチャンネル]でビュータイプを追加すると、[ライブ]ページで選択したビュータイプのプロファイルのみ選択して表示できます。</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>ビデオチャンネル追加</h4>
                <ol>
                    <li><strong class="UI">[追加]</strong>ボタンをクリックします。</li>
                <li><strong class="UI">[魚眼ビュータイプ]</strong>カラムのドロップダウンメニューでビュータイプを選択します。</li>
                </ol>
            <p><strong class="UI">[すべて削除]</strong>ボタンをクリックすると、設定したすべてのビデオチャンネルのビュータイプが削除されます。</p>
        </div>

			<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>

            <ul>
                <li>ビデオチャンネルは2つまで設定することができます。</li>
                <!-- <li>チャンネルビュータイプで[シングルパノラマ]と[ダブルパノラマ]を重複して設定できません。 &nbsp;&nbsp;</li> -->
                <li>ビデオチャンネルビューのタイプを設定する時、[シングルパノラマ]と[ダブルパノラマ]は同時に追加できません。また[Q1]、[Q2]、[Q3]、[Q4]タイプの中の一つと[クワドビュー]を同時に追加することもできません。（一部のカメラモデルには適用されません。） </li>
                <li>[ビデオチャンネル]で魚眼ビュータイプを追加しても<strong class="UI">[<a href="../basic/profile.html" ng-href="#/help/basic_videoProfile?#">ビデオプロファイル</a>]</strong>に該当ビュータイプを対応するプロファイルがない場合、[ライブ]ページで再生できません。</li>
                <li>ビデオチャンネルの設定を変更すると、カメラが再起動します。</li>
            </ul>
		</div>
    </div>
</div>

<hr class="wn5-setup-hr">