

<h1 class="wn5-setup-main-title">外部 PTZ</h1>
<div class="wn5-setup-section">
    <p>用户可通过与 RS-485 或 RS-422 终端相连的平移/倾斜接收器，对 PTZ 控制进行设置。您可以设置预设或为与摄像机相连的平移/倾斜接收器设置通讯模式。</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>预设</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>预设是指摄像机视图的设置。可以设置 128 个预设项。 </p>
        </div>
        <div class="wn5-online-help-action">
    	   <h4>设置预设</h4>
            <ol>
                <li>单击 PTZ 控制屏幕中的按钮，可扩大摄像机图像，也可单击并拖动按钮，调整摄像机视图。</li>
                <li>从<strong class="UI">[编号]</strong>中选择预设数。</li>
                <li>在<strong class="UI">[名称]</strong>中输入对应的预设名称。</li>
                <li>单击<strong class="UI">[添加]</strong>按钮。</li>
            </ol>
    	</div>
        <div class="wn5-online-help-action">
            <h4>移动至预设</h4>
            <ol><!-- 항목을 추가하려면 <li>텍스트</li> 형태로 입력하세요 --><li>从<strong class="UI">[编号]</strong>中选择预设数。</li>
                <li>单击<strong class="UI">[移动]</strong>按钮，摄像机视图将移动至已设定的位置。</li>
            </ol>
        </div>
        <div class="wn5-online-help-action">
            <h4>删除预设</h4>
            <ol><!-- 항목을 추가하려면 <li>텍스트</li> 형태로 입력하세요 --><li>从<strong class="UI">[编号]</strong>中选择想要删除的预设编号。</li>
                <li>单击<strong class="UI">[移除]</strong>按钮时，该预设将被移除。</li>
            </ol>
        </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="group"></a>串口设置 </h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>可以设置外部平移/倾斜接收器的连结值。完成设置后，单击页面底部的<strong class="UI">[应用]</strong>按钮。</p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>协议 </h3>
            <p>可以选择接收器和摄像机的通讯协议。</p>
        </div>
 
        <div class="wn5-setup-section-article-content">
            <h3>摄像机 ID </h3>
            <p>将显示摄像机 ID。不能将其更改为固定值。</p>
        </div>
 
        <div class="wn5-setup-section-article-content">
            <h3>传输速率 </h3>
            <p>设置 RS-485 的连接速度。</p>
        </div>
			
        <div class="wn5-setup-section-article-content">
            <h3>数据位 </h3>
            <p>设置数据位。</p>
        </div>
			
        <div class="wn5-setup-section-article-content">
            <h3>奇偶校验位  </h3>
            <p>设置奇偶校验位，检查数据传输处理错误。</p>
        </div>
			
        <div class="wn5-setup-section-article-content">
            <h3>停止位</h3>
            <p>设置停止位，停止位是指字符的结尾。</p>
        </div>
        <h3>ONVIF 焦点移动 </h3>
        <p>如需通过 ONVIF 协议进行摄像机调焦设置，可选择<strong class="UI">[启用]</strong>。</p>
            </div>
		
		
		</div>
<hr class="wn5-setup-hr">