<form name="errorForm" method="get" class="form-horizontal" novalidate>
    <div class="modal-header modal-setup">
        <h3 class="applyColor">{{ headerMessage | translate }}</h3>
    </div>    
    <div class="modal-body modal-setup" style="text-align:center">
        <h5>{{ errorMessage | translate }}</h5>        
    </div>                 
    <div class="modal-footer modal-setup" style="text-align:center">
        <button type="button" class="btn btn-primary" type="button" ng-click="ok()">{{ 'lang_ok' | translate }}</button>           
    </div>
</form>