<form name="handoverForm" method="get" class="form-horizontal" novalidate>
    <div class="modal-header modal-setup">
        <h3>{{ 'lang_AddCamera' | translate}}</h3>
    </div>    
    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_IPType' | translate }}</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="UserList.IPType"><option ng-selected="UserList.IPType == Type" value={{Type}} ng-repeat="Type in IPTypes">{{getTranslatedOption(Type)}}</option></select>                                                                                                             
        </div>
    </div>
    <div class="modal-body modal-setup" ng-if="UserList.IPType == IPTypes[0]">
        <label class="col-sm-3 control-label">{{ 'lang_IPAddress' | translate }}</label>                                                                                        
        <div class="col-sm-6">
            <input 
                type="text" 
                class="form-control" 
                ng-model="UserList.IPV4Address" 
                ng-pattern-restrict="{{IPv4PatternStr}}"
                required maxlength="{{MaxIPV4Len}}"
                ng-trim="true">
        </div>               
    </div>
    <div class="modal-body modal-setup" ng-if="UserList.IPType == IPTypes[1]">
        <label class="col-sm-3 control-label">{{ 'lang_IPAddress' | translate }}</label>                                                                                        
        <div class="col-sm-6">
            <input 
                type="text" 
                class="form-control" 
                ng-model="UserList.IPV6Address" 
                ng-pattern-restrict="{{IPv6PatternStr}}" 
                required 
                maxlength="{{MaxIPV6Len}}"
                ng-trim="true">
        </div>               
    </div>
    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_port' | translate }}</label>                                                                                        
        <div class="col-sm-3">
            <input 
                type="text" 
                class="form-control" 
                name="Port" 
                ng-model="UserList.Port" 
                maxlength="{{ HttpMaxPort.toString().length }}"  
                ng-pattern-restrict="{{OnlyNumStr}}" 
                required>
        </div>               
    </div>
    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_menu_user' | translate }}</label>                                                                                        
        <div class="col-sm-6">
            <input 
                type="text" 
                class="form-control" 
                name="Username" 
                ng-model="UserList.Username" 
                required 
                minlength="{{HandoverUserMinLen}}" 
                maxlength="{{HandoverUserMaxLen}}"
                ng-pattern-restrict="{{FriendlyNameCharSetExpandedStr2}}">
        </div>
    </div>
    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_password' | translate }}</label>                                                                                        
        <div class="col-sm-6">
            <input 
                type="password" 
                class="form-control" 
                name="Password" 
                ng-model="UserList.Password" 
                required 
                minlength="{{HandoverPwdMinLen}}"
                maxlength="{{HandoverPwdMaxLen}}"
                ng-pattern-restrict="{{PasswordCharSet}}">
        </div>               
    </div>
    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_presetNo' | translate }}</label>                                                                                        
        <div class="col-sm-3">
            <input 
                type="text" 
                class="form-control" 
                name="PresetNumber" 
                ng-model="UserList.PresetNumber" 
                required 
                ng-pattern-restrict="{{OnlyNumStr}}">
        </div>
        <label class="col-lg-2 control-label" style="padding-left: 0;">({{HandoverPresetMin}} ~ {{HandoverPresetMax}})</label>
    </div>

    <div class="modal-body modal-setup"></div>         
    <div class="modal-footer modal-setup" style="text-align:center">
        <button type="button" class="btn cm-btn-point" type="button" ng-click="apply()">{{ 'lang_apply' | translate }}</button>
        <button type="button" class="btn cm-btn-dark" type="button" ng-click="cancel()">{{ 'lang_cancel' | translate }}</button>
    </div>
</form>