<div ng-cloak="" ng-controller="layoutCtrl">
    <global-navigation-bar is-setup="true" ng-if="!isDisableSideNav()"></global-navigation-bar>
    <div class="side-nav-wrapper setup-wrapper" ng-class="{'nav-opened': navOpened}" ng-if="!isDisableSideNav()">
        <div class="sid-nav-inner">
            <nav>
                <dl>
                    <dt id="setup-menu" ng-include="'views/setup/common/navigation.html'">
                    </dt>
                </dl>
            </nav>
        </div>
    </div>
    <div 
        class="main setup-wrapper wn5-setup-wrapper" 
        id="setup-main" 
        ng-class="{'nav-opened': navOpened}">
        <p id="setup-menu-title" ng-if="!isDisableSideNav()">
            <span ng-repeat="name in getMenuPath() track by $index">
                <strong ng-hide="$index == 0">&nbsp;&frasl;&nbsp;</strong>
                {{ name | translate }}
            </span>
        </p>
        <div ui-view="">
        </div>
        <button class="nav-toggle cm-btn-dark" ng-click="toggleNav(true)" ng-if="!isDisableSideNav()" type="button">
            <span class="sr-only">
                Toggle navigation
            </span>
            <i class="tui tui-menu">
            </i>
        </button>
        <!-- <div class="block loading-bar" ng-class="{'visible':isLoading}">
            <div class="spinner middle-center">
                <div class="bounce1">
                </div>
                <div class="bounce2">
                </div>
                <div class="bounce3">
                </div>
            </div>
        </div> -->
        <div class="block" id="block-main" ng-class="{'visible' : navOpened}" ng-click="toggleNav(false)">
        </div>
    </div>
    
    <loading-bar is-loading="isLoading"></loading-bar>
</div>