    <div class="sidebar-collapse" side-navigation>
        <ul class="nav metismenu" id="side-menu" ng-controller="sideMenuCtrl" >

			<li ng-repeat="menu in menuData" ng-class="activeCheck('{{menu.stateName}}')" ng-show="isShowMenu(menu.stateName)">
				<!--<a ui-sref="{{menu.stateName}}">-->
				<!--<a ui-sref="getLink('{{menu}}')">-->
				<a>
					<i class="{{ menu.iconClass }}" style="margin-left: 8px; margin-right: 0px;"></i>
					<span class="nav-label">{{ menu.name | translate }}</span>
					<span class="fa arrow" ng-if="menu.isSub"></span>
				</a>
				<ul class="nav nav-second-level"  ng-class="activeCheck('{{menu.stateName}}')" ng-if="menu.isSub" >
					<li ui-sref-active="active" ng-repeat="sub in menu.childs" ng-class="{active: $state.is('{{menu.stateName}}')}">
						<a ng-show="isShowMenu(sub.stateName)" ui-sref="{{sub.stateName}}">
							<!-- <i class="{{ sub.iconClass }}" ng-if="sub.iconClass" style="margin-right: 2px;"></i> -->
							{{ sub.name | translate}}
							<span class="fa arrow" ng-if="sub.isSub"></span>
						</a>

						<ul class="nav nav-third-level"  ng-class="activeCheck('{{sub.stateName}}')" ng-if="sub.isSub" >
							<li ui-sref-active="active" ng-repeat="sub2 in sub.childs" ng-class="{active: $state.is('{{sub.stateName}}')}">
								<a ng-if="isShowMenu(sub2.stateName)" ui-sref="{{sub2.stateName}}">{{ sub2.name | translate}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>

        </ul>

    </div>
