<div id="ptrz-control_top-box">
    {{ 'Angle' | translate }}
</div>
<div id="ptrz-control" ng-class="ptzControlClass">
    <div id="ptrz-control_left-control-box">
        <div id="ptrz-control_box_outline">
            <div id="ptrz-control_box-arrow"></div>
            <div id="ptrz-control_box">
                <div id="ptrz-control_box-hline"></div>
                <div id="ptrz-control_box-vline"></div>

                <div id="ptrz-control_move-btn">
                    <i class="tui tui-wn5-ptz-handle"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ptrz-control_bottom_box">
    <button class="cm-icon-button-s ptz-control_horizontal-item item-button" title="{{'lang_autoFocus' | translate}}" ng-mousedown="runPTR(0, 0, 50);" ng-mouseup="stopPTR()" style="float:left;">
    <i class="tui tui-wn5-return"></i>
    </button>
    <button class="cm-icon-button-s ptz-control_horizontal-item item-button" title="{{'lang_autoFocus' | translate}}" ng-mousedown="runPTR(0, 0, -50);" ng-mouseup="stopPTR()" style="float:right;">
    <i class="tui tui-wn5-return" style="transform: rotateY(180deg);"></i>
    </button>
</div>
<div class="ptrz-control_bottom_box">
    <button
            type="button"
            class="btn btn-white cm-btn-dark"
            ng-click="focusMode('Reset')" >
        {{'Auto Roll' | translate}}
    </button>
</div>