<form name="confirmForm" method="get" class="form-horizontal" novalidate>
    <div class="modal-header modal-setup">
        <h3>{{ 'lang_presetSetup' | translate}}</h3>
    </div>

    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_number' | translate }}</label>
        <div class="col-sm-6"><select class="form-control" ng-model="SelectedPTZPreset.Preset" ng-options="Option.Preset as Option.Name for Option in PTZPresetList"></select></div>
    </div>
    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_name' | translate }}</label>
        <div class="col-sm-6"><input class="form-control" type="text" ng-model="InputPTZPresetName" required ng-pattern-restrict="{{AlphaNumericStr}}" ng-maxlength="PresetNameMaxLen" maxlength="{{PresetNameMaxLen}}"></div>
    </div>

    <div class="modal-body modal-setup"></div>
    <div class="modal-footer modal-setup" style="text-align:center">
        <button type="button" class="btn cm-btn-point" type="button" ng-click="ok()">{{ 'lang_ok' | translate }}</button>
        <button type="button" class="btn cm-btn-dark" type="button" ng-click="cancel()">{{ 'lang_cancel' | translate }}</button>
    </div>
</form>