<div class="wn5-setup-section" id="setup-channel-selector">
    <div class="wn5-setup-section-heading">
        <h3>
            {{ 'lang_selectMode' | translate }}
        </h3>
    </div>
    <div class="wn5-setup-section-article setup-channel-selector-btns">
        <channel-selector></channel-selector>
        <button class="cm-str-button setup-channel-selector-info"
                ng-if="setupChannelSelector.useInfo"
                ng-click="setupChannelSelector.showInfo()">info</button>
    </div>
</div>