<div class="wn5-setup-section" id="setup-channel-selector">
    <div class="setup-channel-selector-heading" ng-if="setupChannelSelector.useChannel">
        <h3>
            {{ 'lang_select_channel' | translate }}
        </h3>
    </div>
    <div class="setup-channel-selector-btns">
        <channel-selector ng-if="setupChannelSelector.useChannel"></channel-selector>
        <button class="cm-str-button setup-channel-selector-info"
                ng-if="setupChannelSelector.useInfo"
                ng-click="setupChannelSelector.showInfo()">{{'lang_info'|translate}}</button>
    </div>
</div>