////////////////////////////////
////* Live Page Style less *////
////////////////////////////////


// .kind-responsive-live {
.kind-responsive-live {

    .cm-live-bottom-menu {
        #cm-icon-list {
            .cm-col {
                height: 50px;
            } 

            #alarm {
                margin: 0 20px;
            }

        } 
    } 

    #cm-icon-list {
        max-height: 50px;

        .cm-col {
            float: right;
            height: 50px;
        }  

        .cm-vline {
            float: left;
            width: 1px;
            height: 26px;
            border: none;
            left: calc(~"50% - 1px");
            background: #bbb;
            margin-top: 12px;
            z-index: 1;
        } 

        .alarm-volume {
            float: left;

            #alarm {
                float: left;
            }
        }

        .cm-live-controller {
            position: relative;
            max-height: 50px;
            height: 50px;
            float: left;

            li {
                margin: 0 10px;
                float: left;
            }
        }

    }

    #cm-menu-content {

        .cm-col {
            float: left;
            display: inline-table;
            margin: 0 5px;

            h2 {
                    width: auto;
            }
        }

        & > * {
            margin: 0 auto;
            max-width: 1024px;
        }


        #cm-setup {
            .cm-center {
                width: 100%;

                // > h2
                .cm-profile-sel{    
                    height: 30px;
                    line-height: 30px;
                    margin-top: -8px;
                }
            }

            .cm-setup-col {
                width: calc(~"50% - 10px");
                min-width: 400px;
                padding: 0 20px;
                margin: 10px 0;
                display: inline-table;
                text-align: left;
            }
        }

        #cm-ptz {
            .cm-center {
                width: 100%;

                & > div {
                    float: left;
                    width: 100%;
                }

                #cm-live-ptz-control {
                    float: left;
                    display: inline;
                    min-width: 230px;
                    margin-left: calc(~"20% - 115px");
                    margin-right: calc(~"20% - 115px");

                    & > div {
                        height: 160px;
                        float:left;
                        position: relative;
                    }


                    .cm-ptz-control-left {
                        width: 25px;
                        margin-right: 10px;

                        button {
                            position: absolute;
                            left: 0;
                        }

                        .cm-near {
                            top: 0;
                        }
                        /* aa34bcb: Live PTZ UI */
                        .cm-far {
                            top: 42px;
                        }

                        .cm-at {
                            .tui-ch-live-ptz-tracking-auto-on{
                                color: #f37321;
                            }
                        }

                        .cm-ptz-at{
                            top: 84px;
                        }
                        
                        .cm-home{
                            top: 126px;
                            bottom: 0;
                        }
                    }  


                    #cm-ptz-control-box {
                        width: 160px;
                        height: 160px;
                        background-color:#fff;
                        position: relative;
                        border: 1px solid #e9e9e9;
                        
                        .cm-ptz-line {
                            border: 1px dashed #e9e9e9;
                            position: absolute;
                            z-index: 1;

                            &.horizontal {
                                width: 100%;
                                height: 0;
                                top: calc(~"50% - 1px");
                                left: 0;
                            }

                            &.vertical {
                                width: 0;
                                height: 100%;
                                top: 0;
                                left: calc(~"50% - 1px");
                            }
                        }

                        #cm-ptz-control-move-btn {
                            width: 24px;
                            height: 24px;
                            line-height: 24px;
                            position: absolute;
                            top: calc(~"50% - 12px");
                            left: calc(~"50% - 12px");
                            z-index: 2;
                            font-size: 24px;
                        }
                    }  

                    .cm-ptz-control-right {
                        width: 25px;
                        margin-left: 10px;

                        button {
                            position: absolute;
                            left: 0;
                        }

                        .cm-zoom-in {
                            top: 0;
                            left: -3px;
                        }

                        .cm-zoom-out {
                            top: 0;
                            left: -3px;
                        }
                    } 

                    #cm-ptz-zoom-slider {
                        width: 2px;
                        height: 91px;
                        position: absolute;
                        top: 35px;
                        left: 7px;
                            
                        .ui-state-default {
                            left: -6px;
                        }

                        .ui-slider:hover .ui-state-default {
                            left: -7px;
                        }
                    } 
                } 

                #cm-ptz-tables {
                    width: calc(~"100% - 40%");
                    max-width: calc(~"100% - 270px");
                    min-height: 160px;
                    padding: 0 20px;
                    float: left;
                    border-left: 1px solid #e2e2e2;

                    & > div {
                        width: calc(~"50% - 20px");
                        float: left;
                        display: inline;
                        margin: 0 10px;
                        text-align: left;
                    }
                }
            } 
        } 

        #cm-status {

        }

        #cm-display-slider {
            width: 100%;
            margin-top: -5px;

            li {
                width: 100%;
                height: 34px;
                line-height: 34px;

                h3 {
                    display: inline-block;
                    width: 90px;
                    font-size: 12px;
                    color: #000;
                    font-weight: normal;
                }

                .cm-slider {
                    display: inline-block;
                    width: calc(~"100% - 220px");
                    vertical-align: top;
                }

                span[class^="cm-"] {
                    display: inline-block;
                    width: 20px;
                    margin: 1px 5px 0;
                    text-align: center;
                }

                input[type="number"] {
                    width: 50px;
                    height: 30px;
                    text-align: center;
                    padding: 0;
                    margin-top: 2px;
                    float:right;
                }
            }  

            .ui-state-default {
                top: 12px;
            }

            li[data-type="SharpnessLevel"] {
                .cm-checkbox-wrap {
                    display: inline-block;
                }

                .cm-slider {
                    width: calc(~"100% - 245px");
                }
            }
        } 
    }

    
    .live-slider-vertical-input {
        display: inline-block;
        float:left;
        position: relative;
        top: -97px;
        left: 20px;
        width: 45px;
        text-align:center;
    }

    .live-slider-horizontal-input{
        margin-top: 5px;
        position: relative;
        display: inline-block;
        width:45px;
        left: 20px;
        text-align:center
    }

    @media screen and (max-width:799px) {
        #cm-icon-list {
            max-height: none;

            .info-toggle {
                width: 100vw;
                position: absolute;
                left: 50%;
                top: 100px;
                transform: translateX(-50%);
            }

            .cm-live-controller {
                position: relative;
                max-height: 50px;
                height: 100px;

                li {
                    margin: 0 10px;
                    float: left;
                }
            }

            .alarm-volume {
                position: relative;
                transform: translateX(-50%);
                left: 50%;
            }
        }


        #cm-bottom-menu {
            &.cm-full-menu {
                height: 150px;

                &.cm-show-menu {
                    height: 310px;
                }
            }
            
            &.cm-live-bottom-menu {

                &.cm-show-menu {
                    height: 350px;
                }

                #cm-icon-list {
                    .cm-vline {
                        display: none;
                    }

                    .cm-col-100 {
                        width: 100%;
                        height: 50px;
                        float: left;
                        line-height: 50px;
                        text-align: center;
                        border-top: none;

                        li {
                            float: none;
                            display: inline-block;
                        }
                    }  

                    .cm-small-center {
                        width: auto;
                        margin: 0 auto;
                        display: inline-block;
                        float: none;
                    } 
                }  

                #cm-menu-content {
                    #cm-setup .cm-col {
                        width: 80%;

                    }


                    #cm-live-ptz-control {
                        margin: 0 20px;
                    }

                    #cm-ptz-tables {

                        & > div {
                            width: 100%;
                            margin: 0;

                            &:nth-child(2) {
                                margin-top: 20px;
                            }
                        }
                    }


                } 

                #cm-icon-list {
                    .cm-small-center {
                        width: auto;
                        margin: 0 auto;
                        float: none;

                        .cm-col {
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }

                    .cm-list-2 {
                        transform: translateY(-50px);
                    }
                } 
            } 
        } 
        
        #cm-menu-content .cm-status-wrap .cm-status-col {
            width: 80%;
            min-width: 360px;
            margin: 10px 0;
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }

        #cm-menu-content {
            #cm-setup .cm-col {
                width: 80%;
                margin: 10px 0;
            }

            .cm-profile-table,
            #cm-display-slider {
                min-width: 0;
            }
        }

        #ptz-components {
            padding: 0 20px;
            position: relative;
        }


    }

    @media(max-width: 549px) {
        #ptz-components {
            padding: 0 20px;

            & > .cm-col {
                margin: 10px 0;
                left: 50%;
                position: relative;
                transform: translateX(-50%);

                &#cm-live-ptz-control {
                    margin-top: 0px;
                }
            }

            // ptz controller with tables
            & > div {
                min-width: 400px;
                border: none !important;
                margin: 0 !important;
                padding: 0 20px !important;
                position: relative;
                left: 50%;
                transform: translateX(-50%);

                // tables
                &#cm-ptz-tables {
                    margin-top: 20px !important;
                }
            }


        } 
    } 
}