<h1 class="wn5-setup-main-title">Playback screen</h1>
<div class="wn5-setup-section">
    <p ng-if="NAS">You can import and playback a recorded image from an SD card (or microSD card) or NAS. </p>
    <p ng-if="!NAS">You can import and playback a recorded image from an SD card (or microSD card). </p>
    <p>When you click the <span class="tui tui-wn5-top-playback"></span> button on the screen, the recorded screen will appear. A time bar will appear at the bottom of the playback screen and an image recorded according to the set schedule or by an event is displayed on the time bar. You can search for a recorded image by event type or date, and capture or save it to a PC.</p>
</div>
<div class="wn5-setup-section">
    <div class="wn5-online-help-list">
    <p>You can move to the live screen, playback screen or setup screen by clicking the buttons at the top.</p>
        <ul><li><span class="tui tui-wn5-top-live"></span>(Live): Check the live image being captured by the camera and control various camera functions.</li>
            <li ng-if="NAS"><span class="tui tui-wn5-top-playback"></span>(Playback): Search and playback a recorded image from an SD card (or microSD card) or NAS.  </li>
            <li ng-if="!NAS"><span class="tui tui-wn5-top-playback"></span>(Playback): Search and playback a recorded image from an SD card (or microSD card).  </li>
            <li><span class="tui tui-wn5-top-setup"></span>(Setup): Change the camera settings.  </li>
        </ul>
    </div>

<div class="wn5-setup-section">
    <div class="wn5-online-help-info">
        <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul>
                <li>A video needs to be recorded first on the <strong class="UI">[Live]</strong> page before being able to play it.&nbsp;</li>
                <li ng-if="NAS">If there is no connection to an SD card (or microSD card) or NAS, the playback function cannot be used.  </li>
                <li ng-if="!NAS">If there is no connection to an SD card (or microSD card), the playback function cannot be used.  </li>
                <li>Connecting to the web viewer via Chrome, the record playback screen feature can be securely used.</li>
                <!-- <li>When you connect to a web viewer through Internet Explorer or Safari, the backup function can be used only after a plugin has been installed. To install the plugin, click the <span class="tui tui-wn5-download"></span> button at the top right. </li>  -->
            </ul>
    </div>
	
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Playback icons</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>The icons at the bottom of the playback screen provide the following functions: </p>
            <table class="table table-bordered wn5-setup-table">
                <thead>
                    <tr>
                        <th width="235">Icon</th>
                        <th width="235">Description of function</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="MaxChannel > 1 && !SupportAutoImageAlignment && !objectDetectionSupport && !SupportChannelExpansionFeature">
                        <td width="235">Select channel</td>
                        <td width="235">After selecting your channel, you can search or play recorded videos for each channel.</td>
                    </tr>
                    <tr ng-if="SupportChannelExpansionFeature">
                        <td width="235">Select channel</td>
                        <td width="235">
                            <p>Select a channel number to play the video recording of the selected channel.</p>
                            <p>Channel 1 is the original video from the fisheye camera. All the other channels are added and set up by users to show their preferred view modes. Camera channels can be added in <strong class="UI">[Setup]</strong>&gt;<strong class="UI">[Basic]</strong>&gt;<strong class="UI">[Video profile]</strong>.</p>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-fullscreen"></span></p>
                            <p>Full screen</p>
                        </td>
                        <td width="235">
                            <p>View the playback in full screen. To return to the previous size, click the <span class="tui tui-wn5-toolbar-fullscreen"></span> icon in full screen mode or press the <strong class="UI">[Esc]</strong> key on the keyboard.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p>Size option</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <ul>
                                <li>The size changes to the next size each time you click it. <br><span class="tui tui-ch-live-view-fit"></span>(Fit): View the camera image in the same size as the web browser viewing window.  </li>
                                <li><span class="tui tui-ch-live-view-originalsize"></span>(Original Size): View the camera image at its actual resolution.</li>
                                <li><span class="tui tui-ch-live-view-originalratio"></span>(Aspect Ratio): View the playback screen in the web browser by zooming in or out while maintaining the aspect ratio of the camera image.  </li>
                            </ul>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-capture"></span></p>
                            <p>Capture</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Capture and save a recorded image as a PNG image file. A captured image file is saved in the default recording path of each browser.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-backward"></span></p></p>
                            <p>Prev</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Move to the previous frame.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-play"></span>/<span class="tui tui-wn5-toolbar-pause"></span></p>
                            <p>Playback/Pause</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Playback or pause an image.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-forward"></span></p>
                            <p>Next</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Move to the next frame.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="235">
                            <p></p>
                            <p>Playback speed</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Set the playback speed of the screen.</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr ng-if="MaxAudioInput>0">
                        <td width="235">
                            <p><span class="tui tui-wn5-toolbar-sound"></span></p>
                            <p>Speaker</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width="235">
                            <p>Adjust the audio volume of the playback screen. <span class="tui tui-wn5-toolbar-sound"></span> Click the button to activate the audio and adjust the volume. </p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Playback a recorded image through event search</h2>
    </div>
    <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <p>You can search for a recorded image by event type. Also, if the time on the camera system has been adjusted and thus resulted in overlapping time, the video recorded during that overlapping hour can be searched. </p>
            </div>
			      <div class="wn5-online-help-action">
            <h4>To search by event and play back </h4>
            <ol>
                <li>Click the Show button on the Playback screen. If there is any video taken on the day of searching, it will be displayed on the time bar.</li>
                <li>To search by event type, click the <strong class="UI">[All]</strong> button at the top of the time bar and select an event you want.</li>
                <li>To search for recorded images during the overlapped time, select an overlapped section. </li>
                <li>Click the <strong class="UI">[OK]</strong> button to display the searched events on the time bar.</li>
                <li>Click the Playback button.</li>
                <li>To stop the playback, click the Pause button.</li>
            </ol>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Playback a recorded image through time search</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Search for a recorded image by selecting a date and time on the calendar. </p>
			<p>When you click the <strong class="UI">[Today]</strong> button on the time bar, only images recorded today will be searched.
		</div>
		<div class="wn5-online-help-action">
            <h4>To search by time and play back </h4>
            <ol>
                <li>Click the Show button on the Playback screen. If there is any video taken on the day of searching, it will be displayed on the time bar.</li>
                <li>Click a date on the time bar, select the date you want on the calendar, and set the start and end time.</li>
                <ul>
                    <li>When you select <strong class="UI">[All day]</strong>, the start and end time will be set automatically from 00:00:00 to 23:59:59.</li>
                </ul>
                <li>Click the <strong class="UI">[OK]</strong> button. </li>
                <li>Click the Playback button. The video of the selected time will play back. </li>
                <ul>
                    <li>If the video is already playing, the recorded time of the current video is displayed.</li>
                    <li>You can rewind or fast-forward the video and change the playback speed as necessary.</li>
                    <li>Click the left arrow button to go back by 1 frame. Click the right arrow button to go forward by 1 frame.</li>
                    <li>Click the Playback speed button to change the speed to 1x, 2x, 4x, 8x, -1x, -2x, -4x, or -8x. As the speed changes, you can set the desired playback speed.</li>
                    <li>Move the button along the time bar to play back the video of the desired time. </li>
                </ul>
            </ol>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr" ng-if="BrowserBackup == undefined || BrowserBackup">
<div class="wn5-setup-section"  ng-if="BrowserBackup == undefined || BrowserBackup">
    <div class="wn5-setup-section-heading">
        <h2>Recorded video save</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Recorded videos can be saved to files. </p>
        </div>
        <div class="wn5-online-help-action">
                <h4>To save a video</h4>
                <ol>
                    <li>Click the <strong class="UI">[Export]</strong> button.</li>
                    <li>In <strong class="UI">[Time]</strong>, set the Start time and End time for the video to save.</li>
                    <li>From <strong class="UI">[Type]</strong>, select the file type you want.</li>
                    <ul>
                        <li>AVI: Saves in .avi.</li>
                        <li>ZIP: Saves in .zip. You can set a password for your files. You need to enter this password to unzip those files in order to play videos. (The password setup function for recorded videos is not available in some camera models.)</li>
                    </ul>
                    <li>Click the <strong class="UI">[OK]</strong> button.</li>
                </ol>
            </div>
    </div>
</div>

<hr class="wn5-setup-hr">