@theme: "uwa20-default";
@theme-path: "../@{theme}/main.less";

@import "@{theme-path}";

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

section {
  overflow: hidden;
}

article {
  padding: 20px;
  overflow: hidden;
}

h1 {
  padding: 0 20px;
}

h2 {
  padding: 0 10px;
}

.contents {
  overflow: hidden;
  padding: 10px;
}

.color-box {
  width: 20px;
  height: 20px;
  border: solid 1px #ddd;
  float: left;

  //View Point
  &.theme-color-point-dark {
    background-color: @theme-color-point-dark;
  }
  &.theme-color-point-100 {
    background-color: @theme-color-point-100;
  }
  &.theme-color-point-60 {
    background-color: @theme-color-point-60;
  }
  &.theme-color-point-10 {
    background-color: @theme-color-point-10;
  }

  //Gray Color
  &.theme-color-gray-100 {
    background-color: @theme-color-gray-100;
  }
  &.theme-color-gray-75 {
    background-color: @theme-color-gray-75;
  }
  &.theme-color-gray-50 {
    background-color: @theme-color-gray-50;
  }
  &.theme-color-gray-33 {
    background-color: @theme-color-gray-33;
  }
  &.theme-color-gray-25 {
    background-color: @theme-color-gray-25;
  }
  &.theme-color-gray-12 {
    background-color: @theme-color-gray-12;
  }
  &.theme-color-gray-7 {
    background-color: @theme-color-gray-7;
  }
  &.theme-color-gray-2 {
    background-color: @theme-color-gray-2;
  }

  &.theme-color-white {
    background-color: @theme-color-white;
  }

  //Black Color
  &.theme-color-black-100 {
    background-color: @theme-color-black-100;
  }
  &.theme-color-black-90 {
    background-color: @theme-color-black-90;
  }
  &.theme-color-black-85 {
    background-color: @theme-color-black-85;
  }
  &.theme-color-black-80 {
    background-color: @theme-color-black-80;
  }

  //Pallet for simular feeling
  &.theme-color-pallet-red {
    background-color: @theme-color-pallet-red;
  }
  &.theme-color-pallet-orange {
    background-color: @theme-color-pallet-orange;
  }
  &.theme-color-pallet-yellow {
    background-color: @theme-color-pallet-yellow;
  }
  &.theme-color-pallet-green {
    background-color: @theme-color-pallet-green;
  }
  &.theme-color-pallet-blue {
    background-color: @theme-color-pallet-blue;
  }
  &.theme-color-pallet-sky-blue {
    background-color: @theme-color-pallet-sky-blue;
  }
  &.theme-color-pallet-purple {
    background-color: @theme-color-pallet-purple;
  }
  &.theme-color-pallet-pink {
    background-color: @theme-color-pallet-pink;
  }
}