<h1 class="wn5-setup-main-title"><a class="wn5-online-help-link"></a>D&eacute;tection de mouvement</h1>
<div class="wn5-setup-section">
    <p>Un &eacute;v&eacute;nement de d&eacute;tection de mouvement peut &ecirc;tre cr&eacute;&eacute; lorsqu&apos;une zone de d&eacute;tection de mouvement et la zone exclue sont d&eacute;finies et qu&apos;un mouvement est d&eacute;tect&eacute; &agrave; l&apos;int&eacute;rieur de la zone d&eacute;finie par l&apos;utilisateur. Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page.</p>
    <p>La configuration de l&apos;&eacute;v&eacute;nement de d&eacute;tection de mouvement s&apos;applique &agrave; <strong class="UI">[D&eacute;tection de mouvement]</strong> sur les pages <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[Config. évén.]</strong></a> de la m&ecirc;me mani&egrave;re.</p>
</div> 

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
    <div class="wn5-setup-section-heading">
        <h2><a name="channel">S&eacute;lectionner un canal</a></h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Apr&egrave;s avoir s&eacute;lectionn&eacute; le canal de votre cam&eacute;ra, vous pouvez d&eacute;finir les d&eacute;tails de D&eacute;tection de mouvement pour chaque canal. </p>
            <p ng-if="HandoverCalibration && SupportAutoImageAlignment">Le dernier num&eacute;ro de canal s&eacute;lectionn&eacute; sur la page Direct ou Lecture est automatiquement s&eacute;lectionn&eacute;.</p>
            <p ng-if="objectDetectionSupport">La transmission Live (direct) s'affiche sur le canal 1 tandis que la vidéo PTZ numérique s'affiche sur le canal 2. Vous ne pouvez configurer [Détection de mouvement] que sur le canal 1.</p>
            <p ng-if="HandoverCalibration">Le canal de cam&eacute;ra fixe est affich&eacute; sous la forme d&rsquo;un num&eacute;ro et le canal PTZ est affich&eacute; sous la forme « PTZ ».</p>
            <p ng-if="SupportAutoImageAlignment">CAN2 &agrave; CAN5 correspondent aux vid&eacute;os des cam&eacute;ras install&eacute;es ind&eacute;pendamment. CAN1 correspond &agrave; une vue panoramique sur plusieurs &eacute;crans de cam&eacute;ra de CAN2 &agrave; CAN5 dispos&eacute;s en rang&eacute;e. CAN6 et CAN7 correspondent aux vid&eacute;os de la vid&eacute;o CAN1 &agrave; laquelle le PTZ num&eacute;rique est appliqu&eacute;.</p>
            <p ng-if="SupportAutoImageAlignment">« D&eacute;tection de mouvement » peut seulement &ecirc;tre d&eacute;fini sur CAN1.</p>
            <p ng-if="MultiImager">La transmission Live (direct) s'affiche sur le canal 1 tandis que la vidéo PTZ numérique s'affiche sur le canal 2 et le canal 3.  Vous ne pouvez configurer [Détection de mouvement] que sur le canal 1.</p>
            <!-- <p ng-if="SupportChannelExpansionFeature">Le mode d&rsquo;affichage de chaque canal est d&eacute;crit ci-dessous. “&nbsp;D&eacute;tection de mouvement&nbsp;” peut être configuré sur le canal 1 uniquement.</p>
            <ul ng-if="SupportChannelExpansionFeature">
                <li>Canal&nbsp;1&nbsp;: Affiche une vid&eacute;o de la cam&eacute;ra fisheye telle quelle, sans correction.</li>
                <li>Canal&nbsp;2&nbsp;: Lisse une vid&eacute;o &agrave; 360° et l&rsquo;affiche sous forme de vue panoramique murale.</li>
                <li>Canal&nbsp;3&nbsp;: Lisse une vid&eacute;o &agrave; 360° et l&rsquo;affiche sous forme de vue panoramique fractionn&eacute;e haut/bas.</li>
                <li>Canal&nbsp;4&nbsp;: Lisse 4 &eacute;crans pour les rendre similaires &agrave; la vision humaines et les affiche simultan&eacute;ment. S&eacute;lectionnez un &eacute;cran pour d&eacute;placer la vue vers le haut, le bas, la gauche, la droite ou pour un zoom avant/arri&egrave;re.</li>
                <li>Canal&nbsp;5&nbsp;: Affiche la vid&eacute;o en haut &agrave; gauche de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;6&nbsp;: Affiche la vid&eacute;o en haut &agrave; droite de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;7&nbsp;: Affiche la vid&eacute;o en bas &agrave; gauche de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;8&nbsp;: Affiche la vid&eacute;o en bas &agrave; droite de la vue Quad du canal&nbsp;4.</li>
            </ul> -->

            <!-- <p>Si vous s&eacute;lectionnez un autre canal sans appliquer les modifications apport&eacute;es au r&eacute;glage, un message d&rsquo;alarme s&rsquo;affiche.</p> -->
        </div>
    </div>
</div>	

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>D&eacute;tection de mouvement</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            
            <h3>Activer la d&eacute;tection de mouvement</h3>
            <p>Pour utiliser l&apos;&eacute;v&eacute;nement de d&eacute;tection de mouvement, s&eacute;lectionnez <strong class="UI">[Activer la d&eacute;tection de mouvement]</strong>.</p>
			</div>
			<div class="wn5-setup-section-article-content" ng-if="PTZModel">
            <h3>Type</h3>
            <p>Pour appliquer la m&ecirc;me d&eacute;tection de mouvement &agrave; tous les pr&eacute;r&eacute;glages, s&eacute;lectionnez <strong class="UI">[Global]</strong>. Pour d&eacute;finir une d&eacute;tection de mouvement diff&eacute;rente pour chaque PTZ pr&eacute;r&eacute;gl&eacute;e, s&eacute;lectionnez <strong class="UI">[Pr&eacute;r&eacute;glage]</strong>. L&apos;option <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> ne sera activ&eacute;e que lorsqu&apos;un pr&eacute;r&eacute;glage est d&eacute;fini &agrave; partir de la page <a class="wn5-online-help-link" href="../ptz/ptzInfoSetup.html" ng-href="#/help/ptzSetup_ptzInfoSetup">Configuration pr&eacute;r&eacute;gl&eacute;e</a>. Si vous sélectionnez <strong class="UI">[Préréglage]</strong> et configurez la détection de mouvement pour chaque préréglage, vous ne pourrez peut-être pas configurer certaines des fonctions dans les paramètres détaillés.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="PanTiltOnlyModel">
            <h3>Type</h3>
            <p>Pour configurer la même détection de mouvement pour chaque préréglage, sélectionnez <strong class="UI">[Global]</strong>. Pour configurer la détection de mouvement pour chaque préréglage de panoramique/inclinaison, sélectionnez <strong class="UI">[Pr&eacute;r&eacute;glage]</strong>. L&apos;option <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> sera activée seulement lorsqu’un préréglage est configuré dans la page <a class="wn5-online-help-link" href="../ptz/ptSetup.htm" ng-href="#/help/ptzSetup_ptSetup">Configuration PT</a>. Si vous sélectionnez <strong class="UI">[Préréglage]</strong> et configurez la détection de mouvement pour chaque préréglage, vous ne pourrez peut-être pas configurer certaines des fonctions dans les paramètres détaillés. </p>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
            <ul>
                <li>La zone de d&eacute;tection de mouvement et la zone exclue sont d&eacute;finies et utilis&eacute;es en fonction de la taille de la plage du mouvement.</li>
                <li>Dans les cas suivants, les performances de l&apos;&eacute;v&eacute;nement de d&eacute;tection de mouvement peuvent se d&eacute;t&eacute;riorer et un dysfonctionnement peut se produire&nbsp;: </li>
            <ul>    
                <li ng-if="SupportAutoImageAlignment">Si un mouvement se produit dans la zone où les images de la caméra se chevauchent</li>   
                <li>Si un objet a la m&ecirc;me luminosit&eacute; ou la m&ecirc;me couleur que l&apos;arri&egrave;re-plan sur l&apos;&eacute;cran </li>
                <li>Si un petit mouvement se produit pr&egrave;s du bord de l&apos;&eacute;cran </li>
                <li>Si un changement global se produit sur l&apos;&eacute;cran de mani&egrave;re continue, al&eacute;atoirement, &agrave; cause de facteurs tels que les changements de sc&egrave;ne et les changements d&apos;&eacute;clairage soudains </li>
                <li>Si un objet en mouvement s&apos;approche trop pr&egrave;s de la cam&eacute;ra </li>
                <li>Lorsqu&rsquo;un objet cache un autre objet </li>
                <li>Lorsque le mouvement d&apos;un objet est trop rapide </li>
                <li>Lorsqu&rsquo;une lumi&egrave;re vive, telle que la lumi&egrave;re directe du soleil, un &eacute;clairage fort ou les phares d&apos;un v&eacute;hicule, cr&eacute;e des reflets, flou ou des ombres </li>
                <li>En cas de forte neige, de pluie abondante ou de vents violents, ou de coucher ou lever de soleil.</li>
            </ul>
        </ul>
        </div>

</div>
</div>
<div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
        <h2>Zone d'inclusion</h2>
    </div>

    <div class="wn5-setup-section-article">

        <div class="wn5-setup-section-article-content">
            <p>La zone d&eacute;sign&eacute;e par l&apos;utilisateur est d&eacute;finie comme la zone de d&eacute;tection de mouvement.</p>
        </div>
            <div class="wn5-online-help-action">
            <h4>D&eacute;finir une zone</h4>
            <p>Lorsque vous s&eacute;lectionnez 4&nbsp;coins d&apos;une image avec la souris, cela est d&eacute;fini comme la zone de d&eacute;tection de mouvement et la couleur des boutons num&eacute;riques change dans <strong class="UI">[Zone]</strong>. Il est possible de r&eacute;gler jusqu&apos;&agrave; 8&nbsp;zones et le niveau et la sensibilit&eacute; peuvent &ecirc;tre r&eacute;gl&eacute;s s&eacute;par&eacute;ment pour chaque zone de d&eacute;tection de mouvement.</p>
        </div>
            <div class="wn5-online-help-action">
            <h4>Modifier une zone</h4>
			<p>Vous pouvez modifier la taille d&apos;une zone de d&eacute;tection de mouvement en d&eacute;pla&ccedil;ant un coin de la zone de d&eacute;tection de mouvement. Pour d&eacute;placer une zone de d&eacute;tection de mouvement, cliquez sur la zone correspondante avec la souris et faites la glisser.</p>
			        </div>
            <div class="wn5-online-help-action">
            <h4>Supprimer une zone</h4>
			<p>Pour supprimer une zone de d&eacute;tection de mouvement, cliquez sur le bouton droit de la souris dans la zone de l&apos;&eacute;cran correspondante et cliquez sur le bouton <strong class="UI">[OK]</strong> dans la fen&ecirc;tre confirmer la suppression.</p>
        </div>
        <div class="wn5-online-help-action" ng-if="PTZModel">
            <h4>R&eacute;glage du PTZ</h4>
            <p>Vous pouvez r&eacute;gler les actions de pan, inclinaison et de zoom de la cam&eacute;ra.</p>
            <ul>
                <li>Lorsque vous faites glisser l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-handle"></span> avec la souris, la cam&eacute;ra effectue un panoramique et s&rsquo;incline en cons&eacute;quence.</li>
                <li>&Agrave; l&rsquo;aide de la barre de zoom, vous pouvez ajuster le rapport de zoom vid&eacute;o. Ou, cliquez sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-plus"></span>pour agrandir l&rsquo;&eacute;cran ou sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-minus"></span>pour le r&eacute;duire.</li>
                <li>Rapprochez la mise au point en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-near"></span>  ou &eacute;loignez la mise au point en cliquant sur l&rsquo;ic&ocirc;ne<span class="tui tui-wn5-ptz-far"></span>.</li>
                <li>Pour ajuster la mise au point de la cam&eacute;ra pour une prise AF, cliquez sur l&rsquo;ic&ocirc;ne<span class="tui tui-wn5-simple-focus"></span>.</li>
            </ul>
        </div>
    
        <div class="wn5-setup-section-article-content">
            
            <h3>Zone</h3>
            <p>Lorsqu&apos;une zone de d&eacute;tection de mouvement est ajout&eacute;e, la couleur des boutons num&eacute;riques change dans [Zone]. Lorsque vous cliquez sur le bouton num&eacute;rique, la zone correspondante dispara&icirc;t de l&apos;&eacute;cran d&apos;aper&ccedil;u. Lorsque vous cliquez &agrave; nouveau sur le bouton num&eacute;rique, la zone de d&eacute;tection de mouvement r&eacute;appara&icirc;t.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Niveau de d&eacute;tection</h3>
            <p>Ceci d&eacute;finit le niveau standard de d&eacute;tection de mouvement. Vous pouvez &eacute;tablir le niveau de chaque zone de d&eacute;tection de mouvement dans <strong class="UI">[Zone]</strong>, et lorsqu&apos;un mouvement d&eacute;passe le niveau d&eacute;fini, un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;.</p>
            <p>De plus, alors qu&apos;un mouvement est d&eacute;tect&eacute; dans chaque zone, un graphique de mouvement appara&icirc;t, et lorsqu&apos;un &eacute;v&eacute;nement de mouvement est cr&eacute;&eacute;, la couleur du graphique change.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Sensibilit&eacute;</h3>
            <p>Cette fonction d&eacute;finit la sensibilit&eacute; de la d&eacute;tection de mouvement pour chaque zone. &Eacute;tablissez une sensibilit&eacute; plus faible pour un environnement o&ugrave; l&apos;arri&egrave;re-plan et un objet sont clairement visibles et une sensibilit&eacute; plus &eacute;lev&eacute;e pour un environnement o&ugrave; l&apos;arri&egrave;re-plan et un objet ne sont pas clairement visibles.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Dur&eacute;e minimum (s)</h3>
            <p>Dur&eacute;e minimum (s)&nbsp;: D&eacute;finit le temps minimum pour d&eacute;clencher un &eacute;v&eacute;nement apr&egrave;s la d&eacute;tection. Lorsque le mouvement dure plus longtemps que la p&eacute;riode d&eacute;finie, l&rsquo;&eacute;v&eacute;nement est d&eacute;clench&eacute;.</p>
        </div>


        <div class="wn5-setup-section-article-content" ng-if="HandoverCalibration">
                <h3>Transfert</h3>
                <p>La fonction Transfert est une fonction qui d&eacute;place le focus de la cam&eacute;ra PTZ vers la zone d&eacute;sign&eacute;e &agrave; l&rsquo;&eacute;cran ou vers une zone pr&eacute;r&eacute;gl&eacute;e lors de la survenue d&rsquo;un &eacute;v&eacute;nement de détection de mouvement dans la cam&eacute;ra fixe.</p>
                <ul>
                    <li><strong class="UI">D&eacute;sactiver</strong>&nbsp;: D&eacute;sactive la fonction Transfert.</li>
                    <li><strong class="UI">Zoom intelligent</strong>&nbsp;: Lors de la survenue d&rsquo;un &eacute;v&eacute;nement de détection de mouvement dans la zone ROI, le focus de la cam&eacute;ra PTZ est d&eacute;plac&eacute; vers la zone ROI et effectue un zoom avant avec son centre &eacute;tabli au centre de la zone ROI. Les coordonn&eacute;es de la zone &agrave; l&rsquo;&eacute;cran doivent &ecirc;tre d&eacute;finies pr&eacute;alablement afin que la cam&eacute;ra fixe et la cam&eacute;ra PTZ puissent &ecirc;tre connect&eacute;es. Allez &agrave; <strong class="UI">[PTZ]</strong> &gt; <strong class="UI">[&Eacute;talonnage]</strong> pour d&eacute;finir les coordonn&eacute;es.</li>
                    <li><strong class="UI">Transfert n°</strong>: Lors de la survenue d&rsquo;un &eacute;v&eacute;nement de détection de mouvement dans la zone ROI, le focus de la cam&eacute;ra PTZ est d&eacute;plac&eacute; vers la zone pr&eacute;r&eacute;gl&eacute;e. S&eacute;lectionnez un num&eacute;ro de transfert qui contient des donn&eacute;es pr&eacute;r&eacute;gl&eacute;es dans la liste. Allez &agrave; <strong class="UI">[&Eacute;v&eacute;nement]</strong> &gt; <strong class="UI">[Transfert]</strong> pour faire un ajout dans la liste ou la modifier.</li>
                </ul>
                </div>
                <div class="wn5-online-help-info" ng-if="HandoverCalibration">
                        <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
                        <ul>
                            
                            <li>Vous pouvez d&eacute;finir le transfert pour chaque zone ROI. La fonction de relais peut &ecirc;tre utilis&eacute;e apr&egrave;s avoir d&rsquo;abord d&eacute;fini la zone d&rsquo;int&eacute;r&ecirc;t.</li>
                            <li>Le menu «&nbsp;Transfert&nbsp;» s&rsquo;affiche seulement lorsque le canal de la cam&eacute;ra fixe a &eacute;t&eacute; s&eacute;lectionn&eacute; dans le menu <strong class="UI"><a href="#channel">[S&eacute;lectionner un canal]</a></strong>. Le menu ne s&rsquo;affichera pas si le canal PTZ est s&eacute;lectionn&eacute;.</li>
                        </ul>
                </div>
        <!-- <div class="wn5-setup-section-article-content">
            <h3>Hand over</h3>
            <p>To use the hand over, select <strong class="UI">[Enable]</strong>. When the hand over function is used, it is possible to set a specific camera to move to a specific PTZ preset position when a motion is detected in the set area. Assigns a camera for each area.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Receiver camera</h3>
            <p>A receiver camera can be linked with the area.</p>
        </div>

        <div class="wn5-online-help-action">
            <h5>Adding a receiver camera</h5>
            <ol><li>Select a motion detection area to be linked with the receiver camera on the preview screen.</li>
                <li>Select <strong class="UI">[Enable]</strong> in <strong class="UI">[Hand over]</strong>.</li>
                <li>Click the <strong class="UI">[Add]</strong> button on top of the <strong class="UI">[Receiver camera]</strong> list.</li>
                <li>Enter the receiver camera information and the preset no. in the <strong class="UI">[Add Camera]</strong> window and click the <strong class="UI">[Apply]</strong> button. </li>
            </ol>
        </div>

        <div class="wn5-online-help-action">
            <h5>Deleting a receiver camera</h5>
            <ol><li>Select a motion detection area linked with the receiver camera to be deleted from the preview screen.</li>
                <li>Click the check box on the camera list. </li>
                <li>Click the <strong class="UI">[Delete]</strong> button on top of the <strong class="UI">[Receiver camera]</strong> list.</li>
                <li>When the confirm window appears, click <strong class="UI">[OK]</strong>.</li>
            </ol>
        </div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul>The hand over can be used after first setting the motion detection area. </li>
            </ul>
        </div> -->
    
    </div>
</div>

<div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
        <h2>Zone exclue</h2>
	</div>

    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>La zone d&eacute;sign&eacute;e par l&apos;utilisateur est d&eacute;finie comme zone exclue.</div>
        <div class="wn5-online-help-action">
			<h4>D&eacute;finir une zone exclue</h4>
			<p>Lorsque vous s&eacute;lectionnez 4&nbsp;coins d&apos;une image avec la souris, cela est d&eacute;fini comme zone exclue et la couleur des boutons num&eacute;riques change dans <strong class="UI">[Zone]</strong>. Il est possible de d&eacute;finir jusqu&apos;&agrave; 8&nbsp;zones exclues.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>Modifier une zone exclue</h4>
			<p>Vous pouvez modifier la taille d&apos;une zone exclue en d&eacute;pla&ccedil;ant un coin de la zone exclue. Pour d&eacute;placer une zone exclue, cliquez sur la zone correspondante avec la souris et faites la glisser.</p>
        </div>
        <div class="wn5-online-help-action">
			<h4>Supprimer une zone exclue</h4>
			<p>Pour supprimer une zone exclue, cliquez sur le bouton droit de la souris dans la zone de l&apos;&eacute;cran correspondante et cliquez sur le bouton <strong class="UI">[OK]</strong> dans la fen&ecirc;tre confirmer la suppression.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            
            <h3>Zone</h3>
            <p>Lorsqu&apos;une zone exclue est ajout&eacute;e, la couleur des boutons num&eacute;riques change dans <strong class="UI">[Zone]</strong>. Lorsque vous cliquez sur le bouton num&eacute;rique, la zone exclue correspondante dispara&icirc;tra de l&apos;&eacute;cran d&apos;aper&ccedil;u. Lorsque vous cliquez &agrave; nouveau sur le bouton num&eacute;rique, la zone exclue r&eacute;appara&icirc;tra.</p>
        </div>
    </div>
</div>


<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Commun</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>R&egrave;gle les tailles minimale et maximale d&rsquo;un objet &agrave; d&eacute;tecter.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Taille</h3>
            <p>Cliquez sur le coin inf&eacute;rieur droit et faites glisser la souris pour modifier la taille. Si vous modifiez la taille, vous modifiez &eacute;galement les valeurs <strong class="UI">[Taille mini.]</strong> et <strong class="UI">[Taille maxi.]</strong> de l&rsquo;option <strong class="UI">[Taille]</strong>.</p>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
            <ul>
                <li>Si les zones d&rsquo;int&eacute;r&ecirc;t et exclues sont identiques ou se chevauchent, la zone exclue a priorit&eacute; sur l&rsquo;autre.</li>
                <li>Tout mouvement inf&eacute;rieur &agrave; la taille minimale sp&eacute;cifi&eacute;e ou sup&eacute;rieur &agrave; la taille maximale sp&eacute;cifi&eacute;e ne sera pas d&eacute;tect&eacute;. Veuillez d&eacute;terminer les meilleures valeurs pour les tailles de d&eacute;tection minimales/maximales appropri&eacute;es &agrave; l&rsquo;environnement d&rsquo;installation, afin d&rsquo;&eacute;viter toute d&eacute;tection erron&eacute;e r&eacute;sultant de petits et/ou grands bruits. Rappelez-vous que le m&ecirc;me mouvement au m&ecirc;me endroit n&rsquo;entra&icirc;ne pas toujours la m&ecirc;me taille de d&eacute;tection. Par cons&eacute;quent, il est recommand&eacute; de laisser suffisamment de petits/grands espaces pour vos limites de taille minimum/maximum en tenant compte de l&rsquo;&eacute;cart dans les tailles d&eacute;tect&eacute;es.</li>
            </ul>
        </div>
    </div>
    </div>

<hr class="wn5-setup-hr" ng-if="HandoverV2 || (HandoverCalibration && !SupportAutoImageAlignment)">
<div class="wn5-setup-section" ng-if="HandoverV2 || (HandoverCalibration && !SupportAutoImageAlignment)">
                  <div class="wn5-setup-section-heading">
                      <h2>Transfert</h2>
                  </div>
                  <div class="wn5-setup-section-article">
                      <div class="wn5-setup-section-article-content">
                          <h3>Transfert</h3>
                          <p>S&eacute;lectionnez un num&eacute;ro de cam&eacute;ra r&eacute;cepteur de relais. S&eacute;lectionnez <strong class="UI">[Désactivé]</strong> si vous ne souhaitez pas utiliser la fonction de relais.</p>
                          <p>Le relais est une fonction permettant &agrave; la cam&eacute;ra r&eacute;cepteur de passer &agrave; la position PTZ pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;. La cam&eacute;ra recevant le relais peut &ecirc;tre d&eacute;finie dans le menu <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt; <strong class="UI">[Transfert]</strong>.</p>
                        </div>
 			<div class="wn5-online-help-info">
                          <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
                                                  <ul>

                                                      <li>Vous pouvez d&eacute;finir la cam&eacute;ra r&eacute;cepteur de relais pour chaque zone d&rsquo;int&eacute;r&ecirc;t. La fonction de relais peut &ecirc;tre utilis&eacute;e apr&egrave;s avoir d&rsquo;abord d&eacute;fini la zone d&rsquo;int&eacute;r&ecirc;t.</li>
 </ul>
                      </div>
</div>
</div> 

<hr class="wn5-setup-hr" ng-if="MotionDetectionOverlay">
<div class="wn5-setup-section" ng-if="MotionDetectionOverlay">
    <div class="wn5-setup-section-heading">
    <h2>Transparence</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
        <P>Cliquez sur <strong class="UI">[Activer]</strong> pour superposer la zone d&eacute;tect&eacute;e sur l&rsquo;&eacute;cran vid&eacute;o.</P>
        </div>
    </div>
</div>

  <hr class="wn5-setup-hr">
  <div class="wn5-setup-section">

    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="action"></a>Config. action évén.</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            
            <h3>FTP</h3>
            <p>Pour enregistrer une image sur un serveur FTP lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour le FTP peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#ftp" ng-href="#/help/event_ftpemail?#ftp"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>E-mail</h3>
            <p>Pour envoyer une image par e-mail lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour l&apos;e-mail peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#email" ng-href="#/help/event_ftpemail?#email"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="Recording">
            <h3>Enregistrer</h3>
            <p ng-if="NAS">Pour enregistrer une image sur une carte SD ou un NAS lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour le stockage peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/storage.html" ng-href="#/help/event_storage"><strong class="UI">[Stockage]</strong></a>.</p>
            <p ng-if="!NAS">Pour enregistrer une image sur une carte SD lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour le stockage peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/storage.html" ng-href="#/help/event_storage"><strong class="UI">[Stockage]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="MaxAlarmOutput>0">
            <h3>&Eacute;mission d&apos;alerte</h3>
            <p>Il est possible de d&eacute;finir le num&eacute;ro d&rsquo;&eacute;mission d&rsquo;alerte pour une alarme pr&eacute;cise lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;.&nbsp;Apr&egrave;s avoir s&eacute;lectionn&eacute; un num&eacute;ro d&rsquo;&eacute;mission d&apos;alerte, s&eacute;lectionnez <strong class="UI">[D&eacute;sactiv&eacute;]</strong> si vous ne souhaitez pas d&apos;alerte, ou s&eacute;lectionnez l&apos;heure d&rsquo;&eacute;mission si vous souhaitez &eacute;mettre une alarme. Vous pouvez d&eacute;finir une alarme continue jusqu&apos;&agrave; ce qu&apos;elle soit d&eacute;sactiv&eacute;e par l&apos;utilisateur en s&eacute;lectionnant <strong class="UI">[Toujours]</strong>, ou r&eacute;gler l&apos;alarme pour 5, 10 ou 15&nbsp;secondes. </p>
            <p>Les options <strong class="UI">[&Eacute;mission d&rsquo;alerte]</strong> peuvent para&icirc;tre diff&eacute;rentes selon la configuration d&rsquo;&eacute;mission d&rsquo;alerte. En cas d&rsquo;&eacute;mission d&rsquo;alerte, les options, <strong class="UI">[&Eacute;mission d&rsquo;alerte]</strong> ne s&rsquo;affichent pas. Si plusieurs alertes sont &eacute;mises, elles s&rsquo;affichent sous <strong class="UI">« émission d’alerte 1 »</strong>, <strong class="UI">« émission d’alerte 2 »</strong>, etc. S&eacute;lectionnez <strong class="UI">[&Eacute;v&eacute;nement]</strong> &gt; <strong class="UI">[E/S de l&rsquo;alarme]</strong> pour d&eacute;finir l&rsquo;E/S de l&rsquo;alarme.</p>
        </div>

      <div class="wn5-setup-section-article-content" ng-if="(DPTZSetupPage || ExternalPTZPage) && PresetSupport && !ZoomOnlyModel && PresetAction">
            <h3>Al à Prérég</h3>
                    <p>Vous pouvez r&eacute;gler la position de vue de la cam&eacute;ra afin qu&rsquo;elle passe &agrave; un nombre pr&eacute;d&eacute;fini lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/dptzSetup.html" ng-href="#/help/ptzSetup_dptzSetup"><strong class="UI">[PTZ num&eacute;rique]</strong></a> ou <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> dans <strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[PTZ externe]</a></strong>.</p>
                                
            <p ng-if="GlobalPTZMode && MaxChannel > 1">Si l&rsquo;option <strong class="UI">[Utiliser PTZ externe]</strong> est d&eacute;s&eacute;lectionn&eacute;e dans <strong class="UI">[PTZ]</strong> &gt; <strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[PTZ externe]</a></strong>, l&rsquo;option [Aller &agrave; pr&eacute;r&eacute;glage] se s&rsquo;affiche pas.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="PresetSetupPage">
            <h3>Al à Prérég</h3>
                <p>Vous pouvez r&eacute;gler la position de vue de la cam&eacute;ra afin qu&rsquo;elle passe &agrave; une position pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans la section <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong> dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/presetZoom.html" ng-href="#/help/ptzSetup_presetZoom"><strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong></a>.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="PanTiltOnlyModel">
            <h3>Al à Prérég</h3>
                <p>Vous pouvez r&eacute;gler la position de la cam&eacute;ra afin qu&rsquo;elle passe &agrave; une position pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans la partie <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/ptSetup.html" ng-href="#/help/ptzSetup_ptSetup"><strong class="UI">[Configuration PT]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="PTZSetupPage">
            <h3>Al à Prérég</h3>
                <p>Vous pouvez r&eacute;gler la position de la cam&eacute;ra afin qu&rsquo;elle passe &agrave; une position pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans la partie <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/ptzInfoSetup.html" ng-href="#/help/ptzSetup_ptzInfoSetup"><strong class="UI">[Configuration PTZ]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="AudioClipCountRange">
            <h3>Clip audio</h3>
            <p>Cela permet la lecture d&apos;un clip audio sp&eacute;cifique lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement survient. Une fois que vous avez s&eacute;lectionn&eacute; un fichier dans votre liste de clips audio, la lecture du clip commence lorsque l&apos;&eacute;v&eacute;nement se produit. Pour d&eacute;sactiver la lecture du clip audio lorsqu&apos;un &eacute;v&eacute;nement se produit, s&eacute;lectionner <strong class="UI">[D&eacute;sactiv&eacute;]</strong>. Cliquer sur le bouton Lecture (<span class="tui tui-wn5-toolbar-play"></span>) pour lire et pr&eacute;visualiser un fichier audio.</p>
            <p>Aller &agrave; <strong class="UI">[Video &amp; Audio]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="../video&audio/audio.html" ng-href="#/help/videoAudio_audioSetup">[Audio configuration]</a></strong>&gt;<strong class="UI">[Clip audio]</strong> pour enregistrer un clip audio.</p>
        </div>

    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Temps d&apos;activation d&apos;&eacute;v&egrave;nement</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Ceci d&eacute;finit la configuration des actions de <strong class="UI">[<a class="wn5-online-help-link" href="#action" ng-href="#/help/analytics_motionDetection?#action">Config. action évén.</a>]</strong> pour qu&rsquo;elles fonctionnent toujours, ou seulement &agrave; une heure d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;.</p>
        </div>

        <div class="wn5-setup-section-article-content">

            <h3>Toujours</h3>
            <p>La configuration des actions de l&apos;&eacute;v&eacute;nement d&eacute;finie est toujours ex&eacute;cut&eacute;e lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute;.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Heure programm&eacute;e uniquement</h3>
            <p>La configuration des actions de l&apos;&eacute;v&eacute;nement est ex&eacute;cut&eacute;e lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de mouvement est cr&eacute;&eacute; pendant l&rsquo;heure d&eacute;finie. La date, allant du dimanche au samedi en fonction de l&apos;horaire actuel de la cam&eacute;ra, est affich&eacute;e sur le calendrier visible lorsque l&rsquo;option <strong class="UI">[Heure programm&eacute;e uniquement]</strong> est s&eacute;lectionn&eacute;e. Vous pouvez d&eacute;finir l&apos;heure de configuration des actions de l&apos;&eacute;v&eacute;nement en cliquant ou en faisant glisser la souris sur le calendrier. L&apos;heure d&apos;activation de l&apos;&eacute;v&eacute;nement d&eacute;finie est r&eacute;alis&eacute;e plusieurs fois le jour de la semaine et &agrave; l&apos;heure concern&eacute;s.</p>
			<p>Vous pouvez changer l&apos;unit&eacute; d&apos;affichage de l&apos;heure en cliquant sur les boutons <strong class="UI">[1&nbsp;min]</strong>, <strong class="UI">[30&nbsp;min]</strong> ou <strong class="UI">[1&nbsp;h]</strong>. Lorsque vous cliquez sur le bouton <strong class="UI">[R&eacute;initialiser]</strong>, toutes les heures d&apos;activation des &eacute;v&eacute;nements d&eacute;finies seront supprim&eacute;es. Pour confirmer ou modifier l&apos;heure de la cam&eacute;ra, reportez-vous &agrave; la section <strong class="UI">[Basic]</strong>&gt;<strong class="UI">[Date et heure]</strong>.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">
