<h1 class="wn5-setup-main-title">D&eacute;tection de sabotage</h1>

<div class="wn5-setup-section">
    <p>Un &eacute;v&eacute;nement de d&eacute;tection de sabotage peut &ecirc;tre cr&eacute;&eacute; lorsque l&apos;&eacute;cran est bloqu&eacute; ou que la position de la cam&eacute;ra est modifi&eacute;e. Lorsque vous avez compl&eacute;t&eacute; le r&eacute;glage, cliquez sur le bouton <strong class="UI">[Appliquer]</strong> en bas de la page. Le r&eacute;glage de l&apos;&eacute;v&eacute;nement de d&eacute;tection de sabotage s&apos;applique &agrave; <strong class="UI">[D&eacute;tection de sabotage]</strong>dans les pages <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[Configuration de l&rsquo;&eacute;v&eacute;nement]</strong></a> de mani&egrave;re &eacute;gale.</p>
</div>


<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
    <div class="wn5-setup-section-heading">
        <h2><a name="channel"></a>S&eacute;lectionner un canal</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Apr&egrave;s avoir s&eacute;lectionn&eacute; le canal de votre cam&eacute;ra, vous pouvez d&eacute;finir les d&eacute;tails de D&eacute;tection de sabotage pour chaque canal. </p>
            <p ng-if="HandoverCalibration && SupportAutoImageAlignment">Le dernier num&eacute;ro de canal s&eacute;lectionn&eacute; sur la page Direct ou Lecture est automatiquement s&eacute;lectionn&eacute;.</p>
            <p ng-if="objectDetectionSupport">La transmission Live (direct) s'affiche sur le canal 1 tandis que la vidéo PTZ numérique s'affiche sur le canal 2. Vous ne pouvez configurer [Détection de sabotage] que sur le canal 1.</p>
            <p ng-if="HandoverCalibration">Le canal de cam&eacute;ra fixe est affich&eacute; sous la forme d&rsquo;un num&eacute;ro et le canal PTZ est affich&eacute; sous la forme « PTZ ».</p>
            <p ng-if="SupportAutoImageAlignment">CAN2 &agrave; CAN5 correspondent aux vid&eacute;os des cam&eacute;ras install&eacute;es ind&eacute;pendamment. CAN1 correspond &agrave; une vue panoramique sur plusieurs &eacute;crans de cam&eacute;ra de CAN2 &agrave; CAN5 dispos&eacute;s en rang&eacute;e. CAN6 et CAN7 correspondent aux vid&eacute;os de la vid&eacute;o CAN1 &agrave; laquelle le PTZ num&eacute;rique est appliqu&eacute;.</p>
            <p ng-if="SupportAutoImageAlignment">« D&eacute;tection de sabotage » peut seulement &ecirc;tre configur&eacute; sur CAN1.</p>

            <!-- <p ng-if="SupportChannelExpansionFeature">Le mode d&rsquo;affichage de chaque canal est d&eacute;crit ci-dessous. “&nbsp;D&eacute;tection de sabotage&nbsp;” peut être configuré sur le canal 1 uniquement.</p>
            <ul ng-if="SupportChannelExpansionFeature">
                <li>Canal&nbsp;1&nbsp;: Affiche une vid&eacute;o de la cam&eacute;ra fisheye telle quelle, sans correction.</li>
                <li>Canal&nbsp;2&nbsp;: Lisse une vid&eacute;o &agrave; 360° et l&rsquo;affiche sous forme de vue panoramique murale.</li>
                <li>Canal&nbsp;3&nbsp;: Lisse une vid&eacute;o &agrave; 360° et l&rsquo;affiche sous forme de vue panoramique fractionn&eacute;e haut/bas.</li>
                <li>Canal&nbsp;4&nbsp;: Lisse 4 &eacute;crans pour les rendre similaires &agrave; la vision humaines et les affiche simultan&eacute;ment. S&eacute;lectionnez un &eacute;cran pour d&eacute;placer la vue vers le haut, le bas, la gauche, la droite ou pour un zoom avant/arri&egrave;re.</li>
                <li>Canal&nbsp;5&nbsp;: Affiche la vid&eacute;o en haut &agrave; gauche de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;6&nbsp;: Affiche la vid&eacute;o en haut &agrave; droite de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;7&nbsp;: Affiche la vid&eacute;o en bas &agrave; gauche de la vue Quad du canal&nbsp;4.</li>
                <li>Canal&nbsp;8&nbsp;: Affiche la vid&eacute;o en bas &agrave; droite de la vue Quad du canal&nbsp;4.</li>
            </ul> -->

            <!-- <p>Si vous s&eacute;lectionnez un autre canal sans appliquer les modifications apport&eacute;es au r&eacute;glage, un message d&rsquo;alarme s&rsquo;affiche.</p> -->
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>D&eacute;tection de sabotage</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            
            <h3>Activer la d&eacute;tection de sabotage</h3>
            <p>Pour utiliser l&apos;&eacute;v&eacute;nement de d&eacute;tection de sabotage, s&eacute;lectionnez <strong class="UI">[Activer la d&eacute;tection de sabotage]</strong>.</p>
        </div>

        <div class="wn5-online-help-action" ng-if="PTZModel">
            <h4>R&eacute;glage du PTZ</h4>
            <p>Vous pouvez r&eacute;gler les actions de pan, inclinaison et de zoom de la cam&eacute;ra.</p>
            <ul>
                <li>Lorsque vous faites glisser l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-handle"></span> avec la souris, la cam&eacute;ra effectue un panoramique et s&rsquo;incline en cons&eacute;quence.</li>
                <li>&Agrave; l&rsquo;aide de la barre de zoom, vous pouvez ajuster le rapport de zoom vid&eacute;o. Ou, cliquez sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-plus"></span>pour agrandir l&rsquo;&eacute;cran ou sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-minus"></span>pour le r&eacute;duire.</li>
                <li>Rapprochez la mise au point en cliquant sur l&rsquo;ic&ocirc;ne <span class="tui tui-wn5-ptz-near"></span>  ou &eacute;loignez la mise au point en cliquant sur l&rsquo;ic&ocirc;ne<span class="tui tui-wn5-ptz-far"></span>.</li>
                <li>Pour ajuster la mise au point de la cam&eacute;ra pour une prise AF, cliquez sur l&rsquo;ic&ocirc;ne<span class="tui tui-wn5-simple-focus"></span>.</li>
            </ul>
        </div>
    
        <div class="wn5-setup-section-article-content">
            <h3>Niveau de d&eacute;tection</h3>
            <p>Ceci d&eacute;finit le niveau standard de d&eacute;tection de sabotage. Un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute; lorsqu&apos;un sabotage du niveau d&eacute;fini est d&eacute;tect&eacute;.</p>
            <p>En outre, lorsqu&apos;un sabotage est d&eacute;tect&eacute;, un graphique montrant le niveau d&apos;alt&eacute;ration appara&icirc;tra, et lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;, la couleur du graphique changera.</p>
        </div>

		<div class="wn5-setup-section-article-content">
            <h3>Sensibilit&eacute;</h3>
            <p>Une sensibilit&eacute; plus &eacute;lev&eacute;e entra&icirc;ne une r&eacute;ponse plus sensible du sch&eacute;ma de niveau de d&eacute;tection.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Dur&eacute;e minimum (s)</h3>
            <p>Ceci d&eacute;finit le temps minimum pour d&eacute;tecter un sabotage et cr&eacute;er un &eacute;v&eacute;nement. Un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute; uniquement lorsque le sabotage persiste pendant la dur&eacute;e minimale.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="DarknessDetection">
            <h3>Sauf l&apos;obscurit&eacute;</h3>
            <p>Pour exclure une diminution soudaine de la luminosit&eacute; sur l&apos;&eacute;cran, comme une baisse soudaine de la lumi&egrave;re d&eacute;tect&eacute;e par l&apos;&eacute;v&eacute;nement de d&eacute;tection de sabotage, s&eacute;lectionnez <strong class="UI">[Activer]</strong>.</p>
        </div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Remarque</h4>
            <ul>
                <li>La performance de d&eacute;tection peut se d&eacute;t&eacute;riorer sur un fond uniforme ou dans un environnement de faible luminosit&eacute; nocturne.</li>
                <li>Si la caméra bouge trop ou si la lumière change soudainement, la détection de sabotage peut ne pas fonctionner correctement.</li>
                <li>Cela peut prendre jusqu&apos;&agrave; 5 secondes pour qu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage soit cr&eacute;&eacute; apr&egrave;s un sabotage.</li>
                <li>Lorsqu&apos;un sabotage de la cam&eacute;ra est d&eacute;tect&eacute;, la fonction red&eacute;marre apr&egrave;s une stabilisation d&apos;environ 5 secondes et aucun sabotage ne sera d&eacute;tect&eacute; pendant ce processus de stabilisation.</li>
                <li>Lorsqu&apos;un &eacute;v&eacute;nement incorrect est cr&eacute;&eacute; de mani&egrave;re r&eacute;p&eacute;t&eacute;e, les erreurs peuvent &ecirc;tre minimis&eacute;es en diminuant progressivement le niveau.</li>
                <li>Si vous réglez le niveau de détection trop bas, il est alors possible de déclencher une sortie alarme en cas de changements mineurs sur l’écran, mais cela peut également entraîner une fausse détection causée par des objets en mouvement ou un changement de luminosité.</li>
            </ul>
        </div>
    </div>
</div>
</div>
<hr class="wn5-setup-hr" ng-if="HandoverV2 || (HandoverCalibration && !SupportAutoImageAlignment)">
            <div class="wn5-setup-section" ng-if="HandoverV2 || (HandoverCalibration && !SupportAutoImageAlignment)">
                <div class="wn5-setup-section-heading">
                    <h2>Transfert</h2>
                </div>
                <div class="wn5-setup-section-article">
                    <div class="wn5-setup-section-article-content">
                        <h3>Transfert</h3>
                        <p>S&eacute;lectionnez un num&eacute;ro de cam&eacute;ra r&eacute;cepteur de relais. S&eacute;lectionnez <strong class="UI">[Désactivé]</strong> si vous ne souhaitez pas utiliser la fonction de relais.</p>
                        <p>Le relais est une fonction permettant &agrave; la cam&eacute;ra r&eacute;cepteur de passer &agrave; la position PTZ pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;. La cam&eacute;ra recevant le relais peut &ecirc;tre d&eacute;finie dans le menu <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt; <strong class="UI">[Transfert]</strong>.</p>
        </div>				
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="action"></a>Config. action évén.</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
 
            <h3>FTP</h3>
            <p>Pour enregistrer une image sur un serveur FTP lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour le FTP peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#ftp" ng-href="#/help/event_ftpemail?#ftp"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>E-mail</h3>
            <p>Pour envoyer une image par e-mail lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour l&apos;e-mail peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/ftpemail.html#email" ng-href="#/help/event_ftpemail?#email"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="Recording">
            <h3>Enregistrer</h3>
            <p ng-if="NAS">Pour enregistrer une image sur une carte SD ou un NAS lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour le stockage peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/storage.html" ng-href="#/help/event_storage"><strong class="UI">[Stockage]</strong></a>.</p>
            <p ng-if="!NAS">Pour enregistrer une image sur une carte SD lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;, s&eacute;lectionnez <strong class="UI">[Activer]</strong>. Les r&eacute;glages d&eacute;taill&eacute;s pour le stockage peuvent &ecirc;tre effectu&eacute;s depuis <strong class="UI">[&Eacute;v&eacute;nement]</strong>&gt;<a class="wn5-online-help-link" href="../event/storage.html" ng-href="#/help/event_storage"><strong class="UI">[Stockage]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="MaxAlarmOutput>0">
            <h3>&Eacute;mission d&apos;alerte</h3>
            <p>Il est possible de d&eacute;finir le num&eacute;ro d&rsquo;&eacute;mission d&rsquo;alerte pour une alarme sp&eacute;cifique lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;.&nbsp;Apr&egrave;s avoir s&eacute;lectionn&eacute; un num&eacute;ro d&rsquo;&eacute;mission d&apos;alerte, s&eacute;lectionnez <strong class="UI">[D&eacute;sactiv&eacute;]</strong> si vous ne souhaitez pas d&apos;alerte, ou s&eacute;lectionnez l&apos;heure d&rsquo;&eacute;mission si vous souhaitez &eacute;mettre une alarme. Vous pouvez d&eacute;finir une alarme continue jusqu&apos;&agrave; ce qu&apos;elle soit d&eacute;sactiv&eacute;e par l&apos;utilisateur en s&eacute;lectionnant <strong class="UI">[Toujours]</strong>, ou r&eacute;gler l&apos;alarme pour 5, 10 ou 15&nbsp;secondes. </p>
            <p>Les options <strong class="UI">[&Eacute;mission d&rsquo;alerte]</strong> peuvent para&icirc;tre diff&eacute;rentes selon la configuration d&rsquo;&eacute;mission d&rsquo;alerte. En cas d&rsquo;&eacute;mission d&rsquo;alerte, les options, <strong class="UI">[&Eacute;mission d&rsquo;alerte]</strong> ne s&rsquo;affichent pas. Si plusieurs alertes sont &eacute;mises, elles s&rsquo;affichent sous <strong class="UI">« émission d’alerte 1 »</strong>, <strong class="UI">« émission d’alerte 2 »</strong>, etc. S&eacute;lectionnez <strong class="UI">[&Eacute;v&eacute;nement]</strong> &gt; <strong class="UI">[E/S de l&rsquo;alarme]</strong> pour d&eacute;finir l&rsquo;E/S de l&rsquo;alarme.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="(DPTZSetupPage || ExternalPTZPage) && PresetSupport && !ZoomOnlyModel">
            <h3>Al à Prérég</h3>
                    <p>Vous pouvez d&eacute;finir la position de vue de la cam&eacute;ra pour passer &agrave; un num&eacute;ro pr&eacute;d&eacute;fini lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection d&apos;alt&eacute;ration est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/dptzSetup.html" ng-href="#/help/ptzSetup_dptzSetup"><strong class="UI">[PTZ num&eacute;rique]</strong></a> ou <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> dans <strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[PTZ externe]</a></strong>.</p>

                                
            <p ng-if="GlobalPTZMode && MaxChannel > 1">Si l&rsquo;option <strong class="UI">[Utiliser PTZ externe]</strong> est d&eacute;s&eacute;lectionn&eacute;e dans <strong class="UI">[PTZ]</strong> &gt; <strong class="UI"><a class="wn5-online-help-link" href="../ptz/externalPTZ.html" ng-href="#/help/ptzSetup_externalPtzSetup">[PTZ externe]</a></strong>, l&rsquo;option [Aller &agrave; pr&eacute;r&eacute;glage] se s&rsquo;affiche pas.</p>
        </div>


        <div class="wn5-setup-section-article-content" ng-if="PresetSetupPage">
            <h3>Al à Prérég</h3>
                <p>Vous pouvez d&eacute;finir la position de vue de la cam&eacute;ra pour passer &agrave; une position pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection d&apos;alt&eacute;ration est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans la section <strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong> dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/presetZoom.html" ng-href="#/help/ptzSetup_presetZoom"><strong class="UI">[Configuration pr&eacute;r&eacute;gl&eacute;e]</strong></a>.</p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="PTZSetupPage">
            <h3>Al à Prérég</h3>
                <p>Vous pouvez d&eacute;finir la position de la cam&eacute;ra pour passer &agrave; une position pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de gestion de file d&apos;attente est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans la partie <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/ptzInfoSetup.html" ng-href="#/help/ptzSetup_ptzInfoSetup"><strong class="UI">[Configuration PTZ]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="PanTiltOnlyModel">
            <h3>Al à Prérég</h3>
                <p>Vous pouvez d&eacute;finir la position de la cam&eacute;ra pour passer &agrave; une position pr&eacute;d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de gestion de file d&apos;attente est cr&eacute;&eacute;. Le pr&eacute;r&eacute;glage de la cam&eacute;ra peut &ecirc;tre d&eacute;fini dans la partie <strong class="UI">[Pr&eacute;r&eacute;glage]</strong> dans <strong class="UI">[PTZ]</strong>&gt;<a class="wn5-online-help-link" href="../ptz/ptSetup.html" ng-href="#/help/ptzSetup_ptSetup"><strong class="UI">[Configuration PT]</strong></a>.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="AudioClipCountRange !== undefined">
            <h3>Clip audio</h3>
            <p>Cela permet la lecture d&apos;un clip audio sp&eacute;cifique lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection sabotage survient. Une fois que vous avez s&eacute;lectionn&eacute; un fichier dans votre liste de clips audio, la lecture du clip commence lorsque l&apos;&eacute;v&eacute;nement se produit. Pour d&eacute;sactiver la lecture du clip audio lorsqu&apos;un &eacute;v&eacute;nement se produit, s&eacute;lectionner <strong class="UI">[D&eacute;sactiv&eacute;]</strong>. Cliquer sur le bouton Lecture (<span class="tui tui-wn5-toolbar-play"></span>) pour lire et pr&eacute;visualiser un fichier audio.</p>
            <p>Aller &agrave; <strong class="UI">[Video &amp; Audio]</strong>&gt;<strong class="UI"><a class="wn5-online-help-link" href="../video&audio/audio.html" ng-href="#/help/videoAudio_audioSetup">[Audio configuration]</a></strong>&gt;<strong class="UI">[Clip audio]</strong> pour enregistrer un clip audio.</p>
        </div>

    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Temps d&apos;activation d&apos;&eacute;v&egrave;nement</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Ceci d&eacute;finit l&apos;action de l&apos;&eacute;v&eacute;nement depuis la <strong class="UI">[<a class="wn5-online-help-link" href="#action" ng-href="#/help/analytics_tamperDetection?#action">Config. action évén.</a>]</strong> pour qu&rsquo;elle fonctionne en permanence ou seulement &agrave; l&apos;heure d&eacute;finie lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;.</p>
        </div>
        <div class="wn5-setup-section-article-content">

            <h3>Toujours</h3>
            <p>La configuration des actions de l&apos;&eacute;v&eacute;nement est toujours ex&eacute;cut&eacute;e lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute;.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Heure programm&eacute;e uniquement</h3>
            <p>La configuration des actions de l&apos;&eacute;v&eacute;nement est uniquement ex&eacute;cut&eacute;e lorsqu&apos;un &eacute;v&eacute;nement de d&eacute;tection de sabotage est cr&eacute;&eacute; pendant l&rsquo;heure d&eacute;finie. La date, allant du dimanche au samedi en fonction de l&apos;horaire actuel de la cam&eacute;ra, est affich&eacute;e sur le calendrier visible lorsque l&rsquo;option <strong class="UI">[Heure programm&eacute;e uniquement]</strong> est s&eacute;lectionn&eacute;e. Vous pouvez d&eacute;finir l&apos;heure de configuration des actions de l&apos;&eacute;v&eacute;nement en cliquant ou en faisant glisser la souris sur le calendrier. L&apos;heure d&apos;activation de l&apos;&eacute;v&eacute;nement d&eacute;finie est r&eacute;alis&eacute;e plusieurs fois le jour de la semaine et &agrave; l&apos;heure concern&eacute;s.</p>
			<p>Vous pouvez changer l&apos;unit&eacute; d&apos;affichage de l&apos;heure en cliquant sur les boutons <strong class="UI">[1&nbsp;min]</strong>, <strong class="UI">[30&nbsp;min]</strong> ou <strong class="UI">[1&nbsp;h]</strong>. Lorsque vous cliquez sur le bouton <strong class="UI">[R&eacute;initialiser]</strong>, toutes les heures d&apos;activation des &eacute;v&eacute;nements d&eacute;finies seront supprim&eacute;es. Pour confirmer ou modifier l&apos;heure de la cam&eacute;ra, reportez-vous &agrave; la section <strong class="UI">[Basic]</strong>><strong class="UI">[Date et heure]</strong>.</p>
    </div>
</div>
</div>
<hr class="wn5-setup-hr">
