<div class="wrapper wrapper-content" ng-if='pageLoaded'>
    <form name="ipPortForm" method="get" class="form-horizontal tab-control-wrapper" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_interface">
        </wn5-setup-main-title>

        <hr class="wn5-setup-hr">

        <div class="wn5-setup-tab">
            <ul class="wn5-setup-tab-list">
                <li 
                    class="wn5-setup-tab-item"
                    ng-repeat="tab in tabs">
                    <button 
                        ng-click="changeTab(tab)"
                        ng-class="{'active': activeTab === tab}"
                        type="button">{{getTranslatedOption(tab)}}</button>
                </li>
            </ul>
            <div class="wn5-setup-tab-content">
                <div ng-if="activeTab === 'IPAddress'">
                    <div ng-if="DeviceType === 'NVR'" class="wn5-setup-section-article">
                        <div class="form-group">
                            <div class="wn5-setup-section-article-heading">{{ 'lang_Interface' | translate }}</div>
                            <div ng-class="DropDownClassLg">
                                <select class="form-control" ng-model="SelectedInterface"><option ng-selected="SelectedInterface == InterfaceOptions.indexOf(Interface)" value={{InterfaceOptions.indexOf(Interface)}} ng-repeat="Interface in InterfaceOptions">{{getTranslatedOption(Interface)}}</option></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="wn5-setup-section-article-heading">{{ 'lang_DefaultGateway' | translate }}</div>
                            <div ng-class="DropDownClassLg" ng-repeat="Interface in InterfaceOptions">{{getTranslatedOption(Interface)}}<input type="radio" class="radio" name="DefaultGateway" ng-model="$parent.DefaultGateway" ng-value="Interface"></div>
                        </div>
                        <div class="form-group">
                            <div class="wn5-setup-section-article-heading">{{ 'lang_TransferBandwidth' | translate }}</div>
                            <div ng-class="DropDownClassLg"><input type="number" class="form-control" ng-model="NetworkBandwidths[SelectedBandwidth]"/></div>
                            <div ng-class="DropDownClassLg"><select class="form-control" ng-model="SelectedBandwidth" ng-options="BwOptions.indexOf(BandwidthOption) as BandwidthOption for BandwidthOption in BwOptions"></select></div>
                        </div>
                    </div>

                    <div class="wn5-setup-section use-padding">
                        <hr class="wn5-setup-hr" ng-if="DeviceType === 'NVR'">
                        <div class="wn5-setup-section-heading">
                            <h3>{{ 'lang_IPv4Setup' | translate }}</h3>
                        </div>
                        <div class="wn5-setup-section-article">
                            <div class="form-group">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_IPType' | translate }}</div>
                                <div class="wn5-setup-section-article-content">
                                    <select class="form-control" ng-model="NetworkInterfaces[SelectedInterface].IPv4Type"><option ng-selected="NetworkInterfaces[SelectedInterface].IPv4Type == IPType" value={{IPType}} ng-repeat="IPType in IPv4TypeOptions">{{getTranslatedOption(IPType)}}</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_macAddress' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="text" class="form-control" ng-model="NetworkInterfaces[SelectedInterface].MACAddress" ng-disabled="true"></div>
                            </div>
                            <div class="form-group">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_IPAddress' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Ipv4Address" ng-disabled="NetworkInterfaces[SelectedInterface].IPv4Type !== 'Manual'" ng-model="NetworkInterfaces[SelectedInterface].IPv4Address" required maxlength={{MaxIPV4Len}} ng-pattern="IPv4Pattern" ng-pattern-restrict="{{ IPv4PatternStr }}" ng-trim="true"></div>
                            </div>
                            <div class="form-group">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_subnetMask' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Ipv4Subnet" ng-disabled="NetworkInterfaces[SelectedInterface].IPv4Type !== 'Manual'" ng-model="NetworkInterfaces[SelectedInterface].IPv4SubnetMask" required maxlength={{MaxIPV4Len}} ng-pattern="IPv4Pattern" ng-pattern-restrict="{{ IPv4PatternStr }}" ng-trim="true"></div>
                            </div>
                            <div class="form-group">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_gateway' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Ipv4Gateway" ng-disabled="NetworkInterfaces[SelectedInterface].IPv4Type !== 'Manual'" ng-model="NetworkInterfaces[SelectedInterface].IPv4Gateway" required maxlength={{MaxIPV4Len}} ng-pattern="IPv4Pattern" ng-pattern-restrict="{{ IPv4PatternStr }}" ng-trim="true"></div>
                            </div>

                            <div class="form-group" ng-if="DeviceType === 'NVR'">
                                <div class="wn5-setup-section-article-heading">DNS {{ 'lang_type' | translate}}</div>
                                <div class="wn5-setup-section-article-content">
                                    <select class="form-control" ng-disabled="NetworkInterfaces[SelectedInterface].IPv4Type === 'Manual'" ng-model="DNS[SelectedInterface].DNSByIPType[0].Type"><option ng-selected="DNS[SelectedInterface].DNSByIPType[0].Type == DnsType" value={{DnsType}} ng-repeat="DnsType in DnsTypeOptions">{{getTranslatedOption(DnsType)}}</option></select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="DeviceType === 'NVR'">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_DNS1' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Ipv4Dns" ng-model="DNS[SelectedInterface].DNSByIPType[0].PrimaryDNS" ng-disabled="DNS[SelectedInterface].DNSByIPType[0].Type != 'Manual'" required maxlength={{MaxIPV4Len}} ng-pattern="IPv4Pattern" ng-trim="true"></div>
                            </div>

                            <div class="form-group" ng-if="DeviceType === 'NWC'">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_DNS1' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Dns1" ng-model="DNS[SelectedInterface].PrimaryDNS" required maxlength={{MaxIPV4Len}} ng-pattern="IPv4Pattern" ng-pattern-restrict="{{ IPv4PatternStr }}" ng-trim="true"></div>
                            </div>

                            <div class="form-group" ng-if="DeviceType === 'NWC'">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_DNS2' | translate }}</div>
                                <div class="wn5-setup-section-article-content">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="Dns2" 
                                        ng-model="DNS[SelectedInterface].SecondaryDNS" 
                                        required maxlength={{MaxIPV4Len}} 
                                        ng-pattern="IPv4Pattern" 
                                        ng-pattern-restrict="{{ IPv4PatternStr }}" 
                                        ng-trim="true">
                                </div>
                            </div>
                            <div 
                                class="form-group" 
                                ng-if="NetworkInterfaces[SelectedInterface].IPv4Type === 'Manual'">
                                <div class="wn5-setup-section-article-heading">
                                    {{ 'lang_hostName' | translate }}
                                </div>
                                <div class="wn5-setup-section-article-content">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="hostName"
                                        ng-model="NetworkInterfaces[SelectedInterface].HostName" 
                                        maxlength="16"
                                        ng-pattern-restrict="{{ AlphaNumericDashStr }}"
                                        ng-trim="true">
                                </div>
                            </div>
                            <div class="form-group" ng-if="NetworkInterfaces[SelectedInterface].IPv4Type === 'PPPoE'">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_userID' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="PPPoEId" ng-model="NetworkInterfaces[SelectedInterface].PPPoEUserName" required minlength={{IdMinLength}} maxlength={{IdMaxLength}} ng-trim="true" ng-pattern-restrict="{{FriendlyNameCharSetNoSpaceStr}}"></div>
                            </div>
                            <div class="form-group" ng-if="NetworkInterfaces[SelectedInterface].IPv4Type === 'PPPoE'">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_password' | translate }}</div>
                                <div class="wn5-setup-section-article-content"><input type="password" class="form-control" name="PPPoEPwd" ng-model="NetworkInterfaces[SelectedInterface].PPPoEPassword" required minlength={{PwdMinLength}} maxlength={{PwdMaxLength}} ng-trim="true" ng-pattern-restrict="{{FriendlyNameCharSetNoSpaceStr}}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="wn5-setup-section use-padding">
                            <hr class="wn5-setup-hr">
                            <div class="wn5-setup-section-heading">
                                <h3>{{ 'lang_IPv6Setup' | translate }}</h3>
                            </div>
                            <div class="wn5-setup-section-article">
                                <div class="form-group">
                                    <div class="wn5-setup-section-article-heading">IPv6</div>
                                    <div class="wn5-setup-section-article-content">
                                        <input type="checkbox" ng-model="NetworkInterfaces[SelectedInterface].IPv6Enable">
                                        <label>{{ 'lang_enable' | translate }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="wn5-setup-section-article-heading">{{ 'lang_IPType' | translate }}</div>
                                    <div class="wn5-setup-section-article-content">
                                        <select class="form-control" ng-model="NetworkInterfaces[SelectedInterface].IPv6Type" ng-disabled='!NetworkInterfaces[SelectedInterface].IPv6Enable' ng-change="OnIPv6TypeChange(NetworkInterfaces[SelectedInterface].IPv6Type)"><option ng-selected="NetworkInterfaces[SelectedInterface].IPv6Type == IPType" value={{IPType}} ng-repeat="IPType in IPv6TypeOptions">{{IPType == 'Auto'?getTranslatedOption('DHCP'):getTranslatedOption(IPType)}}</option></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="wn5-setup-section-article-heading">{{ 'lang_IPAddress' | translate }}</div>
                                    <div ng-if="IPv6DefaultAddress !== 'undefined'">
                                        <div class="wn5-setup-section-article-content" ng-if="NetworkInterfaces[SelectedInterface].IPv6Type === 'Default'">
                                            <input type="text" class="form-control" name="Ipv6Address" ng-model="NetworkInterfaces[SelectedInterface].IPv6DefaultAddress" ng-disabled="true">
                                        </div>
                                        <div class="wn5-setup-section-article-content" ng-if="NetworkInterfaces[SelectedInterface].IPv6Type !== 'Default'">
                                            <input type="text" class="form-control" name="Ipv6Address" ng-model="NetworkInterfaces[SelectedInterface].IPv6Address" ng-disabled="NetworkInterfaces[SelectedInterface].IPv6Type !== 'Manual'" required ng-pattern="IPv6Pattern" ng-pattern-restrict="{{ IPv6PatternStr }}" maxlength={{MaxIPV6Len}} ng-trim="true">
                                        </div>
                                    </div>    
                                    <div ng-if="IPv6DefaultAddress === 'undefined'">
                                        <div class="wn5-setup-section-article-content">
                                            <input type="text" class="form-control" name="Ipv6Address" ng-model="NetworkInterfaces[SelectedInterface].IPv6Address" ng-disabled="NetworkInterfaces[SelectedInterface].IPv6Type !== 'Manual'" required ng-pattern="IPv6Pattern" ng-pattern-restrict="{{ IPv6PatternStr }}" maxlength={{MaxIPV6Len}} ng-trim="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="wn5-setup-section-article-heading">{{ 'lang_prefix' | translate }}</div>
                                    <div ng-if="IPv6DefaultAddress !== 'undefined'">
                                        <div class="wn5-setup-section-article-content" ng-if="NetworkInterfaces[SelectedInterface].IPv6Type === 'Default'">
                                            <input type="text" class="form-control" name="PrefixLength" ng-model="DefaultPrefixLength" ng-disabled="true">
                                        </div>
                                        <div class="wn5-setup-section-article-content" ng-if="NetworkInterfaces[SelectedInterface].IPv6Type !== 'Default'">
                                            <input type="text" class="form-control" name="PrefixLength" ng-model="NetworkInterfaces[SelectedInterface].IPv6PrefixLength" ng-disabled="NetworkInterfaces[SelectedInterface].IPv6Type !== 'Manual'" required maxlength={{PrefixMaxLength.toString().length}} ng-pattern-restrict="{{OnlyNumStr}}">                                                    
                                        </div>
                                    </div>
                                    <div ng-if="IPv6DefaultAddress === 'undefined'">
                                        <div class="wn5-setup-section-article-content">
                                            <input type="text" class="form-control" name="PrefixLength" ng-model="NetworkInterfaces[SelectedInterface].IPv6PrefixLength" ng-disabled="NetworkInterfaces[SelectedInterface].IPv6Type !== 'Manual'" required maxlength={{PrefixMaxLength.toString().length}} ng-pattern-restrict="{{OnlyNumStr}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="NetworkInterfaces[SelectedInterface].IPv6Type === 'Manual'">
                                    <div class="wn5-setup-section-article-heading">{{ 'lang_gateway' | translate }}</div>
                                    <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Ipv6Gateway" ng-model="NetworkInterfaces[SelectedInterface].IPv6DefaultGateway"  maxlength={{MaxIPV6Len}} ng-pattern="IPv6Pattern" ng-pattern-restrict="{{ IPv6PatternStr }}" ng-trim="true"></div>
                                </div>

                                <div class="form-group" ng-if="DeviceType === 'NVR'">
                                    <div class="wn5-setup-section-article-heading">DNS {{ 'lang_type' | translate}}</div>
                                    <div ng-class="DropDownClassSm">
                                        <select class="form-control" ng-model="DNS[SelectedInterface].DNSByIPType[1].Type"><option ng-selected="DNS[SelectedInterface].DNSByIPType[1].Type == DnsType" value={{DnsType}} ng-repeat="DnsType in DnsTypeOptions">{{getTranslatedOption(DnsType)}}</option></select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="DeviceType === 'NVR'">
                                    <div class="wn5-setup-section-article-heading">{{ 'lang_DNS2' | translate }}</div>
                                    <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Ipv6Dns" ng-model="DNS[SelectedInterface].DNSByIPType[1].PrimaryDNS" ng-disabled="DNS[SelectedInterface].DNSByIPType[1].Type !== 'Manual'" required ng-pattern="IPv6Pattern" ng-trim="true"></div>
                                </div>
                            </div>
                    </div>
                </div>

                <div ng-if="activeTab === 'Port'" class="wn5-setup-section use-padding">
                    <div class="wn5-setup-section-heading">
                        <h3>{{ 'lang_port' | translate }}</h3>
                    </div>
                    <div class="wn5-setup-section-article">
                        <div class="form-group">
                            <div class="wn5-setup-section-article-heading">HTTP</div>
                            <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Http" ng-model="PortConf.HTTPPort" maxlength="{{ HttpMaxPort.toString().length }}" required ng-pattern-restrict="{{OnlyNumStr}}"/></div>
                        </div>
                        <div class="form-group">
                            <div class="wn5-setup-section-article-heading">HTTPS</div>
                            <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Https" ng-model="PortConf.HTTPSPort" maxlength="{{ HttpsMaxPort.toString().length }}" ng-disabled="DeviceType === 'NVR'" required  ng-pattern-restrict="{{OnlyNumStr}}" /></div>
                        </div>
                        <div class="form-group">
                            <div class="wn5-setup-section-article-heading">RTSP</div>
                            <div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Rtsp" maxlength="{{ RtspMaxPort.toString().length }}" ng-model="PortConf.RTSPPort" required ng-pattern-restrict="{{OnlyNumStr}}" /></div>
                        </div>
                        <div class="form-group">
                            <div ng-if="DeviceType === 'NWC'">
                                <div class="wn5-setup-section-article-heading">{{ 'lang_timeout' | translate }}</div>
                                <div class="wn5-setup-section-article-content">
                                    <input type="checkbox" name="Enable" ng-model="Port.RTSPTimeoutEnable">
                                    <label>{{ 'lang_enable' | translate }}</label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group" ng-if="DeviceType === 'NWC' && SvnpMaxPort">-->
                            <!--<div class="wn5-setup-section-article-heading">{{ 'lang_deviceport' | translate }}</div>-->
                            <!--<div class="wn5-setup-section-article-content"><input type="text" class="form-control" name="Svnp" maxlength="{{ SvnpMaxPort.toString().length }}" ng-model="PortConf.DevicePort" required ng-pattern-restrict="{{OnlyNumStr}}" /></div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr">
        
        <wn5-setup-common-button
            data-submit-click="submitIP()"
            data-cancel-click="viewIP()"
            ng-if="activeTab === 'IPAddress'">
        </wn5-setup-common-button>

        <wn5-setup-common-button
            data-submit-click="submitPort()"
            data-cancel-click="viewPort()"
            ng-if="activeTab === 'Port'">
        </wn5-setup-common-button>
    </form>
</div>