<div id="userpage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="userForm" method="get" class="form-horizontal">
        <wn5-setup-main-title 
            data-title="lang_menu_user">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_adminPwChange' | translate }}</h3>                       
            </div>
            <div class="wn5-setup-section-article wn5-setup-section-article-ratio-3-7">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_currenlang_pw' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="password" class="form-control" name="curpasword" ng-model="CurrentPassword
                               " ng-disabled="false" maxlength="{{PasswordLen}}" ng-pattern="PublicHostNameRange.Pattern" ng-keyup="validatepassword('CurrentPassword')">
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_new_pw' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="password" class="form-control" name="newpasword" ng-model="NewPassword" ng-disabled="false" maxlength="{{PasswordLen}}" ng-pattern="PublicHostNameRange.Pattern" ng-keyup="validatepassword('NewPassword')">
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_new_cpw' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="password" class="form-control" name="newcnfpasword" ng-model="ConfirmNewPassword" ng-disabled="false" maxlength="{{PasswordLen}}" ng-pattern="PublicHostNameRange.Pattern" ng-keyup="validatepassword('ConfirmNewPassword')">
                    </div>
                </div>
                <div class="wn5-setup-section-article-content userpage-password-description">
                    <ol>
                        <li>{{ 'lang_msg_pw_rule6' | translate}}</li>
                        <li>{{ 'lang_msg_pw_rule7' | translate}}</li>
                        <li>{{ 'lang_msg_pw_rule8' | translate}}</li>
                        <li>{{ 'lang_msg_pw_rule9' | translate}}</li>
                        <li>{{ 'lang_msg_pw_rule10' | translate}}</li>
                        <li>{{ 'lang_msg_pw_rule11' | translate}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_guestSetup' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <input type="checkbox" ng-model="GuestAccess">
                    <label>{{ 'lang_enableGuest' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_authSetup' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <input type="checkbox" ng-model="RTSPAccess"> <label>{{ 'lang_msg_rtspNoAuth' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">    
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_currentUsers' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <button type="button" class="btn btn-primary cm-btn-dark btn-margin-right" ng-click="adduser()">{{ 'lang_add' | translate }}</button>
                        <button type="button" class="btn btn-primary cm-btn-dark" ng-click="deleteuser(selected)">{{ 'lang_delete' | translate }}</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content wn5-setup-table-responsive">
                        <table class="table cm-table-field table-editor wn5-setup-table" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align:center">{{ 'lang_wisestream_table_use' | translate }}</th>
                                    <th style="text-align:center">{{ 'lang_name' | translate }}</th>
                                    <th style="text-align:center">{{ 'lang_password' | translate }}</th>
                                    <th style="text-align:center" ng-show="MaxAudioInput > 0">{{ 'lang_audioIn' | translate }}</th>
                                    <th style="text-align:center" ng-show="MaxAudioOutput > 0">{{ 'lang_audioOut' | translate }}</th>
                                    <th style="text-align:center" ng-show="MaxAlarmOutput > 0">{{ 'lang_alarmOutput' | translate }}</th>
                                    <th style="text-align:center" ng-show="ContinousZoom">{{ 'lang_PTZ' | translate }}</th>
                                    <th style="text-align:center">{{ 'lang_profile' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in Users track by $index"
                                    ng-class="{'wn5-setup-table-active': $parent.selected === $index }">
                                    <td>
                                        <input type="radio" ng-model="$parent.selected" ng-value="$index"></input>
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="user.Enable" ng-disabled="$parent.selected != $index">
                                    </td>
                                    <td class="col-sm-2">
                                        <input class="form-control" type="text" ng-model="user.UserID" ng-disabled="$parent.selected != $index" maxlength="{{UserIDLen}}" ng-pattern-restrict="{{AlphaNumericStr}}">
                                    </td>
                                    <td class="col-sm-2">
                                        <input class="form-control" type="password" ng-model="user.Password" ng-disabled="$parent.selected != $index" maxlength="{{PasswordLen}}" ng-keyup="validateuserpassword()">
                                    </td>
                                    <td ng-show="MaxAudioInput > 0">
                                        <input type="checkbox" ng-model="user.AudioInAccess" ng-disabled="$parent.selected != $index">
                                    </td>
                                    <td ng-show="MaxAudioOutput > 0">
                                        <input type="checkbox" ng-model="user.AudioOutAccess" ng-disabled="$parent.selected != $index">
                                    </td>
                                    <td ng-show="MaxAlarmOutput > 0">
                                        <input type="checkbox" ng-model="user.AlarmOutputAccess" ng-disabled="$parent.selected != $index">
                                    </td>
                                    <td ng-show="ContinousZoom">
                                        <input type="checkbox" ng-model="user.PTZAccess" ng-disabled="$parent.selected != $index">
                                    </td>
                                    <td class="col-sm-2">
                                        <select type="text" class="form-control" ng-model="user.VideoProfileAccess" ng-disabled="$parent.selected != $index">
                                            <option ng-selected="user.VideoProfileAccess == VideoProfileAccess" value={{VideoProfileAccess}} ng-repeat="VideoProfileAccess in UserProfileOptions track by VideoProfileAccess">{{getTranslatedOption(VideoProfileAccess)}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>