<div class="wrapper wrapper-content" ng-if="pageLoaded">
    <form class="form-horizontal" method="get" name="alarmOutputForm" novalidate="">
        <wn5-setup-main-title
            data-title="lang_alarmOutput">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>
                    {{ 'lang_alarmOutput' | translate }}{{' '}}{{'lang_num'| translate}}
                </h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <select 
                        class="form-control header-summary wn5-setup-section-article-content-unit-small" 
                        ng-disabled="AlarmOutOptions < 2" 
                        ng-model="SelectedAlarm" 
                        ng-options="AlarmOutOptions.indexOf(SelectedAlarm) as SelectedAlarm for SelectedAlarm in AlarmOutOptions"
                        style="width: 70px;">
                    </select>
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>
                    {{ 'lang_alarmOutput' | translate }}{{" "}}{{AlarmOutOptions[SelectedAlarm]}}
                </h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_alarm_input_type' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <div ng-class="RadioClassSm" ng-repeat="State in AlarmOutputIdleStateOptions">
                            <input class="radio" name="State" ng-model="$parent.AlarmOutputs[SelectedAlarm].IdleState" ng-value="State" type="radio"/>
                            {{getTranslatedOption(State)}}                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_mode' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <div ng-class="RadioClassSm" ng-repeat="Mode in AlarmoutModes">
                            {{getTranslatedOption(Mode)}}
                            <input class="radio" name="Mode" ng-model="$parent.AlarmOutputs[SelectedAlarm].Mode" ng-value="Mode" type="radio"/>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="AlarmOutputs[SelectedAlarm].Mode == AlarmoutModes[1]">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_duration' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <select class="form-control" disabled="ActiveDuration < 2" ng-model="AlarmOutputs[SelectedAlarm].ActiveDuration">
                            <option ng-repeat="Duration in ActiveAlarmDurations" ng-selected="AlarmOutputs[SelectedAlarm].ActiveDuration == Duration" value="{{Duration}}">
                                {{getTranslatedOption(Duration)}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="AlarmOutputs[SelectedAlarm].Mode == AlarmoutModes[0]">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_duration' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <select class="form-control" ng-model="AlarmOutputs[SelectedAlarm].ManualDuration">
                            <option ng-repeat="Duration in PulseAlarmDurations" ng-selected="AlarmOutputs[SelectedAlarm].ManualDuration == Duration" value="{{Duration}}">
                                {{getTranslatedOption(Duration)}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>
