<div class="wrapper wrapper-content" ng-if="pageLoaded">
    <form class="form-horizontal" method="get" name="evtSetupForm" novalidate="">
        <wn5-setup-main-title
            data-title="lang_menu_eventsetup">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>
                    {{ 'lang_eventList' | translate }}
                </h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content wn5-setup-table-responsive">
                    <table class="table table-bordered table-editor wn5-setup-table" width="100%">
                        <thead>
                            <tr bgcolor="#f2f2f2" height="35">
                                <th class="text-center">
                                    {{ 'lang_wisestream_table_use' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'lang_type' | translate }}
                                </th>
                                <th ng-show="ftpActionSupported" class="text-center">
                                    FTP
                                </th>
                                <th ng-show="smtpActionSupported" class="text-center">
                                    {{ 'lang_email' | translate }}
                                </th>
                                <th ng-show="recordActionSupported" class="text-center">
                                    {{ 'lang_record' | translate }}
                                </th>
                                <th ng-repeat="n in getAlarmOutArray" ng-show="alarmActionSupported[n]" class="text-center">
                                    {{ 'lang_alarmOutput' | translate }} {{n + 1}}
                                </th>
                                <th ng-show="presetActionSupported" class="text-center">
                                    {{ 'lang_gotoPreset' | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr height="50" ng-repeat="Rule in EventRules | orderBy: 'EventOrder' |limitTo:eventCountToShow" ng-show="isSupportedEventSource(Rule)">
                                <td class="text-center" width="8%">
                                    <input ng-model="Rule.Enable" type="checkbox"/>
                                </td>
                                <td class="event-type-td" width="28%">
                                    <a class="event-setup-link" ng-click="sourceSelected(Rule.EventSource)" ng-href="">
                                        <i class="tui tui-wn5-toolbar-play" style="border: none;"></i>
                                        {{ getTranslatedOption(changeNaming(Rule.EventSource))}} {{Rule.Index}}
                                    </a>
                                </td>
                                <td ng-show="ftpActionSupported" class="text-center" width="8%">
                                    <div ng-show="Rule.ftpActionSupported">
                                        <input ng-model="Rule.FtpEnable" type="checkbox">
                                        </input>
                                    </div>
                                </td>
                                <td ng-show="smtpActionSupported" class="text-center" width="8%">
                                    <div ng-show="Rule.smtpActionSupported">
                                        <input ng-model="Rule.SmtpEnable" type="checkbox">
                                        </input>
                                    </div>
                                </td>
                                <td ng-show="recordActionSupported" class="text-center" width="8%">
                                    <div ng-show="Rule.recordActionSupported">
                                        <input ng-model="Rule.RecordEnable" type="checkbox">
                                        </input>
                                    </div>
                                </td>
                                <td ng-repeat="a in getAlarmOutArray" class="text-center" width="15%">
                                    <div ng-show="Rule.alarmActionSupported">
                                        <div ng-if="presetAlarmActionSelectShow[Rule.EventSource][a].inputShow" ng-click="presetAlarmActionSelectShowChange(Rule.EventSource,a,true)" ng-keypress="presetAlarmActionSelectShowChange(Rule.EventSource,a,true,$event)">
                                            <input type="text" class="form-control preset-input" value="{{getTranslatedOption(Rule.AlarmOutputs[a].Duration)}}" readonly style="cursor: default;">
                                            <input type="hidden" ng-model="Rule.AlarmOutputs[a].Duration">
                                        </div>
                                        <div ng-if="presetAlarmActionSelectShow[Rule.EventSource][a].selectShow">
                                            <select class="form-control preset-input-select presetSelectbox" ng-show="Rule.alarmActionSupported" ng-model="Rule.AlarmOutputs[a].Duration" ng-options="Duration as getTranslatedOption(Duration) for Duration in AlarmoutDurationOptions" ng-blur="presetAlarmActionSelectShowChange(Rule.EventSource,a,false)"></select>
                                        </div>
                                    </div>
                                </td>
                                <td ng-show="presetActionSupported" class="text-center" width="20%">
                                    <div ng-show="Rule.presetActionSupported">
                                        <div ng-if="presetGotoSelectShow[Rule.EventSource].inputShow" ng-click="presetGotoSelectShowChange(Rule.EventSource,true)" ng-keypress="presetGotoSelectShowChange(Rule.EventSource,true,$event)">
                                            <input type="text" class="form-control preset-input" value="{{getTranslatedOption(Rule.PresetNumber)}}" readonly style="cursor: default;">
                                            <input type="hidden" ng-model="Rule.PresetNumber">
                                        </div>
                                        <div ng-if="presetGotoSelectShow[Rule.EventSource].selectShow">
                                            <select class="form-control preset-input-select presetSelectbox" ng-model="Rule.PresetNumber" ng-options="Preset as getTranslatedOption(Preset) for Preset in PresetOptions" ng-blur="presetGotoSelectShowChange(Rule.EventSource,false)"></select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="showReducedEventList">
                                <td colspan="100%">
                                    <div class="form-group">
                                        <button type="button" class="button button-background-none btn-wide" ng-model="showAdvancedMenu" ng-click="advacedMenu()" style="text-align: center;">
                                          {{ showAdvancedLabel | translate }}<i ng-class="showAdvancedMenu == true ? 'tui-top' :'tui-down'" class="tui"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="wn5-setup-hr">

        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>