<div class="wrapper wrapper-content" id="ftpemailpage" ng-show="pageLoaded" style="display:none">
    <form autocomplete="new-password" class="form-horizontal" method="get" name="FTPForm" novalidate="" ng-show="FTPSupported">
        <wn5-setup-main-title
            data-title="lang_menu_ftpemail">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>
                    {{ 'lang_FtpConfiguration' | translate }}
                    &nbsp;
                    <span ng-bind="ftpStatus" style="color:red;"></span>
                </h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_serverAddress' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{FTPHostStringLen.maxLength}}" name="FTPAddress" ng-maxlength="FTPHostStringLen.maxLength" ng-model="FTPHost" ng-pattern-restrict="{{FriendlyNameCharSetNoSpaceStr}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_userID' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{FTPUsernameStringLen.maxLength}}" name="FTPUser" ng-maxlength="FTPUsernameStringLen.maxLength" ng-model="FTPUsername" ng-pattern-restrict="{{regForIdPwd}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_password' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input autocomplete="new-password" class="form-control" maxlength="{{FTPPasswordStringLen.maxLength}}" name="FTPPassword" ng-maxlength="FTPPasswordStringLen.maxLength" ng-model="FTPPasswordDummy" ng-pattern-restrict="{{regForIdPwd}}" type="password">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_uploadDirectory' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{FTPPathStringLen.maxLength}}" name="FTPUploadDir" ng-maxlength="FTPPathStringLen.maxLength" ng-model="FTPPath" ng-pattern-restrict="{{FriendlyNameCharSetNoNewLineStr}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_menu_port' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{FTPPortRangeMaxStrLen}}" name="FTPPort" ng-model="FTPPort" ng-pattern-restrict="{{OnlyNumStr}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{'lang_passiveMode'| translate}}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input ng-change="updateDefaultMode()" ng-model="ModeEnable" type="checkbox" value="true">
                        <label>{{'lang_enable'| translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <wn5-setup-common-button
            class="use-margin-top"
            data-submit-click="submitFTP()"
            data-cancel-click="cancelFTP()">
        </wn5-setup-common-button>
    </form>
    <form autocomplete="new-password" class="form-horizontal" method="get" name="EmailForm" novalidate="">
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>
                    {{ 'lang_smtpConfiguration'| translate }}
                    &nbsp;
                    <span ng-bind="smtpStatus" style="color:red;">
                    </span>
                </h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_serverAddress' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{SMTPHostStringLen.maxLength}}" name="SMTPAddress" ng-maxlength="SMTPHostStringLen.maxLength" ng-model="SMTPHost" ng-pattern-restrict="{{FriendlyNameCharSetNoSpaceStr}}" required="" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{'lang_Authentication'| translate}}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input ng-change="updateDefaultAuth()" ng-model="AuthenticationEnable" type="checkbox" value="true">
                        <label>{{'lang_enable'| translate}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{'lang_useTLS'| translate}}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input ng-change="updateDefaultSMTPPort()" ng-model="EncryptionEnable" type="checkbox" value="true">
                        <label>{{'lang_enable'| translate}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_userID' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{SMTPUsernameStringLen.maxLength}}" name="SMTPUser" ng-maxlength="SMTPUsernameStringLen.maxLength" ng-model="SMTPUsername" ng-pattern-restrict="{{regForIdPwd}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_password' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input autocomplete="new-password" class="form-control" maxlength="{{SMTPPasswordStringLen.maxLength}}" name="SMTPPassword" ng-maxlength="SMTPPasswordStringLen.maxLength" ng-model="SMTPPasswordDummy" ng-pattern-restrict="{{regForIdPwd}}" type="password">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_menu_port' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{SMTPPortRangeMaxStrLen}}" name="SMTPPort" ng-model="SMTPPort" ng-pattern-restrict="{{OnlyNumStr}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group" ng-show="DeviceType === 'NWC'">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_recipient' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{SMTPRecipientStringLen.maxLength}}" name="SMTPRecipient" ng-maxlength="SMTPRecipientStringLen.maxLength" ng-model="SMTPRecipient" ng-pattern-restrict="{{FriendlyNameCharSetNoSpaceStr}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_sender' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{SMTPSenderStringLen.maxLength}}" name="SMTPSender" ng-maxlength="SMTPSenderStringLen.maxLength" ng-model="SMTPSender" ng-pattern-restrict="{{FriendlyNameCharSetNoSpaceStr}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group" ng-show="DeviceType === 'NWC'">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_subject' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <input class="form-control" maxlength="{{SMTPSubjectStringLen.maxLength}}" name="SMTPSubject" ng-maxlength="SMTPSubjectStringLen.maxLength" ng-model="SMTPSubject" ng-pattern-restrict="{{FriendlyNameCharSetNoNewLineStr}}" type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group" ng-show="DeviceType === 'NWC'">
                    <div class="wn5-setup-section-article-heading">
                        {{ 'lang_body' | translate }}
                    </div>
                    <div class="wn5-setup-section-article-content">
                        <textarea class="form-control" maxlength="{{SMTPMessageStringLen.maxLength}}" name="SMTPBody" ng-maxlength="SMTPMessageStringLen.maxLength" ng-model="SMTPBody" ng-pattern-restrict="{{FriendlyNameCharSetSupportedStr}}" obj="SMTPBody" obj-edit="" rows="6">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>

        <wn5-setup-common-button
            class="use-margin-top"
            data-submit-click="submitSMTP()"
            data-cancel-click="cancelSMTP()">
        </wn5-setup-common-button>
        <hr class="wn5-setup-hr">
    </form>
</div>