<div class="wrapper wrapper-content" ng-if="pageLoaded">
    <form class="form-horizontal" method="get" name="nwDisconnectForm" novalidate="">
        <wn5-setup-main-title
            data-title="lang_menu_networkdisconnect">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>
                    {{ 'lang_menu_networkdisconnect' | translate }}
                </h3>
            </div>
            <div class="wn5-setup-section-article wn5-setup-section-article-ratio-3-7 form-group">
                <div class="wn5-setup-section-article-heading">
                    {{ 'lang_menu_networkdisconnect' | translate }}
                </div>
                <div class="wn5-setup-section-article-content">
                    <input name="Enable" ng-model="$parent.ND.Enable" type="checkbox">
                    <label>{{ 'lang_enable' | translate }}</label>
                </div>
            </div>
        </div>

        <event-action-setup></event-action-setup>

        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>
                    {{ 'lang_activation_time' | translate }}
                </h3>
            </div>
            <div class="wn5-setup-section-article wn5-setup-section-article-ratio-3-7 form-group">
                <div class="wn5-setup-section-article-content">
                    <div ng-class="RadioClassLg" ng-repeat="Activate in ActivateOptions">
                        {{getTranslatedOption(Activate)}}
                        <input class="radio" name="Activate" ng-model="$parent.EventRule.ScheduleType" ng-value="Activate" type="radio"/>
                    </div>
                </div>
            </div>
        </div>

        <scheduler></scheduler>
        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view(0)">
        </wn5-setup-common-button>
    </form>
</div>