.button {
  border: 1px solid @theme-color-gray-12;
  color: @theme-light-normal-color;
  text-align: center;
  i {
    color: @theme-color-gray-100;
  }
  &:focus {outline:0;}
  .btn-disalbed-color(@theme-light-normal-color, white, @theme-color-gray-12);
}
.button-border-active {
  background-color: transparent;
  &:active {
    background-color: transparent;
    border-color: @theme-color-point-60;
    color: @theme-color-point-60;
    i {
      color: @theme-color-point-60;
    }
  }
}
.button-background-none {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  i {
    color: white;
  }
  &:not(:disabled):active,
  &:not(:disabled).button-clicked,
  &:hover {
    color: @theme-color-point-60 !important;
    i {
      color: @theme-color-point-60 !important;
    }
  }
  &:disabled i {
    opacity: 0.3;
  }
  &:focus {outline:0;}
}

.cm-btn-dark {
  .mixin-button("dark", "light");
}

.cm-btn-point {
  .mixin-button("point", "light");
}

.cm-full-menu {
  .cm-btn-dark {
    .mixin-button("dark", "dark");
  }
  .cm-btn-point {
    .mixin-button("point", "dark");
  }
}