/* Channel Selector Directive Commom */
.channel-selector {
  float: left;

  li {
    float: left;

    &:first-child {
      margin-right: 10px;
      .channel-selector-title {
        float: left;
        padding: 0;
        margin: 0;
      }
    }

    > button {
      padding: 0;
    }
  }
}