@import "wn5-variable.less";
@import "layout.less";
@import "wn5-layout.less";
@import "form-control.less";
@import "rzslider.less";
@import "sketchbook.less";
@import "tabcontrol.less";

.file-browser-field {
  position: relative;
  input[type="text"] {
    padding-right: 35px;
    &+label {
      position: absolute;
      right: 0;
      top: 0;
      line-height: @wn5-gui-button-line-height;
      span.btn {
        border-color: @color-button-border;
        float: right;
      }
    }
  }
}

.logtable{
	table-layout: fixed;

	&-idx {
		width: 11%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	&-datetime {
		width: 22%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	&-desc {
		width: 22%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	&-info {
		width: 45%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
}

.add-spin-button {
	float: left;
	width: calc(~"100% - 16px");
}

.no-clear-button {
	&::-ms-clear {
    	display: none;
	}
	&[readonly] {
		cursor: pointer;
	    background-color: white;
	}
}
.wn5-setup-section {
	.wn5-gui-body-large {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.form-group {
		.wn5-setup-section-article-heading {
			padding-left: 15px;
			padding-right: 80px;

			&.wn5-outline-title {
				padding-left: 0;
			}
		}

	  	.tab-content {
			.wn5-setup-section-article-heading {
			  padding-left: 20px;
			}
		}

		.wn5-setup-section-article-content-type {
			width: auto;

			.field-radio-wrapper {
				float: left;
				width: 250px;
			}
		}

		
	}	
}


.field-label {
	line-height: 34px;
	vertical-align: middle;
}
.control-label {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 34px;
}
.field-label, .field-wrapper, .control-label {
	input[type="checkbox"] {
		margin: 0;
		+label {
			line-height: 34px;
			margin-bottom: 7px;
			vertical-align: middle;
			margin-left: 7px;
		}
		&+.control-label {
			line-height: 15px;
		}
	}
}
.field-radio-wrapper, .control-label {
	input[type="radio"] {
		float: left;
		min-height: auto;
		height: auto;
		margin-top: 11px;
		margin-right: 5px;
	}
	line-height: 34px;
	vertical-align: middle;
}
.slider-label {
	line-height: 34px;
	margin-bottom: 0;
	margin-left: 10px;
}
.btn.btn-primary-ct {
	padding: 5px 0;
	width: 30%;
	max-width: 100px;
	margin-bottom: 0;
}


#imagePresetScheduleDiv {
	border: 1px solid @wn5-gui-table-border;

	#imagePresetSchedule-head {
		width: 100%;
		height: @wn5-gui-table-min-height;
	    border-bottom: 1px solid @wn5-gui-table-border;
	    background: @wn5-gui-table-header-bg;

		.imagePresetSchedule-head-item {
			width: 4.16%;
			line-height: @wn5-gui-table-min-height;
			border-left: 1px solid @wn5-gui-table-border;
			float: left;
			text-align: center;
		}

		.first-item {
			border-left: none;
		}
	}

	#imagePresetSchedule-body {
		width: 100%;
		clear: left;
		height: @wn5-gui-table-min-height;
		background: @wn5-gui-table-data-bg;

		#imagePresetSchedule-userpreset {
		}

		.imagePresetSchedule-schedule {
			position: relative;
			height: 39px;
		}
	}
}

.graph .axis {
	font-size: 12px;
}

.graph .axis .tick line {
    stroke: #797979;
}

.graph .axis .tick text {
    fill: #797979;
    font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: #797979;
}

.graph .group {
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

.zeroline {
    fill: none;
    stroke: #797979;
    stroke-width: 2px;
    /*stroke-dasharray: 5 5;*/
}

.zerolinetext {
    fill: red;
}
.level-threshold-slider {
	svg {
		height: auto;
	}
	.graph {
		float: left;
	}
	.slider-align {
		width: 50px;
		height: 140px;
		float: left;
		position: relative;
		rzslider.vertical {
			position: absolute;
			left: 5px;
			top: 25px;
			height: 90px;
		}
		i {
			position: absolute;
			left: 20px;
			font-size: 20px;
			cursor: pointer;
		}
	}
}

[slider-no-focus] {
	.ui-state-active {
		background-color: #3464ff;
		border-width: 4px !important;
	}
}

#iva-setup-tab-size {
	.iva-setup-tab-size-wrap {
		width: 100%;
		overflow: hidden;

		.iva-setup-tab-size-wrap-heading {
			width: 25%;
			float: left;
		}

		.iva-setup-tab-size-wrap-content {
			width: 75%;
			float: left;
		}

		@media(min-width: 1255px){
			.iva-setup-tab-size-wrap-heading,
			.iva-setup-tab-size-wrap-content {
				width: 100%;
			}
		}

	}

	.iva-setup-tab-size-input {
		width: calc(~"50% - 17px"); /* 17px is half width of .iva-setup-tab-size-text */
		float: left;
	}

	.iva-setup-tab-size-text {
		width: 34px;
		line-height: 34px;
		text-align: center;
		float: left;
	}
}

#userpage {
	.userpage-password-description {
		margin-top: @wn5-setup-content-area-form-group-margin-bottom;
		ol {
			padding-top: @wn5-setup-content-area-indent;
			padding-bottom: @wn5-setup-content-area-indent;
			padding-left:  @wn5-setup-content-area-indent * 2;
			padding-right: @wn5-setup-content-area-indent;

			border: solid 1px @wn5-gui-table-border;
			font-size: @wn5-gui-body-m;
		    margin-bottom: 0;
		    list-style-type:disc;
		}

		li+li {
		    margin-top: 7px;
		}
	}
}

#simplefocuspage {
	.form-group {
		.simple-focus-icon {
			font-size: 20px;
		}

		&.btn-list{
			@icon-size: 30px;

			position: relative;
			padding-left: @icon-size;
			padding-right: @icon-size;

			.btn {
				float: left;
				width: 16.66666667%;
				padding-left: 0;
				padding-right: 0;

				+.btn {
					margin-left: -1px;
					padding-left: 1px;
				}
			}

			.simple-focus-icon {
				position: absolute;
				top: 0;

				width: @icon-size;
				height: @icon-size;

				&:first-child {
					text-align: left;
					left: 0;
				}

				&:last-child {
					text-align: right;
					right: 0;
				}
			}
		}

		.btn-simple-focus {
			font-size: 30px;
			.tui {
				cursor: pointer;
			}
		}
	}
}

.video-pattern{
	width: 150px;
	margin-top: 3px;
	margin-bottom: 15px;
}

.video-setup-table{
  width: 290px;
  border-right: none;
  border-bottom: none;
  *{
    box-sizing: border-box;
  }
  thead {
    display: block;
  }
  tbody {
    display: block;
    max-height: 317px;
    overflow-y: auto;
  }
  tr {
   display: block;
   position: relative;
   th,
   td{
    border: none !important;
    border-right: 1px solid #e9e9e9 !important;
    border-bottom: 1px solid #e9e9e9 !important;
    text-align: center;
    &:nth-of-type(1){min-width: 40px !important;}
    &:nth-of-type(2){min-width: 50px !important;}
    &:nth-of-type(3){width: 200px !important;}
   }
  }
}

.live-slider-vertical-input {
    display: inline-block;
    float:left;
    position: relative;
    top: -97px;
    left: 20px;
    width: 45px;
    text-align:center;
}

.live-slider-horizontal-input{
    margin-top: 5px;
    position: relative;
    display: inline-block;
    width:45px;
    left: 20px;
    text-align:center
}

#dptzsetuppage {
	.preset-btn-group {
	    text-align: right;
	    width: 62.5%;

    	@media(max-width: @setup-mobile-max-width){
    		width: 100%;
    		padding-right: @wn5-setup-content-area-indent;
    	}
	}
}

#wn5-setup-8021x {
	.file-browser-field {
		@media(max-width: @setup-mobile-max-width){
    		width: 100%;

    		+button {
    			margin-left: 0;
    		}

    		~button,
    		~label {
    			margin-top: 5px;
    		}
    	}	
	}
}

#storagepage {
	.wn5-setup-storage-days {
		span,
		input {
			float: left;
			margin-right: 5px;
		}
	}

	@media(max-width: @setup-mobile-max-width){
		.wn5-setup-storage-auto-delete {
			width: 100%;
		}
	}
}

/* Setup Channel Selector */
#setup-channel-selector {
	@number-button-margin: 8px;

	padding: 0;
	margin-bottom: 20px;

	.setup-channel-selector-heading {
		float: left;
		width: 25%;

		h3 {
			@media(max-width: @setup-mobile-max-width){
				font-size: @wn5-gui-title-s !important;
			}
		}
	}

	.setup-channel-selector-btns {
		float: left;
		width: 75%;

		button {
			height: 30px;
			line-height: 28px;

			&:focus {
				background-color: #fff;
			}

			&.active,
			&:active,
			&:hover {
				line-height: 30px;
				background-color: #000;
				color: #fff !important;
				border: 0 !important;
			}
		}

		/**
	     * Channel Selector Directive Commom
	     * .channel-selector는 공통 스타일만 있음
	     */
		.channel-selector {
			li {
				color: #000;

				/* CH 텍스트 */
	            &:first-child {
	                /* CH 텍스트 오른쪽 숫자 버튼 */
	                &~li {
	                    margin-right: @number-button-margin;
	                }

	                .channel-selector-title {
	                    font-size: 15px;
	                    line-height: 30px;
	                }
	            }

				> button {
					width: 43px;
					color: #000;
					font-size: 15px;
					border: solid 1px #868686;
				}
			}
		}

		.setup-channel-selector-info {
			margin-left: 16px;
			min-width: 68px;
			font-size: 14px;
			border: solid 1px #a5a5a5;
			color: #333;
		}
	}
}

.wn5-setup-info-vertical-middle {
	vertical-align: middle !important;
}

.wn5-setup-info-ch {
	.wn5-setup-info-vertical-middle();
	font-weight: bold;
}

/* For Sketchbook */
body.kind-svg-editor-drawing {
	.wn5-setup-preview-table,
	.channel-content {
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
}