@import "wn5-variable.less";
@import "layout.less";
@import "wn5-layout.less";
@import "form-control.less";
@import "sketchbook.less";
@import "scheduler.less";
@import "side-navigation.less";
@import "channel-selector.less";

.file-browser-field {
  position: relative;
  input[type="text"] {
    padding-right: 35px;
    &+label {
      position: absolute;
      right: 0;
      top: 0;
      line-height: @setup-button-line-height;
      span.btn {
        float: right;
      }
    }
  }
}

.logtable{
	table-layout: fixed;

	&-idx {
		width: 11%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	&-datetime {
		width: 22%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	&-desc {
		width: 22%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	&-info {
		width: 45%;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
}

.add-spin-button {
	float: left;
	width: calc(~"100% - 16px");
}

.no-clear-button {
	&::-ms-clear {
    	display: none;
	}
	&[readonly] {
		cursor: pointer;
    background-color: @theme-light-text-fields-normal-input-bg;
	}
}

.wn5-setup-section {
  .wn5-gui-body-large {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-group {
    .wn5-setup-section-article-heading {
      padding-left: 15px;
      padding-right: 15px;

      &.wn5-outline-title {
        padding-left: 0;
        padding-right: 80px;
      }
    }

    .tab-content {
      .wn5-setup-section-article-heading {
        padding-left: 20px;
      }
    }

    .wn5-setup-section-article-content-type {
      width: auto;

      .field-radio-wrapper {
        float: left;
        width: 250px;
      }
    }
  }	
}

.field-label {
	line-height: 34px;
	vertical-align: middle;
}
.control-label {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 34px;
}
.field-label, .field-wrapper, .control-label {
	input[type="checkbox"] {
		margin: 0;
		+label {
			line-height: 34px;
			margin-bottom: 7px;
			vertical-align: middle;
			margin-left: 7px;
		}
		&+.control-label {
			line-height: 15px;
		}
	}
}
.field-radio-wrapper, .control-label {
	input[type="radio"] {
		float: left;
		min-height: auto;
		height: auto;
		margin-top: 11px;
		margin-right: 5px;
	}
	line-height: 34px;
	vertical-align: middle;
}
.slider-label {
	line-height: 34px;
	margin-bottom: 0;
	margin-left: 10px;
}
.btn.btn-primary-ct {
	padding: 5px 0;
	width: 30%;
	max-width: 100px;
	margin-bottom: 0;
}

<<<<<<< HEAD
=======
.graph {
  .axis {
	  font-size: 12px;
    .tick {
      line {
        stroke: @theme-color-gray-75;
      }
      text {
        fill: @theme-color-gray-75;
        font-size: 0.7em;
      }
    }

    .domain {
      fill: none;
      stroke: @theme-color-gray-75;
    }
  }

  .group {
    fill: none;
    stroke: @theme-color-black-100;
    stroke-width: 2px;
  }
}

>>>>>>> 1c215cc78cacf7aa567c476b706fdcfa1e7d8cdf
.zeroline {
    fill: none;
    stroke: @theme-color-gray-75;
    stroke-width: 2px;
    /*stroke-dasharray: 5 5;*/
}

.zerolinetext {
    fill: @theme-color-pallet-red;
}

<<<<<<< HEAD
=======
.level-threshold-slider {
	svg {
		height: auto;
	}
	.graph {
		float: left;
	}
	.slider-align {
		width: 50px;
		height: 140px;
		float: left;
		position: relative;
		i {
			position: absolute;
			left: 20px;
			font-size: 20px;
			cursor: pointer;
		}
	}
}

[slider-no-focus] {
	.ui-state-active {
		background-color: @theme-color-pallet-blue;
		border-width: 4px !important;
	}
}

>>>>>>> 1c215cc78cacf7aa567c476b706fdcfa1e7d8cdf
.video-pattern {
	width: 150px;
	margin-top: 3px;
	margin-bottom: 15px;
}

.video-setup-table {
  width: 290px;
  border-right: none;
  border-bottom: none;
  *{
    box-sizing: border-box;
  }
  thead {
    display: block;
  }
  tbody {
    display: block;
    max-height: 317px;
    overflow-y: auto;
  }
  tr {
   display: block;
   position: relative;
   th,
   td{
    border: none !important;
    border-right: 1px solid @theme-light-table-border !important;
    border-bottom: 1px solid @theme-light-table-border !important;
    text-align: center;
    &:nth-of-type(1){min-width: 40px !important;}
    &:nth-of-type(2){min-width: 50px !important;}
    &:nth-of-type(3){width: 200px !important;}
   }
  }
}

.wn5-setup-info-vertical-middle {
	vertical-align: middle !important;
}

.wn5-setup-info-ch {
	.wn5-setup-info-vertical-middle();
	font-weight: bold;
}

.wn5-setup-info-msg {
	.wn5-gui-text-orange-100;
	margin-top: 5px;

	.tui-wn5-toolbar-status {
		margin-right: 0;
		font-size: 14px;
	}
}

.setup-wrapper,
#videosetuppage {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.preset-selectbox {float: right; width: 60%;}

.setup-border-box-padding {
    padding-bottom: 3px;
}

.wn5-setup-wrapper #setup-border-box {
    display: block;
}