[drag-select] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: white;
  
  .eng-selected-item {
    background: SteelBlue;
    color: white;
  }
}
 
.setHome {
    background:#54c0ff;
}

.setPreset {
    background:#ffa52f;
}

.setSwing {
    background:#5eec5f;
}

.setGroup {
    background:#923ee6;
}

.setTour {
    background:#ef5ca8;
}

.setTrace {
    background:#ffff77;
}

.setAutopan {
    background:#3464ff;
}

.scheduleColorInfo {
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
    font-weight:bold;
    margin-right:3px;
}