[drag-select] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: white;
  
  .eng-selected-item {
    background: SteelBlue;
    color: white;
  }
}
 
.setHome {
    background: @theme-legend-sky-blue;
}

.setPreset {
    background: @theme-legend-orange;
}

.setSwing {
    background: @theme-legend-green;
}

.setGroup {
    background: @theme-legend-purple;
}

.setTour {
    background: @theme-legend-pink;
}

.setTrace {
    background: @theme-legend-yellow;
}

.setAutopan {
    background: @theme-legend-blue;
}

.scheduleColorInfo {
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
    font-weight:bold;
    margin-right:3px;
}