.nav-hover() {
  background-color: @color-button-selected;
  color: #fff !important;
  i {
    color: #fff !important;
  }
}
.side-nav-wrapper {
  @width-left-padding: 15px;
  list-style: none;
  position: absolute;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow-y: auto;
  z-index: 1;
  border-right: 1px solid #ccc;
  -webkit-transition: -webkit-transform @animation-timing-function @animation-time-side-nav;
  -moz-transition: -moz-transform @animation-timing-function @animation-time-side-nav;
  -ms-transition: -ms-transform @animation-timing-function @animation-time-side-nav;
  -o-transition: -o-transform @animation-timing-function @animation-time-side-nav;
  transition: transform @animation-timing-function @animation-time-side-nav;
  .translate(-100%);
  width: @width-side-nav;
  .sid-nav-inner {
    height: 100%;
  }
  nav {
    height: 100%;
    #side-menu{
      margin-top: 50px;
    }
    dl, > ul {
      height: 100%;
      margin: 0;
      position: relative;
      dt, > li {
        padding-bottom: 7px;
        a, a:hover {
          font-weight: 700;
          font-size: @setup-title-s;
          color: @font-color;
          width: 100%;
          display: block;
          padding: 10px @setup-tree-1depth-padding-left 10px @setup-tree-1depth-padding-right;

          span {
            margin-left: @setup-tree-1depth-text-margin-left;
          }
          i {
            color: @font-color;
            font-size: 17px;
            vertical-align: text-top;
          }
          &.on {
            .nav-hover()
          }
          &.default-cursor {
            cursor: default;
          }
        }
        &.separate
        {
          @gap: 11px;
          padding-bottom: @gap;
          &:after {
            content: " ";
            width: auto;
            height: 1px;
            background-color: #d8dde8;
            display: block;
            margin-top: @gap;
          }
        }
      }
    }
  }
}