/**
 * Setup 페이지는 사용된 부분이 많으므로
 * Desktop -> Mobile 순서로 @media가 작성된다.
 * @media(max-width: @setup-mobile-max-width){ //Some code }
 */
@setup-menu-width: 260px;
@setup-mobile-width: 1020px;
@setup-mobile-width-for-block-main: (@setup-mobile-width + 1);
@setup-mobile-max-width: 700px;
@setup-preview-responsive: 1255px;

/* Font */
@setup-title-xxl: 36px;
@setup-title-xl: 24px;
@setup-title-l: 20px;
@setup-title-m: 16px;
@setup-title-s: 14px;

@setup-body-l: 14px;
@setup-body-m: 12px;
@setup-body-s: 11px;

/* Text fields */
@setup-text-padding-left: 10px;
@setup-text-padding-right: 10px;
@setup-text-height: 30px;
@setup-text-line-height: 28px;

/* Button */
@setup-button-height: 30px;
@setup-button-line-height: 28px;
@setup-button-padding-left: 20px;
@setup-button-padding-right: 20px;

@setup-button-big-height: 36px;
@setup-button-big-line-height: 34px;

/* Table */
@setup-table-min-height: 39px;

/* Tab */
@setup-tab-height: 39px;

/* Side Tree menu */
@setup-tree-padding-top: 20px;
@setup-tree-1depth-height: 40px;
@setup-tree-1depth-text-margin-left: 5px;
@setup-tree-1depth-padding-left: 15px;
@setup-tree-1depth-padding-right: 10px;
@setup-tree-2depth-height: 30px;

/* Layout */
@setup-side-bar: 260px;
@setup-content-margin-left: 30px;
@setup-content-margin-right: 30px;
@setup-tab-content-padding: 20px;

/* Slider */
@setup-slider-margin-left: 10px;
@setup-slider-margin-right: 10px;
@setup-slider-big-size: 16px;
@setup-slider-small-size: 12px;

/* Content Area */
@setup-content-area-main-title-size: @setup-title-xl;
@setup-content-area-main-title-margin-top: 30px;
@setup-content-area-main-title-margin-bottom: 10px;
@setup-content-area-form-group-margin-bottom: 10px;
@setup-content-area-line-margin-top: 20px;
@setup-content-area-line-margin-bottom: 20px;
@setup-content-area-indent: 15px;

/* Table */
@setup-table-height: 39px;

/* Responsive UI */
@setup-responsive-ui-heading-width: 226px;
@setup-responsive-ui-content-padding-left: 20px;
@setup-responsive-ui-padding-top: 30px;
@setup-responsive-ui-padding-left: 30px;
@setup-responsive-ui-padding-right: 30px;
@setup-responsive-ui-padding-bottom: 20px;
@setup-responsive-ui-max-width: 1280px;