
<h1 class="wn5-setup-main-title">R&eacute;glage de temp&eacute;rature</h1>
<div class="wn5-setup-section">
    <p>Vous pouvez d&eacute;finir le mode de d&eacute;tection de la cam&eacute;ra, l&rsquo;&eacute;missivit&eacute; de r&eacute;f&eacute;rence de la cam&eacute;ra lors de la d&eacute;tection de la temp&eacute;rature ainsi que le type de palette de couleurs et l&rsquo;unit&eacute; d&rsquo;affichage de la temp&eacute;rature &agrave; appliquer &agrave; la vid&eacute;o de la cam&eacute;ra.</p>
    <p>Cliquez sur le bouton <strong class="UI">[Appliquer]</strong> ci-dessous lorsque la configuration est termin&eacute;e.</p>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Mode de d&eacute;tection</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Vous pouvez faire votre choix parmi les modes d&rsquo;action de d&eacute;tection de la cam&eacute;ra. La s&eacute;lection de <strong class="UI">[Mode normal]</strong> active le fonctionnement de la cam&eacute;ra thermique normale. La s&eacute;lection de <strong class="UI">[Mode Temp&eacute;rature du corps estim&eacute;e]</strong> permet de d&eacute;tecter la temp&eacute;rature du corps &agrave; partir de la temp&eacute;rature du visage.</p>
            <p>Selon le mode de d&eacute;tection s&eacute;lectionn&eacute;, un ensemble diff&eacute;rent de sous-menus <strong class="UI">[Analyse]</strong> s&rsquo;affiche.</p>
            <p>Les param&egrave;tres d&eacute;taill&eacute;s de la d&eacute;tection de temp&eacute;rature par une cam&eacute;ra thermique normale peuvent &ecirc;tre d&eacute;finis dans <strong class="UI">[Analyse]</strong>&nbsp;&gt;&nbsp;<strong class="UI">[D&eacute;tection de la temp&eacute;rature du corps estim&eacute;e]</strong>, tandis que les param&egrave;tres d&eacute;taill&eacute;s du mode Temp&eacute;rature du corps estim&eacute;e peuvent &ecirc;tre d&eacute;finis dans <strong class="UI">[Analyse]</strong>&nbsp;&gt;&nbsp;<strong class="UI">[D&eacute;tection de la temp&eacute;rature]</strong>.</p>
        </div>
       
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>R&eacute;glage de temp&eacute;rature</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>Unit&eacute; de temp&eacute;rature</h3>
            <p>L&rsquo;unit&eacute; d&rsquo;affichage de temp&eacute;rature peut &ecirc;tre d&eacute;finie.&nbsp;Vous pouvez choisir entre Celsius et Fahrenheit.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Canal de d&eacute;tection de visage</h3>
            <p>S&eacute;lectionnez un canal vid&eacute;o &agrave; analyser pour la d&eacute;tection de visage dans le mode Temp&eacute;rature du corps estim&eacute;e. S&eacute;lectionnez le canal vid&eacute;o &agrave; utiliser pour l&rsquo;analyse de la d&eacute;tection de visage.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Palette de couleurs</h3>
            <p>La palette de couleurs pr&eacute;sente les vid&eacute;os de la cam&eacute;ra d&rsquo;une mani&egrave;re pratique pour une analyse visuelle.</p>
            <p>Si vous s&eacute;lectionnez une option de palette de couleurs, les couleurs de l&rsquo;&eacute;cran vid&eacute;o changent en fonction de l&rsquo;option s&eacute;lectionn&eacute;e. L&rsquo;option s&rsquo;applique aussi &agrave; la page <strong class="UI">[Direct]</strong>.</p>
            <p>Le sch&eacute;ma de repr&eacute;sentation des couleurs pour chaque option de palette de couleurs est le suivant.</p>
            <ul>
                <li><strong class="UI">Blanc, chaud</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du blanc au noir.</li>
                <li><strong class="UI">Noir, chaud</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du noir au blanc.</li>
                <li><strong class="UI">Arc-en-ciel</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e en rouge, orange, jaune, vert, bleu et indigo</li>
                <li><strong class="UI">Arc-en-ciel2</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e en rouge, orange, jaune, vert, bleu indigo, et violet.</li>
                <li><strong class="UI">Customiser</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e de l&rsquo;orange au noir</li>
                <li><strong class="UI">S&eacute;pia</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du jaune au noir.</li>
                <li><strong class="UI">Rouge</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du noir au rouge.</li>
                <li><strong class="UI">Fer</strong>&nbsp;: Une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du jaune au violet.</li>
                <li><strong class="UI">Rouge-WH</strong>&nbsp;: La section de temp&eacute;rature d&eacute;finie est repr&eacute;sent&eacute;e en rouge. Pour tout le reste, une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du blanc au noir. La section de temp&eacute;rature peut &ecirc;tre d&eacute;finie dans <strong class="UI">[Niveaux]</strong>.</li>
                <li><strong class="UI">Fer-WH</strong>&nbsp;: La section de temp&eacute;rature est repr&eacute;sent&eacute;e du jaune au violet. Pour tout le reste, une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du blanc au noir. La section de temp&eacute;rature peut &ecirc;tre d&eacute;finie dans <strong class="UI">[Niveaux]</strong>.</li>
                <li><strong class="UI">Plage moyenne-WH</strong>&nbsp;: La section de temp&eacute;rature est repr&eacute;sent&eacute;e du jaune &agrave; l&rsquo;orange. Pour tout le reste, une temp&eacute;rature &eacute;lev&eacute;e &agrave; faible est repr&eacute;sent&eacute;e du blanc au noir. La section de temp&eacute;rature peut &ecirc;tre d&eacute;finie dans <strong class="UI">[Niveaux]</strong>.</li>
            </ul>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Sensibilit&eacute; aux variations</h3>
            <p>Permet de d&eacute;finir la sensibilit&eacute; aux variations thermiques au niveau de l&rsquo;&eacute;cran. Plus la valeur de la sensibilit&eacute; aux variations est &eacute;lev&eacute;e, plus l&rsquo;affichage de la diff&eacute;rence de temp&eacute;rature est rapide, ce qui se traduit &agrave; l&rsquo;&eacute;cran par une r&eacute;action plus rapide &agrave; la variation de temp&eacute;rature.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Niveaux</h3>
            <p>Vous pouvez d&eacute;finir les temp&eacute;ratures de d&eacute;but et de fin sur la section de temp&eacute;rature de mani&egrave;re &agrave; ce que seulement la section de temp&eacute;rature s&eacute;lectionn&eacute;e par l&rsquo;utilisateur soit affich&eacute;e en couleur.&nbsp;Vous pouvez seulement l&rsquo;utiliser apr&egrave;s avoir s&eacute;lectionn&eacute; le mode <strong class="UI">Rouge-WH</strong>, <strong class="UI">Fer-WH</strong> ou <strong class="UI">Plage moyenne-WH</strong> dans <strong class="UI">[Palette de couleurs]</strong>.</p>
            <p>Par exemple, si vous s&eacute;lectionnez «&nbsp;Plage moyenne-WH&nbsp;» dans <strong class="UI">[Palette de couleurs]</strong> et entrez «&nbsp;20&nbsp;» et «&nbsp;60&nbsp;» pour les valeurs [D&eacute;but] et [Fin] respectivement dans <strong class="UI">[Niveaux]</strong>, seulement les objets dont la temp&eacute;rature est comprise entre 20 degr&eacute;s et 60 degr&eacute;s (Celsius) dans la vid&eacute;o de la cam&eacute;ra sont affich&eacute;s en couleur. Les objets dont la temp&eacute;rature approche les 20 degr&eacute;s apparaissent en jaune et ceux dont la temp&eacute;rature avoisine les 60 degr&eacute;s apparaissent en orange.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>&Eacute;missivit&eacute; de tache</h3>
            <p>Entrez les informations d&rsquo;&eacute;missivit&eacute; pour que la cam&eacute;ra s&rsquo;y r&eacute;f&egrave;re lors de l&rsquo;analyse de la temp&eacute;rature.</p>
            <p>La valeur que vous avez entr&eacute;e ici sera appliqu&eacute;e comme valeur par d&eacute;faut lorsque vous mesurez la temp&eacute;rature en cliquant avec la souris sur l&rsquo;&eacute;cran [Direct]. (Cela est appliqu&eacute; &agrave; l&rsquo;&eacute;cran en direct uniquement lorsque <strong class="UI">[Mode de d&eacute;tection]</strong> est s&eacute;lectionn&eacute; dans <strong class="UI">[Mode normal]</strong>.) Vous pouvez obtenir une valeur de temp&eacute;rature appropri&eacute;e qui tient compte de la condition de surface de l&rsquo;objet, la texture, etc. en changeant la valeur d&rsquo;&eacute;missivit&eacute;.</p>
            <p>Pour les informations d&rsquo;&eacute;missivit&eacute;, voir le tableau ci-dessous. Le tableau ci-dessous liste les valeurs par d&eacute;faut utilis&eacute;es comme valeurs de r&eacute;f&eacute;rence. Du fait que l&rsquo;&eacute;missivit&eacute; varie en fonction des diverses variables, incluant le traitement de surface, les couleurs, la temp&eacute;rature au moment de la mesure et la temp&eacute;rature de l&rsquo;air, vous devez essayer des valeurs diff&eacute;rentes pour obtenir la valeur la mieux appropri&eacute;e. L&rsquo;entr&eacute;e d&rsquo;une valeur d&rsquo;&eacute;missivit&eacute; pr&eacute;cise garantit une mesure de temp&eacute;rature plus pr&eacute;cise.</p>
			 <table class="table table-bordered wn5-setup-table" width="372">
                <thead>
                <tr>
                    <td width="86">Mat&eacute;riau</td>
                    <td width="106">
                        <p>&Eacute;missivit&eacute; (ε)</p>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="86">
                        <p>Papier aluminium</p>
                    </td>
                    <td width="106">
                        <p>0,03 &nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Aluminium, anodis&eacute;</p>
                    </td>
                    <td width="106">
                        <p>0,9</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Asphalte</p>
                    </td>
                    <td width="106">
                        <p>0,88</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Brique</p>
                    </td>
                    <td width="106">
                        <p>0,90</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>B&eacute;ton, brut</p>
                    </td>
                    <td width="106">
                        <p>0,91</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Cuivre, poli</p>
                    </td>
                    <td width="106">
                        <p>0,04</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Cuivre, oxyd&eacute;</p>
                    </td>
                    <td width="106">
                        <p>0,87</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Verre, lisse (sans rev&ecirc;tement)</p>
                    </td>
                    <td width="106">
                        <p>0,95</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Glace</p>
                    </td>
                    <td width="106">
                        <p>0,97</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Calcaire</p>
                    </td>
                    <td width="106">
                        <p>0,92</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Marbre (poli)</p>
                    </td>
                    <td width="106">
                        <p>0,89 &agrave; 0,92</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Peinture (incluant cr&eacute;pi)</p>
                    </td>
                    <td width="106">
                        <p>0,9</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Papier, toiture ou cr&eacute;pi</p>
                    </td>
                    <td width="106">
                        <p>0,88 &agrave; 0,86</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Pl&acirc;tre, brut</p>
                    </td>
                    <td width="106">
                        <p>0,89</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Argent, poli</p>
                    </td>
                    <td width="106">
                        <p>0,02</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Argent, oxyd&eacute;</p>
                    </td>
                    <td width="106">
                        <p>0,04</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Neige</p>
                    </td>
                    <td width="106">
                        <p>0,8 &agrave; 0,9</p>
                    </td>
                </tr>
                <tr>
                    <td width="86">
                        <p>Eau, pure</p>
                    </td>
                    <td width="106">
                        <p>0,96</p>
                    </td>
                </tr>
            </tbody>
            </table>
            <p>(Source&nbsp;: http://en.wikipedia.org/wiki/Emissivity)</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Barre de couleurs de temp&eacute;rature</h3>
            <p>La barre de couleurs de temp&eacute;rature affiche les couleurs qui apparaissent sur l&rsquo;&eacute;cran sous forme de barre. Les couleurs du bas vers le haut repr&eacute;sentent les temp&eacute;ratures dans l&rsquo;ordre d&eacute;croissant, &eacute;lev&eacute; &agrave; faible.</p>

        </div>
       
    </div>
</div>

<hr class="wn5-setup-hr">          



