
<div id="listWrap" class="col-xs-12" >
    <h2>Profile Form</h2>
    <section id="profile-section-info-wrap">
        <div id="profileTabs">
            <ul>
                <li class="col-xs-6"><a href="#profileList" class="col-xs-12">List</a>
                </li>
                <li class="col-xs-6"><a href="#profileForm" class="col-xs-12">Form</a>
                </li>
            </ul>
            <div id="profileList" >
                <ul data-dep="1">
                    <li ng-repeat="ip in listData" data-idx="{{ $index }}" >
                        <div >
                            <h3>
                                <span><img src="../images/grey-plus.png" ng-click="displayToggle($event)" ></span>
                                {{ ip.title }}
                                <input type="button" value="x" ng-click="removeList($event)">
                            </h3>
                        </div>
                        
                        <ul data-dep="2">
                            <li ng-repeat="content in ip.content">
                                <div  >
                                    <h3>
                                        <span><img src="../images/grey-plus.png" ng-click="displayToggle($event)"></span>
                                        {{ content.title }}
                                    </h3>
                                </div>
                                
                                <ul data-dep="3" class="list_display">
                                    <li>Resolution : {{ content.content[0].Resolution }}</li>
                                    <li>EncodingType : {{ content.content[0].EncodingType }}</li>
                                    <li>FrameRate : {{ content.content[0].FrameRate }}</li>
                                </ul>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            <div id="profileForm">
                <form method="post" name="profileInputForm" novalidate>
                    <div class="form-group">
                        <label for="streamingInfo">Camera Ip</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Camera Ip..." ng-model="cameraUrl"  ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="streamingInfo">Camera account</label>
                        <div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="id" ng-model="cameraId" ng-required="true">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" placeholder="password" ng-model="cameraPassword" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="col-sm-12">
                            <input type="submit" ng-click="clickAddList()" class="btn btn-primary form-control" value="Add List" ng-disabled="profileInputForm.$invalid">
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>


