// default mode background color
@theme-background-default: @theme-color-white;

@theme-background-setup: @theme-color-gray-2;

// fullscreen mode background color
@theme-background-fullscreen: @theme-color-gray-50;