@theme-button-black-normal-line: @theme-color-w-gray-50;
@theme-button-black-normal-text: @theme-color-w-gray-100;
@theme-button-black-normal-bg: @theme-color-white;

@theme-button-black-focus-line: @theme-color-w-gray-50;
@theme-button-black-focus-text: @theme-color-w-gray-100;
@theme-button-black-focus-bg: @theme-color-w-gray-25;

@theme-button-black-press-line: @theme-color-black;
@theme-button-black-press-text: @theme-color-white;
@theme-button-black-press-bg: @theme-color-black;

@theme-button-black-disabled-line: @theme-color-w-gray-50;
@theme-button-black-disabled-text: @theme-color-w-gray-75;
@theme-button-black-disabled-bg: @theme-color-w-gray-25;

@theme-button-orange-normal-line: @theme-color-w-orange-60;
@theme-button-orange-normal-text: @theme-color-w-orange-100;
@theme-button-orange-normal-bg: @theme-color-white;

@theme-button-orange-focus-line: @theme-color-w-orange-100;
@theme-button-orange-focus-text: @theme-color-white;
@theme-button-orange-focus-bg: @theme-color-w-orange-100;

@theme-button-orange-press-line: @theme-color-dark-orange;
@theme-button-orange-press-text: @theme-color-white;
@theme-button-orange-press-bg: @theme-color-dark-orange;

@theme-button-orange-disabled-line: @theme-color-w-gray-50;
@theme-button-orange-disabled-text: @theme-color-w-gray-75;
@theme-button-orange-disabled-bg: @theme-color-w-gray-25;