@theme-ptz-white: @theme-color-white;
@theme-ptz-white-border: @theme-color-gray-12;
@theme-ptz-white-form-border: @theme-color-gray-25;

@theme-ptz-dark-form-border: @theme-color-black-80;
@theme-ptz-dark-form-background: @theme-color-black-85;

@theme-ptz-normal-icon: @theme-color-gray-75;
@theme-ptz-active-icon: @theme-color-point-100;


@theme-ptz-slider-circle: @theme-color-gray-75;
@theme-ptz-slider-circle-hover: @theme-color-gray-100;
@theme-ptz-slider-circle-active: @theme-color-black-100;
@theme-ptz-slider-circle-disabled: @theme-color-gray-50;

@theme-ptz-slider-line: @theme-color-gray-25;
