//Light Color
@theme-light-slider-normal-line-bottom: @theme-color-gray-25;
@theme-light-slider-normal-line-top: @theme-color-gray-75;
@theme-light-slider-normal-text: @theme-color-black-100;

@theme-light-slider-focus-line-bottom: @theme-color-gray-25;
@theme-light-slider-focus-line-top: @theme-color-gray-100;
@theme-light-slider-focus-text: @theme-color-black-100;

@theme-light-slider-click-line-bottom: @theme-color-gray-25;
@theme-light-slider-click-line-top: @theme-color-black-100;
@theme-light-slider-click-text: @theme-color-black-100;

@theme-light-slider-disabled-line-bottom: @theme-color-gray-25;
@theme-light-slider-disabled-line-top: @theme-color-gray-25;
@theme-light-slider-disabled-text: @theme-color-gray-75;

//Dart Color
@theme-dark-slider-normal-line-bottom: @theme-color-black-80;
@theme-dark-slider-normal-line-top: @theme-color-gray-50;
@theme-dark-slider-normal-text: @theme-color-white;

@theme-dark-slider-focus-line-bottom: @theme-color-black-80;
@theme-dark-slider-focus-line-top: @theme-color-gray-12;
@theme-dark-slider-focus-text: @theme-color-white;

@theme-dark-slider-click-line-bottom: @theme-color-black-80;
@theme-dark-slider-click-line-top: @theme-color-white;
@theme-dark-slider-click-text: @theme-color-white;

@theme-dark-slider-disabled-line-bottom: @theme-color-black-80;
@theme-dark-slider-disabled-line-top: @theme-color-black-80;
@theme-dark-slider-disabled-text: @theme-color-black-80;