@theme-light-table-header-bg: @theme-color-gray-7;
@theme-light-table-data-bg: @theme-color-white;
@theme-light-table-focus-bg: @theme-color-point-10;
@theme-light-table-border: @theme-color-gray-12;
@theme-light-table-data-text: @theme-color-gray-100;
@theme-light-table-header-text: @theme-color-black-100;

@theme-light-table-disabled-text: @theme-color-gray-50;
@theme-light-table-disabled-bg: @theme-color-gray-7;

@theme-dark-table-header-bg: @theme-color-black-85;
@theme-dark-table-data-bg: @theme-color-black-90;
@theme-dark-table-focus-bg: @theme-color-point-10;
@theme-dark-table-border: @theme-color-black-80;
@theme-dark-table-text: @theme-color-white;
@theme-dark-table-data-text: @theme-color-white;
@theme-dark-table-header-text: @theme-color-white;

@theme-dark-table-disabled-text: @theme-color-gray-50;
@theme-dark-table-disabled-bg: @theme-color-gray-7;