//Light Color
@theme-light-text-fields-normal-hint-line: @theme-color-gray-25;
@theme-light-text-fields-normal-hint-text: @theme-color-gray-50;
@theme-light-text-fields-normal-hint-bg: @theme-color-white;

@theme-light-text-fields-normal-input-line: @theme-color-gray-25;
@theme-light-text-fields-normal-input-text: @theme-color-black-100;
@theme-light-text-fields-normal-input-bg: @theme-color-white;

@theme-light-text-fields-focus-line: @theme-color-black-100;
@theme-light-text-fields-focus-text: @theme-color-black-100;
@theme-light-text-fields-focus-bg: @theme-color-white;

@theme-light-text-fields-disabled-line: @theme-color-gray-12;
@theme-light-text-fields-disabled-text: @theme-color-gray-75;
@theme-light-text-fields-disabled-bg: @theme-color-gray-7;

//Dark Color
@theme-dark-text-fields-normal-hint-line: @theme-color-gray-100;
@theme-dark-text-fields-normal-hint-text: @theme-color-gray-50;
@theme-dark-text-fields-normal-hint-bg: @theme-color-black-85;

@theme-dark-text-fields-normal-input-line: @theme-color-gray-50;
@theme-dark-text-fields-normal-input-text: @theme-color-white;
@theme-dark-text-fields-normal-input-bg: @theme-color-black-85;

@theme-dark-text-fields-focus-line: @theme-color-gray-100;
@theme-dark-text-fields-focus-text: @theme-color-white;
@theme-dark-text-fields-focus-bg: @theme-color-black-85;

@theme-dark-text-fields-disabled-line: @theme-color-black-85;
@theme-dark-text-fields-disabled-text: @theme-color-gray-75;
@theme-dark-text-fields-disabled-bg: @theme-color-black-90;