<h1 class="wn5-setup-main-title">LED 표시기</h1>
<div class="wn5-setup-section">
    <p>카메라에 장착된 LED 표시기의 동작에 대해 설정합니다. </p>
    <p>주차 유도 카메라의 주차 감지 기능과 LED 표시기 기능은 연동하여 사용할 수 있습니다. 주차 감지 기능은 <strong class="UI">[분석]</strong>&gt;<strong class="UI">[주차 감지]</strong> 메뉴에서 설정할 수 있습니다. </p>
    <p>설정을 완료하면 페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭하십시오.</p>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>LED 제어</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
        <p>LED 타입을 선택하고 각 타입별 동작에 대해 설정할 수 있습니다. </p>
        </div>
	    
        <div class="wn5-setup-section-article-content">
		    <h3>LED 타입</h3>
            <p>주차 유도 카메라에 장착된 LED 표시기가 좌/우로 분리되어 있는 경우 <strong class="UI">[분리형]</strong>을 선택하며, LED 표시기가 분리되지 않고 하나인 경우 <strong class="UI">[일체형]</strong>을 선택합니다.  </p>
        </div>
        <div class="wn5-setup-section-article-content">
		    <h3>LED 1/LED 2</h3>
            <p><strong class="UI">[LED 타입]</strong>에서 <strong class="UI">[분리형]</strong>을 선택한 경우, <strong class="UI">[LED 1]</strong>과 <strong class="UI">[LED 2]</strong>를 설정할 수 있습니다.</p>
            <p>[LED 1]와 [LED 2]의 각 상단 필드에는 이벤트가 발생할 때 표시할 색상을 설정하며, 하단 필드에는 이벤트가 발생하지 않을 때 표시할 색상을 설정합니다. 예를 들어 [LED 1]와 [LED 2] 상단 필드에 각각 빨간색과 주황색으로 설정하면, 주차 감지 이벤트가 발생하면 LED 1은 빨간색으로 LED 2는 주황색으로 표시됩니다. </p>
            <p>또한 각 색상이 어떤 상황에 사용되는지 텍스트를 입력해 둘 수 있습니다. 기본적으로 상단에는 "만차" 하단에는 "주차 가능" 텍스트가 입력돼 있으며 사용자가 수정할 수 있습니다. </p>
        </div>
		<div class="wn5-setup-section-article-content">
		    <h3>이벤트 발생/이벤트 미발생</h3>
            <p><strong class="UI">[LED 타입]</strong>에서 <strong class="UI">[일체형]</strong>을 선택한 경우, <strong class="UI">[이벤트 발생]</strong>과 <strong class="UI">[이벤트 미발생]</strong> 옵션이 표시됩니다.</p>
            <p>이벤트가 발생한 경우와 발생하지 않은 경우에 표시될 LED 색상을 [이벤트 발생]과 [이벤트 미발생] 옵션에 각각 설정합니다. 예를 들어 [이벤트 발생] 옵션에서 빨간색을 선택한 경우, 주차 감지 이벤트가 발생한 경우 LED 등이 빨간색으로 표시됩니다. </p>
            <p>또한 각 색상이 어떤 상황에 사용되는지 텍스트를 입력해 둘 수 있습니다. 기본적으로 [이벤트 발생] 필드에는 "만차", [이벤트 미발생] 필드에는 "주차 가능" 텍스트가 입력돼 있으며 사용자가 수정할 수 있습니다. </p>
        </div>		
    </div>
</div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>LED 표시기 데이터 전송</h2>
	</div>
	    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p><strong class="UI">[LED 타입]</strong>에서 <strong class="UI">[일체형]</strong>을 선택한 경우, <strong class="UI">[LED 표시기 데이터 전송]</strong> 옵션이 표시됩니다. </p>
            <p>LED 표시기를 장착한 두 대의 카메라가 서로 데이터를 송/수신하도록 설정합니다. 즉 카메라 1이 분석한 데이터가 카메라 2에 장착된 LED 표시기를 제어할 수 있습니다. </p>
        </div>
        <div class="wn5-online-help-action">
            <h4>수신 카메라 사용하기</h4>
            <ol>
                <li><strong class="UI">[수신 카메라]</strong>에서 <strong class="UI">[사용]</strong>을 클릭합니다.    </li>
                <li>수신 카메라의 정보를 입력합니다. </li>
                <ul>
                    <li><strong class="UI">IP 타입</strong>: IPv4와 IPv6 중 IP 주소 타입을 설정합니다.    </li>
                    <li><strong class="UI">HTTP/HTTPS</strong>: HTTP와 HTTPS 중 사용할 통신 방식 선택합니다.</li>
                    <li><strong class="UI">IP 주소</strong>: 수신 카메라의 IP 주소를 입력합니다.</li>
                    <li><strong class="UI">포트</strong>: 수신 카메라의 포트 번호를 입력합니다.</li>
                    <li><strong class="UI">ID</strong>: 수신 카메라에 접속하기 위한 접속 ID를 입력합니다.</li>
                    <li><strong class="UI">비밀번호</strong>: 수신 카메라에 접속하기 위한 비밀번호를 입력합니다.</li>
                </ul>
                <li><strong class="UI">[적용]</strong>을 클릭합니다.</li>
            </ol>
        </div>

    </div>
</div>

<hr class="wn5-setup-hr">