<h1 class="wn5-setup-main-title">Alineaci&oacute;n de la imagen</h1>

<div class="wn5-setup-section">
    <p>Puede ajustar el campo visual y la distancia de detecci&oacute;n de la c&aacute;mara montada.</p>

<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
            <ul>
                <li>El campo visual y la distancia de detecci&oacute;n no pueden ajustarse de forma simult&aacute;nea. </li>
            </ul>
        </div>
	</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>Campo de visión angular</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Cuando organiza los v&iacute;deos de las c&aacute;maras montadas para crear una vista panor&aacute;mica de ellos, puede ajustar el campo visual eligiendo la manera en que se coloca cada c&aacute;mara montada individual. </p>
            <ul>
                <li><strong class="UI">Modo 180°</strong>: Coloque las pantallas de la c&aacute;mara verticalmente. Debido a que este modo organiza las pantallas de acuerdo con la longitud de cada una, ver&aacute; un v&iacute;deo cuya altura es mayor que la del modo 220°. &nbsp;</li>
                <li><strong class="UI">Modo 220°</strong>: Ajuste las pantallas de la c&aacute;mara de manera horizontal. Debido a que este modo organiza las pantallas de acuerdo con el ancho de cada una, ver&aacute; un v&iacute;deo cuyo ancho es mayor que el del modo 180°.</li>
            </ul>
        </div>
		 <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
            <ul>
                <li>Si cambia la opci&oacute;n Campo de visi&oacute;n angular, la c&aacute;mara se reinicializa y la configuraci&oacute;n de v&iacute;deo se reinicializa seg&uacute;n el campo de visi&oacute;n angular seleccionado. Configure de nuevo el &aacute;rea privada, el an&aacute;lisis y las estad&iacute;sticas. &Eacute;stos se pueden configurar en los men&uacute;s <strong class="UI">[Configuraci&oacute;n de v&iacute;deo]</strong>, <strong class="UI">[An&aacute;lisis]</strong> y <strong class="UI">[Estad&iacute;sticas]</strong>, respectivamente.</li>
            </ul>
        </div>
	</div>
</div>
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>Distancia al objetivo</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
                <p>Luego de seleccionar el campo visual de la c&aacute;mara, puede ingresar un valor de distancia para el objeto destino que se est&aacute; supervisando. Puede establecer el valor ajustando la barra deslizante o ingresando un valor en metros. </p>
                <p>Se generar&aacute; una LUT (Tabla de b&uacute;squeda o Look Up Table) de acuerdo con el valor de distancia que se ingres&oacute; y se aplic&oacute; a la vista panor&aacute;mica. </p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">