<h1 class="wn5-setup-main-title">Configuraci&oacute;n de la ubicaci&oacute;n</h1>
<div class="wn5-setup-section">
    <p>Se puede definir para que muestre informaci&oacute;n de la direcci&oacute;n de visualizaci&oacute;n en el v&iacute;deo de la c&aacute;mara.</p>
    <p>Configure hasta ocho direcciones: norte, noreste, este, sureste, sur, suroeste, oeste, y noroeste. A continuaci&oacute;n, cada vez que se ajusta la PTZ y cambia la ubicaci&oacute;n de la panor&aacute;mica de la c&aacute;mara, se actualiza tambi&eacute;n la informaci&oacute;n de la direcci&oacute;n en la pantalla de v&iacute;deo actual.</p>
</div>
<div class="wn5-online-help-info">
    <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
    <ul>
        <li>Al cambiar el tama&ntilde;o o el idioma de la pantalla de visualizaci&oacute;n (OSD), se restablecen todos los valores de ajuste de direcci&oacute;n (azimut, descripci&oacute;n e informaci&oacute;n de ubicaci&oacute;n). Puede definir el tama&ntilde;o de la OSD en <strong class="UI">[V&iacute;deo y Audio]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">Configuraci&oacute;n de c&aacute;mara</a>]</strong>&gt;<strong class="UI">[OSD]</strong>, y el lenguaje en <strong class="UI">[Sistema]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link"
href="../system/productinfo.html"
ng-href="#/help/system_productinfo?">Informaci&oacute;n del producto</a>]</strong>.</li>
    </ul>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Indicador de direcci&oacute;n</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>Activar indicador de direcci&oacute;n</h3>
            <p>Para activar la funci&oacute;n del indicador de direcci&oacute;n, seleccione&nbsp;<strong class="UI">[Activar indicador de direcci&oacute;n]</strong>. Aparecer&aacute; toda la informaci&oacute;n sobre direcciones que se haya definido para cualquiera de las ocho direcciones.</p>
            <p><strong class="UI">[Activar indicador de direcci&oacute;n]</strong> es la opci&oacute;n que permite el uso de toda la funci&oacute;n de visualizaci&oacute;n de direcciones, mientras que <strong class="UI">[<a href="locationSetup_namo.html#indicator">Indicador</a>]</strong> es la opci&oacute;n de configurar la visualizaci&oacute;n de una direcci&oacute;n individual.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>Configuraci&oacute;n del indicador de direcci&oacute;n</h4>
            <ol>
                <li>Ajuste la c&aacute;mara PTZ tal como se muestra a continuaci&oacute;n para designar una pantalla de v&iacute;deo de referencia al configurar la direcci&oacute;n de la c&aacute;mara. <br> Si desea activar el panel de jog PTZ, la funci&oacute;n <strong class="UI">[Activar indicador de direcci&oacute;n]</strong> no debe estar seleccionada.</li>
                <ul>
                    <li><span class="tui tui-wn5-ptz-handle"></span> Al arrastrar el icono con el rat&oacute;n, la c&aacute;mara se mueve siguiendo las acciones de panor&aacute;mica e inclinaci&oacute;n.</li>
                    <li>Utilice la barra del zoom para ajustar la ampliaci&oacute;n de la imagen, o seleccione una ampliaci&oacute;n de la imagen haciendo clic en el icono <span class="tui tui-wn5-ptz-plus"></span> para acercar el zoom, o bien en el icono <span class="tui tui-wn5-ptz-minus"></span> para alejarlo.</li>
                    <li><span class="tui tui-wn5-ptz-near"></span> Mueva el enfoque m&aacute;s cerca haciendo clic en el icono o mueva el enfoco m&aacute;s lejos haciendo clic en el icono <span class="tui tui-wn5-ptz-far"></span>.</li>
                    <li>Para ajustar autom&aacute;ticamente el enfoque de la c&aacute;mara de una vez, haga clic en el icono <span class="tui tui-wn5-simple-focus"></span>.</li>
                </ul>
                <li>Seleccione <strong class="UI">[Activar indicador de direcci&oacute;n]</strong>.</li>
                <li>Seleccione la flecha que indica la direcci&oacute;n en la pantalla de la c&aacute;mara.</li>
                <li>Para que la direcci&oacute;n seleccionada en el paso 3 aparezca en la pantalla, vaya a <strong class="UI">[<a href="#indicator">Indicador</a>]</strong> y seleccione <strong class="UI">[Activar]</strong>.</li>
                <li>Los detalles se pueden definir tal como se muestra a continuaci&oacute;n:</li>
                <ul>
                    <li>Para mostrar la informaci&oacute;n del azimuth, vaya a <strong class="UI">[<a href="#azimuth">Azimut</a>]</strong> y seleccione <strong class="UI">[Activar]</strong>. La informaci&oacute;n del azimut como pueda ser N, NE, E, SE, S, SO, O o NO aparecer&aacute; junto a la flecha de direcci&oacute;n.</li>
                    <li>Introduzca la descripci&oacute;n de la direcci&oacute;n en <strong class="UI">[<a href="#text">Texto</a>]</strong>.</li>
                    <li>Defina la ubicaci&oacute;n de la pantalla de direcci&oacute;n (flecha de direcci&oacute;n, azimut y texto) para <strong class="UI">[<a href="#XY">X</a>]</strong> y <strong class="UI">[<a href="#XY">Y</a>]</strong>, respectivamente. &nbsp;</li>
                </ul>
                <li>Para ver la visualizaci&oacute;n de la direcci&oacute;n definida en la pantalla de v&iacute;deo, haga clic en <strong class="UI">[Vista previa]</strong>. Para volver a la pantalla de configuraci&oacute;n, haga clic en <strong class="UI">[Atr&aacute;s]</strong>.</li>
                <li>Para aplicar el ajuste, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina.</li>
            </ol>
            <p>Cada vez que la direcci&oacute;n de la c&aacute;mara cambia debido al ajuste de panor&aacute;mica despu&eacute;s de definir la direcci&oacute;n, la informaci&oacute;n de direcci&oacute;n de la pantalla de v&iacute;deo actual tambi&eacute;n se actualiza en funci&oacute;n de ello.</p>
            </div>
		
		
		
		
        <div class="wn5-setup-section-article-content">
            <h3><a name="indicator"></a>Indicador</h3>
            <p>Determina la visualizaci&oacute;n individual de cada direcci&oacute;n.</p>
            <p>Seleccione una flecha en la pantalla y haga clic en <strong class="UI">[Activar]</strong> para mostrar la imagen de la flecha junto con la informaci&oacute;n de su direcci&oacute;n en la pantalla de la c&aacute;mara.</p>
            <p></p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3><a name="azimuth"></a>Azimut</h3>
            <p>Seleccione <strong class="UI">[Activar]</strong> para mostrar la informaci&oacute;n del azimut de la direcci&oacute;n.</p>
            <p>El norte est&aacute; marcado como N, mientras que el noreste, este, sureste, sur, suroeste, oeste, y noroeste como NE, E, SE, S, SO, O y NO, respectivamente.</p>
            <p>En <strong class="UI">[V&iacute;deo y Audio]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">Configuraci&oacute;n de c&aacute;mara</a>]</strong>, haga clic en el bot&oacute;n <span class="tui tui-wn5-north"></span> (Ajustar norte) para definir la direcci&oacute;n deseada como norte.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3><a name="text"></a>Texto</h3>
            <p>Puede introducir una descripci&oacute;n de la direcci&oacute;n.</p>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
            <ul>
                <li>Puede introducir hasta 12 caracteres, que pueden contener cualquiera de los siguientes: de la A a la Z, de la A a la Z, del 0 al 9, caracteres especiales como . -&nbsp;# * + - / ( ) _, y espacios.</li>
                <li>Para cambiar el tama&ntilde;o, color y transparencia del texto, vaya a <strong class="UI">[V&iacute;deo y Audio]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup?">Configuraci&oacute;n de c&aacute;mara</a>]</strong>&gt;<strong class="UI">[OSD]</strong> y cambie los valores de [Tama&ntilde;o], [Color] y [Transparencia].</li>
                <li>El texto en coreano o chino escrito bajo la preferencia de idioma definida en coreano o chino se perder&aacute; si se cambia la preferencia del idioma.</li>
            </ul>
        </div>
		<div class="wn5-setup-section-article-content">
            <h3><a name="XY"></a>X/Y</h3>
            <p>Define la ubicaci&oacute;n en la que se muestra la flecha que indica la direcci&oacute;n en el v&iacute;deo de la c&aacute;mara.</p>
            <p>Los valores de las coordenadas X/Y se basan en la pantalla de la c&aacute;mara actual.</p>
        </div>	   	
		<div class="wn5-setup-section-article-content">
            <h3>Vista previa</h3>
            <p>Para ver la informaci&oacute;n sobre la direcci&oacute;n de la c&aacute;mara definida en la imagen de la c&aacute;mara, haga clic en <strong class="UI">[Vista previa]</strong>. Para volver a la configuraci&oacute;n, haga clic en <strong class="UI">[Atr&aacute;s]</strong>. &nbsp;</p>
        </div>		

    </div>
</div>
<hr class="wn5-setup-hr">

