<h1 class="wn5-setup-main-title">Smart codec</h1>

<div class="wn5-setup-section">
	<p>Smart codec es una tecnolog&iacute;a que reduce el tama&ntilde;o de los bit de datos de imagen mediante el establecimiento de un &aacute;rea deseada por el usuario como un &aacute;rea de calidad espec&iacute;fica, mientras que la gesti&oacute;n de otras &aacute;reas es de una calidad normal. Cuando haya completado el ajuste, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina.</p>
</div>

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
    <div class="wn5-setup-section-heading">
        <h2><a name="channel"></a>Seleccionar canal</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
			<p>Despu&eacute;s de seleccionar su canal de c&aacute;mara, puede establecer los detalles de Smart codec para cada canal. El n&uacute;mero de canal seleccionado por &uacute;ltima vez en la p&aacute;gina en vivo o en la p&aacute;gina de reproducci&oacute;n se selecciona autom&aacute;ticamente.</p>
			<p ng-if="objectDetectionSupport">El canal 1 muestra imágenes en directo y el canal 2, vídeo PTZ digital. [Smart códec] solo puede configurarse en el canal 1.</p>
            <p ng-if="HandoverCalibration">El canal de la c&aacute;mara fija se muestra como un n&uacute;mero y el canal PTZ se muestra como “PTZ”.</p>
            <p ng-if="SupportAutoImageAlignment">Canal2 a Canal5 son videos de c&aacute;maras que han sido instaladas individualmente. Canal1 es una vista panor&aacute;mica en varias pantallas de c&aacute;mara de Canal2 a Canal5 ordenadas en una fila. Canal6 y Canal7 son v&iacute;deos de v&iacute;deo Canal1 con PTZ digital aplicado.</p>
            <p ng-if="SupportAutoImageAlignment">El “Smart c&oacute;dec” solo se puede configurar en Canal1 a Canal5.</p>
            <p>Si selecciona otro canal sin aplicar los cambios en la configuraci&oacute;n, aparecer&aacute; un mensaje de alarma.</p>
        </div>
	</div>
</div>	

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>&Aacute;rea ROI manual</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>El usuario puede configurar la zona en la pantalla de imagen de la c&aacute;mara. Al hacer clic y arrastrar en la pantalla con el rat&oacute;n, se crear&aacute; una zona de forma cuadrada. Se pueden establecer 5 &aacute;reas, pero no se permite la superposici&oacute;n. Al hacer clic en el bot&oacute;n <strong class="UI">[Borrar]</strong>, se eliminar&aacute;n todas las &aacute;reas establecidas.</p>
		</div>
        <div class="wn5-online-help-action" ng-if="PTZModel">
            <h4>Ajuste del PTZ</h4>
            <p>Puede configurar la panor&aacute;mica, la inclinaci&oacute;n, y el zoom de la c&aacute;mara.</p>
            <ul>
                <li>Al arrastrar el icono <span class="tui tui-wn5-ptz-handle"></span> con el mouse, la c&aacute;mara se mueve siguiendo las acciones de panor&aacute;mica e inclinaci&oacute;n.</li>
                <li>Con la barra de zoom puede ajustar el porcentaje de zoom del v&iacute;deo. Tambi&eacute;n puede hacer clic en el icono <span class="tui tui-wn5-ptz-plus"></span>para ampliar la pantalla o en el icono <span class="tui tui-wn5-ptz-minus"></span>para reducirla.</li>
                <li>Mueva el enfoque cercano haciendo clic en el icono <span class="tui tui-wn5-ptz-near"></span>  o mueva el foco lejano haciendo clic en el icono<span class="tui tui-wn5-ptz-far"></span>.</li>
                <li>Para ajustar el enfoque de la c&aacute;mara autom&aacute;ticamente para un disparo, haga clic en el icono<span class="tui tui-wn5-simple-focus"></span>.</li>
            </ul>
        </div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
			<ul><li>Un smart codec se puede configurar para cada perfil de v&iacute;deo. Si configura <strong class="UI">[CBR]</strong> para <a class="wn5-online-help-link" href="../basic/profile.html#bitrate" ng-href="#/help/basic_videoProfile?#bitrate"><strong class="UI">[Control de vel. bits]</strong></a> en <strong class="UI">[Basic]</strong> &gt; <strong class="UI">[Perfil de v&iacute;deo]</strong> y configura [Desactivar] en <a class="wn5-online-help-link" href="../basic/profile.html#smartcodec" ng-href="#/help/basic_videoProfile?#smartcodec"><strong class="UI">[Smart codec]</strong></a>, entonces la funci&oacute;n del smart codec no funcionar&aacute; en el perfil.</li>
			<li ng-if="FisheyeLens">La funci&oacute;n Smart codec de la c&aacute;mara de ojo de pez funciona solo para el modo de vista de ojo de pez. Solo el Canal 1 es compatible con la vista de ojo de pez, lo que significa que Smart codec no funciona para los Canales 2 a 8. Adem&aacute;s, Smart codec solo se aplica al perfil configurado para la vista de ojo de pez en el Canal 1. Por ejemplo, si entre los perfiles del Canal 1, el &quot;perfil 1&quot; est&aacute; configurado en [Vista de ojo de pez] y el &quot;perfil 2&quot; est&aacute; configurado en [Panor&aacute;mica doble], que es una de las opciones de correcci&oacute;n de distorsi&oacute;n, entonces Smart codec se aplicar&aacute; solo cuando se transmita el v&iacute;deo al &quot;perfil 1&quot;. Puede ir a <strong class="UI">[B&aacute;sico]</strong> &gt; <strong class="UI">[Perfil de v&iacute;deo]</strong> &gt; <strong class="UI">[Tipo de vista de ojo de pez]</strong> para configurar el modo de vista de ojo de pez.</li>
			</ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>Conf. Smart codec</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
	    	<h3>Calidad </h3>
	    	<p>Seleccione el nivel de calidad de un &aacute;rea establecida por el usuario. Puede comprobar un &aacute;rea en el nivel de calidad del conjunto. El nivel de calidad ajustada de una zona es siempre superior a la calidad normal.</p>
	    </div><!-- <div class="wn5-setup-section-article-content">
		    <h3>&Aacute;rea</h3>
		    <p>Puede comprobar un &aacute;rea manualmente.</p>
		    <ul>
		        <li><strong class="UI">Manual</strong>: El usuario designa y establece un &aacute;rea en la pantalla en <strong class="UI">[&Aacute;rea ROI manual]</strong> directamente.</li>
		        
		    </ul>
	    </div>< --></div>
</div>

<hr class="wn5-setup-hr">