


<h1 class="wn5-setup-main-title">Configuraci&oacute;n del servidor de datos</h1>
<div class="wn5-setup-section">
    <p>Al registrar un servidor Retail Insight, los datos de la c&aacute;mara (recuento de personas, gesti&oacute;n de colas y datos del mapa de calor) se transfieren al servidor registrado. En la p&aacute;gina <strong class="UI">[Configuraci&oacute;n del servidor de datos]</strong>, es posible ingresar y registrar la informaci&oacute;n del servidor Retail Insight. Haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> a continuaci&oacute;n despu&eacute;s de ingresar la informaci&oacute;n necesaria.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Configuraci&oacute;n del servidor de datos</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>Activar servidor de datos</h3>
            <p>Si desea transferir los datos de la c&aacute;mara al servidor Retail Insight, seleccione <strong class="UI">[Activar servidor de datos]</strong>.</p>
        </div>
    </div>
</div>        

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Ingresar</h2>
    </div>
        <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Es posible ingresar informaci&oacute;n del servidor para registrar el servidor Retail Insight.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>IP</h3>
            <p>Escriba la direcci&oacute;n IP del servidor Retail Insight.</p>
        </div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
            <ul>
                <li>Al lado del campo <strong class="UI">[IP]</strong>, se muestra un mensaje que indica el estado de la conexi&oacute;n con el servidor.</li>
                <ul>
                    <li>Conectando: Aparece cuando se intenta conectar al servidor Retail Insight. Si se selecciona el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina o <strong class="UI">[Activar servidor de datos]</strong>, se intentar&aacute; la conexi&oacute;n con el servidor.</li>
                    <li>Correcto: Aparece cuando hay una conexi&oacute;n al servidor Retail Insight.</li>
                    <li>Fallo: Aparece cuando no se puede conectar al servidor Retail Insight. En caso de que este mensaje persista, aseg&uacute;rese de que la informaci&oacute;n del servidor Retail Insight de la p&aacute;gina <strong class="UI">[Configuraci&oacute;n del servidor de datos]</strong> sea correcta.</li>
                </ul>
            </ul>
        </div>            
        <div class="wn5-setup-section-article-content">
            <h3>Puerto</h3>
            <p>Introduzca el valor de puerto del servidor Retail Insight.</p>
            <p>El valor del puerto puede ser 80 o un valor entre 1024 y 65535.</p>
        </div> 
        <div class="wn5-setup-section-article-content">
            <h3>ID</h3>
            <p>Ingrese el ID de la cuenta para iniciar sesi&oacute;n en el servidor de Retail Insight.</p>
            <p>El ID puede contener hasta 8 letras, pero no acepta caracteres especiales: #%&amp;+=\:&lt;&gt;&quot;&apos;</p>
        </div> 
        <div class="wn5-setup-section-article-content">
            <h3>Contrase&ntilde;a</h3>
            <p>Escriba la contrase&ntilde;a de la cuenta para iniciar sesi&oacute;n en el servidor de Retail Insight.</p>
            <p>La contrase&ntilde;a puede tener de 8 a 20 letras, pero no acepta caracteres especiales: #%&amp;+=\:&lt;&gt;&quot;&rsquo;</p>
        </div>
     </div>
</div>
<hr class="wn5-setup-hr"> 
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Nombre de la tienda</h2>
	</div>
        <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Escriba el nombre de su tienda.</p>
            <p>El servidor Retail Insight utiliza el nombre de la tienda para distinguir su c&aacute;mara.</p>
        </div>
     </div>
</div>
 
<hr class="wn5-setup-hr">


