<h1 class="wn5-setup-main-title">Audio setup</h1>

<div class="wn5-setup-section">
	<p>You can connect a microphone and speaker to a network camera and listen to the sound at a remote location where the camera is installed, or output audio from the camera to the location. When you complete the setting, click the <strong class="UI">[Apply]</strong> button at the bottom of the page.</p>
</div>

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
    <div class="wn5-setup-section-heading">
        <h2>Select channel</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
			<p>After selecting a camera channel, you can set the details for audio per channel.</p>
			
        </div>
	</div>
</div> 

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>Audio in</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>You can input audio into an image through a microphone connected to the camera. Input audio by selecting a source that fits the usage environment. </p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3><a name="source"></a>Source</h3>
			<p>Select an alarm input type.</p>
			<ul>
				<li><strong class="UI">Internal microphone</strong>: This is the internal microphone included with the camera.</li>
				<li><strong class="UI">External microphone</strong>: An external microphone can be connected to the camera and used instead of the internal microphone. When you select <strong class="UI">[Apply power to Ext. Mic.]</strong>, the camera supplies power to an external microphone.</li>
				<li><strong class="UI">Line</strong>: Connect to sound equipment through a cable. For example, connect sound equipment such as an MP3 player and a camera through a cable, and select the MP3 player when you input recorded audio from it into the camera.</li>
            </ul>
            <!-- <ul>
				<li ng-if="InternalMic"><strong class="UI">Internal microphone</strong>: This is the internal microphone included with the camera.</li>
				<li ng-if="ExternalMIC"><strong class="UI">External microphone</strong>: An external microphone can be connected to the camera and used instead of the internal microphone. When you select <strong class="UI">[Apply power to Ext. Mic.]</strong>, the camera supplies power to an external microphone.</li>
				<li ng-if="LineIn"><strong class="UI">Line</strong>: Connect to sound equipment through a cable. For example, connect sound equipment such as an MP3 player and a camera through a cable, and select the MP3 player when you input recorded audio from it into the camera.</li>
			</ul> -->
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Codec</h3>
			<p>Select an audio codec.</p>
			<ul>
				<li><strong class="UI">G.711</strong>: This is the standard audio codec for ITU-T, which is mainly used in telephone communication; the audio quality is low. It is also called the pulse code modulation of sound frequency; soundwaves can be delivered digitally in PSTN or through PBX.</li>
				<li><strong class="UI">G.726</strong>: This is the standard audio codec for ITU-T, which is mainly used in telephone communication; the audio quality is low. It is possible to change and compress 64 Kbps PCM to 16, 24, 32 or 40 Kbps through Adaptive Differential Pulse Code Modulation (ADPCM). </li>
                <li><strong class="UI">AAC</strong>: AAC (Advanced Audio Coding) is the international standard that succeeds MP3. It is more efficient than MP3 and has sound quality similar to an original copy of a CD. AAC enables the use of audio of a higher sampling rate than is the case when using the previous G.711 and G.726 codecs.</li>
                <!-- <li ng-if="SupportAAC"><strong class="UI">AAC</strong>: AAC (Advanced Audio Coding) is the international standard that succeeds MP3. It is more efficient than MP3 and has sound quality similar to an original copy of a CD. AAC enables the use of audio of a higher sampling rate than is the case when using the previous G.711 and G.726 codecs.</li> -->
			</ul>
		</div>
		<!-- <div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
			<ul>
				<li>When an image is streamed through Firefox or Edge, the AAC codec is not supported even if the desired codec has been set in the audio setup page.</li>
			</ul>
		</div> -->
		<div class="wn5-setup-section-article-content">
			<h3>Sampling rate</h3>
			<p>This refers to the number of samplings per second when an analog sound source is converted to a digital sound source; as this value is higher, the sound quality is better. The sampling rate is fixed for each audio codec, and cannot be changed by the user. The sampling rate of the G.711 and G.726 codecs is 8 KHz, while the sampling rate of the AAC codec is 16 KHz.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Bitrate</h3>
			<p>The bitrate of the G.711 codec is 64 Kbps and cannot be changed. The bitrate of the G.726 codec is 16, 24, 32 and 40 Kbps; the compression ratio can be changed. Only 48 Kbps can be selected for the AAC codec.</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3><a class="wn5-online-help-link" name="gain"></a>Gain</h3>
			<p>Sets the amplification value of audio in. If the input sound is too low, you can increase the gain value to amplify the input audio signal. The range of gain value is from 1 to 10; a larger value means higher amplification. </p>
		</div>

		<div class="wn5-setup-section-article-content" ng-if="AudioInNoiseReduction">
			<h3>Noise reduction</h3>
            <p>Select Noise Reduction if the surrounding noise is too strong to hear the sound of interest.</p>
			<p>Noise reduction may not work properly if noise is indistinguishable from the surrounding voice sound, or if the sound pressure is high.</p>
			<ul>
                <li><strong class="UI">Sensitivity</strong>: You can set the noise reduction sensitivity based on the level of ambient noise.</li>
            </ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr" ng-if="MaxAudioOutput>0">

<div class="wn5-setup-section" ng-if="MaxAudioOutput>0">
	<div class="wn5-setup-section-heading">
		<h2>Audio out</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>You can output audio through the built-in speaker. </p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Audio out</h3>
			<p>To use audio out, select <strong class="UI">[Enable]</strong>.  </p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Gain</h3>
			<p>Sets the amplification value of audio out. If the output sound is too low, you can increase the gain value to amplify the output audio signal. The range of gain value is from 1 to 10; a larger value means a louder audio out. Gain is activated only when <strong class="UI">[Enable]</strong> is selected for audio out.</p>
		</div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
			<ul><li>If an excessive audio level or gain value is set, a deterioration of sound quality or a howling sound may occur. </li>
			</ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr" ng-if="AudioClipCountRange">

<div class="wn5-setup-section" ng-if="AudioClipCountRange">
    <div class="wn5-setup-section-heading">
            <h2>Audio clip</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
                <p>You can register or delete an audio clip file. You can also set up the schedule to play the audio clip only at a specific time.</p>
                <p>You need to click the <strong class="UI">[Apply]</strong> button after file registration to display the audio file in the audio clip list on the <strong class="UI">[Live]</strong> or <strong class="UI">[Event setup]</strong> page. Up to 5 audio clips can be registered within the total capacity limit of 6 MB.</p>
                <p>After registering your audio clips, you can set a clip of your choice to be triggered by an event or play the clip by selecting it while monitoring camera video on the <strong class="UI">[Live]</strong> screen.</p>
        </div>
        <div class="wn5-setup-section-article-content">
                <h3>Upload</h3>
                <p>Registers an audio file. Only .WAV format is supported.</p>
                <p>Click the <strong class="UI">[Upload]</strong> button and then select a file.</p>
        </div>
        <div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                <ul>
                    <li>Sampling rate of 48,000 KHz or less is recommended.</li>
					<li>For bits per sample (bps), 8/16 bit is recommended. </li>
					<li>Only PCM encoding format is supported.</li>
                </ul>
		</div>
        <div class="wn5-setup-section-article-content">
                <h3>Record</h3>
                <p>Recorded audio can be registered as an audio clip.</p>
        </div>
        <div class="wn5-online-help-action">
            <h4>Recording audio</h4>
                <ol>
                    <li>Click the <strong class="UI">[Record]</strong> button.</li>
                    <li>Set the <strong class="UI">[Record]</strong> dialog box as follows:</li>
                    <ul>
                        <li>Enter a name for the audio clip file in the <strong class="UI">[Name]</strong> field. Only alphanumeric characters are allowed.</li>
                        <li>Click the <strong class="UI">[Start]</strong> button to start audio recording.</li>
                        <li>To stop recording, click the <strong class="UI">[Stop]</strong> button. Then the time available for recording and the length of the recorded audio are displayed.</li>
                        <li>Click the <strong class="UI">[Play]</strong> button to listen to the recording.</li>
                    </ul>
                    <li>In the <strong class="UI">[Record]</strong> dialog box, click the <strong class="UI">[OK]</strong> button.</li>
                </ol>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                <ul>
                    <li>This audio recording function is only available for browsers that support audio recording.</li>
                    <li>If you see this message&mdash;&quot;HTTP mode does not support audio recording. Please change to the HTTPS secure access mode.&quot;, then you have to access the camera web viewer using the HTTPS secure mode. To access in the secure mode, select <strong class="UI">[HTTPS (Secure connection mode using a unique certificate)]</strong> or <strong class="UI">[HTTPS(Secure connection mode using the public certificate)]</strong> in the <strong class="UI">[Network]</strong>&gt;<strong class="UI">[HTTPS]</strong>&gt;<strong class="UI">[Secure connection system]</strong>, and then retry accessing the web viewer.</li>
                    </ul>
            </div>
            <div class="wn5-setup-section-article-content">
                <h3>Delete</h3>
                <p>After selecting the radio button of a clip to delete in the audio clip list, click the <strong class="UI">[Delete]</strong> button to delete the selected audio clip. &nbsp;</p>
            </div>
                <div class="wn5-setup-section-article-content">
                <h3>Audio clip list</h3>
                    <p>The list of registered audio clips is displayed.</p>
                    <p>To select a clip, click its radio button.</p>
                    <ul>
                        <li><strong class="UI">Name</strong>: The name of the audio clip is displayed.</li>
                        <li><strong class="UI">Play</strong>: Clicking the Play button (<span class="tui tui-wn5-toolbar-play"></span>) allows you to play and preview the audio file.</li>
                        <li><strong class="UI">Gain</strong>: You can set the audio output amplification value. If your sound output is not loud enough, you can raise the gain value to amplify the audio signal output. The higher the value, the louder the audio output.</li>
                        <li><strong class="UI">Download</strong>: You can download an audio clip file. &nbsp;</li>
                    </ul>
                </div>
            <div class="wn5-setup-section-article-content">
                <h3>Schedule</h3>
                <p>You can set the schedule for your registered audio clips to play automatically. You can set a different schedule for each audio clip.</p>
                <p>You need to register an audio clip first to activate the Schedule option. &nbsp;</p>
            </div>
                <div class="wn5-online-help-action">
                    <h4>Setting the schedule for audio clip playback</h4>
                        <ol>
                            <li>Select an audio clip from the audio clip list to play it at a specific time.</li>
                            <li>Check the <strong class="UI">[Enable]</strong> box under <strong class="UI">[Schedule]</strong>.</li>
                            <li>Specify the time to play.</li>
                        <ul>
                            <li>If you want to play it daily at a specific time, select <strong class="UI">[Daily]</strong> and the specific time you want. </li>
                            <li>If you want to play it on a day of the week at a specific time, select <strong class="UI">[Weekly]</strong> and the specific day of the week and time you want. </li>
                        </ul>
                        </ol>
                    </div>
                </div>
	</div>
	
<hr class="wn5-setup-hr">