<h1 class="wn5-setup-main-title">Image alignment</h1>

<div class="wn5-setup-section">
    <p >The angular field of view can be set for the installed camera, and the video image position of each sensor can be adjusted in pixel unit to correct the seams of the video images.</p>

</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>Angular field of view</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p >You can also set the panoramic angular field of view for the installed camera.</p>
            <p >By selecting <strong class="UI">[209° mode]</strong>, you can create a view of which width is longer than that of <strong class="UI">[180° mode]</strong>.</p>
        </div>
	    <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul>
                <li >If you change the angular field of view option, the camera boots and resets the below settings according to the selected angular field of view. They can be set in the <strong class="UI">[Video profile]</strong>, <strong class="UI">[Video setup]</strong>, <strong class="UI">[Camera setup]</strong>, <strong class="UI">[Digital PTZ]</strong>, <strong class="UI">[Motion detection]</strong>, <strong class="UI">[IVA]</strong>, and <strong class="UI">[Heatmap]</strong> menus, respectively.</li>
                <ul>
                    <li>Video profile</li>
                    <li>Privacy area and video setup</li>
                    <li>Camera setup</li>
                    <li>Preset and Group setup in Digital PTZ</li>
                    <li>Motion detection and IVA in Analytics</li>
                    <li>Heatmap in Statistics</li>
                </ul>
                <li>It is recommended to use [Image alignment] completing the adjustment of the tilt angle. Changing the tilt angle might misalign the images, in which case you will have to realign them.</li>
            </ul>
        </div>
	</div>
</div>


<div class="wn5-setup-section" >
    <div class="wn5-setup-section-heading">
		<h2>Image alignment</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>When creating a panoramic video by arranging the video images from four channels, the seams between videos might look unnatural. When this happens, you can use [Image alignment] to move the position of two videos at a time and correct the seam for natural look.</p>
            <p>In the preview video, the leftmost video is Area 1, and the rightmost video is Area 4.  By clicking the <strong class="UI">[1-2]</strong> button, you can adjust the position of the two videos in Areas 1 and 2 to remove seams. Likewise, click the <strong class="UI">[2-3]</strong> button to adjust the videos in Areas 2 and 3, and click the <strong class="UI">[3-4]</strong> button to adjust the videos in Areas 3 and 4. Click <strong class="UI">[Reset all]</strong> to reset to default all areas from Areas 1 to 4.</p>
            <p>Select <strong class="UI">[Alpha blending]</strong> to blend and blur the edges of the areas. If <strong class="UI">[Alpha blending]</strong> is not selected, the edges of the areas is displayed as a linear line.</p>
            <p></p>
            <p>If you select the area you want and move the mouse over a video, <strong class="UI">[Up]</strong>/<strong class="UI">[Down]</strong>/<strong class="UI">[Left]</strong>/<strong class="UI">[Right]</strong> arrow keys show up. Each time you click one of the keys, the video image moves by 1 pixel. If you click and hold an arrow key, you can move the video image by 10 pixels at a time. If you want to reset to defaults the position of the video currently being edited, click the <strong class="UI">[Reset]</strong> button.</p>

        </div>
    </div>
</div>
<hr class="wn5-setup-hr">