<h1 class="wn5-setup-main-title">Image Alignment</h1>

<div class="wn5-setup-section">
    <p>You can set the field of view and detection distance for your mounted camera.</p>

<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul>
                <li>Field of view and detection distance cannot be set simultaneously. </li>
            </ul>
        </div>
	</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>Angular field of view</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>When you arrange the videos of mounted cameras to create a panoramic view of the videos, you can adjust the field of view by choosing the way of arranging each individual camera mounted. </p>
            <ul>
                <li><strong class="UI">180° mode</strong>: Arrange camera screens vertically. Since this mode arranges the screens according to the length of each screen, you will see a video whose length is longer than that in the 220° mode mode. &nbsp;
                </li>
                <li><strong class="UI">220° mode</strong>: Arrange camera screens horizontally. Since this mode arranges the screens according to the width of each screen, you will see a video whose width is longer than that in the 180° mode.</li>
            </ul>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul>
                <li>If you change the Angular field of view option, the camera reboots and the video setup will be reset according to the selected angular field of view. Please set privacy area, Analytics, and Statistics again. These can be set in the <strong class="UI">[Video setup]</strong>, <strong class="UI">[Analytics]</strong>, and <strong class="UI">[Statistics]</strong> menus, respectively.</li>
            </ul>
        </div>
	</div>
</div>
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
		<h2>Target distance</h2>
    </div>		
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
                <p>After selecting the field of view of your camera, you can enter a distance value for the target object that is being monitored. You can set the value by adjusting the slide bar or enter a value in meters. </p>
                <p>An LUT (Look Up Table) will be generated according to the entered distance value and applied to the panoramic view. </p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">