<h1 class="wn5-setup-main-title">Smart codec</h1>

<div class="wn5-setup-section">
	<p>Smart codec is a technology that reduces the size of image data by setting an area desired by the user as an area of specific quality, while managing other areas at normal quality. When you complete the setting, click the <strong class="UI">[Apply]</strong> button at the bottom of the page.</p>
</div>

<hr class="wn5-setup-hr sptChannelSelector" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature && !ParkingDetectionSupport">>
<div class="wn5-setup-section sptChannelSelector" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature && !ParkingDetectionSupport">>
    <div class="wn5-setup-section-heading">
        <h2><a name="channel"></a>Select channel</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
			<p>After selecting your camera channel, you can set the details of Smart codec for each channel. The channel number last selected on the Live or Playback page is automatically selected.</p>
			<p ng-if="objectDetectionSupport" class="sptObjectDetection">Channel 1 displays live feed and channel 2 displays Digital PTZ video. [Smart codec] can only be configured on channel 1.</p>

            <p ng-if="HandoverCalibration" class="sptHandoverCalibration">The fixed camera channel is displayed as a number and the PTZ channel is displayed as &apos;PTZ&apos;.</p>
            <p ng-if="SupportAutoImageAlignment" class="sptAutoImageAlignment">CH2 to CH5 are videos of individually installed cameras. CH1 is a panoramic view across multiple camera screens of CH2 to CH5 arranged in a row. CH6 and CH7 are videos of CH1 video with digital PTZ applied.</p>
			<p ng-if="SupportAutoImageAlignment" class="sptAutoImageAlignment">&apos;Smart codec&apos; can only be set on CH1 to CH5.</p>
			<p ng-if="HybridThermal" class="sptHybridThermal">Channel 1 is a visible camera video channel, and Channel 2 is a thermal video channel. [Smart codec] can only be configured on channel 1.</p>
            <p>If you select another channel without applying the changes in the setting, an alarm message will appear.</p>
        </div>
	</div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>Manual ROI area</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>The user can set the area on the camera image screen. When you click and drag on the screen with the mouse, a square-shaped area will be created. 5 areas can be set, but overlapping is not allowed. When you click the <strong class="UI">[Clear]</strong> button, all set areas will be deleted.</p>
		</div>
        <div class="wn5-online-help-action sptRealPTZModel" ng-if="PTZModel">
            <h4>Adjusting the PTZ</h4>
            <p>You can adjust the pan, tilt, and zoom actions of the camera. When you click <strong class="UI">[PTZ]</strong> in the <a href="#channel">Select channel</a> menu, the PTZ jog panel displays for camera PTZ adjustment.</p>
            <ul>
                <li>When you drag the <span class="tui tui-wn5-ptz-handle"></span> icon with the mouse, the camera moves to the pan and tilt.</li>
                <li>Select an image magnification by adjusting the zoom slide bar, or by clicking the <span class="tui tui-wn5-ptz-plus"></span> icon to zoom the screen in or clicking the  <span class="tui tui-wn5-ptz-minus"></span> icon to zoom the screen out.</li>
                <li>Move the focus near by clicking the <span class="tui tui-wn5-ptz-near"></span> icon or move the focus far by clicking the <span class="tui tui-wn5-ptz-far"></span> icon.</li>
                <li>To adjust the camera focus automatically for one shot, click the <span class="tui tui-wn5-simple-focus"></span> icon.</li>
            </ul>
        </div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul>
                <li>A smart codec can be set for each video profile. If you set <strong class="UI">[CBR]</strong> for <a class="wn5-online-help-link" href="../basic/profile.html#bitrate" ng-href="#/help/basic_videoProfile?#bitrate"><strong class="UI">[Bitrate control]</strong></a> in <strong class="UI">[Basic]</strong>&gt;<strong class="UI">[Video profile]</strong> and set [Disable] in <a class="wn5-online-help-link" href="../basic/profile.html#smartcodec" ng-href="#/help/basic_videoProfile?#smartcodec"><strong class="UI">[Smart codec]</strong></a> then the smart codec function will not operate in the profile.  </li>
				<li ng-if="SupportChannelExpansionFeature" class="sptChannelExpansionFeature">The smart codec feature of the fisheye camera works only for the fisheye view mode. Only Channel 1 supports fisheye view, which means smart codec does not work for Channels 2 through 8. Also, smart codec is only applied to profile set to fisheye view on Channel 1. For example, if, among the profiles of Channel 1, &quot;profile 1&quot; is set to [Fisheye view] and &quot;profile 2&quot; is set to [Double panorama], which is one of the dewarping options, then smart codec will be applied only when video is being transmitted to &quot;profile 1&quot;. You can go to <strong class="UI">[Basic]</strong>&gt;<strong class="UI">[Video profile]</strong>&gt;<strong class="UI">[Fisheye view type]</strong> to set the fisheye view mode.</li>
            </ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>Smart codec setup</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
	    	<h3>Quality </h3>
	    	<p>Select the quality level of an area set by the user. You can check an area in set quality level. The adjusted quality level of an area is always higher than normal quality.</p>
	    </div>
		<!--<div class="wn5-setup-section-article-content">
		    <h3>Area</h3>
		    <p>You can check an area manually.</p>
		    <ul>
		        <li><strong class="UI">Manual</strong>: The user designates and sets an area on the screen in <strong class="UI">[Manual ROI area]</strong> directly.</li>
		        
		    </ul>
	    </div>-->
	</div>
</div>

<hr class="wn5-setup-hr">