
<h1 class="wn5-setup-main-title">Video setup</h1>

<div class="wn5-setup-section">
    <p>You can set a privacy area in the camera's image or flip it in reverse directions (vertically or horizontally). </p>
    <!-- <p>In addition, you can display an analog image or change the video output type.</p> -->
    <p ng-if="SupportAutoImageAlignment && !PrivacyMaskSupport && !FlipMirrorSupport">You can determine the output type of the video for an analog video output.</p>
    <p>Once you have completed the setting, click the <strong class="UI">[Apply]</strong> button at the bottom of the page.</p>
</div>

<hr class="wn5-setup-hr" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
<div class="wn5-setup-section" ng-if="MaxChannel > 1 && !SupportChannelExpansionFeature">
    <div class="wn5-setup-section-heading">
        <h2><a name="channel"></a>Select channel</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p ng-if="SupportAutoImageAlignment">After selecting a camera channel, you can set a privacy area for each channel, or set the detailed video settings, such as video rotation, analog output, etc.</p> 
            <p ng-if="!SupportAutoImageAlignment">After selecting a camera channel, you can set the detailed video settings.</p> 
            <p ng-if="objectDetectionSupport">Channel 1 displays live feed and channel 2 displays Digital PTZ video. [Video setup] can only be configured on channel 1.</p> 
            <p ng-if="HandoverCalibration">The fixed camera channel is displayed as a number and the PTZ channel is displayed as &apos;PTZ&apos;.</p>
            <p ng-if="SupportAutoImageAlignment">[Video setup] can only be configured on channel 1. CH2 to CH5 are videos of individually installed cameras. CH1 is a panoramic view across multiple camera screens of CH2 to CH5 arranged in a row. CH6 and CH7 are videos of CH1 video with digital PTZ applied.</p>
            <p ng-if="SupportAutoImageAlignment">Since a privacy area is individually set for each channel, a privacy area set on CH1 will only apply to CH1 even if the same privacy area exists on CH2.</p>

            <!-- <p ng-if="SupportChannelExpansionFeature">The view mode for each channel is described below. &apos;Video setup&apos; can be enabled on Channel 1 only.</p>
            <ul ng-if="SupportChannelExpansionFeature">
                    <li>Channel 1: Displays a video of the fisheye camera as is without correction.</li>
                    <li>Channel 2: Dewarps a 360˚ video and displays it in a wall panoramic view.</li>
                    <li>Channel 3: Dewarps a 360˚ video and displays it in a panoramic up/down-split view.</li>
                    <li>Channel 4: Dewarps 4 screens similar to human visual perception and displays them simultaneously. Select a screen to move the view up/down/left/right or zoom in/out.</li>
                    <li>Channel 5: Displays the top left video from the 4-split view of Channel 4.</li>
                    <li>Channel 6: Displays the top right video from the 4-split view of Channel 4.</li>
                    <li>Channel 7: Displays the bottom left video from the 4-split view of Channel 4.</li>
                    <li>Channel 8: Displays the top right video from the 4-split view of Channel 4.</li>
            </ul> -->
            <p ng-if="MultiImager">Channel 1 displays live feed and channel 2 and channel 3 display Digital PTZ video. [Video setup] can only be configured on channel 1.</p> 
            <p ng-if="HybridThermal">Channel 1 is a visible camera video channel, and Channel 2 is a thermal video channel.</p>
            <p ng-if="!SupportAutoImageAlignment">Click the <strong class="UI">[Info]</strong> button to see the overall summary of each channel.</p>
            <!-- <p>If you select another channel without applying the changes in the setting, an alarm message will appear.</p> -->

        </div>
	</div>
</div> 

<hr class="wn5-setup-hr" ng-if="PTZModel">
<div class="wn5-setup-section" ng-if="PTZModel">
    <div class="wn5-setup-section-heading">
        <h2>Adjusting the PTZ</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>You can adjust the pan, tilt, and zoom actions of the camera.</p>
            <p ng-if="MaxChannel > 1 && HandoverCalibration">Under <strong class="UI"><a href="#channel">[Select channel]</a></strong>, select the <strong class="UI">[PTZ]</strong> channel. The PTZ jog panel will appear.</p>
        </div>
			
        <div class="wn5-online-help-action">
    	   <h4>Adjusting the PTZ</h4>
            <ul>
                <li>When you drag the <span class="tui tui-wn5-ptz-handle"></span> icon  with the mouse, the camera moves to the pan and tilt.</li>
                <li>Select an image magnification by clicking the <span class="tui tui-wn5-ptz-plus"></span> icon to zoom the screen in or clicking the  <span class="tui tui-wn5-ptz-minus"></span> icon to zoom the screen out from the zoom bar.</li>
                <li>Move the focus near by clicking the <span class="tui tui-wn5-ptz-near"></span> icon or move the focus far by clicking the <span class="tui tui-wn5-ptz-far"></span> icon.</li>
                <li>To adjust the camera focus automatically for one shot, click the <span class="tui tui-wn5-simple-focus"></span> icon.</li>
            </ul>
    	</div>
    </div>
</div>

<hr class="wn5-setup-hr" ng-if="PrivacyMaskSupport">
<div class="wn5-setup-section" ng-if="PrivacyMaskSupport">
	<div class="wn5-setup-section-heading">
		<h2>Privacy area</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
		    <p>To prevent a possibility of privacy invasion in the camera's image, you can set a privacy area. To use the privay area function, click <strong class="UI">[Enable privacy area]</strong>. To deactivate a privacy area, deselect <strong class="UI">[Enable privacy area]</strong>, then you can check the full camera's image without anything hidden due to privacy. The set privacy areas are not deleted and they can be checked in the privacy area list.  </p>
        </div>
        <div class="wn5-online-help-info" ng-if="LDCIncompatibleSupport">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
			<ul>				
				<li>When <strong class="UI">[Enable privacy area]</strong> is selected, the LDC function is disabled. You can check the LDC function in <strong class="UI">[Video & Audio]</strong>&gt;<strong class="UI">[<a class="wn5-online-help-link" href="cameraSetup.html" ng-href="#/help/videoAudio_cameraSetup">Camera setup</a>]</strong>&gt;<strong class="UI">[Special]</strong>.
				 </li>
			</ul>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="PrivacyMaskPattern">
			<h3>Pattern</h3>
            <p>Select the mosaic pattern to apply to a privacy area. Select <strong class="UI">[</strong><strong>Solid</strong><strong class="UI">]</strong> to apply the color set in the privacy area window. If you select the pattern, it will be applied to all the areas.</p>
		</div>
		<div class="wn5-online-help-info" ng-if="GlobalMaskPatternSupport">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
			<ul>				
				<li>Any changes to the pattern option will be applied to all channels simultaneously.</li>
			</ul>
		</div> 
	
	        <div class="wn5-online-help-action" ng-if="PTZModel && PrivacyMaskRectangle && !PrivacyMasGlobalColor">
            <h4>Setting a privacy area (PTZ camera)  </h4>
            <ol>
				
                <li>Select <strong class="UI">[Enable privacy area]</strong> and click the <strong class="UI">[Apply]</strong> button at the bottom of the page.  </li>
                <li>Drag with the mouse on the camera video screen to set the privacy area size.</li>
                <li>In the <strong class="UI">[Privacy area]</strong> window, set the following:</li>
                <ul>
                    <li> Drag the icon <span class="tui tui-wn5-ptz-handle"></span> to place the desired video screen on a privacy area by adjusting the camera pan/tilt.</li>
                    <li> Enter the name of the privacy area in <strong class="UI">[Name]</strong>, select the color to cover the image in <strong class="UI">[Color]</strong>.</li>
                    <li> Select whether to enable <strong class="UI">[Zoom threshold] </strong>. The function ensures that a privacy area is used only if the image is magnified to higher than a zoom ratio set in [Set zoom threshold]. In other words, if the image is reduced below the zoom ratio, the privacy area is deleted from the image. </li>
                </ul>
                <li> In the <strong class="UI">[Privacy area] </strong> window, click the <strong class="UI">[OK]</strong> button.</li>
                <li> In step 3, if you selected <strong class="UI">[On]</strong> for the <strong class="UI">[Zoom threshold]</strong> option, then the <strong class="UI">[Set zoom threshold] </strong>window will appear. After setting the desired zoom ration, click the <strong class="UI">[OK]</strong> button.  </li>
                <li>A new privacy area is added to the list of privacy areas. The privacy area to which zoom threshold is applied will be marked as '[Zoom]' in the list of privacy areas. The color set in the camera's image screen is used to display the privacy area.  </li>
            </ol>
            <!-- <p>'줌 표시 제한'은 설정한 줌 배율보다 영상 화면을 더 축소하면 영상에서&nbsp;프라이버시 영역이 일시적으로 제거되는 기능입니다. 줌을 확대하면 프라이버시 영역이 영상에 다시 나타납니다. 기준이 되는 줌 배율은 [줌 배율 표시 제한 설정] 창에서 설정할 수 있습니다. &nbsp;</p> -->
        </div>
		
        <div class="wn5-online-help-action" ng-if="Zoom && PrivacyMaskRectangle && !PrivacyMasGlobalColor">
            <h4>Setting a privacy area (zoom camera)  </h4>
            <ol>
				
                <li>Select <strong class="UI">[Enable privacy area]</strong> and click the <strong class="UI">[Apply]</strong> button at the bottom of the page.  </li>
                <li>Drag with the mouse on the camera video screen to set the privacy area.</li>
                <li>In the <strong class="UI">[Privacy area]</strong> window, set the following:</li>
                <ul>
                    <li>Enter the name of the privacy area in <strong class="UI">[Name]</strong>, select the color to cover the image in <strong class="UI">[Color]</strong>.</li>
                    <li>Select whether to enable <strong class="UI">[Zoom threshold] </strong>. The function ensures that a privacy area is used only if the image is magnified to higher than a zoom ratio set in [Set zoom threshold]. In other words, if the image is reduced below the zoom ratio, the privacy area is deleted from the image. </li>
                </ul>
                <li> In the <strong class="UI">[Privacy area] </strong> window, click the <strong class="UI">[OK]</strong> button.</li>
                <li> In step 3, if you selected <strong class="UI">[On]</strong> for the <strong class="UI">[Zoom threshold]</strong> option, then the <strong class="UI">[Set zoom threshold] </strong>window will appear. After setting the desired zoom ration, click the <strong class="UI">[OK]</strong> button.</li>
                <li>A new privacy area is added to the list of privacy areas. The privacy area to which zoom threshold is applied will be marked as '[Zoom]' in the list of privacy areas. The color set in the camera's image screen is used to display the privacy area.</li>
            </ol>
        </div>


        <div class="wn5-online-help-action" ng-if="!PrivacyMaskRectangle && !PrivacyMasGlobalColor">
                <h4>Setting a privacy area (except for a zoom or PTZ camera)</h4>
                <ol>
                    
                    <li>Select <strong class="UI">[Enable privacy area]</strong> and click the <strong class="UI">[Apply]</strong> button at the bottom of the page. </li>
                    <li>Click on 4 corners with the mouse on the camera video screen.</li>
                    <li>In the <strong class="UI">[Privacy area]</strong> window, set the following:</li>
                    <ul>
                        <li>Enter the name of the privacy area in <strong class="UI">[Name]</strong>, select the color to cover the image in <strong class="UI">[Color]</strong>.</li>
                    </ul>
                    <li> In the <strong class="UI">[Privacy area] </strong> window, click the <strong class="UI">[OK]</strong> button.</li>
                    <li>A new privacy area is added to the list of privacy areas. The color set in the camera's image screen is used to display a privacy area.</li>
                </ol>
            </div>

            <div class="wn5-online-help-action" ng-if="PrivacyMasGlobalColor">
                    <h4>Setting a privacy area</h4>
                    <ol>
                        <li>Select <strong class="UI">[Enable privacy area]</strong>.</li>
                        <li>Drag the mouse on the camera video screen to set the privacy area.</li>
                        <li>Enter the name of the privacy area in <strong class="UI">[Name]</strong> under <strong class="UI">[Privacy area]</strong>, and click the <strong class="UI">[OK]</strong> button.</li>
                        <li>The new privacy area will be added to the privacy area list. </li>
                        <li>To apply a color to the privacy area, go to <strong class="UI">[Color]</strong>, select a color to paint the area, and click the <strong class="UI">[Apply]</strong> button at the bottom of the page. The selected color will be applied to every privacy area.</li>
                    </ol>
                </div>

		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
			<ul>
				
				<li>Only English letters, numbers, dash (-) and period (.) can be entered for the name of a privacy area. </li>

			</ul>
		</div>


		<div class="wn5-online-help-action">
			<h4>Deleting a privacy area</h4>
			<ol>
				
				<li>Select a privacy area to delete from the list of privacy areas. The selected area is displayed on the camera's image screen. </li>
				<li>Click the <strong class="UI">[Delete]</strong> button. The selected area will be deleted.</li>
			</ol>
		</div>
		       <!-- <div class="wn5-online-help-action" ng-if="PTZModel">
            <h4>Adjusting the PTZ</h4>
            <p ng-if="MaxChannel > 1 && HandoverCalibration">Under <strong class="UI"><a href="#channel">[Select channel]</a></strong>, select the <strong class="UI">[PTZ]</strong> channel. The PTZ jog panel will appear.</p>
            <p>You can adjust the pan, tilt, and zoom actions of the camera.</p>
            <ul>
                <li>When you drag the <span class="tui tui-wn5-ptz-handle"></span>icon with the mouse, the camera will pan and tilt accordingly.</li>
                <li>By using the zoom bar, you can adjust the video zooming ratio. Or, click the <span class="tui tui-wn5-ptz-plus"></span> icon to magnify the screen or click the <span class="tui tui-wn5-ptz-minus"></span> icon to reduce the screen.</li>
                <li>Move the focus near by clicking the <span class="tui tui-wn5-ptz-near"></span> icon or move the focus far by clicking the <span class="tui tui-wn5-ptz-far"></span> icon.</li>
                <li>To adjust the camera focus automatically for one shot, click the <span class="tui tui-wn5-simple-focus"></span> icon.</li>
            </ul>
        </div> -->
	</div>
</div>

<hr class="wn5-setup-hr" ng-if="FlipMirrorSupport">

<div class="wn5-setup-section" ng-if="FlipMirrorSupport">
	<div class="wn5-setup-section-heading">
		<h2>Video rotation</h2>
	</div>
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>If the screen is displayed upside down after installing the camera, you can correct this through the flip mode and mirror mode functions. </p>
            <p ng-if="HallwayView">The <strong class="UI">[Hallway view]</strong> feature provides a long vertical view of the screen which allows the user to operate the surveillance area more efficiently in a corridor or alley.</p>
        </div>
		<div class="wn5-online-help-info" ng-if="Statistics">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                    <ul>
                        <li>If you change the video rotation setting, the video will be flipped in four directions or changed. To help you analyzing the changed video and accumulate the statistics, change the analysis and statistics setting. The settings can be changed in the [Analytics] and [Statistics] menus.  </li>
                    </ul>
        </div>
				<div class="wn5-online-help-info"  ng-if="!Statistics">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                    <ul>
                        <li>If you change the video rotation settings, the video screen will be flipped in four directions or changed. To help you analyzing the changed video, change the analysis settings in the [Analytics] menu.  </li>
                    </ul>
        </div>
		<div class="wn5-setup-section-article-content" ng-if="!PTZModel && !PTRZModel">
			
			<h3>Flip</h3>
			<p>You can flip the camera image upside down. To flip the camera image, select <strong class="UI">[On]</strong>.</p>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="!PTZModel && !PTRZModel">
			<h3>Mirror</h3>
			<p>You can mirror the camera image. To mirror the camera image, select <strong class="UI">[On]</strong>.</p>
		</div>

		<div class="wn5-setup-section-article-content" ng-if="PTZModel || PTRZModel">
			<h3>Flip/Mirror</h3>
			<p>Select <strong class="UI">[On]</strong> to flip the camera output horizontally or vertically.</p>
		</div>

		<div class="wn5-setup-section-article-content" ng-if="PTZModel && AutoFlip">
			<h3>Digital flip</h3>
            <p>When you change the camera location by using the PTZ functions, the camera's image can be flipped in four directions. Now, if you want to reverse the image automatically, so that you can see the natural image, select&nbsp;<strong class="UI">[On]</strong>.</p>
		</div>
		
        <div class="wn5-setup-section-article-content" ng-if="HallwayView">
            <h3>Hallway view</h3>
            <p>By rotating the camera image in an environment where a general camera cannot properly monitor the narrow aisles or hallways, you can magnify the vertical monitoring areas. You can rotate it 90 deg (Clockwise) or 270 deg (Clockwise) or set it to 0 deg to return to the original image.</p>
			<p ng-if="MaxChannel > 1 && HandoverCalibration">Only if you select a fixed camera channel in <strong class="UI"><a href="#channel">[Select channel]</a></strong>, you can set the 'Hallway view' function.</p>
        </div>
		<div class="wn5-online-help-info" ng-if="HallwayView">
			<h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
				<ul>
					
			        <li>In order to set the hallway view, you need to set the installed camera to 0 degree, or rotate to 90 degrees clockwise or 270 degrees clockwise, and select the same angle in <strong class="UI">[Hallway view]</strong>. </li>
					<li>When you set <strong class="UI">[Hallway view]</strong>, the web browser will close automatically. You will need to reconnect to the web viewer.</li>
				</ul>
		</div>
		
						<div class="wn5-setup-section-article-content" ng-if="FisheyeLens">
			<h3>Camera mounting mode</h3>
            <p>Select the camera mounting mode. Select <strong class="UI">[Wall]</strong> when the camera is installed on the wall, or <strong class="UI">[Ceiling]</strong> when it is installed on the ceiling.</p>
		</div>
        <div class="wn5-online-help-info" ng-if="FisheyeLens">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul>
                <li>If you change the camera mounting mode, all the profile settings in&nbsp;<strong class="UI">[Video Profile]</strong> are reset and the camera is rebooted. In addition, as the screen is changed, you need to change the video analysis and statistic settings accordingly. The setting can be changed in <strong class="UI">[Analysis]</strong> and <strong class="UI">[Statistics] </strong>.  </li>
                <li>Only if you set the camera mounting mode to<span>&nbsp;</span><strong class="UI">[Wall Type]</strong>, you can use the pan function of DPTZ in<span>&nbsp;</span><strong class="UI">[Live]</strong><span>&nbsp;</span>mode.</li>
                <li>If you change the camera mounting mode, the fisheye view mode's direction in <strong class="UI">[Live]</strong><span> </span>mode is also changed.</li>
            </ul>
        </div>
	</div>
</div>


<!-- 멀티 센터 카메라 변경점 진행할 때 [아날로그 비디오]는 삭제하고 [비디오 출력] 분기 코드는 삭제해야 함  -->
<!-- <hr class="wn5-setup-hr" ng-if="SupportAutoImageAlignment">
<div class="wn5-setup-section" ng-if="SupportAutoImageAlignment">
    <div class="wn5-setup-section-heading">
        <h2>Analog video</h2>
    </div>
	<div class="wn5-setup-section-article">	
	<div class="wn5-setup-section-article-content">
			
			<h3>Video output</h3> -->
        <!-- 	<p>You can set whether or not to output analog video. Analog video output is useful since you can set it while checking the lens location or focus when installing the camera.</p> --> 
        <!-- <p>This determines the output type of the video for an analog video output. Analog video output is useful since you can set it while checking the lens location and camera focus when installing the camera.</p>
		</div>
	
	<div class="wn5-setup-section-article-content">
		<h3>Video output type</h3>
		
	    	<p>Select the analog video output type. You can select either <strong class="UI">[NTSC]</strong> or <strong class="UI">[PAL]</strong> as the video output type.</p>
			<ul>			
				<li><strong class="UI">NTSC</strong>: NTSC (National Television System Committee) is the standard for color television in the U.S. It operates at 30 frames per second with 525 horizontal scanning lines. The number of frames per second is large so that the screen can display naturally. This type is mainly used in the U.S., Japan and Canada.</li>
				<li><strong class="UI">PAL</strong>: PAL (Phase Alternation Line) originated in Germany, and while it is similar to NTSC, there is a difference in the method it uses to handle color signals. This type is used mainly in Europe. Although this type has a smaller number of frames per second in comparison to NTSC, it has a larger number of horizontal scanning lines (625) and less color deformation; it does not require advanced specifications for broadcasting equipment. </li>
			</ul>
		</div>
	</div>
</div>  -->


<!-- 비디오 출력 cvbs와 hdmi 통합 전 -->

<!-- <hr class="wn5-setup-hr" ng-if="VideoTypeOptions || (VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1) && UsbConfigEnable">
<div class="wn5-setup-section" ng-if="VideoTypeOptions || (VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1) && UsbConfigEnable">
	<div class="wn5-setup-section-heading">
		<h2>Video output</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>You can select the method of displaying camera video output.</p>
        </div>
            <div class="wn5-setup-section-article-content" ng-if="UsbConfigEnable">
                <h3>USB</h3>
                <p>To display a camera image by using the USB, click <strong class="UI">[Enable]</strong>.</p>
                <p>Using the Wi-Fi dongle and smartphone app from Hanwha Techwin, you can access your camera over Wi-Fi. This is useful when you are trying to install a network camera for the first time or change the angular field of view or position of your camera, since you can see the camera screen on your smartphone without the hassle of getting an additional monitor to check the installation.</p>
            </div>
		    <div class="wn5-setup-section-article-content" ng-if="VideoTypeOptions && !VideooutputEnableHide">
                 <h3>CVBS</h3>
  
                <p>To display a video by connecting a cable to the CVBS terminal, click <strong class="UI">[Enable]</strong>.</p>
                <p>It is useful since you can set it while checking the lens position or focus when installing the camera.</p>
            </div>
	
	        <div class="wn5-setup-section-article-content" ng-if="VideoTypeOptions">
                <h3>CVBS type</h3>  
  
	    	        <p>To use CVBS, select the CVBS video output type.</p>
			<ul>
				<li><strong class="UI">NTSC</strong>: NTSC (National Television System Committee) is the US standard for color TVs. The number of frames per sec is 30 and the number of horizontal projection beam is 525, Since the number of frames per sec is high, the screen looks very natural. It is mostly used in USA, Japan, and Canada.</li>
				<li><strong class="UI">PAL</strong>: PAL (Phase Alternation Line) method was proposed by Germany and it is similar to NTSC but differs in the way it handles the color signals. It is mostly used in Europe. Compared to NTSC, the number of frames per sec is lower but the number of horizontal beams is higher (625). Thus, the resolution is higher, the color deformation is less, and the broadcasting facility does not require high specifications. </li>
			</ul>
            </div>
            
            <div class="wn5-setup-section-article-content" ng-if="!GlobalRotateViewSupport">
                <h3>Layout</h3>
                <p>You can select layout options for camera video output screen in <strong class="UI">[Layout]</strong>. Selecting <strong class="UI">[Quad]</strong> displays all videos from 4 channels on one screen. Selecting <strong class="UI">[Single]</strong> displays only one video from 4 channels on the screen. If [Single] is selected, you can choose the channel to stream the video.</p>
            </div>

		    <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                <ul>
                    <li>To prevent degradation of the camera performance, turn off the video output function after installing a camera.</li>
                </ul>
        </div>
	</div>
</div> -->


<!-- <hr class="wn5-setup-hr" ng-if ="HDMISupport && !SupportAutoImageAlignment && !XCELevel">
<div class="wn5-setup-section" ng-if ="HDMISupport && !SupportAutoImageAlignment && !XCELevel">
    <div class="wn5-setup-section-heading">
        <h2>Video output</h2>
    </div>
	<div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">	
        <p>You can select the method of displaying camera video output.</p>
	</div>
        <div class="wn5-setup-section-article-content" ng-if="UsbConfigEnable">
            <h3>USB</h3>
			<p>To display a camera image by using the USB, click <strong class="UI">[Enable]</strong>.</p>
            <p>Using the Wi-Fi dongle and smartphone app from Hanwha Techwin, you can access your camera over Wi-Fi. This is useful when you are trying to install a network camera for the first time or change the angular field of view or position of your camera, since you can see the camera screen on your smartphone without the hassle of getting an additional monitor to check the installation.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Video output </h3>
			<p>To display video by connecting a cable to the HDMI terminal, click <strong class="UI">[Enable]</strong>. It is useful since you can set it while checking the lens position or focus when installing the camera.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Type </h3>
            <p>Select the HDMI resolution to display video. In <strong class="UI">[Video output]</strong>, select [Enable] to be able to select the type you want. </p>
        </div>

        <div class="wn5-setup-section-article-content" ng-if="!GlobalRotateViewSupport">
            <h3>Layout</h3>
            <p>You can select layout options for camera video output screen in <strong class="UI">[Layout]</strong>. Selecting <strong class="UI">[Quad]</strong> displays all videos from 4 channels on one screen. Selecting <strong class="UI">[Single]</strong> displays only one video from 4 channels on the screen. If [Single] is selected, you can choose the channel to stream the video.</p>
		</div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                <ul>
                    <li>To prevent degradation of the camera performance, turn off the video output function after installing a camera.</li>
                </ul>
        </div>
	</div>
</div>  

<hr class="wn5-setup-hr"> -->



<!-- 비디오 출력 cvbs와 hdmi 통합 후 -->

<hr class="wn5-setup-hr" ng-if="VideoTypeOptions || UsbConfigEnable">
<div class="wn5-setup-section" ng-if="VideoTypeOptions || UsbConfigEnable">
	<div class="wn5-setup-section-heading">
		<h2>Video output</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
            <p>You can select the method of displaying camera video output.</p>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="UsbConfigEnable">
            <h3>USB</h3>
            <p>To display a camera image by using the USB, click <strong class="UI">[Enable]</strong>.</p>
            <p>Using the Wi-Fi dongle and smartphone app from Hanwha Techwin, you can access your camera over Wi-Fi. This is useful when you are trying to install a network camera for the first time or change the angular field of view or position of your camera, since you can see the camera screen on your smartphone without the hassle of getting an additional monitor to check the installation.</p>
		</div>
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1) && !VideooutputEnableHide || VideoTypeOptions.indexOf('HDMI_QuadView') === -1">
			<h3>CVBS</h3>
            <p>To display a video by connecting a cable to the CVBS terminal, click <strong class="UI">[Enable]</strong>.</p>
            <p>It is useful since you can set it while checking the lens position or focus when installing the camera.</p>
		</div>
		<!-- <div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1) || VideoTypeOptions.indexOf('HDMI_QuadView') === -1"> -->
            <div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('NTSC') !== -1 || VideoTypeOptions.indexOf('PAL') !== -1)">
            <h3>CVBS type</h3>  
            <p>To use CVBS, select the CVBS video output type.</p>
			<ul>
				<li><strong class="UI">NTSC</strong>: NTSC (National Television System Committee) is the US standard for color TVs. The number of frames per sec is 30 and the number of horizontal projection beam is 525, Since the number of frames per sec is high, the screen looks very natural. It is mostly used in USA, Japan, and Canada.</li>
				<li><strong class="UI">PAL</strong>: PAL (Phase Alternation Line) method was proposed by Germany and it is similar to NTSC but differs in the way it handles the color signals. It is mostly used in Europe. Compared to NTSC, the number of frames per sec is lower but the number of horizontal beams is higher (625). Thus, the resolution is higher, the color deformation is less, and the broadcasting facility does not require high specifications. </li>
			</ul>
        </div>
        <!-- <div class="wn5-setup-section-article-content" ng-if="!GlobalRotateViewSupport && !ZoomOnlyModel"> -->
        <div class="wn5-setup-section-article-content" ng-if="(!GlobalRotateViewSupport && !ZoomOnlyModel) || GlobalRotateViewSupport == undefined">
            <h3>Layout</h3>
            <p>You can select layout options for camera video output screen in <strong class="UI">[Layout]</strong>. Selecting <strong class="UI">[Quad]</strong> displays all videos from 4 channels on one screen. Selecting <strong class="UI">[Single]</strong> displays only one video from 4 channels on the screen. If [Single] is selected, you can choose the channel to stream the video.</p>
        </div>
        
        <!-- TNB-9000에서 hide하기 위해 !SensorCaptureSize 추가. tw자체. 2020-04-23 -->
        
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('HDMI_1080p') !== -1 || VideoTypeOptions.indexOf('HDMI_720p') !== -1) && HDMISupport && !SensorCaptureSize">
            <h3>Video output </h3>
			<p>To display video by connecting a cable to the HDMI terminal, click <strong class="UI">[Enable]</strong>. It is useful since you can set it while checking the lens position or focus when installing the camera.</p>
		</div>
		<!-- TNB-9000에서 hide하기 위해 !SensorCaptureSize 추가. tw자체. 2020-04-23 -->
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('HDMI_1080p') !== -1 || VideoTypeOptions.indexOf('HDMI_720p') !== -1) && HDMISupport && !SensorCaptureSize">
            <h3>Type </h3>
            <p>Select the HDMI resolution to display video. In <strong class="UI">[Video output]</strong>, select [Enable] to be able to select the type you want. </p>
		</div>
		<!-- TNB-9000에서 show 하기 위해 SensorCaptureSize 추가. tw자체. 2020-04-23 -->
		<div class="wn5-setup-section-article-content" ng-if="(VideoTypeOptions.indexOf('HDMI_1080p') !== -1 || VideoTypeOptions.indexOf('HDMI_720p') !== -1) && HDMISupport && SensorCaptureSize">
			<h3>HDMI type</h3>
			<p>Select the HDMI resolution to display video.</p>
		</div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                <ul>
                    <li>To prevent degradation of the camera performance, turn off the video output function after installing a camera.</li>
                </ul>
        </div>
	</div>
</div>

<hr class="wn5-setup-hr">
