<div id="change-password" class="login-wrapper middle-center">
    <div id="log-container">
      <img src="base/images/app_icon_ani.gif">
<!--        <h1>{{loadingText}}</h1>-->
    </div>
    <div>
        <label class="col-lg-3 control-label">{{ 'lang_currenlang_pw' | translate }}</label>
        <div>
            <input type="password" class="login-input text" placeholder="OldPassword" ng-model="loginInfo.password" >
        </div>
        <label class="col-lg-3 control-label">{{ 'lang_new_pw' | translate }}</label>
        <div>
            <input type="password" class="login-input text" placeholder="NewPassword"  ng-model="loginInfo.newpassword1"  >
        </div>
        <label class="col-lg-3 control-label">{{ 'lang_new_cpw' | translate }}</label>
        <div>
            <input type="password" class="login-input text" placeholder="NewPassword"  ng-model="loginInfo.newpassword2"  >
        </div>

        <button class="btn btn-primary" ng-click="onChangePassword()" >
        Change Password
        </button>
        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li> . {{ 'lang_msg_pw_rule6' | translate}} </li>
                                <li> . {{ 'lang_msg_pw_rule7' | translate}} </li>
                                <li> . {{ 'lang_msg_pw_rule8' | translate}} </li>
                                <li> . {{ 'lang_msg_pw_rule9' | translate}} </li>
                                <li> . {{ 'lang_msg_pw_rule10' | translate}} </li>
                                <li> . {{ 'lang_msg_pw_rule11' | translate}} </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>