<div id="login" class="middle-center">
    <div id="login-brand">
      <img src="base/images/WiseNet_Logo_0.png">
    </div>
    <div id="login-inputbox-container">
        <input 
          type="password" 
          class="login-input cm-text-field" 
          placeholder="{{ 'lang_currenlang_pw' | translate }}" 
          ng-model="loginInfo.password">
        <input 
          type="password" 
          class="login-input cm-text-field" 
          placeholder="{{ 'lang_new_pw' | translate }}"  
          ng-model="loginInfo.newpassword1">
        <input 
          type="password" 
          class="login-input cm-text-field" 
          placeholder="{{ 'lang_new_cpw' | translate }}"  
          ng-model="loginInfo.newpassword2">
        <input 
          type="button" 
          value="{{'lang_apply'|translate}}" 
          class="login-input submit cm-btn-point"
          ng-click="onChangePassword()">
    </div>
    <div id="userpage" style="float: left">
      <div class="userpage-password-description">
        <ol>
          <li>{{ 'lang_msg_pw_rule6' | translate}}</li>
          <li>{{ 'lang_msg_pw_rule7' | translate}}</li>
          <li>{{ 'lang_msg_pw_rule8' | translate}}</li>
          <li>{{ 'lang_msg_pw_rule9' | translate}}</li>
          <li>{{ 'lang_msg_pw_rule10' | translate}}</li>
          <li>{{ 'lang_msg_pw_rule11' | translate}}</li>
        </ol>
      </div>
    </div>
</div>