<div class="popup-full" id="find-id">
    <div class="middle-center">
        <div class="row">
            <div class="col-xs-5">
                <label class="radio" ng-click="changeFindUserId()">
                    <input type="radio" name="type" value="id" ng-checked="findRadio.userId">
                    <span class="icon"></span>
                    <span class="title">Find ID</span>
                </label>
            </div>
            <div class="col-xs-7">
                <label class="radio" ng-click="changeFindPassword()">
                    <input type="radio" name="type" value="Password" ng-checked="findRadio.password">
                    <span class="icon"></span>
                    <span class="title">Find Password</span>
                </label>
            </div>
        </div>
        <p id="info-message">
            {{infoMessage}}
        </p>
        <div>
            <input 
                   type="text" 
                   class="login-input text" 
                   placeholder="User ID" 
                   ng-if="findRadio.userId"></input>
            <input 
                   type="text" 
                   class="login-input text" 
                   placeholder="E-Mail address">
        
            <button 
                    type="button"
                    class="login-input button button-background-active submit">
                SEND<i class="fa fa-angle-right"></i>
            </button>
        </div>
    </div>
    <button class="button button-border-active button-menu button-close"
    ng-click="visibilityFindId = false">
    <i class="tui tui-close"></i>  
    </button>
</div>