<form method="post" ng-submit="onSubmitHandle()">
  <div class="login-wrapper middle-center" ng-hide="serverType == 'camera'">
    <div id="log-container">
      <img src="base/images/WiseNet_Logo_0.png">
    </div>
    <div class="login-inputbox-container"> <!-- Class will be removed, if below feature opened -->
      <!-- this code is for second verification.
      <button class="login-input button button-background-none"
        ng-disabled="btnDisabled"
        ng-click="visibilityServerPopup=true"
        ng-hide = "isPhone">
        SERVER <i class="tui tui-down"></i>
      </button>
      -->
      <input 
						 type="text" 
						 class="login-input text" 
						 placeholder="ID" 
						 ng-model="loginInfo.id" 
						 ng-disabled="btnDisabled" 
						 ng-hide="visiblityIDInputBox">
      <input 
             type="password" 
             class="login-input text" 
             placeholder="Password" 
             ng-model="loginInfo.password" 
             ng-disabled="btnDisabled">
      <input 
             type="text" 
             class="login-input text" 
             placeholder="IP Address" 
             ng-if="desktopAppInfo.isDesktopApp"
             ng-model="desktopAppInfo.ipAddress"
             ng-disabled="btnDisabled">
      <input 
						 type="submit" 
						 value="LOGIN" 
						 class="login-input button button-background-active submit" 
						 ng-disabled="btnDisabled">
       <!-- LOGIN<i class="fa fa-angle-right"></i> -->
      <!-- this code is for second verification.
      <div ng-switch on="loginInfo.serviceType">
        <div ng-switch-when='WEB_IPOLIS'>
          <button class="login-input button button-background-none" ng-disabled="btnDisabled" ng-hide = "isPhone">
          NEW SERVER <i class="tui tui-menu-editserver"></i>
          </button>
        </div>       
        <div ng-switch-when='MOBILE_B2C'>
          <button class="login-input button button-background-none" ng-disabled="btnDisabled">
          New SmartCam <i class="tui tui-menu-editserver"></i>  
          </button>
          <button class="login-input button button-background-none" ng-disabled="btnDisabled">
          Forget ID/Password?
          </button>
        </div>
      </div>
      -->
    </div>
  </div>
</form>