<form method="post" ng-submit="onSubmitHandle()">
  <div class="login-wrapper middle-center" ng-hide="serverType == 'camera'">
    <div id="log-container">
      <img src="base/images/WiseNet_Logo_0.png">
    </div>
    <div class="login-inputbox-container">
      <input 
						 type="text" 
						 class="login-input text" 
						 placeholder="ID" 
						 ng-model="loginInfo.id" 
						 ng-disabled="btnDisabled" 
						 ng-hide="visiblityIDInputBox">
      <input 
             type="password" 
             class="login-input text" 
             placeholder="Password" 
             ng-model="loginInfo.password" 
             ng-disabled="btnDisabled">
      <input 
             type="text" 
             class="login-input text" 
             placeholder="IP Address" 
             ng-if="desktopAppInfo.isDesktopApp"
             ng-model="desktopAppInfo.ipAddress"
             ng-disabled="btnDisabled">
      <input 
						 type="submit" 
						 value="LOGIN" 
						 class="login-input button button-background-active submit" 
						 ng-disabled="btnDisabled">
    </div>
  </div>
</form>