<form method="post" ng-submit="onSubmitHandle()">
  <div id="login" class="middle-center" ng-hide="serverType == 'camera'">
    <div id="login-brand">
      <img src="base/images/WiseNet_Logo_0.png">
    </div>
    <div id="login-inputbox-container">
      <input 
        type="text" 
        class="login-input cm-text-field" 
        placeholder="ID" 
        ng-model="loginInfo.id" 
        ng-disabled="btnDisabled" 
        ng-hide="visiblityIDInputBox">
      <input 
        type="password" 
        class="login-input cm-text-field" 
        placeholder="Password" 
        ng-model="loginInfo.password" 
        ng-disabled="btnDisabled">
      <input 
        type="text" 
        class="login-input cm-text-field" 
        placeholder="IP Address" 
        ng-if="desktopAppInfo.isDesktopApp"
        ng-model="desktopAppInfo.ipAddress"
        ng-disabled="btnDisabled">
      <input 
        type="submit" 
        value="LOGIN" 
        class="login-input submit cm-btn-point" 
        ng-disabled="btnDisabled">
    </div>
  </div>
</form>