<div class="wrapper wrapper-content" ng-if='pageLoaded'>
    <form name="audioDetectForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_audiodetection">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-gui-body-large">
                <input type="checkbox" name="Enable" ng-model="AD.Enable" ng-change="submit(true)">
                <label>{{ 'lang_enable_feature_audio_detection' | translate }}</label>
            </div>
        </div>
        
        <hr class="wn5-setup-hr">

        <div class="wn5-setup-section">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_level_of_detection' | translate }}</h3>
            </div>

            <div class="wn5-setup-section-article" >
                <div class="form-group">
                    <div class="wn5-setup-section-article-content wn5-setup-realtime-chart">
                        <live_chart id="audio-line-chart" live-chart-options="AudioDetectChartOptions"></live_chart>
                    </div>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr">
        
        <event-action-setup></event-action-setup>

        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_activation_time' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article form-group">
                <div class="wn5-setup-section-article-content">
                    <div ng-class="RadioClassLg" ng-repeat="Activate in ActivateOptions">{{getTranslatedOption(Activate)}}<input type="radio" class="radio" name="Activate" ng-model="$parent.EventRule.ScheduleType" ng-value="Activate"></div>
                </div>
            </div>
        </div>

        <scheduler></scheduler>
        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>