<div id="imagepage" class="wrapper wrapper-content" ng-if='pageLoaded'>
    <wn5-setup-main-title
        data-title="lang_autotracking">
    </wn5-setup-main-title>
    <div class="wn5-setup-section">
        <hr class="wn5-setup-hr">
        <sketchbook ng-class="PTZModel || ZoomOnlyModel ? 'ptz-control-viewer' : 'wn5-setup-preview-video'" sketchinfo='sketchinfo' videoinfo='videoinfo'></sketchbook>
        <!-- PTZ Control -->
        <div class="ptz-control_box">
            <ptz-control ptzinfo='ptzinfo'></ptz-control>
        </div>
        <!-- //PTZ Control End -->
    </div>
    
    <div class="form-group"></div>

    <form name="autoTrackForm" method="get" class="form-horizontal" novalidate>
        <hr class="wn5-setup-hr">
        <div class="wn5-setup-section">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_configuration' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">                
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_cameraHeight' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div style="width: 60%;min-width: 250px;" class="slider-fields live-slider-field" ng-if="AutoTracking !== undefined">
                            <live_slider
                                    live-slider-model="AutoTracking"
                                    live-slider-model-name="CameraHeight"
                                    live-slider-property="CameraHeightsSliderOptions">
                            </live_slider>
                            <label class="cm-slider-label" style="padding-left: 5px;">m</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_zoom' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="checkbox" ng-model="AutoTracking.Zoom"> <label>{{ 'lang_enable' | translate }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_target_size_fix' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <select class="form-control" ng-model="AutoTracking.ObjectSize" ng-options="Size for Size in AutoTrackObjectSize" ng-disabled="AutoTracking.Zoom == false"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_indicatorDisplay' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="checkbox" ng-model="AutoTracking.IndicatorDisplay"> <label>{{ 'lang_enable' | translate }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_excluded_area' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="checkbox" ng-model="AutoTracking.AreaActivation"> <label>{{ 'lang_enable' | translate }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_autoExit' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <input type="checkbox" ng-model="AutoTracking.AutoMode"> <label>{{ 'lang_enable' | translate }}</label>
                    </div>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr">
        <event-action-setup></event-action-setup>
        <hr class="wn5-setup-hr">

        <div class="wn5-setup-section">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_activation_time' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article" >
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <div ng-class="RadioClassLg" ng-repeat="Activate in ActivateOptions">{{getTranslatedOption(Activate)}}<input type="radio" class="radio" name="Activate" ng-model="$parent.EventRule.ScheduleType" ng-value="Activate"></div>
                    </div>
                </div>
            </div>
        </div>

        <scheduler></scheduler>
        <hr class="wn5-setup-hr">
        <div class="confirm-button-area">
            <button type="button" class="btn cm-btn-point" ng-click="submit()">{{ 'lang_apply' | translate }}</button>
            <button type="button" class="btn cm-btn-dark" ng-click="view(0)">{{ 'lang_cancel' | translate }}</button>
        </div>

    </form>
</div>
<script type="text/ng-template" id="autoTrackingPopup.html">
    <div class="modal-header modal-setup">
        <h3>{{ 'lang_autotracking' | translate }}</h3>
    </div>
    <div class="modal-body modal-setup">
        <label class="col-sm-3 control-label">{{ 'lang_name' | translate }}</label>
        <div class="col-sm-6">
            <input class="form-control autoTracking-name-input" type="text" ng-model="AutoTrackingName" required ng-pattern-restrict="{{AlphaNumericStr}}" ng-maxlength="AutoTrackingNameMaxLen" maxlength="{{AutoTrackingNameMaxLen}}">
        </div>
    </div>
    <div class="modal-body modal-setup"></div>
    <div class="modal-footer modal-setup" style="text-align:center">
        <button type="button" class="btn cm-btn-point" type="button" ng-disabled="autotrackingDataReady" ng-click="ok()">{{ "lang_ok" | translate }}</button>
        <button type="button" class="btn cm-btn-dark" type="button" ng-disabled="autotrackingDataReady" ng-click="cancel()">{{ "lang_cancel" | translate }}</button>
    </div>
</script>