<div class="wrapper wrapper-content" ng-if='pageLoaded'>
    <form name="defocusDetectForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_defocus_detection">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-gui-body-large">
                <input type="checkbox" name="Enable" ng-model="DefocusDetect.Enable" ng-change="submitEnable()">
                <label>{{ 'lang_enable_feature_defocus_detection' | translate }}</label>
            </div>
        </div>

        <div class="wn5-setup-section">
            <sketchbook 
                class="wn5-setup-preview-video"
                videoinfo='videoinfo'></sketchbook>

            <div class="wn5-setup-preview">
                <div class="form-group">
                    <div class="wn5-setup-preview-heading">{{ 'lang_level_of_detection' | translate }}</div>
                    <div class="wn5-setup-section-article-content livechart">
                        <live_chart id="defocus-line-chart" live-chart-options="DefocusChartOptions"></live_chart>
                    </div>
                </div>
                <!-- Sensitivity -->
                <div class="form-group">
                    <div class="wn5-setup-preview-heading">{{ 'lang_sensitivity' | translate }}</div>
                    <div class="wn5-setup-preview-content slider-fields">
                        <div style="width: 100%; max-width: 300px;">
                            <live_slider live-slider-property="DefocusDetectSensitivitySliderProperty" live-slider-model="DefocusDetectSensitivitySliderModel"></live_slider>
                        </div>
                    </div>
                </div>
                <!-- Duration -->
                <div class="form-group">
                    <div class="wn5-setup-preview-heading">{{ 'lang_minimum_duration' | translate }} ({{ 'lang_sec' | translate }})</div>
                    <div class="wn5-setup-preview-content slider-fields">
                        <div style="width: 100%; max-width: 300px;">
                            <live_slider live-slider-property="DefocusDetectDurationSliderProperty" live-slider-model="DefocusDetectDurationSliderModel"></live_slider>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="wn5-setup-section-article-heading">{{ 'lang_duration' | translate }}</div>
                    <div ng-class="SliderClass" class=" slider-fields">
                        <i class="fa fa-minus-square" style="font-size:20px; cursor:pointer; float:none;" ng-click="DecreaseDuration()"></i>
                        <rzslider rz-slider-model="DefocusDetect.Duration" rz-slider-options="DefocusDetectDurationSlider"></rzslider>
                        <i class="fa fa-plus-square" style="font-size:20px; cursor:pointer; float:none;" ng-click="IncreaseDuration()"></i>
                    </div>
                </div> -->
            </div>
        </div>
        
        <event-action-setup></event-action-setup>

        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_activation_time' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article form-group">
                <div class="wn5-setup-section-article-content">
                    <div ng-class="RadioClassLg" ng-repeat="Activate in ActivateOptions">{{getTranslatedOption(Activate)}}<input type="radio" class="radio" name="Activate" ng-model="$parent.EventRule.ScheduleType" ng-value="Activate"></div>
                </div>
            </div>
        </div>

        <scheduler></scheduler>
        <hr class="wn5-setup-hr">

        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view(0)">
        </wn5-setup-common-button>
    </form>
</div>