<h1 class="wn5-setup-main-title">802.1x</h1>
<div class="wn5-setup-section">
	<p>Puede seleccionar si desea utilizar o no el protocolo 802.1x cuando se conecta a una red, e instalar los certificados. Cuando haya completado el ajuste, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte inferior de la p&aacute;gina.</p>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h3 >Ajuste de IEEE 802.1x</h3>
	</div>

	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
		    <h3>IEEE 802.1x </h3>
		    <p>Para utilizar el protocolo IEEE 802.1x para la conexi&oacute;n a la red, seleccione [Activar]. IEEE 802.1x es una parte del grupo de protocolo de red llamado IEEE 802.1 y es el est&aacute;ndar IEEE respecto del control de acceso de red basado en puerto (PNAC). IEEE 802.1x se usa principalmente para el refuerzo de la seguridad en un entorno de LAN inal&aacute;mbrica (Wi-Fi).</p>
		</div>
		<div class="wn5-setup-section-article-content">
		    <h3>Tipo EAP </h3>
		    <p>EAP (Protocolo de Autenticación Extensible) es un protocolo que permite una extensión más fácil utilizando el método de autenticación definido por la red inalámbrica y por el Protocolo Punto a Punto. Se recomienda utilizarlo solo en un entorno en el que no se pueda utilizar EAP-TLS, PEAPv0/MSCHAPv2, ya que LEAP es un método de autenticación inseguro.</p>
		    <ul>
		        <li><strong class="UI">EAP-TLS</strong>: EAP-TLS (Transport Layer Security) lleva a cabo una autenticaci&oacute;n mutua que requiere un certificado del cliente con el servidor; una clave WEP din&aacute;mica se utiliza por seguridad despu&eacute;s de que se realiza la conexi&oacute;n.</li>
				<li><strong class="UI">LEAP</strong>: LEAP (protocolo de autenticaci&oacute;n extensible ligero) no requiere certificados y s&oacute;lo utiliza una clave WEP din&aacute;mica, por lo que debe utilizarse una contrase&ntilde;a segura.  </li>
				<li><strong class="UI">PEAPv0/MSCHAPv2</strong>: La autenticación PEAP/MSCHAPv2 (Protocolo de autenticación extensible protegida/Protocolo de autenticación por desafío mutuo de Microsoft) realiza una autenticación basada en el ID y la contraseña del usuario a través de una sesión EAP-TLS generada únicamente a partir de la autenticación del lado del servidor.</li>
		    </ul>
		</div>
		<div class="wn5-setup-section-article-content">
		    <h3>Versi&oacute;n de EAPOL </h3>
		    <p>Seleccione <strong class="UI">[1]</strong> o <strong class="UI">[2]</strong> para la versi&oacute;n de <strong class="UI">[EAPOL]</strong> (EAP sobre LANs) que se utiliza en el conmutador de red.</p>
	    </div>
		<div class="wn5-setup-section-article-content">
		    <h3>ID</h3>
		    <p>Introduzca su ID de certificado de cliente para <strong class="UI">[EAP-TLS]</strong> y el ID de usuario para <strong class="UI">[LEAP]</strong> y <strong class="UI">[PEAPv0/MSCHAPv2]</strong>.</p>
	   	</div>
		<div class="wn5-setup-section-article-content">
		    <h3>Contrase&ntilde;a</h3>
		    <p>Introduzca su clave privada del cliente para <strong class="UI">[EAP-TLS]</strong> y su contraseña de usuario para <strong class="UI">[LEAP]</strong> y <strong class="UI">[PEAPv0/MSCHAPv2]</strong>. Esto no es necesario si la clave no cifrada se utiliza en <strong class="UI">[EAP-TLS]</strong>. </p>
		</div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
			<ul>
				<li>Si el equipo de red conectado no es compatible con 802.1x, podr&iacute;a no funcionar correctamente, incluso si <strong class="UI">[Activar]</strong> est&aacute;n configurado para 802.1x.</li>
			</ul>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h3 >Certificados</h3>
	</div>
	<div class="wn5-setup-section-article">

		<div class="wn5-setup-section-article-content">
			<p>El certificado es necesario solamente cuando se usa <strong class="UI">[EAP-TLS]</strong> o <strong class="UI">[PEAPv0/MSCHAPv2]</strong>. El certificado y la clave correspondientes pueden instalarse o eliminarse. Introduzca únicamente <strong class="UI">[Certificados CA]</strong> para <strong class="UI">[PEAPv0/MSCHAPv2]</strong>.</p>
			<ul>
				<li><strong class="UI">Certificados CA</strong>: Seleccione si los certificados CA incluyen una clave abierta.</li>
				<li><strong class="UI">Certificado de cliente</strong>: Seleccione si los certificados CA incluyen una clave de autenticaci&oacute;n de cliente.</li>
				<li><strong class="UI">Clave privada de cliente</strong>: Seleccione si los certificados CA incluyen una clave privada del cliente. </li>
			</ul>
		</div>
		<div class="wn5-online-help-action">
			<h4>Instalaci&oacute;n de un certificado</h4>
			<ol>
				<li><strong class="UI">Haga clic en el bot&oacute;n [...]</strong>, seleccione un certificado o clave y haga clic en el bot&oacute;n <strong class="UI">[Abrir]</strong>.</li>
				<li>Haga clic en el bot&oacute;n <strong class="UI">[Instalar]</strong>. Cuando se haya completado la instalaci&oacute;n del certificado, aparece un mensaje que dice «Instalado». </li>
			</ol>
		</div>

		<div class="wn5-online-help-action">
			<h4>Eliminaci&oacute;n de un certificado</h4>
			<p>Haga clic en el bot&oacute;n <strong class="UI">[Eliminar]</strong> situado junto al certificado o clave instalada. Cuando se elimina un certificado o una clave, se muestra un mensaje que dice «No disponible».</p>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">