<h1 class="wn5-setup-main-title">QoS</h1>
<div class="wn5-setup-section">
	<p>QoS(Quality of Service)는 네트워크 망에 과부하(동시 접속량 증가, 네트워크 장애 발생 등)가 발생했을 때 데이터 전송의 우선순위를 정하여 설정된 우선순위대로 데이터 전송 품질을 보장하는 기능입니다. QoS를 적용할 IP 주소를 IPv4 또는 IPv6 타입으로 입력할 수 있습니다. 설정을 완료한 후 페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭하십시오. </p>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>IPv4</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>QoS를 적용할 IP 주소를 IPv4 타입으로 추가하거나 삭제할 수 있습니다. 초깃값으로 Prefix는 32, DSCP는 63으로 설정되어 있습니다. </p>
			<ul>
				<li><strong class="UI">Prefix</strong>: IP의 범위를 설정할 수 있는 값이며, IPv4의 경우에는 1~32까지 설정할 수 있습니다. </li>
				<li><strong class="UI">DSCP</strong>: DSCP (Differentiated Services Code Point)는 QoS의 우선순위를 의미합니다. DSCP 값은 0에서 63까지 설정할 수 있으며, 값이 0에 가까울수록 우선순위가 낮아집니다.</li>
			</ul>
		</div>
		<div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
			<ul>
				<li>멀티캐스트로 사용되는 224.0.0.0 ~ 239.255.255.254 주소는 사용할 수 없습니다. </li>
			</ul>
		</div>

		<div class="wn5-online-help-action">
			<h4>IPv4 주소 추가하기</h4>
			<ol>
			<li><strong class="UI">[추가]</strong> 버튼을 클릭합니다. IPv4 주소를 입력할 수 있는 필드가 생성됩니다.</li>
			<li>IP, Prefix, DSCP 정보를 입력합니다. </li>
			<li><strong class="UI">[사용]</strong> 체크박스를 체크해야 해당 IPv4 주소에 QoS를 적용할 수 있습니다.</li>
			<li>정보를 다 입력한 후 페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭하면 입력한 정보가 목록에 저장됩니다.</li>
			</ol>
		</div>

		<div class="wn5-online-help-action">
			<h4>IPv4 주소 삭제하기</h4>
			<ol>
			<li>삭제할 IPv4 주소를 선택합니다.</li>
			<li><strong class="UI">[삭제]</strong> 버튼을 클릭합니다.</li>
			<li>삭제 확인 창에서 <strong class="UI">[확인]</strong> 버튼을 클릭합니다. IPv4 주소가 삭제됩니다.</li>
			</ol>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>IPv6</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>QoS를 적용할 IP 주소를 IPv6 타입으로 추가하거나 삭제할 수 있습니다. 초깃값으로 Prefix는 128, DSCP는 63으로 설정되어 있습니다.</p>
			<ul>
				<li><strong class="UI">Prefix</strong>: IP의 범위를 설정할 수 있는 값이며, IPv6의 경우에는 1~128까지 설정할 수 있습니다.</li>
				<li><strong class="UI">DSCP</strong>: DSCP(Differentiated Services Code Point)는 QoS의 우선순위를 의미합니다. DSCP 값은 0에서 63까지 설정할 수 있으며, 값이 0에 가까울수록 우선순위가 낮아집니다. </li>
			</ul>
		</div>

		<div class="wn5-online-help-action">
			<h4>IPv6 주소 추가하기</h4>
			<ol>
				<li><strong class="UI">[추가]</strong> 버튼을 클릭합니다. IPv6 주소를 입력할 수 있는 필드가 생성됩니다.</li>
				<li>IP, Prefix, DSCP 정보를 입력합니다.</li>
				<li><strong class="UI">[사용]</strong> 체크박스를 체크해야 해당 IPv6 주소에 QoS를 적용할 수 있습니다.</li>
				<li>정보를 다 입력한 후 페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭하면 입력한 정보가 목록에 저장됩니다.</li>
			</ol>
		</div>

		<div class="wn5-online-help-action">
			<h4>IPv6 주소 삭제하기</h4>
			<ol>
				<li>삭제할 IPv6 주소를 선택합니다.</li>
				<li><strong class="UI">[삭제]</strong> 버튼을 클릭합니다.</li>
				<li>삭제 확인 창에서 <strong class="UI">[확인]</strong> 버튼을 클릭합니다. IPv6 주소가 삭제됩니다.</li>
			</ol>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">