<div class="wrapper wrapper-content" ng-show="pageLoaded">
    <wn5-setup-main-title
        data-title="lang_setup">
    </wn5-setup-main-title>
    <hr class="wn5-setup-hr">

    <div class="wn5-setup-section">
        <div class="wn5-gui-body-large">
            <input type="checkbox" ng-model="useHeatmap" ng-click="submitEnable()">
            <label>{{ 'lang_enable_feature_heatmap' | translate }}</label>
        </div>
    </div>

    <div class="wn5-setup-tab">
        <ul class="wn5-setup-tab-list">
            <li class="wn5-setup-tab-item">
                <button 
                    ng-class="{'active': currentTapStatus[0] === true }"
                    ng-click="changeTabStatus(0)" 
                    type="button">
                    {{'lang_configuration' | translate}}
                </button>
            </li>
            <li class="wn5-setup-tab-item">
                <button 
                    ng-class="{'active': currentTapStatus[1] === true }"
                    ng-click="changeTabStatus(1)" 
                    type="button">
                    {{'lang_excluded_area' | translate}}
                </button>
            </li>
        </ul>
        <div class="wn5-setup-tab-content wn5-setup-tab-content-use-padding">
            <div class="hm-setup-overlay-heatmap">
                <img src="" ng-show="configurationSection.enableHeatMap">
            </div>

            <sketchbook 
                class="wn5-setup-preview-video"
                coordinates="coordinates" 
                sketchinfo="sketchinfo" 
                videoinfo="videoinfo">
            </sketchbook>

            <div class="wn5-setup-preview-table">
                <section class="form-group" ng-if="currentTapStatus[0] === true">
                    <div class="wn5-setup-preview-heading">
                        {{'lang_background_color'|translate}}
                    </div>
                    <div class="wn5-setup-preview-content">
                        <div class="form-group">
                            <div class="pc-n-hm-grid-4">
                                <input 
                                    ng-model="colorLevelSection.BackgroundColourLevel" 
                                    ng-change="colorLevelSection.changeColorTone()"
                                    ng-value="'true'"
                                    type="radio">
                                <label>
                                    {{'lang_color' | translate}}
                                </label>
                            </div>
                            <div class="pc-n-hm-grid-4">
                                <input 
                                    ng-model="colorLevelSection.BackgroundColourLevel"
                                    ng-change="colorLevelSection.changeColorTone()"
                                    ng-value="'false'"
                                    type="radio">
                                <label>
                                    {{'lang_bw' | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="support.isIE">
                            <p class="pc-statistics-dialog-title">
                                <span class="tui tui-wn5-toolbar-status"></span>
                                <span>{{'lang_msg_preview_not_support_ie'|translate}}</span>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="form-group" ng-if="currentTapStatus[1] === true">
                    <div class="wn5-setup-preview-heading">
                        {{'lang_area'|translate}}
                    </div>
                    <div class="wn5-setup-preview-content">
                        <button 
                            type="button"
                            ng-click="excludeAreaSection.select($index)"
                            ng-class="{'wn5-btn-hover': excludeArea.isEnable === true, 'wn5-btn-active': excludeArea.isSelected === true && excludeArea.isEnable === true}"
                            ng-disabled="excludeArea.points.length === 0"
                            class="btn wn5-btn btn-margin-right wn5-btn-small-square"
                            ng-repeat="excludeArea in excludeAreaSection.data track by $index">
                            {{$index + 1}}
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <hr class="wn5-setup-hr">

    <!-- 
    pcSetupReport Directive uses its parent scope.
    scope.pcSetupReport of pcSetupReport Directive is used in parent Controller.
    -->
    <pc-setup-report page-type="hm"></pc-setup-report>

    <hr class="wn5-setup-hr">

    <div class="pc-n-hm-delete-data">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>

        <!-- 
        pcCameraManagement Directive uses its parent scope.
        scope.pcCameraManagement of pcCameraManagement Directive is used in parent Controller.
        -->
        <pc-camera-management page-type="hm"></pc-camera-management>
    </div>
</div>