<div class="wrapper wrapper-content ng-hide" ng-show="pageLoaded">
    <wn5-setup-main-title
        data-title="lang_search">
    </wn5-setup-main-title>
    <hr class="wn5-setup-hr">
    <form method="get" class="form-horizontal">

        <section id="pc-realtime" class="pc-n-hm-section">
            <section 
                id="pc-realtime-live"
                ng-hide="realTimeSection.dropDownState">
                <figure 
                    class="pc-realtime-video">
                    <div 
                        id="hm-realtime-overimg" 
                        class="ng-hide" 
                        ng-show="realTimeSection.view">
                        <img src="">
                    </div>

                    <sketchbook 
                        class="wn5-setup-preview-video"
                        coordinates="coordinates" 
                        sketchinfo="sketchinfo" 
                        videoinfo="videoinfo">
                    </sketchbook>
                </figure>
                <p class="wn5-gui-body-large">{{'lang_pc_hm_data_init_rule' | translate}} {{'lang_msg_init_rule_but_delete_all_data' | translate}}</p>
            </section>
        </section>

        <article class="pc-statistics-dialog"
            ng-hide="useHeatmap">
            <div class="pc-statistics-dialog-title">
                <p>
                    <span class="tui tui-wn5-toolbar-status"></span>
                    {{ realTimeSection.heatmapEnableMessage | translate }}
                </p>
                <div class="text-center">
                    <button 
                        class="btn btn-primary" 
                        type="button"
                        ng-click="realTimeSection.goToSetup()"
                        >{{ "lang_setup" | translate }}</button>
                </div>
            </div>
        </article>

        <div class="pc-n-hm-section" id="hm_conditions">
            <div class="wn5-setup-section form-group">
                <div class="wn5-setup-section-heading" style="width: 20%">
                    <h3>{{ "lang_index" | translate }}</h3>
                </div>
                <div class="wn5-setup-section-article" style="width: 80%">
                    <div 
                    class="hm_row hm_index">
                        <div>
                            <div class="hm_index_image"></div>
                            <span>{{ "lang_low" | translate }}</span>
                            <span>{{ "lang_high" | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wn5-setup-section form-group">
                <div class="wn5-setup-section-heading" style="width: 20%">
                    <h3>{{ "lang_search" | translate }}</h3>
                </div>
                <div class="wn5-setup-section-article" style="width: 80%">
                    <pc-conditions-date-form></pc-conditions-date-form>
                </div>
                <div class="text-center pc-conditions-buttons wn5-setup-common-button">
                    <button 
                        class="btn btn-black" 
                        type="button"
                        ng-disabled="!useHeatmap" 
                        ng-click="conditionsSection.startSearch(false)">
                        {{ "lang_search" | translate }}
                    </button>
                </div>
                <div
                    ng-class="{'pc-n-hm-hr-hm-calender-active': pcConditionsDateForm.showFromCalender || pcConditionsDateForm.showToCalender}">
                    &nbsp;
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr" ng-hide="!resultSection.view">
        <div class="pc-n-hm-section" id="hm_results" 
            ng-hide="!resultSection.view">
            <h3 class="applyColor">{{ "lang_results" | translate }}</h3>
            <div 
                class="pc-n-hm-section" 
                id="hm-results-heatmap">
                <figure class="hm-results-heatmap-item">
                    <img src="" id="hm-results-image-1">
                </figure>
            </div>

            <div class="text-center pc-conditions-buttons wn5-setup-common-button">
                <button
                    type="button" 
                    class="btn btn-black" 
                    ng-disabled="!resultSection.view"
                    ng-click="conditionsSection.openReport()">
                    {{ "lang_download" | translate }}
                </button>
            </div>
        </div>

        <hr 
            class="pc-n-hm-hr"
            ng-hide="!resultSection.view">
    </form>
</div>