<div id="ddnspage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="ddnsform" method="get" class="form-horizontal">
        <wn5-setup-main-title
            data-title="lang_menu_ddns">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_menu_ddns' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article" ng-repeat="DynamicDNS in DynamicDNSArr">
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <input type="radio" value="Off" ng-model="DynamicDNS.Type"> {{ 'lang_off' | translate }}</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <input type="radio" value="SamsungDDNS" ng-model="DynamicDNS.Type"> {{ 'lang_WisenetDDNS' | translate }}
                        <label class="control-label" style="color:red;margin-left:5px">{{ddns_samsung_status}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section">
                        <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_serverName' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                        <input type="text" class="form-control" name="servername" ng-model="DynamicDNS.SamsungServerName" ng-disabled="DynamicDNS.Type != 'SamsungDDNS'" maxlength="{{SamsungServerNameRange.Max}}" ng-pattern-restrict="{{servernamePattern}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section">
                        <div class="wn5-setup-section-article-heading" style="text-align:left">
                            {{ 'lang_productID' | translate }}
                        </div>
                        <div class="wn5-setup-section-article-content">
                            <input type="text" class="form-control" name="productid" ng-model="DynamicDNS.SamsungProductID" ng-disabled="DynamicDNS.Type != 'SamsungDDNS'" maxlength="{{SamsungProductIDRange.Max}}" ng-pattern-restrict="{{hostnamePattern}}" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section">
                        <div class="wn5-setup-section-article-content wn5-setup-section-article-heading-offset">
                            <input type="checkbox" ng-model="DynamicDNS.SamsungQuickConnect" value="SamsungQuickConnect" id="inlineCheckbox1" ng-disabled="DynamicDNS.Type != 'SamsungDDNS'">
                            <label> {{ 'lang_quickConnect' | translate }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <input type="radio" value="PublicDDNS" ng-model="DynamicDNS.Type"> {{ 'lang_publicDDNS' | translate }}
                        <label class="control-label" style="color:red;margin-left:5px">{{ddns_public_status}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section">
                        <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_serverName' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                            <select type="text" class="form-control" ng-model="DynamicDNS.PublicServiceEntry" ng-disabled="DynamicDNS.Type != 'PublicDDNS'" ng-options="ServiceEntry for ServiceEntry in PublicServiceEntryOptions track by ServiceEntry">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section">
                        <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_hostName' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                            <input type="text" class="form-control" name="host" ng-model="DynamicDNS.PublicHostName" ng-disabled="DynamicDNS.Type !='PublicDDNS'" maxlength="{{PublicHostNameRange.Max}}" ng-pattern-restrict="{{hostnamePattern}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section">
                        <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_userName' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                            <input type="text" class="form-control" name="user" ng-model="DynamicDNS.PublicUserName" ng-disabled="DynamicDNS.Type != 'PublicDDNS'" maxlength="{{PublicUserNameRange.Max}}" ng-pattern-restrict="{{hostnamePattern}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section">
                        <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_v3Pass' | translate }}</div>
                        <div class="wn5-setup-section-article-content">
                            <input type="password" class="form-control" id="ddnspublicpwid" name="password" ng-model="DynamicDNS.PublicPassword" ng-disabled="DynamicDNS.Type != 'PublicDDNS'" maxlength="{{PublicPasswordRange.Max}}" ng-pattern-restrict="{{hostnamePattern}}" autocomplete="new-password">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="wn5-setup-hr">

        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>
