<div id="qospage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="qosForm" method="get" class="form-horizontal" novalidate>
        <wn5-setup-main-title
            data-title="lang_menu_qos">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>IPv4</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <button type="button" class="btn btn-primary cm-btn-dark btn-margin-right" data-ng-disabled="addCheck4()" ng-click="addQOS4()">{{ 'lang_add' | translate }}</button>
                        <button type="button" class="btn btn-primary cm-btn-dark" ng-click="deleteQOS4(selected4)">{{ 'lang_delete' | translate }}</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content wn5-setup-table-responsive">
                        <table class="table table-bordered table-editor wn5-setup-table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align:center">{{ 'lang_wisestream_table_use' | translate }}</th>
                                    <th style="text-align:center">IP</th>
                                    <th style="text-align:center">{{ 'lang_prefix' | translate }}</th>
                                    <th style="text-align:center">DSCP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr 
                                    ng-repeat="IPv4Entry in IPListV4"
                                    ng-class="{'wn5-setup-table-active': $parent.selected4 === IPv4Entry.ind}">
                                    <td>
                                        <input type="radio" ng-model="$parent.selected4" ng-value="IPv4Entry.ind"></input>
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="IPv4Entry.Enable" ng-model-onblur ng-disabled="$parent.selected4 != IPv4Entry.ind">
                                    </td>
                                    <td>
                                        <ng-form name="IPv4EntryForm">
                                            <input type="text" class="form-control" name="IPv4Address" ng-model="IPv4Entry.IPAddress" ng-model-onblur ng-disabled="$parent.selected4 != IPv4Entry.ind" required maxlength={{MaxIPV4Len}} ng-pattern-restrict="{{IPv4PatternStr}}"  ng-trim="true">
                                        </ng-form>
                                    </td>
                                    <td>
                                        <ng-form name="IPv4PrefixEntry">
                                            <input type="text" class="form-control" name="IPv4Prefix" ng-model="IPv4Entry.PrefixLength" ng-model-onblur ng-disabled="$parent.selected4 != IPv4Entry.ind" maxlength="{{MaskRangeIPv4Strlen}}"  ng-pattern-restrict="{{OnlyNumStr}}">
                                        </ng-form>
                                    </td>
                                    <td>
                                        <ng-form name="IPv4DSCPEntry">
                                            <input type="text" class="form-control" name="IPv4Dscp" ng-model="IPv4Entry.DSCP" ng-model-onblur ng-disabled="$parent.selected4 != IPv4Entry.ind" required maxlength="{{IPv4DSCPStrlen}}"  ng-pattern-restrict="{{OnlyNumStr}}">
                                        </ng-form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>IPv6</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <button type="button" class="btn btn-primary cm-btn-dark btn-margin-right" data-ng-disabled="addCheck6()" ng-click="addQOS6()">{{ 'lang_add' | translate }}</button>
                        <button type="button" class="btn btn-primary cm-btn-dark" ng-click="deleteQOS6(selected6)">{{ 'lang_delete' | translate }}</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content wn5-setup-table-responsive">
                        <table class="table table-bordered table-editor wn5-setup-table" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align:center">{{ 'lang_wisestream_table_use' | translate }}</th>
                                    <th style="text-align:center">IP</th>
                                    <th style="text-align:center">{{ 'lang_prefix' | translate }}</th>
                                    <th style="text-align:center">DSCP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr 
                                    ng-repeat="IPv6Entry in IPListV6"
                                    ng-class="{'wn5-setup-table-active': $parent.selected6 === IPv6Entry.ind}">
                                    <td>
                                        <input type="radio" ng-model="$parent.selected6" ng-value="IPv6Entry.ind"></input>
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="IPv6Entry.Enable" ng-model-onblur ng-disabled="$parent.selected6 != IPv6Entry.ind">
                                    </td>
                                    <td>
                                        <ng-form name="IPv6EntryForm">
                                            <input type="text" class="form-control" name="IPv6Address" ng-model="IPv6Entry.IPAddress" ng-model-onblur ng-disabled="$parent.selected6 != IPv6Entry.ind" required maxlength={{MaxIPV6Len}} ng-pattern-restrict="{{IPv6PatternStr}}" ng-trim="true">
                                        </ng-form>
                                    </td>
                                    <td>
                                        <ng-form name="IPv6PrefixEntry">
                                            <input type="text" class="form-control" name="IPv6Prefix" ng-model="IPv6Entry.PrefixLength" ng-model-onblur ng-disabled="$parent.selected6 != IPv6Entry.ind" required maxlength="{{MaskRangeIPv6Strlen}}"  ng-pattern-restrict="{{OnlyNumStr}}">
                                        </ng-form>
                                    </td>
                                    <td>
                                        <ng-form name="IPv6DSCPEntry">
                                            <input type="text" class="form-control" name="IPv6Dscp" ng-model="IPv6Entry.DSCP" ng-model-onblur ng-disabled="$parent.selected6 != IPv6Entry.ind" required maxlength="{{IPv4DSCPStrlen}}"  ng-pattern-restrict="{{OnlyNumStr}}">
                                        </ng-form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr class="wn5-setup-hr">
        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>
