<div id="sslpage" class="wrapper wrapper-content" ng-show='pageLoaded' style="display:none">
    <form name="sslForm" method="get" class="form-horizontal">
        <wn5-setup-main-title
            data-title="lang_https_str">
        </wn5-setup-main-title>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_secureConnection' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article">
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <input type="radio" value="HTTP" ng-model="SSL.Policy"> {{ 'lang_http' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <input type="radio" value="HTTPSProprietary" ng-model="SSL.Policy"> {{ 'lang_https' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content">
                        <input type="radio" value="HTTPSPublic" ng-model="SSL.Policy" ng-disabled="!IsCerticateInstalled()"> {{ 'lang_httpsp' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="wn5-setup-section">
            <hr class="wn5-setup-hr">
            <div class="wn5-setup-section-heading">
                <h3>{{ 'lang_installCertificate' | translate }}</h3>
            </div>
            <div class="wn5-setup-section-article wn5-setup-section-article-ratio-3-7">
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_nameofCertificate' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control" name="cerName" ng-model="SSL.PublicCertificateName" ng-disabled="IsCerticateInstalled()" maxlength="{{PublicCertificateNameRange}}" pattern="{{PublicCertificateNamePattern}}" ng-pattern-restrict>
                        </div>
                    </div>                            
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_certfile' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-xs-12 col-sm-6 file-browser-field">
                            <input type="text" class="form-control" name ="cerName" id="certificateFile" ng-model="CertificateFile" ng-disabled="true">
                            <label for="certificatefileid"> <span class="btn btn-primary" ng-disabled="IsCerticateInstalled()">...</span></label>
                            <input style="visibility: hidden; position: relative; display:none" id="certificatefileid" class="form-control" type="file" name="certificatefileid" ng-disabled="IsCerticateInstalled()" ng-model-instant accept=".crt"  onchange="angular.element(this).scope().setCertificateFile(this)">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-heading" style="text-align:left">{{ 'lang_keyfile' | translate }}</div>
                    <div class="wn5-setup-section-article-content">
                        <div class="col-xs-12 col-sm-6 file-browser-field">
                            <input type="text" class="form-control" name ="keyName" id="keyFile" ng-model="KeyFile" ng-disabled="true">
                            <label for="keyfileid"> <span class="btn btn-primary" ng-disabled="IsCerticateInstalled()">...</span></label>
                            <input style="visibility: hidden; position: relative; display:none" id="keyfileid" class="form-control" type="file" name="keyfileid" ng-disabled="IsCerticateInstalled()" ng-model-instant accept=".key" onchange="angular.element(this).scope().setKeyFile(this)">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="wn5-setup-section-article-content wn5-setup-section-article-heading-offset">
                        <button class="btn btn-primary btn-margin-right" ng-disabled="IsCerticateInstalled() || pageData.SSL.Policy === 'HTTPSPublic' || SSL.Policy === 'HTTPSPublic'" ng-click="OnInstall()">
                            {{ 'lang_install' | translate }}
                        </button>
                        <button class="btn btn-primary" ng-disabled="!IsCerticateInstalled() || pageData.SSL.Policy === 'HTTPSPublic' || SSL.Policy === 'HTTPSPublic'" ng-click="OnDelete()">
                            {{ 'lang_delete' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="wn5-setup-hr">

        <wn5-setup-common-button
            data-submit-click="submit()"
            data-cancel-click="view()">
        </wn5-setup-common-button>
    </form>
</div>
