<h1 class="wn5-setup-main-title">PTZ setup</h1>
<div class="wn5-setup-section">
    <p>You can set the position of the camera PTZ preset and detailed functions including swing, group, tour, tracking, and auto start. When you complete the setting, click the <strong class="UI">[Apply]</strong> button at the bottom of the page.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>Preset</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>You can set the preset position of the PTZ camera and whether or not to save the last position.</p>
        </div>
		
        <div class="wn5-online-help-action">
    	   <h4>Setting a preset</h4>
            <ol>
                <li>Adjust the camera position as follows.</li>
                <ul>
                    <li>When you drag the <span class="tui tui-wn5-ptz-handle"></span> icon with the mouse, the camera moves to the pan and tilt.</li>
                    <li>Select an image magnification by adjusting the zoom slide bar, or by clicking the <span class="tui tui-wn5-ptz-plus"></span> icon to zoom the screen in or clicking the  <span class="tui tui-wn5-ptz-minus"></span> icon to zoom the screen out.</li>
                    <li>Move the focus nearer by clicking the <span class="tui tui-wn5-ptz-near"></span> icon or move the focus farther away by clicking the <span class="tui tui-wn5-ptz-far"></span> icon.</li>
                    <li>To adjust the camera focus automatically for once, click the <span class="tui tui-wn5-simple-focus"></span> icon.</li>
                </ul>
                              <!--XNP-6320RH에서 Preset setup 버튼을 Set preset으로 변경함. 2019-04-05 -->
                <li>Click the <strong class="UI">[Set preset]</strong> button.</li>
                <li>Select a desired preset No. from <strong class="UI">[Number]</strong> on the <strong class="UI">[Preset setup]</strong>dialog box.</li>
                <li>Enter the relevant preset name in <strong class="UI">[Name]</strong>. The preset name can only be entered using upper/lower case alphabets and numbers.</li>
                <li>Click the <strong class="UI">[OK]</strong> button.</li>
            </ol>
            <p>The added preset will appear on the list of <strong class="UI">[Preset setup]</strong>. You can set the details for the relevant preset on the preset list.</p>
        </div>
				<div class="wn5-online-help-action">
    	   <h4>Deleting a preset</h4>
            <ul>
                <li>Select the checkbox of a preset you wish to delete from the preset list of <strong class="UI">[Preset setup]</strong> and click the <strong class="UI">[Delete]</strong> button.</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>Navigating to home</h4>
            <ul>
                              <!--XNP-6320RH에서 Go to home position 버튼을 Go home으로 변경함. 2019-04-05 -->
                <li>Click the <strong class="UI">[Go home]</strong> button.</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>Setting the home</h4>
            <ol>
                <li>Adjust the camera position you wish to set as the home as follows.</li>
                <ul>
                    <li>When you drag the <span class="tui tui-wn5-ptz-handle"></span> icon with the mouse, the camera moves to the pan and tilt.</li>
                    <li>Select an image magnification by adjusting the zoom slide bar, or by clicking the <span class="tui tui-wn5-ptz-plus"></span> icon to zoom the screen in or clicking the  <span class="tui tui-wn5-ptz-minus"></span> icon to zoom the screen out.</li>
                    <li>Move the focus nearer by clicking the <span class="tui tui-wn5-ptz-near"></span> icon or move the focus farther away by clicking the <span class="tui tui-wn5-ptz-far"></span> icon.</li>
                    <li>To adjust the camera focus automatically once, click the <span class="tui tui-wn5-simple-focus"></span> icon.</li>
                </ul>
                <!--XNP-6320RH에서 Home setup 버튼을 Set Home으로 변경함. 2019-04-05 -->
                <li>Click the <strong class="UI">[Set home] </strong>button.</li>
            </ol>
    	</div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
        <ul>
            <li>When the camera is rebooted after setting home position, the screen is positioned at home position. If another sequence (Preset, Swing, Group, Tour, Trace) is in operation, the sequence that was active will be executed without moving to the home position when the camera is rebooted. </li>
        </ul>
    </div>
        <div class="wn5-setup-section-article-content">
            <h3>Preset setup</h3>
            <p>You can view the preset list and modify or delete the detailed setting of each preset.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h5>No.</h5>
            <p>This is the preset number entered on the <strong class="UI">[Preset setup]</strong> dialog box.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>Name</h5>
            <p>This is the preset name entered on the <strong class="UI">[Preset setup]</strong> dialog box.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>Follow-up&nbsp;action</h5>
       
            <p>Set the camera action to be executed after the camera moves to the relevant preset position.</p>
        <ul>
            <li><strong class="UI">Off</strong>: No action will be executed after the camera moves to the relevant preset position.</li>
                <li><strong class="UI">Auto run</strong>: An action set from the <a class="wn5-online-help-link" href="ptzInfoSetup.html#autorun" ng-href="#/help/ptzSetup_ptzInfoSetup?#autorun"><strong class="UI">[Auto run] </strong>tab</a> will be executed automatically.&nbsp;When <strong class="UI">[Off]</strong> is selected from the Auto run <strong class="UI">[Mode]</strong> or there is no auto start action, the preset execution status will be maintained.</li>
                <li><strong class="UI">Auto tracking</strong>: Executes the auto tracking for a time set from the <strong class="UI">[Tracking time]</strong> column.</li>
                <li><strong>Auto tracking &gt; Home</strong>: It moves to the PTZ home position after executing the auto tracking operation. Please refer to <a href="ptzInfoSetup.html#set_home">Setting the home</a> on how to set the home position.</li>
                <li><strong class="UI">Video analytics</strong>: Video analytics action will be executed.</li>
        </ul>
    </div>
        <div class="wn5-setup-section-article-content">
            <h5>Tracking time</h5>
                   <p>Sets the tracking time to execute auto tracking when&nbsp;<strong class="UI">[Auto tracking]</strong> is selected from <strong class="UI">[After action]</strong>.</p>
        </div>
	   <div class="wn5-setup-section-article-content">
            <h5>Go to menu</h5>
       
            <p>You can move to the setup page and check or set a detailed option.</p>
            <ul>
                <li><strong class="UI">Camera setup</strong>: Move to the <strong class="UI">[Video &amp; Audio] </strong>&gt; <strong class="UI">[Camera setup]</strong> page. You can change the camera setting to fit for the surrounding environment of the selected preset. &nbsp;</li>
                <li><strong class="UI">Motion detection</strong>: Navigate to <strong class="UI">[Analytics] </strong>&gt; <strong class="UI">[Motion detection] </strong>page. When <strong class="UI">[Preset]</strong> is selected among the <strong class="UI">[Type]</strong> options from the option motion detection page, you can set a different motion detection event for each preset.</li>
                <li><strong class="UI">IVA</strong>: Navigate to <strong class="UI">[Analytics] </strong>&gt; <strong class="UI">[IVA] </strong>page. When <strong class="UI">[Preset]</strong>&nbsp;is selected among the <strong class="UI">[Type]</strong>&nbsp;options from the IVA page, you can set a different IVA (Intelligent video analytics) event for each preset. </li>
            </ul>
    </div>
        <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h3>Last position</h3>
            <p>You can set the camera to move to the last position when turning the camera on and off. Select whether or not to save the last position of the camera and select the saving interval.</p>
        </div>
            <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>Save last position</h5>
                <p>To save the last position, select <strong class="UI">[Enable]</strong>.</p>
        </div> 
<div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>Time</h5>
              <!-- Set 버튼 Appl 버튼으로 변경. 2019-04-12. XNP-6320RH 진행 시 -->
            <p>Set the saving interval at which to save the current position as the last position. The unit used to measure the interval is seconds. Enter the saving interval on the field and click <strong class="UI">[Apply]</strong>.</p>
        </div>
        </div>
    </div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Swing</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Swing is the function for the camera to move 2 preset sections back and forth.</p>
        </div>
            <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                <ul>
                    <li>In order to use the swing function, at least 2 presets must be added. You can add or modify a preset from the <a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[Preset] </strong>tab</a>.</li>
                </ul>
            </div>
		<div class="wn5-setup-section-article-content">
            <h3>Swing setup</h3><!-- <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 스윙 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 스윙 기능이 멈춥니다. </p>  -->            
        </div>
            <div class="wn5-setup-section-article-content">
                <h5>From preset no.</h5>
                <p>Select start preset No. to begin the swing action.</p>
            </div>
            <div class="wn5-setup-section-article-content">
                <h5>To preset no.</h5>
                <p>Select end preset No. to end the swing action.</p>
<!--  <p>&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋] 탭</strong></a>에서 추가하거나 수정할 수 있습니다.</p> -->
            </div>
		<div class="wn5-setup-section-article-content">
                <h5>Speed</h5>
                <p>This is the moving speed from the start preset and the end preset.</p>
                <p>If you set a larger number, the camera moves from the start preset position to the end preset position faster.</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>Dwell time</h5>
                <p>This is the amount of time the camera will stop and stand by at the start preset position and the end preset position, respectively.</p>
                <p>For example, if '1' is entered, the camera stays in the start preset position for 1 second, then moves to the exit preset position.</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h5>Swing mode</h5>
                <p>Select whether to move the camera with only the pan or tilt action of the camera or to move the camera with both pan and tilt actions when the camera moves back and forth from the start preset to the end preset.</p>
            </div>
        <div class="wn5-online-help-action">
            <h4>Swing setup</h4>
                <ol>
                    <li>Select preset No. to begin swing from the <strong class="UI">[From preset no.]</strong> column.</li>
                    <li>Select preset No. to end swing from the <strong class="UI">[[To preset no.]</strong> column.</li>
                    <li>Enter the moving speed from the start preset to the end preset on the <strong class="UI">[Speed]</strong> column.</li>
                    <li>Enter the preset hold time on the <strong class="UI">[Dwell time]</strong> column to decide how long the camera stays in the start preset and then moves to the end preset.</li>
                    <li>Set the swing action mode from the <strong class="UI">[Swing mode]</strong> column. For example, if you wish to move to the camera to the preset only in the pan direction, select [Pan]. &nbsp;</li>
                </ol>
        </div>
		        <div class="wn5-online-help-action">
            <h4>Start swing</h4>
                <ul>
                    <li>To start the swing action, click the <strong class="UI">[Start]</strong> button.</li>
                </ul>
        </div>
		        <div class="wn5-online-help-action">
            <h4>Stop swing</h4>
                <ul>
                    <li>To stop the swing action, click the <strong class="UI">[Stop]</strong> button.</li>
                </ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a name="group"></a>Group</h2>
    </div>
    <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <p>The group function is a function used to group a number of previously designated presets and access the presets placed in a group sequentially.</p>
                <p>Up to 6 groups can be set, and up to 128 presets can be saved for each group.</p>
            </div>
                <div class="wn5-online-help-info">
                    <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                    <ul>
                        <li>In order to use the group function, a preset must have been added previously. You can add a preset from the <a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[Preset]</strong> tab</a>.</li>
                    </ul>
                </div>
          
		<div class="wn5-setup-section-article-content">
            <h3>Group setup</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 그룹&nbsp;기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 그룹&nbsp;동작이 멈춥니다. </p> -->
        </div>    
            <div class="wn5-setup-section-article-content">
                    <h5>Preset no.</h5>
                    <p>Select a preset No. to save to a group.</p><!-- <p><a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋]</strong> 탭</a>에서 추가하거나 수정할 수 있습니다.</p> -->
            </div>
      
		<div class="wn5-setup-section-article-content">
                <h5>Speed</h5>
                    <p>Enter the moving speed between presets; that is, the moving speed of the camera to the next preset position.</p>
                    <p>If you set a larger number, the camera moves from the current preset position and the next preset position faster.</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>Dwell time</h5>
                    <p>Enter the amount of time to stay in each preset position.</p>
                    <p>For example, if '1’ is selected for dwell time in No. 1 preset, it stays in No. 1 preset position for 1 second and then moves to the next preset position. &nbsp;</p>
        </div>
            
                <div class="wn5-online-help-action">
                    <h4>Setting Group 1</h4>
                    <ol>
                        <li>To set Group 1, select '1’ from the group drop-down list.</li>
                        <li>Select preset No. to add to ‘Group 1’ from the <strong class="UI">[Preset no.]</strong> column.</li>
                        <li>Enter the speed of the camera to move from the preset position being set to the next preset position on the <strong class="UI">[Speed]</strong> column.</li>
                        <li>Set the amount of time to stay to decide how long the camera stays in the preset position being set from the <strong class="UI">[Dwell time]</strong> column to the next preset position.</li>
                        <li>Click the <strong class="UI">[Apply]</strong> button.</li>
                    </ol>
                </div>
				        <div class="wn5-online-help-action">
            <h4>Deleting group setting value</h4>
                    <ol>
                        <li>Select a group No. to clear the value set previously from the group drop-down list.</li>
                        <li>Click the <strong class="UI">[Delete]</strong> button.</li>
                    </ol>
        </div>
						        <div class="wn5-online-help-action">
            <h4>Starting group action</h4>
                    <ol>
                        <li>Select a group No. to run from the group drop-down list.</li>
                        <li>Click the <strong class="UI">[Start]</strong> button.</li>
                    </ol>
        </div>
		<div class="wn5-online-help-action">
            <h4>Stopping group action</h4>
                    <ol>
                        <li>To stop the group currently running, click the <strong class="UI">[Stop]</strong> button.</li>
                    </ol>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Tour</h2>
    </div>
    <div class="wn5-setup-section-article">
  
                    <div class="wn5-setup-section-article-content">
                        <p>The tour function is a function used to call a group that is a set of previously set presets sequentially.</p>
                    </div>
                        <div class="wn5-online-help-info">
                            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
                            <ul>
                                <li>In order to use the tour function, a group must have been set previously. You can set the group from the <a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[Group] </strong>tab</a>.</li>
                            </ul>
                        </div>

                    <div class="wn5-setup-section-article-content">
                        <h3>Tour setup</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 투어 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 투어 기능이 멈춥니다. </p> -->
                        </div>
                        <div class="wn5-setup-section-article-content">
                            <h5>Group no.</h5>
                            <p>Select the group No. that will be called sequentially in order.</p>
                        </div>
                        <div class="wn5-setup-section-article-content">
                            <h5>Dwell time</h5>
                            <p>Enter the amount of time to stay in each group.</p>
                            <p>For example, if '1’ is selected for dwell time in Group 1, it stays in Group 1 for 1 second and then moves to the next group. &nbsp;</p>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Setting tour</h4>
                            <p>To call Group 1, 2, and 3 sequentially and move the camera, set as follows.</p>
                            <ol>
                                <li>Select '1’ from the group number drop-down list.</li>
                                <li>Set the stay time of the camera in 'Group 1' from the <strong class="UI">[Dwell time]</strong> column.</li>
                                <li>Select '2’ from the group number drop-down list.</li>
                                <li>Set the stay time of the camera in 'Group 2' from the <strong class="UI">[Dwell time]</strong> column.</li>
                                <li>Select '3’ from the group number drop-down list.</li>
                                <li>Set the stay time of the camera in 'Group 3' from the <strong class="UI">[Dwell time]</strong> column.</li>
                                <li>Click the <strong class="UI">[Apply]</strong> button.</li>
                            </ol>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Resetting tour setting</h4>
                            <ul>
                                <li>When you click the <strong class="UI">[Delete]</strong> button, all tour settings will be deleted and initialized.</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Starting tour action</h4>
                            <ul>
                                <li>Click the <strong class="UI">[Start]</strong> button. The camera moves while calling the set groups sequentially.</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Stopping tour action</h4>
            <ul>
                <li>Click the <strong class="UI">[Stop]</strong> button. The tour action will stop.</li>
            </ul>
                        </div>
                    </div>
    </div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a name="trace"></a>Trace</h2>
    </div>
    <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <p>The trace function is a function used to save the moving path of the camera and move the camera according to the path.</p>
                </div>    
                    <div class="wn5-setup-section-article-content">
                    <h3>Trace Setup</h3>
                        <p>You can set up a trace path and start or end using the trace function. When setting up a trace path, you can include preset locations in the trace path. Preset locations can be set under the <strong class="UI">[<a href="#preset">Preset</a>]</strong> tab.</p>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>Setting tracking path</h4>
                        <ol>
                            <li>Select a trace no. to set up.</li>
                            <li>Click the <strong class="UI">[Set]</strong> button and set the path as explained in the following:</li>
                            <ul>
                                <li>Use the direction buttons on the video screen<span class="tui tui-wn5-ptz-handle"></span> to pan, tilt, and zoom to set the path you want to save.</li>
                                <li>To include a preset location in the path, choose a desired preset location number from the <strong class="UI">[Preset list]</strong> and click <strong class="UI">[Go]</strong>.</li>
                            </ul>
                            <li>If you click on the <strong class="UI">[Set]</strong> button again, the trace path will be saved in the current trace no.</li>
                        </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>Starting tracking action</h4>
                        <ol>
                            <li>Select the trace No. to operate.</li>
                            <li>Click the <strong class="UI">[Start]</strong> button. The camera moves according to the moving path set under the relevant trace No.</li>
                        </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>Stopping tracking action</h4>
            <ol>
                <li>To stop the tracking action currently operating, click the <strong class="UI">[Stop]</strong> button.</li>
            </ol>
                    </div>
                </div>
    </div>
<hr class="wn5-setup-hr">
     <div class="wn5-setup-section">
          <div class="wn5-setup-section-heading">
               <h2><a name="autorun"></a>Auto run</h2>
            </div>
          <div class="wn5-setup-section-article">
          <div class="wn5-setup-section-article-content">
             <p>Auto run is a function used to execute an action specified in advance automatically if the user does not operate the camera for a certain period of time. &nbsp;</p>
              </div>
          <div class="wn5-setup-section-article-content">
           <h3>Mode</h3>
            <p>You can select a function you wish to execute automatically and specify a detailed setting.</p>
             <ul>
            <li><strong class="UI">Off</strong>: The auto run function is not used.</li>
            <li><strong class="UI">Home</strong>: The camera moves to the home position. You can set the home position from the <a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[Preset]&nbsp;</strong>tab</a>.</li>
             <li><strong class="UI">Preset</strong>: Moves to the relevant preset No. You can set the time for the camera to move to the preset and the preset position No. where the camera will move.</li>
             <!--   <ul>
             <li><strong class="UI">시간</strong>: <u>프리셋 위치로 자동으로 이동하는 시간을 설정합니다.</u></li>
             <li><strong class="UI">프리셋</strong>: 카메라가 이동할 프리셋 위치 번호를 선택합니다. </li>
              </ul> --><li><strong class="UI">Swing</strong>: Executes swing action automatically. You can set the time to execute a swing action automatically and the swing mode.</li><!--  <ul>
               <li><strong class="UI">시간</strong>: <u>스윙 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
               <li><strong class="UI">스윙 모드</strong>: 스윙 동작이 실행될&nbsp;카메라의 팬이나 틸트&nbsp;동작만으로 이동할지 팬과 틸트 모든 동작으로 이동할지 선택합니다.</li>
                </ul> --><li><strong class="UI">Group</strong>: Executes the group action automatically. You can set the time to execute a group action automatically and the group No.&nbsp;You can set the detailed group action from the <a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[Group] </strong>tab</a>.</li><!-- <ul>
                 <li><strong class="UI">시간</strong>: <u>그룹 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                   <li><strong class="UI">그룹</strong>: 그룹 번호를 선택합니다. 그룹은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[그룹] </strong>탭</a>에서 설정할 수 있습니다. </li>
                    </ul> --><li><strong class="UI">Tour</strong>: Tour action will be executed automatically.</li><!-- <ul>
                     <li><strong class="UI">시간</strong>: <u>투어 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                   </ul> --><li><strong class="UI">Trace</strong>: Trace action will be executed automatically. You can set the time to execute the tracking action automatically and the trace No. You can set the detailed tracking action from the <a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">[Trace]</strong> tab</a>.</li><!--  <ul>
                  <li><strong class="UI">시간</strong>: <u>추적 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                    <li><strong class="UI">그룹</strong>: 추적 번호를 선택합니다. 추적 상세 기능은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">[추적] 탭</strong></a>에서 설정할 수 있습니다.</li>
                   </ul> -->
                   
                   <li><strong class="UI">Auto pan</strong>: Executes the action to rotate 360 degrees in the pan direction automatically.  You can set the time to execute the action automatically, the speed for the camera to rotate in the pan direction, and the fixing angle of the tilt. For example, if '30’ is set for the tilt range, the tilt range will be maintained at 30 degrees.</li>
                   <!-- <li ng-if="AutoPan"><strong class="UI">Auto pan</strong>: Executes the action to rotate 360 degrees in the pan direction automatically.  You can set the time to execute the action automatically, the speed for the camera to rotate in the pan direction, and the fixing angle of the tilt. For example, if '30’ is set for the tilt range, the tilt range will be maintained at 30 degrees.</li> -->
                   
                   <!--  <ul>
                    <li><strong class="UI">시간</strong>: <u>오토팬 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                     <li><strong class="UI">속도</strong>: 카메라가 팬 방향으로 회전하는 속도를 설정합니다.</li>
                        <li><strong class="UI">틸트 </strong>각도: 틸트 움직임 <u>최대</u> 각도를 설정합니다. < </ul>  --><li><strong class="UI">Schedule</strong>: You can set a set the action to operate automatically on the set weekday and time.</li>
                                                    </ul>
													
                                                </div>
                      <div class="wn5-online-help-action">
                      <h4>Setting the camera to start automatically according to the schedule</h4>
                       <ol>
                        <li>Select <strong class="UI">[Schedule]</strong> from <strong class="UI">[Mode]</strong>.</li>
                        <li>Click a time to execute the camera automatically.</li>
                        <li>Select an action to be executed automatically from <strong class="UI">[Mode]</strong> of the <strong class="UI">[Schedule] </strong>dialog box. Detailed options vary depending on the selected mode. Set each option.</li>
                          <li>Click the <strong class="UI">[OK] </strong>button.</li>
                                                    </ol>
                         <p>The set time for Auto run action will be displayed on the timetable. When you click the <strong class="UI">[Clear]</strong> button, all set times will be deleted.</p>
                                                </div>
                                    </div>
                                </div>

<hr class="wn5-setup-hr">