<h1 class="wn5-setup-main-title">외부 PTZ</h1>
<div class="wn5-setup-section">
    <p>카메라 RS-485나 RS-422 단자에 연결된 팬/틸트 리시버를 통해 PTZ를 제어할 수 있도록 설정할 수 있습니다. 프리셋을 설정하거나, 카메라와 연결된 팬/틸트 리시버와의 통신 모드를 설정할 수 있습니다.</p>
</div>


<hr class="wn5-setup-hr" ng-if="MaxChannel > 1">
<div class="wn5-setup-section" ng-if="MaxChannel > 1">
            <div class="wn5-setup-section-heading">
                <h2><a name="channel"></a>채널 선택</h2>
            </div>
            <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>카메라 채널을 선택한 후 채널별로 외부 PTZ 세부 항목을 설정할 수 있습니다. </p>
            <p ng-if="objectDetectionSupport">채널 1은 라이브 영상을 보여 주는 채널이며, 채널 2는 디지털 PTZ 영상을 보여 주는 채널입니다. [외부 PTZ]은 채널 1에서만 설정할 수 있습니다. </p>
            <!-- <p>라이브 페이지나 재생 페이지에서 가장 최근에 선택한 채널 번호가 자동으로 선택되어 있습니다. <strong class="UI">[상세정보]</strong> 버튼을 클릭하면 채널 전체 상태를 채널별로 요약하여 보여줍니다. </p> -->

        </div>
            </div>
</div>



<hr class="wn5-setup-hr" ng-if="GlobalPTZMode && MaxChannel > 1">
<div class="wn5-setup-section" ng-if="GlobalPTZMode && MaxChannel > 1">
        <div class="wn5-setup-section-heading">
        <h2>외부 PTZ</h2>
        </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
		<h3>외부 PTZ 사용</h3>
            <p>카메라 RS-485나 RS-422 단자에 연결된 팬/틸트 리시버를 통해 PTZ를 제어할 수 있도록 외부 PTZ를 사용하려면 <strong class="UI">[외부 PTZ 사용]</strong>을 선택합니다. </p>
        </div>
		    <div class="wn5-online-help-info">
            <h4>알아두기</h4>
            <ul>
                <li>[외부 PTZ 사용]을 선택하면 외부 PTZ 기능만 사용할 수 있으며, [외부 PTZ 사용]을 선택하지 않으면 디지털 PTZ 기능만 사용할 수 있습니다.</li>
                <li>[외부 PTZ 사용]을 선택하면 라이브 페이지에서 1번 채널을 선택한 후 PTZ를 제어할 수 있습니다.</li>
                <li>[외부 PTZ 사용] 옵션을 변경하면 카메라가 재부팅됩니다. </li>
            </ul>
        </div>
    </div>
</div>



<!--  ng-if="ZoomOnlyModel" 코드가 있었으나 모든 모델에서 적용된다는 생각에 TW가 자체로 삭제함. 2019-11-15  -->
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>PTZ 조정하기</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>카메라의 팬, 틸트, 및 줌 동작을 조정할 수 있습니다. </p>
        </div>
			
        <div class="wn5-online-help-action">
    	   <h4><a name="ptzcontrol"></a>PTZ 조정하기</h4>
            <ul>
                <li><span class="tui tui-wn5-ptz-handle"></span>아이콘을 마우스로 드래그하면 카메라가 팬과 틸트로 이동합니다.  </li>
                <li>줌 막대를 조절하여 영상 배율을 조정합니다. 혹은 <span class="tui tui-wn5-ptz-plus"></span> 아이콘을 클릭하여 화면을 확대하거나 <span class="tui tui-wn5-ptz-minus"></span> 아이콘을 클릭하여 화면을 축소하여 영상 배율을 선택합니다.</li>
                <li><span class="tui tui-wn5-ptz-near"></span>아이콘을 클릭하여 포커스를 가까이(near)이동하거나<span class="tui tui-wn5-ptz-far"></span> 아이콘을 클릭하여 포커스를 멀리(far)이동합니다.</li>
                <li>카메라 포커스를 자동으로 한 번 맞추려면 <span class="tui tui-wn5-simple-focus"></span>버튼을 클릭합니다.</li>
            </ul>
    	</div>
    </div>
</div>

<hr class="wn5-setup-hr" ng-if="!ZoomOnlyModel">
<div class="wn5-setup-section" ng-if="!ZoomOnlyModel">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>프리셋</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>프리셋은 카메라의 뷰를 설정해 두는 것을 의미합니다. 128개의 프리셋을 설정할 수 있습니다. </p>
        </div>
        <div class="wn5-online-help-action">
    	   <h4>프리셋 설정하기</h4>
    		<ol>
    			<li>PTZ 제어 화면에서 <span class="tui tui-wn5-ptz-plus"></span> 아이콘을 클릭하여 카메라 영상을 확대하거나, <span class="tui tui-wn5-ptz-handle"></span> 아이콘을 클릭하고 드래그하여 카메라 뷰를 조정합니다. </li>
    			<li><strong class="UI">[번호]</strong>에서 원하는 프리셋 번호를 선택합니다.</li>
    			<li><strong class="UI">[이름]</strong>에 해당 프리셋의 이름을 입력합니다.</li>
                <li><strong class="UI">[추가]</strong> 버튼을 클릭합니다.</li>
    		</ol>
    	</div>
        <div class="wn5-online-help-action">
    	   <h4>프리셋으로 이동하기</h4>
    		<ol>
                <li><strong class="UI">[번호]</strong>에서 원하는 프리셋 번호를 선택합니다.</li>
    			<li><strong class="UI">[이동]</strong> 버튼을 클릭하면 설정해 둔 위치로 카메라의 뷰가 이동합니다.</li>
    			
    		</ol>
    	</div>
        <div class="wn5-online-help-action">
    	   <h4>프리셋 삭제하기</h4>
    		<ol>
    			<li><strong class="UI">[번호]</strong>에서 삭제할 프리셋 번호를 선택합니다.</li>
                <li><strong class="UI">[삭제]</strong> 버튼을 클릭하면 프리셋이 삭제됩니다.</li>
    		</ol>
        </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="group"></a>시리얼 포트 설정</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>외부 팬/틸트 리시버와의 연결값을 설정합니다. 설정을 완료하면 페이지 아래의 <strong class="UI">[적용]</strong> 버튼을 클릭하십시오.</p>
        </div>
		
			<div class="wn5-setup-section-article-content">
			<h3>프로토콜</h3>
			<p>리시버와 카메라가 통신할 프로토콜을 선택합니다.</p>
		    </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>카메라 ID</h3>
                <p>카메라 ID가 표시됩니다. 고정 값으로 변경할 수 없습니다.</p>
            </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>전송 속도</h3>
                <p>RS-485 통신 속도를 설정합니다.</p>
            </div>
			
            <div class="wn5-setup-section-article-content">
                <h3>데이터 비트</h3>
                <p>데이터 비트를 설정합니다.</p>
            </div>
			
            <div class="wn5-setup-section-article-content">
                <h3>패리티 비트</h3>
                <p>데이터 전송 처리 에러를 확인하기 위한 패리터 비트를 설정합니다.</p>
            </div>
			
            <div class="wn5-setup-section-article-content">
                <h3>정지 비트</h3>
                <p>한 문자의 종료를 표시할 정지 비트를 설정합니다.</p>
	        </div>
			<div class="wn5-setup-section-article-content">
                <h3>ONVIF 포커스 이동</h3>
                <p>외부 카메라 포커스를 ONVIF 프로토콜로 조절하도록 설정하려면 <strong class="UI">[사용함]</strong>을 선택합니다.</p>
            </div>

        <div class="wn5-online-help-info">
			<h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>

            <ul>
                <li>본 조작을 위해서는 네트워크 카메라와 팬/틸트 리시버가 정상적으로 연결되어 있어야 합니다. 또한, 팬/틸트 리시버를 구동할 수 있도록 시리얼 포트가 설정돼 있어야 합니다.</li>
                <li>리시버와 연결시 리시버의 지원 가능한 기능을 확인하십시오. 리시버 또는 프로토콜의 사양에 따라 지원되지 않는 기능이 있을 수 있습니다. 자세한 내용은 다음 표를 참고하십시오.  </li>
            </ul>
    <table class="table table-bordered wn5-setup-table">
    <tr>
	 <thead>
        <td>프로토콜</td>
        <td>P 제어</td>
        <td>P 이동 속도</td>
        <td>T 제어</td>
        <td>T 이동 속도</td>
        <td>줌 제어</td>
        <td>줌 이동 속도</td>
        <td>초점 제어</td>
        <td>초점 제어 속도</td>
        <td>프리셋</td>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td>SAMSUNG-T</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>SAMSUNG-E</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>PELCO-D</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>PELCO-P</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>SUNGJIN</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>X</td>

    </tr>
    <tr>
        <td>PANASONIC</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>HONEYWELL</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>AD</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
  
    </tr>
    <tr>
        <td>VICON</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>GE</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>

    </tr>
    <tr>
        <td>BOSCH</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>X</td>
        <td>O</td>
 
    </tr>
	</tbody>
</table>
        </div>
   </div>
</div>

<hr class="wn5-setup-hr">