
<h1 class="wn5-setup-main-title">프리셋 설정</h1>
<div class="wn5-setup-section">
    <p>카메라의 프리셋을 설정하고 삭제할 수 있으며, 현재 위치를 카메라의 마지막 위치로 저장할 지 여부를 선택하고 저장 간격을 설정할 수 있습니다. </p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>프리셋</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>프리셋은 카메라의 뷰를 설정해 두는 것을 의미합니다. 카메라 프리셋을 설정한 뒤 해당 뷰로 쉽게 이동할 수 있습니다. 300개의 프리셋을 설정할 수 있습니다. </p>
        </div>
        <div class="wn5-online-help-action">
    	   <h4>프리셋 설정하기</h4>
            <ol>
                <li>아래와 같이 화면을 조정하여 카메라 뷰를 조정합니다.</li>
                <ul>
                    <li><strong class="UI">[줌]</strong>에서 줌 막대를 조절하여 영상 배율을 조정합니다. 혹은 <span class="tui tui-wn5-ptz-plus"></span> 버튼을 클릭하여 화면을 확대하거나 <span class="tui tui-wn5-ptz-minus"></span> 버튼을 클릭하여 화면을 축소하여 영상 배율을 선택합니다.  </li>
                    <li><strong class="UI">[포커스]</strong>에서 <span class="tui tui-wn5-ptz-near"></span>버튼이나 <span class="tui tui-wn5-ptz-far"></span>버튼을 클릭하여 카메라 초점을 조절합니다.    </li>
                    <li>카메라 초점을 자동으로 한 번 맞추려면 <strong class="UI">[포커스]</strong>에서 <span class="tui tui-wn5-simple-focus"></span>버튼을 클릭합니다.</li>
                </ul>
                <li><strong class="UI">[프리셋 설정] </strong>버튼을 클릭합니다.</li>
                <li><strong class="UI">[프리셋 설정]</strong> 대화 상자에서 <strong class="UI">[번호]</strong>에서 원하는 프리셋 번호를 선택합니다.</li>
                <li><strong class="UI">[이름]</strong>에 해당 프리셋의 이름을 입력합니다.</li>
                <li><strong class="UI">[확인]</strong> 버튼을 클릭합니다.</li>
            </ol>
			    <p>추가한 프리셋이 <strong class="UI">[프리셋 설정]</strong>목록에 나타납니다. 프리셋 목록에서 해당 프리셋 세부 내용을 설정할 수 있습니다.</p>
    	</div>
				<div class="wn5-online-help-action">
    	   <h4>홈 위치로 이동하기</h4>
            <ul>
                <li><strong class="UI">[홈 이동]</strong> 버튼을 클릭합니다.</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>홈 설정하기</h4>
            <ol>
                <li>아래와 같이&nbsp;홈 위치를 카메라 뷰가 향하도록 화면을 조정합니다. </li>
                <ul>
                    <li><strong class="UI">[줌]</strong>에서 줌 막대를 조절하여 영상 배율을 조정합니다. 혹은 <span class="tui tui-wn5-ptz-plus"></span> 버튼을 클릭하여 화면을 확대하거나 <span class="tui tui-wn5-ptz-minus"></span> 버튼을 클릭하여 화면을 축소하여 영상 배율을 선택합니다.  </li>
                    <li><strong class="UI">[포커스]</strong>에서 <span class="tui tui-wn5-ptz-near"></span>버튼이나 <span class="tui tui-wn5-ptz-far"></span>버튼을 클릭하여 카메라 초점을 조절합니다.    </li>
                    <li>카메라 초점을 자동으로 한 번 맞추려면 <strong class="UI">[포커스]</strong>에서 <span class="tui tui-wn5-simple-focus"></span>버튼을 클릭합니다.</li>
                </ul>
                <li><strong class="UI">[홈 설정] </strong>버튼을 클릭합니다.</li>
            </ol>
    	</div>
        <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>알아두기</h4>
            <ul>
                <li>홈 위치 설정 후 카메라가 재부팅되면 화면이 홈 포지션에 위치합니다. <a href="#last">마지막 위치</a>와 홈 위치를 같이 설정한 경우, 카메라 재부팅되면 마지막 위치로 이동합니다.</li>
            </ul>
            </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>프리셋 설정</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>설정한 프리셋 목록이 나타납니다.</p>
            <p><strong class="UI">[프리셋 설정]</strong> 대화 상자에서 입력한 번호와 프리셋 이름이 <strong class="UI">[번호]</strong>와 <strong class="UI">[이름] </strong>컬럼에 각각 나타납니다. </p>
        </div>
		





<div class="wn5-online-help-action">
    	   <h4>프리셋으로 이동하기</h4>
    		<ol>
                <li><strong class="UI">[번호] </strong>컬럼 옆의 체크 상자에서 원하는 프리셋을 선택합니다.</li>
    			<li><strong class="UI">[이동]</strong> 버튼을 클릭하면 설정해 둔 위치로 카메라의 뷰가 이동합니다.</li>
    			
    		</ol>
    	</div>
        <div class="wn5-online-help-action">
    	   <h4>프리셋 삭제하기</h4>
    		<ol>    			
                <li><strong class="UI">[번호] </strong>컬럼 옆의 체크 상자에서 삭제할 프리셋을 선택합니다.</li>
                <li><strong class="UI">[삭제]</strong> 버튼을 클릭하면 프리셋이 삭제됩니다.</li>
    		</ol>
        </div>         
	</div>
</div>

<!-- TNO-6322ER 정인혜 선임님. 2020-09-07 메일 -->
<hr class="wn5-setup-hr" ng-if="RememberLastPosition">
<div class="wn5-setup-section" ng-if="RememberLastPosition">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="last"></a>마지막 위치</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>카메라 전원을 껐다 켜면 저장된 마지막 위치로 이동하도록 설정할 수 있습니다. 카메라 마지막 위치를 저장할 지 여부를 선택하고 저장 간격을 선택합니다. </p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>마지막 위치</h3>
            <p>마지막 위치를 저장하려면 <strong class="UI">[사용]</strong>을 선택합니다.</p>
        </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>시간</h3>
            <p>현재 위치를 마지막 위치로 저장할 저장 간격을 설정합니다.</p>
            </div>
             </div>		
        </div>
        
<!-- TNO-6322ER 정인혜 선임님. 2020-09-07 메일 -->
<hr class="wn5-setup-hr" ng-if="AutoRunModes">
<div class="wn5-setup-section" ng-if="AutoRunModes">
    <div class="wn5-setup-section-heading">
        <h2>자동 실행</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>사용자가 일정 시간동안 카메라를 조작하지 않을 경우 사전에 지정한 동작을 자동으로 실행합니다. </p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>모드</h3>
            <ul>
                <li><strong class="UI">사용 안 함</strong>: 자동 실행 기능을 사용하지 않습니다.</li>
                <li><strong class="UI">홈</strong>: 홈 위치로 카메라가 이동합니다.</li>
            </ul>
        </div>
 
            <div class="wn5-setup-section-article-content">
                <h3>시간</h3>
            <p>어느 정도의 시간동안 카메라를 조작하지 않으면 카메라가 자동으로 홈 위치로 이동할지 시간을 선택합니다.</p>
            <p><strong class="UI">[모드]</strong>에서 <strong class="UI">[홈]</strong>을 선택한 경우, '시간' 옵션이 활성화됩니다. </p>
            </div>
             </div>		
		</div>
<hr class="wn5-setup-hr">