<h1 class="wn5-setup-main-title">ログ</h1>

<div class="wn5-setup-section">
    <p>カメラと関連されたログを確認することができます。カメラアクセス、システム変動事項、発生したイベント情報をログで確認することができます。ログタイプ別にログ情報をエクスポートすることができます。</p>
</div>

        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul><li>一つのページで確認できる最大ログ数は15件です。</li>
                <li>直近に発生したログから確認することができます。</li>
                <li>各々のログは最大1000件まで保存されます。</li>
                <li>保存されたログが1000件を超えると、最も古いログから削除してから新しいログを保存します。</li>
            </ul>
        </div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>アクセスログ</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>アクセスしたアカウント別にログイン、ログアウト情報を確認することができます。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>ログタイプ</h3>
            <p>カメラにアクセスしたアカウントとログイン、ログアウトした日付と時間情報を確認することができます。Allを選択すると、アクセスしたすべてのIDのログイン、ログアウト有無、日付＆時間、詳細情報を確認することができます。</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>エクスポート</h3>
            <p>選択したログタイプをテキストファイルにエクスポートすることができます。アクセスログをエクスポートするには、<strong class="UI">[エクスポート]</strong>ボタンをクリックします。ログファイル名は、カメラ型名_ログタイプ_エクスポートした日付時間情報に表示されます。</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>システムログ</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>システム変動事項に対して日付＆時間と詳細情報を確認することができます。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>ログタイプ</h3>
            <p>カメラシステム設定変更情報を日付、時間と共に確認することができます。Allを選択すると、すべてのシステム変動事項に対して日付＆時間と詳細情報を確認することができます。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>エクスポート</h3>
            <p>選択したログタイプをテキストファイルにエクスポートすることができます。システムログをエクスポートするには、<strong class="UI">[エクスポート]</strong>ボタンをクリックします。ログファイル名は、カメラ型名_ログタイプ_エクスポートした日付時間情報に表示されます。</p>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr" >
<div class="wn5-setup-section" >
    <div class="wn5-setup-section-heading">
        <h2>イベントログ</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>システムで発生したイベントに対して日付＆時間と詳細情報を確認することができます。</p>
        </div>
		 <div class="wn5-setup-section-article-content sptEventLogChannel" ng-if="EventLogChannel.minValue !== undefiend && EventLogChannel.minValue  == EventLogChannel.maxValue">
            <h3>チャンネル選択</h3>
            <p>カメラチャンネルを選択すると、チャンネル別にイベントログを確認することができます。</p>
            <p ng-if="objectDetectionSupport" class="sptObjectDetection">チャンネル1は、ライブ映像を表示するチャンネルであり、チャンネル2はデジタルPTZ映像を表示するチャンネルです。チャンネル1のログ情報のみ確認できます。</p>

            <!-- <p ng-if="SupportChannelExpansionFeature">チャンネル別のビューモードは、下記のどおりです。チャンネル1のログ情報のみ確認できます。</p>
            <ul ng-if="SupportChannelExpansionFeature">
                <li>チャンネル1：魚眼カメラの映像をそのまま補正なしで見せます。</li>
                <li>チャンネル2：360˚エリアを撮影した映像を歪み補正して壁パノラマタイプに見せます。</li>
                <li>チャンネル3：360˚エリアを撮影した映像を歪み補正してパノラマタイプの上下分割モードに見せます。</li>
                <li>チャンネル4：人の視野に適合するように歪み補正した特定画面4つを同時に見せます。4分割画面を選択して、ビューを上下左右に移動したり、ズーム機能を使用できます。</li>
                <li>チャンネル5：チャンネル4の4分割画面で左上の映像を見せます。</li>
                <li>チャンネル6：チャンネル4の4分割画面で右上の映像を見せます。</li>
                <li>チャンネル7：チャンネル4の4分割画面で左下の映像を見せます。</li>
                <li>チャンネル8：チャンネル4の4分割画面で右下の映像を見せます。</li>
            </ul> -->

        </div>
        <div class="wn5-setup-section-article-content">
            <h3>ログタイプ</h3>
            <p>選択したイベントの発生日付、時間と詳細情報を確認することができます。Allを選択すると、システムで発生したすべてのイベントに対して日付＆時間と詳細情報を確認することができます。</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>エクスポート</h3>
            <p>選択したログタイプをテキストファイルにエクスポートすることができます。イベントログをエクスポートするには、<strong class="UI">[エクスポート]</strong>ボタンをクリックします。ログファイル名は、カメラ型名_ログタイプ_エクスポートした日付時間情報に表示されます。</p>
        </div>


    </div>
</div>

<hr class="wn5-setup-hr">