<h1 class="wn5-setup-main-title">製品Info</h1>

<div class="wn5-setup-section">
    <p>製品の型名、製造番号の確認やデバイス名、位置、詳細情報、言語を設定することができます。設定を完了すると、ページの下にある<strong class="UI">[適用]</strong>ボタンをクリックしてください。</p>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>製品Info</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>型名</h3>
            <p>使用している製品の型名です。型名は確認だけ可能で変更することはできません。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>製造番号</h3>
            <p>使用している製品の製造番号です。製造番号は確認だけ可能で変更することはできません。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>デバイス名</h3>
            <p>使用している製品のデバイス名を入力することができます。カメラを数台設置した場合には、カメラを区分するためにデバイス名を別々に入力することをお勧めします。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>位置</h3>
            <p>使用している製品の設置位置を入力することができます。カメラを数台設置した場合には、設置位置を区分するために設置位置を別々に入力することをお勧めします。</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>詳細情報</h3>
            <p>使用している製品に対する詳細情報を入力することができます。設置日時、画面が表示する場所など他の必要情報に対して入力します。</p>
        </div>
		
		<div class="wn5-setup-section-article-content">
            <h3>メモ</h3>
            <p>使用している製品に対する詳細情報を入力することができます。詳細情報部分に書けなかった他の必要情報に対して入力します。</p>
        </div>
		
        <div class="wn5-setup-section-article-content" ng-if="ShowLanguage">
            <h3>言語</h3>
            <p>使用している製品の言語を選択することができます。言語を選択して適用をクリックすると、すべてのUIが該当言語に変更されます。</p>
        </div>
        <div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>参考事項</h4>
            <ul>
                <li>「デバイス名」項目は#&apos;&quot;&amp;+:&lt;&gt;=\%*を外した特殊文字、韓国語、ローマ字の大文字&amp;小文字、数字を入力することができます。最大8文字まで入力することができます。 </li>
                <li>「位置」、「詳細情報」、「メモ」項目はローマ字&amp;数字、特殊文字~`!@$^()_-|{}[];,./?とスペースだけ入力することができます。最大32文字まで入力できます。 </li>
            </ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">