<h1 class="wn5-setup-main-title">I/O box</h1>
<div class="wn5-setup-section">
	<p>An external I/O device can be connected to the camera for use.</p>
	<p>In [I/O box] page, the information of I/O box to be connected to the camera can be entered, and the connection status of the I/O box and camera can be checked. Once the setup is complete, click the <strong class="UI">[Apply]</strong> button at the bottom of the page.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
	<div class="wn5-setup-section-heading">
		<h2>I/O box</h2>
	</div>
	<div class="wn5-setup-section-article">
		<div class="wn5-setup-section-article-content">
			<p>The IP type, protocol type, IP address, port number, etc. of an external I/O box to be connected to the camera can be set.</p>
			<p>To connect an external I/O box to the camera and use it, select <strong class="UI">[Enable I/O box]</strong>.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>IP type</h3>
			<p>Selects between IPv4 and IPv6 for the IP address type to use when I/O box communicates with the camera.
			</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>HTTP/HTTPS</h3>
			<p>Selects between HTTP and HTTPS for the communication method to use when I/O box communicates with the camera.</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>IP address</h3>
			<p>Enter the IP address of the I/O box.</p>
		</div>

		<div class="wn5-setup-section-article-content">
			<h3>HTTP port/HTTPS port</h3>
			<p>Enter the port number of the I/O box.</p>
			<p>Depending on the value selected for <strong class="UI">[HTTP/HTTPS]</strong>, the option name is	displayed as either [HTTP port] or [HTTPS port].</p>
		</div>
		<!-- <div class="wn5-setup-section-article-content">
			<h3>RTSP port</h3>
            <p>Enter the RTSP port number of the I/O box.</p>
		</div>	 -->
		<div class="wn5-setup-section-article-content">
			<h3>ID</h3>
			<p>Enter the ID to access the I/O device.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Password</h3>
			<p>Enter the password to access the I/O device.</p>
		</div>
		<div class="wn5-setup-section-article-content">
			<h3>Status</h3>
			<p>Displays the connection status between the I/O device and camera. If the camera and I/O device is properly connected, [Connected] is displayed; if they are in the process of being connected, [Connecting] is displayed.</p>
		</div>
	</div>
</div>

<hr class="wn5-setup-hr">