<h1 class="wn5-setup-main-title">Time schedule</h1>

<div class="wn5-setup-section">
    <p>The time schedule event can send an image file according to the event action settings in the transfer interval. When you complete the setting, click the <strong class="UI">[Apply]</strong> button at the bottom of the page. The setting on the time schedule event applies to <strong class="UI">[Time schedule]</strong> in <strong class="UI">[Event]</strong>&gt;<a class="wn5-online-help-link" href="eventSetup.html" ng-href="#/help/event_eventSetup"><strong class="UI">[Event setup]</strong></a> pages equally.</p>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Event setup schedule</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>To use the event schedule, select <strong class="UI">[Enable]</strong>. </p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Transfer interval</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Sets the transfer interval of an image. This sets for how many seconds or minutes each image is created as an event. Click the drop-down menu and select a number and a unit.</p>
        </div>
				<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Note</h4>
            <ul> 
                <li>Image can be transmitted only if the transfer interval is set lower than the operation interval in the event action settings.</li>
            </ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2 id="action">Event action settings</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <h3>FTP</h3>
            <p>To save an image on an FTP server when a time schedule event is created, select <strong class="UI">[Enable]</strong>. Detailed settings for FTP can be done from <strong class="UI">[Event]</strong>&gt;<a class="wn5-online-help-link" href="ftpemail.html#ftp" ng-href="#/help/event_ftpemail?#ftp"><strong class="UI">[FTP/E-mail]</strong></a>.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">

<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a name="schedule"></a>Event activation time</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>This sets the event action settings in <strong class="UI">[<a class="wn5-online-help-link" href="#action" ng-href="#/help/event_timeSchedule?#action">Event action settings</a>]</strong> to always operate, or only at the set time when a time schedule event is created. </p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h3>Always</h3>
            <p>The event action settings are always executed when a time schedule event is created.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h3>Only scheduled time</h3>
            <p>Periodically performs a specific operation at the predetermined time and day. The date from Sunday to Saturday, based on the current camera time, is displayed on the time table shown when <strong class="UI">[Only scheduled time]</strong> is selected. You can set the time for event action settings by clicking or dragging on the time table with the mouse. The set event activation time is executed repeatedly on the relevant weekday and time.</p>
			<p>You can change the time view unit by clicking the <strong class="UI">[1 min]</strong>, <strong class="UI">[30 min]</strong> or <strong class="UI">[1 h]</strong> button. When you click the <strong class="UI">[Reset]</strong> button, all set event activation times will be deleted. To confirm or change the camera time, refer to <strong class="UI">[Basic]</strong>&gt;<strong class="UI">[Date &amp; Time]</strong>.</p>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">