<div ng-class="{'transparent' : isTransParent}" class="channels-wrapper">
  <dl ng-if="layout == 1"  ng-class="{'transparent' : isTransParent}">
    <dd  ng-class="{'transparent' : isTransParent}">
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        zoom-mode="zoomMode"
        playerdata="playerdata"
        is-show="isShow"
        ng-class="{'transparent' : isTransParent}">
      </channel-container>
    </dd>
  </dl>
  <dl class="four-view canvas-view" ng-if="layout == 4">
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
  </dl>
  <dl class="nine-view" ng-if="layout == 9">
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
  </dl>
  <dl class="sixteen-view" ng-if="layout == 16">
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
    <dd>
      <channel-container
        enable-goto="enableGoto"
        enable-playback="enablePlayback"
        is-show="isShow">
      </channel-container>
    </dd>
  </dl>
</div>
