<div>
  <div ng-show="currentPtzType !== ptzType.NONE" id="ptz-components" ng-class="{'ptz-zoom' : currentPtzType === ptzType.ZOOMONLY}">
    <div class="cm-col cm-ptz-type" ng-show="currentPtzType === ptzType.EXTERNAL_DIGITAL">
      <h2><span>Type</span></h2>
      <p class="cm-radio-wrap">
        <input type="radio" id="external-radio" ng-model="ptzMode" ng-change="modeChange('external')" value="external">
        <label for="external-radio"><span>External PTZ</span></label>
      </p>
      <p class="cm-radio-wrap">
          <input type="radio" id="dptz-radio" ng-model="ptzMode" ng-change="modeChange('dptz')" value="dptz">
          <label for="dptz-radio"><span>DPTZ</span></label>
      </p>
    </div>

<!-- 
<p ng-if="ptzMode === 'dptz' || currentPtzType === ptzType.OPTICAL">
  <button class="btn btn-primary cm-btn-dark" ng-click="autoTracking()" title="{{ 'lang_autotracking_on' | translate}}">
    <i class="tui" style="font-size: 20px;"></i>
  </button>
</p>
 -->
    <div id="cm-live-ptz-control">
      <div class="cm-ptz-control-left" ng-show="currentPtzType !== ptzType.ZOOMONLY">
        <button 
          ng-if="ptzMode === 'external' || currentPtzType === ptzType.OPTICAL"
          ng-mousedown="ptzFocus('Near')" 
          ng-mouseup="ptzFocus('Stop')" 
          ng-mouseleave="ptzFocus('Stop')" 
          class="cm-icon-button-s cm-near"
          title="{{'lang_near' | translate}}">
          <span class="sr-only">{{ 'lang_near' | translate }}</span>
          <i class="tui tui-wn5-ptz-near"></i>
        </button>
        <button 
          ng-if="show.DigitalAutoTracking && ptzMode !== 'external'"
          ng-click="digitalAutoTracking()"
          class="cm-icon-button-s cm-at"
          ng-class="{'cm-ptz-at' : currentPtzType === ptzType.OPTICAL}"
          title="{{'lang_autotracking_on' | translate}}">
          <span class="sr-only">{{ 'lang_autotracking_on' | translate }}</span>
          <i class="tui" ng-class="modePTZ.DigitalAutoTracking ? 'tui-ch-live-ptz-tracking-auto-on' : 'tui-ch-live-ptz-tracking-auto-off'"></i>
        </button>
        <button
          ng-if="show.AutoTracking"
          ng-click="autoTracking()"
          class="cm-icon-button-s cm-at"
          ng-class="{'cm-ptz-at' : currentPtzType === ptzType.OPTICAL}"
          title="{{'lang_autotracking_on' | translate}}">
          <span class="sr-only">{{ 'lang_autotracking_on' | translate }}</span>
          <i class="tui" ng-class="modePTZ.AutoTracking ? 'tui-ch-live-ptz-tracking-auto-on' : 'tui-ch-live-ptz-tracking-auto-off'"></i>
        </button>
        <button 
          ng-if="ptzMode === 'external' || currentPtzType === ptzType.OPTICAL"
          ng-mousedown="ptzFocus('Far')" 
          ng-mouseup="ptzFocus('Stop')" 
          ng-mouseleave="ptzFocus('Stop')" 
          class="cm-icon-button-s cm-far"
          title="{{'lang_far' | translate}}">
          <span class="sr-only">{{ 'lang_far' | translate }}</span>
          <i class="tui tui-wn5-ptz-far"></i>
        </button>
        <button 
          ng-if="currentPtzType === ptzType.OPTICAL"
           ng-click="ptzFocus('Auto')"
          class="cm-icon-button-s cm-home"
          title="{{'lang_autoFocus' | translate}}">
          <span class="sr-only">{{ 'lang_autoFocus' | translate }}</span>
          <i class="tui tui-wn5-simple-focus"></i>
        </button>
        <!-- 
        <button 
          class="cm-icon-button-s cm-home"
          title="{{'lang_goHomePosition' | translate}}"
          ng-show="ptzMode == 'external'">
          <span class="sr-only">{{ 'lang_goHomePosition' | translate }}</span>
          <i class="tui tui-wn5-ptz-home"></i>
        </button>
        -->
      </div>
      

      <div id="cm-ptz-control-box" ng-show="currentPtzType !== ptzType.ZOOMONLY">
        <div class="cm-ptz-line horizontal"></div>
        <div class="cm-ptz-line vertical"></div>
        <div id="cm-ptz-control-move-btn">
            <i class="tui tui-wn5-ptz-handle"></i>
        </div>
      </div>
      <div class="cm-ptz-control-right" ng-show="currentPtzType !== ptzType.ZOOMONLY">
        <button 
          ng-mousedown="ptzZoom('in')"
          ng-mouseup="ptzZoom('stop')"
          ng-mouseleave="ptzZoom('stop')"
          class="cm-icon-button-s cm-zoom-in"
          title="{{'lang_zoomIn' | translate}}">
          <span class="sr-only">{{ 'lang_zoomIn' | translate }}</span>
          <i class="tui tui-wn5-ptz-plus"></i>
        </button>
        <button 
          ng-mousedown="ptzZoom('out')"
          ng-mouseup="ptzZoom('stop')"
          ng-mouseleave="ptzZoom('stop')"
          class="cm-icon-button-s cm-zoom-out"
          title="{{'lang_zoomOut' | translate}}">
          <span class="sr-only">{{ 'lang_zoomOut' | translate }}</span>
          <i class="tui tui-wn5-ptz-minus"></i>
        </button>
        <div id="cm-ptz-zoom-slider">
          <div></div>
        </div>
      </div>
      <div class="slider-fields live-slider-field ptz-control_horizontal-wrap" ng-show="currentPtzType === ptzType.ZOOMONLY">
        <div>
          <h4>{{ 'lang_zoom' | translate }}</h4>
          <div class="ptz-control_horizontal" style="line-height: normal;height: 40px;">
            <button class="cm-icon-button-s ptz-control_horizontal-item slider-button left-btn" title="{{'lang_zoomOut' | translate}}" ng-mousedown="ptzZoom('out');" ng-mouseup="ptzZoom('stop')" ng-mouseleave="ptzZoom('stop')">
              <i class="tui tui-wn5-ptz-minus" ></i>
            </button>
            <div class="ptz-control_horizontal-item ptz-control_horizontal-slider slider-cursor-btn" id="ptz-control_slider-horizontal-zoom"></div>
            <button class="cm-icon-button-s ptz-control_horizontal-item slider-button right-btn" title="{{'lang_zoomIn' | translate}}" ng-mousedown="ptzZoom('in');" ng-mouseup="ptzZoom('stop')" ng-mouseleave="ptzZoom('stop')">
              <i class="tui tui-wn5-ptz-plus"></i>
            </button>
          </div>
        </div>
        <div>
          <h4>{{ 'lang_focus' | translate }}</h4>
          <div class="ptz-control_horizontal" style="line-height: normal;height: 40px;">
            <button class="cm-icon-button-s ptz-control_horizontal-item item-button" title="{{'lang_near' | translate}}" ng-mousedown="ptzFocus('Near')" ng-mouseup="ptzFocus('Stop')" ng-mouseleave="ptzFocus('Stop')">
              <i class="tui tui-wn5-ptz-near" ></i>
            </button>
            <button class="cm-icon-button-s ptz-control_horizontal-item item-button" title="{{'lang_far' | translate}}" ng-mousedown="ptzFocus('Far');" ng-mouseup="ptzFocus('Stop')" ng-mouseleave="ptzFocus('Stop')">
              <i class="tui tui-wn5-ptz-far"></i>
            </button>
            <button class="cm-icon-button-s ptz-control_horizontal-item item-button" title="{{'lang_autoFocus' | translate}}" ng-mousedown="ptzFocus('Auto');">
              <i class="tui tui-wn5-simple-focus"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
      <!--
      hash : 30b3911
      [XNO-6120R] x12
      1. privacy mask zoomThreshold.
      2. last position view.
      3. Live PTZ - zoom slider issue fixed.
      -->

    <div id="live-ptz-add-form" ng-if="presetAddForm.show === true">
        <div class="form-group">
            <span>{{ 'lang_name' | translate }}</span>
            <div>
                <input 
                  type="text"
                  class="form-control"
                  ng-model="addPresetting.SelectedName"
                  required ng-pattern-restrict="{{AlphaNumericStr}}"
                  ng-maxlength="PresetNameMaxLen"
                  maxlength="{{PresetNameMaxLen}}">
            </div>
        </div>

        <div class="form-group">
            <span>{{ 'lang_number' | translate }}</span>
            <div>
                <select
                  class="form-control"
                  ng-model="addPresetting.SelectedNumber"
                  ng-options="Preset.Number as (Preset.Number + ' : ' + Preset.Name) for Preset in addPresetting.PresetList">
                </select>
            </div>
        </div>

        <div class="cm-row form-group">
            <div>
                <button 
                  ng-click="presetAddForm.apply()"
                  title="{{'lang_apply' | translate}}"
                  class="cm-submit-button cm-btn-point"
                  style="margin-right: 5px;">
                  {{'lang_apply' | translate}}
                </button>
                <button 
                  ng-click="presetAddForm.cancel()"
                  title="{{'lang_cancel' | translate}}"
                  class="cm-btn-dark cm-cancel-button">
                  {{'lang_cancel' | translate}}
                </button>
            </div>
        </div>
    </div>

    <div id="cm-ptz-tabs">
      <ul>
        <li>
          <a href="#cm-ptz-preset">{{ 'lang_preset' | translate }}</a>
        </li>
        <li ng-if="currentPtzType === ptzType.OPTICAL">
            <a href="#cm-ptz-swing">{{ 'lang_swing' | translate }}</a>
        </li>
        <li ng-if="(!(currentPtzType == ptzType.EXTERNAL || currentPtzType == ptzType.ZOOMONLY)) || currentPtzType === ptzType.OPTICAL">
          <a href="#cm-ptz-group">{{ 'lang_group' | translate }}</a>
        </li>
        <li ng-if="currentPtzType === ptzType.OPTICAL">
          <a href="#cm-ptz-tour">{{ 'lang_tour' | translate }}</a>
        </li>
        <li ng-if="currentPtzType === ptzType.OPTICAL">
          <a href="#cm-ptz-trace">{{ 'lang_trace' | translate }}</a>
        </li>
      </ul>

      <!-- Preset start -->
      <div id="cm-ptz-preset">
        <div ng-if="currentPtzType === ptzType.OPTICAL || currentPtzType === ptzType.ZOOMONLY">
          <div>{{'lang_selectPreset' | translate}}</div>
          <select class="form-control cm-selectbox"
            ng-model="selectedObj.presetObj"
            ng-options="preset as (preset.value + ' : ' + preset.name)  for preset in presetList">
          </select>
          <div style="margin-top: 5px;">
            <button type="button" class="cm-btn-dark" title="Start" ng-click="ptzPreset('Go')">{{'lang_start' | translate }}</button>
            <button type="button" class="cm-btn-dark" title="Stop" ng-click="ptzPreset('Home')" ng-if="modePTZ.Home">{{'lang_home'|translate}}</button>
            <button type="button" class="cm-btn-dark" title="Set" style="float: right;" ng-click="ptzPreset('Set')">{{'lang_set'|translate}}</button>
          </div>
        </div>
        <table class="live-table cm-table-field" ng-if="currentPtzType !== ptzType.OPTICAL && currentPtzType !== ptzType.ZOOMONLY">
          <colgroup>
            <col width="50">
            <col width="180">
          </colgroup>
          <thead>
            <tr>
              <th>{{'lang_num' | translate}}</th>
              <th>{{'lang_presetName' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in presetList">
              <td>{{item.value}}</td>
              <td>
                {{item.name}}
                <button 
                  ng-click="item.action(item.value)"
                  class="cm-icon-button-xs"
                  title="{{item.value}} : {{item.name}}"
                  style="float: right;">
                  <span class="sr-only">{{item.value}} : {{item.name}}</span>
                  <i class="tui tui-wn5-toolbar-play"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Preset end -->

      <!-- Swing start -->
      <div id="cm-ptz-swing" ng-if="currentPtzType === ptzType.OPTICAL">
        <div>{{'lang_swingMode' | translate}}</div>
        <select class="form-control cm-selectbox"
          ng-model="selectedObj.swingObj"
          ng-options="Mode as getTranslatedOption(Mode) for Mode in SwingModes">
        </select>
        <div style="margin-top: 5px;">
          <button type="button" class="cm-btn-dark" title="Start" ng-click="ptzSwing('Go')">{{'lang_start' | translate }}</button>
          <button type="button" class="cm-btn-dark" title="Stop" ng-click="ptzSwing('Stop')">{{'lang_stop' | translate }}</button>
        </div>
      </div>
      <!-- Swing end -->

      <!-- Group start -->
      <div id="cm-ptz-group" ng-if="(!(currentPtzType == ptzType.EXTERNAL || currentPtzType == ptzType.ZOOMONLY)) || currentPtzType === ptzType.OPTICAL">
        <div ng-if="currentPtzType === ptzType.OPTICAL">
          <div>{{'lang_group' | translate}}</div>
          <select class="form-control cm-selectbox"
            ng-model="selectedObj.groupObj"
            ng-options="group as (group.value + ' : ' + group.name)  for group in groupList">
          </select>
          <div style="margin-top: 5px;">
            <button type="button" class="cm-btn-dark" title="Go" ng-click="ptzGroup('Go')">{{'lang_start' | translate }}</button>
            <button type="button" class="cm-btn-dark" title="Stop" ng-click="ptzGroup('Stop')">{{'lang_stop' | translate }}</button>
          </div>
        </div>
        <table class="live-table cm-table-field" ng-if="currentPtzType !== ptzType.OPTICAL">
          <colgroup>
            <col width="50">
            <col width="200">
          </colgroup>
          <thead>
            <tr>
              <th>{{'lang_num' | translate}}</th>
              <th>{{'lang_group' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in groupList">
              <td>{{item.value}}</td>
              <td>
                {{item.name}}
                <button 
                  ng-click="item.stopaction(item.value)"
                  class="cm-icon-button-xs"
                  title="{{item.value}} : {{item.name}}"
                  style="float: right;">
                  <span class="sr-only">{{item.value}} : {{item.name}}</span>
                  <i class="tui tui-wn5-toolbar-pause"></i>
                </button>
                <button 
                  ng-click="item.startaction(item.value)"
                  class="cm-icon-button-xs"
                  title="{{item.value}} : {{item.name}}"
                  style="float: right;">
                  <span class="sr-only">{{item.value}} : {{item.name}}</span>
                  <i class="tui tui-wn5-toolbar-play"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Group end -->

      <!-- Tour start -->
      <div id="cm-ptz-tour" ng-if="currentPtzType === ptzType.OPTICAL">
        <div>{{'lang_tour' | translate}}</div>
        <div style="margin-top: 5px; min-width: 200px;">
          <button type="button" class="cm-btn-dark" title="Start" ng-click="ptzTour('Go')">{{'lang_start' | translate }}</button>
          <button type="button" class="cm-btn-dark" title="Stop"  ng-click="ptzTour('Stop')">{{'lang_stop' | translate }}</button>
        </div>
      </div>
      <!-- Tour end -->

      <!-- Trace start -->
      <div id="cm-ptz-trace" ng-if="currentPtzType === ptzType.OPTICAL">
        <div>{{'lang_traceNo' | translate}}</div>
        <select class="form-control cm-selectbox"
          ng-model="Trace.SelectedIndex"
          ng-options="TraceOptions.indexOf(Option) as Option for Option in TraceOptions">
        </select>
        <div style="margin-top: 5px;">
          <button type="button" class="cm-btn-dark" title="Start" ng-click="ptzTrace('Go')">{{'lang_start' | translate }}</button>
          <button type="button" class="cm-btn-dark" title="Stop"  ng-click="ptzTrace('Stop')">{{'lang_stop' | translate }}</button>
        </div>
      </div>
      <!-- Trace end -->
    </div> <!-- live-ptz-tabs ends -->

    <div id="cm-ptz-zoom" ng-if="currentPtzType === ptzType.OPTICAL">
      <h2><span>{{ 'lang_areaZoom' | translate }}</span></h2>
      <div>
        <button 
          class="cm-icon-button-b"
          title="{{'lang_areaZoom' | translate}}"
          ng-click="areaZoomMode()">
          <span class="sr-only">{{ 'lang_areaZoom' | translate }}</span>
          <i class="tui" ng-class="modePTZ.AreaZoom === true ? 'cm-active tui-ch-live-ptz-areazoom' : 'tui-ch-live-ptz-areazoom'"></i>
        </button>
        <button 
          class="cm-icon-button-b"
          title="{{'lang_goto1x' | translate}}"
          ng-click="areaZoomAction('1X')">
          <span class="sr-only">{{ 'lang_goto1x' | translate }}</span>
          <i class="tui tui-ch-live-ptz-areazoom-1x"></i>
        </button>
        <button 
          class="cm-icon-button-b"
          title="{{'lang_prev' | translate}}"
          ng-click="areaZoomAction('Prev')">
          <span class="sr-only">{{ 'lang_prev' | translate }}</span>
          <i class="tui tui-ch-live-ptz-areazoom-back"></i>
        </button>
        <button 
          class="cm-icon-button-b"
          title="{{'lang_next' | translate}}"
          ng-click="areaZoomAction('Next')">
          <span class="sr-only">{{ 'lang_next' | translate }}</span>
          <i class="tui tui-ch-live-ptz-areazoom-pre"></i>
        </button>
      </div>

      <div>
        {{ 'lang_msg_lockon_info' | translate }}
      </div>
    </div>
  </div>

  <div ng-show="currentPtzType === ptzType.NONE">
    {{ 'lang_digital_ptz_profile_select' | translate }}
  </div>
</div>