<div class="cm_row cm_live-icon-list" id="cm_icon-list">
  <div class="cm_center">

    <div class="cm_col-100">
      <div class="cm_small-center">
        <div class="cm_col" ng-show="MaxAudioInput !== 0">
          <button 
            class="cm_icon-button-s"
            ng-click="changeSpeaker()" 
            ng-class="{'cm_opacity':!channelBasicFunctions.speakerEnable}"
            title="{{'lang_Speaker' | translate}}">
            <span class="sr-only">{{ 'lang_Speaker' | translate }}</span>
            <i ng-class="channelBasicFunctions.speakerStatus == true? 'tui tui-wn5-toolbar-sound' : 'tui tui-wn5-sound-off'"></i>
          </button>
          <div id="cm_speaker-slider" ng-class="{'cm_opacity':!channelBasicFunctions.speakerStatus}">
            <div></div>
          </div>
        </div>

        <div class="cm_vline"></div>
        
        <div class="cm_col" ng-if="alarmOutputUser()">
          <span 
            class="cm_icon-button-b"
            title="{{'lang_alarmOutput' | translate}}">
            <span class="sr-only">{{ 'lang_alarmOutput' | translate }}</span>
            <i class="tui tui-wn5-toolbar-alarm"></i>
          </span>
          <input id="output-{{$index}}" ng-repeat="n in alarmOutputMax() track by $index" type="button" ng-click="alarmOutput($index, $event)" 
          class="cm_str-button cm_alarm-button" title="{{$index + 1}}" value="{{$index + 1}}" ng-disabled="disableAlarmOutput()">
        </div>
      </div>
    </div>

    <div class="cm_vline"></div>

    <ul class="cm_col cm_margin10 cm_list-2 cm_col-100" style="margin-left: 0;">
      <li 
        ng-if="function.show" 
        ng-repeat="function in wisenetCameraFuntions">
        <button 
          class="cm_icon-button-b"
          ng-click="function.action($event);" 
          ng-class="{ 'cm_active' : channelBasicFunctions[function.ngClass] }"
          title="{{(function.label === 'viewMode'? viewModeTitle : function.label) | translate}}"
          data-ng-disabled="function.disabled">
          <span class="sr-only">{{ (function.label === 'viewMode'? viewModeTitle : function.label) | translate }}</span>
          <i class="tui {{(function.class === 'viewMode'? viewModeIcon : function.class)}}"></i>
        </button>
      </li>
      <li ng-show="MaxAudioOutput !== 0">
        <button 
          class="cm_icon-button-b"
          ng-click="changeMic()" 
          ng-class="{'cm_opacity': !channelBasicFunctions.micEnable}"
          title="{{'lang_Microphone' | translate}}">
          <span class="sr-only">{{ 'lang_Microphone' | translate }}</span>
          <i ng-class="channelBasicFunctions.micStatus == true ? 'tui tui-wn5-toolbar-mic' : 'tui tui-wn5-talk-off'"></i>
        </button>
      </li>
    </ul>

    <ul class="cm_col cm_margin10 cm_content-icon-list cm_col-100">
      <li 
        ng-if="function.show" 
        ng-repeat="function in wisenetCameraFuntions2"
        ng-class="{ 'cm_active' : channelSetFunctions[function.ngClass] }">
        <button 
          class="cm_icon-button-b"
          ng-click="function.action($event);" 
          title="{{function.label | translate}}">
          <span class="sr-only">{{ function.label | translate }}</span>
          <i class="tui {{function.class}}"></i>
        </button>
      </li>
    </ul>

    <!-- <div class="cm_col cm_margin-ls">
      <button 
        class="cm_icon-button-s"
        ng-click="changeMic()" 
        ng-class="{'cm_opacity': !channelBasicFunctions.micEnable}"
        title="{{'Mic' | translate}}">
        <span class="sr-only">{{ 'Mic' | translate }}</span>
        <i ng-class="channelBasicFunctions.micStatus == true ? 'tui tui-mic' : 'tui tui-mic-mute'"></i>
      </button>
      <div id="cm_mic-slider" ng-class="{'cm_opacity':!channelBasicFunctions.micStatus}">
        <div></div>
      </div>
    </div> -->

  </div>
</div>