<div id="pb-event-section" class="cm-row">
  <div class="pb-block pb-event">

    <h2><span>{{'lang_event' | translate}}</span></h2>

    <div id="pb-event-all" class="cm-checkbox-wrap">
      <input 
        type="checkbox" 
        id="allEvent" 
        ng-model="allEventSearch.selected" 
        ng-click="selectAllEvent($event)">
      <label for="allEvent">{{allEventSearch.name | translate}}</label>
    </div>

    <div id="pb-event-list">
      <div ng-repeat="event in eventList" class="cm-checkbox-wrap">
        <input 
          type="checkbox" 
          id="event-{{event.name}}" 
          ng-model="event.selected" 
          ng-click="selectEachEvent($event)" 
          value="{{event.event}}">
          <label for="event-{{event.name}}" ng-class="{'available-check-event':event.enable}">{{event.name | translate}}</label>
      </div>
    </div>

  </div>

  <div class="pb-block pb-event">
    <h2><span>{{'lang_overlapped_section' | translate}}</span></h2>

    <div 
      ng-if="showOverlap"
      ng-repeat="overlap in overlapList" 
      class="overlap-search-container">
      <label>
        <input 
          type="radio" 
          name="overlap" 
          ng-model="selected.overlap" 
          ng-disabled="!overlap.enable" 
          ng-value="overlap">
          <span class="overlap-title">{{overlap.name | translate}} {{$index + 1}}</span>
      </label>
    </div>
  </div>
</div>