
<h1 class="wn5-setup-main-title">Limite de PT</h1>
<div class="wn5-setup-section">
    <p>Puede definir la panor&aacute;mica de la c&aacute;mara y la inclinaci&oacute;n para moverse dentro de un l&iacute;mite de rango. Cuando haya completado el ajuste, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte de abajo de la p&aacute;gina.</p>
</div>
<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
    <ul>
        <li>Cuando utilice la funci&oacute;n de l&iacute;mite de PT, seleccionando <strong class="UI">[Uso]</strong> desde <strong class="UI">[Panor&aacute;mica/L&iacute;mite inclinaci&oacute;n]</strong>, puede establecer un preajuste s&oacute;lo dentro del l&iacute;mite de rango.</li>
        <li>Si hay un preajuste definido m&aacute;s all&aacute; del rango de PT definido previamente antes de utilizar el l&iacute;mite de PT, el preajuste funcionar&aacute; de acuerdo con el ajuste inicial.</li>
    </ul>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Ajuste del PTZ</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Puede ajustar las acciones de panor&aacute;mica, mosaico y zoom de la c&aacute;mara.</p>
        </div>
			
        <div class="wn5-online-help-action">
    	   <h4><a name="ptzcontrol"></a>Ajuste del PTZ</h4>
            <ul>
                <li>Al arrastrar el icono <span class="tui tui-wn5-ptz-handle"></span> con el rat&oacute;n, la c&aacute;mara se mueve siguiendo las acciones de panor&aacute;mica e inclinaci&oacute;n.</li>
                <li ng-if="PanTiltOnlyModel || PTZModel">Seleccione una ampliaci&oacute;n de la imagen haciendo clic en el icono <span class="tui tui-wn5-ptz-plus"></span> para ampliar la pantalla o haga clic en el icono <span class="tui tui-wn5-ptz-minus"></span> para alejar la pantalla desde la barra de zoom.</li>
                <li ng-if="(PanTiltOnlyModel && ContinousFocus) || PTZModel">Mueva el enfoque cercano haciendo clic en el icono <span class="tui tui-wn5-ptz-near"></span> o mueva el foco lejano haciendo clic en el icono <span class="tui tui-wn5-ptz-far"></span>.</li>
                <li>Para ajustar el enfoque de la c&aacute;mara autom&aacute;ticamente para un disparo, haga clic en el icono <span class="tui tui-wn5-simple-focus"></span>.</li>
            </ul>
            <p ng-if="PanZeroPositionSupport">Haga clic en <strong class="UI">[Definir posición de suelo para panorámica]</strong> para configurar el grado de panor&aacute;mica del v&iacute;deo actualmente definido en 0.</p>
            <!-- <p ng-if="PTCorrectionSupport">Haga clic en <strong class="UI">[Configuraci&oacute;n de correcci&oacute;n de panor&aacute;mica/Inclinaci&oacute;n]</strong> para restablecer manualmente las posiciones de Panor&aacute;mica/Inclinaci&oacute;n una vez.</p> -->
            <p ng-if="PTCorrectionSupport">Haga clic en <strong class="UI">[Definir corrección de panorámica/inclinación]</strong> para restablecer manualmente las posiciones de Panor&aacute;mica/Inclinaci&oacute;n una vez.</p>
    	</div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
               <!-- 용어집대로 수정. 2019-04-12. XNP-6320RH 진행 시 변경 <h2>Panor&aacute;mica/Limite inclinaci&oacute;n</h2> --> 
       <h2>Límite panorámica/inclinación</h2> 
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Para limitar el rango de acci&oacute;n de panor&aacute;mica o inclinaci&oacute;n, seleccione <strong class="UI">[Uso]</strong>. La acci&oacute;n de panor&aacute;mica e inclinaci&oacute;n funcionan dentro de un rango definido.</p>
        </div>
		
        <div class="wn5-setup-section-article-content">
            <h3>Modo</h3>
            <p>Seleccione una acci&oacute;n para establecer el l&iacute;mite de rango.</p>
        </div>
        <div class="wn5-setup-section-article-content" ng-if="TiltRangeOptions">
            <h3>Rango de inclinaci&oacute;n</h3>
            <p>El rango de inclinaci&oacute;n aparecer&aacute; cuando se selecciona <strong class="UI">[L&iacute;mite inclinaci&oacute;n]</strong> en <strong class="UI">[Modo]</strong>. Define el &aacute;ngulo de inclinaci&oacute;n en movimiento.</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h3>Acci&oacute;n</h3>
            <p>Establece el rango del tama&ntilde;o m&aacute;ximo de panor&aacute;mica e inclinaci&oacute;n a mover.</p>
            </div>
            <div class="wn5-online-help-action">
    	   <h4>Establecer el l&iacute;mite del rango de acciones de panor&aacute;mica e inclinaci&oacute;n</h4>
                <ol>
                    <li>Comience la configuraci&oacute;n haciendo clic en el bot&oacute;n <strong class="UI">[Iniciar]</strong>.</li>
                    <li>Al hacer clic en el bot&oacute;n <strong class="UI">[Entrada]</strong>, la posici&oacute;n del punto de inicio se mostrar&aacute; en la pantalla de imagen de la c&aacute;mara. Defina la posici&oacute;n del punto de inicio para el l&iacute;mite del rango mientras ajusta el PTZ.</li>
                    <li>Al hacer clic en el bot&oacute;n <strong class="UI">[Entrada]</strong>, la posici&oacute;n del punto final se mostrar&aacute; en la pantalla de imagen de la c&aacute;mara. Defina la posici&oacute;n del punto final para el l&iacute;mite del rango mientras ajusta el PTZ.</li>
                    <li>Haga clic en el bot&oacute;n <strong class="UI">[Entrada]</strong> una vez m&aacute;s.</li>
                </ol>
                <p>Al hacer clic en el bot&oacute;n <strong class="UI">[Salir]</strong>, se eliminar&aacute;n todos los valores que se est&aacute;n definiendo actualmente. Puede hacer clic en el bot&oacute;n <strong class="UI">[Iniciar]</strong> y volver a definir el l&iacute;mite del rango de acci&oacute;n.</p>
            </div>
            </div>
             </div>		
        </div>
        
<hr class="wn5-setup-hr" ng-if="PTLimitSpeedTypeOptions">
<div class="wn5-setup-section" ng-if="PTLimitSpeedTypeOptions">
    <div class="wn5-setup-section-heading">
    <!-- 용어집대로 수정. 2019-04-12. XNP-6320RH 진행 시 변경      <h2>Curva de velocidad panor&aacute;mica/inclinaci&oacute;n</h2>  --> 
    <h2>Velocidad de panorámica / volteo</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Usted puede seleccionar la opci&oacute;n de velocidad para controlar el comportamiento de la vista panor&aacute;mica/inclinaci&oacute;n de las c&aacute;maras.</p>
            <p>Al controlar el comportamiento de la vista panor&aacute;mica/inclinaci&oacute;n, cuanto m&aacute;s alejado se encuentre el punto central, m&aacute;s r&aacute;pida ser&aacute; la velocidad de comportamiento. Seleccione <strong class="UI">[Exponencial]</strong> para ver el incremento de la velocidad en forma de curva (es decir, inicialmente lento, y cada vez m&aacute;s r&aacute;pido con cierta aceleraci&oacute;n). Seleccione <strong class="UI">[Lineal]</strong> para ver el incremento constante de la velocidad en l&iacute;nea recta.
        </div>
    </div>
</div>

<hr class="wn5-setup-hr"  ng-if="ProportionalPTSpeedModes">

<div class="wn5-setup-section"  ng-if="ProportionalPTSpeedModes">
    <div class="wn5-setup-section-heading">
    <!-- 용어집대로 수정. 2019-04-12. XNP-6320RH 진행 시 변경           <h2><a class="wn5-online-help-link"></a>PT posicional</h2>  --> 
    <h2><a class="wn5-online-help-link"></a>Panorámica/inclinación proporcional</h2>  
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Ajusta la velocidad de movimiento de la acci&oacute;n de panor&aacute;mica e inclinaci&oacute;n de acuerdo con la ampliaci&oacute;n del zoom. Si la ampliaci&oacute;n del zoom aumenta, la velocidad de movimiento de la inclinaci&oacute;n se reducir&aacute;.</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h3>Modo</h3>
                <p>Puede seleccionar una opci&oacute;n para cambiar la velocidad de operaci&oacute;n manual de panor&aacute;mica e inclinaci&oacute;n de acuerdo con la ampliaci&oacute;n de zoom.</p>
            </div>

	</div>
</div>

<hr class="wn5-setup-hr" ng-if="PTCorrectionSupport">
<div class="wn5-setup-section" ng-if="PTCorrectionSupport">
    <div class="wn5-setup-section-heading">
    <!-- 용어집대로 수정. 2019-04-12. XNP-6320RH 진행 시 변경            <h2>Inic. Pan/Volt</h2>   --> 
    <h2>Corrección de panorámica/inclinación</h2> 
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p><strong class="UI">[Correcci&oacute;n de panor&aacute;mica/Inclinaci&oacute;n]</strong> es una funci&oacute;n para restablecer manualmente las posiciones de Panor&aacute;miac e Inclinaci&oacute;n.</p>
            <p>Especifica si se debe iniciar o no el pan/volt de la c&aacute;mara, adem&aacute;s de configurar el ciclo y la hora de inicializaci&oacute;n.</p>
            <p>Por ejemplo, luego de seleccionar <strong class="UI">[Activar]</strong>, si configura <strong class="UI">[Duraci&oacute;n]</strong> en «2 d&iacute;as» y <strong class="UI">[Hora]</strong> en «9», la posici&oacute;n pan/volt de la c&aacute;mara iniciar&aacute; cada dos d&iacute;as a las 9 a. m. Si se configura la hora en Ene 1, 2000, el proceso de inicializaci&oacute;n empieza a las 9 a. m. del 3 de Ene de 2000, y luego la posici&oacute;n pan/volt iniciar&aacute; a las 9 a. m. cada dos d&iacute;as (es decir, Ene 5, Ene 7, y as&iacute; sucesivamente)</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h3>Duraci&oacute;n</h3>
                <p>Configure el ciclo de inicializaci&oacute;n. Por ejemplo, si lo configura en «2 d&iacute;as», el ciclo ocurrir&aacute; cada dos d&iacute;as.</p>
            </div>
            <div class="wn5-setup-section-article-content">
                <h3>Hora</h3>
                <p>Configura la hora de inicializaci&oacute;n. Puede seleccionar la hora de las 0 a las 23.</p>
            </div>
			<div class="wn5-online-help-info">
            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
    <ul>
        <li>Puede esperar una desviaci&oacute;n de &plusmn;10 minutos.</li>
        <li>Luego de una acci&oacute;n de inicializaci&oacute;n pan/volt, se mantiene el estado PTZ anterior. Por ejemplo, si la acci&oacute;n de iniciaci&oacute;n ocurre en medio de una acci&oacute;n preestablecida, la acci&oacute;n preestablecida volver&aacute; a empezar despu&eacute;s de terminar la inicializaci&oacute;n.</li>
    </ul>
</div>
	</div>
</div>
<hr class="wn5-setup-hr">