<h1 class="wn5-setup-main-title">Configuraci&oacute;n PTZ</h1>
<div class="wn5-setup-section">
    <p>Puede definir la posici&oacute;n del preajuste del PTZ de la c&aacute;mara y las funciones detalladas incluyendo oscilaci&oacute;n, grupo, tour e inicio autom&aacute;tico. Cuando haya completado el ajuste, haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong> en la parte de abajo de la p&aacute;gina.</p>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a class="wn5-online-help-link" name="preset"></a>Preajuste</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Puede definir la posici&oacute;n de preajuste de la c&aacute;mara PTZ y si desea o no guardar la &uacute;ltima posici&oacute;n.</p>
        </div>
		
        <div class="wn5-online-help-action">
    	   <h4>Configuraci&oacute;n de un preajuste</h4>
            <ol>
                <li>Ajuste la posici&oacute;n de la c&aacute;mara de la siguiente manera.</li>
                <ul>
                    <li>Al arrastrar el icono <span class="tui tui-wn5-ptz-handle"></span> con el rat&oacute;n, la c&aacute;mara se mueve siguiendo las acciones de panor&aacute;mica e inclinaci&oacute;n.</li>
                    <li>Seleccione una ampliaci&oacute;n de la imagen haciendo clic en el icono <span class="tui tui-wn5-ptz-plus"></span> para ampliar la pantalla o haga clic en el icono <span class="tui tui-wn5-ptz-minus"></span> para alejar la pantalla desde la barra de zoom.</li>
                    <li>Mueva el enfoque m&aacute;s cerca haciendo clic en el icono <span class="tui tui-wn5-ptz-near"></span> o mueva el enfoque m&aacute;s lejos haciendo clic en el icono <span class="tui tui-wn5-ptz-far"></span>.</li>
                    <li>Para ajustar el enfoque de la c&aacute;mara autom&aacute;ticamente de una vez, haga clic en el icono <span class="tui tui-wn5-simple-focus"></span>.</li>
                </ul>
                <li>Haga clic en el bot&oacute;n <strong class="UI">[Configuraci&oacute;n de preajustes] </strong>.</li>
                <li>Seleccione el n&uacute;mero de preajuste que desee desde <strong class="UI">[N&uacute;mero]</strong> en la casilla de di&aacute;logo <strong class="UI">[Configuraci&oacute;n de preajustes]</strong>.</li>
                <li>Introduzca el nombre del preajuste relevante en <strong class="UI">[Nombre]</strong>. El nombre del preajuste s&oacute;lo se puede introducir con letras y n&uacute;meros en may&uacute;sculas y min&uacute;sculas.</li>
                <li>Haga clic en el bot&oacute;n <strong class="UI">[Aceptar]</strong>.</li>
            </ol>
            <p>El preajuste agregado aparecer&aacute; en la lista de <strong class="UI">[Configuraci&oacute;n de preajustes]</strong>. Puede definir los detalles del preajuste correspondiente en la lista de preajustes.</p>
        </div>
				<div class="wn5-online-help-action">
    	   <h4>Eliminaci&oacute;n de un preajuste</h4>
            <ul>
                <li>Seleccione la casilla de verificaci&oacute;n de un preajuste que desee eliminar de la lista de preajustes de <strong class="UI">[Configuraci&oacute;n de preajustes]</strong> y haga clic en el bot&oacute;n <strong class="UI">[Eliminar]</strong> .</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>Navegaci&oacute;n a inicio</h4>
            <ul>
                <li>Haga clic en el bot&oacute;n <strong class="UI">[Ir a inicio]</strong>.</li>
            </ul>
    	</div>
		<div class="wn5-online-help-action">
    	   <h4>Configuraci&oacute;n de inicio</h4>
            <ol>
                <li>Ajuste la posici&oacute;n de la c&aacute;mara que desee configurar como inicio de la siguiente manera.</li>
                <ul>
                    <li>Al arrastrar el icono <span class="tui tui-wn5-ptz-handle"></span> con el rat&oacute;n, la c&aacute;mara se mueve siguiendo las acciones de panor&aacute;mica e inclinaci&oacute;n.</li>
                    <li>Seleccione una ampliaci&oacute;n de la imagen haciendo clic en el icono <span class="tui tui-wn5-ptz-plus"></span> para ampliar la pantalla o haga clic en el icono <span class="tui tui-wn5-ptz-minus"></span> para alejar la pantalla desde la barra de zoom.</li>
                    <li>Mueva el enfoque m&aacute;s cerca haciendo clic en el icono <span class="tui tui-wn5-ptz-near"></span> o mueva el enfoque m&aacute;s lejos haciendo clic en el icono <span class="tui tui-wn5-ptz-far"></span>.</li>
                    <li>Para ajustar el enfoque de la c&aacute;mara autom&aacute;ticamente de una vez, haga clic en el icono <span class="tui tui-wn5-simple-focus"></span>.</li>
                </ul>
                <li>Haga clic en el bot&oacute;n <strong class="UI">[Establecer inicio] </strong>.</li>
            </ol>
    	</div>
        <div class="wn5-online-help-info" ng-if="RememberLastPosition">
            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
        <ul>
            <li>Cuando la cámara se reinicia después de configurar la posición inicial, la pantalla se coloca en la posición inicial. Si se está ejecutando otra secuencia (Preset, Swing, Group, Tour, Trace), la secuencia que estaba activa se ejecutará sin moverse a la posición inicial cuando la cámara se reinicie.</li>
        </ul>
    </div>
        <div class="wn5-setup-section-article-content">
            <h3>Establecer ajuste predeterminado</h3>
            <p>Puede comprobar la lista de preajustes y modificar o eliminar la configuraci&oacute;n detallada de cada preajuste.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h5>Nº </h5>
            <p>Este es el Número de preajuste introducido en el recuadro de diálogo <strong class="UI">[Configuración de preajustes]</strong>.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>Nombre</h5>
            <p>Este es el nombre de preajuste introducido en el recuadro de diálogo <strong class="UI">[Configuración de preajustes]</strong>.</p>
        </div>

        <div class="wn5-setup-section-article-content">
            <h5>Seguimiento</h5>
       
            <p>Defina la acci&oacute;n de la c&aacute;mara para que se ejecute despu&eacute;s de que la c&aacute;mara se mueva a la posici&oacute;n de preajuste correspondiente.</p>
        <ul>
            <li><strong class="UI">Des</strong>: No se ejecutar&aacute; ninguna acci&oacute;n despu&eacute;s de que la c&aacute;mara se mueva a la posici&oacute;n de preajuste correspondiente.</li>
                <li><strong class="UI">Ejecución automática</strong>: Se ejecuta autom&aacute;ticamente una acci&oacute;n definida desde la etiqueta de <a class="wn5-online-help-link" href="ptzInfoSetup.html#autorun" ng-href="#/help/ptzSetup_ptzInfoSetup?#autorun"><strong class="UI">[Inicio autom&aacute;tico]</strong></a>.&nbsp;Cuando se seleccione <strong class="UI">[Desactivar]</strong> desde el <strong class="UI">[Modo]</strong> de inicio autom&aacute;tico o no hay acci&oacute;n de inicio autom&aacute;tico, se mantendr&aacute; el estado de ejecuci&oacute;n del preajuste.</li>
                <li><strong class="UI">Seguimiento autom&aacute;tico</strong>: Ejecuta el seguimiento autom&aacute;tico de un tiempo definido desde la columna de <strong class="UI">[Tiempo de seguimiento]</strong>.</li>
                <li><strong>Seguimiento autom&aacute;tico &gt; Ir a inicio</strong>: Mueve a la posici&oacute;n inicial de PTZ despu&eacute;s de ejecutar la operaci&oacute;n de seguimiento autom&aacute;tico. Consulte la <a href="ptzInfoSetup.html#set_home">configuraci&oacute;n de inicio</a> para definir la posici&oacute;n de inicio.</li>
                <li><strong class="UI">Anal&iacute;tica de v&iacute;deo</strong>: Se ejecutar&aacute; la acci&oacute;n de anal&iacute;tica de v&iacute;deo.</li>
        </ul>
    </div>
        <div class="wn5-setup-section-article-content">
            <h5>Tiempo de seguimiento</h5>
                   <p>Establece el tiempo de seguimiento para ejecutar el seguimiento autom&aacute;tico cuando <strong class="UI">[Seguimiento autom&aacute;tico]</strong> est&aacute; seleccionado en <strong class="UI">[Despu&eacute;s de acci&oacute;n]</strong>.</p>
        </div>
	   <div class="wn5-setup-section-article-content">
            <h5>Ir al menú</h5>
       
            <p>Puede desplazarse a la p&aacute;gina de configuraci&oacute;n y comprobar o definir una opci&oacute;n detallada.</p>
            <ul>
                <li><strong class="UI">Configuraci&oacute;n de c&aacute;mara</strong>: Vaya a la p&aacute;gina de <strong class="UI">[V&iacute;deo y Audio] </strong>&gt; <strong class="UI">[Configuraci&oacute;n de c&aacute;mara]</strong>. Puede cambiar la configuraci&oacute;n de la c&aacute;mara para que se ajuste al entorno del preajuste seleccionado. &nbsp;</li>
                <li><strong class="UI">Detecci&oacute;n de movimiento</strong>: Navegue hasta la p&aacute;gina de <strong class="UI">[Anal&iacute;tica] </strong>&gt; <strong class="UI">[Detecci&oacute;n de movimiento]</strong>. Cuando se selecciona <strong class="UI">[Preajuste]</strong> entre las opciones de <strong class="UI">[Tipo]</strong> de la p&aacute;gina de opciones de detecci&oacute;n de movimiento, puede definir un evento de detecci&oacute;n de movimiento diferente para cada preajuste.</li>
                <li><strong class="UI">IVA</strong>: Navegue hasta la p&aacute;gina de <strong class="UI">[Anal&iacute;tica] </strong>&gt; <strong class="UI">[IVA]</strong>. Cuando se selecciona <strong class="UI">[Preajuste]</strong> entre las opciones de <strong class="UI">[Tipo]</strong> de la p&aacute;gina de IVA, puede definir un evento de IVA (An&aacute;lisis inteligente de v&iacute;deo) diferente para cada preajuste.</li>
            </ul>
    </div>
        <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h3>&Uacute;ltima posici&oacute;n</h3>
            <p>Puede configurar la c&aacute;mara para que se mueva a la &uacute;ltima posici&oacute;n al encender y apagar la c&aacute;mara. Seleccione si guarda o no la &uacute;ltima posici&oacute;n de la c&aacute;mara y seleccione el intervalo para guardar.</p>
        </div>
            <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>Guardar última posición</h5>
                <p>Para guardar la &uacute;ltima posici&oacute;n, seleccione <strong class="UI">[Activar]</strong>.</p>
			</div>
        <div class="wn5-setup-section-article-content" ng-if="RememberLastPosition">
            <h5>Hora</h5>
       
                <p>Defina el intervalo para guardar la posici&oacute;n actual como la &uacute;ltima posici&oacute;n. La unidad usada para medir el intervalo es segundos. Introduzca el intervalo para guardar en el campo y haga clic en <strong class="UI">[Aplicar]</strong>.</p>
        </div>
        </div>
    </div>
</div>
<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Oscilaci&oacute;n</h2>
    </div>
    <div class="wn5-setup-section-article">
        <div class="wn5-setup-section-article-content">
            <p>Oscilaci&oacute;n es la funci&oacute;n para que la c&aacute;mara mueva 2 secciones de preajuste hacia adelante y hacia atr&aacute;s.</p>
        </div>
            <div class="wn5-online-help-info">
                <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
                <ul>
                    <li>Para usar la funci&oacute;n de oscilaci&oacute;n, se deben a&ntilde;adir al menos 2 preajustes. Puede agregar o modificar un preajuste desde la etiqueta <a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[Preajuste]</strong></a>.</li>
                </ul>
            </div>

		<div class="wn5-setup-section-article-content">
            <h3>Conf. oscilaci&oacute;n</h3><!-- <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 스윙 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 스윙 기능이 멈춥니다. </p>  -->
        </div>
            <div class="wn5-setup-section-article-content">
                <h5>Desde Nº de preajuste</h5>
               <p>Seleccione el inicio del Nº de preajuste para comenzar la acci&oacute;n de oscilaci&oacute;n.</p>
            </div>
        <div class="wn5-setup-section-article-content">
            <h5>Hasta Nº de preajuste</h5>
                <p>Seleccione el final del Nº de preajuste para finalizar la acci&oacute;n de oscilaci&oacute;n.</p><!--  <p>&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋] 탭</strong></a>에서 추가하거나 수정할 수 있습니다.</p> -->
        </div>
		<div class="wn5-setup-section-article-content">
                <h5>Velocidad</h5>
                <p>Esta es la velocidad de movimiento desde el preajuste inicial y el preajuste final.</p>
                <p>Si define un n&uacute;mero mayor, la c&aacute;mara se mover&aacute; m&aacute;s r&aacute;pidamente de la posici&oacute;n preajuste inicial a la posici&oacute;n de preajuste final.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>Tiempo de permanencia</h5>
                <p>Esta es la cantidad de tiempo que la c&aacute;mara se detendr&aacute; y permanecer&aacute; en la posici&oacute;n de preajuste inicial y la posici&oacute;n de preajuste final, respectivamente.</p>
                <p>Por ejemplo, si se introduce &amp;apos;1&amp;apos;, la c&aacute;mara permanece en la posici&oacute;n de preajuste inicial durante 1 segundo, y luego se mueve a la posici&oacute;n de preajuste de salida.</p>
        </div>
            <div class="wn5-setup-section-article-content">
                <h5>Modo de oscilaci&oacute;n</h5>
                <p>Seleccione si desea mover la c&aacute;mara s&oacute;lo con la acci&oacute;n de panor&aacute;mica o inclinaci&oacute;n de la c&aacute;mara o mover la c&aacute;mara con ambas acciones de panor&aacute;mica e inclinaci&oacute;n cuando la c&aacute;mara se mueve hacia adelante y hacia atr&aacute;s desde el preajuste inicial hasta el preajuste final.</p>
            </div>
        <div class="wn5-online-help-action">
            <h4>Conf. oscilaci&oacute;n</h4>
                <ol>
                    <li>Seleccione el n&uacute;mero de preajuste para comenzar la oscilaci&oacute;n desde la columna de <strong class="UI">[Desde Nº de preajuste]</strong>.</li>
                    <li>Seleccione el n&uacute;mero de preajuste para finalizar la oscilaci&oacute;n desde la columna de <strong class="UI">[Hasta Nº de preajuste]</strong>.</li>
                    <li>Introduzca la velocidad de movimiento desde el preajuste inicial hasta el preajuste final en la columna <strong class="UI">[Velocidad]</strong>.</li>
                    <li>Introduzca el tiempo de espera de preajuste en la columna <strong class="UI">[Tiempo de permanencia]</strong> para decidir cu&aacute;nto tiempo la c&aacute;mara permanecer&aacute; en el preajuste de inicio y, a continuaci&oacute;n, se desplazar&aacute; al preajuste final.</li>
                    <li>Defina el modo de acci&oacute;n de oscilaci&oacute;n desde la columna <strong class="UI">[Modo de oscilaci&oacute;n]</strong>. Por ejemplo, si desea moverse a la c&aacute;mara al preajuste s&oacute;lo en la direcci&oacute;n de panor&aacute;mica, seleccione [Panor&aacute;mica]. &nbsp;</li>
                </ol>
        </div>
		        <div class="wn5-online-help-action">
            <h4>Iniciar oscilaci&oacute;n</h4>
                <ul>
                    <li>Para iniciar la acci&oacute;n de oscilaci&oacute;n, haga clic en el bot&oacute;n <strong class="UI">[Iniciar]</strong>.</li>
                </ul>
        </div>
		        <div class="wn5-online-help-action">
            <h4>Detener oscilaci&oacute;n</h4>
                <ul>
                    <li>Para detener la acci&oacute;n de oscilaci&oacute;n, haga clic en el bot&oacute;n <strong class="UI">[Detener]</strong>.</li>
                </ul>
        </div>
    </div>
</div>

<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2><a name="group"></a>Grupo</h2>
    </div>
    <div class="wn5-setup-section-article">
            <div class="wn5-setup-section-article-content">
                <p>La funci&oacute;n de grupo es una funci&oacute;n que se utiliza para agrupar un n&uacute;mero de preajustes previamente designados y acceder a los preajustes colocados en un grupo secuencialmente.</p>
                <p>Se pueden definir hasta 6 grupos y se pueden guardar hasta 128 preajustes para cada grupo.</p>
            </div>
                <div class="wn5-online-help-info">
                    <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
                    <ul>
                        <li>Para usar la funci&oacute;n de grupo, se debe agregar un preajuste previamente. Puede agregar un preajuste desde la etiqueta <a class="wn5-online-help-link" href="#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[Preajuste]</strong></a>.</li>
                    </ul>
                </div>

		<div class="wn5-setup-section-article-content">
            <h3>Conf. grupo</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 그룹&nbsp;기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 그룹&nbsp;동작이 멈춥니다. </p> -->
        </div>
            <div class="wn5-setup-section-article-content">
                    <h5>Nº de preajuste</h5>
                    <p>Seleccione un n&uacute;mero de preajuste para guardar en un grupo.</p><!-- <p><a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[프리셋]</strong> 탭</a>에서 추가하거나 수정할 수 있습니다.</p> -->
            </div>
      
		<div class="wn5-setup-section-article-content">
                <h5>Velocidad</h5>
                    <p>Introduzca la velocidad de movimiento entre preajustes; es decir, la velocidad de movimiento de la c&aacute;mara a la siguiente posici&oacute;n de preajuste.</p>
                    <p>Si define un n&uacute;mero mayor, la c&aacute;mara se mover&aacute; m&aacute;s r&aacute;pidamente de la posici&oacute;n de preajuste actual y la siguiente posici&oacute;n de preajuste.</p>
        </div>
        <div class="wn5-setup-section-article-content">
            <h5>Tiempo de permanencia</h5>
                    <p>Introduzca la cantidad de tiempo para permanecer en cada posici&oacute;n de preajuste.</p>
                    <p>Por ejemplo, si se selecciona &amp;apos;1&rsquo; para el tiempo de permanencia en el preajuste N.º 1, permanece en la posici&oacute;n de preajuste N.° 1 durante 1 segundo y luego se mueve a la siguiente posici&oacute;n de preajuste. &nbsp;</p>
        </div>
            
                <div class="wn5-online-help-action">
                    <h4>Grupo de configuraci&oacute;n 1</h4>
                    <ol>
                        <li>Para definir el Grupo 1, seleccione &amp;apos;1&apos; en la lista desplegable del grupo.</li>
                        <li>Seleccione el Nº de preajuste para agregar al &apos;Grupo 1&apos; de la columna <strong class="UI">[Nº de preajuste]</strong>.</li>
                        <li>Introduzca la velocidad de la c&aacute;mara para pasar de la posici&oacute;n de preajuste a la siguiente posici&oacute;n de preajuste en la columna <strong class="UI">[Velocidad]</strong>.</li>
                        <li>Establezca la cantidad de tiempo que queda para decidir cu&aacute;nto tiempo la c&aacute;mara permanece en la posici&oacute;n de preajuste desde la columna <strong class="UI">[Tiempo de permanencia]</strong> hasta la siguiente posici&oacute;n de preajuste.</li>
                        <li>Haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong>.</li>
                    </ol>
                </div>
				        <div class="wn5-online-help-action">
            <h4>Eliminaci&oacute;n del valor de ajuste del grupo</h4>
                    <ol>
                        <li>Seleccione un n&uacute;mero de grupo para borrar el valor ajustado previamente de la lista desplegable de grupo.</li>
                        <li>Haga clic en el bot&oacute;n <strong class="UI">[Eliminar]</strong>.</li>
                    </ol>
        </div>
						        <div class="wn5-online-help-action">
            <h4>Inicio de la acci&oacute;n de grupo</h4>
                    <ol>
                        <li>Seleccione un n&uacute;mero de grupo para ejecutar desde la lista desplegable del grupo.</li>
                        <li>Haga clic en el bot&oacute;n <strong class="UI">[Iniciar]</strong>.</li>
                    </ol>
        </div>
		<div class="wn5-online-help-action">
            <h4>Deteniendo la acci&oacute;n del grupo</h4>
                    <ol>
                        <li>Para detener el grupo que est&aacute; funcionando, haga clic en el bot&oacute;n <strong class="UI">[Detener]</strong>.</li>
                    </ol>
        </div>
    </div>
</div>


<hr class="wn5-setup-hr">
<div class="wn5-setup-section">
    <div class="wn5-setup-section-heading">
        <h2>Tour</h2>
    </div>
    <div class="wn5-setup-section-article">

                    <div class="wn5-setup-section-article-content">
                        <p>La funci&oacute;n de tour es una funci&oacute;n que se utiliza para llamar a un grupo que es un conjunto de preajustes anteriores establecidos secuencialmente.</p>
                    </div>
                        <div class="wn5-online-help-info">
                            <h4><span class="tui tui-wn5-help-warning"></span>Nota</h4>
                            <ul>
                                <li>Para usar la funci&oacute;n de tour, se debe haber definido previamente un grupo. Puede definir el grupo desde la etiqueta <a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[Grupo]</strong></a>.</li>
                            </ul>
                        </div>
                    
                    <div class="wn5-setup-section-article-content">
                        <h3>Config. tour</h3><!--  <p><strong class="UI">[시작]</strong> 버튼을 클릭하면 투어 기능이 작동하고 <strong class="UI">[중지]</strong> 버튼을 클릭하면 투어 기능이 멈춥니다. </p> -->
                    </div>
                        <div class="wn5-setup-section-article-content">
                            <h5>Nº de grupo</h5>
                            <p>Seleccione el n&uacute;mero de grupo que se llamar&aacute; secuencialmente en orden.</p>
                        </div>
                        <div class="wn5-setup-section-article-content">
                            <h5>Tiempo de permanencia</h5>
                            <p>Introduzca la cantidad de tiempo para permanecer en cada grupo.</p>
                            <p>Por ejemplo, si se selecciona &amp;apos;1&apos; para el tiempo de permanencia en el Grupo 1, permanece en el Grupo 1 durante 1 segundo y luego se mueve al siguiente grupo. &nbsp;</p>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Configuraci&oacute;n de tour</h4>
                            <p>Para llamar al Grupo 1, 2 y 3 secuencialmente y mover la c&aacute;mara, establezca lo siguiente.</p>
                            <ol>
                                <li>Seleccione &amp;apos;1&apos; en la lista desplegable del grupo.</li>
                                <li>Defina el tiempo de permanencia de la c&aacute;mara en el &amp;apos;Grupo 1&amp;apos; desde la columna <strong class="UI">[Tiempo de permanencia]</strong>.</li>
                                <li>Seleccione &amp;apos;2&apos; en la lista desplegable del grupo.</li>
                                <li>Defina el tiempo de permanencia de la c&aacute;mara en el &amp;apos;Grupo 2&amp;apos; desde la columna <strong class="UI">[Tiempo de permanencia]</strong>.</li>
                                <li>Seleccione &amp;apos;3&apos; en la lista desplegable del grupo.</li>
                                <li>Defina el tiempo de permanencia de la c&aacute;mara en el &amp;apos;Grupo 3&amp;apos; desde la columna <strong class="UI">[Tiempo de permanencia]</strong>.</li>
                                <li>Haga clic en el bot&oacute;n <strong class="UI">[Aplicar]</strong>.</li>
                            </ol>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Restablecer configuraci&oacute;n de tour</h4>
                            <ul>
                                <li>Al hacer clic en el bot&oacute;n <strong class="UI">[Eliminar]</strong>, todos los ajustes de tour se eliminar&aacute;n e inicializar&aacute;n.</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Inicio de la acci&oacute;n de tour</h4>
                            <ul>
                                <li>Haga clic en el bot&oacute;n <strong class="UI">[Iniciar]</strong>. La c&aacute;mara se mueve mientras llama a los grupos definidos secuencialmente.</li>
                            </ul>
                        </div>
                        <div class="wn5-online-help-action">
                            <h4>Detenci&oacute;n de la acci&oacute;n de tour</h4>
                            <ul>
                                <li>Haga clic en el bot&oacute;n <strong class="UI">[Detener]</strong>. La acci&oacute;n de tour se detendr&aacute;.</li>
                            </ul>
                        </div>
    </div>
</div>

<hr class="wn5-setup-hr" ng-if="TraceSupport">
<div class="wn5-setup-section" ng-if="TraceSupport">
    <div class="wn5-setup-section-heading">
        <h2><a name="trace"></a>Trazo</h2>
    </div>
    <div class="wn5-setup-section-article">
                <div class="wn5-setup-section-article-content">
                    <p>La funci&oacute;n de seguimiento es una funci&oacute;n que se utiliza para guardar la trayectoria del movimiento de la c&aacute;mara y mover la c&aacute;mara seg&uacute;n la trayectoria.</p>
                </div>
                <div class="wn5-setup-section-article-content">
                    <h3>Configuración de rastreo</h3>
                    <p>Puede configurar una trayectoria de trazo y de inicio o final utilizando la funci&oacute;n de trazo. Al configurar una trayectoria de trazo, puede incluir las ubicaciones preajustadas en la trayectoria de trazo. Las ubicaciones preajustadas pueden definirse en la pesta&ntilde;a <strong class="UI">[<a href="#preset">Preajuste</a>]</strong>.</p>
                </div>
                    <div class="wn5-online-help-action">
                        <h4>Establecimiento de la trayectoria de seguimiento</h4>
                        <ol>
                            <li>Seleccione el n&uacute;mero de trazo a definir.</li>
                            <li>Haga clic en el bot&oacute;n <strong class="UI">[Definir]</strong> y defina la trayectoria tal como se explica a continuaci&oacute;n:</li>
                            <ul>
                                <li>Utilice los botones de direcci&oacute;n en la pantalla del v&iacute;deo <span class="tui tui-wn5-ptz-handle"></span> para configurar los valores de panor&aacute;mica, inclinaci&oacute;n y el zoom, y definir la trayectoria que desee guardar.</li>
                                <li>Para incluir una ubicaci&oacute;n predefinida en la trayectoria, escoja el n&uacute;mero de la ubicaci&oacute;n preajustada que desee desde <strong class="UI">[Lista de preajustes]</strong> y haga clic en <strong class="UI">[Ir]</strong>.</li>
                            </ul>
                            <li>Cuando vuelva a hacer clic en el bot&oacute;n <strong class="UI">[Definir]</strong>, la trayectoria de trazo se guardar&aacute; con el n&uacute;mero de trazo correspondiente.</li>
                        </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>Inicio de la acci&oacute;n de seguimiento</h4>
                        <ol>
                            <li>Seleccione el n&uacute;mero de trazo a manejar.</li>
                            <li>Haga clic en el bot&oacute;n <strong class="UI">[Iniciar]</strong>. La c&aacute;mara se mueve de acuerdo con la trayectoria de movimiento definida bajo el n&uacute;mero de trazo relevante</li>
                        </ol>
                    </div>
                    <div class="wn5-online-help-action">
                        <h4>Detener la acci&oacute;n de seguimiento</h4>
                        <ol>
                            <li>Para detener la acci&oacute;n de seguimiento actualmente en funcionamiento, haga clic en el bot&oacute;n <strong class="UI">[Detener]</strong>.</li>
                        </ol>

                    </div>
    </div>
</div>


                                <hr class="wn5-setup-hr">
                                <div class="wn5-setup-section">
                                    <div class="wn5-setup-section-heading">
                                        <h2><a name="autorun"></a>Ejecuci&oacute;n autom&aacute;tica</h2>
                                    </div>
                                    <div class="wn5-setup-section-article">
                                        <div class="wn5-setup-section-article-content">
                                            <p>La ejecuci&oacute;n autom&aacute;tica es una funci&oacute;n que se utiliza para ejecutar una acci&oacute;n especificada de manera avanzada autom&aacute;ticamente si el usuario no hace funcionar la c&aacute;mara durante un cierto per&iacute;odo de tiempo. &nbsp;</p>
                                        </div>
                                  <div class="wn5-setup-section-article-content">
                                            <h3>Modo</h3>
                                                    <p>Puede seleccionar una funci&oacute;n que desee ejecutar autom&aacute;ticamente y especificar un ajuste detallado.</p>
                                                    <ul>
                                                        <li><strong class="UI">Des</strong>: No se utiliza la funci&oacute;n de ejecuci&oacute;n autom&aacute;tica.</li>
                                                        <li><strong class="UI">Inicio</strong>: La c&aacute;mara se mueve a la posici&oacute;n de inicio. Puede definir la posici&oacute;n de inicio desde la etiqueta <a class="wn5-online-help-link" href="ptzInfoSetup.html#preset" ng-href="#/help/ptzSetup_ptzInfoSetup?#preset"><strong class="UI">[Preajuste]</strong></a>.</li>
                                                        <li><strong class="UI">Preajuste</strong>: Se desplaza al n&uacute;mero de preajuste relevante. Puede ajustar el tiempo para que la c&aacute;mara se mueva al preajuste y al n&uacute;mero de posici&oacute;n de preajuste donde la c&aacute;mara se mover&aacute;.</li><!--   <ul>
                                                            <li><strong class="UI">시간</strong>: <u>프리셋 위치로 자동으로 이동하는 시간을 설정합니다.</u></li>
                                                            <li><strong class="UI">프리셋</strong>: 카메라가 이동할 프리셋 위치 번호를 선택합니다. </li>
                                                        </ul> --><li><strong class="UI">Oscilaci&oacute;n</strong>: Ejecuta autom&aacute;ticamente la acci&oacute;n de oscilaci&oacute;n. Usted puede definir la hora para ejecutar una acci&oacute;n de oscilaci&oacute;n autom&aacute;ticamente y el modo de oscilaci&oacute;n.</li><!--  <ul>
                                                            <li><strong class="UI">시간</strong>: <u>스윙 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                                                            <li><strong class="UI">스윙 모드</strong>: 스윙 동작이 실행될&nbsp;카메라의 팬이나 틸트&nbsp;동작만으로 이동할지 팬과 틸트 모든 동작으로 이동할지 선택합니다.</li>
                                                        </ul> --><li><strong class="UI">Grupo</strong>: Ejecuta la acci&oacute;n de grupo autom&aacute;ticamente. Puede definir la hora para ejecutar autom&aacute;ticamente una acci&oacute;n de grupo y el n&uacute;mero de grupo. Puede configurar la acci&oacute;n de grupo detallada desde la pesta&ntilde;a <a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[Grupo]</strong></a>.</li><!-- <ul>
                                                            <li><strong class="UI">시간</strong>: <u>그룹 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                                                            <li><strong class="UI">그룹</strong>: 그룹 번호를 선택합니다. 그룹은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#group" ng-href="#/help/ptzSetup_ptzInfoSetup?#group"><strong class="UI">[그룹] </strong>탭</a>에서 설정할 수 있습니다. </li>
                                                        </ul> --><li><strong class="UI">Tour</strong>: La acci&oacute;n de tour se ejecutar&aacute; autom&aacute;ticamente.</li><!-- <ul>
                                                            <li><strong class="UI">시간</strong>: <u>투어 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                                                        </ul> --><li><strong class="UI">Trazo</strong>: La acci&oacute;n de seguimiento se ejecutar&aacute; autom&aacute;ticamente. Puede definir la hora para ejecutar autom&aacute;ticamente la acci&oacute;n de seguimiento y el n&uacute;mero de trazo. Puede definir la acci&oacute;n de seguimiento detallada desde la pesta&ntilde;a <a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">[Seguimiento]</strong></a>.</li><!--  <ul>
                                                           <li><strong class="UI">시간</strong>: <u>추적 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                                                            <li><strong class="UI">그룹</strong>: 추적 번호를 선택합니다. 추적 상세 기능은&nbsp;<a class="wn5-online-help-link" href="ptzInfoSetup.html#trace" ng-href="#/help/ptzSetup_ptzInfoSetup?#trace"><strong class="UI">[추적] 탭</strong></a>에서 설정할 수 있습니다.</li>
                                                        </ul> --><li><strong class="UI">Panor&aacute;mica autom.</strong>: Ejecuta la acci&oacute;n para girar 360 grados en la direcci&oacute;n de panor&aacute;mica autom&aacute;ticamente. Puede definir el tiempo para ejecutar la acci&oacute;n autom&aacute;ticamente, la velocidad de giro de la c&aacute;mara en la direcci&oacute;n de panor&aacute;mica y el &aacute;ngulo de fijaci&oacute;n de la inclinaci&oacute;n. Por ejemplo, si &amp;apos;30&apos; est&aacute; definido para el rango de inclinaci&oacute;n, el rango de inclinaci&oacute;n se mantendr&aacute; a 30 grados.</li><!--  <ul>
                                                            <li><strong class="UI">시간</strong>: <u>오토팬 동작이 자동으로 실행되는 시간을 설정합니다.</u></li>
                                                            <li><strong class="UI">속도</strong>: 카메라가 팬 방향으로 회전하는 속도를 설정합니다.</li>
                                                            <li><strong class="UI">틸트 </strong>각도: 틸트 움직임 <u>최대</u> 각도를 설정합니다. </li>
                                                        </ul>  --><li><strong class="UI">Programaci&oacute;n</strong>: Puede definir una acci&oacute;n para que se produzca autom&aacute;ticamente en el d&iacute;a de la semana y la hora establecidos.</li>
                                                    </ul>
													
                               </div>
                                                <div class="wn5-online-help-action">
                                                    <h4>Ajuste de la c&aacute;mara para que se inicie autom&aacute;ticamente de acuerdo con la programaci&oacute;n</h4>
                                                    <ol>
                                                        <li>Seleccione <strong class="UI">[Programaci&oacute;n]</strong> desde <strong class="UI">[Modo]</strong>.</li>
                                                        <li>Haga clic en una hora para ejecutar la c&aacute;mara autom&aacute;ticamente.</li>
                                                        <li>Seleccione una acci&oacute;n para que se ejecute autom&aacute;ticamente desde <strong class="UI">[Modo]</strong> del cuadro de di&aacute;logo de <strong class="UI">[Programaci&oacute;n]</strong>. Las opciones detalladas var&iacute;an dependiendo del modo seleccionado. Defina cada opci&oacute;n.</li>
                                                        <li>Haga clic en el bot&oacute;n <strong class="UI">[Aceptar]</strong>.</li>
                                                    </ol>
                                                    <p>El tiempo definido para la acci&oacute;n de inicio autom&aacute;tico se mostrar&aacute; en el calendario. Al hacer clic en el bot&oacute;n <strong class="UI">[Borrar]</strong>, se eliminar&aacute;n todas las horas definidas.</p>
                                                </div>
                                    </div>
                                </div>

<hr class="wn5-setup-hr">