.kind-responsive-live {

    #cm-bottom-menu {
        #cm-icon-list {
            width: auto;
            left: 50%;
            transform: translateX(-50%);

            .cm-col {
                float: right;
                height: 50px;
            }

            .cm-vline {
                float: left;
                width: 1px;
                height: 26px;
                border: none;
                left: calc(~"50% - 1px");
                background: #bbb;
                margin-top: 12px;
                z-index: 1;
            }

            .live-channel-selector {
                border: solid 1px @theme-color-gray-12;
                border-right: 0;
                padding: 15px 25px 0 25px;
            }

            #live-alarm-volume {
                float: left;

                #alarm {
                    float: left;
                }
            }

            .live-controller {
                max-height: 50px;
                height: 50px;
                float: left;
                margin: 0 10px;

                li {
                    margin: 0 10px;
                    float: left;
                }
            }
        }

        #cm-menu-content {
            .cm-col {
                float: left;
                display: inline-table;
                margin: 0 5px;

                h2 {
                    width: auto;
                }
            }

            & > * {
                margin: 0 auto;
                max-width: 1024px;
            }

            /* table element */
            .live-table{
                width: 100%;
                position: relative;
                word-break: break-all;
                border-collapse: collapse;

                th {
                    text-align: center;
                    font-weight: normal;
                }

                th, td {
                    padding: 0.5em 1em;
                }
            }


            #live-setup {
                .live-setup-col {
                    width: calc(~"50% - 10px");
                    min-width: 360px;
                    padding: 0 20px;
                    display: inline-table;
                    text-align: left;

                    h2 span {
                        margin-right: 5px;
                    }

                    #live-profile {
                        height: 30px;
                        line-height: 30px;
                        margin-top: -8px;
                    }
                }

        
                .live-profile {
                    min-width: 160px;
                    height: 30px;
                    line-height: 30px;
                    margin-top: -8px;
                }

                .live-table {
                    th {
                        width: 35%;
                        text-align: left;
                    }

                    td {
                        width: 65%;
                    }

                    tr {
                        height: 33px;
                    }
                } 
            }

            #cm-ptz {
                #ptz-components {
                    #cm-live-ptz-control {
                        width: 30%;
                        float: left;
                        line-height: 0em;

                        & > div {
                            height: 160px;
                            display: inline-table;
                            position: relative;
                        }

                        .cm-ptz-control-left {
                            width: 25px;
                            margin-right: 10px;

                            button {
                                position: absolute;
                                left: 0;
                            }

                            .tui {
                                color: @theme-ptz-normal-icon;
                            }

                            .cm-near {
                                top: 0;
                            }
                            /* aa34bcb: Live PTZ UI */
                            .cm-far {
                                top: 42px;
                            }

                            .cm-at {
                                .tui-ch-live-ptz-tracking-auto-on{
                                    color: @theme-ptz-active-icon;
                                }
                            }

                            .cm-ptz-at{
                                top: 84px;
                            }
                            
                            .cm-home{
                                top: 126px;
                                bottom: 0;
                            }
                        }  


                        #cm-ptz-control-box {
                            width: 160px;
                            height: 160px;
                            background-color:@theme-ptz-white;
                            position: relative;
                            border: 1px solid @theme-color-gray-12;
                            
                            .cm-ptz-line {
                                border: 1px dashed @theme-color-gray-12;
                                position: absolute;
                                z-index: 1;

                                &.horizontal {
                                    width: 100%;
                                    height: 0;
                                    top: calc(~"50% - 1px");
                                    left: 0;
                                }

                                &.vertical {
                                    width: 0;
                                    height: 100%;
                                    top: 0;
                                    left: calc(~"50% - 1px");
                                }
                            }

                            #cm-ptz-control-move-btn {
                                width: 24px;
                                height: 24px;
                                line-height: 24px;
                                position: absolute;
                                top: calc(~"50% - 12px");
                                left: calc(~"50% - 12px");
                                z-index: 2;
                                font-size: 24px;
                            }
                        }  

                        .cm-ptz-control-right {
                            width: 25px;
                            margin-left: 10px;

                            button {
                                position: absolute;
                                left: 0;
                            }

                            .cm-zoom-in {
                                top: 0;
                                left: -3px;
                            }

                            .cm-zoom-out {
                                top: 126px;
                                left: -3px;
                            }
                        }

                        #cm-ptz-zoom-slider {
                            width: 2px;
                            height: 91px;
                            position: absolute;
                            top: 35px;
                            left: 8px;
                            margin: 0;
                                
                            .ui-state-default {
                                left: -6px;
                            }

                            .ui-slider:hover .ui-state-default {
                                left: -7px;
                            }
                        }
                    } 

                    #live-ptz-add-form {
                        width: 40%;
                        float: left;
                        box-sizing: border-box;
                        text-align: left;
                        background: @theme-color-white;
                        border: 1px solid @theme-color-gray-25;
                        padding: 1em 1.4em;
                        min-width: 360px;

                        & > .form-group {
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                                padding: 0;
                            }

                            & > span {
                                width: 100px;
                                float: left;
                                line-height: 30px;
                                color: @theme-color-black-100;
                            }

                            & > div {
                                width: calc(~"100% - 100px");
                                display: inline-block;

                                input, select {
                                    float: left
                                }
                            }

                            & > div:first-child {
                                margin-left: 100px;
                            }
                        }
                    }

                    #cm-ptz-tabs {
                        width: 40%;
                        float: left;
                        box-sizing: border-box;
                        text-align: left;
                        padding: 0;

                        select{
                            margin-top: 5px;
                            min-width: 200px;
                        }

                        &.ui-tabs .ui-tabs-nav{
                            padding: 0;

                            li {
                                min-width: 20%;

                                &:last-child {
                                    border-right: none;
                                }
                            }
                        }

                        &.ui-widget-content{
                            background: @theme-color-white;
                        }

                        .ui-widget-header{
                            border: none;
                            border-bottom: 1px solid @theme-color-gray-25;
                            background: none;
                            text-transform: none;
                        }

                        .ui-state-default{
                            margin-right: 0;
                            border-top: none;
                            border-left: none;
                            border-bottom: none;
                            border-right: 1px solid @theme-color-gray-25;

                            :last-of-type {
                                border-right: none;
                            }

                            &.ui-state-active {
                                border-bottom: none;
                            }

                            a {
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: @theme-color-black-100;
                                font-weight: normal;
                            }
                        }
                    }


                    #cm-ptz-zoom {
                        width: 30%;
                        float: left;
                        text-align: left;
                        padding: 0 20px;
                        font-size: 12px;
                    }

                    &.ptz-zoom {
                        max-width: 600px;
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);

                        #cm-live-ptz-control {
                            width: 40%;
                        }

                        #cm-ptz-tabs {
                            width: 60%;
                        }
                    }
                }
            }

            #live-status {
                .live-status-col {
                    width: calc(~"50% - 10px");
                    padding: 0 20px;
                    text-align: left;
                    display: inline-table;

                    .live-table {
                        ::-webkit-scrollbar {
                            width: 12px;
                            height: 1em;
                        }
                        ::-webkit-scrollbar-button {
                            &:vertical {
                                background: #666;
                            }
                        }
                        ::-webkit-scrollbar-track-piece {
                            background: #f1f1f1;
                        }
                        ::-webkit-scrollbar-thumb {
                            background: #c1c1c1;
                        }​

                        /* 
                            thumb 이후에 스타일이 죽습니다 
                            지우면 안됩니다
                        */
                        dummy {}

                        th, td {
                            width: 1%;
                            box-sizing: border-box;
                        }

                        thead {
                            display: block;

                            & > tr > *:last-child {
                                width: 1.23% !important;
                            }
                        }

                        tbody {
                            width: 100%;
                            height: 95px;
                            position: relative;
                            max-height: 95px;
                            display: block;
                            overflow: auto;
                            overflow-x: hidden;
                            overflow-y: scroll;
                        }
                    } 
                } 
            } 


            #cm-display-slider {
                width: 100%;
                margin-top: -5px;

                li {
                    width: 100%;
                    height: 34px;
                    line-height: 34px;

                    h3 {
                        display: inline-block;
                        width: 90px;
                        font-size: 12px;
                        color: @theme-color-black-100;
                        font-weight: normal;
                    }

                    .cm-slider {
                        display: inline-block;
                        width: calc(~"100% - 220px");
                        vertical-align: top;
                    }

                    span[class^="cm-"] {
                        display: inline-block;
                        width: 20px;
                        margin: 1px 5px 0;
                        text-align: center;
                    }

                    input[type="number"] {
                        width: 50px;
                        height: 30px;
                        text-align: center;
                        padding: 0;
                        margin-top: 2px;
                        float:right;
                    }
                }  

                .ui-state-default {
                    top: 12px;
                }

                li[data-type="SharpnessLevel"] {
                    .cm-checkbox-wrap {
                        display: inline-block;
                    }

                    .cm-slider {
                        width: calc(~"100% - 245px");
                    }
                }
            } 
        }


        &.cm-full-menu {
            #cm-icon-list {
                .live-channel-selector {
                    border: none;
                }
            }
            
            .ui-widget-content {
                color: @theme-color-white;
            }

    
            .live-table {
                &::-webkit-scrollbar {
                    opacity: 0.5;
                }
                &::-webkit-scrollbar-thumb {
                    opacity: 0.2;
                }​

                /* 
                    thumb 이후에 스타일이 죽습니다 
                    지우면 안됩니다
                */
                dummy {}
            }

            #cm-menu-content {
                #cm-ptz {
                    #ptz-components {
                        #live-ptz-add-form {
                            background: @theme-color-black-85;
                            border: 1px solid @theme-color-black-80;
                            color: @theme-color-white;

                            .form-group > span {
                                color: @theme-color-white;
                            }

                            .form-group {
                                .form-control {
                                    background: @theme-color-black-85;
                                    border: 1px solid @theme-color-gray-100;
                                }
                            }
                        }

                        #cm-ptz-tabs {
                            color: @theme-color-white;
                            border: 1px solid @theme-color-black-80;
                            background: @theme-color-black-85;
                            
                            & > ul {
                                border-bottom: 1px solid @theme-color-black-80;
                                
                                li {
                                    background: @theme-color-black-85;
                                    border-color: @theme-color-black-80;
                                }

                                li.ui-tabs-active {
                                    background: @theme-color-black-90;
                                }

                                .ui-state-default a{
                                    color: @theme-color-white;
                                }
                            }

                            & > div {
                                background: @theme-color-black-90;
                            }
                            
                            #live-ptz-preset {
                                color: @theme-color-white;
                            }
                        }
                    }
                }
            }
        }
    } 

    @media screen and (max-width:899px) {
        &:not(.land-scape) {
            .cm-pc { display: none !important; }
            .cm-mobile {display: inherit !important; }

            #cm-bottom-menu {
                height: 150px;
                
                #cm-icon-list {
                    max-height: none;
                    height: 150px;

                    #pb-channel-holder > div,
                    .live-channel-selector {
                        width: 100%;
                        height: 40px;
                        padding: 0;
                        text-align: center;
                        border: none;

                        & > * {
                            display: inline-table;
                            float: none;
                        }

                        & > button {
                            margin-top: 8px;
                        }
                    }

                    .info-toggle {
                        width: 100vw;
                        position: absolute;
                        left: 50%;
                        bottom: -1px;
                        transform: translateX(-50%);
                    }

                    .live-controller {
                        position: relative;
                        max-height: 50px;
                        width: 100%;
                        height: 100px;
                        display: inline-table;

                        li {
                            display: inline-table;
                            float: none;
                            line-height: 0;
                            position: relative;
                            top: 10px;
                        }
                    }

                    #live-alarm-volume {
                        width: auto;
                        position: relative;
                        transform: translateX(-50%);
                        left: 50%;

                        & > .cm-col {
                            margin: 0 10px;
                        }
                    }
                    
                    .cm-vline {
                        display: none;
                    }

                    .cm-col {
                        margin: 0;
                    }

                    .cm-list-2 {
                        transform: translateY(-50px);
                    }

                    .cm-vline {
                        display: none;
                    } 
                }

                &.cm-full-menu {
                    height: 150px;

                    &.cm-show-menu {
                        height: 350px;
                    }
                }

                &.cm-show-menu {
                    height: 360px;
                }

                #cm-menu-content {
                    #cm-ptz #ptz-components {
                        #cm-live-ptz-control {
                            width: auto;
                            margin: 0 auto;
                        }
                    
                        #live-ptz-add-form,
                        #cm-ptz-tabs,
                        #cm-ptz-zoom {
                            width: 80%;
                            margin: 20px 0;
                        }

                        #live-ptz-zoom {
                            width: 80%;
                            margin: 20px 0;
                            padding: 0;
                        }
                    }

                    #live-setup {
                        .live-setup-col {
                            width: 80%;
                            min-width: 360px;
                            padding: 0;

                            &:nth-child(n+2) {
                                margin: 20px 0 10px 0;
                            }
                        }
                    }

                    .cm-profile-table,
                    #cm-display-slider {
                        min-width: 0;
                    }
                    
                    #live-status {
                        .live-status-col {
                            width: 80% !important;
                            min-width: 360px;
                            padding: 0;
                            position: relative;
                            overflow-x: scroll;

                            &:nth-child(n+2) {
                                margin: 20px 0;
                            }
                        }
                    }
                } 

                #cm-icon-list {
                    .cm-small-center {
                        width: auto;
                        margin: 0 auto;

                        .cm-col {
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }

                    .cm-list-2 {
                        transform: translateY(-50px);
                    }
                } 
            } 


            #ptz-components {
                position: relative;

                & > .cm-col {
                    width: 80%;
                    margin: 20px 0;
                    left: 50%;
                    position: relative;
                    transform: translateX(-50%);

                    &#cm-live-ptz-control {
                        margin-top: 0px;
                    }
                }

                /* ptz controller with tables */
                & > div {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);

                    /* tables */
                    /*
                    &#cm-ptz-tables {
                        margin-top: 20px !important;
                    }
                    */
                }
            }
        }
    } 


    &.land-scape {
        #cm-video {
            width: calc(~"100% - 70px");
            height: calc(~"100% - 100px");
            float: left;
            margin-bottom: 0;
        }

        #cm-bottom-menu {
            height: 50px !important;

            #cm-icon-list {
                width: 100%;
                height: 50px !important;
                border-top: 1px solid @theme-color-gray-33;
                line-height: 50px;

                .cm-vline {
                    margin: 0 5px;
                    float: none;
                    display: inline-table;
                }

                #pb-channel-holder {
                    & > div {
                        padding: 0 20px;
                        height: 26px;
                        border: none;
                        border-right: 1px solid @theme-color-gray-33;
                        margin-top: 12px;

                        & > * {
                            margin-top: 2px;
                        }
                    }
                }

                .info-toggle {
                    position: fixed;
                    top: calc(-40vh);
                    left: 100%;
                    transform: translate(-100%, -50%);
                    width: 60px;
                    height: 150px;

                    li {
                        width: 61px;
                        float: left;
                        border: 1px solid @theme-color-gray-12;
                        
                        &:not(:first-child) {
                            border-top: none;
                        }

                        &.cm-active {
                            border-right: 1px solid @theme-color-black-100;
                        }
                    }
                }

                .live-controller {
                    float: none;
                    display:inline;
                    margin: 0;

                    li {
                        line-height: 50px;
                        top: 0;
                        margin: 0 5px;
                        float:none;
                        display: inline-table;
                    }
                }

                #live-alarm-volume {
                    float: none;
                    display: inline;

                    #alarm {
                        margin: 0 10px;
                        float: none;
                        display: inline-table;
                    }

                    #volume-control {
                        margin: 0;
                        float: none;
                        display: inline-table;
                    }
                }
            }

            #cm-menu-content {
                position: fixed;
                width: 400px;
                height: 100%;
                top: 50px;
                left: 100%;
                height: calc(~"100% - 100px");
        
                .live-status-col,
                 #live-setup .live-setup-col {
                    width: 80%;
                    min-width: 360px;
                    margin: 10px 0;
                    position: relative;
                }
            }

            &.cm-show-menu {
                #cm-menu-content {
                    left: calc(~"100% - 400px");
                }

                #cm-icon-list .info-toggle {
                    left: calc(~"100% - 400px");
                }
            }

            &.cm-full-menu {
                #cm-menu-content {
                    top:0;
                    height: calc(~"100% - 50px");
                    border-left: 1px solid @theme-color-black-80;
                }

                #cm-icon-list .info-toggle {
                    top: calc(~"50% - 25px");
                }

                #cm-icon-list {
                    border-top: 1px solid @theme-color-black-80;
                }
            }
        }


        #cm-ptz #ptz-components {
            padding: 0;

            & > .cm-col {
                border: 1px solid @theme-color-gray-25 !important;
                left: 50%;
                position: relative;
                transform: translateX(-50%);
            }

            /* ptz controller with tables */
            & > div {
                border: none !important;
                margin: 10px 0 !important;
                position: relative;
                left: 50%;
                transform: translateX(-50%);

                &#cm-live-ptz-control {
                    width: auto !important;
                    margin: 0 auto !important;
                }

                #live-ptz-add-form,
                &#cm-ptz-tabs {
                    width: 80% !important;
                    margin: 20px 0 !important;
                }

                &#live-ptz-zoom {
                    width: 80% !important;
                    margin: 20px 0 !important;
                    padding: 0 !important;
                }
            }
        } 
    }

    @media(min-width:2300px) and (min-height:1294px) {
        #cm-bottom-menu {
            height: 75px;

            &.cm-full-menu {
                height: 75px;

                #cm-menu-content {
                    height: 275px;
                }
                
                &.cm-show-menu {
                    height: 350px;
                }
            }


            #cm-icon-list {
                height: 75px;

                .cm-vline {
                    height: 39px;
                }

                .info-toggle {
                    li {
                        width: 93px;
                        height: 75px;

                        &:first-of-type {
                            width: 93px;
                        }

                        button {
                            height: 75px;
                            font-size: 40px;
                        }
                    }
                }

                .live-controller {
                    li {
                        margin: 0 15px;

                        .cm-icon-button-b {
                            font-size: 40px;
                            margin-top: 10px;
                        }
                    }
                }

                #live-alarm-volume {
                    .cm-col {
                        height: 75px;
                        margin: 0 30px;

                        .cm-icon-button-s {
                            font-size: 36px;
                            margin-top: 10px;
                        }

                        #cm-speaker-slider {
                            width: 150px;
                            margin-left: 22.5px;

                            .ui-widget {
                                &.ui-slider-horizontal {
                                    padding-top: 29px;

                                    .ui-state-default {
                                        width: 18px !important;
                                        height: 18px !important;
                                        top: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #cm-menu-content {
                height: 300px;

                & > * {
                    max-width: 1400px;
                }

                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                #live-setup {
                    .live-setup-col {
                        width: calc(~"60% - 10px");
                        margin-top: 20px;

                        #live-profile {
                            height: 40px;
                            font-size: 16px;
                            margin-top: -6px;
                        }
                    }

                    .live-table {
                        font-size: 16px;
                        height: 180px;
                    }
                }

                #live-status {
                    font-size: 16px;

                    .live-table {
                        th, td {
                            padding: 10px 10px;
                        }

                        tbody {
                            height: 150px !important;
                            max-height: 150px !important;
                        }
                    }
                }

                #cm-display-slider {
                    li {
                        height: 25px;
                        line-height: 36px;
                        margin-top: 18px;

                        h3 {
                            font-size: 16px;
                        }

                        > span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }



    @media(min-width:3000px) and (min-height:1688px) {
        #cm-bottom-menu {
            height: 87.5px;

            &.cm-full-menu {
                height: 87.5px;
                
                &.cm-show-menu {
                    height: 435px;
                }
            }

            #cm-menu-content {
                height: 350px;

                & > * {
                    max-width: 1900px;
                }

                h2 {
                    font-size: 36px;
                    margin-bottom: 10px;
                }

                #live-setup {
                    .live-setup-col {
                        width: calc(~"60% - 10px");


                        #live-profile {
                            height: 60px;
                            font-size: 21px;
                            margin-top: -8px;
                            padding-right: 25px;
                        }
                    }

                    .live-table {
                        font-size: 22px;
                        height: 240px;

                        th {
                            width: 26%;
                        }

                        td {
                            width: 74%;
                        }
                    }
                }

                #live-status {
                    font-size: 21px;

                    .live-table {
                        th, td {
                            padding: 15px 10px;
                        }

                        tbody {
                            height: 180px !important;
                            max-height: 180px !important;
                        }
                    }
                }
            }
            

            #cm-icon-list {
                height: 87.5px;

                .cm-vline {
                    height: 56px;
                }

                .info-toggle {
                    li {
                        width: 103px;
                        height: 87.5px;

                        &:first-of-type {
                            width: 103px;
                        }

                        button {
                            height: 87.5px;
                            font-size: 50px;
                        }
                    }
                }

                .live-controller {
                    li {
                        margin: 0 22px;

                        .cm-icon-button-b {
                            font-size: 50px;
                            margin-top: 18px;
                        }
                    }
                }



                #live-alarm-volume {
                    #alarm {
                        margin: 0 30px;
                        padding-top: 18px;

                        .cm-icon-button-b {
                            font-size: 50px;
                            margin-top: 18px;
                        }

                        .cm-alarm-button {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .cm-col {
                        height: 75px;
                        margin: 0 30px;

                        .cm-icon-button-s {
                            font-size: 48px;
                            margin-top: 18px;
                        }

                        #cm-speaker-slider {
                            width: 175px;
                            margin-left: 22.5px;

                            .ui-widget {
                                &.ui-slider-horizontal {
                                    padding-top: 37px;

                                    .ui-state-default {
                                        width: 18px !important;
                                        height: 18px !important;
                                        top: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
