.kind-responsive-live {
    

    #cm-bottom-menu {
        #live-icon-list {
            width: auto;
            height: 50px;
            line-height: 50px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            z-index: 1;

            .ui-state-default{
                top: 13px;

                &:focus {
                    outline: 0;
                }
            }  

            .ui-slider-horizontal {
                &:hover {
                    .ui-state-default {
                        top: 13px;
                    } 
                } 

                &.ui-slider-disabled {
                    .ui-state-default {
                        top: 13px;
                    }  
                } 
            }  

            .cm-opacity {
                .ui-slider-horizontal {
                    .ui-state-default {
                        top: 13px;
                    } 
                } 
            }

            .cm-vline {
                width: 1px;
                height: 26px;
                float: left;
                background-color: #bbb;
                border: none;
                left: calc(~"50% - 1px");
                margin-top: 12px;
                z-index: 1;
            }


            [id$="slider"] {
                display: inline-block;
                width: 100px;
                vertical-align: top;
                margin-left: 15px;
                margin-top: 5px;
            } 

            .cm-col {
                float: right;
                height: 50px;
            }

            .live-channel-selector {
                border: solid 1px @theme-light-tab-border;
                border-right: 0;
                padding: 15px 25px 0 25px;
            }

            #live-select-box {
              float: left;
              height: 50px;
              padding: 8px 25px;
              
              > select {
                width: 160px;
              }
            }

            #live-controller {
                max-height: 50px;
                height: 50px;
                float: left;
                margin: 0 10px;

                li {
                    margin: 0 10px;
                    float: left;
                }
            }

            #live-alarm-volume {
                float: left;

                #alarm {
                    float: left;

                    .cm-alarm-button {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        padding: 0;
                        margin-top: 16px;
                        border-radius: 100%;

                        &:hover {
                            background-color: #4c4c4c !important;
                            border: 1px solid #4c4c4c !important;
                            color: #fff !important;
                        }

                        &:not(:last-of-type) {
                            margin-right : 10px;
                        }

                        &.cm-on {
                            background-color: #000 !important;
                            border: 1px solid #000 !important;
                            color: #fff !important;
                        } 

                        &[disabled="disabled"] {
                            background-color: #fff !important;
                            border: 1px solid #d2d2d2 !important;
                            color: #d2d2d2 !important;
                        } 
                    } 
                }
            }
        }

        #cm-menu-content {
            .cm-col {
                float: left;
                display: inline-table;
                margin: 0 5px;

                h2 {
                    width: auto;
                }
            }

            & > * {
                margin: 0 auto;
                max-width: 1024px;
            }

            .live-table {
                width: 100%;
                position: relative;
                word-break: break-all;
                border-collapse: collapse;

                th {
                    text-align: center;
                    font-weight: normal;
                }

                th, td {
                    padding: 0.5em 1em;
                }
            }

            #live-setup {
                .live-setup-col {
                    width: calc(~"50% - 10px");
                    min-width: 360px;
                    padding: 0 20px;
                    display: inline-table;
                    text-align: left;

                    #live-profile {
                        height: 30px;
                        line-height: 30px;
                        margin-top: -8px;
                    }
                }

        
                .live-profile {
                    min-width: 160px;
                    height: 30px;
                    line-height: 30px;
                    margin-top: -8px;
                }

                .live-setup-table {
                    tr {
                        height: 33px;

                        th {
                            width: 35%;
                            text-align: left;
                        }

                        td {
                            width: 65%;
                        }
                    }
                } 
            }

            #live-ptz {
                #ptz-components {
                    #cm-live-ptz-control {
                        width: 30%;
                        float: left;
                        line-height: 0em;

                        & > div {
                            height: 160px;
                            display: inline-table;
                            position: relative;
                        }

                        .cm-ptz-control-left {
                            width: 25px;
                            margin-right: 10px;

                            button {
                                position: absolute;
                                left: 0;
                            }

                            .tui {
                                color: @theme-ptz-normal-icon;
                            }

                            .cm-near {
                                top: 0;
                            }
                            /* aa34bcb: Live PTZ UI */
                            .cm-far {
                                top: 42px;
                            }

                            .cm-at {
                                .tui-ch-live-ptz-tracking-auto-on{
                                    color: @theme-ptz-active-icon;
                                }
                            }

                            .cm-ptz-at{
                                top: 84px;
                            }
                            
                            .cm-home{
                                top: 126px;
                                bottom: 0;
                            }
                        }  


                        #cm-ptz-control-box {
                            width: 160px;
                            height: 160px;
                            background-color:@theme-ptz-white;
                            position: relative;
                            border: 1px solid @theme-ptz-white-border;
                            
                            .cm-ptz-line {
                                border: 1px dashed @theme-ptz-white-border;
                                position: absolute;
                                z-index: 1;

                                &.horizontal {
                                    width: 100%;
                                    height: 0;
                                    top: calc(~"50% - 1px");
                                    left: 0;
                                }

                                &.vertical {
                                    width: 0;
                                    height: 100%;
                                    top: 0;
                                    left: calc(~"50% - 1px");
                                }
                            }

                            #cm-ptz-control-move-btn {
                                width: 24px;
                                height: 24px;
                                line-height: 24px;
                                position: absolute;
                                top: calc(~"50% - 12px");
                                left: calc(~"50% - 12px");
                                z-index: 2;
                                font-size: 24px;
                            }
                        }  

                        .cm-ptz-control-right {
                            width: 25px;
                            margin-left: 10px;

                            button {
                                position: absolute;
                                left: 0;
                            }

                            .cm-zoom-in {
                                top: 0;
                                left: -3px;
                            }

                            .cm-zoom-out {
                                top: 126px;
                                left: -3px;
                            }
                        }

                        #cm-ptz-zoom-slider {
                            width: 2px;
                            height: 90px;
                            position: absolute;
                            top: 30px;
                            left: 8px;
                            margin: 0;
                                
                            .ui-state-default {
                                left: -6px;
                                transform: translateY(-2px);
                            }

                            .ui-slider:hover .ui-state-default {
                                left: -8px;
                            }
                        }
                    } 

                    #live-ptz-add-form {
                        width: 40%;
                        float: left;
                        box-sizing: border-box;
                        text-align: left;
                        background: @theme-background-default;
                        border: 1px solid @theme-ptz-white-form-border;
                        padding: 1em 1.4em;
                        min-width: 360px;

                        & > .form-group {
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                                padding: 0;
                            }

                            & > span {
                                width: 100px;
                                float: left;
                                line-height: 30px;
                                color: @theme-light-normal-color;
                            }

                            & > div {
                                width: calc(~"100% - 100px");
                                display: inline-block;

                                input, select {
                                    float: left
                                }
                            }

                            & > div:first-child {
                                margin-left: 100px;
                            }
                        }
                    }

                    #cm-ptz-tabs {
                        width: 40%;
                        float: left;
                        box-sizing: border-box;
                        text-align: left;
                        padding: 0;

                        select{
                            margin-top: 5px;
                            min-width: 200px;
                        }

                        &.ui-tabs .ui-tabs-nav{
                            padding: 0;

                            li {
                                min-width: 20%;

                                &:last-child {
                                    border-right: none;
                                }
                            }
                        }

                        &.ui-widget-content{
                            background: @theme-background-default;
                        }

                        .ui-widget-header{
                            border: none;
                            border-bottom: 1px solid @theme-light-slider-normal-line-bottom;
                            background: none;
                            text-transform: none;
                        }

                        .ui-state-default{
                            margin-right: 0;
                            border-top: none;
                            border-left: none;
                            border-bottom: none;
                            border-right: 1px solid @theme-light-slider-normal-line-bottom;

                            :last-of-type {
                                border-right: none;
                            }

                            &.ui-state-active {
                                border-bottom: none;
                                background-color: #fff;
                                position: relative;
                            }

                            a {
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: @theme-light-normal-color;
                                font-weight: normal;
                            }
                        }
                    }


                    #cm-ptz-zoom {
                        width: 30%;
                        float: left;
                        text-align: left;
                        padding: 0 20px;
                        font-size: 12px;
                    }

                    &.ptz-zoom {
                        max-width: 600px;
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);

                        #cm-live-ptz-control {
                            width: 40%;
                        }

                        #cm-ptz-tabs {
                            width: 60%;
                        }
                    }
                }
            }

            #live-status {
                max-width: 1100px;
                
                .live-status-col {
                    width: calc(~"50% - 10px");
                    padding: 0 20px;
                    text-align: left;
                    display: inline-table;

                    .live-status-table {
                        ::-webkit-scrollbar {
                            width: 12px;
                            height: 1em;
                        }
                        ::-webkit-scrollbar-button {
                            &:vertical {
                                background: #666;
                            }
                        }
                        ::-webkit-scrollbar-track-piece {
                            background: #f1f1f1;
                        }
                        ::-webkit-scrollbar-thumb {
                            background: #c1c1c1;
                        }​
                        

                        //  thumb 이후에 스타일이 죽습니다 
                        //  지우면 안됩니다
                        dummy { display: none; }

                        thead {
                            display: block;
                        }

                        &#cm-status-first {
                            th, td {
                                box-sizing: border-box;
                                font-size: 11px;

                                &:nth-child(1) {
                                    width: 100px;
                                }

                                &:nth-child(2) {
                                    width: 100px;
                                }

                                &:nth-child(3) {
                                    width: 120px;
                                }

                                &:nth-child(4) {
                                    width: 90px;
                                }

                                &:nth-child(5) {
                                    width: 100px;
                                }
                            }

                            th {
                                &:nth-child(1) {
                                    width: 95px;
                                }

                                &:nth-child(2) {
                                    width: 95px;
                                }

                                &:nth-child(3) {
                                    width: 115px;
                                }

                                &:nth-child(4) {
                                    width: 85px;
                                }

                                &:nth-child(5) {
                                    width: 110px;
                                }
                            }
                        }

                        &#cm-status-second {
                            th, td {
                                box-sizing: border-box;
                                font-size: 11px;

                                &:nth-child(1),
                                &:nth-child(2) {
                                    width: 120px;
                                }

                                &:nth-child(3) {
                                    width: 135px;
                                }

                                &:nth-child(4) {
                                    width: 130px;
                                }
                            }

                            th {
                                &:nth-child(1),
                                &:nth-child(2) {
                                    width: 115px;
                                }

                                &:nth-child(3) {
                                    width: 130px;
                                }

                                &:nth-child(4) {
                                    width: 140px;
                                }
                            }
                        }

                        tbody {
                            width: 100%;
                            height: 95px;
                            position: relative;
                            max-height: 95px;
                            display: block;
                            overflow: auto;
                            overflow-x: hidden;
                            overflow-y: scroll;
                        }
                    } 
                } 
            } 

            #cm-fisheye {
                width: 320px;
                display: inline-table;

                .cm-wrap{
                width: 100%;
                padding: 0 20px;
                text-align: left;
                display: inline-table;

                    h2{
                        .cm-btn-dark{
                            float: right;
                            height: 30px;
                            line-height: 28px;
                            padding: 0;
                            text-align: center;
                            font-size: 25px;

                            &.cm-reset{
                                width: 30px;
                                margin-right: 7px;
                            }

                            &.cm-reset-all{
                                width: 40px;
                            }
                        }
                    }
                    .cm-mode-wrap{
                        margin-top: 20px;

                        li{
                            width: 80px;
                            float: left;
                            text-align: left;

                            .cm-icon-button{
                                padding: 0;
                                font-size: 26px;
                                margin: 10px 0;

                                &.active{
                                color: #f37321;
                                }
                            }
                            
                            &:nth-of-type(4n){
                                width: auto;
                            }
                        }
                    }
                }
            }

            #cm-display-slider {
                width: 100%;
                margin-top: -5px;

                li {
                    width: 100%;
                    height: 34px;
                    line-height: 34px;

                    h3 {
                        display: inline-block;
                        width: 90px;
                        font-size: 12px;
                        color: @theme-light-normal-color;
                        font-weight: normal;
                    }

                    .cm-slider {
                        display: inline-block;
                        width: calc(~"100% - 220px");
                        vertical-align: top;
                    }

                    span[class^="cm-"] {
                        display: inline-block;
                        width: 20px;
                        margin: 1px 5px 0;
                        text-align: center;
                    }

                    input[type="number"] {
                        width: 50px;
                        height: 30px;
                        text-align: center;
                        padding: 0;
                        margin-top: 2px;
                        float:right;
                    }
                }  

                .ui-state-default {
                    top: 15px;
                }

                li[data-type="SharpnessLevel"] {
                    .cm-checkbox-wrap {
                        display: inline-block;
                    }

                    .cm-slider {
                        width: calc(~"100% - 245px");
                    }
                }
            } 
        }


        &.cm-full-menu {
            #live-icon-list {
                display: block;
                clear: both;

                .live-channel-selector {
                    border: none;
                }

                .cm-vline {
                    background : #333;
                }

                .cm-alarm-button {
                    border: 1px solid #a5a5a5 !important;

                    &:hover {
                        background-color: #d2d2d2 !important;
                        border: 1px solid #d2d2d2 !important;
                        color: #000 !important;
                    }

                    &.cm-on {
                        background-color: #e9e9e9 !important;
                        border: 1px solid #e9e9e9 !important;
                        color: #000 !important;
                    }
                }
            }
            
            .ui-widget-content {
                color: @theme-color-gray-2;
            }

    
            .live-table {
                &::-webkit-scrollbar {
                    opacity: 0.5;
                }
                &::-webkit-scrollbar-thumb {
                    opacity: 0.2;
                }​

                //  thumb 이후에 스타일이 죽습니다 
                //  지우면 안됩니다
                dummy { display: none; }
            }

            #cm-menu-content {
                #live-ptz {
                    #ptz-components {
                        #live-ptz-add-form {
                            background: @theme-ptz-dark-form-background;
                            border: 1px solid @theme-ptz-dark-form-border;
                            color: @theme-dark-normal-color;

                            .form-group > span {
                                color: @theme-dark-normal-color;
                            }

                            .form-group {
                                .form-control {
                                    background: @theme-ptz-dark-form-background;
                                    border: 1px solid @theme-color-gray-100;
                                }
                            }
                        }

                        #cm-ptz-tabs {
                            color: @theme-dark-tab-color;
                            border: 1px solid @theme-dark-tab-border;
                            background: @theme-dark-tab-unselected;
                            
                            & > ul {
                                border-bottom: 1px solid @theme-dark-tab-border;
                                
                                li {
                                    background: @theme-dark-tab-unselected;
                                    border-color: @theme-dark-tab-border;
                                }

                                li.ui-tabs-active {
                                    background: @theme-dark-tab-select;
                                }

                                .ui-state-default a{
                                    color: @theme-dark-tab-color;
                                }
                            }

                            & > div {
                                background: @theme-dark-tab-select;
                            }
                            
                            #live-ptz-preset {
                                color: @theme-dark-tab-color;
                            }
                        }
                    }
                }
            }
        }
    } 


    @media screen and (max-width:899px) {
        &:not(.land-scape) {
            .cm-pc { display: none !important; }
            .cm-mobile {display: inherit !important; }

            #cm-bottom-menu {
                height: 150px;
                
                &.cm-full-menu {
                    height: 150px;

                    &.cm-show-menu {
                        height: 350px;
                    }
                }

                &.cm-show-menu {
                    height: 360px;
                }
                
                #live-icon-list {
                    max-height: none;
                    height: 150px;

                    .info-toggle {
                        width: 100vw;
                        position: absolute;
                        left: 50%;
                        bottom: -1px;
                        transform: translateX(-50%);
                    }

                    #pb-channel-holder > div,
                    .live-channel-selector,
                    #live-select-box {
                        width: 100%;
                        height: 40px;
                        padding: 0;
                        text-align: center;
                        border: none;

                        & > * {
                            display: inline-table;
                            float: none;
                        }

                        & > button {
                            margin-top: 8px;
                        }
                    }

                    #live-select-box {
                      > select {
                        width: 60%;
                      }
                    }

                    #live-controller {
                        position: relative;
                        max-height: 50px;
                        width: 100%;
                        height: 100px;
                        display: inline-table;

                        li {
                            display: inline-table;
                            float: none;
                            line-height: 0;
                            position: relative;
                            top: 10px;
                        }
                    }

                    #live-alarm-volume {
                        width: auto;
                        position: relative;
                        transform: translateX(-50%);
                        left: 50%;

                        & > .cm-col {
                            margin: 0 10px;
                        }
                    }
                    
                    .cm-vline {
                        display: none;
                    }

                    .cm-col {
                        margin: 0;
                    }

                    .cm-list-2 {
                        transform: translateY(-50px);
                    }
                }


                #cm-menu-content {
                    #live-ptz #ptz-components {
                        #cm-live-ptz-control {
                            width: auto;
                            margin: 0 auto;
                        }
                    
                        #live-ptz-add-form,
                        #cm-ptz-tabs,
                        #cm-ptz-zoom {
                            width: 80%;
                            margin: 20px 0;
                        }

                        #live-ptz-zoom {
                            width: 80%;
                            margin: 20px 0;
                            padding: 0;
                        }
                    }

                    #live-setup {
                        .live-setup-col {
                            width: 80%;
                            min-width: 360px;
                            padding: 0;

                            &:nth-child(n+2) {
                                margin: 20px 0 10px 0;
                            }
                        }
                    }

                    .cm-profile-table,
                    #cm-display-slider {
                        min-width: 0;
                    }
                    
                    #live-status {
                        .live-status-col {
                            width: 80% !important;
                            min-width: 360px;
                            padding: 0;
                            position: relative;
                            overflow-x: scroll;

                            &:nth-child(n+2) {
                                margin: 20px 0;
                            }

                            #cm-status-first {
                                th, td {
                                    width: 1% !important;
                                }
                            }

                            #cm-status-second {
                                th, td {
                                    width: 1% !important;
                                }
                            }
                        }
                    }
                }

                #live-icon-list {
                    .cm-small-center {
                        width: auto;
                        margin: 0 auto;

                        .cm-col {
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }

                    .cm-list-2 {
                        transform: translateY(-50px);
                    }
                } 
            } 


            #ptz-components {
                position: relative;

                & > .cm-col {
                    width: 80%;
                    margin: 20px 0;
                    left: 50%;
                    position: relative;
                    transform: translateX(-50%);

                    &-live-ptz-control {
                        margin-top: 0px;
                    }
                }

                /* ptz controller with tables */
                & > div {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);

                    /* tables */
                    /*
                    &#cm-ptz-tables {
                        margin-top: 20px !important;
                    }
                    */
                }
            }
        }
    } 


    &.land-scape {
        #cm-video {
            width: calc(~"100% - 70px");
            height: calc(~"100% - 100px");
            float: left;
            margin-bottom: 0;
        }

        #cm-bottom-menu {
            height: 50px !important;

            #live-icon-list {
                width: 100%;
                height: 50px !important;
                border-top: 1px solid @theme-light-vline-dark;
                line-height: 50px;

                .cm-vline {
                    margin: 0 5px;
                    float: none;
                    display: inline-table;
                }

                #pb-channel-holder {
                    & > div {
                        padding: 0 20px;
                        height: 26px;
                        border: none;
                        border-right: 1px solid @theme-light-vline-dark;
                        margin-top: 12px;

                        & > * {
                            margin-top: 2px;
                        }
                    }
                }

                .info-toggle {
                    position: fixed;
                    top: -35vh;
                    left: 100%;
                    transform: translate(-100%, -50%);
                    width: 60px;
                    height: 150px;

                    li {
                        width: 61px;
                        float: left;
                        border: 1px solid @theme-light-tab-border;
                        
                        &:not(:first-child) {
                            border-top: none;
                        }

                        &.cm-active {
                            border-right: none;
                        }
                    }
                }

                #live-controller {
                    float: none;
                    display:inline;
                    margin: 0;

                    li {
                        line-height: 50px;
                        top: 0;
                        margin: 0 5px;
                        float:none;
                        display: inline-table;
                    }
                }

                #live-alarm-volume {
                    float: none;
                    display: inline;

                    #alarm {
                        margin: 0 10px;
                        float: none;
                        display: inline-table;
                    }

                    #volume-control {
                        margin: 0;
                        float: none;
                        display: inline-table;
                    }
                }
            }

            #cm-menu-content {
                position: fixed;
                width: 400px;
                height: 100%;
                top: 50px;
                left: 100%;
                height: calc(~"100% - 100px");
        
                .live-status-col,
                 #live-setup .live-setup-col {
                    width: 80%;
                    min-width: 360px;
                    margin: 10px 0;
                    position: relative;
                }

                #cm-live-ptz-control,
                #cm-ptz-zoom {
                    width: 80% !important;
                }
            }

            &.cm-show-menu {
                #cm-menu-content {
                    left: calc(~"100% - 400px");
                }

                #live-icon-list .info-toggle {
                    left: calc(~"100% - 401px");
                }
            }

            &.cm-full-menu {
                #cm-menu-content {
                    top:0;
                    height: calc(~"100% - 50px");
                    border-left: 1px solid @theme-dark-tab-border;
                }

                #live-icon-list .info-toggle {
                    top: calc(~"50% - 25px");
                }

                #live-icon-list {
                    border-top: 1px solid @theme-dark-tab-border;
                }
            }
        }


        #live-ptz #ptz-components {
            padding: 0;

            /* external digital only */
            & > .cm-col {
                border: 1px solid @theme-color-gray-25 !important;
                left: 50%;
                position: relative;
                transform: translateX(-50%);
            }

            /* ptz controller with tables */
            & > div {
                border: none !important;
                margin: 10px 0 !important;
                position: relative;
                left: 50%;
                transform: translateX(-50%);

                &-live-ptz-control {
                    width: auto !important;
                    margin: 0 auto !important;
                }

                #live-ptz-add-form,
                &#cm-ptz-tabs {
                    width: 80% !important;
                    margin: 20px 0 !important;
                }

                &#live-ptz-zoom {
                    width: 80% !important;
                    margin: 20px 0 !important;
                    padding: 0 !important;
                }
            }
        } 
    }
    

    @media(min-width:2300px) and (min-height:1294px) {
        #cm-bottom-menu {
            height: 75px;

            &.cm-full-menu {
                height: 75px;

                #cm-menu-content {
                    height: 275px;
                }
                
                &.cm-show-menu {
                    height: 350px;
                }
            }


            #live-icon-list {
                height: 75px;

                .cm-vline {
                    height: 39px;
                }

                .info-toggle {
                    li {
                        width: 93px;
                        height: 75px;

                        &:first-of-type {
                            width: 93px;
                        }

                        button {
                            height: 75px;
                            font-size: 40px;
                        }
                    }
                }

                #live-controller {
                    li {
                        margin: 0 15px;

                        .cm-icon-button-b {
                            font-size: 40px;
                            margin-top: 10px;
                        }
                    }
                }

                #live-alarm-volume {
                    .cm-col {
                        height: 75px;
                        margin: 0 30px;

                        .cm-icon-button-s {
                            font-size: 36px;
                            margin-top: 10px;
                        }

                        #cm-speaker-slider {
                            width: 150px;
                            margin-left: 22.5px;

                            .ui-widget {
                                &.ui-slider-horizontal {
                                    padding-top: 29px;

                                    .ui-state-default {
                                        width: 18px !important;
                                        height: 18px !important;
                                        top: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #cm-menu-content {
                height: 300px;

                & > * {
                    max-width: 1400px;
                }

                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                #live-setup {
                    .live-setup-col {
                        width: calc(~"60% - 10px");
                        margin-top: 20px;

                        #live-profile {
                            height: 40px;
                            font-size: 16px;
                            margin-top: -6px;
                        }

                        .live-plugin-quality{
                            display: inline-block;
                            margin-left: 10px;
                            font-size: 12px;
                            font-weight: normal;
                            vertical-align: top;
                            transform: translateY(-3px);
                        }
                    }

                    .live-setup-table {
                        font-size: 16px;
                        height: 180px;
                    }
                }

                #live-status {
                    font-size: 16px;

                    .live-status-table {
                        th, td {
                            padding: 10px 10px;
                        }

                        tbody {
                            height: 150px !important;
                            max-height: 150px !important;
                        }
                    }
                }

                #cm-display-slider {
                    li {
                        height: 25px;
                        line-height: 36px;
                        margin-top: 18px;

                        h3 {
                            font-size: 16px;
                        }

                        > span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }



    @media(min-width:3000px) and (min-height:1688px) {
        #cm-bottom-menu {
            height: 87.5px;

            &.cm-full-menu {
                height: 87.5px;
                
                &.cm-show-menu {
                    height: 435px;
                }
            }

            #cm-menu-content {
                height: 350px;

                & > * {
                    max-width: 1900px;
                }

                h2 {
                    font-size: 36px;
                    margin-bottom: 10px;
                }

                #live-setup {
                    .live-setup-col {
                        width: calc(~"60% - 10px");


                        #live-profile {
                            height: 60px;
                            font-size: 21px;
                            margin-top: -8px;
                            padding-right: 25px;
                        }
                    }

                    .live-setup-table {
                        font-size: 22px;
                        height: 240px;

                        th {
                            width: 26%;
                        }

                        td {
                            width: 74%;
                        }
                    }
                }

                #live-status {
                    font-size: 21px;

                    .live-status-table {
                        th, td {
                            padding: 15px 10px;
                        }

                        tbody {
                            height: 180px !important;
                            max-height: 180px !important;
                        }
                    }
                }
            }
            

            #live-icon-list {
                height: 87.5px;

                .cm-vline {
                    height: 56px;
                }

                .info-toggle {
                    li {
                        width: 103px;
                        height: 87.5px;

                        &:first-of-type {
                            width: 103px;
                        }

                        button {
                            height: 87.5px;
                            font-size: 50px;
                        }
                    }
                }

                #live-controller {
                    li {
                        margin: 0 22px;

                        .cm-icon-button-b {
                            font-size: 50px;
                            margin-top: 18px;
                        }
                    }
                }



                #live-alarm-volume {
                    #alarm {
                        margin: 0 30px;
                        padding-top: 18px;

                        .cm-icon-button-b {
                            font-size: 50px;
                            margin-top: 18px;
                        }

                        .cm-alarm-button {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .cm-col {
                        height: 75px;
                        margin: 0 30px;

                        .cm-icon-button-s {
                            font-size: 48px;
                            margin-top: 18px;
                        }

                        #cm-speaker-slider {
                            width: 175px;
                            margin-left: 22.5px;

                            .ui-widget {
                                &.ui-slider-horizontal {
                                    padding-top: 37px;

                                    .ui-state-default {
                                        width: 18px !important;
                                        height: 18px !important;
                                        top: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
