.kind-responsive-playback {
  /* After active click Event button */
  /*  after active click backup button  */
}
.kind-responsive-playback #playback-channel-holder {
  display: block;
  float: left;
}
.kind-responsive-playback #playback-channel-holder .playback-channel-selector {
  padding: 15px 18px 0 30px;
}
.kind-responsive-playback .cm-vline {
  margin-top: 12px;
}
.kind-responsive-playback .cm-button-today {
  margin: 10px 30px 0 0;
}
.kind-responsive-playback .info-toggle {
  bottom: -1px;
}
.kind-responsive-playback .cm-playback-block {
  position: relative;
  display: block;
  margin: 0 10px;
  float: left;
}
.kind-responsive-playback .cm-playback-block.cm-control-icon li {
  display: inline;
  margin: 0 10px;
}
.kind-responsive-playback .cm-playback-block.cm-event-section {
  text-align: left;
  margin-bottom: 20px;
}
.kind-responsive-playback .cm-playback-block.cm-datepicker-section {
  text-align: left;
  margin: 0 10px 15px 10px;
}
.kind-responsive-playback #cm-playback-event {
  z-index: 1;
}
.kind-responsive-playback #cm-playback-event > .cm-center {
  display: table-cell;
  width: auto;
  position: relative;
  left: calc(50vw - 20px);
  transform: translateX(-50%);
}
.kind-responsive-playback #cm-playback-event .cm-event-all-wrap {
  width: 100px;
  height: 25px;
  line-height: 25px;
  float: left;
}
.kind-responsive-playback #cm-playback-event .cm-event-list-wrap {
  width: 640px;
  float: left;
}
.kind-responsive-playback #cm-playback-event .cm-event-list-wrap > div {
  width: 160px;
  height: 25px;
  line-height: 25px;
  float: left;
}
.kind-responsive-playback #cm-playback-event .cm-event-list-wrap > div label {
  white-space: nowrap;
  font-weight: normal;
}
.kind-responsive-playback #cm-playback-event .cm-event-list-wrap > div label.available-check-event {
  font-weight: bold;
}
.kind-responsive-playback #cm-playback-backup {
  float: left;
}
.kind-responsive-playback #cm-playback-backup .cm-date-textbox {
  width: 120px;
  text-align: center;
}
.kind-responsive-playback .cm-playback-duplicate-items {
  text-align: center;
  margin-top: 20px;
  float: left;
  width: 100%;
}
.kind-responsive-playback .cm-playback-duplicate-items > div {
  display: inline-block;
  min-width: 125px;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  color: #a5a5a5;
  cursor: pointer;
}
.kind-responsive-playback .cm-playback-duplicate-items > div + div {
  margin-left: 10px;
}
.kind-responsive-playback .cm-playback-duplicate-items > div.active,
.kind-responsive-playback .cm-playback-duplicate-items > div.selected {
  color: #000;
}
.kind-responsive-playback .cm-playback-duplicate-items .event-type {
  font-weight: bold;
  font-size: 13px;
}
.kind-responsive-playback .cm-playback-duplicate-items .event-time {
  font-size: 11px;
}
.kind-responsive-playback #cm-icon-list .cm-playback-speed {
  height: 30px;
  margin-top: 10px;
}
.kind-responsive-playback #cm-date-control {
  float: left;
}
.kind-responsive-playback #cm-date-control [class*="cm-date-button"] {
  width: 22px;
  margin: 0;
  padding: 0;
}
.kind-responsive-playback #cm-date-control .cm-date-button-l {
  margin-right: -5px;
}
.kind-responsive-playback #cm-date-control .cm-date-button-r {
  margin-left: -5px;
}
.kind-responsive-playback #cm-date-control .cm-calendar-icon {
  font-size: 20px;
  transform: translateY(2px);
  margin-right: 3px;
}
.kind-responsive-playback #cm-playback-datepicker {
  margin-top: -5px;
}
.kind-responsive-playback #cm-playback-datepicker > .cm-row > .cm-center {
  display: table-cell;
  position: relative;
  left: calc(50vw - 20px);
  transform: translateX(-50%);
}
.kind-responsive-playback #cm-playback-datepicker h2 {
  line-height: 15px;
  font-size: 12px;
  margin: 5px 0;
}
.kind-responsive-playback #cm-playback-datepicker .cm-playback-all-day {
  display: block;
  font-size: 14px;
  color: #000;
  width: 100%;
  margin: 10px 0 30px 0px;
  clear: both;
}
.kind-responsive-playback #cm-playback-datepicker .cm-playback-all-day label {
  font-weight: normal;
  margin-top: 10px;
}
.kind-responsive-playback #cm-playback-datepicker .cm-playback-button-wrap {
  display: block;
  margin-top: 47px;
}
.kind-responsive-playback #cm-playback-datepicker .cm-datepicker tbody tr td.event:after {
  display: none;
}
.kind-responsive-playback #cm-playback-datepicker .cm-datepicker tbody tr td.event {
  color: #f37321;
}
.kind-responsive-playback #cm-playback-datepicker .start-time {
  margin-left: 0;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-menu-content {
  height: 200px;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu .cm-playback-duplicate-items > div {
  background-color: #262626;
  border: 1px solid #333;
  color: #797979;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu .cm-playback-duplicate-items > div.active,
.kind-responsive-playback #cm-bottom-menu.cm-full-menu .cm-playback-duplicate-items > div.selected {
  color: #fff;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-playback-datepicker .cm-playback-all-day label {
  color: white;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-playback-datepicker .ua-datepicker table {
  width: 100%;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-playback-datepicker .ua-datepicker table .btn.btn-default {
  background-color: #191919 !important;
  color: #fff !important;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-playback-datepicker .ua-datepicker table .btn.btn-default.active {
  background-color: #fff !important;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-playback-datepicker .ua-datepicker table .btn.btn-default.active span {
  color: #000;
}
.kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-playback-datepicker .ua-datepicker table tbody tr td.event span {
  color: #f37321 !important;
}
.kind-responsive-playback #backup {
  margin-left: 30px;
}
.kind-responsive-playback #volume-control {
  margin: 0 20px;
}
@media screen and (max-width: 1023px) {
  .kind-responsive-playback #cm-playback-event > .cm-center {
    width: 100%;
  }
  .kind-responsive-playback #cm-playback-event .cm-event-list-wrap {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 850px) {
  .kind-responsive-playback #cm-menu-content .cm-col {
    margin: 0 10px;
  }
}
@media screen and (max-width: 799px) {
  .kind-responsive-playback .cm-pc {
    display: none !important;
  }
  .kind-responsive-playback .cm-mobile {
    display: inherit !important;
  }
  .kind-responsive-playback #cm-bottom-menu {
    height: 100px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-show-menu {
    height: 300px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu .info-toggle {
    position: absolute;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list {
    height: auto;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-control-icon {
    margin: 0 10px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-control-icon.cm-list-2 li {
    margin: 0px 5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list #volume-control {
    float: left;
    margin: 0 10px;
    height: 50px;
    clear: both;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: -5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content .cm-col {
    margin: 0 2px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-playback-event > .cm-center {
    width: 100%;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-playback-backup {
    width: 100%;
    text-align: center;
    display: inline-table;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-playback-backup .cm-playback-block {
    margin: 0 5px !important;
    display: inline-table;
    float: none;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-playback-backup .cm-playback-block input {
    padding: 0 5px !important;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-playback-backup .cm-playback-block#backup-date {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-playback-backup .cm-playback-range {
    float: none;
    display: inline;
  }
}
@media screen and (max-width: 700px) {
  .kind-responsive-playback #cm-playback-datepicker {
    margin-top: -5px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-playback-block.cm-m0-5 {
    margin: 0 3px;
  }
  .kind-responsive-playback #cm-playback-datepicker > .cm-row > .cm-center > .cm-playback-block {
    margin: 0 auto;
    float: none;
  }
  .kind-responsive-playback #cm-playback-datepicker > .cm-row > .cm-center > .cm-playback-block:first-child {
    width: 100%;
    margin: 15px 0px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-playback-button-wrap {
    text-align: center;
    display: block;
    margin: 15px auto;
    clear: both;
    width: 100%;
  }
  .kind-responsive-playback #cm-playback-datepicker h2 {
    text-align: center;
  }
  .kind-responsive-playback #cm-playback-datepicker .ua-datepicker table {
    width: 80%;
  }
  .kind-responsive-playback #cm-playback-datepicker .start-time,
  .kind-responsive-playback #cm-playback-datepicker .end-time {
    margin: 0;
  }
  .kind-responsive-playback #cm-playback-datepicker .start-time {
    margin-left: 5%;
  }
  .kind-responsive-playback .cm-playback-all-day label {
    margin-left: 5%;
  }
  .kind-responsive-playback .cm-cancel-button {
    width: 100px;
    font-size: 14px;
  }
}
@media screen and (max-width: 530px) {
  .kind-responsive-playback #cm-playback-event .cm-event-list-wrap > div {
    width: 50%;
  }
}
.kind-responsive-playback.land-scape {
  width: auto !important;
}
.kind-responsive-playback.land-scape .cm-center {
  width: auto;
}
.kind-responsive-playback.land-scape #cm-video {
  width: calc(100% - 70px);
  height: calc(100% - 100px);
  float: left;
  margin-bottom: 0;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list {
  width: 100%;
  height: 50px !important;
  border-top: 1px solid #ccc;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list .info-toggle {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  width: 60px;
  height: 50px;
  margin-left: 0px !important;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list .info-toggle .tui {
  transform: rotate(-90deg);
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list .info-toggle li {
  width: 61px;
  float: left;
  border: 1px solid #e9e9e9;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list .info-toggle li:not(:first-child) {
  border-top: none;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list .info-toggle li.cm-active {
  border-right: 1px solid rgba(0, 0, 0, 0);
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list .cm-vline.cm-pc {
  display: inherit !important;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-icon-list #volume-control {
  margin-top: 0;
  margin-left: 20px;
  clear: none;
  transform: none;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content {
  position: fixed;
  width: 400px;
  top: 50px;
  left: 100%;
  height: calc(100% - 100px);
  border-top: none;
  border-left: 1px solid #e9e9e9;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content .cm-pc {
  display: none;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content .cm-col {
  margin: 0 2px;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-event .cm-center {
  left: 50%;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker > .cm-row > .cm-center {
  left: 50%;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker > .cm-row > .cm-center > .cm-playback-block {
  margin: 0 auto;
  float: none;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker > .cm-row > .cm-center > .cm-playback-block:first-child {
  width: 100%;
  margin: 15px 0px;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker .cm-playback-button-wrap {
  text-align: center;
  display: block;
  margin: 15px auto;
  clear: both;
  width: 100%;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker h2 {
  text-align: center;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker .ua-datepicker table {
  width: 80%;
}
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker .start-time,
.kind-responsive-playback.land-scape #cm-bottom-menu #cm-menu-content #cm-playback-datepicker .end-time {
  margin: 0;
}
.kind-responsive-playback.land-scape #cm-bottom-menu.cm-show-menu #cm-menu-content {
  left: calc(100% - 400px);
}
.kind-responsive-playback.land-scape #cm-bottom-menu.cm-show-menu #cm-icon-list .info-toggle {
  left: calc(100% - 400px);
}
@media (min-width: 2300px) and (min-height: 1294px) {
  .kind-responsive-playback {
    /* Main UI Style */
    /* .cm-channel-selector .channel-selector li > button */
    /* Event-content UI style */
    /* Date-content UI style  */
  }
  .kind-responsive-playback #cm-video {
    height: calc(100% - 460px) !important;
  }
  .kind-responsive-playback #cm-video.smaller {
    height: calc(100% - 160px) !important;
  }
  .kind-responsive-playback #playback-channel-holder {
    display: block;
    float: left;
  }
  .kind-responsive-playback #playback-channel-holder .playback-channel-selector {
    padding: 20px 18px 0 25px;
  }
  .kind-responsive-playback #playback-channel-holder .playback-channel-selector .channel-selector li > button {
    width: 45px;
    height: 35px;
    padding-left: 15px;
    font-size: 19px;
  }
  .kind-responsive-playback #playback-channel-holder .playback-channel-selector .channel-selector li:first-child .channel-selector-title {
    font-size: 19px;
    line-height: 30px;
  }
  .kind-responsive-playback #playback-channel-holder .playback-channel-selector .channel-selector li:first-child ~ li {
    margin-right: 8px;
  }
  .kind-responsive-playback #cm-bottom-menu {
    height: 75px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-show-menu {
    height: 450px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu {
    height: 75px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu.cm-show-menu {
    height: 375px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-menu-content {
    height: 300px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-menu-content h2 span {
    font-size: 21px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list {
    height: 75px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .info-toggle {
    height: 75px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .info-toggle li {
    height: 75px;
    width: 93px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .info-toggle li button {
    margin-top: 10px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-playback-block {
    margin: 0 15px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-playback-block li {
    margin: 0 15px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-icon-button-b {
    font-size: 40px;
    margin-top: 10px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-vline {
    height: 39px;
    margin-top: 18px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-playback-speed {
    height: 45px;
    margin-top: 15px;
    width: 72px;
    font-size: 20px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list #volume-control {
    margin: 0 30px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list #volume-control .cm-icon-button-s {
    font-size: 36px;
    margin-top: 10px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list [id$="slider"] {
    width: 150px;
    margin-left: 22.5px;
    margin-top: 15.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #timeline-setting {
    height: 75px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content {
    height: 300px;
    padding: 28.5px 0 22.5px 0;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content .cm-col {
    margin: 0 30px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-date-control .cm-col {
    margin: 0 30px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-date-control .cm-timeboxes {
    line-height: 51px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-date-control .cm-timeboxes input {
    width: 67.5px;
    height: 51px;
    font-size: 20px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #backup {
    margin-left: 45px;
  }
  .kind-responsive-playback .cm-str-button {
    height: 51px;
    line-height: 51px;
    padding: 0 15px;
    font-size: 17px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-center .vis-content .vis-itemset .vis-foreground .vis-item .vis-item-overflow {
    height: 30px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-center .vis-content .vis-itemset .vis-foreground .vis-item.vis-range.vis-readonly {
    top: 2px !important;
    height: 50px !important;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-center .vis-content .vis-itemset .vis-foreground .vis-item.vis-range.vis-readonly.vis-item-normal .vis-item-overflow {
    height: 23px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-background.vis-vertical .vis-time-axis {
    top: 15px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-top .vis-time-axis.vis-foreground .vis-text.vis-minor {
    font-size: 17px;
  }
  .kind-responsive-playback .vis-custom-time div {
    width: 36px !important;
    height: 36px !important;
    margin-top: 38px;
  }
  .kind-responsive-playback .vis-custom-time div:after {
    left: 13px;
    top: 10px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid #797979;
  }
  .kind-responsive-playback .cm-playback-duplicate-items > div {
    padding: 15px 15px;
    margin-top: 20px;
  }
  .kind-responsive-playback .cm-playback-duplicate-items .event-type {
    font-size: 17px;
  }
  .kind-responsive-playback .cm-playback-duplicate-items .event-time {
    font-size: 15px;
  }
  .kind-responsive-playback #cm-menu-content h2 {
    font-size: 24px !important;
    margin-bottom: 16px !important;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-all-wrap {
    width: 130px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-all-wrap label {
    font-size: 17px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-list-wrap {
    width: 960px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-list-wrap .cm-checkbox-wrap {
    width: 240px;
    height: 30px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-list-wrap .cm-checkbox-wrap label {
    font-size: 17px;
  }
  .kind-responsive-playback #cm-menu-content .overlap-search-container label {
    font-size: 17px;
  }
  .kind-responsive-playback #cm-menu-content .cm-timeboxes input {
    width: 52px;
    height: 42px;
  }
  .kind-responsive-playback .cm-submit-button {
    width: 150px;
    height: 51px;
    font-size: 20px;
  }
  .kind-responsive-playback .cm-cancel-button {
    width: 150px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center {
    width: 830px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child {
    width: 35%;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child table {
    width: 80% !important;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child table th {
    font-size: 14px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child table .btn.btn-default {
    font-size: 14px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:last-child {
    width: 55%;
    margin: 15px 0px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:last-child .cm-playback-all-day {
    font-size: 16px;
  }
}
@media (min-width: 3000px) and (min-height: 1688px) {
  .kind-responsive-playback #cm-video {
    height: calc(100% - 525px) !important;
  }
  .kind-responsive-playback #cm-video.smaller {
    height: calc(100% - 190px) !important;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-show-menu {
    height: 525px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu {
    height: 87.5px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu.cm-show-menu {
    height: 440px;
  }
  .kind-responsive-playback #cm-bottom-menu.cm-full-menu #cm-menu-content {
    height: 360px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list {
    height: 87.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .info-toggle {
    height: 87.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .info-toggle li {
    height: 87.5px;
    width: 108.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .info-toggle li button {
    margin-top: 12px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-playback-block {
    margin: 0 17.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-playback-block li {
    margin: 0 17.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-icon-button-b {
    font-size: 47px;
    margin-top: 13px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-vline {
    height: 45.5px;
    margin-top: 21px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list .cm-playback-speed {
    height: 52.5px;
    margin-top: 17.5px;
    width: 84px;
    font-size: 23.3px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list #volume-control {
    margin: 0 35px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list #volume-control .cm-icon-button-s {
    font-size: 42px;
    margin-top: 13px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-icon-list [id$="slider"] {
    width: 175px;
    margin-left: 26.25px;
    margin-top: 18px;
  }
  .kind-responsive-playback #cm-bottom-menu #timeline-setting {
    height: 75px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content {
    height: 350px;
    padding: 33.25px 0 26.25px 0;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content .cm-col {
    margin: 0 35px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-date-control .cm-col {
    margin: 0 35px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-date-control .cm-timeboxes {
    line-height: 59.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #cm-date-control .cm-timeboxes input {
    width: 78.75px;
    height: 59.5px;
  }
  .kind-responsive-playback #cm-bottom-menu #cm-menu-content #backup {
    margin-left: 52.5px;
  }
  .kind-responsive-playback .cm-str-button {
    height: 59.5px;
    line-height: 59.5px;
    padding: 0 17.5px;
    font-size: 21px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-center .vis-content .vis-itemset .vis-foreground .vis-item .vis-item-overflow {
    height: 35px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-center .vis-content .vis-itemset .vis-foreground .vis-item.vis-range.vis-readonly {
    top: 2px !important;
    height: 60px !important;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-center .vis-content .vis-itemset .vis-foreground .vis-item.vis-range.vis-readonly.vis-item-normal .vis-item-overflow {
    height: 28px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-background.vis-vertical .vis-time-axis {
    top: 20px;
  }
  .kind-responsive-playback .vis-timeline.vis-bottom .vis-panel.vis-top .vis-time-axis.vis-foreground .vis-text.vis-minor {
    font-size: 25px;
  }
  .kind-responsive-playback .vis-custom-time div {
    width: 40px !important;
    height: 40px !important;
    margin-top: 42px;
  }
  .kind-responsive-playback .vis-custom-time div:after {
    left: 14px;
    top: 11px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #797979;
  }
  .kind-responsive-playback .cm-playback-duplicate-items > div {
    padding: 15px 15px;
    margin-top: 20px;
  }
  .kind-responsive-playback .cm-playback-duplicate-items .event-type {
    font-size: 21px;
  }
  .kind-responsive-playback .cm-playback-duplicate-items .event-time {
    font-size: 18px;
  }
  .kind-responsive-playback #cm-menu-content h2 {
    font-size: 30px !important;
    margin-bottom: 22px !important;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-all-wrap {
    width: 170px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-all-wrap label {
    font-size: 21px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-list-wrap {
    width: 1240px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-list-wrap .cm-checkbox-wrap {
    width: 310px;
    height: 40px;
  }
  .kind-responsive-playback #cm-menu-content .cm-event-list-wrap .cm-checkbox-wrap label {
    font-size: 21px;
  }
  .kind-responsive-playback #cm-menu-content .overlap-search-container label {
    font-size: 21px;
  }
  .kind-responsive-playback #cm-menu-content .cm-timeboxes input {
    width: 67px;
    height: 50px;
    font-size: 19px;
  }
  .kind-responsive-playback .cm-submit-button {
    width: 175px;
    height: 59.5px;
    font-size: 20px;
  }
  .kind-responsive-playback .cm-cancel-button {
    width: 175px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center {
    width: 1140px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child {
    width: 35%;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child table {
    width: 80% !important;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child table th {
    font-size: 18px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:first-child table .btn.btn-default {
    font-size: 18px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:last-child {
    width: 55%;
    margin: 15px 0px;
  }
  .kind-responsive-playback #cm-playback-datepicker .cm-center .cm-datepicker-section:last-child .cm-playback-all-day {
    font-size: 21px;
  }
}
